---
layout: default_info
title: 7406-1118010 Турбокомпрессор КамАЗ Евро-2 ТКР 7С-6 правый- ЗапКам.ру
description: Продаем Турбокомпрессор КамАЗ Евро-2 ТКР 7С-6 правый, каталожный номер - 7406-1118010, на двигатели 740.11-240, 740.30-260, 740.31-240, 740.50, 740.51, 740.60-360, 740.61-320, 740.62-280, 740.63-400, 43261. Новые оригинал, аналоги, бу, капремонт. Цена, доставка, описание, вес, размеры.
keywords: Турбокомпрессор КамАЗ Евро-2 ТКР 7С-6 правый 7406-1118010 новый      Турбокомпрессоры  -  Двигатель КамАЗ Евро Евро-1 Евро-2 Евро-3 Евро-4 Коленвал Коленчатый вал Блок цилиндров шатун шейка поршня кольца Bosch ЯЗДА ЦПГ ЯМЗ SANZ насос турбокомпрессор распредвал
hero-title: Запчасти на ДВИГАТЕЛИ КамАЗ
h1: Турбокомпрессор КамАЗ Евро-2 ТКР 7С-6 правый 7406-1118010
h2:
phone: 
phone_title: 
categories: [<a href='/dvigatel_zapchasti/category/turbokompressory-kamaz.html'>Турбокомпрессоры</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.dvig_zap | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
    <h3>Описание</h3>
    <p>
      Турбокомпрессоры ТКР 7С-6 и ТКР 7С-9 отличаются между собой только корпусами турбин - они имеют различную пропускную способность.
    </p>
    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
