---
layout: default_info
title: ТКР 7С-6М - Турбокомпрессор КамАЗ Евро-4 левый/правый - 740.60-1118013,-1118012
description: Продаем компрессор турбонаддува (турбину, турбик) КамАЗ Евро-4 ТКР 7С-6М левый/правый, каталожный номер - 740.60-1118013 . Новые оригинал, аналоги, бу, капремонт. Цена, доставка, описание, вес, размеры.
keywords: Турбокомпрессор КамАЗ Евро-4 ТКР 7С-6М левый 740.60-1118013 новый      Турбокомпрессоры  -  Двигатель КамАЗ Евро Евро-1 Евро-2 Евро-3 Евро-4 Коленвал Коленчатый вал Блок цилиндров шатун шейка поршня кольца Bosch ЯЗДА ЦПГ ЯМЗ SANZ насос турбокомпрессор распредвал
hero-title: Запчасти на ДВИГАТЕЛИ КамАЗ
h1: ТКР 7С-6М - Турбокомпрессор КамАЗ Евро-4 левый
h2: 740.60-1118012, 740.60-1118013
phone: 
phone_title: 
categories: [<a href='/dvigatel_zapchasti/category/turbokompressory-kamaz.html'>Турбокомпрессоры</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.dvig_zap | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
    <!-- <h3>Описание</h3> -->
    <p>

    </p>
    
    
    <strong>Допустимые параметры турбокомпрессоров при эксплуатации</strong>
    <table class="table table-responsive-sm table-hover" style="width: auto;">
      <tbody>
        <tr>
          <td>
            <p>Наименование</p>
          </td>
          <td>
            <p>Величина</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Температура газов на входе в турбину, К (&deg;С):</p>
            <p>- допускаемая в течение одного часа;</p>
            <p>- допускаемая без ограничения во времени</p>
          </td>
          <td>
            <p>&nbsp;</p>
            <p>1023 (750)</p>
            <p>973 (700)</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Давление масла на входе в турбокомпрессор, при температуре масла 80...95 &deg;С, кПа (кгс/см<sup>2</sup>):
            </p>
            <p>-при номинальной частоте вращения коленчатого вала</p>
            <p>-при минимальной частоте вращения коленчатого вала на режиме холостого хода, не менее</p>
          </td>
          <td>
            <p>&nbsp;</p>
            <p>294...441 (3,0...4,5)</p>
            <p>98(1,0)</p>
          </td>
        </tr>
      </tbody>
    </table>
    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
