---
layout: default_info
title: К-27-115-01(02) - Турбокомпрессор КамАЗ Евро-1 (Чехия) левый/правый
description: Продаем компрессор турбонаддува (турбину, турбик) КамАЗ Евро-1 (Чехия), каталожный номер - К-27-115-01/02 . Новые оригинал, аналоги, бу, капремонт. Цена, доставка, описание, вес, размеры.
keywords: Турбокомпрессор КамАЗ Евро-1 (Чехия) К-27-115-01/02 новый      Турбокомпрессоры  -  Двигатель КамАЗ Евро Евро-1 Евро-2 Евро-3 Евро-4 Коленвал Коленчатый вал Блок цилиндров шатун шейка поршня кольца Bosch ЯЗДА ЦПГ ЯМЗ SANZ насос турбокомпрессор распредвал
hero-title: Запчасти на ДВИГАТЕЛИ КамАЗ
h1: Турбокомпрессор КамАЗ Евро-1 (Чехия)
h2: К-27-115-01/02
phone: 
phone_title: 
categories: [<a href='/dvigatel_zapchasti/category/turbokompressory-kamaz.html'>Турбокомпрессоры</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.dvig_zap | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
    <h3>Описание</h3>
    <p>
      Турбокомпрессоры К27-115 правый и левый (обозначение правого турбокомпрессора 399 0023 115-01, левого - 399 0023 115-02) не имеют конструктивных отличий, отличаются только разворотом корпусов турбины и компрессора.
    </p>
    <p>
      К27-115 имеет конструкцию, аналогичную ТКР 7С-9, и по установочным и присоединительным размерам он унифицирован с ТКР 7С-9.
    </p>
    <p>
      Корпус турбины и корпус компрессора крепятся к корпусу подшипников при помощи болтов и планок. Такая конструкция позволяет устанавливать корпусы под любым углом друг к другу, что в свою очередь обеспечивает взаимозаменяемость левого и правого турбокомпрессоров.
    </p>

  <strong>Допустимые параметры турбокомпрессоров при эксплуатации</strong>
    <table class="table table-responsive-sm table-hover" style="width: auto;">
      <tbody>
      <tr>
      <td>
      <p>Наименование</p>
      </td>
      <td>
      <p>Величина</p>
      </td>
      </tr>
      <tr>
      <td>
      <p>Температура газов на входе в турбину, К (&deg;С):</p>
      <p>- допускаемая в течение одного часа;</p>
      <p>- допускаемая без ограничения во времени</p>
      </td>
      <td>
      <p>&nbsp;</p>
      <p>1023 (750)</p>
      <p>973 (700)</p>
      </td>
      </tr>
      <tr>
      <td>
      <p>Давление масла на входе в турбокомпрессор, при температуре масла 80...95 &deg;С, кПа (кгс/см<sup>2</sup>):</p>
      <p>-при номинальной частоте вращения коленчатого вала</p>
      <p>-при минимальной частоте вращения коленчатого вала на режиме холостого хода, не менее</p>
      </td>
      <td>
      <p>&nbsp;</p>
      <p>294...441 (3,0...4,5)</p>
      <p>98(1,0)</p>
      </td>
      </tr>
      </tbody>
      </table>
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
