---
layout: default_info
title: 6ISBe-4043980 Турбокомпрессор Евро-3 HE 351 W (двиг. Cummins 6 ISBe)(4043982 / 4956030 / 4955908 / 2835140 / 4043980)- ЗапКам.ру
description: Продаем Турбокомпрессор Евро-3 HE 351 W (двиг. Cummins 6 ISBe), каталожный номер - 6ISBe-4043980 4043982 / 4956030 / 4955908 / 2835140 / 4043980, на двигатели Cummins 4ISBe, 6ISBe, 6ISDe, на технику КАМАЗ 4308, 43255, 65115, 65116, 65117. Новые оригинал, аналоги, бу, капремонт. Цена, доставка, описание, вес, размеры.
keywords: Турбокомпрессор Евро-3 HE 351 W (двиг. Cummins 6 ISBe) 6ISBe-4043980 Holset, Германия     4043982 / 4956030 / 4955908 / 2835140 / 4043980 Турбокомпрессоры  - КАМАЗ 4308, 43255, 65115, 65116, 65117 Двигатель КамАЗ Евро Евро-1 Евро-2 Евро-3 Евро-4 Коленвал Коленчатый вал Блок цилиндров шатун шейка поршня кольца Bosch ЯЗДА ЦПГ ЯМЗ SANZ насос турбокомпрессор распредвал
hero-title: Запчасти на ДВИГАТЕЛИ КамАЗ
h1: Турбокомпрессор Евро-3 HE 351 W (двиг. Cummins 6 ISBe) 6ISBe-4043980
h2:
phone: 
phone_title: 
categories: [<a href='/dvigatel_zapchasti/category/turbokompressory-kamaz.html'>Турбокомпрессоры</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.dvig_zap | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
    <!-- <h3>Описание</h3> -->
    <p>

    </p>
    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
