---
layout: default_info
title: 4ISBe-4043978 Турбокомпрессор Евро-3 HE 221 W (двиг. Cummins 4 ISBe)(4043978 / 2835143 / 4956031 / 4033347)- ЗапКам.ру
description: Продаем Турбокомпрессор Евро-3 HE 221 W (двиг. Cummins 4 ISBe), каталожный номер - 4ISBe-4043978 4043978 / 2835143 / 4956031 / 4033347, на двигатели Cummins, стандарта Евро-3 и 4, ISDe4, мощностью 185 л.с., на технику КАМАЗ, ПАЗ, КАВЗ, Yutong ZK6852HG. Новые оригинал, аналоги, бу, капремонт. Цена, доставка, описание, вес, размеры.
keywords: Турбокомпрессор Евро-3 HE 221 W (двиг. Cummins 4 ISBe) 4ISBe-4043978      4043978 / 2835143 / 4956031 / 4033347 Турбокомпрессоры  - КАМАЗ, ПАЗ, КАВЗ, Yutong ZK6852HG Двигатель КамАЗ Евро Евро-1 Евро-2 Евро-3 Евро-4 Коленвал Коленчатый вал Блок цилиндров шатун шейка поршня кольца Bosch ЯЗДА ЦПГ ЯМЗ SANZ насос турбокомпрессор распредвал
hero-title: Запчасти на ДВИГАТЕЛИ КамАЗ
h1: Турбокомпрессор Евро-3 HE 221 W (двиг. Cummins 4 ISBe) 4ISBe-4043978
h2:
phone: 
phone_title: 
categories: [<a href='/dvigatel_zapchasti/category/turbokompressory-kamaz.html'>Турбокомпрессоры</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.dvig_zap | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
    <!-- <h3>Описание</h3> -->
    <p>

    </p>
    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
