---
layout: default_info
title: К-27-145-01/02 Турбокомпрессор КамАЗ Евро-2 (Чехия)- ЗапКам.ру
description: Продаем Турбокомпрессор КамАЗ Евро-2 (Чехия), каталожный номер - К-27-145-01/02, на двигатели 740.11-240, 740.30-260, 740.31-240, 740.50, 740.51, 740.60-360, 740.61-320, 740.62-280, 740.63-400, 43261. В наличии новые оригинал, качественные аналоги, бу восстановленные, капремонт. Доставим бесплатно до транспортной компании. Цены на модификации, описание, характеристики, вес, размер, габариты.
keywords: Турбокомпрессор КамАЗ Евро-2 (Чехия) К-27-145-01/02 новый      Турбокомпрессоры  -  Двигатель КамАЗ Евро Евро-1 Евро-2 Евро-3 Евро-4 Коленвал Коленчатый вал Блок цилиндров шатун шейка поршня кольца Bosch ЯЗДА ЦПГ ЯМЗ SANZ насос турбокомпрессор распредвал
hero-title: Запчасти на ДВИГАТЕЛИ КамАЗ
h1: Турбокомпрессор КамАЗ Евро-2 (Чехия) К-27-145-01/02
h2:
phone: 
phone_title: 
---

<!-- Товар ---->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.dvig_zap | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
    <!-- <h3>Описание</h3> -->
    <p> 

    </p>
    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
