---
layout: default_main
title: Запчасти на двигатели КамАЗ - блоки, коленвалы, ЦПГ, кольца, ТНВД - ЗапКам.ру
description: Полный набор запчастей для двигателей КамАЗ 740 и Cummins. В наличии новые оригинал, качественные аналоги, бу восстановленные, капремонт. Бесплатная доставка до транспортной компании. Цены, описание, характеристики, вес, размер, габариты. 
keywords: Двигатель КамАЗ Евро Евро-1 Евро-2 Евро-3 Евро-4 Коленвал Коленчатый вал Блок цилиндров шатун шейка поршня кольца Bosch ЯЗДА ЦПГ ЯМЗ SANZ насос турбокомпрессор распредвал
phone:
phone_title:
---

<!-- +Header  -->
<header id="header-wrap">
  <div class="head">
    <div class="head__inner">
      <!-- +Navbar  -->
      <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar">
        <div class="container">
          <a href="/" class="navbar-brand" style="display: contents;"> <img src="/assets/img/logo2.png" alt=""> </a> 
        
              {% include top-submenu.html %} 
          
        </div>
      </nav>
      <!-- Navbar End -->

      <!-- Hero Area Start -->
      <div id="hero-area" class="bg-blue">
        <div class="container">
          <div class="row hero-area-bg hero-area-bg-dvig-zap" >
            <div class="col-md-8 col-xs-12">
              <div class="contents">
                <ul>
                  <li style="margin-bottom:0px;">
                    <h1 class="title text-left w-100">Запчасти к двигателям КамАЗ</h1>
                  </li>
                  <li style="margin-top:0px;">
                    <h2 class="title w-100"> Всё для ремонта мотора. Комплектуем заявки </h2>
                  </li>
      
       
                  <li class="text-right"> &nbsp;
                    <button class="btn btn-primary" style="float: right;" data-toggle="modal" data-target="#requestModal"
                      onclick="ym(57702985, 'reachGoal', 'RequestBill'); return true;">
                      Запросить предложение</button> </li>
                  <li><i class="lni-chevron-down"></i>&nbsp;&nbsp;&nbsp;Полноценная гарантия</li>
                  <li><i class="lni-chevron-down"></i>&nbsp;&nbsp;&nbsp;Большой опыт на рынке запчастей </li>
      
                  <li>&nbsp;</li>
      
                  <li id="hero-menu">
                    <p class="title text-left w-100">
                      <a href="/dvigatel_zapchasti/catalog/index.html"> Всё для ремонта</a>
                      &nbsp; • &nbsp; <a href="/dvigatel_zapchasti/category/bloki-cilindrov-kamaz.html"> Блоки </a>
                      &nbsp; • &nbsp; <a href="/dvigatel_zapchasti/category/valy-kolenchatye-kamaz.html"> Коленвалы </a>
                      &nbsp; • &nbsp; <a href="/dvigatel_zapchasti/category/tnvd-toplivnaya-apparatura-kamaz.html"> Топливная аппаратура </a>
                      &nbsp; • &nbsp; <a href="/dvigatel_zapchasti/category/turbokompressory-kamaz.html"> Турбокомпрессоры </a>
                    </p>
                  </li>
      
                </ul>
      
      
              </div>
            </div>
            <div class="col-md-4 col-xs-12 text-center">
      
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Hero Area End --> 
</header>
<!-- -Header -->


<style>
  .articles li {
    font-size: 0.9rem;
  }
</style>

<!-- Каталог направлений -->
<section id="catalogCategory" class="section-padding articles mb-0 pb-1" style="padding-top: 20px; ">
  <div class="container">

    <div class="row">      
        <!-- Модель камаза  -->
        <div class="col-md-3 p-0" style="padding-top: 15px;">
          <img src="/dvigatel_zapchasti/img/category/dvigatel_740.10.jpg" style="padding-top: 0px;">

        </div>

        <div class="col-md-9 bg-lightblue">
          <p>
            <b>Двигатель КамАЗ серии 740</b> - один из лучших моторов отечественного производства. 
            <br>8-цилиндровый, V-образный, дизельный, с рабочим объем в 10,85-11,76 литров, с мощностью 210 - 440 л.с. 
            Основные модификации:
          </p>
          <p>
            <b>Евро-0</b>: 740.10-210, 74009.10-210 Урал, 7403.10-260 Турбо;
            <br> <b>Евро-1</b>: 740.11-240, 740.13-260; 
            <br> <b>Евро-2</b>: 740.30-260, 740.31-240, 740.50-360, 740.51-320; 
            <br> <b>Евро-3</b>: 740.60-360, 740.61-320, 740.62-280, 740.63-400, 740.64-420, 740.65-240; 
            <br> <b>Евро-4</b>: 740.70-280, 740.71-320, 740.72-360, 740.73-400, 740.74-420, 740.75-440.
          </p>
          
        </div>
    </div> 



   <a href="/dvigatel_zapchasti/catalog/index.html">
    <h2 class="w-100 text-center">Запчасти для двигателей КамАЗ 740</h2>
  </a>
  
    <div class="card-columns">


    <!--  Группа  -->
    <div class="card"> <!-- col-md-6 col-lg-4 col-xs-12 "> -->
      <div class="card-header media">
        <img class="card-icon1" src="/dvigatel_zapchasti/img/category/kolenvaly.jpg" alt="Валы коленчатые ">
        <a href="/dvigatel_zapchasti/category/valy-kolenchatye-kamaz.html">
          <h4> Валы коленчатые</h4>
        </a>      
            </div> 
          <ul class="card-body card-line-limit">
            <li>• <a href='/dvigatel_zapchasti/category/valy-kolenchatye_bu_remont-kamaz.html'>Коленвалы ремонтные </a></li>
            <li>• <a href='/dvigatel_zapchasti/category/valy-kolenchatye-kamaz.html'>Коленвалы завод </a></li>
            {% for product in site.data.dvig_zap %}
            {%- if product.cat == "Валы коленчатые" -%}
              {%- if product.cat2 == "Завод" -%}
                <li>• <a href='{{product.path}}{{product.url}}.html'>{{product.name}}</a></li>
              {%- endif -%}
            {%- endif -%}
            {% endfor %}
        </ul>
    </div>


       
    <!--  Группа  -->
    <div class="card"> <!-- col-md-6 col-lg-4 col-xs-12 "> -->
      <div class="card-header media">
        <img class="card-icon1" src="/dvigatel_zapchasti/img/category/bloki.jpg" alt="Блоки цилиндров">
        <a href="/dvigatel_zapchasti/category/bloki-cilindrov-kamaz.html">
          <h4> Блоки цилиндров </h4>
        </a>      
            </div> 
          <ul class="card-body card-line-limit">
            {% for product in site.data.dvig_zap %}
            {%- if product.cat == "Блоки цилиндров" -%}
              <li>• <a href='{{product.path}}{{product.url}}.html'>{{product.name}}</a></li>
            {%- endif -%}
            {% endfor %}
        </ul>
    </div>




       
    <!--  Группа  -->
    <div class="card"> <!-- col-md-6 col-lg-4 col-xs-12 "> -->
      <div class="card-header media">
        <img class="card-icon1" src="/dvigatel_zapchasti/img/category/sborochnie_okmplekt.jpg" alt="Сборочные комплекты">
        <a href="/dvigatel_zapchasti/category/sborochnye-komplekty-kamaz.html">
          <h4> Сборочные комплекты </h4>
        </a>      
            </div> 
          <ul class="card-body card-line-limit">
            {% for product in site.data.dvig_zap %}
            {%- if product.cat == "Сборочный комплект" -%}
              <li>• <a href='{{product.path}}{{product.url}}.html'>{{product.name}}</a></li>
            {%- endif -%}
            {% endfor %}
        </ul>
    </div> 



     <!--  Группа  -->
     <div class="card"> <!-- col-md-6 col-lg-4 col-xs-12 "> -->
      <div class="card-header media">
        <img class="card-icon1" src="/dvigatel_zapchasti/img/category/golovka_bloka.jpg" alt="Головки блока">
        <a href="/dvigatel_zapchasti/category/golovki-bloka-kamaz.html">
          <h4>Головки блока </h4>
        </a>      
            </div> 
          <ul class="card-body card-line-limit">
            {% for product in site.data.dvig_zap %}
            {%- if product.cat == "Головки блока" -%}
              <li>• <a href='{{product.path}}{{product.url}}.html'>{{product.name}}</a></li>
            {%- endif -%}
            {% endfor %}
        </ul>
    </div>


    
     <!--  Группа  -->
     <div class="card"> <!-- col-md-6 col-lg-4 col-xs-12 "> -->
      <div class="card-header media">
        <img class="card-icon1" src="/dvigatel_zapchasti/img/category/turbik.jpg" alt="Турбокомпрессоры">
        <a href="/dvigatel_zapchasti/category/turbokompressory-kamaz.html">
          <h4>Турбокомпрессоры</h4>
        </a>      
            </div> 
          <ul class="card-body card-line-limit">
            {% for product in site.data.dvig_zap %}
            {%- if product.cat == "Турбокомпрессоры" -%}
              <li>• <a href='{{product.path}}{{product.url}}.html'>{{product.name}}</a></li>
            {%- endif -%}
            {% endfor %}
        </ul>
    </div>


    
     <!--  Группа  -->
     <div class="card"> <!-- col-md-6 col-lg-4 col-xs-12 "> -->
      <div class="card-header media">
        <img class="card-icon1" src="/dvigatel_zapchasti/img/category/tnvd.jpg" alt="топливная аппаратура">
        <a href="/dvigatel_zapchasti/category/tnvd-toplivnaya-apparatura-kamaz.html">
          <h4>ТНВД - топливная аппаратура</h4>
        </a>      
            </div> 
          <ul class="card-body card-line-limit">
            {% for product in site.data.dvig_zap %}
            {%- if product.cat == "ТНВД" -%}
              <li>• <a href='{{product.path}}{{product.url}}.html'>{{product.name}}</a></li>
            {%- endif -%}
            {% endfor %}
        </ul>
    </div>


        <!--  Группа  -->
        <div class="card"> <!-- col-md-6 col-lg-4 col-xs-12 "> -->
          <div class="card-header media">
            <img class="card-icon1" src="/dvigatel_zapchasti/img/category/shatun.jpg" alt="Прочие запчасти двигателя">
            <a href="/dvigatel_zapchasti/category/prochie-zapchasti-dvigatelya-kamaz.html">
              <h4>Прочие запчасти двигателя</h4>
            </a>      
                </div> 
              <ul class="card-body card-line-limit">
                {% for product in site.data.dvig_zap %}
                {%- if product.cat == "Запчасти двигателя" -%}
                  <li>• <a href='{{product.path}}{{product.url}}.html'>{{product.name}}</a></li>
                {%- endif -%}
                {% endfor %}
            </ul>
        </div>
    
    
    

        <!--  Группа  -->
        <div class="card"> <!-- col-md-6 col-lg-4 col-xs-12 "> -->
          <div class="card-header media">
            <img class="card-icon1" src="/dvigatel_zapchasti/img/category/cpg.jpg" alt="Поршневая группа">
            <a href="/dvigatel_zapchasti/category/porshnevaya-gruppa-kamaz.html">
              <h4>Поршневая группа</h4>
            </a>      
                </div> 
              <ul class="card-body card-line-limit">
                {% for product in site.data.dvig_zap %}
                {%- if product.path == "/dvigatel_zapchasti/catalog/cpg/" -%}
                  <li>• <a href='{{product.path}}{{product.url}}.html'>{{product.name}}</a></li>
                {%- endif -%}
                {% endfor %}
            </ul>
        </div>


        

        <!--  Группа  -->
        <div class="card"> <!-- col-md-6 col-lg-4 col-xs-12 "> -->
          <div class="card-header media">
            <img class="card-icon1" src="/dvigatel_zapchasti/img/category/nasos_voda.jpg" alt="Насос водяной">
            <a href="/dvigatel_zapchasti/category/nasosy-vodyanoj-kamaz.html">
              <h4>Насосы водяные</h4>
            </a>      
                </div> 
              <ul class="card-body card-line-limit">
                {% for product in site.data.dvig_zap %}
                {%- if product.cat == "Насос водяной" -%}
                  <li>• <a href='{{product.path}}{{product.url}}.html'>{{product.name}}</a></li>
                {%- endif -%}
                {% endfor %}
            </ul>
        </div>



        

        <!--  Группа  -->
        <div class="card"> <!-- col-md-6 col-lg-4 col-xs-12 "> -->
          <div class="card-header media">
            <img class="card-icon1" src="/dvigatel_zapchasti/img/category/nasos_maslo.jpg" alt="Насос масляный">
            <a href="/dvigatel_zapchasti/category/nasosy-maslyanyj-kamaz.html">
              <h4>Насосы масляные</h4>
            </a>      
                </div> 
              <ul class="card-body card-line-limit">
                {% for product in site.data.dvig_zap %}
                {%- if product.cat == "Насос масляный" -%}
                  <li>• <a href='{{product.path}}{{product.url}}.html'>{{product.name}}</a></li>
                {%- endif -%}
                {% endfor %}
            </ul>
        </div>


        
     <!--  Группа  -->
     <div class="card"> <!-- col-md-6 col-lg-4 col-xs-12 "> -->
      <div class="card-header media">
        <img class="card-icon1" src="/dvigatel_zapchasti/img/category/forsunki.jpg" alt="Форсунки">
        <a href="/dvigatel_zapchasti/category/forsunki-kamaz.html">
          <h4>Форсунки</h4>
        </a>      
            </div> 
          <ul class="card-body card-line-limit">
            {% for product in site.data.dvig_zap %}
            {%- if product.cat == "Форсунки" -%}
              <li>• <a href='{{product.path}}{{product.url}}.html'>{{product.name}}</a></li>
            {%- endif -%}
            {% endfor %}
        </ul>
    </div>


    
        
     <!--  Группа  -->
     <div class="card"> <!-- col-md-6 col-lg-4 col-xs-12 "> -->
      <div class="card-header media">
        <img class="card-icon1" src="/dvigatel_zapchasti/img/category/raspyliteli.jpg" alt="Распылители форсунки">
        <a href="/dvigatel_zapchasti/category/raspyliteli-forsunki-kamaz.html">
          <h4>Распылители форсунки</h4>
        </a>      
            </div> 
          <ul class="card-body card-line-limit">
            {% for product in site.data.dvig_zap %}
            {%- if product.cat == "Распылители" -%}
              <li>• <a href='{{product.path}}{{product.url}}.html'>{{product.name}}</a></li>
            {%- endif -%}
            {% endfor %}
        </ul>
    </div>



   



    </div>
  </div>
</section>







<section class="section-padding articles" style="padding-top: 0px; ">
  <div class="container ">
    <div class="row">
      
      <div class="col-md-11 col-xs-12" style="margin: auto;">
      <h3 class="w-100 text-center">Популярные товары</h3>
        <div id="productList" class="pt-4 pb-2">
      
          <div class="row list">
            {%- assign rands = site.data.dvig_zap | sample: 15 -%}
            {% for pr in rands %}
              {%- if pr.url -%}
                {% include card_zapchasti_catalog.html product = pr %}
              {%- endif -%}
            {% endfor %}
      
          </div>
          <div class="no-result">Не найдено</div>
          <!-- <ul class="pagination" onclick="$('html, body').animate({ scrollTop: 0}, 600);"></ul> -->
        </div>


        <p></p>

        <p>&nbsp;</p>
      
        {% include advantages.html %}
        {% include kupite_u_nas.html %} 
      </div>
      </div>
    </div>
  </div>
</section>
  

<script src="/assets/js/list.min.js"></script>
