---
layout: default_info
title: Делитель КПП-152 КамАЗ - ЗапКам.Запчасти
description: Продаем делитель коробки передач КПП-152 на КамАЗ с доставкой по всей России. В наличии новые, восстановленные, капремонт. Прайс-лист, модификации, каталог, описание, характеристики.
keywords: Коробка передач КамАЗ 14 4310 43114, 43118, 43253
hero-title: Коробки передач на технику КамАЗ
h1: Делитель коробки передач 152
h2:
phone: 
phone_title: 
categories: [<a href="/kamaz-4310/catalog/kpp_korobki_peredach/index.html">КПП - Коробки передач</a> ]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.k4310 | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">


    <div class="alert alert-info">
        <b>Восстановленная коробка передач</b>. <br>
        В качестве бюджетного варианта можем предложить коробку передач КамАЗ бывший в эксплуатации,
        прошедшую капитальный ремонт.
        <br>
        <br>
        Гарантия на восстановленную коробку составит 3-6 месяца.
    </div>
    <hr>
    
    
   

    <p>
        <iframe width="800" height="540" src="https://www.youtube.com/embed/5BDguprOmGQ?start=781" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>       
    </p>
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 100px;">&nbsp;</div>
  
</div>