---
layout: default_info
title: Коробка передач КПП-144 на КамАЗ 4350 и 5350 - ЗапКам.Запчасти
description: Продаем коробки передач КПП-144 на КамАЗ 4350 и 5350 с доставкой по всей России. В наличии новые, восстановленные, капремонт. Прайс-лист, модификации, каталог, описание, характеристики.
keywords: Коробка передач КПП-144 КамАЗ 4350 и 5350
hero-title: Коробки передач на технику КамАЗ
h1: КПП-144 КамАЗ
h2:
phone: 
phone_title: 
categories: [<a href="/kamaz-4310/catalog/kpp_korobki_peredach/index.html">КПП - Коробки передач</a> ]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.k4310 | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
    <h3>Описание</h3>
    <p>КПП-144 - модернизированная версия КПП 14-ой модели.<br>
        Тип КПП – механическая, 5-ступенчатая с 3-ходовым механизмом переключения. 
    </p>
    <p>
        Основное отличие от КПП-142 - конические подшипники в опорах первичного, промежуточного и вторичного валов КП.
        Имеет усиленную конструкцию, вместо сферических подшипников используются конические. Большая высота косых зубьев
        шестерней и их коронок.
    </p>   

    <p>
        КПП-152 применяется для автомобилей с двигателями, имеющими крутящий момент до 1100 Н·м включительно.
        Например, на грузовых полноприводных автомобилях семейства "Мустанг", выпускаемых для армейских потребностей.
    </p>   
    
    <p>
        
    </p>
    
    <h3>Технические характеристики КПП-144</h3>
    <table class="table table-hover table-striped table-responsive-sm" style="width:auto;">
        <tbody>
            <tr>
                <th>Передаточные числа</th>
                <td>I- 7,82&nbsp;&nbsp; II- 4,03&nbsp;&nbsp; III- 2,5&nbsp;&nbsp; IV- 1,53&nbsp;&nbsp;&nbsp; V-
                    1&nbsp;&nbsp;&nbsp; 3x- 7,38</td>
            </tr>
            <tr>
                <th>Подшипники валов</td>
                <td>роликовые конические однорядные, кроме передней опоры первичного вала, где применяется шариковый
                    подшипник</td>
            </tr>
            <tr>
                <th>Подшипники шестерен</td>
                <td>роликовые двухрядные с сепараторами без колец, подшипник шестерни четвертой передачи без сепаратора</td>
            </tr>
            <tr>
                <th>Синхронизаторы</td>
                <td>инерционного типа, пальчиковые, со стальными кольцами, конусные поверхности которых покрыты молибденом
                </td>
            </tr>
            <tr>
                <th>Шестерни</td>
                <td>с косыми зубьями, кроме первой передачи и передачи заднего хода, постоянного зацепления</td>
            </tr>
            <tr>
                <th>Система смазывания</td>
                <td>комбинированная. Все детали смазывается разбрызгиванием, подшипники шестерен коробки передач имеют,
                    кроме того, дополнительную подпитку от масло-нагнетающего устройства</td>
            </tr>
            <tr>
                <th>Отбор мощности</td>
                <td>от основной коробки передач с двух сторон через люки по ГОСТ 12323; с правой стороны - от зубчатого
                    венца блока шестерен заднего хода; с левой - от зубчатого венца шестерни заднего хода промежуточного
                    вала. Возможна установка КОМ вместо верхней крышки КП.</td>
            </tr>
            <tr>
                <th>Управление коробкой передач</td>
                <td>механическое, с дистанционным приводом</td>
            </tr>
        </tbody>
    </table>

    <hr>

    <h3>Комплектации КП-144</h3>
    <table class="table table-harki table-hover table-striped table-sm table-responsive-sm">
        <tbody>
            <thead>
                <tr class="text-center">
                    <th>Обозначение КП</th>
                    <th>Сцепление</th>
                    <th>Обозначение КП для транспортировки</th>
                    <th>Картер сцепления</th>
                    <th>Крышка первичного вала</th>
                    <th>Вилка выключения сцепления</th>
                    <th>Опора рычага переключения передач</th>
                    <th>Примечание</th>
                </tr>
            </thead>
                <tr>
                    <th>144.1700100</td>
                    <td>Диафрагменное сцепление модели 17 (г.Тюмень)</td>
                    <td>&nbsp;</td>
                    <td>17.1601008-10 SAE1</td>
                    <td>144.1701039</td>
                    <td>16.1601203-10</td>
                    <td>142.1702200</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <th>144.1700101</td>
                    <td>модели 19</td>
                    <td>&nbsp;</td>
                    <td>17.1601008-10 SAE1</td>
                    <td>144.1701039-10</td>
                    <td>16.1601203</td>
                    <td>142.1702200</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <th>144.1700102</td>
                    <td>Sachs MFZ 430</td>
                    <td>&nbsp;</td>
                    <td>17.1601008-10 SAE1</td>
                    <td>144.1701039-10</td>
                    <td>19.1601203-10</td>
                    <td>142.1702200</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <th>144.1700103</td>
                    <td>Sachs MFZ 430</td>
                    <td>&nbsp;</td>
                    <td>17.1601008-10 SAE1</td>
                    <td>144.1701039-10</td>
                    <td>19.1601203-10</td>
                    <td>Нет опоры. Стоит крышка-заглушка.</td>
                    <td>Для ЭПСУ</td>
                </tr>
                <tr>
                    <th>144.1700104</td>
                    <td>Sachs MF 395</td>
                    <td>144.1700030</td>
                    <td>4308-1601008-10 SAE2</td>
                    <td>144.1701039-20</td>
                    <td>-</td>
                    <td>530-1702200</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <th>144.1700105</td>
                    <td>Sachs MF 395</td>
                    <td>144.1700031</td>
                    <td>4308-1601008-10 SAE2</td>
                    <td>144.1701039-20</td>
                    <td>-</td>
                    <td>Нет опоры. Стоит крышка-заглушка.</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <th>144.1700106</td>
                    <td>Sachs MFZ 430</td>
                    <td>&nbsp;</td>
                    <td>17.1601008-10 SAE1</td>
                    <td>144.1701039-10</td>
                    <td>19.1601203-10</td>
                    <td>37.1702200</td>
                    <td>автобусная</td>
                </tr>
                <tr>
                    <th>144.1700108</td>
                    <td>Sachs MFZ 430</td>
                    <td>144.1700032-18</td>
                    <td>17.1601008-10 SAE1</td>
                    <td>144.1701039-10</td>
                    <td>19.1601203-10</td>
                    <td>530-1702200-40 укороченный вывод</td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
    <hr>
    
    

    <hr>
    <p></p>
    <div class="alert alert-info">
        <b>Восстановленная коробка передач</b>. <br>
        В качестве бюджетного варианта можем предложить коробку передач КамАЗ бывший в эксплуатации,
        прошедшую капитальный ремонт.
        <br>
        <br>
        Гарантия на восстановленную коробку составит 3-6 месяца.
    </div>

    <div class="alert alert-success">
        Примем сломанную коробку передач в счёт новой (до 35% от стоимости).
    </div>
    <hr>
    
    
    <h3></h3>

    <div id="nanogallery2" data-nanogallery2 = '{
        "thumbnailLabel":{"display":false},
        "thumbnailBorderVertical":0,"thumbnailBorderHorizontal":0,
        "thumbnailWidth":   "auto",
        "thumbnailHeight":   240,
        "thumbnailAlignment": "center", 
        "fillWidth": "center", 
        "thumbnailDisplayTransition":"slideUp",
        "thumbnailHoverEffect2":"scale120|toolsAppear|toolsAppear",
        "itemsBaseURL":     ""
      }' >
      <!-- fillWidth -->
      
      <a href = "/assets/img/kpp/kpp-144-kamaz_12.jpg" data-ngThumb = "/assets/img/kpp/kpp-144-kamaz_12.jpg" title="{{product.name}}"> Чертеж {{product.name}} </a>
      <a href = "/assets/img/kpp/kpp-144-kamaz_11.jpg" data-ngThumb = "/assets/img/kpp/kpp-144-kamaz_11.jpg" title="{{product.name}}"> Схема {{product.name}} </a>
      
    </div>

    <p>
        Агрегаты имеют все необходимые сертификаты и сопроводительные документы.        
    </p>
    <p></p>
    {%- include_relative _like_products.mhtml prod = product -%}
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 100px;">&nbsp;</div>
  
</div>