---
layout: default_info
title: Коробка передач КПП-14 на КамАЗ 43114, 43118, 43253 - ЗапКам.Запчасти
description: Продаем коробки передач КПП-14 на КамАЗ 43114, 43118, 43253 с доставкой по всей России. В наличии новые, восстановленные, капремонт. Прайс-лист, модификации, каталог, описание, характеристики.
keywords: Коробка передач КамАЗ 14 4310 43114, 43118, 43253
hero-title: Коробки передач на технику КамАЗ
h1: Коробка передач КПП-14 КамАЗ
h2:
phone: 
phone_title: 
---

<!-- Товар ---->
<div id="anc_1"></div>
{% assign page_url = "kpp_14_kamaz" %}
{% assign product = site.data.k4310 | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
    <h3>Описание</h3>
    <p>5-ступенчатая механическая коробка переключения передач старого образца, под двухдисковое сцепление, без делителя, с 3-ходовым механизмом переключения </p>
    <p>
        В данный момент не производится. Современный аналог - <a href="/kamaz-4310/catalog/kpp_korobki_peredach/kpp_142_kamaz.html">КПП-142</a>.   
    
    </p>
    <p>
        Путем установки делителя может быть модифицирована до КПП 15-й модели.    
    </p>   
    
    <p>
        
    </p>
    
    <h3>Технические характеристики КПП-14</h3>
    <table class="table table-hover table-striped table-responsive-sm" style="width:auto;">
        <tbody>
            <tr>
                <th>Передаточные числа</th>
                <td>I- 7,62&nbsp; II- 4,03&nbsp;&nbsp; III- 2,5&nbsp;&nbsp;&nbsp; IV-1,53&nbsp;&nbsp; V-1&nbsp;&nbsp;&nbsp; 3x- 7,38</td>
            </tr>
            <tr>
                <th>Подшипники валов</th>
                <td>в опорах первичного вала - шариковые подшипники, <br>
                    для вторичного вала - передний роликовый, задний - шариковый. <br>
                    Промежуточный вал опирается спереди на роликовый, сзади на двухрядный роликовый сферический подшипники.</td>
            </tr>
            <tr>
                <th>Максимальный крутящий момент, Н*м (кгс*м)</th>
                <td>667 (68)</td>
            </tr>
            <tr>
                <th>Синхронизаторы</th>
                <td>инерционного типа, пальчиковые с латунными конусными кольцами</td>
            </tr>
            <tr>
                <th>Шестерни</th>
                <td>с косыми зубьями, кроме первой передачи и передачи заднего хода, постоянного зацепления</td>
            </tr>
            <tr>
                <th>Система смазывания</th>
                <td>комбинированная. Все детали смазываются разбрызгиванием, подшипники шестерен коробки передач имеют, кроме того, дополнительную подпитку от маслонагнетающего устройства</td>
            </tr>
            <tr>
                <th>Отбор мощности</th>
                <td>от основной коробки передач с двух сторон через люки по ГОСТ 12323-66; с правой стороны &ndash; от зубчатого венца блока шестерен заднего хода; с левой - от зубчатого венца шестерени заднего хода промежуточного вала; возможна установка КОМ вместо верхней крышки КП.</td>
            </tr>
            <tr>
                <th>Управление коробкой передач</th>
                <td>механическое, с дистанционным приводом</td>
            </tr>
            <tr>
                <th>Спидометр</th>
                <td>привод спидометра двухступенчатый, состоит из постоянной червячной пары и сменной пары цилиндрических прямозубых шестерен.</td>
            </tr>
        </tbody>
    </table>
    <hr>

    <h3>Коробка передач модели 14, применяющаяся с серийным сцеплением, сцеплением фирмы Sachs MFZ 430, MF 395</h3>
    <table class="table table-harki table-hover table-striped table-sm table-responsive-sm">
        <tbody>
            <thead>
                <tr class="text-center">
                    <th>Обозначение КП</td>
                        <th>Обозначение КП в транспортном исполнении</td>
                        <th>Опора рычага переключения передач</td>
                        <th>Фланец</td>
                        <th>Муфта выключения сцепления Крышка заднего подшипника первичного вала Картер сцепления, рычаг и вилка (если не серийные)</td>
                        <th>Первичный вал КП (шлицы) и вторичный вал (если не серийный)</td>
                        <th>Крышка заднего подшипника вторичного вала в сборе и деталь</td>
                        <th>Примечание</td>
                </tr>
            </thead>
           
        </tbody>
    </table>
    
    <hr>
<p>
    Коробка передач 14-той модели состоит из следующих узлов: картера, в котором смонтированы ведущий,
    ведомый и промежуточный валы с шестернями, синхронизаторами и подшипниками; блока шестерен заднего хода; верхней
    крышки коробки с механизмом переключения передач в сборе. К переднему торцу картера коробки передач прикреплен картер
    сцепления.
</p>

    <div class="alert alert-info">
        <b>Восстановленная коробка передач</b>. <br>
        В качестве бюджетного варианта можем предложить коробку передач КамАЗ бывший в эксплуатации,
        прошедший тщательную дефектовку на задиры, трещины, целостность шеек, при которой меняются 
        втулки под распредвал и проводятся работы для подготовки к установке.
        <br>
        <br>
        Гарантия на восстановленную коробку составит 3-6 месяца.
    </div>
    <div class="alert alert-success">
        Примем сломанную коробку передач в счёт новой (до 35% от стоимости).
    </div>
    <hr>
    
    
   

    <p>
        <iframe width="800" height="540" src="https://www.youtube.com/embed/5BDguprOmGQ?start=781" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>       
    </p>
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 100px;">&nbsp;</div>
  
</div>