---
layout: default_info
title: Коробка передач КПП-151 КамАЗ (под ДВС ЯМЗ)
description: Продаем коробки передач КПП-151 на двигатель ЯМЗ с доставкой по всей России. В наличии новые, восстановленные, капремонт. Прайс-лист, модификации, каталог, описание, характеристики.
keywords: Коробка передач КамАЗ 151 43114, 53205, 43118, 55111, 53215, 43253, 65115
hero-title: Коробки передач на технику КамАЗ
h1: Коробка передач КПП-152 КамАЗ (под двигатель ЯМЗ)
h2:
phone: 
phone_title: 
categories: [<a href="/kamaz-4310/catalog/kpp_korobki_peredach/index.html">КПП - Коробки передач</a> ]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.k4310 | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
    <h3>Описание</h3>
    

    <div class="alert alert-info">
      <b>Восстановленная коробка передач</b>. <br>
      В качестве бюджетного варианта можем предложить коробку передач КамАЗ бывший в эксплуатации,
      прошедшую капитальный ремонт.
      <br>
      <br>
      Гарантия на восстановленную коробку составит 3-6 месяца.
    </div>
    <div class="alert alert-success">
      Примем сломанную коробку передач в счёт новой (до 35% от стоимости).
    </div>
    <hr>

    <p>

    </p>
    <p></p>
    {%- include_relative _like_products.mhtml prod = product -%}
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 100px;">&nbsp;</div>
  
</div>






