---
layout: default_info
title: Коробка передач КПП-152 на КамАЗ 43114, 53205, 43118, 55111, 53215, 43253, 65115 - ЗапКам.Запчасти
description: Продаем коробки передач КПП-152 на КамАЗ 43114, 53205, 43118, 55111, 53215, 43253, 65115 с доставкой по всей России. В наличии новые, восстановленные, капремонт. Прайс-лист, модификации, каталог, описание, характеристики.
keywords: Коробка передач КамАЗ 152 43114, 53205, 43118, 55111, 53215, 43253, 65115
hero-title: Коробки передач на технику КамАЗ
h1: Коробка передач КПП-152 КамАЗ
h2:
phone: 
phone_title: 
---

<!-- Товар ---->
<div id="anc_1"></div>
{% assign page_url = "kpp_152_kamaz" %}
{% assign product = site.data.k4310 | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
    <h3>Описание</h3>
    <p>КПП-152 - модернизированная версия КПП 15-ой модели, 10-ступенчатая, состоящая из основной 5-ступенчатой
        коробки передач и 2-ступенчатого редуктора-делителя. </p>
    <p>
        Применение делителя передач улучшает тяговые качества автомобиля, облегчает управление автомобилем.
    </p>
    <p>
        КПП-152 КамАЗ является самой распространенной трансмиссией и устанавливается на множестве моделей, 
        может использоваться на автомобилях-тягачах в составе автопоездов.
        
    </p>   
    
    <p>
        По сравнению с КПП-15 были усилены шлицы первичного вала делителя каретки и муфты синхронизаторов (путем увеличения высоты зубьев),
        была упрощена пневматическая система управления делителем передач за счет применения пластмассовых воздухопроводов.<br>
        Cоединение шестерен и промежуточного вала стало безшпоночным за счет увеличения натяга.
        В КПП-152 исключили замковое устройство в шлицевом соединении между кареткой синхронизаторов 4-5 передач и
        вторичным валом коробки передач. 
        в 152 КПП используется более мощный подшипник передней опоры вторичного вала.
    </p>
    <h3>Передаточные числа</h3>
    <table class="table table-hover table-striped table-responsive" style="width:auto;">
        <tbody>
            <tr>
                <th>Номер передачи</td>
                <td>1Н</td>
                <td>1В</td>
                <td>2Н</td>
                <td>2В</td>
                <td>3Н</td>
                <td>3В</td>
                <td>4Н</td>
                <td>4В</td>
                <td>5Н</td>
                <td>5В</td>
                <td>3ХН</td>
                <td>3ХВ</td>
            </tr>
            <tr>
                <th>Передаточные числа</td>
                <td>7,82</td>
                <td>4,03</td>
                <td>2,5</td>
                <td>1,53</td>
                <td>1</td>
                <td>7,38</td>
                <td>1,53</td>
                <td>1,25</td>
                <td>1</td>
                <td>0,815</td>
                <td>7,38</td>
                <td>6,02</td>
            </tr>
        </tbody>
    </table>
    

    <h3>Технические характеристики КПП-152</h3>
    <table class="table table-hover table-striped table-responsive" style="width:auto;">
        <tbody>
            <tr>
                <th>Подшипники валов</td>
                <td>В опорах первичного вала делителя применяются шариковые подшипники, у промежуточного вала делителя
                    передняя опора - шариковый подшипник, а задняя опора - роликовый без вну- треннего кольца. В опорах
                    первичного вала КП применяются спереди роликовый подшипник без колец, сзади - шариковый подшипник. Для
                    вторичного вала КП применяются передний роликовый и задний шариковый подшипники. Промежуточный вал КП
                    опирается спереди на роликовый подшипник, сзади - на роликовый двухрядный сферический подшипник.</td>
            </tr>
            <tr>
                <th>Подшипники шестерен</td>
                <td>роликовые двухрядные с сепараторами без колец, подшипник шестерни четвертой передачи без сепаратора</td>
            </tr>
            <tr>
                <th>Синхронизаторы</td>
                <td>инерционного типа, пальчиковые с латунными конусными кольцами</td>
            </tr>
            <tr>
                <th>Шестерни</td>
                <td>с косыми зубьями, кроме первой передачи и передачи заднего хода, постоянного зацепления</td>
            </tr>
            <tr>
                <th>Система смазывания</td>
                <td>комбинированная. Все детали смазывается разбрызгиванием, подшипники шестерен коробки передач и делителя
                    имеют, кроме того, дополнительную подпитку от маслонагнетающего устройства</td>
            </tr>
            <tr>
                <th>Отбор мощности</td>
                <td>от основной коробки передач с двух сторон через люки по ГОСТ 12323-66; с правой стороны - от зубчатого
                    венца блока шестерен заднего хода; с левой - от зубчатого венца шестерени заднего хода промежуточного
                    вала; возможна установка КОМ вместо верхней крышки КП.</td>
            </tr>
            <tr>
                <th>Управление коробкой передач</td>
                <td>механическое, с дистанционным приводом для основной коробки и пневматическое преселекторное для делителя
                </td>
            </tr>
            <tr>
                <th>Спидометр</td>
                <td>привод спидометра двухступенчатый, состоит из постоянной червячной пары и сменной пары цилиндрических
                    прямозубых шестерен.</td>
            </tr>
        </tbody>
    </table>
    <hr>

    <p></p>

    <h3>Коробка передач модели 152, применяющаяся с серийным сцеплением модели 142</h3>
    <table class="table table-harki table-hover table-striped table-sm table-responsive">
        <tbody>
            <thead>
                <tr class="text-center">
                    <th>Обозначение КП в транспортном исполнении</td>
                    <th>Обозначение КП</td>
                    <th>Обозначение КП без делителя</td>
                    <th>Опора рычага переключения передач</td>
                    <th>Фланец</td>
                    <th>Делитель</td>
                    <th>Первичный вал делителя (шлицы)</td>
                    <th>Крышка заднего подшипника вторичного вала</td>
                    <th>Примечание</td>
                </tr>
            </thead>
            <tr>
                <th>&nbsp;</td>
                <td>152.1700050- 20</td>
                <td>152.1700150- 10</td>
                <td>14.1702200-10 (серия)</td>
                <td>152.1701240 (большой круглый)</td>
                <td>152.1770010-20 (с кронштейном 15.1772327 и пластмассовыми трубками)</td>
                <td>152.1770044- 20 (шлицы серийные &Oslash; 42)</td>
                <td>14.1701200 (14.1701205) широкая под спидометр</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <th>&nbsp;</td>
                <td>152.1700050- 80</td>
                <td>152.1700150</td>
                <td>14.1702200-10 (серия)</td>
                <td>142.1701240</td>
                <td>152.1770010-20 (с кронштейном 15.1772327 и пластмассовыми трубками)</td>
                <td>152.1770044- 20 (шлицы серийные &Oslash; 42)</td>
                <td>14.1701200 (14.1701205) широкая под спидометр</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <th>152.1700025</td>
                <td>152.1700050</td>
                <td>152.1700150</td>
                <td>14.1702200-10 (серия)</td>
                <td>142.1701240 с торцевыми шлицами</td>
                <td>152.1770010-30 (с кронштейном 15.1772327 и металлическими трубками)</td>
                <td>152.1770044 (шлицы серийные &Oslash; 42)</td>
                <td>14.1701200 (14.1701205) широкая под спидометр</td>
                <td>Устанавливается на автомобиль без подпедального клапана включения делителя</td>
            </tr>
            <tr>
                <th>152.1700027</td>
                <td>152.1700052</td>
                <td>152.1700150</td>
                <td>14.1702200-10 (серия)</td>
                <td>142.1701240</td>
                <td>152.1770010 (без кронштейна 15.1772327, с металлическими трубками)</td>
                <td>152.1770044 (шлицы серийные &Oslash; 42)</td>
                <td>14.1701200 (14.1701205) широкая под спидометр</td>
                <td>Устанавливается на автомобиль без подпедального клапана включения делителя</td>
            </tr>
            <tr>
                <th>152.1700027-10</td>
                <td>152.1700052- 10</td>
                <td>152.1700152</td>
                <td>14.1702200-10 (серия)</td>
                <td>152.1701240 (большой кругл.)</td>
                <td>152.1770010 (без кронштейна 15.1772327, с металлическими трубками)</td>
                <td>152.1770044 (шлицы серийные &Oslash; 42)</td>
                <td>14.1701200 (14.1701205) широкая под спидометр</td>
                <td>Устанавливается на автомобиль без подпедального клапана включения делителя</td>
            </tr>
            <tr>
                <th>152.1700028 152.1700031</td>
                <td>152.1700053 152.1700056 герметичная</td>
                <td>152.1700152 152.1700155</td>
                <td>14.1702200-10 (серия) 14.1702200-10 (серия)</td>
                <td>152.1701240 (большой кругл.) 142.1701240 с торцевыми шлицами</td>
                <td>152.1770010-30 (с кронштейном 15.1772327 и металлическими трубками) 152.1770010-70 (герметичный, с
                    кронштейном, металлическими трубками)</td>
                <td>152.1770044 (шлицы серийные &Oslash; 42) 152.1770044 (шлицы серийные &Oslash; 42)</td>
                <td>14.1701200 (14.1701205) широкая под спидометр 141.1701201 (141.1701205) широкая, без спидометра</td>
                <td>Устанавливается на автомобиль без подпедального клапана включения делителя Устанавливается на автомобиль
                    без подпедального клапана включения делителя</td>
            </tr>

    <!-- разрыв таблицы ------------------------------------  -->
    </tbody>
    <tbody>
        <tr class="clickable" data-toggle="collapse" data-target="#group-of-rows-2" aria-expanded="false" aria-controls="group-of-rows-2"
        onclick="$('[aria-controls=group-of-rows-2]').hide()" >
            <td colspan="100%" style="font-size: 15px; font-weight: 600;">
                    Показать всё
            </td>
        </tr>
    </tbody>
    <tbody id="group-of-rows-2" class="collapse">

            <tr>
                <th>152.1700032</td>
                <td>152.1700057 герметичная</td>
                <td>152.1700155</td>
                <td>14.1702200-10 (серия)</td>
                <td>142.1701240 с торцевыми шлицами</td>
                <td>152.1770010-74 (герметичный, без кронштейна, с металлическими трубками)</td>
                <td>152.1770044 (шлицы серийные &Oslash; 42)</td>
                <td>141.1701201 (141.1701205) широкая, без спидометра</td>
                <td>Устанавливается на автомобиль без подпедального клапана включения делителя</td>
            </tr>
            <tr>
                <th>152.1700033</td>
                <td>152.1700058</td>
                <td>152.1700155</td>
                <td>14.1702200-10 (серия)</td>
                <td>142.1701240 с торцевыми шлицами</td>
                <td>152.1770010-30 (с кронштейном 15.1772327 и металлическими трубками)</td>
                <td>152.1770044 (шлицы серийные &Oslash; 42)</td>
                <td>141.1701201 (141.1701205) широкая, без спидометра</td>
                <td>Устанавливается на автомобиль без подпедального клапана включения делителя</td>
            </tr>
            <tr>
                <th>152.1700034</td>
                <td>152.1700059</td>
                <td>152.1700155</td>
                <td>14.1702200-10 (серия)</td>
                <td>142.1701240 с торцевыми шлицами</td>
                <td>152.1770010 (без кронштейна, с металлическими трубками)</td>
                <td>152.1770044 (шлицы серийные &Oslash; 42)</td>
                <td>141.1701201 (141.1701205) широкая, без спидометра</td>
                <td>Устанавливается на автомобиль без подпедального клапана включения делителя</td>
            </tr>
            <tr>
                <th>&nbsp;</td>
                <td>152.1700050- 90 под КОМ от промежуточного вала</td>
                <td>152.1700150- 90</td>
                <td>14.1702200-10 (серия)</td>
                <td>142.1701240 с торцевыми шлицами</td>
                <td>152.1770010 (без кронштейна, с металлическими трубками)</td>
                <td>152.1770044 (шлицы серийные &Oslash; 42) 14.1701048-90 промвал</td>
                <td>14.1701200 (14.1701205) широкая под спидометр</td>
                <td>Устанавливается на автомобиль без подпедального клапана</td>
            </tr>
            <tr>
                <th>152.1700024-10</td>
                <td>152.1700054- 10 Для МАЗа</td>
                <td>152.1700154</td>
                <td>142.1702010-30 без опоры рычага, 141.1702178 крышка- заглушка, штифты 25 мм, шпильки 45 мм</td>
                <td>142.1701240 с торцевыми шлицами</td>
                <td>152.1770010 (без кронштейна, с металлическими трубками)</td>
                <td>152.1770044 шлицы серийные</td>
                <td>14.1701200 (14.1701205) широкая под спидометр</td>
                <td>Устанавливается на автомобиль без подпедального клапана</td>
            </tr>
            <tr>
                <th>&nbsp;</td>
                <td>152.1700070- 80 под КОМ от промежуточного вала</td>
                <td>152.1700150- 90</td>
                <td>14.1702200-10 (серия)</td>
                <td>142.1701240 с торцевыми шлицами</td>
                <td>152.1770011 нет кронштейна и металлических трубок</td>
                <td>152.1770044 (шлицы серийные &Oslash; 42) 14.1701048-90 промвал</td>
                <td>14.1701200 (14.1701205) широкая под спидометр</td>
                <td>Устанавливается на автомобиль с подпедальным клапаном включения делителя</td>
            </tr>
            <tr>
                <th>&nbsp;</td>
                <td>152.1700070- 90</td>
                <td>152.1700150- 90</td>
                <td>142.1702200 (боковой вывод)</td>
                <td>142.1701240 с торцевыми шлицами</td>
                <td>152.1770011 нет кронштейна и металлических трубок</td>
                <td>152.1770044 (шлицы серийные &Oslash; 42) 14.1701048-90 промвал</td>
                <td>14.1701200 (14.1701205) широкая под спидометр</td>
                <td>Устанавливается на автомобиль с подпедальным клапаном включения делителя</td>
            </tr>
            <tr>
                <th>&nbsp;</td>
                <td>152.1700071- 80</td>
                <td>152.1700151- 90</td>
                <td>14.1702200-10 (серия)</td>
                <td>142.1701240 с торцевыми шлицами</td>
                <td>152.1770011 нет кронштейна и металлических трубок</td>
                <td>152.1770044 (шлицы серийные &Oslash; 42) 14.1701048-90 промвал</td>
                <td>141.1701201 (141.1701205) широкая, без спидометра)</td>
                <td>Устанавливается на автомобиль с подпедальным клапаном включения делителя</td>
            </tr>
            
		<tr>
			<th>Обозначение КП в транспортном исполнении</td>
			<td>Обозначение КП</td>
			<td>ОбозначениеКП без делителя</td>
			<td>Опора рычага переключения передач</td>
			<td>Фланец</td>
			<td>Делитель</td>
			<td>Первичный вал делителя (шлицы)</td>
			<td>Крышка заднего подшипника вторичного вала</td>
			<td>Примечание</td>
		</tr>
		<tr>
			<th>&nbsp;</td>
			<td>152.1700071- 90</td>
			<td>152.1700151- 90</td>
			<td>142.1702200 (боковой вывод)</td>
			<td>142.1701240 с торцевыми шлицами</td>
			<td>152.1770011 нет кронштейна и металлических трубок</td>
			<td>152.1770044 (шлицы серийные &Oslash; 42) 14.1701048-90 промвал</td>
			<td>141.1701201 (141.1701205) широкая, без спидометра)</td>
			<td>Устанавливается на автомобиль с подпедальным клапаном включения делителя</td>
		</tr>
		<tr>
			<th>&nbsp;</td>
			<td>152.1700075</td>
			<td>152.1700151</td>
			<td>14.1702200-10 (серия)</td>
			<td>142.1701240 с торцевыми шлицами</td>
			<td>152.1770011 нет кронштейна и металлических трубок</td>
			<td>152.1770044 шлицы серийные</td>
			<td>14.1701200 широкая, со спидометром</td>
			<td>Устанавливается на автомобиль с подпедальным клапаном включения делителя</td>
		</tr>
		<tr>
			<th>&nbsp;</td>
			<td>152.1700075- 10</td>
			<td>152.1700156</td>
			<td>14.1702200-10 (серия)</td>
			<td>142.1701240 с торцевыми шлицами</td>
			<td>152.1770011 нет кронштейна и металлических трубок</td>
			<td>152.1770044 шлицы серийные</td>
			<td>141.1701201 (141.1701205) широкая, без спидометра</td>
			<td>Устанавливается на автомобиль с подпедальным клапаном включения делителя</td>
		</tr>
		<tr>
			<th>&nbsp;</td>
			<td>152.1700075- 20</td>
			<td>152.1700156</td>
			<td>142.1702200 (боковой вывод)</td>
			<td>142.1701240 с торцевыми шлицами</td>
			<td>152.1770011 нет кронштейна и металлических трубок</td>
			<td>152.1770044 шлицы серийные</td>
			<td>141.1701201 (141.1701205) широкая, без спидометра</td>
			<td>Устанавливается на автомобиль с подпедальным клапаном включения делителя</td>
		</tr>
		<tr>
			<th>&nbsp;</td>
			<td>152.1700075- 30</td>
			<td>152.1700151</td>
			<td>142.1702200</td>
			<td>142.1701240 с торцевыми шлицами</td>
			<td>152.17700011</td>
			<td>152.1770044</td>
			<td>14.1701200 (14.1701205) широкая под спидометр</td>
			<td>Устанавливается на автомобиль с подпедальным клапаном включения делителя</td>
		</tr>
		<tr>
			<th>152.1700025-50</td>
			<td>152.1700050- 50</td>
			<td>152.1700150- 20</td>
			<td>14.1702200-10 серия</td>
			<td>14.1701240</td>
			<td>152.1770010 (без кронштейна, с металлическими трубками)</td>
			<td>152.1770044 шлицы серийные</td>
			<td>14.1701200 (14.1701205) широкая под спидометр</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<th>152.1700026</td>
			<td>152.1700051</td>
			<td>152.1700150- 20</td>
			<td>141.1702114 вывод вверх</td>
			<td>14.1701240 квадратный</td>
			<td>152.1770010-10 вместо воздухораспределителя установлен на делителе кран управления делителем</td>
			<td>152.1770044 шлицы серийные</td>
			<td>14.1701200 (14.1701205) широкая под спидометр</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<th>152.1700025-60</td>
			<td>152.1700075- 40</td>
			<td>152.1700150- 30</td>
			<td>142.1702200 (боковой вывод)</td>
			<td>142.1701240 с торцевыми шлицами</td>
			<td>152.1770010-90</td>
			<td>152.1770044 шлицы серийные</td>
			<td>14.1701200 (14.1701205) широкая под спидометр</td>
			<td>Устанавливается на автомобиль без подпедального клапана</td>
		</tr>
        </tbody>
    </table>
    <hr>
    

    <p></p>
    
    <h3>Комплектации КПП-152 под беззазорный привод сцепления</h3>
    <table class="table table-harki table-hover table-striped table-sm table-responsive">
        <tbody>
            <thead>
                <tr class="text-center">
                    <th>Обозначение КП</td>
                    <th>Обозначение КП без делителя</td>
                    <th>Обозначение КП для транспортировки</td>
                    <th>Рычаг вала вилки выключения сцепления</td>
                    <th>Муфта сцепления</td>
                    <th>Крышка первичного вала</td>
                    <th>Опора рычага переключения передач</td>
                    <th>Фланец</td>
                    <th>Крышка подшипника вторичного вала</td>
                    <th>Делитель</td>
                    <th>Соответствующая КП со сцеплением с зазором</td>
                </tr>
            </thead>
            <tr>
                <th>152.1700250 152.1700250- 50</td>
                <td>152.1700151 152.1700151- 10</td>
                <td>152.1700225 152.1700225-50</td>
                <td>19.1601217- 40 19.1601217- 40</td>
                <td>720- 1601180-50 720- 1601180-50</td>
                <td>14.1701039 14.1701039</td>
                <td>14.1702200-10 14.1702200-10</td>
                <td>142.1701240 14.1701240</td>
                <td>14.1701200 широкая под спидометр 14.1701200 широкая под спидометр</td>
                <td>152.1770011 152.1770011</td>
                <td>152.1700050, 152.1700052, 152.1700075 152.1700050-50</td>
            </tr>
            <tr>
                <th>152.1700252- 10</td>
                <td>152.1700151- 20</td>
                <td>152.1700227-10</td>
                <td>19.1601217- 40</td>
                <td>720- 1601180-50</td>
                <td>14.1701039</td>
                <td>14.1702200-10</td>
                <td>152.1701240</td>
                <td>14.1701200 широкая под спидометр</td>
                <td>152.1770011</td>
                <td>152.1700052-10, 152.1700053</td>
            </tr>
            <tr>
                <th>152.1700256 герметичная</td>
                <td>152.1700156</td>
                <td>152.1700231</td>
                <td>19.1601217- 40</td>
                <td>720- 1601180-50</td>
                <td>14.1701039</td>
                <td>14.1702200-10</td>
                <td>142.1701240</td>
                <td>141.1701201 широкая без спидометра</td>
                <td>152.1770211 герметичный</td>
                <td>152.1700056, 152.1700057</td>
            </tr>
            <tr>
                <th>152.1700258</td>
                <td>152.1700156</td>
                <td>152.1700233</td>
                <td>19.1601217- 40</td>
                <td>720- 1601180-50</td>
                <td>14.1701039</td>
                <td>14.1702200-10</td>
                <td>142.1701240</td>
                <td>141.1701201 широкая без спидометра</td>
                <td>152.1770011</td>
                <td>152.1700058, 152.1700059, 152.1700075-10</td>
            </tr>
            <tr>
                <th>152.1700270- 80 под КОМ от промвала</td>
                <td>152.1700150- 90</td>
                <td>152.1700240-80</td>
                <td>19.1601217- 40</td>
                <td>720- 1601180-50</td>
                <td>14.1701039</td>
                <td>14.1702200-10</td>
                <td>142.1701240</td>
                <td>14.1701200 широкая под спидометр</td>
                <td>152.1770011</td>
                <td>152.1700070-80</td>
            </tr>

    <!-- разрыв таблицы ------------------------------------  -->
    </tbody>
    <tbody>
        <tr class="clickable" data-toggle="collapse" data-target="#group-of-rows-3" aria-expanded="false" aria-controls="group-of-rows-3"
        onclick="$('[aria-controls=group-of-rows-3]').hide()" >
            <td colspan="100%" style="font-size: 15px; font-weight: 600;">
                    Показать всё
            </td>
        </tr>
    </tbody>
    <tbody id="group-of-rows-3" class="collapse">


            <tr>
                <th>152.1700270- 90 под КОМ от промвала</td>
                <td>152.1700150- 90</td>
                <td>152.1700240-90</td>
                <td>19.1601217- 40</td>
                <td>720- 1601180-50</td>
                <td>14.1701039</td>
                <td>142.1702200 боковой вывод</td>
                <td>142.1701240</td>
                <td>14.1701200 широкая под спидометр</td>
                <td>152.1770011</td>
                <td>152.1700070-90</td>
            </tr>
            <tr>
                <th>152.1700271- 80 под КОМ от промвала</td>
                <td>152.1700151- 90</td>
                <td>152.1700241-80</td>
                <td>19.1601217- 40</td>
                <td>720- 1601180-50</td>
                <td>14.1701039</td>
                <td>14.1702200-10</td>
                <td>142.1701240</td>
                <td>141.1701201 широкая без спидометра</td>
                <td>152.1770011</td>
                <td>152.1700071-80</td>
            </tr>
            <tr>
                <th>152.1700271- 90 под КОМ от промвала</td>
                <td>152.1700151- 90</td>
                <td>152.1700241-90</td>
                <td>19.1601217- 40</td>
                <td>720- 1601180-50</td>
                <td>14.1701039</td>
                <td>142.1702200 боковой вывод</td>
                <td>142.1701240</td>
                <td>141.1701201 широкая без спидометра</td>
                <td>152.1770011</td>
                <td>152.1700071-90</td>
            </tr>
            <tr>
                <th>152.1700275- 20</td>
                <td>152.1700156</td>
                <td>152.1700245-20</td>
                <td>19.1601217- 40</td>
                <td>720- 1601180-50</td>
                <td>14.1701039</td>
                <td>142.1702200 боковой вывод</td>
                <td>142.1701240</td>
                <td>141.1701201 широкая без спидометра</td>
                <td>152.1770011</td>
                <td>152.1700075-20</td>
            </tr>
            <tr>
                <th>152.1700275- 30</td>
                <td>152.1700151</td>
                <td>152.1700245-30</td>
                <td>19.1601217- 40</td>
                <td>720- 1601180-50</td>
                <td>14.1701039</td>
                <td>142.1702200 боковой вывод</td>
                <td>142.1701240</td>
                <td>141.1701201 широкая без спидометра</td>
                <td>152.1770011</td>
                <td>152.1700075-30</td>
            </tr>
        </tbody>
    </table>
            
    <hr>


    <div class="alert alert-info">
        <b>Восстановленная коробка передач</b>. <br>
        В качестве бюджетного варианта можем предложить коробку передач КамАЗ бывший в эксплуатации,
        прошедший тщательную дефектовку на задиры, трещины, целостность шеек, при которой меняются 
        втулки под распредвал и проводятся работы для подготовки к установке.
        <br>
        <br>
        Гарантия на восстановленную коробку составит 3-6 месяца.
    </div>
    <div class="alert alert-success">
        Примем сломанную коробку передач в счёт новой (до 35% от стоимости).
    </div>
    <hr>
    
    
    <h3></h3>

    <div id="nanogallery2" data-nanogallery2 = '{
        "thumbnailLabel":{"display":false},
        "thumbnailBorderVertical":0,"thumbnailBorderHorizontal":0,
        "thumbnailWidth":   "auto XL800",
        "thumbnailHeight":   300,
        "thumbnailAlignment": "center", 
        "fillWidth": "center", 
        "thumbnailDisplayTransition":"slideUp",
        "thumbnailHoverEffect2":"scale120|toolsAppear|toolsAppear",
        "itemsBaseURL":     ""
      }' >
      <!-- fillWidth -->
      
      <a href = "/assets/img/kpp/kpp-152-kamaz_10.jpg" data-ngThumb = "/assets/img/kpp/kpp-152-kamaz_10.jpg" title="{{product.name}}"> Чертеж {{product.name}} </a>
      <a href = "/assets/img/kpp/kpp-152-kamaz_11.jpg" data-ngThumb = "/assets/img/kpp/kpp-152-kamaz_11.jpg" title="{{product.name}}"> Схема {{product.name}} </a>
      
    </div>

    <p>
        Агрегаты имеют все необходимые сертификаты и сопроводительные документы.        
    </p>
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 100px;">&nbsp;</div>
  
</div>