---
layout: default_info
title: Коробка передач КПП-15 на КамАЗ 43114, 43118, 43253 - ЗапКам.Запчасти
description: Продаем коробки передач КПП-15 на КамАЗ 43114, 43118, 43253 с доставкой по всей России. В наличии новые, восстановленные, капремонт. Прайс-лист, модификации, каталог, описание, характеристики.
keywords: Коробка передач КамАЗ 15 4310 43114, 43118, 43253
hero-title: Коробки передач на технику КамАЗ
h1: Коробка передач КПП-15 КамАЗ
h2:
phone: 
phone_title: 
---

<!-- Товар ---->
<div id="anc_1"></div>
{% assign page_url = "kpp_15_kamaz" %}
{% assign product = site.data.k4310 | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
    <h3>Описание</h3>
    <p>
        КПП-15 - 10-ступенчатая коробка передач. Основное отличие от КПП 15 от 14 серии в наличии делителя.<br>
        <a href="/kamaz-4310/catalog/kpp_korobki_peredach/kpp_14_kamaz.html">14 КПП</a> – это пятиступенчатая коробка передач модели, а КПП 15 – десятиступенчатая коробка передач.
        Каждая скорость может быть как повышенной, так и пониженной. 
       
    </p>
    <p>
        КПП 15 более не выпускается. Данная трансмиссия заменена коробками <a href="/kamaz-4310/catalog/kpp_korobki_peredach/kpp_152_kamaz.html">152-ой модели</a> c усиленным валом и улучшенными характеристиками<div class=""></div>
    </p>
    <p>
      <b>Делитель передач</b> - механический, редуктор состоит из одной пары цилиндрических шестерен, 
      ведущего и промежуточного валов, синхронизатора и механизма переключения передач. Управление механизмом переключения передач пневматическое.

    </p>   

    
    <p>
        <b>Передаточные числа КПП-15</b>
        <table class="table table-sm text-left" style="width:auto;">
            <tbody>
              <tr>
                <td rowspan="2">первая передача</td>
                <td>низшая</td>
                <td>7,82</td>
                </tr>
              <tr>
                <td>высшая</td>
                <td>6,38*</td>
                </tr>
              <tr>
                <td rowspan="2">вторая передача</td>
                <td>низшая</td>
                <td>4,03</td>
                </tr>
              <tr>
                <td>высшая</td>
                <td>3,29*</td>
                </tr>
              <tr>
                <td rowspan="2">третья передача</td>
                <td>низшая</td>
                <td>2,50</td>
                </tr>
              <tr>
                <td>высшая</td>
                <td>2.04*</td>
                </tr>
              <tr>
                <td rowspan="2">четвертая передача</td>
                <td>низшая</td>
                <td>1,53</td>
                </tr>
              <tr>
                <td>высшая</td>
                <td>1,25*</td>
                </tr>
              <tr>
                <td rowspan="2">пятая передача</td>
                <td>низшая</td>
                <td>1,0</td>
                </tr>
              <tr>
                <td>высшая</td>
                <td>0,815</td>
                </tr>
              <tr>
                <td rowspan="2">задний ход</td>
                <td>низшая</td>
                <td>7,38</td>
                </tr>
              <tr>
                <td>высшая</td>
                <td>6,02*</td>
                </tr>
              </tbody>
            </table>
    </p>
    
    <h3>Технические характеристики КПП-15</h3>
    <table class="table table-hover table-striped table-responsive" style="width:auto;">
        <tbody>
            <tr>
                <td class="">Подшипники валов</td>
                <td>В опорах первичного вала делителя применяются шариковые подшипники, у промежуточного вала делителя
                    передняя опора&nbsp;— шариковый подшипник, а задняя опора&nbsp;— роликовый без внутреннего кольца. В
                    опорах первичного вала КП применяются спереди роликовый подшипник без колец, сзади&nbsp;— шариковый
                    подшипник. Для вторичного вала КП применяются передний роликовый и задний шариковый подшипники.
                    Промежуточный вал КП опирается спереди на роликовый подшипник, сзади&nbsp;— на роликовый двухрядный
                    сферический подшипник.</td>
            </tr>
            <tr>
                <td class="">Подшипники шестерен</td>
                <td>Роликовые двухрядные с сепараторами без колец, подшипник шестерни четвертой передачи без сепаратора.
                </td>
            </tr>
            <tr>
                <td class="">Синхронизаторы</td>
                <td>Инерционного типа, пальчиковые с латунными конусными кольцами.</td>
            </tr>
            <tr>
                <td class="">Шестерни</td>
                <td>С косыми зубьями, кроме первой передачи и передачи заднего хода, постоянного зацепления.</td>
            </tr>
            <tr>
                <td class="">Система смазывания</td>
                <td>Комбинированная. Все детали смазывается разбрызгиванием, подшипники шестерен коробки передач и делителя
                    имеют, кроме того, дополнительную подпитку от маслонагнетающего устройства.</td>
            </tr>
            <tr>
                <td class="">Отбор мощности</td>
                <td>От основной коробки передач с двух сторон через люки по ГОСТ&nbsp;12323-66; с правой стороны - от
                    зубчатого венца блока шестерен заднего хода; с левой&nbsp;— от зубчатого венца шестерени заднего хода
                    промежуточного вала; возможна установка КОМ вместо верхней крышки КП.</td>
            </tr>
            <tr>
                <td class="">Управление коробкой передач</td>
                <td>Механическое, с дистанционным приводом для основной коробки и пневматическое преселекторное для
                    делителя.</td>
            </tr>
            <tr>
                <td class="">Спидометр</td>
                <td>Привод спидометра двухступенчатый, состоит из постоянной червячной пары и сменной пары цилиндрических
                    прямозубых шестерен.</td>
            </tr>
        </tbody>
    </table>

    <p>
        
    </p>
    <hr>

   
    <hr>
    <div class="alert alert-info">
        <b>Восстановленная коробка передач</b>. <br>
        В качестве бюджетного варианта можем предложить коробку передач КамАЗ бывший в эксплуатации,
        прошедший тщательную дефектовку на задиры, трещины, целостность шеек, при которой меняются 
        втулки под распредвал и проводятся работы для подготовки к установке.
        <br>
        <br>
        Гарантия на восстановленную коробку составит 3-6 месяца.
    </div>
    <div class="alert alert-success">
        Примем сломанную коробку передач в счёт новой (до 35% от стоимости).
    </div>
    <hr>
    
    
    <h3></h3>

    <div id="nanogallery2" data-nanogallery2 = '{
        "thumbnailLabel":{"display":false},
        "thumbnailBorderVertical":0,"thumbnailBorderHorizontal":0,
        "thumbnailWidth":   "auto XL800",
        "thumbnailHeight":   300,
        "thumbnailAlignment": "center", 
        "fillWidth": "center", 
        "thumbnailDisplayTransition":"slideUp",
        "thumbnailHoverEffect2":"scale120|toolsAppear|toolsAppear",
        "itemsBaseURL":     ""
      }' >
      <!-- fillWidth -->
      
      <a href = "/assets/img/kpp/kpp-15-kamaz_4.jpg" data-ngThumb = "/assets/img/kpp/kpp-15-kamaz_4.jpg" title="{{product.name}}"> Чертеж {{product.name}} </a>
      <a href = "/assets/img/kpp/kpp-15-kamaz_6_delitel.jpg" data-ngThumb = "/assets/img/kpp/kpp-15-kamaz_6_delitel.jpg" title="{{product.name}}"> Делитель - {{product.name}} </a>
      
    </div>

    <p>
        Агрегаты имеют все необходимые сертификаты и сопроводительные документы.        
    </p>
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 100px;">&nbsp;</div>
  
</div>