---
layout: default_info
title: Коробка передач КПП-154 на КамАЗ 43118, 65115, 43505, 5350, 53605 - ЗапКам.Запчасти
description: Продаем коробки передач КПП-154 на КамАЗ 43118, 65115, 43505, 5350, 53605 с доставкой по всей России. В наличии новые, восстановленные, капремонт. Прайс-лист, модификации, каталог, описание, характеристики.
keywords: Коробка передач КамАЗ 15443118, 65115, 43505, 5350, 53605
hero-title: Коробки передач на технику КамАЗ
h1: Коробка передач КПП-154 КамАЗ
h2:
phone:
phone_title: 
categories: [<a href="/kamaz-4310/catalog/kpp_korobki_peredach/index.html">КПП - Коробки передач</a> ]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.k4310 | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
    <h3>Описание</h3>
    <p>КПП-154 - механическая, 10-ступенчатая, состоит из основного редуктора, унифицированного с КП 144 
        и двухступенчатого делителя, расположенного впереди основной коробки. 
        Применяются для автомобилей с двигателями, имеющими крутящий момент до 1100 Н·м. 
        Основное отличие от КПП-152 — конические подшипники в опорах первичного,
        промежуточного и вторичного валов КП.
         </p>
    <p>
        Применение делителя передач улучшает тяговые качества автомобиля, облегчает управление автомобилем.
    </p>
    <p>
        Основное отличие модели 154 от 152 состоит в использовании конических подшипников,
         что повлекло замену валов, усиление синхронизаторы, и использовании более мощных сцеплений.
         <br>
         Поэтому замена КПП-154 на 152 - не рекомендуется.<br>
         А менять КПП-152 на 154 - возможно, но дорого и трудоемко.
    </p>   
    
    <p>
       
    </p>
    <h3>Передаточные числа</h3>
    <table class="table table-hover table-striped table-responsive-sm" style="width:auto;">
        <tbody>
            <tr>
                <th>Номер передачи</th>
                <td>1Н</td>
                <td>1В</td>
                <td>2Н</td>
                <td>2В</td>
                <td>3Н</td>
                <td>2В</td>
                <td>4Н</td>
                <td>4В</td>
                <td>5Н</td>
                <td>5В</td>
                <td>3ХН</td>
                <td>3ХВ</td>
            </tr>
            <tr>
                <th>Передаточные числа</th>
                <td>7,82</td>
                <td>6,38</td>
                <td>4,03</td>
                <td>3,29</td>
                <td>2,5</td>
                <td>2,04</td>
                <td>1,53</td>
                <td>1,25</td>
                <td>1</td>
                <td>0,815</td>
                <td>7,38</td>
                <td>6,02</td>
            </tr>
        </tbody>
    </table>
    

    <h3>Технические характеристики КПП-154</h3>
    <table class="table table-hover table-striped table-responsive-sm" style="width:auto;">
        <tbody>
            <tr>
                <th>Подшипники валов</td>
                <td>конические однорядные, передний подшипник первичного вала делителя - шариковый</td>
            </tr>
            <tr>
                <th>Подшипники шестерен</td>
                <td>роликовые двухрядные с сепараторами без колец, подшипник шестерни четвертой передачи без сепаратора</td>
            </tr>
            <tr>
                <th>Синхронизаторы</td>
                <td>инерционного типа, пальчиковые, со стальными кольцами, конусные поверхности которых покрыты молибденом</td>
            </tr>
            <tr>
                <th>Шестерни</td>
                <td>с косыми зубьями, кроме первой передачи и передачи заднего хода, постоянного зацепления</td>
            </tr>
            <tr>
                <th>Система смазывания</td>
                <td>комбинированная. Все детали смазывается разбрызгиванием, подшипники шестерен коробки передач и делителя имеют, кроме того, дополнительную подпитку от масло-нагнетающего устройства</td>
            </tr>
            <tr>
                <th>Отбор мощности</td>
                <td>от основной коробки передач с двух сторон через люки по ГОСТ 12323; с правой стороны - от зубчатого венца блока шестерен заднего хода; с левой - от зубчатого венца шестерни заднего хода промежуточного вала. Возможна установка КОМ вместо верхней крышки КП.</td>
            </tr>
            <tr>
                <th>Управление коробкой передач</td>
                <td>механическое, с дистанционным приводом для основной коробки и пневмомеханическое преселекторное для делителя</td>
            </tr>
        </tbody>
    </table>
    <hr>

    <p></p>

    <h3>Комплектации КП 154    </h3>
    <table class="table table-harki table-hover table-striped table-sm table-responsive-sm">
        <tbody>
            <thead>
                <tr class="text-center">
                    <th>Обозначение КП</td>
                    <th>Вид сцепления, картер сцепления</td>
                    <th>Крышка первичного вала</td>
                    <th>Вилка выключения сцепления, вал вилки, рычаг вала вилки</td>
                    <th>Обозначение КП без делителя</td>
                    <th>Опора рычага переключения передач</td>
                    <th>Фланец</td>
                    <th>Делитель, первичный вал делителя</td>
                    <th>Первичный вал КП, промежуточный вал КП</td>
                    <th>Крышка подшипника вторичного вала</td>
                </tr>
            </thead>
                <tr>
                    <th>154.1700050 SAE1</td>
                    <td>17.1600010-01 (диафрагменное, г.Тюмень), 17.1601008-10</td>
                    <td>14.1701039-40 (в КП установлена муфта 17.1601180)</td>
                    <td>16.1601203, 14.1601215, 53215-1601217 под ПГУ 5320- 1609510</td>
                    <td>154.1700150</td>
                    <td>530-1702200 боковой вывод</td>
                    <td>154.1701240 с торцовыми шлицами (max. &Oslash;180)</td>
                    <td>154.1770010, 154.1770044 (шлицы 1 3&frasl;4 &lsquo;)</td>
                    <td>154.1701027 с муфтой, 154.1701048</td>
                    <td>154.1701201</td>
                </tr>
                <tr>
                    <th>154.1700050- 01 SAE1, с импортными подшипниками</td>
                    <td>17.1600010-01 (диафрагменное,г.Тюмень), 17.1601008-10</td>
                    <td>14.1701039-40 (в КП установлена муфта 17.1601180)</td>
                    <td>16.1601203, 14.1601215, 53215-1601217 под ПГУ 5320- 1609510</td>
                    <td>154.1700150-01</td>
                    <td>142.1702200 боковой вывод</td>
                    <td>154.1701240 с торцовыми шлицами (max. &Oslash;180)</td>
                    <td>154.1770010, 154.1770044 (шлицы 1 3&frasl;4 &lsquo;)</td>
                    <td>154.1701027 с муфтой, 154.1701048</td>
                    <td>154.1701201- 01</td>
                </tr>
                <tr>
                    <th>154.1700051 SAE1</td>
                    <td>21.1600010 Sachs MFZ 430, 17.1601008-10</td>
                    <td>14.1701039-50</td>
                    <td>19.1601203-10, 19.1601215, 19.1601217-10 прямой</td>
                    <td>154.1700150</td>
                    <td>530-1702200 боковой вывод</td>
                    <td>154.1701240 с торцовыми шлицами (max. &Oslash;180)</td>
                    <td>154.1770010-10, 154.1770044 (шлицы 1 3&frasl;4 &lsquo;)</td>
                    <td>154.1701027 с муфтой, 154.1701048</td>
                    <td>154.1701201</td>
                </tr>
                <tr>
                    <th>154.1700051- 01 SAE1, с импортными подшипниками</td>
                    <td>21.1600010 Sachs MFZ 430, 17.1601008-10</td>
                    <td>14.1701039-50</td>
                    <td>19.1601203-10, 19.1601215, 19.1601217-10 прямой</td>
                    <td>154.1700150-01</td>
                    <td>530-1702200 боковой вывод</td>
                    <td>154.1701240 с торцовыми шлицами (max. &Oslash;180)</td>
                    <td>154.1770010-10, 154.1770044 (шлицы 1 3&frasl;4 &lsquo;)</td>
                    <td>154.1701027 с муфтой, 154.1701048</td>
                    <td>154.1701201- 01</td>
                </tr>
                <tr>
                    <th>154.1700051-20 SAE1</td>
                    <td>21.1600010 Sachs MFZ 430, 17.1601008-10</td>
                    <td>14.1701039-50</td>
                    <td>19.1601203-10, 19.1601215, 19.1601217-10 прямой</td>
                    <td>154.1700150</td>
                    <td>530-1702200 боковой вывод</td>
                    <td>154.1701240 с торцовыми шлицами (max. &Oslash;180)</td>
                    <td>154.1770010-20 (с В2111-4 или с МПДП без редукционного клапана), 154.1770044 (шлицы 1 3&frasl;4 &lsquo;)</td>
                    <td>154.1701027 с муфтой, 154.1701048</td>
                    <td>154.1701201</td>
                </tr>
                <tr>
                    <th>154.1700051-30 SAE1</td>
                    <td>21.1600010 Sachs MFZ 430, 17.1601008-10</td>
                    <td>14.1701039-50</td>
                    <td>19.1601203-10, 19.1601215, 19.1601217-10 прямой</td>
                    <td>154.1700150</td>
                    <td>14.1702200-10</td>
                    <td>154.1701240 с торцовыми шлицами (max. &Oslash;180)</td>
                    <td>154.1770010-30 (с крышкой 154.1601030- 61 под опору привода, с В2111-4 или с МПДП без редукционного клапана), 154.1770044 (шлицы 1 3&frasl;4 &lsquo;)</td>
                    <td>154.1701027 с муфтой, 154.1701048</td>
                    <td>154.1701201</td>
                </tr>
                <tr>
                    <th>154.1700051-40 SAE1</td>
                    <td>21.1600010 Sachs MFZ 430, 17.1601008-10</td>
                    <td>14.1701039-50</td>
                    <td>19.1601203-10, 19.1601215, 19.1601217-10 прямой</td>
                    <td>154.1700150</td>
                    <td>530-1702200-40 укороченный боковой вывод</td>
                    <td>154.1701240 с торцовыми шлицами (max. &Oslash;180)</td>
                    <td>154.1770010-20 (с В2111-4 или с МПДП без редукционного клапана), 154.1770044 (шлицы 1 3&frasl;4 &lsquo;)</td>
                    <td>154.1701027 с муфтой, 154.1701048</td>
                    <td>154.1701201</td>
                </tr>


        <!-- разрыв таблицы -->
        </tbody>
        <tbody>
            <tr class="clickable" data-toggle="collapse" data-target="#group-of-rows-2" aria-expanded="false" aria-controls="group-of-rows-2"
            onclick="$('[aria-controls=group-of-rows-2]').hide()" >
                <td colspan="100%" style="font-size: 15px; font-weight: 600;">
                        Показать всё
                </td>
            </tr>
        </tbody>
        <tbody id="group-of-rows-2" class="collapse">

                <tr>
                    <th>154.1700051-70 SAE1 для КОМ от промвала</td>
                    <td>21.1600010 Sachs MFZ 430, 17.1601008-10</td>
                    <td>14.1701039-50</td>
                    <td>19.1601203-10, 19.1601215, 19.1601217-10 прямой</td>
                    <td>154.1700150-90</td>
                    <td>Нет опоры. Стоит крышка- заглушка</td>
                    <td>154.1701240 с торцовыми шлицами (max. &Oslash;180)</td>
                    <td>154.1770010-20 (с В2111-4 или с МПДП без редукционного клапана), 154.1770044 (шлицы 1 3&frasl;4 &lsquo;)</td>
                    <td>154.1701027 с муфтой, 154.1701048- 90 для присоединения КОМ</td>
                    <td>154.1701201</td>
                </tr>
                <tr>
                    <th>154.1700051-71 SAE1 для КОМ от промвала</td>
                    <td>21.1600010 Sachs MFZ 430, 17.1601008-10</td>
                    <td>14.1701039-50</td>
                    <td>19.1601203-10, 19.1601215, 19.1601217-10 прямой</td>
                    <td>154.1700150</td>
                    <td>Нет опоры. Стоит крышка- заглушка</td>
                    <td>154.1701240 Круглый с торцовыми шлицами (max. &Oslash;180)</td>
                    <td>154.1770010-20 (с В2111-4 или с МПДП без редукционного клапана), 154.1770044 (шлицы 1 3&frasl;4 &lsquo;)</td>
                    <td>154.1701027 с муфтой, 154.1701048</td>
                    <td>154.1701201</td>
                </tr>
                <tr>
                    <th>154.1700051-80 SAE1 для КОМ от промвала</td>
                    <td>21.1600010 Sachs MFZ 430, 17.1601008-10</td>
                    <td>14.1701039-50</td>
                    <td>19.1601203-10, 19.1601215, 19.1601217-10 прямой</td>
                    <td>154.1700150-90</td>
                    <td>14.1702200-10</td>
                    <td>154.1701240 с торцовыми шлицами (max. &Oslash;180)</td>
                    <td>154.1770010-30 (с крышкой 154.1601030- 61 под опору привода, с В2111-4 или с МПДП без редукционного клапана), 154.1770044 (шлицы 1 3&frasl;4 &lsquo;)</td>
                    <td>154.1701027 с муфтой, 154.1701048- 90 для присоединения КОМ</td>
                    <td>154.1701201</td>
                </tr>
                <tr>
                    <th>154.1700051-90 SAE1 для КОМ от промвала</td>
                    <td>21.1600010 Sachs MFZ 430, 17.1601008-10</td>
                    <td>14.1701039-50</td>
                    <td>19.1601203-10, 19.1601215, 19.1601217-10 прямой</td>
                    <td>154.1700150-90</td>
                    <td>530-1702200 боковой вывод</td>
                    <td>154.1701240 с торцовыми шлицами (max. &Oslash;180)</td>
                    <td>154.1770010-20 (с В2111-4 или с МПДП без редукционного клапана), 154.1770044 (шлицы 1 3&frasl;4 &lsquo;)</td>
                    <td>154.1701027 с муфтой, 154.1701048- 90 для присоединения КОМ</td>
                    <td>154.1701201</td>
                </tr>
                <tr>
                    <th>154.1700056 SAE1, для автомобилей 4350, 5350, 4326</td>
                    <td>21.1600010 Sachs MFZ 430, 17.1601008-10</td>
                    <td>14.1701039-50</td>
                    <td>19.1601203-10, 19.1601215, 19.1601217-20 изогнутый</td>
                    <td>154.1700150</td>
                    <td>530-1702200 боковой вывод</td>
                    <td>154.1701240 с торцовыми шлицами (max. &Oslash;180)</td>
                    <td>154.1770010-10, 154.1770044 (шлицы 1 3&frasl;4 &lsquo;)</td>
                    <td>154.1701027 с муфтой, 154.1701048</td>
                    <td>154.1701201</td>
                </tr>
                <tr>
                    <th>154.1700058 SAE1</td>
                    <td>21.1600010 Sachs MFZ 430, 17.1601008-10</td>
                    <td>14.1701039-50</td>
                    <td>19.1601203-10, 19.1601215, 19.1601217-20 изогнутый</td>
                    <td>154.1700158</td>
                    <td>Вместо крышки КП установлен КОМ МП03 с боковым выводом</td>
                    <td>154.1701240 с торцовыми шлицами (max. &Oslash;180)</td>
                    <td>154.1770010-10, 154.1770044 (шлицы 1 3&frasl;4 &lsquo;)</td>
                    <td>154.1701027 с муфтой, 154.1701048</td>
                    <td>154.1701201</td>
                </tr>
                <tr>
                    <th>154.1700058-10 SAE1</td>
                    <td>17.1600010-01 (диафрагменное, г.Тюмень), 17.1601008-10</td>
                    <td>14.1701039- 40 (в КП установлена муфта 17.1601180)</td>
                    <td>16.1601203, 14.1601215, 53215-1601217 под ПГУ 5320- 1609510</td>
                    <td>154.1700158</td>
                    <td>Вместо крышки КП установлен КОМ МП03 с боковым выводом</td>
                    <td>154.1701240 с торцовыми шлицами (max. &Oslash;180)</td>
                    <td>154.1770010, 154.1770044 (шлицы 1 3&frasl;4 &lsquo;)</td>
                    <td>154.1701027 с муфтой, 154.1701048</td>
                    <td>154.1701201</td>
                </tr>
            </tbody>
        </table>
                
    <hr>
    

  

    <div class="alert alert-info">
        <b>Восстановленная коробка передач</b>. <br>
        В качестве бюджетного варианта можем предложить коробку передач КамАЗ бывший в эксплуатации,
        прошедшую капитальный ремонт.
        <br>
        <br>
        Гарантия на восстановленную коробку составит 3-6 месяца.
      </div>
      <div class="alert alert-success">
        Примем сломанную коробку передач в счёт новой (до 35% от стоимости).
      </div>
      <hr>
    
    
    <h3></h3>

    <div id="nanogallery2" data-nanogallery2 = '{
        "thumbnailLabel":{"display":false},
        "thumbnailBorderVertical":0,"thumbnailBorderHorizontal":0,
        "thumbnailWidth":   "auto",
        "thumbnailHeight":   240,
        "thumbnailAlignment": "center", 
        "fillWidth": "center", 
        "thumbnailDisplayTransition":"slideUp",
        "thumbnailHoverEffect2":"scale120|toolsAppear|toolsAppear",
        "itemsBaseURL":     ""
      }' >
      <!-- fillWidth -->
      
      <a href = "/assets/img/kpp/kpp-154-kamaz_10.jpg" data-ngThumb = "/assets/img/kpp/kpp-154-kamaz_10.jpg" title="{{product.name}}"> Чертеж {{product.name}} </a>
      <a href = "/assets/img/kpp/kpp-154-kamaz_11.jpg" data-ngThumb = "/assets/img/kpp/kpp-154-kamaz_11.jpg" title="{{product.name}}"> Схема {{product.name}} </a>
      
    </div>

    <p>
        Агрегаты имеют все необходимые сертификаты и сопроводительные документы.        
    </p>
    <p></p>
    {%- include_relative _like_products.mhtml prod = product -%}
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 100px;">&nbsp;</div>
  
</div>