---
layout: default_main
title: Ремонт двигателя КамАЗ-5490 
description: Производим капитальный ремонт двигателей КамАЗ для всей России. Продаем восстановленные двигатели. Обменяем ваш старый двигатель на новый. Ремонт двигателя КАМАЗ 740 евро-2 евро-3 Cummins
keywords: Запчасти на КамАЗ-5490
hero-title: Запасные части для КамАЗ 5490 <span class="small1"> / 6520, 6580 </span>

phone: 9872721224
phone_title: (987) 272 12-24
---

  <!-- Header Area wrapper Starts -->
  <header id="header-wrap">
    <div class="head">
      <div class="head__inner">
        <!-- + Navbar  -->
        <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar">
          <div class="container">
            <a href="/" class="navbar-brand" style="display: contents;"> <img src="/assets/img/logo2.png" alt=""> </a> 
          
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
              aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <i class="lni-menu" style="color: lightblue;"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto w-100 justify-content-end clearfix" id="top-submenu">
                <li class="nav-item">
                  <a class="nav-link" href="javascript:" onclick="$('html, body').animate({ scrollTop: 0}, 600);" >
                    <i class="lni-home"></i> Начало
                  </a>
                </li>
                
                {% include top-submenu.html phone = "9872721224" phone_title = "(987) 272 12-24" %} 
              
              </ul>
            </div>
          </div>
        </nav>
        <!-- Navbar End -->

        
        <!-- Hero Area Start -->
        <div id="hero-area" class="bg-blue">
          <div class="container">
            <div class="row hero-area-bg hero-area-bg-4310" >
              <div class="col-md-8 col-xs-12">
                <div class="contents">
                  <ul>
                    <li style="margin-bottom:0px;">
                      <h1 class="title text-left w-100">Капитальный ремонт двигателей и КПП </h1>
                    </li>
                    <li style="margin-top:0px;">
                      <h2 class="title w-100"> на технику КамАЗ </h2>
                    </li>


                    <li class="text-right"> &nbsp;
                      <button class="btn btn-lg btn-blue" style="float: right;" data-toggle="modal" data-target="#requestModal"
                        onclick="ym(57475078, 'reachGoal', 'RequestBill'); return true;">
                        Запросить предложение</button> </li>
                    <li><i class="lni-chevron-down"></i>&nbsp;&nbsp;&nbsp;Оперативная отгрузка по России</li>
                    <li><i class="lni-chevron-down"></i>&nbsp;&nbsp;&nbsp;Выгодный обмен (trade-in) неисправных моторов на новые</li>
                    <li><i class="lni-chevron-down"></i>&nbsp;&nbsp;&nbsp;10 лет опыта, сотни довольных клиентов </li>

                    <li>&nbsp;</li>

                    <li id="hero-menu">
                      <p class="title text-left w-100">
                        <a href="/kamaz-4310/"> Всё на КамАЗ-4310</a>
                        &nbsp; • &nbsp; <a href="/kamaz-4310/catalog/kpp_korobki_peredach/"> Коробки передач </a>
                        &nbsp; • &nbsp; <a href="/kardanyi_valy/index.html"> Карданные валы </a>
                      </p>
                    </li>

                  </ul>


                </div>
              </div>
              <div class="col-md-4 col-xs-12 text-center">

              </div>
            </div>
          </div>
        </div>
        <!-- Hero Area End -->
      </div>
    </div>
  </header>



  <section id="projects" class="section-padding articles">
      <div class="container">
          <div class="text-center justify-content-center">
              <div class="section-header">
                  <h1 class="section-title">Капитальный ремонт</h1>
                  <div class="shape wow fadeInDown"></div>
              </div>
          </div>
          
    <div class="row text-center">
        <div class="engine col-md-4 col-xs-12 text-center">
            <h5 style="min-width: 3em;">Качественный результат. <br> Гарантия 6 мес. </h5>
            
          <div class="text-center" >
            <img src="/assets/img/dvigatels/engine_1.jpg" alt="Капитальный ремонт двигателя КамАЗ"
              style="max-width:280px;object-fit: cover; height: 180px;" class="img-thumbnail" />
            
          </div>
        </div>

        <div class="engine col-md-4 col-xs-12  text-center">
            <h5 style="min-width: 3em;">Только оригинальные запчасти, купленные на заводе КамАЗ</h5>
          <div class="text-center" >
            <img src="/assets/img/projects/parts.jpg" alt="Оригинальные запчасти КамАЗ для ремонта двигателей"
            style="max-width:280px;object-fit: cover; height: 180px;"
            class="img-thumbnail" />
            
          </div>
        </div>

        <div class="engine col-md-4 col-xs-12  text-center">
            <h5 style="min-width: 3em;">Высококвалифицированные специалисты.</h5>
          <div class="text-center">
            <img src="/assets/img/projects/repair_400.jpg" alt="Оригинальные запчасти КамАЗ для ремонта двигателей"
            style="max-width:280px;object-fit: cover; height: 180px;"  class="img-thumbnail" />
            
          </div>
        </div>

    </div>


    
    <div class="row">
      <div class="col-md-1 "></div>
      <div class="col-md-4 ">
    
        <br>
      
    
      </div>
    
      <div class="col-md-6 ">
        <br>
        
        <p>Цена ремонта зависит от нескольких факторов:<br>
          - общее состояние двигателя.<br>
          - состояние навесного оборудования;<br>
          - необходимый вид ремонта (капитальный, техосмотр).</p>
        <br>
        <i class="lni-check-mark-circle"></i> &nbsp;Сначала двигатель КАМАЗ разбирается, проводится дефектовка,
        определяются список запчастей.<br />
        <i class="lni-check-mark-circle"></i>&nbsp;Используются только оригинальные, закупаемые в ООО «АвтоЗапчасть КАМАЗ»
        (дочерняя компания ПАО "КамАЗ") <br />
        <i class="lni-check-mark-circle"></i>&nbsp; Все запчасти для ремонта в наличии. <br />
    
        <br>
        <strong>Частые причины неисправностей: </strong> <br>
        <p></p>
    
    
      </div>
   
    </div>
</div>

      </div>
  </section>




  <section id="priemyshestva" class="section-padding  bg-gray">
    <div class="container text-center justify-content-center">
      <div class="section-header">
        <h1>Преимущества</h1>
      </div>
      <div class="section-header">
        <div class="shape wow fadeInDown"></div>
        <div class="about-area">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-xs-12 priemyshestva">
              <i class="lni-map"></i>
              Большой опыт в ремонте двигателей</div>
            <div class="col-lg-3 col-md-4 col-xs-12 priemyshestva">
              <i class="lni-medall"></i>
              <!-- <img src="assets/img/feature/warranty.png"></i> -->
              Гарантия <br>на все агрегаты</div>
            <div class="col-lg-3 col-md-4 col-xs-12 priemyshestva">
              <i class="lni-users"></i>
              <!-- <img src="assets/img/feature/customer.png"> -->
              Сотни довольных клиентов</div>
            <div class="col-lg-3 col-md-4 col-xs-12 priemyshestva">
              <i class="lni-delivery"></i>
              <!-- <img src="assets/img//feature/delivery.png"> -->
              Работа <be>по всей России</div>
          </div>
        </div>
      </div>
  
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <div class="about-area">
            <div class="site-heading text-center">
              <!-- <h2 class="section-title">О компании</h2> -->
            </div>
            <div class="content" style="padding-top:3em;">
              <div class="blog-lg-area-left">
                <p style="text-align: justify;font-size: 1.2em;">Мы более 15 лет
                  специализируемся на торговле запасными частями для автомобилей КамАЗ.
                </p>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <section id="projects" class="section-padding">
    <div class="container">
        <div class="text-center justify-content-center">
            <div class="section-header">
                <h1 class="section-title">Порядок ремонта двигателей </h1>
                <div class="shape wow fadeInDown"></div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/7Sv0d2nS7VA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

          <div class="col-md-6" style="padding-left: 35px;">
          <h5>1. Дефектовка</h5>
          <p>
          
          </p>
          
          <h5>2. Сборка</h5>
          <p>
          
          </p>
          
          <h5>3. Тестирование и обкатка</h5>
          <p>
          
          </p>
          </div>
          <div class="col-md-12" style="height: 60px;">&nbsp;</div>
          
        </div>
        
    </div>
</section>


{% include advantages.html %}