---
layout: default_info
title: 740.21-1002012 Блок цилиндров КамАЗ под ЯЗДА евро-1, евро-2- ЗапКам.ру
description: Продаем Блок цилиндров КамАЗ, каталожный номер - 740.21-1002012, на двигатели Евро1 740.11, 740.13, 740.30, Евро-2 740.31, 740.50, 740.51, 740.55 с топливной аппаратурой ЯЗДА. Новые оригинал, аналоги, бу, капремонт. Цена, доставка, описание, вес, размеры.
keywords: Блок цилиндров ЯЗДА двигателя КамАЗ Евро-1, Евро-2 740.21-1002012 завод, новый  Восстановленный    Блоки цилиндров  - КамАЗ 43117 Двигатель КамАЗ Евро Евро-1 Евро-2 Евро-3 Евро-4 Коленвал Коленчатый вал Блок цилиндров шатун шейка поршня кольца Bosch ЯЗДА ЦПГ ЯМЗ SANZ насос турбокомпрессор распредвал
hero-title: Запчасти на ДВИГАТЕЛИ КамАЗ
h1: Блок цилиндров ЯЗДА двигателя Евро-1, Евро-2 
h2: 740.21-1002012
phone: 
phone_title: 
categories: [<a href='/dvigatel_zapchasti/category/bloki-cilindrov-kamaz.html'>Блоки цилиндров</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.dvig_zap | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
    <h3>Описание</h3>
    <p>
      Несовместим с блоком предыдущего поколения, имеет отличия:
    </p>
    <ul>
      <li>увеличенный диаметр основной масляной магистрали и каналов;</li>
      <li>увеличены места под установку распределительного вала;</li>
      <li>2 отверстия под крепление теплообменника;</li>
      <li>дополнительные каналы для установки теплообменника;</li>
      <li>обработанные бобышки под установку форсунок охлаждения поршней;</li>
      <li>отверстия под датчик управления муфтой.</li>
    </ul>
    
    <hr>
    
    <!-- wp:heading {"level":3} -->
<h3 id="h-">Блок цилиндров Евро-2</h3>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p><strong>Блок цилиндров</strong>&nbsp;является основной корпусной деталью двигателя и представляет собой отливку из чугуна с вермикулярным графитом.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Отливку подвергают искусственному старению для снятия термических напряжений, что позволяет блоку сохранить правильные геометрические формы и размеры в процессе эксплуатации.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Два ряда полублоков под гильзы цилиндров, отлитых как одно целое с верхней частью картера, расположены под углом 90° один к другому.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Левый ряд расточек под гильзы смещен относительно правого вперед (к вентилятору) на 29,5 мм, что обусловлено установкой на каждую шатунную шейку коленчатого вала двух шатунов.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Каждая расточка имеет два соосных цилиндрических отверстия, выполненные в верхнем и нижнем поясах блока, по которым центрируются гильзы цилиндра, и выточки в верхнем поясе, образующие кольцевые площадки под бурты гильз. Чтобы обеспечить правильную посадку гильзы в блоке, параметры плоскостности и перпендикулярности упорной площадки под бурт гильзы относительно оси центрирующих расточек выполняются с высокой точностью.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>На нижнем поясе выполнены две канавки под уплотнительные кольца, которые предотвращают попадание охлаждающей жидкости из полости охлаждения блока в полость масляного картера двигателя.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Бобышки отверстий под болты крепления головок цилиндров выполнены в виде приливов к поперечным стенкам, образующим рубашку охлаждения, равномерно распределены вокруг каждого цилиндра.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Картерная часть блока связана с крышками коренных подшипников коренными и стяжными болтами. Центрирование крышек коренных подшипников производится горизонтальными штифтами 8 (рисунок 11), которые запрессованы на стыке между блоком и крышками, но большей частью входящими в блок для предотвращения их выпадения при снятии крышек.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Кроме того, крышка пятой коренной опоры центрируется в продольном направлении двумя вертикальными штифтами, обеспечивающими точность совпадения расточек под упорные полукольца коленчатого вала на блоке и на крышках.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Порядок затяжки болтов крепления крышек коренных опор в соответствии с приложением А.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Расточка блока цилиндров</strong> под вкладыши коренных подшипников производится в сборе с крышками, поэтому крышки коренных подшипников невзаимозаменяемы и устанавливаются в строго определенном положении. На каждой крышке нанесен порядковый номер опоры, нумерация которых начинается с переднего торца блока.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>В картерной части развала блока цилиндров в виде бобышек выполнены направляющие толкателей клапанов. Ближе к заднему торцу между четвертым и восьмым цилиндрами, для улучшения циркуляции охлаждающей жидкости, выполнена перепускная труба полости охлаждения. Одновременно она придает блоку еще и дополнительную жесткость. Параллельно оси расточек под подшипники коленчатого вала выполнены расточки под втулки распределительного вала увеличенной размерности.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Диаметры масляных каналов в блоке цилиндров увеличены.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>В нижней части цилиндров отлиты, заодно с блоком, бобышки под форсунки охлаждения поршней.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>С целью установки на блок фильтра с теплообменником на правой стороне увеличина, по сравнению с двигателем 740.10, площадка под фильтр, введены два дополнительных крепежных отверстия и сливное отверстие из фильтра.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>В переходный период освоения производства в составе двигателя 740.30-260 может быть использован блок цилиндров с доработанными привертными направляющими толкателей, со втулками распределительного вала увеличенной размерности, без увеличенных маслоканалов, без фиксации крышек коренных подшипников по горизонтальным штифтам.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Моменты затяжки болтов крепления - 73,5...93 Н м (7,5...9,5 кгс м).</p>
<!-- /wp:paragraph -->

    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
