---
layout: default_info
title: Блок цилиндров Cummins L-серия V=8.9 DCEC, ISLe, QSC, ISC - 4946152/5260557 5260558
description: Продаем новый оригинальный блок Cummins ISLe Евро 2 4928830 5293401 3970750 4089702 3965947 3971385 3965939 5293409, на двигатели КАММИНЗ 6LTAA8.9, L325-20, L340-20, L360-20, L375-20, cummins 6c, isc, qsc 8.3. Цена, доставка, описание, вес, размеры.
keywords: Блок цилиндров Cummins 6Isbe 4946586  новый     4955412, 3973829, 3971950, 4991099 Блоки цилиндров  - КамАЗ, ПАЗ Двигатель КамАЗ Евро Евро-1 Евро-2 Евро-3 Евро-4 Коленвал Коленчатый вал Блок цилиндров шатун шейка поршня кольца Bosch ЯЗДА ЦПГ ЯМЗ SANZ насос турбокомпрессор распредвал
hero-title: Запчасти на ДВИГАТЕЛИ КамАЗ
h1: Блок цилиндров Cummins L-серия V=8.9 DCEC, ISLe, QSC, ISC
h2: двигатели 6LTAA8.9, L325-20, L340-20, L360-20, L375-20
phone: 
phone_title: 
categories: [<a href='/dvigatel_zapchasti/category/bloki-cilindrov-kamaz.html'>Блоки цилиндров</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.dvig_zap | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
    <!-- <h3>Описание</h3> -->
    <p>

    </p>
    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
