---
layout: default_info
title: Блок цилиндров КамАЗ Евро-4-5 - 740.70-1002011(10) Common Rail
description: Продаем Блок цилиндров двигателя КамАЗ Евро-4 Common Rail, каталожный номер - 740.70-1002011(10) 740.73-1002011(10), на двигатели Евро-4 Common Rail 740.622, 740.632, 740.662, 740.70, 740.73, 740.74, на технику КамАЗ. Новые оригинал, аналоги, бу, капремонт. Цена, доставка, описание, вес, размеры.
keywords: Блок цилиндров двигателя КамАЗ Евро-4 Common Rail 740.70-1002011(10) завод, новый  Восстановленный   740.73-1002011(10) Блоки цилиндров - КамАЗ Двигатель КамАЗ Евро Евро-1 Евро-2 Евро-3 Евро-4 Коленвал Коленчатый вал Блок цилиндров шатун шейка поршня кольца Bosch ЯЗДА ЦПГ ЯМЗ SANZ насос турбокомпрессор распредвал
hero-title: Запчасти на ДВИГАТЕЛИ КамАЗ
h1: Блок цилиндров двигателя Евро-4 Common Rail 740.70-1002011(10)
h2:
phone: 
phone_title: 
categories: [<a href='/dvigatel_zapchasti/category/bloki-cilindrov-kamaz.html'>Блоки цилиндров</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.dvig_zap | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
    <h3>Описание</h3>
    <p>740.70-10020<b>12</b> - в сборе без гильзы цилиндров</p>
    <p>740.70-10020<b>10</b> - в сборе с крышками подшипников коленвала и заглушками, c гильзами цилиндров</p>
    <p>740.70-10020<b>11</b> - в сборе с крышками подшипников коленвала, без заглушек</p>
    
    <p>
      Блок топливных цилиндров изготовлен из нового материала -  чугуна ЧВГ35 с вермикулярным графитом.
      За счёт чего увеличилась прочность главной детали корпуса и на 0,1-1,5 дБа уменьшился уровень шума работающего двигателя.
    </p>
    <h3>Отличия блоков 740.70 И 740.73</h3>
    <p>
      Внешне блоки идентичны. Отличия блоков в используемом материале. На 740.73 высокопрочный чугун.
       Блоки с таким чугуном устанавливают на двигатели  мощностью 360 и выше л.с.  
      
    </p>
    <p>
      Изменился материал для изготовления деталей цилиндропоршневой группы и
      технология нанесения хромо-алмазного покрытия на поршневые кольца.
      Для повышения прочности коленчатый вал двигателей мощностью 400 л.с. 
      теперь подвергается процедуре карбонитрирования. 
    </p>
    <p>
      Улучшились системы смазки и охлаждения: новый масляный теплообменник имеет ещё большую поверхность для теплообмена, а
      вентилятор системы охлаждения теперь оснащен электронным управлением. 
      <br>
      Также изменилась форма головок этого блока для
      более удобной установки инжекторов подачи топлива, и стал использоваться монолитный
      картер маховика.
    </p>
    <p>
      Для двигателей КАМАЗ 740.64-420 была адаптирована система питания Common Rail CRSN3 фирмы Bosch, вместо традиционной для КАМАЗов топливной системы с электронным управлением.
    </p>
    <p>
      Топливная система Common Rail отличается поочередным выполнением впрыска и нагнетания топлива, что обеспечивает
      определенные преимущества: точное дозирование цикловой подачи топлива для каждого режима работы двигателя,
      оптимальная регулировка углы опережения впрыска в
      соответствии с нагрузкой, температурой и оборотами мотора.
    </p>
    <p>
      Основа Common Rail - многоплунжерный насос СР 3 звездообразной формы,
      который создает максимальное рабочее давление впрыскивания равное 1600 бар.
      
    </p>
    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
