---
layout: default_info
title: 740.21-1002012-10 Блок цилиндров КамАЗ под Bosch двигателя евро-2, евро-3 - ЗапКам.ру
description: Продаем Блок цилиндров под Bosch КамАЗ Евро-2, Евро-3, каталожный номер - 740.21-1002012-10, на двигатели Евро-2 740.30, 740.31, 740.50 и 740.51, Евро-3 740.60, 740.61, 740.62 с топливной аппаратурой Bosch, на технику КамАЗ 6460, 5460. Новые оригинал, аналоги, бу, капремонт. Цена, доставка, описание, вес, размеры.
keywords: Блок цилиндров под Bosch двигателя КамАЗ Евро-2, Евро-3 740.21-1002012-10 завод, новый  Восстановленный Блоки цилиндров - КамАЗ 6460, 5460 Двигатель КамАЗ Евро Евро-1 Евро-2 Евро-3 Евро-4 Коленвал Коленчатый вал Блок цилиндров шатун шейка поршня кольца Bosch ЯЗДА ЦПГ ЯМЗ SANZ насос турбокомпрессор распредвал
hero-title: Запчасти на ДВИГАТЕЛИ КамАЗ
h1: Блок цилиндров под Bosch двигателя Евро-2, Евро-3 
h2: 740.21-1002012-10
phone: 
phone_title: 
categories: [<a href='/dvigatel_zapchasti/category/bloki-cilindrov-kamaz.html'>Блоки цилиндров</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.dvig_zap | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
    <h3>Описание</h3>
    <p>740.21-10020<b>12</b>-10 - в сборе без гильзы цилиндров</p>
    <p>740.21-10020<b>10</b>-10 - в сборе с крышками подшипников коленвала и заглушками</p>
    <p>740.21-10020<b>11</b>-10 - в сборе с крышками подшипников коленвала, без заглушек</p>
    <p>&nbsp;</p>

    <p>
      На двигателях Евро-2 это модели 740.30, 31, 50, 51 применятся блоки 740.21-1002011-10 состоящий их блока 740.21-1002015-10, из 4-х крышек подшипников 740.1005140 с болтами 740-1005157-02, крышки заднего подшипника 740-105152, и 4-х промежуточных втулок шеек распредвала
    </p>
    <p>
      Если на блок 740.21-1002011-10 установить заглушки 740-1002080, 740-1002404, 740-1002524-01, 7406-1002318, втулки740-1003035. то будет блок 740.21-1002012-10 поставляемый на вторичный рынок.
    </p>
    <p>
      Установив гильзы в зависимости от требуемого двигателя т.е. если поставим гильзы 740.50-1002021(каленые) или 740.51(сырые) то получим блок 740.50-1002010-10 для двигателей 740.50, и 740.51.
    </p>
  <p>
    Установив гильзу 740.30-1002021 (сырую) в блок 740.21-1002012 получим блок 740.13-1002010-10 для двигателей 740.30 и 740.31
  </p>
    <hr>


    <table class="table table-hover table-small" style="width: auto;">
      <tbody>
          <tr>
              <td>1</td>
              <td><a href="javascript:" id="740211002011"
                  >740.21-1002011</a> , <a href="javascript:" id="740211002012"
                  >740.21-1002012</a></td>
              <td>Блок цилиндров в сборе {а}
              </td>
          </tr>
          <tr>
              <td>2</td>
              <td>1/03389/26</td>
              <td>Штифт цилиндрический 10х25
              </td>
          </tr>
          <tr>
              <td>3</td>
              <td><a href="javascript:" id="740211006037">740.21-1006037</a></td>
              <td>Втулка промежуточных шеек распределительного вала
              </td>
          </tr>
          <tr>
              <td>4</td>
              <td>  37.001.178-82 </td>
              <td>Пробка КГ 1/4" ОСТ 37.001.178-82Пробка КГ 1/4" ОСТ
              </td>
          </tr>
          <tr>
              <td>6</td>
              <td> <a href="javascript:" id="740100252401"
                     >740.1002524-01</a> </td>
              <td>Заглушка отверстия распределительного вала
              </td>
          </tr>
          <tr>
              <td>7</td>
              <td> <a href="javascript:" id="14325301"
                     >1/43253/01</a> </td>
              <td>Пробка резьбовая коническая 22х1,5
              </td>
          </tr>
          <tr>
              <td>8</td>
              <td> <a href="javascript:" id="16043421"
                     >1/60434/21</a> </td>
              <td>Болт М8-6gх20
              </td>
          </tr>
          <tr>
              <td>9</td>
              <td> <a href="javascript:" id="10516673">1/05166/73</a> </td>
              <td>Шайба 8 пружинная
              </td>
          </tr>
          <tr>
              <td>10</td>
              <td> 740.1002404 </td>
              <td>Заглушка водяной полости
              </td>
          </tr>
          <tr>
              <td>11</td>
              <td> 740.1002406 </td>
              <td>Прокладка заглушки водяной полости
              </td>
          </tr>
          <tr>
              <td>12</td>
              <td> 870884 </td>
              <td>Пробка КГ 1/8" масляного канала
              </td>
          </tr>
          <tr>
              <td>13</td>
              <td> 740.1003035 </td>
              <td>Втулка с уплотнительными кольцами в сборе
              </td>
          </tr>
          <tr>
              <td>14</td>
              <td> 1/45172/23 </td>
              <td>Штифт цилиндрический 14х25
              </td>
          </tr>
          <tr>
              <td>20</td>
              <td> 740.1002080 </td>
              <td>Заглушка водяной полости в сборе
              </td>
          </tr>
          <tr>
              <td>22</td>
              <td> 7406.1002318 </td>
              <td>Заглушка чашечная 22,5
              </td>
          </tr>
      </tbody>
  </table>


 
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
