---
layout: default_info
title: 740.21-1002011-20(21) Блок цилиндров КамАЗ Евро-2, двиг. КамАЗ-740.10, 7403- ЗапКам.ру
description: Продаем Блок цилиндров КамАЗ Евро-2, двиг. КамАЗ-740.10, 7403, каталожный номер - 740.21-1002011-20(21), на двигатели 740.10, 7403 до 2002 г.в. (за некоторыми исключениями), на технику КамАЗ 4310, 5320, 5511, 5410. Урал 4320. В наличии новые оригинал, качественные аналоги, бу восстановленные, капремонт. Доставим бесплатно до транспортной компании. Цены на модификации, описание, характеристики, вес, размер, габариты.
keywords: Блок цилиндров КамАЗ Евро-2, двиг. КамАЗ-740.10, 7403 740.21-1002011-20(21) завод, новый завод, новый, с распредвалом Восстановленный    Блоки цилиндров  - КамАЗ 4310, 5320, 5511, 5410. Урал 4320 Двигатель КамАЗ Евро Евро-1 Евро-2 Евро-3 Евро-4 Коленвал Коленчатый вал Блок цилиндров шатун шейка поршня кольца Bosch ЯЗДА ЦПГ ЯМЗ SANZ насос турбокомпрессор распредвал
hero-title: Запчасти на ДВИГАТЕЛИ КамАЗ
h1: Блок цилиндров КамАЗ Евро-2, двиг. КамАЗ-740.10, 7403 740.21-1002011-20(21)
h2:
phone: 
phone_title: 
categories: [<a href='/dvigatel_zapchasti/category/bloki-cilindrov-kamaz.html'>Блоки цилиндров</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.dvig_zap | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
    <!-- <h3>Описание</h3> -->
    <p>
      С января 2007 года завод «КамАЗ» взамен блока 740.1002012 начал производство блока цилиндров 740.21-1002012-20 из единой
      унифицированной отливки 740.21-1002015 для двигателей 740, 7403, 7409. Основные отличия от ранее выпускавшего это
      применение на новых блоках распределительного вала 740.21-1006015, корпуса подшипника 7482.1006036 и штанги толкателей
      740.21-1007176. Применяемые ранее детали 740.1006015-04, 740.1006015-01, корпус подшипника 740.1006036-02 и штанга
      толкателя 740.1007176 невзаимозаменяемы от вновь устанавливаемых, а корпус подшипника старой конструкции 740.1006032-02
      недопустимо устанавливать вместо 7482.1006036.
      <br>
      С этой целью выпущен блок 740.21-1002012-21 отличается от -20 тем, что в нем дополнительно установлен распредвал 740.21-1006015 и
      корпус подшипника 7482.1006036.
      
    </p>
    
    <p>
      740.21-1002012-20 от 740.21-1002012 отсутствие 2 отверстий под крепления теплообменника, необработанные бобышки под установку форсунок охлаждения поршней, нет отверстий под датчик управления муфтой, отсутствие дополнительных каналов для установки теплообменника.
    </p>
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
