---
layout: default_main
title: Запчасти для грузовиков КамАЗ - Каталог, прайс, доставка - ЗапКам.ру
description: Запчасти КамАЗ оптом и в розницу. Большой ассортимент- коробки передач КПП, редукторы, карданные валы, двигатели, кабины - в наличии, с оперативной доставкой по России и СНГ. ЗапКам.
keywords: КамАЗ запчасти вездеход  военный 4310 5310 коробки передач редукторы тягач
---

<!-- +Header  -->
<header id="header-wrap">
  <div class="head">
    <div class="head__inner">
      <!-- +Navbar  -->
      <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar">
        <div class="container">
          <a href="/" class="navbar-brand" style="display: contents;"> <img src="/assets/img/logo2.png" alt=""> </a> 
          {% include top-submenu.html %} 
          
        </div>
      </nav>
      <!-- Navbar End -->

      <!-- Hero Area Start -->
      <div id="hero-area" class="bg-blue">
        <div class="container">
          <div class="row hero-area-bg hero-area-bg-4310" >
            <div class="col-md-8 col-xs-12">
              <div class="contents">
                <ul>
                  <li style="margin-bottom:0px;">
                    <h1 class="title text-left w-100">Запчасти и агрегаты для а/м КамАЗ</h1>
                  </li>
                  <li style="margin-top:0px;">
                    <h2 class="title w-100">с оперативной доставкой по РФ </h2>
                  </li>
      
      
                  <li class="text-right"> &nbsp;
                    <button class="btn btn-primary" style="float: right;" data-toggle="modal" data-target="#requestModal"
                      onclick="ym(57702985, 'reachGoal', 'RequestBill'); return true;">
                      Запросить предложение</button> </li>
                  <li><i class="lni-chevron-down"></i>&nbsp;&nbsp;&nbsp;Оперативная отгрузка по России</li>
                  <li><i class="lni-chevron-down"></i>&nbsp;&nbsp;&nbsp;Большой опыт на рынке запчастей </li>
      
                  <li>&nbsp;</li>
      
                  <li id="hero-menu">
                    <p class="title text-left w-100">
                      <a href="/kamaz-4310/"> Всё на КамАЗ-4310</a>
                      &nbsp; • &nbsp; <a href="/kamaz-4310/catalog/dvigateli/dvigateli_kamaz_4310.html"> Двигатели </a>
                      &nbsp; • &nbsp; <a href="/kamaz-4310/catalog/kpp_korobki_peredach/"> Коробки передач </a>
                      &nbsp; • &nbsp; <a href="/kardanyi_valy/"> Карданные валы </a>
                    </p>
                  </li>
      
                </ul>
      
      
              </div>
            </div>
            <div class="col-md-4 col-xs-12 text-center">
      
            </div>
          </div>
        </div>
      </div>
      <!-- Hero Area End -->
    </div>
  </div>
  

</header>
<!-- -Header -->

<!-- Каталог -->
<section id="catalog2" class="section-padding" style="padding-top: 20px; ">
  <div class="container">
   
    <div class="card-columns">
      

<!--  Запчасти Движки  -->
<div class="card">
  <div class="card-header media">
    <img class="card-icon1" src="/dvigatel_zapchasti/img/category/dvigatel_740.10.jpg" alt="">
    <a href='/dvigatel_zapchasti/index.html'><h4> Запчасти на Двигатели КамАЗ </h4></a>
  </div>
  <ul class="card-body">
    <li><a href='/dvigatel_zapchasti/category/valy-kolenchatye-kamaz.html'>Валы коленчатые</a></li>
    <li><a href='/dvigatel_zapchasti/category/bloki-cilindrov-kamaz.html'>Блоки цилиндров</a></li>
    <li><a href='/dvigatel_zapchasti/category/sborochnye-komplekty-kamaz.html'>Сборочные комплекты двигателя</a></li>
    <li><a href='/dvigatel_zapchasti/category/golovki-bloka-kamaz.html'>Головки блока</a></li>
    <li><a href='/dvigatel_zapchasti/category/porshnevaya-gruppa-kamaz.html'>Поршневая группа</a></li>
    <li><a href='/dvigatel_zapchasti/category/turbokompressory-kamaz.html'>Турбокомпрессоры</a></li>
    <li><a href='/dvigatel_zapchasti/category/tnvd-toplivnaya-apparatura-kamaz.html'>ТНВД - топливная аппаратура</a></li>
    <li><a href='/dvigatel_zapchasti/category/forsunki-kamaz.html'>Форсунки</a></li>
    <li><a href='/dvigatel_zapchasti/category/raspyliteli-forsunki-kamaz.html'>Распылители форсунки</a></li>
    <li><a href='/dvigatel_zapchasti/category/nasosy-vodyanoj-kamaz.html'>Насос водяной</a></li>
    <li><a href='/dvigatel_zapchasti/category/nasosy-maslyanyj-kamaz.html'>Насос масляный</a></li>
    <li><a href='/dvigatel_zapchasti/category/prochie-zapchasti-dvigatelya-kamaz.html'>Прочие запчасти двигателя</a></li>
    
  </ul>
</div>





      <!--  Коробки раздаточная  -->
      <div class="card">
        <div class="card-header media">
          <img class="card-icon1" src="/kamaz-4310/img/catalog-icons/korobka-razdatochnaya.png" alt="">
          <a href='/kamaz-4310/catalog/razdatki/index.html'><h4> Коробка раздаточная </h4></a>
        </div>
        <ul class="card-body">
          <li><a href='/kamaz-4310/catalog/razdatki/korobka-razdatochnaya-kamaz-4310-v-sbore.html'>Раздатка 4310 в сборе</a></li>
          <li><a href='/kamaz-4310/catalog/razdatki/korobka-razdatochnaya-kamaz-43114-(43118)-v-sbore.html'>Раздатка 43114 (43118) в сборе</a></li>
          <li><a href='/kamaz-4310/catalog/razdatki/korobka-razdatochnaya-kamaz-43114-s-kom-v-sbore.html'>Раздатка 43114 с КОМ в сборе</a></li>
          <li><a href='/kamaz-4310/catalog/razdatki/korobka-razdatochnaya-kamaz-65111-s-kom-v-sbore.html'>Раздатка КамАЗ 65111 с КОМ в сборе</a></li>
          <li><a href='/kamaz-4310/catalog/razdatki/korobka-razdatochnaya-kamaz-65111.html'>Раздатка КамАЗ 65111 в сборе </a></li>
          <li><a href='/kamaz-4310/catalog/razdatki/korobka-razdatochnaya-kamaz-6522-v-sbore.html'>Раздатка КамАЗ 6522 в сборе</a></li>
          <li><a href='/kamaz-4310/catalog/razdatki/korobka-razdatochnaya-zf-vg-1600-s-masl.nasos.html'>Раздатка ZF VG 1600 с маслонасосом</a></li>
          <li><a href='/kamaz-4310/catalog/razdatki/korobka-razdatochnaya-zf-vg-1600.html'>Раздатка ZF VG 1600</a></li>
          <li><a href='/kamaz-4310/catalog/razdatki/korobka-razdatochnaya-zf-vg-2000.html'>Раздатка ZF VG 2000</a></li>
        </ul>
      </div>



      <!--  4310  -->
      <div class="card">
        <div class="card-header media">
          <img class="card-icon1" src="/assets/img/model/kamaz_4310.jpg" alt="">
          <a href='/kamaz-4310/index.html'><h4> Запчасти для КамАЗ-4310 </h4></a>
        </div>
        <ul class="card-body">
          <li><a href='/kamaz-4310/category/zapchasti_kamaz-4310.html'>Все запчасти 4310</a></li>
          <li><a href='/kamaz-4310/category/zapchasti_mosty.html'>Запчасти Мосты</a></li>
          <li><a href='/kamaz-4310/category/zapchasti_razdatka.html'>Запчасти для раздатки</a></li>
          <li><a href='/kamaz-4310/category/zapchasti_korobka_peredach.html'>Запчасти КПП</a></li>
          <li><a href='/kamaz-4310/category/valy_kamaz.html'>Валы </a></li>
          <li><a href='/kamaz-4310/category/shesterny_kamaz.html'>Шестерни</a></li>
          <li><a href='/kamaz-4310/category/sinhronizatory_kamaz.html'>Синхронизаторы</a></li>
          <li><a href='/kamaz-4310/category/differencial_kamaz.html'>Дифференциал</a></li>
          <li><a href='/kamaz-4310/catalog/dvigateli/dvigateli_kamaz_4310.html'>Двигатели 4310</a></li>
          
          <!-- <li><a href='/kamaz-4310/catalog/dvigateli/dvigateli_kamaz_43114.html'>Двигатели 43114</a></li>
          <li><a href='/kamaz-4310/catalog/dvigateli/dvigateli_kamaz_43118.html'>Двигатели 43118</a></li>
          <li><a href='/kamaz-4310/catalog/dvigateli/dvigateli_kamaz_4320.html'>Двигатели 4320</a></li>
          <li><a href='/kamaz-4310/catalog/dvigateli/dvigateli_kamaz_4350.html'>Двигатели 4350</a></li> -->
          
        </ul>
      </div>


      

      <!--  Валы карданные -->
      <div class="card">
        <div class="card-header media">
          <img class="card-icon1" src="/kamaz-4310/img/catalog-icons/valy-kardannye-kamaz.jpg" alt="">
          <h4> Валы карданные </h4>
        </div>
        <ul class="card-body">
          <li><a href='/kardanyi_valy/'>Каталог валов карданных</a></li>
          <li><a href='/kardanyi_valy/category/kardan-kamaz.html'>Вал карданный КамАЗ</a></li>
          <li><a href='/kardanyi_valy/category/kardan-ural.html'>Вал карданный Урал</a></li>
          <li><a href='/kardanyi_valy/category/kardan-maz.html'>Вал карданный МАЗ</a></li>
          <li><a href='/kardanyi_valy/category/kardan-maz-man.html'>Вал карданный МАЗ-МАН</a></li>
          <li><a href='/kardanyi_valy/category/kardan-man.html'>Вал карданный MAN</a></li>
          <li><a href='/kardanyi_valy/category/kardan-iveco.html'>Вал карданный Iveco</a></li>
          <li><a href='/kardanyi_valy/category/kardan-scania.html'>Вал карданный Scania</a></li>
          <li><a href='/kardanyi_valy/category/kardan-mercedes.html'>Вал карданный Mercedes</a></li>
          <!-- <li><a href='/kardanyi_valy/category/kardan-daf.html'>Вал карданный DAF</a></li> -->
          <li><a href='/kardanyi_valy/category/kardan-ford.html'>Вал карданный Ford</a></li> 
          <li><a href='/kardanyi_valy/category/kardan-gaz.html'>Вал карданный ГАЗ</a></li>
          <li><a href='/kardanyi_valy/category/kardan-zil.html'>Вал карданный ЗИЛ</a></li>
          <li><a href='/kardanyi_valy/category/kardan-belaz.html'>Вал карданный БЕЛАЗ</a></li>
          <li><a href='/kardanyi_valy/category/kardan-kraz.html'>Вал карданный КРАЗ</a></li>
          <li><a href='/kardanyi_valy/category/kardan-mtz.html'>Вал карданный МТЗ</a></li>
          <li><a href='/kardanyi_valy/category/kardan-mzkt.html'>Вал карданный МЗКТ</a></li>
          <li><a href='/kardanyi_valy/category/kardan-prochie.html'>Прочие карданы</a></li>
        </ul>
      </div>



      <!--  Коробки передач  -->
      <div class="card">
        <div class="card-header media">
          <img class="card-icon1" src="/kamaz-4310/img/catalog-icons/kpp-korobka.jpg" alt="">
          <h4> Коробки передач КамАЗ</h4>
        </div>
        <ul class="card-body">
          <li><a href='/kamaz-4310/category/zapchasti_korobka_peredach.html'>Запчасти КПП</a></li>
          <li><a href='/kamaz-4310/catalog/kpp_korobki_peredach/kpp_14_kamaz.html'>Коробка КПП-14</a></li>
          <li><a href='/kamaz-4310/catalog/kpp_korobki_peredach/kpp_141_kamaz.html'>Коробка КПП-141</a></li>
          <li><a href='/kamaz-4310/catalog/kpp_korobki_peredach/kpp_142_kamaz.html'>Коробка КПП-142</a></li>
          <li><a href='/kamaz-4310/catalog/kpp_korobki_peredach/kpp_15_kamaz.html'>Коробка КПП-15</a></li>
          <li><a href='/kamaz-4310/catalog/kpp_korobki_peredach/kpp_151_kamaz_yamz.html'>Коробка КПП-151</a></li>
          <li><a href='/kamaz-4310/catalog/kpp_korobki_peredach/kpp_152_kamaz.html'>Коробка КПП-152</a></li>
          <li><a href='/kamaz-4310/catalog/kpp_korobki_peredach/kpp_154_kamaz.html'>Коробка КПП-154</a></li> 
        </ul>
        <!-- <div class="card-header media">
          <img class="card-icon1" src="/kamaz-4310/img/catalog-icons/kpp-korobka.jpg" alt="">
          <h4> Коробки передач ZF на КамАЗ</h4>
        </div>
        <ul class="card-body">
          <li><a href='/kamaz-4310/catalog/kpp_korobki_peredach/kpp_kamaz_zf-16s151.html'>Коробка КПП ZF 16S.151</a></li>
          <li><a href='/kamaz-4310/catalog/kpp_korobki_peredach/kpp_kamaz_zf-16s1820.html'>Коробка КПП ZF 16S.1820</a></li>
          <li><a href='/kamaz-4310/catalog/kpp_korobki_peredach/kpp_kamaz_zf-9s1310.html'>Коробка КПП ZF 9S.1310</a></li>
        </ul> -->
      </div>


      <!--  5490  -->
      <div class="card">
        <div class="card-header media">
          <img class="card-icon1" src="/assets/img/model/kamaz_5490.jpg" alt="">
          <h4> Запчасти для КамАЗ-5490 </h4>
        </div>
        <ul class="card-body">
          <li><a href='/kamaz-5490/'>Каталог 5490</a></li>
          <li><a href='/kamaz-5490/zapchasti.html'>Двигатель </a></li>
          <li><a href='/kamaz-5490/catalog/dvigatel_om457la_mercedes-benz_D457.947-000-0092.html'>Двигатель </a></li>
          
        </ul>
      </div>




    </div>
    
    {% include advantages.html %}
    {% include kupite_u_nas.html %} 
  </div>
</section>

