---
layout: default_main
title: Ремонт двигателей КамАЗ 740 - Наб.Челны
description: Производим капитальный ремонт моторов КамАЗ для всей России - 740.10, 740.11, 740.30, 740.31, 740.50. Продаем восстановленные двигатели. Обменяем ваш старый агрегат на новый. Ремонт двигателя КАМАЗ 740 евро-2 евро-3 Cummins. с доставкой по России и СНГ. ЗапКам.
keywords: КамАЗ запчасти вездеход  военный 4310 5310 коробки передач редукторы тягач
h1: Капитальный ремонт двигателей КАМАЗ-740
---

<!-- +Header  -->
<header id="header-wrap">
  <div class="head">
    <div class="head__inner">
      <!-- +Navbar  -->
      <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar">
        <div class="container">
          <a href="/" class="navbar-brand" style="display: contents;"> <img src="/assets/img/logo2.png" alt=""> </a> 
          {% include top-submenu.html %}
         
        </div>
      </nav>
      <!-- Navbar End -->

      <!-- Hero Area Start -->
      <div id="hero-area" class="bg-blue">
        <div class="container">
          <div class="row hero-area-bg hero-area-bg-4310" >
            <div class="col-md-8 col-xs-12">
              <div class="contents">
                <ul>
                  <li style="margin-bottom:0px;">
                    <h1 class="title text-left w-100">Капитальный ремонт </h1>
                  </li>
                  <li style="margin-top:0px;">
                    <h2 class="title w-100">двигателей и КПП КамАЗ </h2>
                  </li>
      
      
                  <li class="text-right"> &nbsp;
                    <button class="btn btn-primary" style="float: right;" data-toggle="modal" data-target="#requestModal"
                      onclick="ym(57702985, 'reachGoal', 'RequestBill'); return true;">
                      Запросить предложение</button> </li>
                  <li><i class="lni-chevron-down"></i>&nbsp;&nbsp;&nbsp;Работаем по РФ</li>
                  <li><i class="lni-chevron-down"></i>&nbsp;&nbsp;&nbsp;Выгодный обмен (trade-in) б/у агрегатов на новые </li>
      
                  <li>&nbsp;</li>
      
                  <li id="hero-menu">
                    <p class="title text-left w-100">
                      <a href="/kamaz-4310/index.html"> Всё на КамАЗ-4310</a>
                      &nbsp; • &nbsp; <a href="/kamaz-5490/index.html"> КамАЗ-5490</a>
                      <!-- &nbsp; • &nbsp; <a href="/agregaty/dvigateli/index.html"> Двигатели </a> -->
                      &nbsp; • &nbsp; <a href="/agregaty/kpp/index.html"> Коробки передач </a>
                      &nbsp; • &nbsp; <a href="/kardanyi_valy/index.html"> Карданные валы </a>
                    </p>
                  </li>
      
                </ul>
      
      
              </div>
            </div>
            <div class="col-md-4 col-xs-12 text-center">
      
            </div>
          </div>
        </div>
      </div>
      <!-- Hero Area End -->
    </div>
  </div>
  

</header>
<!-- -Header -->


<section class="section-padding articles">
  <div class="container">

<!-- Описание ремонта -->
<div class="row">

  <div class="col-md-12">


  </div>

  <div class="col-md-4 col-sm-6">
    <h3>1- Разборка двигателя и очистка</h3>
    <p> всех узлов в отдельности.</p>
  </div>

  <div class="col-md-4 col-sm-6">
    <h3>2 - Дефектовка / Оценка состояния</h3>
    <p>Осмотр деталей двигателя на предмет повреждений, трещин и других дефектов, определение степени износа. </p>
  </div>

  <div class="col-md-4 col-sm-6">
    <h3>3 -  Ремонт ГБЦ  </h3>
    <p>(головки блока цилиндров) : Ремонт/замена направляющих втулок, фасок седел клапанов, 
      установка новых маслосъемных колпачков, замена клапанов (при необходимости)</p>
  </div>

 
  <div class="col-md-4 col-sm-6">
    <h3>4 - Ремонт блока цилиндров</h3>
    <p>
      Расточка, хонинговка постели коленвала, ликвидация трещин в блоке.
      Полная замена при неремонтопригодности.
    </p>
  </div>

  <div class="col-md-4 col-sm-6">
    <h3>5 - Ремонт коленчатого вала</h3>
    <p>Полировка и шлифовка</p>
  </div>

  
  <div class="col-md-4 col-sm-6">
    <h3>6 - Ремонт/регулировка топливной аппаратуры</h3>
  <p>
    Замена/ремонт р/к ТНВД, плунжерных пар, втулки рычага реек, рычага пружины,
    клапана перепускного, кожуха, рычага реек, реек лев/прав.
    Ремонт/регулировка форсунок, замена распылителей
  </p>
  </div>

  <div class="col-md-4 col-sm-6">
    <h3>7 - Сборка двигателя</h3>
  <p>
    
  </p>
  </div>

  <div class="col-md-4 col-sm-6">
    <h3>8 - Обкатка двигателя </h3>
  <p>
    На холодную и горячую. 
    Данная процедура позволяет притереться всем элементам для стабильной будущей работы двигателя.
  </p>
  </div>

  <hr>
  
</div>


<div class="row" style="padding-top: 30px;">

  <div class="tabs">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#tab11">
          Полный ремонт</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#tab22">
          Экономный вариант</a>
      </li>

    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="tab11">
        
            <p><b>Обновление всех комплектующих,</b>
              что даст 100% ресурса агрегата.
            </p>
            <ul class="">
              <li>Примерный срок: 6 рабочих дней</li>
              <li>Используются только оригинальные запчасти. </li>
              <li>Для агрегатов неподлежащих восстановлению</li>
              <li>Обновление всех комплектующих. Замена масел, смазок и эксплуатационных жидкостей</li>
              <li>Доведение характеристик агрегата до современных. Замена всех эксплуатационных жидкостей.
                Регулировка и настройка.</li>
            </ul>

        
      </div>
      <div class="tab-pane fade show" id="tab22">
        
          <p><b>Ремонт и замена при неремонтопригодности составных деталей. </b></p>
          <ul class="">
            <li>Среднее время в ремонте: 15 рабочих дней</li>
            <li>Используются только оригинальные запчасти.</li>
            <li>Подходит для изношенных агрегатов. </li>
            <li>Дешевле полного ремонта на 30% </li>
            <li>Ремонт составных деталей, неремонтопригодные заменяются. Замена всех эксплуатационных жидкостей.
            </li>
            <li>Доведение характеристик агрегата до современных. Регулировка и настройка.</li>
          </ul>
        

      </div>
    </div>

  </div>

 </div> <!-- row -->


<div class="row">

  <div class="col-md-4" style="margin: auto;">

    <br>
    <h3>Что входит в стоимость работ: </h3> <br>

    <ul>
      <li>ремонт&nbsp;блока&nbsp;цилиндров</li>
      <li>ремонт&nbsp;коленчатого&nbsp;вала</li>
      <li>ремонт&nbsp;ТНВД</li>
      <li>замена&nbsp;поршневой</li>
      <li>замена&nbsp;маховика</li>
      <li>ремонт&nbsp;шатунов</li>
      <li>замена&nbsp;водяного&nbsp;насоса&nbsp;</li>
      <li>замена&nbsp;генератора</li>
      <li>ремонт&nbsp;компрессора</li>
      <li>ремонт&nbsp;кулисы</li>
      <li>замена&nbsp;картер&nbsp;масляный</li>
      <li>ремонт&nbsp;насоса&nbsp;ГУРа</li>
      <li>использование&nbsp;только&nbsp;качественного&nbsp;РТИ&nbsp;</li>
      <li>ремонт&nbsp;головки&nbsp;блока&nbsp;</li>
      <li>замена&nbsp;коллекторов&nbsp;двигателя&nbsp;</li>
      <li>транспортировка&nbsp;двигателя</li>
      </ul>
    <br>
   

  </div>

  <div class="col-md-6" style="margin: auto;">
    <br>
    <h3>Стоимость ремонта двигателя КамАЗ : </h3> <br>
    - Двигатель 740 – от 150'000 руб.<br>
    - Класс евро 1 – от 180'000 руб.<br>
    - Класс евро 2 – от 210'000 руб.<br>
    - Класс евро 3 – от 320'000 руб.</p>
    <br>
    <p>Цена ремонта зависит от нескольких факторов:<br>
      - общее состояние двигателя.<br>
      - состояние навесного оборудования;<br>
      - необходимый вид ремонта (капитальный, техосмотр).</p>
    <br>
    <i class="lni-check-mark-circle"></i> Двигатель КАМАЗ разбирается, проводится дефектовка,
    определяются список запчастей.<br />
    <i class="lni-check-mark-circle"></i> Используются только оригинальные, новые запчасти от официальных дилеров <br />
    <i class="lni-check-mark-circle"></i> Работы производятся партнером - официальным сервисным центром. <br />

 
  </div>
 
</div>
</div>

  </div>
</section>



<section class="section-padding">
<div class="container">
    <div class="text-center justify-content-center">
        <div class="section-header">
            <h1 class="section-title">Порядок ремонта двигателей </h1>
            <div class="shape wow fadeInDown"></div>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-6">
            <div>
              <iframe width="560" height="315" class="lozad" data-src="https://www.youtube.com/embed/cmWNp-vqED0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="max-width: 100%;"></iframe>
            </div>
        </div>

      <div class="col-md-6" style="padding-left: 35px;">
      <h3>1. Дефектовка</h3>
      <p>Двигатель разбирается полностью, на спец.оборудовании проверяется постели блока и шейки коленчатого вала.
        Блок тщательно проверяется на наличие трещин и дефектов. Только после этого, начинается его подготовка к сборке.</p>
      
      <h3>2. Сборка</h3>
      <p>Сборка производится на подготовленных стендах. Каждая деталь перед установкой проверяется на качество и отсутствие
        брака. Мотор полностью собирается и устанавливается на проверочный стенд.</p>
      
      <h3>3. Проверка и обкатка</h3>
      <p>Отремонтированный двигатель внимательно проверяется на стабильную работу. 
        Время проверки агрегата может занимать до суток. <br>При отсутствии проблем мотор проходит обкатку и последующую
        покраску.</p>
      </div>
    </div>

</div>
</section>


<section>
  <div class="row">
    <div class="col-md-10" style="margin: auto;">
    
      {% include advantages.html %}
      {% include kupite_u_nas.html %} 

    </div>
  </div>
</section>