---
layout: default_info
title: Межосевой дифференциал (МОД) КАМАЗ 5320-2506010
description: МОД (межосевой дифференциал) КАМАЗ 5320, каталожный номер - 5320-2506010, на технику КАМАЗ-5320, КАМАЗ-5410, КАМАЗ-5511, КАМАЗ-53212, КАМАЗ-54112, КАМАЗ-55102. Новые оригинал, аналоги, бу, капремонт. Цена, доставка, описание, вес, размеры.
keywords: Межосевой дифференциал (МОД) КАМАЗ 5320 5320-2506010 новый, завод Аналог/самосбор, Н.Челны, г.12мес. Кап.ремонт, восстановленные, г.6мес.    Редукторы  - КАМАЗ-5320, КАМАЗ-5410, КАМАЗ-5511, КАМАЗ-53212, КАМАЗ-54112, КАМАЗ-55102 Редуктор КамАЗ Евро Евро-1 Евро-2 48 зубьев 49 зубьев 47 зубьев 50 зубьев моста заднего переднего ведущего промежуточного 
hero-title: Редукторы КАМАЗ
h1: МОД (межосевой дифференциал) КАМАЗ 5320 
h2: 5320-2506010
phone: 
phone_title: 
categories: [<a href='/agregaty/reduktory/index.html'>Редукторы КАМАЗ</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.agregaty | where:"url", page_url | first  %}

{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12 m-auto">
  <h3>Описание</h3>
  
  <p>Межосевой дифференциал (МОД) устанавливается на редуктор среднего моста КАМАЗ и является его частью. 
       </p>
       <p>
        Применяется для трансмиссии и моста среднего (промежуточного) в моделях: Камаз-43118, Камаз-43261 (Евро-1, 2),
        Камаз-43501 (4х4), Камаз-43261 (Евро-1, 2), Камаз-43501 (4х4), Камаз-53228, Камаз-65111, Камаз-43501 (4х4),  Камаз-53229 (Евро-2)
        Камаз-65115, Камаз-65115 (Евро-3), Камаз-53229 (Евро-2), Камаз-65115 (Евро-3), Камаз-6540, Камаз-65116, Камаз-65115 (Евро-3).
       </p>
  <p>Межосевой дифференциал улучшает управляемость грузовика: при выключенном МОДе крутящий момент поступает только
       на задний мост, что позволяет сохранять ресурс главной передачи. Включенный МОД блокирует валы редукторов ведущих мостов,
       что повышает проходимость автомобиля и может помочь при сложных дорожных условиях, например, при гололеде.</p>
  <p>на полноприводных автомобилях редуктор среднего моста зачастую не укомплектован МОД.</p>
  <p>МОД полностью принимает весь крутящий момент на себя, он подвержен довольно
      серьезным нагрузкам. Часто поломки МОД вызывает основной кардана автомобиля, например из-за его дисбаланса.</p>
    <hr>
    
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
