---
layout: default_info
title: Редуктор задний КАМАЗ-6520 35,31 зубьев - 6520-2402011 - ЗапКам.ру
description: Каталожные номера - 6520-2402011-10, 6520-2402011-20. Главная передача заднего моста КАМАЗ-6520 35,31 зубьев,  35, 31 зубьев, на задний мост, на технику КАМАЗ-6520, 6460, 6522. Новые оригинал, аналоги, бу, капремонт. Цена, доставка, описание, вес, размеры.
keywords: Редуктор заднего моста КАМАЗ-6520 35,31 зубьев 6520-2402011-10; 6520-2402011-20  новый, завод Аналог/самосбор, Н.Челны, г.12мес. Кап.ремонт, восстановленные, г.6мес.   35, 31 зубьев Редукторы  - КАМАЗ-6520, 6460, 6522 Редуктор КамАЗ Евро Евро-1 Евро-2 48 зубьев 49 зубьев 47 зубьев 50 зубьев моста заднего переднего ведущего промежуточного 
hero-title: Редукторы КАМАЗ
h1: Редуктор заднего моста КАМАЗ-6520 35,31 зубьев 
h2: 6520-2402011-10(-20) 
phone: 
phone_title: 
categories: [<a href='/agregaty/reduktory/index.html'>Редукторы КАМАЗ</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.agregaty | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12 m-auto">
    <!-- <h3>Описание</h3> -->
    <p>
      Задний редуктор КАМАЗ 6520 35 зубьев с МКБ может применяться на мосты МАДАРА (MADARA). 

    </p>


    <h3>Комплектации главной передачи</h3>
    <h3>Комплектации главной передачи</h3>
    <table class="table table-harki table-hover table-responsive-sm table-striped wa" style="width: 584px;">
      <thead>
      <tr>
      <th>Обозначение</th>
      <th>Зубьев шестерен</th>
      <th>Передаточное число</th>
      <th>Применяемость</th>
      </tr> 
      </thead>
      <tbody>
      <tr>
      <td>6520-2502011-<strong>10</strong></td>
      <td style="text-align: center;"><strong>35</strong>/21</td>
      <td style="text-align: center;"><strong>5.11</strong></td>
      <td>самосвальное шасси, тяговый</td>
      </tr>
      <tr>
      <td>6520-2502011-<strong>20</strong></td>
      <td style="text-align: center;"><strong>31</strong>/15</td>
      <td style="text-align: center;"><strong>6.58</strong></td>
      <td>самосвальное шасси, скоростной</td>
      </tr>
      </tbody>
      </table>
    
    <hr>


    <h3>Комплектация передачи главной (редуктора) заднего моста в сборе 6520-2402011-10</h3>
    <table class="table table-harki table-hover table-responsive-sm table-striped wa">
      <tbody>
      <tr>
      <td>Номер</td>
      <td>Наименование</td>
      </tr>
      <tr>
      <td>43253-2402011-10</td>
      <td>Передача главная заднего моста в сборе</td>
      </tr>
      <tr>
      <td>43253-2402011-20</td>
      <td>Передача главная заднего моста</td>
      </tr>
      <tr>
      <td>43253-2402011-30</td>
      <td>Передача главная заднего моста в сборе</td>
      </tr>
      <tr>
      <td>43253-2402011-40</td>
      <td>Передача главная заднего моста в сборе</td>
      </tr>
      <tr>
      <td>53205-2402015</td>
      <td>Картер редуктора заднего моста в сборе</td>
      </tr>
      <tr>
      <td>5320-2402048</td>
      <td>Стакан подшипника в сборе</td>
      </tr>
      <tr>
      <td>5320-2402050</td>
      <td>Крышка стакана подшипников в сборе</td>
      </tr>
      <tr>
      <td>53205-2402064-10</td>
      <td>Шестерня ведомая коническая в сборе</td>
      </tr>
      <tr>
      <td>53205-2402064-20</td>
      <td>Шестерня ведомая коническая</td>
      </tr>
      <tr>
      <td>53205-2402064-30</td>
      <td>Шестерня ведомая коническая и ведущая цилиндрическая в сборе</td>
      </tr>
      <tr>
      <td>53205-2402064-40</td>
      <td>Шестерня ведомая коническая и ведущая цилиндрическая в сборе</td>
      </tr>
      <tr>
      <td>5320-2402108</td>
      <td>Стакан подшипников в сборе</td>
      </tr>
      <tr>
      <td>53229-2403011-10</td>
      <td>Дифференциал заднего моста в сборе</td>
      </tr>
      <tr>
      <td>53229-2403011-20</td>
      <td>Дифференциал заднего моста</td>
      </tr>
      <tr>
      <td>53229-2403011-30</td>
      <td>Дифференциал заднего моста</td>
      </tr>
      <tr>
      <td>53229-2403011-40</td>
      <td>Дифференциал заднего моста</td>
      </tr>
      <tr>
      <td>53205-2506037</td>
      <td>Фланец межосевого дифференциала</td>
      </tr>
      <tr>
      <td>4326-2402024</td>
      <td>Вал ведущий</td>
      </tr>
      <tr>
      <td>5320-2402047</td>
      <td>Прокладка</td>
      </tr>
      <tr>
      <td>53205-2402078</td>
      <td>Шайба</td>
      </tr>
      <tr>
      <td>5320-2402096</td>
      <td>Прокладка регулировочная</td>
      </tr>
      <tr>
      <td>5320-2402097</td>
      <td>Прокладка регулировочная</td>
      </tr>
      <tr>
      <td>5320-2402098</td>
      <td>Прокладка регулировочная</td>
      </tr>
      <tr>
      <td>5320-2402099</td>
      <td>Прокладка регулировочная</td>
      </tr>
      <tr>
      <td>5320-2402100</td>
      <td>Прокладка регулировочная</td>
      </tr>
      <tr>
      <td>5320-2402126</td>
      <td>Крышка стакана подшипника</td>
      </tr>
      <tr>
      <td>53205-2402131</td>
      <td>Шайба стопорная</td>
      </tr>
      <tr>
      <td>53205-2402132</td>
      <td>Шайба замковая</td>
      </tr>
      <tr>
      <td>5320-2402181</td>
      <td>Крышка заднего подшипника</td>
      </tr>
      <tr>
      <td>53205-2402188</td>
      <td>Втулка регулировочная</td>
      </tr>
      <tr>
      <td>53205-2402211</td>
      <td>Втулка регулировочная</td>
      </tr>
      <tr>
      <td>5320-2402225</td>
      <td>Прокладка крышки</td>
      </tr>
      <tr>
      <td>5320-2402229</td>
      <td>Шайба опорная заднего подшипника ведущего вала</td>
      </tr>
      <tr>
      <td>5320-2402249</td>
      <td>Шайба опорная</td>
      </tr>
      <tr>
      <td>53205-2402269</td>
      <td>Гайка подшипника</td>
      </tr>
      <tr>
      <td>53205-2402288</td>
      <td>Шайба регулировочная</td>
      </tr>
      <tr>
      <td>53205-2402318</td>
      <td>Шайба регулировочная</td>
      </tr>
      <tr>
      <td>5320-2402371</td>
      <td>Скоба редуктора</td>
      </tr>
      <tr>
      <td>53205-2403040</td>
      <td>Гайка подшипника</td>
      </tr>
      <tr>
      <td>5320-2403043</td>
      <td>Стопор гайки</td>
      </tr>
      <tr>
      <td>4310-2502017</td>
      <td>Колесо зубчатое ведущее коническое</td>
      </tr>
      <tr>
      <td>43114-2502175</td>
      <td>Шайба маслоотгонная</td>
      </tr>
      <tr>
      <td>14.1701308</td>
      <td>Магнит с основанием в сборе</td>
      </tr>
      <tr>
      <td>4624434258</td>
      <td>Подшипник роликовый конический однорядный с большим углом конуса ГОСТ 520-89</td>
      </tr>
      <tr>
      <td>4624433829</td>
      <td>Подшипник роликовый конический однорядный с большим углом конуса ГОСТ 520-89</td>
      </tr>
      <tr>
      <td>462213158989</td>
      <td>Подшипник 12310 КМ роликовый радиальный с короткими цилиндрическими роликами</td>
      </tr>
      <tr>
      <td>4624142065</td>
      <td>Подшипник 6-7516 А1 роликовый конический однорядный</td>
      </tr>
      <tr>
      <td>4624130753</td>
      <td>Подшипник 6-7214АУ роликовый конический однорядный</td>
      </tr>
      <tr>
      <td>1/59709/21</td>
      <td>Болт М10х1,25-6gх35</td>
      </tr>
      <tr>
      <td>1/55408/21</td>
      <td>Болт М12х1,25-6gх50</td>
      </tr>
      <tr>
      <td>1/42376/21</td>
      <td>Болт М8-6gх12</td>
      </tr>
      <tr>
      <td>1/05168/77</td>
      <td>Шайба 10 пружинная</td>
      </tr>
      <tr>
      <td>1/05170/77</td>
      <td>Шайба 12 пружинная</td>
      </tr>
      <tr>
      <td>1/07348/01</td>
      <td>Шплинт 2,7х40</td>
      </tr>
      <tr>
      <td>1/07350/01</td>
      <td>Шплинт 4,7х50</td>
      </tr>
      <tr>
      <td>870632</td>
      <td>Шайба уплотнительная 30х42х2</td>
      </tr>
      <tr>
      <td>853522</td>
      <td>Гайка прорезная МЗЗх1,5-6Н</td>
      </tr>
      <tr>
      <td>862500</td>
      <td>Шайба плоская 34х60х6</td>
      </tr>
      </tbody>
      </table>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
