---
layout: default_info
title: Редуктор средний КАМАЗ 53205 Евро МКБ с блокировкой - 53205-2502011- ЗапКам.ру
description: Коды - 53205-2502011-10(-20,-30,-40). Главная передача среднего моста КАМАЗ 53205 Евро МКБ с блокировкой, на средний мост, на технику КАМАЗ-65115, 53229, 43318. Новые оригинал, аналоги, бу, капремонт. Цена, доставка, описание, вес, размеры.
keywords: Редуктор среднего моста КАМАЗ 53205 Евро МКБ с блокировкой 53205-2502011-XX [-20, -10, -30, -40] новый, завод Аналог/самосбор, Н.Челны, г.12мес. Кап.ремонт, восстановленные, г.6мес.   53205-2502011-10(-20,-30,-40) Редукторы  - КАМАЗ-65115, 53229, 43318 Редуктор КамАЗ Евро Евро-1 Евро-2 48 зубьев 49 зубьев 47 зубьев 50 зубьев моста заднего переднего ведущего промежуточного 
hero-title: Редукторы КАМАЗ
h1: Редуктор среднего моста КАМАЗ 53205 Евро МКБ с блокировкой 
h2: 53205-2502011-XX [-20, -10, -30, -40]
phone: 
phone_title: 
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.agregaty | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12 m-auto">
    <!-- <h3>Описание</h3> -->
    <p>

    </p>
    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
