---
layout: default_info
title: Редуктор средний КАМАЗ-6520 - 35, 31 зубьев - 6520-2502011 - ЗапКам.ру
description: Каталожный номер - 6520-2502011-20(-10). Главная передача среднего моста КАМАЗ-6520, 35 зуб. - 6520-2502011-10 31 зуб. - 6520-2502011-20, на средний мост, на технику КАМАЗ-6520, 6460, 6522. Новые оригинал, аналоги, бу, капремонт. Цена, доставка, описание, вес, размеры.
keywords: Редуктор среднего моста КАМАЗ-6520 6520-2502011-20; 6520-2502011-10 новый, завод Аналог/самосбор, Н.Челны, г.12мес. Кап.ремонт, восстановленные, г.6мес.   35 зуб. - 6520-2502011-10 31 зуб. - 6520-2502011-20 Редукторы  - КАМАЗ-6520, 6460, 6522 Редуктор КамАЗ Евро Евро-1 Евро-2 48 зубьев 49 зубьев 47 зубьев 50 зубьев моста заднего переднего ведущего промежуточного 
hero-title: Редукторы КАМАЗ
h1: Редуктор среднего моста КАМАЗ-6520 
h2: 6520-2502011-20 (-10)
phone: 
phone_title: 
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.agregaty | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12 m-auto">
    <!-- <h3>Описание</h3> -->
    <p>

    </p>
    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
