---
layout: default_info
title: Редуктор задний КАМАЗ 43253-60, Евро, 46 зубьев - 43253-2402011-60 - ЗапКам.ру
description: Каталожный номер - 43253-2402011-60. Главная передача заднего моста КАМАЗ 43253-60, Евро, 46 зубьев, на задний мост, на технику КАМАЗ - 43253, 43255, 53605, 43501, 43502 и другие. Новые оригинал, аналоги, бу, капремонт. Цена, доставка, описание, вес, размеры.
keywords: Редуктор заднего моста КАМАЗ 43253-60, Евро, 46 зубьев 43253-2402011-60  Аналог/самосбор, Н.Челны, г.12мес. Кап.ремонт, восстановленные, г.6мес.    Редукторы  - КАМАЗ - 43253, 43255, 53605, 43501, 43502 и другие Редуктор КамАЗ Евро Евро-1 Евро-2 48 зубьев 49 зубьев 47 зубьев 50 зубьев моста заднего переднего ведущего промежуточного 
hero-title: Редукторы КАМАЗ
h1: Редуктор заднего моста КАМАЗ 43253-60, Евро, 46 зубьев 
h2: 43253-2402011-60
phone: 
phone_title: 
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.agregaty | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12 m-auto">
    <!-- <h3>Описание</h3> -->
    <p>

    </p>

    <p>
      <b>Чем редуктор 43253-2402011-60 отличается от 65115-2402011-60?</b>
    </p>
    <p>Отличается ведущим валом. На 43253 стоит вал 4326-2402024 диаметр по шлицам 55 мм. и фланец крепления карданного вала 53205-2506037, 
      тогда как на 65115 вал будет 5320-2402024 диаметр по шлицам 55 мм., а фланец 53205-2402036. Получается в сборе они не взаимозаменяемы.
    </p>
    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
