---
layout: default_info
title: Редуктор задний КАМАЗ-4310 (50 зубьев) 4310/5320-2402010-20 - ЗапКам.ру
description: Каталожный номер - 4310/5320-2402010-20. Главная передача заднего моста КАМАЗ-4310, 50 зубьев, полный аналог 5320-2402010-20, на задний мост, на технику КАМАЗ-4310, 43101. Новые оригинал, аналоги, бу, капремонт. Цена, доставка, описание, вес, размеры.
keywords: Редуктор заднего моста КАМАЗ-4310 4310/5320-2402010-20 новый, завод Аналог/самосбор, Н.Челны, г.12мес. Кап.ремонт, восстановленные, г.6мес.   50 зубьев, тоже самое что 5320-2402010-20 Редукторы  - КАМАЗ-4310, 43101 Редуктор КамАЗ Евро Евро-1 Евро-2 48 зубьев 49 зубьев 47 зубьев 50 зубьев моста заднего переднего ведущего промежуточного 
hero-title: Редукторы КАМАЗ
h1: Редуктор заднего моста КАМАЗ-4310 
h2: 4310/5320-2402010-20
phone: 
phone_title: 
categories: [<a href='/agregaty/reduktory/index.html'>Редукторы КАМАЗ</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.agregaty | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12 m-auto">
    <h3>Описание</h3> 
  <p>
    Редуктор заднего моста КАМАЗ 4310-2402010 предназначен принимать на себя крутящий момент от коленчатого вала двигателя
    и, уменьшив его, передавать далее узлам трансмиссии (межосевому дифференциалу, который распределяет момент на ведущие
    колеса в определенной пропорции).
  </p>

  <table class="table table-hover table-harki table-responsive-sm wa">
      <thead>
      <tr>
      <th>Обозначение</th>
      <th style="text-align: center;">Зубьев шестерен</th>
      <th style="text-align: center;">Передаточное число</th>
      <th>Код</th>
      <th>Применяемость</th>
      </tr>
      </thead> 
      <tbody>
     
      <tr>
      <td>4310-2402010-<strong>20</strong></td>
      <td style="text-align: center;"><strong>50</strong>/12</td>
      <td style="text-align: center;">7.22</td>
      <td style="text-align: center;">722</td>
      <td><strong>тяговый</strong>, автопоезда, полноприводная техника 6х6, 8х8</td>
      </tr>
      <tr>
        <td>4310-2402010-<strong>10</strong></td>
        <td style="text-align: center;"><strong>49</strong>/13</td>
        <td style="text-align: center;">6,53</td>
        <td style="text-align: center;">653</td>
        <td><strong>универсальный</strong>, самосвалы,&nbsp;автопоезда</td>
        </tr>
      </tbody>
  </table>

  
  <hr>
  <p class="alert alert-danger">Редукторы всех мостов на грузовике должны иметь одинаковое передаточное число - установка
    редукторов с разными передаточными числами неизбежно приведёт к поломке.&nbsp;</p>
  <h3>Замечания по установке редуктора КАМАЗ</h3>
  <p>  1. Перед установкой надо тщательно прочистить картер
    моста("чулок").<br />2. Убедиться в работоспособности сапуна картера моста для избежания выдавливания
    сальников.<br />3. Необходима замена масла на новое, рекомендованное производителем.<br />4. Необходимо использовать
    оригинальную паранитовую прокладку.</p>
  <h3>Обмен старого на новый - Trade-in</h3>
  <p>Вы можете сдать нам свой старый агрегат в зачёт нового или капитально отремонтированного. Стоимость за неисправную
    передачу определяется по факту дефектовки &ndash; в течении 2-5 дней.</p>
  <p>Trade-in поможет быстро и выгодно восстановить работоспособность вашего автомобиля КАМАЗ.</p>

  <hr> 
  <h2>Редуктора заднего моста КамАЗ 4310 - схема</h2>
  <img src="/agregaty/reduktory/img/5320-2402010-20_4310_scheme1.jpg" alt="Схема Редуктор задний КамАЗ-4310 5320-2402010">
  

    <h3>Каталог деталей передачи главной (редуктора) заднего моста в сборе КАМАЗ-4310 - 5320-2402010</h3>
    <table class="table table-harki table-hover table-responsive-sm table-striped wa">
       <tbody>
        <tr>
        <td>№</td>
        <td>Номер детали</td>
        <td>Наименование детали</td>
        <td>Кол-во</td>
        </tr>
        <tr>
        <td>&nbsp;</td>
        <td>1/05168/77</td>
        <td>Шайба 10 пружинная</td>
        <td>6</td>
        </tr> 
        <tr>
        <td>&nbsp;</td>
        <td>5320-2402015</td>
        <td>Картер главной передачи с крышками подшипников в сборе</td>
        <td>1</td>
        </tr>
        <tr>
        <td>&nbsp;</td>
        <td>5320-2402021</td>
        <td>Вал ведущий в сборе</td>
        <td>1</td>
        </tr>
        <tr>
        <td>&nbsp;</td>
        <td>5320-2402048</td>
        <td>Стакан подшипника в сборе</td>
        <td>1</td>
        </tr>
        <tr>
        <td>&nbsp;</td>
        <td>5320-2402050</td>
        <td>Крышка стакана подшипников в сборе</td>
        <td>1</td>
        </tr>
        <tr>
        <td>&nbsp;</td>
        <td>5320-2402076</td>
        <td>Крышка подшипников дифференциала в сборе</td>
        <td>2</td>
        </tr>
        <tr>
        <td>&nbsp;</td>
        <td>5320-2402108</td>
        <td>Стакан подшипников в сборе</td>
        <td>1</td>
        </tr>
        <tr>
        <td>&nbsp;</td>
        <td>864724</td>
        <td>Подшипник роликовый конический в сборе</td>
        <td>1</td>
        </tr>
        <tr>
        <td>&nbsp;</td>
        <td>864728</td>
        <td>Подшипник роликовый конический в сборе</td>
        <td>1</td>
        </tr>
        <tr>
        <td>&nbsp;</td>
        <td>864769</td>
        <td>Подшипник роликовый конический в сборе</td>
        <td>1</td>
        </tr>
        <tr>
        <td>1</td>
        <td>853522</td>
        <td>Гайка прорезная МЗЗх1,5-6Н</td>
        <td>1</td>
        </tr>
        <tr>
        <td>2</td>
        <td>1/07350/01</td>
        <td>Шплинт 4,7х50</td>
        <td>1</td>
        </tr>
        <tr>
        <td>3</td>
        <td>862500</td>
        <td>Шайба плоская 34х60х6</td>
        <td>1</td>
        </tr>
        <tr>
        <td>4</td>
        <td>5320-2402036</td>
        <td>Фланец ведущего вала в сборе</td>
        <td>1</td>
        </tr>
        <tr>
        <td>5</td>
        <td>864176</td>
        <td>Манжета 70х92 в сборе</td>
        <td>1</td>
        </tr>
        <tr>
        <td>6</td>
        <td>1/55408/21</td>
        <td>Болт М12х1,25-6gх50</td>
        <td>10</td>
        </tr>
        <tr>
        <td>7</td>
        <td>1/05170/77</td>
        <td>Шайба 12 пружинная</td>
        <td>10</td>
        </tr>
        <tr>
        <td>8</td>
        <td>5320-2402051</td>
        <td>Крышка стакана подшипников</td>
        <td>1</td>
        </tr>
        <tr>
        <td>9</td>
        <td>5320-2402047</td>
        <td>Прокладка</td>
        <td>1</td>
        </tr>
        <tr>
        <td>10</td>
        <td>5320-2402041</td>
        <td>Маслоотражатель</td>
        <td>1</td>
        </tr>
        <tr>
        <td>11</td>
        <td>5320-2402175</td>
        <td>Шайба упорная</td>
        <td>1</td>
        </tr>
        <tr>
        <td>12</td>
        <td>864726</td>
        <td>Кольцо подшипника внутреннее с сепаратором и роликами в сборе</td>
        <td>1</td>
        </tr>
        <tr>
        <td>13</td>
        <td>864725</td>
        <td>Кольцо подшипника наружное</td>
        <td>1</td>
        </tr>
        <tr>
        <td>15</td>
        <td>5320-2402126</td>
        <td>Крышка стакана подшипника</td>
        <td>1</td>
        </tr>
        <tr>
        <td>16</td>
        <td>5320-2402371</td>
        <td>Скоба редуктора</td>
        <td>1</td>
        </tr>
        <tr>
        <td>19</td>
        <td>5320-2402010-20</td>
        <td>Передача главная заднего моста в сборе</td>
        <td>1</td>
        </tr>
        <tr>
        <td>20</td>
        <td>853516</td>
        <td>Гайка М42х1,5-6Н</td>
        <td>1</td>
        </tr>
        <tr>
        <td>21</td>
        <td>5320-2402249</td>
        <td>Шайба опорная</td>
        <td>1</td>
        </tr>
        <tr>
        <td>22</td>
        <td>853950</td>
        <td>Кольцо подшипника внутреннее с сепаратором и роликами в сборе</td>
        <td>1</td>
        </tr>
        <tr>
        <td>23</td>
        <td>853949</td>
        <td>Кольцо подшипника наружное</td>
        <td>1</td>
        </tr>
        <tr>
        <td>24</td>
        <td>5320-2402088</td>
        <td>Шайба регулировочная</td>
        <td>&nbsp;</td>
        </tr>
        <tr>
        <td>24</td>
        <td>5320-2402089</td>
        <td>Шайба регулировочная</td>
        <td>&nbsp;</td>
        </tr>
        <tr>
        <td>24</td>
        <td>5320-2402090</td>
        <td>Шайба регулировочная</td>
        <td>&nbsp;</td>
        </tr>
        <tr>
        <td>24</td>
        <td>5320-2402091</td>
        <td>Шайба регулировочная</td>
        <td>&nbsp;</td>
        </tr>
        <tr>
        <td>24</td>
        <td>5320-2402092</td>
        <td>Шайба регулировочная</td>
        <td>&nbsp;</td>
        </tr>
        <tr>
        <td>24</td>
        <td>5320-2402093</td>
        <td>Шайба регулировочная</td>
        <td>&nbsp;</td>
        </tr>
        <tr>
        <td>24</td>
        <td>5320-2402094</td>
        <td>Шайба регулировочная</td>
        <td>&nbsp;</td>
        </tr>
        <tr>
        <td>24</td>
        <td>5320-2402095</td>
        <td>Шайба регулировочная</td>
        <td>&nbsp;</td>
        </tr>
        <tr>
        <td>25</td>
        <td>5320-2402112</td>
        <td>Стакан подшипника</td>
        <td>1</td>
        </tr>
        <tr>
        <td>26</td>
        <td>5320-2402096</td>
        <td>Прокладка регулировочная</td>
        <td>&nbsp;</td>
        </tr>
        <tr>
        <td>26</td>
        <td>5320-2402097</td>
        <td>Прокладка регулировочная</td>
        <td>&nbsp;</td>
        </tr>
        <tr>
        <td>26</td>
        <td>5320-2402098</td>
        <td>Прокладка регулировочная</td>
        <td>&nbsp;</td>
        </tr>
        <tr>
        <td>26</td>
        <td>5320-2402099</td>
        <td>Прокладка регулировочная</td>
        <td>&nbsp;</td>
        </tr>
        <tr>
        <td>26</td>
        <td>5320-2402100</td>
        <td>Прокладка регулировочная</td>
        <td>&nbsp;</td>
        </tr>
        <tr>
        <td>27</td>
        <td>864771</td>
        <td>Кольцо подшипника наружное</td>
        <td>1</td>
        </tr>
        <tr>
        <td>28</td>
        <td>5320-2402064-20</td>
        <td>Шестерня ведомая коническая и ведущая цилиндрическая в сборе</td>
        <td>1</td>
        </tr>
        <tr>
        <td>29</td>
        <td>864770</td>
        <td>Кольцо внутреннее с сепаратором и роликами в сборе</td>
        <td>1</td>
        </tr>
        <tr>
        <td>30</td>
        <td>853800</td>
        <td>Шпонка 14х9х45</td>
        <td>1</td>
        </tr>
        <tr>
        <td>31</td>
        <td>5320-2402110-20</td>
        <td>Шестерня ведущая цилиндрическая</td>
        <td>1</td>
        </tr>
        <tr>
        <td>32</td>
        <td>5320-2402060</td>
        <td>Шестерня ведомая коническая</td>
        <td>1</td>
        </tr>
        <tr>
        <td>33</td>
        <td>864715</td>
        <td>Подшипник роликовый радиальный в сборе</td>
        <td>1</td>
        </tr>
        <tr>
        <td>34</td>
        <td>262515</td>
        <td>Пробка КГ 1/4" ОСТ 37.001.178-82</td>
        <td>1</td>
        </tr>
        <tr>
        <td>35</td>
        <td>1/59709/21</td>
        <td>Болт М10х1,25-6gх35</td>
        <td>6</td>
        </tr>
        <tr>
        <td>36</td>
        <td>5320-2402181</td>
        <td>Крышка заднего подшипника</td>
        <td>1</td>
        </tr>
        <tr>
        <td>37</td>
        <td>5320-2402225</td>
        <td>Прокладка крышки</td>
        <td>1</td>
        </tr>
        <tr>
        <td>38</td>
        <td>864717</td>
        <td>Подшипник роликовый цилиндрический в сборе</td>
        <td>1</td>
        </tr>
        <tr>
        <td>39</td>
        <td>5320-2402229</td>
        <td>Шайба опорная заднего подшипника ведущего вала</td>
        <td>1</td>
        </tr>
        <tr>
        <td>40</td>
        <td>5320-2402018</td>
        <td>Картер главной передачи</td>
        <td>1</td>
        </tr>
        <tr>
        <td>41</td>
        <td>5320-2402120-20</td>
        <td>Шестерня ведомая цилиндрическая</td>
        <td>1</td>
        </tr>
        <tr>
        <td>42</td>
        <td>5320-2402034</td>
        <td>Прокладка картера редуктора</td>
        <td>1</td>
        </tr>
        <tr>
        <td>43</td>
        <td>5320-2402077</td>
        <td>Штифт крышки подшипника дифференциала</td>
        <td>4</td>
        </tr>
        <tr>
        <td>44</td>
        <td>5320-2402079</td>
        <td>Крышка подшипника</td>
        <td>2</td>
        </tr>
        <tr>
        <td>45</td>
        <td>5320-2402078-10</td>
        <td>Шайба стопорная</td>
        <td>4</td>
        </tr>
        <tr>
        <td>46</td>
        <td>853035</td>
        <td>Болт М18х1,5-6gх110</td>
        <td>4</td>
        </tr>
        <tr>
        <td>47</td>
        <td>5320-2402024</td>
        <td>Вал ведущий заднего моста</td>
        <td>1</td>
        </tr>
        <tr>
        <td>48</td>
        <td>5320-2402017</td>
        <td>Шестерня ведущая коническая в сборе</td>
        <td>1</td>
        </tr>
        <tr>
        <td>49</td>
        <td>864730</td>
        <td>Кольцо подшипника внутреннее в сборе</td>
        <td>1</td>
        </tr>
        <tr>
        <td>50</td>
        <td>864729</td>
        <td>Кольцо наружное</td>
        <td>1</td>
        </tr>
        <tr>
        <td>52</td>
        <td>5320-2402049</td>
        <td>Стакан подшипника</td>
        <td>1</td>
        </tr>
        <tr>
        <td>53</td>
        <td>5320-2402029</td>
        <td>Втулка распорная</td>
        <td>1</td>
        </tr>
        <tr>
        <td>54</td>
        <td>5320-2402188</td>
        <td>Шайба регулировочная подшипников</td>
        <td>&nbsp;</td>
        </tr>
        <tr>
        <td>54</td>
        <td>5320-2402189</td>
        <td>Шайба регулировочная подшипников</td>
        <td>&nbsp;</td>
        </tr>
        <tr>
        <td>54</td>
        <td>5320-2402190</td>
        <td>Шайба регулировочная подшипников</td>
        <td>&nbsp;</td>
        </tr>
        <tr>
        <td>54</td>
        <td>5320-2402191</td>
        <td>Шайба регулировочная подшипников</td>
        <td>&nbsp;</td>
        </tr>
        <tr>
        <td>54</td>
        <td>5320-2402192</td>
        <td>Шайба регулировочная подшипников</td>
        <td>&nbsp;</td>
        </tr>
        <tr>
        <td>54</td>
        <td>5320-2402193</td>
        <td>Шайба регулировочная подшипников</td>
        <td>&nbsp;</td>
        </tr>
        <tr>
        <td>54</td>
        <td>5320-2402194</td>
        <td>Шайба регулировочная подшипников</td>
        <td>&nbsp;</td>
        </tr>
        <tr>
        <td>54</td>
        <td>5320-2402195</td>
        <td>Шайба регулировочная подшипников</td>
        <td>&nbsp;</td>
        </tr>
        </tbody>
        </table>
        <hr> 
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
