---
layout: default_info
title: Редуктор средний КАМАЗ-6520 - 35, 31 зубьев - 6520-2502011
description: Каталожный номер - 6520-2502011-20(-10). Главная передача среднего моста КАМАЗ-6520, 35 зуб. - 6520-2502011-10 31 зуб. - 6520-2502011-20, на средний мост, на технику КАМАЗ-6520, 6460, 6522. Новые оригинал, аналоги, бу, капремонт. Цена, доставка, описание, вес, размеры.
keywords: Редуктор среднего моста КАМАЗ-6520 6520-2502011-20; 6520-2502011-10 новый, завод Аналог/самосбор, Н.Челны, г.12мес. Кап.ремонт, восстановленные, г.6мес.   35 зуб. - 6520-2502011-10 31 зуб. - 6520-2502011-20 Редукторы  - КАМАЗ-6520, 6460, 6522 Редуктор КамАЗ Евро Евро-1 Евро-2 48 зубьев 49 зубьев 47 зубьев 50 зубьев моста заднего переднего ведущего промежуточного 
hero-title: Редукторы КАМАЗ
h1: Редуктор среднего моста КАМАЗ-6520 
h2: 6520-2502011-20 (-10)
phone: 
phone_title: 
categories: [<a href='/agregaty/reduktory/index.html'>Редукторы КАМАЗ</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.agregaty | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12 m-auto">

  <div class="alert alert-info">
    <p>
        При поломке, внимательно осмотрите корпус, при обнаружении повреждений - рекомендуем отказаться от ремонта и купить готовый, т.к. это литая деталь и восстановить её сложно.
        <br>
        <b>Замена редуктора - лучше ремонта. Обменяем ваш сломанный редуктор на новый. <br>
           Профессионально отремонтируем ваш редуктор. 
        </b> 
    </p>
   <p> 
       Восстановленный нами редуктор делается, пожалуй, лучшим специалистом в Наб.Челнах, у которого ремонтируют свои редукторы многие местные владельцы КАМАЗов. 
       Используется тщательно проверенный старый корпус/картер, вся начинка заменятся на новые заводские детали, купленные по оптовым ценам.
       <br> Вам будет сложно починить его также качественно и недорого, как нам.   
   </p>
   <p>
        Стоимость доставки редуктора 6520 в Наб.Челны из Москвы или Краснодара = 1-3&nbsp;тыс.руб.
   </p>
</div>


    <h3>Описание</h3>
    <p>
      Редуктор среднего моста КАМАЗ 6520-2502011 предназначен принимать на себя крутящий момент от коленчатого вала двигателя
      и, уменьшив его, передавать далее узлам трансмиссии (межосевому дифференциалу, который распределяет момент на ведущие
      колеса в определенной пропорции).
    </p>
    <p>
      Отличается внешне от старых моделей и значительно дороже.
    </p>

    
    <h3>Комплектации главной передачи 6520-2502011</h3>
    <table class="table table-hover table-responsive-sm wa">
      <thead>
      <tr>
      <th>Обозначение</th>
      <th>Зубьев шестерен</th>
      <th>Передаточное число</th>
      <th>Применяемость</th>
      </tr> 
      </thead>
      <tbody>
      <tr>
      <td>6520-2402011-<strong>10</strong></td>
      <td style="text-align: center;"><strong>35</strong>/21</td>
      <td style="text-align: center;"><strong>5.11</strong></td>
      <td>самосвальное шасси, тяговый</td>
      </tr>
      <tr>
      <td>6520-2402011-<strong>20</strong></td>
      <td style="text-align: center;"><strong>31</strong>/15</td>
      <td style="text-align: center;"><strong>6.33</strong></td>
      <td>самосвальное шасси, скоростной</td>
      </tr>
      </tbody>
      </table>


      <hr>
      <p class="alert alert-danger">Редукторы всех мостов на грузовике должны иметь одинаковое передаточное число - установка
        редукторов с разными передаточными числами неизбежно приведёт к поломке.&nbsp;</p>
      <h3>Замечания по установке редуктора КАМАЗ</h3>
      <p>  1. Перед установкой надо тщательно прочистить картер
        моста("чулок").<br />2. Убедиться в работоспособности сапуна картера моста для избежания выдавливания
        сальников.<br />3. Необходима замена масла на новое, рекомендованное производителем.<br />4. Необходимо использовать
        оригинальную(толстую) паранитовую прокладку между чулком моста и картером редуктора.</p>
      <h3>Обмен старого на новый - Trade-in</h3>
      <p>Вы можете сдать нам свой старый агрегат в зачёт нового или капитально отремонтированного. Стоимость за неисправную
        передачу определяется по факту дефектовки &ndash; в течении 2-5 дней.</p>
      <p>Trade-in поможет быстро и выгодно восстановить работоспособность вашего автомобиля КАМАЗ.</p>
      
          <hr>

    </p>
    
    <hr>


    <h3>Комплектация передачи главной (редуктора) промежуточного моста в сборе 6520-2502011-10</h3>
    <table class="table table-harki table-hover table-responsive-sm table-striped wa">
      <tbody>
      <tr>
      <td>Номер</td>
      <td>Наименование</td>
      </tr>
      <tr>
      <td>6520-2502015</td>
      <td>Картер редуктора среднего моста</td>
      </tr>
      <tr>
      <td>6520-2502021-10</td>
      <td>Шестерня ведущая коническая</td>
      </tr>
      <tr>
      <td>6520-2502036</td>
      <td>Фланец ведущий среднего моста</td>
      </tr>
      <tr>
      <td>6520-2502050</td>
      <td>Крышка подшипника в сборе</td>
      </tr>
      <tr>
      <td>6520-2503011-10</td>
      <td>Дифференциал моста среднего</td>
      </tr>
      <tr>
      <td>6520-2506010</td>
      <td>Дифференциал межосевой среднего моста</td>
      </tr>
      <tr>
      <td>5320-2509024</td>
      <td>Крышка корпуса механизма блокировки (сварка)</td>
      </tr>
      <tr>
      <td>6520-2402096</td>
      <td>Прокладка регулировочная</td>
      </tr>
      <tr>
      <td>6520-2402097</td>
      <td>Прокладка регулировочная</td>
      </tr>
      <tr>
      <td>6520-2402098</td>
      <td>Прокладка регулировочная</td>
      </tr>
      <tr>
      <td>6520-2402099</td>
      <td>Прокладка регулировочная</td>
      </tr>
      <tr>
      <td>6520-2402100</td>
      <td>Прокладка регулировочная</td>
      </tr>
      <tr>
      <td>53205-2403040</td>
      <td>Гайка подшипника</td>
      </tr>
      <tr>
      <td>6520-2403043</td>
      <td>Стопор гайки подшипника</td>
      </tr>
      <tr>
      <td>6520-2502024</td>
      <td>Вал ведущий среднего моста</td>
      </tr>
      <tr>
      <td>6520-2502052</td>
      <td>Прокладка регулировочная</td>
      </tr>
      <tr>
      <td>6520-2502101</td>
      <td>Прокладка картера</td>
      </tr>
      <tr>
      <td>6520-2502110</td>
      <td>Шестерня ведущая привода среднего моста</td>
      </tr>
      <tr>
      <td>6520-2502115</td>
      <td>Прокладка картера редуктора среднего моста</td>
      </tr>
      <tr>
      <td>6520-2502120</td>
      <td>Шестерня ведомая цилиндрическая привода среднего моста</td>
      </tr>
      <tr>
      <td>6520-2502142</td>
      <td>Кольцо стопорное</td>
      </tr>
      <tr>
      <td>6520-2502175</td>
      <td>Шайба</td>
      </tr>
      <tr>
      <td>6520-2402269</td>
      <td>Гайка подшипника</td>
      </tr>
      <tr>
      <td>6520-2506126</td>
      <td>Шестерня привода заднего моста</td>
      </tr>
      <tr>
      <td>5320-2509017</td>
      <td>Диафрагма механизма блокировки межосевого дифференциала</td>
      </tr>
      <tr>
      <td>5320-2509019</td>
      <td>Стакан механизма блокировки</td>
      </tr>
      <tr>
      <td>6520-2509020</td>
      <td>Стержень механизма блокировки</td>
      </tr>
      <tr>
      <td>5320-2509023</td>
      <td>Пружина возвратная</td>
      </tr>
      <tr>
      <td>5320-2509025</td>
      <td>Крышка стакана механизма блокировки</td>
      </tr>
      <tr>
      <td>5320-2509049</td>
      <td>Вилка блокировки</td>
      </tr>
      <tr>
      <td>5320-2509053</td>
      <td>Муфта блокировки межосевого дифференциала</td>
      </tr>
      <tr>
      <td>5320-2509065</td>
      <td>Пружина нажимная</td>
      </tr>
      <tr>
      <td>1042924К1М</td>
      <td>Подшипник роликовый радиальный с короткими цилиндрическими роликами</td>
      </tr>
      <tr>
      <td>6-7217А</td>
      <td>Подшипник роликовый конический однорядный</td>
      </tr>
      <tr>
      <td>6-7516А1</td>
      <td>Подшипник роликовый конический однорядный ГОСТ 520-89</td>
      </tr>
      <tr>
      <td>27313А</td>
      <td>Подшипник роликовый конический однорядный</td>
      </tr>
      <tr>
      <td>42206АКМ</td>
      <td>Подшипник роликовый радиальный с короткими цилиндрическими роликами</td>
      </tr>
      <tr>
      <td>1/09020/21</td>
      <td>Болт М6-6gх12</td>
      </tr>
      <tr>
      <td>1/55407/21</td>
      <td>Болт М12х1,25-6gх45</td>
      </tr>
      <tr>
      <td>1/42376/21</td>
      <td>Болт М8-6gх12</td>
      </tr>
      <tr>
      <td>1/42747/31</td>
      <td>Болт самоконтрящийся М12х1,25-6gх40</td>
      </tr>
      <tr>
      <td>1/07910/11</td>
      <td>Гайка М10х1,25-6Н</td>
      </tr>
      <tr>
      <td>1/05170/77</td>
      <td>Шайба 12 пружинная</td>
      </tr>
      <tr>
      <td>1/02785/50</td>
      <td>Прокладка регулировочная 16х22х0,5</td>
      </tr>
      <tr>
      <td>1/02813/80</td>
      <td>Прокладка уплотнительная 16х22х1</td>
      </tr>
      <tr>
      <td>853350</td>
      <td>Винт установочный М10х1,25-6gх25</td>
      </tr>
      <tr>
      <td>862806</td>
      <td>Кольцо Б 62 ГОСТ 13943-68</td>
      </tr>
      <tr>
      <td>862810</td>
      <td>Кольцо упорное</td>
      </tr>
      <tr>
      <td>262515</td>
      <td>Пробка КГ 1/4" ОСТ 37.001.178-82</td>
      </tr>
      <tr>
      <td>ВК403Б</td>
      <td>Выключатель света заднего хода</td>
      </tr>
      </tbody>
      </table>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
