---
layout: default_info
title: Редуктор средний КАМАЗ 53205 Евро 48, 49, 47, 50 зубьев - 53205-2502010
description: Обозначение редуктора - 53205-2502010-10(-20,-30,-40). Главная передача среднего моста КАМАЗ 53205 Евро, на средний мост, на технику КАМАЗ-53205, 55111, 54105, 43114 и 65115. Новые оригинал, аналоги, бу, капремонт. Цена, доставка, описание, вес, размеры.
keywords: Редуктор среднего моста КАМАЗ 53205 Евро 53205-2502010-XX [-20, -10, -30, -40] новый, завод Аналог/самосбор, Н.Челны, г.12мес. Кап.ремонт, восстановленные, г.6мес.   53205-2502010-10(-20,-30,-40) Редукторы  - КАМАЗ-53205, 55111, 54105, 43114 и 65115 Редуктор КамАЗ Евро Евро-1 Евро-2 48 зубьев 49 зубьев 47 зубьев 50 зубьев моста заднего переднего ведущего промежуточного 
hero-title: Редукторы КАМАЗ
h1: Редуктор среднего моста КАМАЗ 53205 Евро без блокировки 
h2: 53205-2502010-XX [-20, -10, -30, -40]
phone: 
phone_title: 
categories: [<a href='/agregaty/reduktory/index.html'>Редукторы КАМАЗ</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.agregaty | where:"url", page_url | first  %}
{%- if product -%} {% include card_zapchasti.html product = product %} {%- endif -%}


{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12 m-auto">
  <h3>Описание</h3> 
  <p>
    Редуктор среднего моста КАМАЗ 53205-2502010 предназначен принимать на себя крутящий момент от коленчатого вала двигателя
    и, уменьшив его, передавать далее узлам трансмиссии (межосевому дифференциалу, который распределяет момент на ведущие
    колеса в определенной пропорции).
  </p>

  <table class="table table-hover table-harki table-responsive-sm wa">
      <thead>
      <tr>
      <th>Обозначение</th>
      <th style="text-align: center;">Зубьев шестерен</th>
      <th style="text-align: center;">Передаточное число</th>
      <th>Код</th>
      <th>Применяемость</th>
      </tr>
      </thead>
      <tbody>
      <tr>
      <td>53205-2502010-<strong>10</strong></td>
      <td style="text-align: center;"><strong>49</strong>/13</td>
      <td style="text-align: center;">6,53</td>
      <td style="text-align: center;">653</td>
      <td><strong>универсальный</strong>, самосвалы,&nbsp;автопоезда</td>
      </tr>
      <tr>
      <td>53205-2502010-<strong>20</strong></td>
      <td style="text-align: center;"><strong>50</strong>/12</td>
      <td style="text-align: center;">7.22</td>
      <td style="text-align: center;">722</td>
      <td><strong>тяговый</strong>, автопоезда, полноприводная техника 6х6, 8х8</td>
      </tr>
      <tr>
      <td>53205-2502010-<strong>30</strong></td>
      <td style="text-align: center;"><strong>48</strong>/14</td>
      <td style="text-align: center;">5,94</td>
      <td style="text-align: center;">594</td>
      <td><strong>универсальный</strong>, самосвалы, сельхозники, одиночная техника</td>
      </tr>
      <tr>
      <td>53205-2502010-<strong>40</strong></td>
      <td style="text-align: center;"><strong>47</strong>/15</td>
      <td style="text-align: center;">5,43</td>
      <td style="text-align: center;">543</td>
      <td><strong>скоростной</strong>, тягачи, одиночная техника</td>
      </tr>
      </tbody>
  </table>

  <p>49 зубьев &mdash; оптимальное соотношение для самосвалов, вездеходов и другой коммерческой спецтехники работающей в
      условиях бездорожья, на карьерах, в горах и пересечённой местности, наиболее популярное. Чем выше передаточное
      число, тем более сложные дорожные условия сможет преодолеть автомобиль, большую нагрузку выдержать. Для грузовиков
      без прицепов рекомендованы редукторы с передаточным числом 6.53, 5.94 и 5.43, для автопоездов - 7.22, 6.53 и 5.94. В
      зависимости от рельефа местности: для равнины &ndash; 5.94, на пересеченной местности &ndash; 6.53, горной &ndash;
      7.22.</p>
  
  <hr>
  <p class="alert alert-danger">Редукторы всех мостов на грузовике должны иметь одинаковое передаточное число - установка
    редукторов с разными передаточными числами неизбежно приведёт к поломке.&nbsp;</p>
  <h3>Замечания по установке редуктора КАМАЗ</h3>
  <p>  1. Перед установкой надо тщательно прочистить картер
    моста("чулок").<br />2. Убедиться в работоспособности сапуна картера моста для избежания выдавливания
    сальников.<br />3. Необходима замена масла на новое, рекомендованное производителем.<br />4. Необходимо использовать
    оригинальную паронитовую прокладку.</p>
  <h3>Обмен старого на новый - Trade-in</h3>
  <p>Вы можете сдать нам свой старый агрегат в зачёт нового или капитально отремонтированного. Стоимость за неисправную
    передачу определяется по факту дефектовки &ndash; в течении 2-5 дней.</p>
  <p>Trade-in поможет быстро и выгодно восстановить работоспособность вашего автомобиля КАМАЗ.</p>

  <hr>
  


    <h3>Комплектация передачи главной (редуктора) промежуточного моста в сборе 53205-2502010-10</h3>
    <table class="table table-harki table-hover table-responsive-sm table-striped wa">
      <tbody>
      <tr>
      <td>Номер</td>
      <td>Наименование</td>
      </tr>
      <tr>
      <td>53205-2502010-10</td>
      <td>Передача главная среднего моста</td>
      </tr>
      <tr>
      <td>53205-2502010-20</td>
      <td>Передача главная среднего моста</td>
      </tr>
      <tr>
      <td>53205-2502011-10</td>
      <td>Передача главная среднего моста</td>
      </tr>
      <tr>
      <td>53205-2502011-20</td>
      <td>Передача главная среднего моста</td>
      </tr>
      <tr>
      <td>53205-2402015</td>
      <td>Картер редуктора заднего моста в сборе</td>
      </tr>
      <tr>
      <td>53205-2402036</td>
      <td>Фланец ведущего вала в сборе</td>
      </tr>
      <tr>
      <td>53205-2402064-10</td>
      <td>Шестерня ведомая коническая в сборе</td>
      </tr>
      <tr>
      <td>53205-2402064-20</td>
      <td>Шестерня ведомая коническая</td>
      </tr>
      <tr>
      <td>5320-2402108</td>
      <td>Стакан подшипников в сборе</td>
      </tr>
      <tr>
      <td>53215-2403010-10</td>
      <td>Дифференциал заднего моста</td>
      </tr>
      <tr>
      <td>53215-2403010-20</td>
      <td>Дифференциал заднего моста</td>
      </tr>
      <tr>
      <td>53229-2403011-10</td>
      <td>Дифференциал заднего моста в сборе</td>
      </tr>
      <tr>
      <td>53229-2403011-20</td>
      <td>Дифференциал заднего моста</td>
      </tr>
      <tr>
      <td>5320-2502012</td>
      <td>Шестерня ведущая коническая в сборе</td>
      </tr>
      <tr>
      <td>5320-2502208</td>
      <td>Крышка заднего подшипника с сальником в сборе</td>
      </tr>
      <tr>
      <td>53205-2506010</td>
      <td>Дифференциал межосевой промежуточного моста в сборе</td>
      </tr>
      <tr>
      <td>5320-2402041</td>
      <td>Маслоотражатель</td>
      </tr>
      <tr>
      <td>5320-2402047</td>
      <td>Прокладка</td>
      </tr>
      <tr>
      <td>5320-2402096..100</td>
      <td>Прокладка регулировочная</td>
      </tr>
      <tr>
      <td>5320-2402126</td>
      <td>Крышка стакана подшипника</td>
      </tr>
      <tr>
      <td>5320-2402225</td>
      <td>Прокладка крышки</td>
      </tr>
      <tr>
      <td>5320-2402249</td>
      <td>Шайба опорная</td>
      </tr>
      <tr>
      <td>53205-2402269</td>
      <td>Гайка подшипника</td>
      </tr>
      <tr>
      <td>53205-2402288..318</td>
      <td>Втулка регулировочная</td>
      </tr>
      <tr>
      <td>5320-2402371</td>
      <td>Скоба редуктора</td>
      </tr>
      <tr>
      <td>53205-2403040</td>
      <td>Гайка подшипника</td>
      </tr>
      <tr>
      <td>5320-2403043</td>
      <td>Стопор гайки</td>
      </tr>
      <tr>
      <td>5320-2502201</td>
      <td>Вал задний промежуточного моста</td>
      </tr>
      <tr>
      <td>5320-2506115</td>
      <td>Прокладка картера межосевого дифференциала</td>
      </tr>
      <tr>
      <td>4612134448</td>
      <td>Подшипник шариковый радиальный однорядный ГОСТ 520-89</td>
      </tr>
      <tr>
      <td>4624142065</td>
      <td>Подшипник 6-7516 А1 роликовый конический однорядный</td>
      </tr>
      <tr>
      <td>4624433829</td>
      <td>Подшипник роликовый конический однорядный с большим углом конуса ГОСТ 520-89</td>
      </tr>
      <tr>
      <td>4624434258</td>
      <td>Подшипник роликовый конический однорядный с большим углом конуса ГОСТ 520-89</td>
      </tr>
      <tr>
      <td>1/59709/21</td>
      <td>Болт М10х1,25-6gх35</td>
      </tr>
      <tr>
      <td>1/55408/21</td>
      <td>Болт М12х1,25-6gх50</td>
      </tr>
      <tr>
      <td>1/42376/21</td>
      <td>Болт М8-6gх12</td>
      </tr>
      <tr>
      <td>1/42749/31</td>
      <td>Болт самоконтрящийся М12х1,25-6gх50</td>
      </tr>
      <tr>
      <td>1/05168/77</td>
      <td>Шайба 10 пружинная</td>
      </tr>
      <tr>
      <td>1/05170/77</td>
      <td>Шайба 12 пружинная</td>
      </tr>
      <tr>
      <td>1/07350/01</td>
      <td>Шплинт 4,7х50</td>
      </tr>
      <tr>
      <td>262515</td>
      <td>Пробка КГ 1/4" ОСТ 37.001.178-82</td>
      </tr>
      <tr>
      <td>853522</td>
      <td>Гайка прорезная МЗЗх1,5-6Н</td>
      </tr>
      <tr>
      <td>862500</td>
      <td>Шайба плоская 34х60х6</td>
      </tr>
      </tbody>
      </table>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
