---
layout: default_info
title: Редуктор задний КАМАЗ Евро 53229 МКБ с блокировкой (аналог 53205-2402011) - ЗапКам.ру
description: Каталожные номера - 53229-2402011-XX. Главная передача заднего моста КАМАЗ Евро 53229 МКБ с блокировкой, аналог 53205-2402011-XX, на задний мост, на технику КАМАЗ-53229 и другие авто с полным приводом КАМАЗ-53228, 53501, 5350, 43114, 43118, 4350, 6450, 65115, 65117, 6350. Новые оригинал, аналоги, бу, капремонт. Цена, доставка, описание, вес, размеры.
keywords: Редуктор заднего моста КАМАЗ Евро 53229 МКБ с блокировкой 53229-2402011-XX [-10, -20, -30, -40] новый, завод Аналог/самосбор, Н.Челны, г.12мес. Кап.ремонт, восстановленные, г.6мес.   Аналог 53205-2402011-XX Редукторы  - КАМАЗ-53229 и другие авто с полным приводом КАМАЗ-53228, 53501, 5350, 43114, 43118, 4350, 6450, 65115, 65117, 6350 Редуктор КамАЗ Евро Евро-1 Евро-2 48 зубьев 49 зубьев 47 зубьев 50 зубьев моста заднего переднего ведущего промежуточного 
hero-title: Редукторы КАМАЗ
h1: Редуктор заднего моста КАМАЗ Евро 53229 МКБ с блокировкой 
h2: 53229-2402011-XX [-10, -20, -30, -40]
phone: 
phone_title: 
categories: [<a href='/agregaty/reduktory/index.html'>Редукторы КАМАЗ</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.agregaty | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12 m-auto">
    <!-- <h3>Описание</h3> -->
    <p>

    </p>
    
    <hr>


    <h3>Комплектация передачи главной (редуктора) заднего моста в сборе 53229-2402011</h3>
    <table class="table table-harki table-hover table-responsive-sm table-striped wa">
      <tbody>
      <tr>
      <td>Номер</td>
      <td>Наименование</td>
      </tr>
      <tr>
      <td>5320-24020100</td>
      <td>Прокладка регулировочная</td>
      </tr>
      <tr>
      <td>5320-2402097</td>
      <td>Прокладка регулировочная</td>
      </tr>
      <tr>
      <td>5320-2402098</td>
      <td>Прокладка регулировочная</td>
      </tr>
      <tr>
      <td>5320-2402099</td>
      <td>Прокладка регулировочная</td>
      </tr>
      <tr>
      <td>53205-2402289</td>
      <td>Шайба регулировочная</td>
      </tr>
      <tr>
      <td>53205-2402290</td>
      <td>Шайба регулировочная</td>
      </tr>
      <tr>
      <td>53205-2402291</td>
      <td>Шайба регулировочная</td>
      </tr>
      <tr>
      <td>53205-2402292</td>
      <td>Шайба регулировочная</td>
      </tr>
      <tr>
      <td>53205-2402293</td>
      <td>Шайба регулировочная</td>
      </tr>
      <tr>
      <td>53205-2402294</td>
      <td>Шайба регулировочная</td>
      </tr>
      <tr>
      <td>53205-2402295</td>
      <td>Шайба регулировочная</td>
      </tr>
      <tr>
      <td>53205-2402296</td>
      <td>Шайба регулировочная</td>
      </tr>
      <tr>
      <td>53205-2402297</td>
      <td>Шайба регулировочная</td>
      </tr>
      <tr>
      <td>53205-2402298</td>
      <td>Шайба регулировочная</td>
      </tr>
      <tr>
      <td>53205-2402299</td>
      <td>Шайба регулировочная</td>
      </tr>
      <tr>
      <td>53205-2402300</td>
      <td>Шайба регулировочная</td>
      </tr>
      <tr>
      <td>53205-2402301</td>
      <td>Шайба регулировочная</td>
      </tr>
      <tr>
      <td>53205-2402302</td>
      <td>Шайба регулировочная</td>
      </tr>
      <tr>
      <td>53205-2402303</td>
      <td>Шайба регулировочная</td>
      </tr>
      <tr>
      <td>53205-2402304</td>
      <td>Шайба регулировочная</td>
      </tr>
      <tr>
      <td>53205-2402305</td>
      <td>Шайба регулировочная</td>
      </tr>
      <tr>
      <td>53205-2402306</td>
      <td>Шайба регулировочная</td>
      </tr>
      <tr>
      <td>53205-2402307</td>
      <td>Шайба регулировочная</td>
      </tr>
      <tr>
      <td>53205-2402308</td>
      <td>Шайба регулировочная</td>
      </tr>
      <tr>
      <td>53205-2402309</td>
      <td>Шайба регулировочная</td>
      </tr>
      <tr>
      <td>53205-2402310</td>
      <td>Шайба регулировочная</td>
      </tr>
      <tr>
      <td>53205-2402311</td>
      <td>Шайба регулировочная</td>
      </tr>
      <tr>
      <td>53205-2402312</td>
      <td>Шайба регулировочная</td>
      </tr>
      <tr>
      <td>53205-2402313</td>
      <td>Шайба регулировочная</td>
      </tr>
      <tr>
      <td>53205-2402314</td>
      <td>Шайба регулировочная</td>
      </tr>
      <tr>
      <td>53205-2402315</td>
      <td>Шайба регулировочная</td>
      </tr>
      <tr>
      <td>53205-2402316</td>
      <td>Шайба регулировочная</td>
      </tr>
      <tr>
      <td>53205-2402317</td>
      <td>Шайба регулировочная</td>
      </tr>
      <tr>
      <td>53205-2402318</td>
      <td>Шайба регулировочная</td>
      </tr>
      <tr>
      <td>53229-2402011-20</td>
      <td>Передача главная заднего моста</td>
      </tr>
      <tr>
      <td>53205-2402015</td>
      <td>Картер редуктора заднего моста в сборе</td>
      </tr>
      <tr>
      <td>5320-2402021</td>
      <td>Вал ведущий в сборе</td>
      </tr>
      <tr>
      <td>53205-2402064-20</td>
      <td>Шестерня ведомая коническая</td>
      </tr>
      <tr>
      <td>5320-2402108</td>
      <td>Стакан подшипников в сборе</td>
      </tr>
      <tr>
      <td>53229-2403011-20</td>
      <td>Дифференциал заднего моста</td>
      </tr>
      <tr>
      <td>5320-2402047</td>
      <td>Прокладка</td>
      </tr>
      <tr>
      <td>5320-2402096</td>
      <td>Прокладка регулировочная</td>
      </tr>
      <tr>
      <td>5320-2402126</td>
      <td>Крышка стакана подшипника</td>
      </tr>
      <tr>
      <td>5320-2402181</td>
      <td>Крышка заднего подшипника</td>
      </tr>
      <tr>
      <td>5320-2402225</td>
      <td>Прокладка крышки</td>
      </tr>
      <tr>
      <td>5320-2402229</td>
      <td>Шайба опорная заднего подшипника ведущего вала</td>
      </tr>
      <tr>
      <td>5320-2402249</td>
      <td>Шайба опорная</td>
      </tr>
      <tr>
      <td>53205-2402269</td>
      <td>Гайка подшипника</td>
      </tr>
      <tr>
      <td>53205-2402288</td>
      <td>Шайба регулировочная</td>
      </tr>
      <tr>
      <td>5320-2402371</td>
      <td>Скоба редуктора</td>
      </tr>
      <tr>
      <td>53205-2403040</td>
      <td>Гайка подшипника</td>
      </tr>
      <tr>
      <td>5320-2403043</td>
      <td>Стопор гайки</td>
      </tr>
      <tr>
      <td>6-7516А1</td>
      <td>Подшипник роликовый конический однорядный ГОСТ 520-89</td>
      </tr>
      <tr>
      <td>12310КМ</td>
      <td>Подшипник роликовый радиальный с короткими цилиндрическими роликами ГОСТ 520-89</td>
      </tr>
      <tr>
      <td>27310НА</td>
      <td>Подшипник роликовый конический однорядный с большим углом конуса ГОСТ 520-89</td>
      </tr>
      <tr>
      <td>У-27911А</td>
      <td>Подшипник роликовый конический однорядный с большим углом конуса ГОСТ 520-89</td>
      </tr>
      <tr>
      <td>1/59709/21</td>
      <td>Болт М10х1,25-6gх35</td>
      </tr>
      <tr>
      <td>1/55408/21</td>
      <td>Болт М12х1,25-6gх50</td>
      </tr>
      <tr>
      <td>1/42376/21</td>
      <td>Болт М8-6gх12</td>
      </tr>
      <tr>
      <td>1/05168/77</td>
      <td>Шайба 10 пружинная</td>
      </tr>
      <tr>
      <td>1/05170/77</td>
      <td>Шайба 12 пружинная</td>
      </tr>
      <tr>
      <td>262515</td>
      <td>Пробка КГ 1/4" ОСТ 37.001.178-82</td>
      </tr>
      </tbody>
      </table>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
