---
layout: default_info
title: 740.50-1005008 Вал коленчатый 740.50,-51,-55 Евро-2, двиг. 740.50, 740.51, 740.35, 740.37- ЗапКам.ру
description: Продаем Вал коленчатый 740.50,-51,-55 Евро-2, двиг. 740.50, 740.51, 740.35, 740.37, каталожный номер - 740.50-1005008, на двигатели 740.50-360, 740.51-320, на технику КамАЗ-6520, -65111 (до 2009). В наличии новые оригинал, качественные аналоги, бу восстановленные, капремонт. Доставим бесплатно до транспортной компании. Цены на модификации, описание, характеристики, вес, размер, габариты.
keywords: Вал коленчатый 740.50,-51,-55 Евро-2, двиг. 740.50, 740.51, 740.35, 740.37 740.50-1005008 завод, стандарт P0, 740.50-1005008 кор. 0.25, шат. 0 кор. 0.25, шат. 0.25 кор. Р1, шат. Р1 / 740.50-1005008-01 кор. Р0, шат. Р1 / 740.50-1005008-02  Валы коленчатые Ремонт - КамАЗ-6520, -65111 (до 2009) Двигатель КамАЗ Евро Евро-1 Евро-2 Евро-3 Евро-4 Коленвал Коленчатый вал Блок цилиндров шатун шейка поршня кольца Bosch ЯЗДА ЦПГ ЯМЗ SANZ насос турбокомпрессор распредвал
hero-title: Запчасти на ДВИГАТЕЛИ КамАЗ
h1: Вал коленчатый 740.50,-51,-55 Евро-2, двиг. 740.50, 740.51, 740.35, 740.37 740.50-1005008
h2:
phone: 
phone_title: 
categories: [ <a href='/dvigatel_zapchasti/category/valy-kolenchatye-kamaz.html'>Валы коленчатые</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.dvig_zap | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
    <!-- <h3>Описание</h3> -->
    <p>

    </p>
    
    <hr>
    
    <p class="text-center">
      <iframe width="800" height="450" style="max-width: 100%;" src="https://www.youtube.com/embed/Eh2VHCioNjM" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </p>
    <p class="text-info">Дефектовка коленчатых валов КамАЗ</p>

    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
