---
layout: default_info
title: 740.13-1005008-20 Вал коленчатый КамАЗ 740.13-2x Евро-0, нового образца, двигатели 740, 7403, 7409 - ЗапКам.ру
description: Продаем Вал коленчатый 740.13-2x Евро-0, нового образца, двиг. 740, 7403, 740.9, каталожный номер - 740.13-1005008-20, на двигатели 740.10, 7403, 7408, на технику КамАЗ-4310, -5320, -5410. Урал 4320, Лиаз. В наличии новые оригинал, качественные аналоги, бу восстановленные, капремонт. Доставим бесплатно до транспортной компании. Цены на модификации, описание, характеристики, вес, размер, габариты.
keywords: Вал коленчатый 740.13-2x Евро-0, нового образца, двиг. 740, 7403, 740.9 740.13-1005008-20  кор. 0.25, шат. 0 кор. 0.25, шат. 0.25 кор. Р1, шат. Р1 / 740.13-1005008-21 кор. Р0, шат. Р1 / 740.13-1005008-22  Валы коленчатые Ремонт - КамАЗ-4310, -5320, -5410. Урал 4320, Лиаз Двигатель КамАЗ Евро Евро-1 Евро-2 Евро-3 Евро-4 Коленвал Коленчатый вал Блок цилиндров шатун шейка поршня кольца Bosch ЯЗДА ЦПГ ЯМЗ SANZ насос турбокомпрессор распредвал
hero-title: Запчасти на ДВИГАТЕЛИ КамАЗ
h1: Вал коленчатый 740.13-2x Евро-0, нового образца, двиг. 740, 7403, 740.9 740.13-1005008-20
h2:
phone: 
phone_title: 
categories: [ <a href='/dvigatel_zapchasti/category/valy-kolenchatye-kamaz.html'>Валы коленчатые</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.dvig_zap | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
    <!-- <h3>Описание</h3> -->
    <p>

    </p>
    
    <hr>
    
    <p class="text-center">
      <iframe width="800" height="450" style="max-width: 100%;" src="https://www.youtube.com/embed/Eh2VHCioNjM" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </p>
    <p class="text-info">Дефектовка коленчатых валов КамАЗ</p>

    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
