---
layout: default_info
title: 740.13-1005008 Вал коленчатый 740.13 Евро-1, новый, двиг. 740.11, 740.13- ЗапКам.ру
description: Продаем Вал коленчатый 740.13 Евро-1, двиг. 740.11, 740.13, каталожный номер - 740.13-1005008, на двигатели Евро-1 740.11-240 и 740.13-260, на технику КамАЗ-5320, -5410, -5511, -53212 и другие. Новые оригинал, аналоги, бу, капремонт. Цена, доставка, описание, вес, размеры.
keywords: Вал коленчатый 740.13 Евро-1, двиг. 740.11, 740.13 740.13-1005008 завод, стандарт P0, 740.13-1005008   кор. Р1, шат. Р1 / 740.13-1005008-01 кор. Р0, шат. Р1 / 740.13-1005008-02  Валы коленчатые Завод - КамАЗ-5320, -5410, -5511, -53212 и другие Двигатель КамАЗ Евро Евро-1 Евро-2 Евро-3 Евро-4 Коленвал Коленчатый вал Блок цилиндров шатун шейка поршня кольца Bosch ЯЗДА ЦПГ ЯМЗ SANZ насос турбокомпрессор распредвал
hero-title: Запчасти на ДВИГАТЕЛИ КамАЗ
h1: Вал коленчатый 740.13 Евро-1, новый
h2: на двигатель 740.11, 740.13, новый - 740.13-1005008
phone: 
phone_title: 
categories: [ <a href='/dvigatel_zapchasti/category/valy-kolenchatye-kamaz.html'>Валы коленчатые</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.dvig_zap | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
    <h3>Описание</h3>
    <p>Коленчатый вал воспринимает усилия от поршней, передаваемые шатунами и преобразует их в крутящий момент. Кроме того, коленчатый вал обеспечивает движение поршней во время вспомогательных тактов и пуска двигателя, а также приводит в действие вспомогательные механизмы, обеспечивающие работоспособность двигателя.</p>
    <p>Коленчатый вал изготавливается из высококачественной стали, имеет пять коренных и четыре шатунные шейки, закаленные ТВЧ, связанных между собой щеками, которые сопрягаются переходными галтелями.</p>
    <p>В коленчатом вале к шатунной шейке закрепляются два шатуна, нужные для правого и левого ряда цилиндров. Шесть противовесов установлены для уравновешивания сил инерции и уменьшения вибраций.</p>
   
    
  
  <h3 id="740.13-1005008">Комплектация вала 740.13-1005008</h3>
  <figure class="wp-block-table">
      <table class="table wa table-hover table-responsive-sm">
          <thead>
              <tr>
                  <th>Комплектующие</th>
                  <th>Обозначение</th>
                  <th>Кол-во</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>1. Вал коленчатый</td>
                  <td>740.13-1005020</td>
                  <td>1</td>
              </tr>
              <tr>
                  <td>2. Противовес коленчатого вала передний</td>
                  <td>740.1005026-10</td>
                  <td>1</td>
              </tr>
              <tr>
                  <td>3. Противовес коленчатого вала задний</td>
                  <td>740.1005027</td>
                  <td>1</td>
              </tr>
              <tr>
                  <td>4. Ввёртыш коленчатого вала</td>
                  <td>740.1005535</td>
                  <td>1</td>
              </tr>
              <tr>
                  <td>5. Шестерня коленчатого вала</td>
                  <td>740.1005030-01</td>
                  <td>1</td>
              </tr>
              <tr>
                  <td>6. Шестерня ведущая привода масляного насоса</td>
                  <td>740.1011240-10</td>
                  <td>1</td>
              </tr>
              <tr>
                  <td>7. Штифт</td>
                  <td>870759</td>
                  <td>2</td>
              </tr>
              <tr>
                  <td>8. Шпонка сегментная</td>
                  <td>870813</td>
                  <td>1</td>
              </tr>
              <tr>
                  <td>9. Шпонка сегментная</td>
                  <td>870817</td>
                  <td>1</td>
              </tr>
          </tbody>
      </table>
  </figure>


  <hr>
  <h3>Маркировка и клеймение</h3>
  <p>Все коленчатые валы ПАО "КАМАЗ" имеют следующую маркировку:</p>
  <p>- <strong>обозначение коленчатого вала</strong> на боковой поверхности третьего, считая от фланца со стороны вентилятора, противовеса. Маркировка выполняется выступающим шрифтом при штамповке поковки (например, "740.50- 10005020"). На некоторых моделях валов часть маркировки (обведенные рамкой символы в обозначениях "740.30-10005020-01", "740.65-10005020-", "740.б2-10005020", "740.70-10005020") выполняется ударным способом;</p>
  <p>- <strong>серийный номер вала</strong> - на обработанной поверхности третьего противовеса;</p>
  <p>- <strong>дата изготовления поковки</strong> - на боковой поверхности 4-го противовеса: первые две цифры - год, третий символ из перечисления {1-9, О, Н, Д} - порядковый номер месяца (например, 09Н - ноябрь 2009г, 085 - май 2008 г.);</p>
  <p>- <strong>товарный знак</strong>&nbsp;"КАМАЗ" на боковой поверхности 5-го противовеса;</p>
  <p>- &laquo;R65&raquo; - <strong>величина радиуса кривошипа</strong> на боковой поверхности 6-го противовеса (только для коленчатых валов 740.50-1005020, 740.70-1005020, 740.62-1005020, 740.65-1005020);</p>
  <p>- <strong>знак ОТК</strong> на обработанной поверхности 8-го противовеса.</p>

    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
