---
layout: default
page_url: dvigatel_kamaz_740_13_260_evro1
title: Двигатель КАМАЗ 740.13-260 (Евро-1) для автомобилей КамАЗ 65115, 54115, 53215, 43118, 53229. Цена. Доставка.
metadesc: Купить двигатель КАМАЗ 740.13-260 (Евро-1) 740.13-1000400, в наличии с доставкой по всей России. ЧелныАгрегатЦентр
metakeywords: двигатель 740.13-1000400, купить, продажа, цена, стоимость
h1: Двигатель КАМАЗ 740.13-260 (Евро-1).
h2: Описание, Цены и характеристики. 740.13-260 (Евро-1).
---
<!-- Раздел карточки продукта --------------------------- -->
<div class="col-md-12">
    {% include card_template_dvigatel_new.html  %}
</div>


<!-- Html описание---------------------------------------------------------------->
<div class="col-md-1"></div>
<div class="col-md-10">
    <h3>Описание и особенности:</h3>

    <p>
        Двигатели КамАЗ 740.13 являются одними из самых популярных моторов, устанавливаемых на грузовую технику.
        Его ставят кроме автомобилей КамАЗ на краны, суда, автобусы и тяжелую технику различных производителей
    </p>
    <p>
        Двигатель КАМАЗ 740.13 Евро 1 является модернизированной версией мотора 740.10.
        Обновленная модификация не имеет существенных изменений в конструкции.
        Наличие турбокомпрессора позволило двигателю соответствовать нормам Евро 1.
        Этот двигатель, рабочим объемом 10,85 л.,мощностью 260 лошадиных сил используются в качестве автомобильных и
        тракторных силовых агрегатов.
        Двигатель КАМАЗ-740.13-260 выполняет экологические нормативы ЕВРО-1 и отличается надежностью и неприхотливостью.
        Силовые агрегаты в комплекте с этим двигателем и коробкой передач КПП-14 и КПП-15 устанавливаются практически на
        все
        модели транспортных автомобилей производства ПАО "КамАЗ".

    </p>


    <p></p>
    <p></p>



    <h3>Возможные комплектации двигатель КАМАЗ 740.13-260 (Евро-1) </h3>
    <p>
        Полная комплектация двигателя — 740.13-1000400.<br>

        Без навесного оборудования — 740.13-1000450.<br>

        Артикулы различных модификаций двигателя КАМАЗ 740.13:

        740.13-1000400-21,
        740.13-1000400-22,
        740.13-1000401-11,
        740.13-1000401-21,
        740.13-1000410-21,
        740.13-1000410-22,
        740.13-1000410-50,
        740.13-1000411-21,
        740.13-1000413-13.

    </p>
    <p></p>
    <p></p>

    <h3>Технические характеристики двигатель КамАЗ 740.13-260 (Евро-1)</h3>

    <table class="table" style="width:unset;">
        <tbody>
            <tr>
                <td class="colspan">Модель</td>
                <td class="colspan">740.13-260</td>
            </tr>
            <tr>
                <td>Тип</td>
                <td>дизельный с турбонаддувом с воспламенением от сжатия</td>
            </tr>
            <tr>
                <td>Число тактов</td>
                <td>4</td>
            </tr>
            <tr>
                <td>Расположение и число цилиндров</td>
                <td>V-образный, 8 цилиндровый</td>
            </tr>
            <tr>
                <td>Рабочий объем, л</td>
                <td>10,85</td>
            </tr>
            <tr>
                <td>Диаметр цилиндра и ход поршня, мм</td>
                <td>120/120</td>
            </tr>
            <tr>
                <td>Степень сжатия двигателя</td>
                <td>16,5</td>
            </tr>
            <tr>
                <td>Масса двигателя, кг</td>
                <td>835</td>
            </tr>
            <tr>
                <td>Мощность, квт (л.с.) при 2200 об/мин<br>
                    (режим максимальной мощности)</td>
                <td>191 (260)</td>
            </tr>
            <tr>
                <td>Крутящий момент двигателя, Нм<br>
                    при 1400 об/мин</td>
                <td>931</td>
            </tr>
            <tr>
                <td>Расход масла (угар) % от топл.</td>
                <td>0,30</td>
            </tr>
            <tr>
                <td>Минимальный удельный расход топлива, г/кВт·ч (г/лс·ч)</td>
                <td>207</td>
            </tr>
            <tr>
                <td>Стандарты и Правила</td>
                <td>ЕЭК ООН Евро-1; Правила ЕЭК ООН № 85, 24-03, 49-02А</td>
            </tr>
            <tr>
                <td>Порядок работы цилиндров:</td>
                <td>1-5-4-2-6-3-7-8</td>
            </tr>
            <tr>
                <td>ТНВД</td>
                <td>мод. 337-42 ЯЗДА</td>
            </tr>
            <tr>
                <td>Форсунка</td>
                <td>мод. 273-51 (с 5-ти соплами)</td>
            </tr>
            <tr>
                <td>Напряжение, B</td>
                <td>24</td>
            </tr>
            <tr>
                <td>Мощность генератора, Вт</td>
                <td>800 или 1000 или 2000</td>
            </tr>
            <tr>
                <td>Рекомендуемая емкость аккумулятора, Ампер/час</td>
                <td>190</td>
            </tr>
            <tr>
                <td>Емкость системы охлаждения (только двигателя), л</td>
                <td>18</td>
            </tr>
            <tr>
                <td>Температура открытия термостата, °С</td>
                <td>80</td>
            </tr>
            <tr>
                <td>Максимально допустимая температура, °С</td>
                <td>98</td>
            </tr>
            <tr>
                <td>Давление открытия выпускного клапана<br>
                    пробки расширительного бачка, кПа</td>
                <td>65</td>
            </tr>
            <tr>
                <td>Расход охлаждающей жидкости через радиатор<br>
                    при 2200 об/мин и сопротивлении внешней сети системы охлаждения 35 кПа, л/мин, не менее</td>
                <td>300</td>
            </tr>
            <tr>
                <td>Максимальное разрежение, кПа</td>
                <td>7</td>
            </tr>
            <tr>
                <td>Максимальное противодавление после турбокомпрессора, кПа</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Заправочная емкость системы смазки двигателя, л</td>
                <td>28</td>
            </tr>
            <tr>
                <td>Допускаемый крен&nbsp;продольный, °</td>
                <td>30</td>
            </tr>
            <tr>
                <td>Допускаемый крен&nbsp;поперечный, °</td>
                <td>20</td>
            </tr>
            <tr>
                <td>при 600 об/мин, МПа</td>
                <td>0,1</td>
            </tr>
            <tr>
                <td>при 2200 об/мин, МПа</td>
                <td>0,4</td>
            </tr>
            <tr>
                <td>Рекомендованная к применению охлаждающая жидкость:</td>
                <td>ТОСОЛ А40</td>
            </tr>
            <tr>
                <td colspan="1" rowspan="4">Рекомендованное к применению масло</td>
                <td>Уфалюб ХД Экстра (15W-40) ТУ 0253-002-11493112-93</td>
            </tr>
            <tr>
                <td>ЛУКойл-Супер (SAE 15W-40, CE/SG) ТУ 0253-075-00148636-99</td>
            </tr>
            <tr>
                <td>ЛУКойл-Супер (SAE 15W-40, CF-4/SG) ТУ 0253-075-00148636-99</td>
            </tr>
            <tr>
                <td>ЛУКойл-Супер (SAE 5W-30, CF-4/SG) ТУ 0253-075-00148636-99</td>
            </tr>
            <tr>
                <td>Периодичность смены масла</td>
                <td>каждые 16 000 км или 250 м/ч</td>
            </tr>
        </tbody>
    </table>

    <img src="/assets/img/dvigatels/740.13-260-img8.jpg" alt="КамАЗ 740.13 260" />

    <p>
        Силовой агрегат имеет простую конструкцию, что позволяет осуществлять ремонт даже в отсутствии
        мастерской. Преимуществом мотора является возможность запуска в условиях критически низких температур.

    </p>


    <p></p>
    <p></p>

    {% include kupite_u_nas.html %}
    <div class="text-center w-100">
        <a href="#default-suggestions_card" class="btn btn-lg btn-primary"> Запросить предложение </a>
    </div>

    <p></p>
    <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_02.jpg" alt="Двигатели КамАЗ"/> </p>
    <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_06.jpg" alt="Двигатели КамАЗ"/> </p>
    <p></p>
    
</div>