---
layout: default
page_url: dvigatel_kamaz_740_30_260_evro2
title: Двигатель КамАЗ Евро-2 740.30-260 от ЧелныАгрегатЦентр
metadesc: Закажите с доставкой по всей России двигатели КамАЗ 740.30-260 Евро-2 арт. 740.30-1000400. Звоните - двигатели в наличии. 
metakeywords: двигатель 740.30-1000400, купить, продажа, цена, стоимость
h1: Двигатель КамАЗ 740.30-260 (Евро-2)
h2: Описание, Цены и характеристики. 740.30-260 (Евро-2).
---
<!-- Раздел карточки продукта --------------------------- -->
<div class="col-md-12">
    {% include card_template_dvigatel_new.html  %}
</div>


<!-- Html описание---------------------------------------------------------------->
<div class="col-md-1"></div>
<div class="col-md-10">
    <h3>Описание и особенности:</h3>
    <p>
        Двигатель КАМАЗ 740.30-260 класса евро 2, 260 л.с., четырехтактный с воспламенением ог сжатия,
        жидкостного охлаждения, с V-образным расположением восьми цилиндров, с турбонаддувом и промежуточным охлаждением
        наддувочного воздуха (ОНВ) типа «воздух-воздух».V8 Под однодисковое сцепление (КПП КАМАЗ Zf или 154).
        Первая комплектация со всем навесным оборудованием.
        
        Тнвд ЯЗДА или Bosch (механика), рассчитан под охлаждение с интеркулером.
    </p>

    <p>
        Двигатель изготавливается в двух исполнениях «У» и «Т». Различаются они по условиям эксплуатации.
        <br>Двигатели 740.30-260, изготовленные в исполнении "У" по ГОСТ 15150-69 рассчитаны на эксплуатацию при температурах
        окружающего воздуха от минус 45 до плюс 40 °С, относительной влажности воздуха до 75 % при температуре 15 °С и в
        районах, расположенных на высоте до 3000 м над уровнем моря при снижении мощностных, экономических и других показателей
        до 20%, с преодолением перевалов до 4500 м.
        <br>
        Двигатели 740.30-260, изготовленные в исполнении "Т" по ГОСТ 15150-69 рассчитаны на эксплуатацию при температурах
        окружающего воздуха от минус 10 до плюс 45 °С, относительной влажности воздуха до 80% при температуре 27 °С и в районах,
        расположенных на высоте до 3000 м над уровнем моря при снижении мощностных, экономических и других показателей до 20%, с
        преодолением перевалов до 4500 м.
    </p>




    <p>
            Базовой деталью двигателя является блок цилиндров, на котором установлены и закреплены агрегаты и детали двигателя. В расточку полублоков установлены гильзы цилиндров "мокрого" типа. Сверху гильзы цилиндров закрыты головками, отдельными на каждый цилиндр. Снизу блок цилиндров закрыт штампованным масляным картером.
    </p>
    <p>
            В блоке цилиндров на пяти подшипниках скольжения расположен распределительный вал. Коленчатый вал установлен в нижней части блока.

            Система охлаждения двигателя жидкостная, закрытого типа, рассчитана на применение низкозамерзающей охлаждающей жидкости.
    </p>
    <p></p>
    <p></p>



    <h3>Возможные комплектации двигателя 740.30 260 </h3>
    <p>
        Полная комплектация двигателя — 740.30-1000400.<br>

        Без навесного оборудования — 740.30-1000450.<br>

        Артикулы различных модификаций двигателя КАМАЗ 740.30:<br>

        740.30-1000400-05,
        740.30-1000400-05,
        740.30-1000400-08,
        740.30-1000400-17,
        740.30-1000400-34,
        740.30-1000400-49,
        740.30-1000400-71,
        740.30-1000400-74,
        740.30-1000400-76,
        740.30-1000400-79,
        740.30-1000400-85,
        740.30-1000400-92,
        740.30-1000402-54,
        740.30-1000402-70,
        740.30-1000402-71,
        740.30-1000402-90,
        740.30-1000402-92,
        740.30-1000412,
        740.30-1000412-01,
        740.30-1000412-08.
    </p>
    <p></p>
    <p></p>

    <h3>Технические характеристики двигателя КамАЗ 740.30 260</h3>

    <table class="table" style="width:unset;">
        <tbody>
            <tr>
                <td class="colspan">Модель</td>
                <td class="colspan">740.30-260</td>
            </tr>
            <tr>
                <td>Тип</td>
                <td>дизельный с турбонаддувом и ОНВ</td>
            </tr>
            <tr>
                <td>Расположение и число цилиндров</td>
                <td>V-образный, 8 цилиндровый</td>
            </tr>
            <tr>
                <td>Рабочий объем, л</td>
                <td>10,85</td>
            </tr>
            <tr>
                <td>Диаметр цилиндра и ход поршня, мм</td>
                <td>120/120</td>
            </tr>
            <tr>
                <td>Степень сжатия двигателя</td>
                <td>16,5</td>
            </tr>
            <tr>
                <td>Масса двигателя, кг</td>
                <td>865</td>
            </tr>
            <tr>
                <td>Мощность, квт (л.с.) при 2200 об/мин<br>
                    (режим максимальной мощности)</td>
                <td>191 (260)</td>
            </tr>
            <tr>
                <td>Крутящий момент двигателя, Нм (кгм)<br>
                    при 1300 об/мин</td>
                <td>1079</td>
            </tr>
            <tr>
                <td>Расход масла (угар) % от топл.</td>
                <td>0,30</td>
            </tr>
            <tr>
                <td>Минимальный удельный расход топлива, г/кВт·ч (г/лс·ч)</td>
                <td>211 (155)</td>
            </tr>
            <tr>
                <td>Стандарты и Правила</td>
                <td>ЕЭК ООН Евро-2</td>
            </tr>
            <tr>
                <td>Порядок работы цилиндров:</td>
                <td>1-5-4-2-6-3-7-8</td>
            </tr>
            <tr>
                <td>ТНВД</td>
                <td>мод. 337-42 ЯЗДА</td>
            </tr>
            <tr>
                <td>Форсунка</td>
                <td>мод. 273-51<br>
                    (с 5-ти сопловым распылитетем)</td>
            </tr>
            <tr>
                <td>Напряжение, B</td>
                <td>24</td>
            </tr>
            <tr>
                <td>Мощность генератора, Вт</td>
                <td>800 или 1000 или 2000</td>
            </tr>
            <tr>
                <td>Рекомендуемая емкость аккумулятора, Ампер/час</td>
                <td>190</td>
            </tr>
            <tr>
                <td>Емкость системы охлаждения (только двигателя), л</td>
                <td>18</td>
            </tr>
            <tr>
                <td>Температура открытия термостата, °С</td>
                <td>80</td>
            </tr>
            <tr>
                <td>Максимально допустимая температура, °С</td>
                <td>98</td>
            </tr>
            <tr>
                <td>Давление открытия выпускного клапана<br>
                    пробки расширительного бачка, кПа</td>
                <td>65</td>
            </tr>
            <tr>
                <td>Расход охлаждающей жидкости через радиатор<br>
                    при 2200 об/мин и сопротивлении внешней сети системы охлаждения 35 кПа, л/мин, не менее</td>
                <td>300</td>
            </tr>
            <tr>
                <td>Максимальное разрежение, кПа</td>
                <td>7</td>
            </tr>
            <tr>
                <td>Максимальное противодавление после турбокомпрессора, кПа</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Заправочная емкость системы смазки двигателя, л</td>
                <td>28</td>
            </tr>
            <tr>
                <td>Допускаемый крен&nbsp;продольный, °</td>
                <td>30</td>
            </tr>
            <tr>
                <td>Допускаемый крен&nbsp;поперечный, °</td>
                <td>20</td>
            </tr>
            <tr>
                <td>при 600 об/мин, МПа</td>
                <td>0,1</td>
            </tr>
            <tr>
                <td>при 2200 об/мин, МПа</td>
                <td>0,4</td>
            </tr>
            <tr>
                <td>Рекомендованная к применению охлаждающая жидкость:</td>
                <td>ТОСОЛ А40</td>
            </tr>
         
            <tr>
                <td>Периодичность смены масла</td>
                <td>каждые 16 000 км или 250 м/ч</td>
            </tr>
        </tbody>
    </table>

<p>
    Этот двигатель получил самое широкое применение в серийных автомобилях производства ОАО "КАМАЗ" с 2005 года и по
    сегодняшний день. Двигатель КАМАЗ 740.30 мощностью 260 л.с. выпускался ранее как двигатель евро 2 и устанавливался на
    многие серийные автомобили КАМАЗ
</p>

<h3>Применяемость двигателя КамАЗ 740.30-260</h3>
<p>Самосвалы: КАМАЗ 65115-011, КАМАЗ 65115-015, КАМАЗ 65115-016, КАМАЗ 65115-017, КАМАЗ 65115-018, КАМАЗ 65115-023,
    КАМАЗ 6520-025, КАМАЗ 65115-026, КАМАЗ 65115-027, КАМАЗ 65115-028, КАМАЗ 45141-010-10, КАМАЗ 45141-011-10, КАМАЗ
    65111-010, КАМАЗ 65111-011;</p>
<p>Бортовые: КАМАЗ 65117-029, КАМАЗ 65117-030, КАМАЗ 43118-010-10, КАМАЗ 43118-011-10, КАМАЗ 43118-012-10;
</p>
<p>Седельные тягачи: КАМАЗ 65116-019, КАМАЗ 65116-020, КАМАЗ 44108-010-10, КАМАЗ 44108-910-10, КАМАЗ 44108-91910-10;</p>
<p>Шасси: КАМАЗ 43118-1013-10, КАМАЗ 43118-1016-10, КАМАЗ 43118-1017-10, КАМАЗ 43118-1018-10, КАМАЗ 43118-1019-10, КАМАЗ
    43118-1048-10, КАМАЗ 43118-1049-10, КАМАЗ 43118-1050-10, КАМАЗ 43118-1084-10, КАМАЗ 43118-1085-10, КАМАЗ
    43118-43118-1086-10, КАМАЗ 43118-1087-10, КАМАЗ 43118-1098-10, КАМАЗ 43118-1918-10, КАМАЗ 1996-10, КАМАЗ
    65111-1010, КАМАЗ 65111-1011,</p>
<p>С введением с 01 января 2008 года экологического класса Евро 3 данный двигатель получил сертификат соответствия и
    устанавливается на автомобили КАМАЗ указанные ниже:</p>
<p>Самосвалы: КАМАЗ 65115-017, КАМАЗ 45141-010-10, КАМАЗ 45141-011-10, КАМАЗ 65111-013;</p>
<p>Бортовые автомобили:&nbsp;КАМАЗ 43118-013-10;</p>
<p>Седельные тягачи: КАМАЗ 44108-010-10, КАМАЗ 44108-910-10, КАМАЗ 44108-91910-10;</p>
<p>Шасси: КАМАЗ 43118-1017-10, КАМАЗ 43118-1018-10, КАМАЗ 43118-1019-10, КАМАЗ 43118-1048-10, КАМАЗ 43118-1049-10, КАМАЗ
    43118-1087-10, КАМАЗ 43118-1098-10, КАМАЗ 43118-1918-10.</p>


    <p></p>
    <p></p>

    {% include kupite_u_nas.html %}
    <div class="text-center w-100">
        <a href="#default-suggestions_card" class="btn btn-lg btn-primary"> Запросить предложение </a>
    </div>

    <p></p>
    <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_10.jpg" alt="Двигатели КамАЗ"/> </p>
    <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_13.jpg" alt="Двигатели КамАЗ"/> </p>
    <p></p>
    

</div>