---
layout: default_info
title: Коробка раздаточная ZF VG 2000 - от ЗапКам.Запчасти
description: Продаем раздаточную коробку на КамАЗ 6522 ZF VG 2000, с доставкой по всей России. В наличии новые, восстановленные, капремонт. Прайс-лист, модификации, каталог, описание, характеристики.
keywords: Коробка раздаточная КамАЗ 6522 Коробка раздаточная ZF VG 2000
hero-title: Агрегаты на вездеходы КамАЗ-4310, 43114, 43118, 65111
h1: Коробка раздаточная ZF VG 2000
h2:
phone:
phone_title:
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.agregaty | where:"url", page_url | first  %}

{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
    

    <h3>Описание</h3>

    <p>
        Коробка VG-2000 устанавлаивается на автомобили KAMA3-63501, КАМАЗ-65224 и КАМАЗ-65225.
    </p>
    <h3>Отличие РК ZF2000\300 от РК ZF1600\300 и их взаимозаменяемость</h3>
<p>Основное отличие РК 2000 и 1600 - в величине передачи крутящего момента. Кроме того эти коробки имеют разные присоединительные и габаритные размеры. Если к примеру хотите поставить 2000 вместо 1600 (обратно нельзя по причине малого крутящего момента) Вам придется поменять кронштейны, карданные валы. Дешевле установить РК 6522. Там также требуется доработка, но это будет гораздо дешевле.</p>

<p>Раздатка выпускаются в 2 исполнениях с межосевым расстоянием входного и выходного валов А=300 и А= 396 мм и в 2 конструктивных вариантах с дифференциалом или без межосевого дифференциала.<br />Кроме того, коробки могут комплектоваться масляным насосом, либо без.</p>
<h3>Технические характеристики коробок VG-2000</h3>
<table class="table table-hover table-responsive-sm table-striped " style="width: auto;">
    <tbody>
        <tr>
        <td>&nbsp;</td>
        <td style="text-align: center;" colspan="2"><strong>А=300 мм</strong></td>
        <td style="text-align: center;" colspan="2"><strong>А=396 мм</strong></td>
        </tr>
        <tr>
        <td>Максимальный входной момент вала, Н*м</td>
        <td style="text-align: center;" colspan="2">25.000</td>
        <td style="text-align: center;" colspan="2">25.000</td>
        </tr>
        <tr>
        <td>Максимальные обороты входного вала, об/мин</td>
        <td style="text-align: center;" colspan="2">2800</td>
        <td style="text-align: center;" colspan="2">2800</td>
        </tr>
        <tr>
        <td rowspan="2">Передаточные числа</td>
        <td style="text-align: center;">высшая</td>
        <td style="text-align: center;">0,89 (0,72)</td>
        <td style="text-align: center;">высшая</td>
        <td style="text-align: center;">0,89 (0,72)</td>
        </tr>
        <tr>
        <td style="text-align: center;">низшая</td>
        <td style="text-align: center;">1,536</td>
        <td style="text-align: center;">низшая</td>
        <td style="text-align: center;">1,536</td>
        </tr>
        <tr>
        <td>Вес, включая межосевой дифференциал, кг</td>
        <td style="text-align: center;" colspan="2">355</td>
        <td style="text-align: center;" colspan="2">350</td>
        </tr>
        <tr>
        <td>Вес, без межосевого дифференциала, кг</td>
        <td style="text-align: center;" colspan="2">335</td>
        <td style="text-align: center;" colspan="2">330</td>
        </tr>
        <tr>
        <td>Количество масла, в л.:</td>
        <td style="text-align: center;" colspan="2">-</td>
        <td style="text-align: center;" colspan="2">-</td>
        </tr>
        <tr>
        <td>С дифференциалом</td>
        <td style="text-align: center;" colspan="2">8,41</td>
        <td style="text-align: center;" colspan="2">6,51</td>
        </tr>
        <tr>
        <td>&nbsp;</td>
        <td style="text-align: center;" colspan="2">&nbsp;</td>
        <td style="text-align: center;" colspan="2">&nbsp;</td>
        </tr>
        <tr>
        <td>Без дифференциала</td>
        <td style="text-align: center;" colspan="2">9,01</td>
        <td style="text-align: center;" colspan="2">7,11</td>
        </tr>
        <tr>
        <td>Применяемое масло</td>
        <td style="text-align: center;" colspan="2">SAE 90 согласно MILL-2105-API-GL4</td>
        <td style="text-align: center;" colspan="2">SAE 90 согласно MILL-2105-API-GL4</td>
        </tr>
        </tbody>
        </table>
<p>Конструктивные особенности:<br />- индукционный датчик скорости устанавливают на промежуточном валу;<br />- переключение передач с фиксированной нейтралью;<br />- основные детали унифицированы с базовыми коробками, отличаются коробки конструкцией картера.</p>
    



    <p>
     
    </p>   
    
    <p>Агрегаты имеют все необходимые сертификаты и сопроводительные документы.</p>
    <hr>
    <div class="alert alert-info">
        <b>Восстановленная раздаточная коробка </b>. <br>
        В качестве бюджетного варианта можем предложить восстановленную раздаточную коробку КамАЗ после кап.ремонта.
        <br>- Отремонтированы в заводских условиях;
        <br>- При ремонте использованы только новые оригинальные запчасти.
        <br>- Коробки прошли все контроли качества и испытания;
        
        <br>
        Гарантия на восстановленную раздаточную коробку составит 3-6 месяца.
    </div>
    <div class="alert alert-success">
        <strong>Trade-In</strong> Примем вашу старую раздатку в счёт новой (до 35% от стоимости).
    </div>
    <hr>

    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 100px;">&nbsp;</div>
  
</div>

{%- if product -%} {% include card_zapchasti.html product = product %} {%- endif -%}