---
layout: default_info
title: Коробка раздаточная КамАЗ 6522 - РК 6522-1800020
description: Продаем новые и восстановленные раздатки КамАЗ 6522 с КОМ и без КОМ, с доставкой по всей России. В наличии новые, восстановленные, капремонт. Прайс-лист, модификации, каталог, описание, характеристики.
keywords: Коробка раздаточная КамАЗ 6522
hero-title: Агрегаты на вездеходы КамАЗ-4310, 43114, 43118, 65111
h1: Коробка раздаточная КамАЗ-6522 в сборе 
h2: 6522-1800020
phone:
phone_title:
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %} 
{% assign product = site.data.agregaty | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
    

    <h3>Описание</h3>

    <p>
        Данная модель раздаточной коробки представляет собой камазовский аналог узлов ZF 1600, но не взаимозаменяема с ними, необходимо переоборудование - <a href="#zamena">подробнее</a>. 
        Раздатка 6522 устанавливается на самосвалы, седельные тягачи, и прочие модификации популярных российских
        грузовиков на базе шасси 6522. 
    </p>
    <p>
        Раздаточная коробка предусматривает два режима движения автомобиля: по бездорожью (в раздаточной коробке включается низшая передача) и по дорогам общего пользования (в раздаточной коробке включается высшая передача).
        У раздаточной коробки КамАЗ 6522 есть три фиксированных положения: нейтраль, первая (низшая) и вторая (повышенная) передачи. Переключение происходит при помощи рукоятки.
    </p>
    <p>
        Двухступенчатая РК, установленная на КамАЗах, состоит из следующих деталей:
    </p>   
    <ul>
        <li>Картер раздаточной коробки - 6522-1802010</li>
        <li>Вал первичный в сборе - 6522-1802024</li>
        <li>Вал промежуточный - 6522-1802083</li>
        <li>Дифференциал - 6522-1802150</li>
        </ul>
    <p>
        Объём заливаемого масла в раздатку КамАЗ 6522 – 6,2 литра.
        Рекомендуется использовать масла уровня не ниже SAE 85W90 или SAE 85W140. 
        <br>Периодичность замены масла - 30'000 – 60'000 километров пробега.
    </p>


    <h3>Чем отличается раздаточная коробка 65111 от 6522?</h3>

    <p>Это две разные раздаточные коробки. отличаются присоединительными, габаритными размерами и передающему крутящему моменту. Коробки не взаимозаменяемы. Детали входящие в состав коробок также не взаимозаменяемы.</p>

    <h3 id="zamena">Замена раздаточной коробки 6522 НА ZF VG 1600/300.</h3>
    <p>
        Вместо РК 6522 можно установить ZF VG1600/300. По присоединительным размерам они идентичны.
        Однако установка РК ZF требует дополнительно подвод воздуха к нейтрали, так как на 6522 его нет. 
        Также надо подогнуть трубки либо заменить их, так как подвод к 6522 идет слева по ходу движения, а у ZF справа.
    </p>

    <h3>Замена раздаточных коробок VG 1600/300 и VG 2000/300 на РК 6522-1800020</h3>
    <p>
        Раздаточная коробка 6522 имеет универсальные места присоединения к кронштейнам крепления раздаточных коробок 
        и может устанавливаться на кронштейны крепления как VG 1600/300, так и VG 2000/300. 
        При установке раздаточной коробки РК 6522-1800020 следует помнить, что она может
        устанавливаться взамен следующих РК: VG 1600/300 5848.001.011 и VG 2000/300 5849.051.007 
        (без коробки отбора мощности и запасного насоса ГУР). 
    </p>
    <p>
        Для установки раздаточной коробки 6522-1800020 необходимо произвести следующие действия:
    </p>
    <ol>
        <li>Отсоединить шланги пневмопривода, подведенные к механизму управления раздаточной коробкой и механизму блокировки дифференциала.</li>
        <li>Отсоединить кронштейны крепления РК и снять ее.</li>
        <li>Переставить кронштейны крепления РК на раздаточную коробку 6522-1800020 используя те же болты крепления кронштейнов (болты крепления имеют крупный шаг, как в 6522, так и в VG 1600(2000)/300).</li>
        <li>Отсоединить от крана управления в кабине трубку подвода воздуха (нейтраль), расположенную на кране слева по ходу движения, и заглушить отверстие пробкой 870899 М10х1.</li>
        <li>Установить РК 6522 на автомобиль.</li>
        <li>Подсоединить трубки пневмоуправления к РК. Трубка подвода воздуха к высшей передаче подсоединяется к отверстию на корпусе механизма управления, низшей передачи &ndash; на крышке корпуса. Правильность подсоединения можно контролировать наличием давления воздуха в трубке при повороте крана управления в соответствующее положение. При необходимости, можно удлинить трубки подвода воздуха используя фитинги D6580 6-S (форм. код 4510468000019) производства ф. &laquo;Camozzi&raquo; и отрезка полиамидной трубки &Oslash;6 мм. Трубку необходимой длинны отрезать по месту и закрепить за свободные отверстия на раме пластиковыми хомутами. Единственно на некоторых старых автомобилях может быть контакт кронштейнов крепления РК с кронштейнами топливного бака, решается установкой проставок их шайб или втулок.</li>
        </ol>

        

    <p>Агрегаты имеют все необходимые сертификаты и сопроводительные документы.</p>
    <hr>
    <div class="alert alert-info">
        <b>Восстановленная раздаточная коробка </b>. <br>
        В качестве бюджетного варианта можем предложить восстановленную раздаточную коробку КамАЗ после кап.ремонта.
        <br>- Отремонтированы в заводских условиях;
        <br>- При ремонте использованы только новые оригинальные запчасти.
        <br>- Коробки прошли все контроли качества и испытания;
        
        <br>
        Гарантия на восстановленную раздаточную коробку составит 3-6 месяца.
    </div>
    <div class="alert alert-success">
        <strong>Trade-In</strong> Примем вашу старую раздатку в счёт новой (до 35% от стоимости).
    </div>
    <hr>

    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 100px;">&nbsp;</div>
  
</div>