---
layout: default_info
title: Раздатка ZF VG 1600 - ЗапКам.Запчасти
description: Продаем раздаточную коробку на КамАЗ 6522 ZF VG 1600, с доставкой по всей России. В наличии новые, восстановленные, капремонт. Прайс-лист, модификации, каталог, описание, характеристики.
keywords: Коробка раздаточная КамАЗ Раздатка ZF VG 1600
hero-title: Агрегаты на вездеходы КамАЗ-4310, 43114, 43118, 65111
h1: Коробка раздаточная ZF VG 1600 в сборе 
h2:
phone:
phone_title:
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.agregaty | where:"url", page_url | first  %}
{%- if product -%} {% include card_zapchasti.html product = product %} {%- endif -%}


{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
    

    <h3>Описание</h3>

    
   <p>
    Раздаточная коробка VG-1600 устанавливается на автомобили КАМАЗ-6522.
   </p>  

   <h3>Отличие РК ZF2000\300 от РК ZF1600\300 и их взаимозаменяемость</h3>
<p>Основное отличие РК 2000 и 1600 - в величине передачи крутящего момента. Кроме того эти коробки имеют разные присоединительные и габаритные размеры. Если к примеру хотите поставить 2000 вместо 1600 (обратно нельзя по причине малого крутящего момента) Вам придется поменять кронштейны, карданные валы. Дешевле установить РК 6522. Там также требуется доработка, но это будет гораздо дешевле.</p>


   <table class="table table-hover table-responsive-sm table-striped " style="width: auto;">
    <tbody>
    <tr>
    <td colspan="2">&nbsp;</td>
    <td colspan="2">Без межосевого дифференциала</td>
    <td colspan="2">С межосевовым дифференциалом</td>
    </tr>
    <tr>
    <td colspan="2">Тип раздаточной коробки</td>
    <td>VG 1600/300</td>
    <td>VG 1600/396</td>
    <td>VG 1600/300</td>
    <td>VG 1600/396</td>
    </tr>
    <tr>
    <td colspan="2">Входной крутящий момент, Нм</td>
    <td>18.000</td>
    <td>18.000</td>
    <td>18.000</td>
    <td>18.000</td>
    </tr>
    <tr>
    <td colspan="2">Максим, входные обороты, об/мин</td>
    <td>2.800</td>
    <td>2.800</td>
    <td>2.800</td>
    <td>2.800</td>
    </tr>
    <tr>
    <td colspan="2">Вес, без масла и коробки отбора мощности, кг</td>
    <td>290</td>
    <td>300</td>
    <td>305</td>
    <td>315</td>
    </tr>
    <tr>
    <td rowspan="2" width="189">Передаточное число</td>
    <td width="230">Высшая передача</td>
    <td>0,89</td>
    <td>0,89</td>
    <td>0,89</td>
    <td>0,89</td>
    </tr>
    <tr>
    <td width="230">Низшая передача</td>
    <td>1,536</td>
    <td>1,536</td>
    <td>1,536</td>
    <td>1,536</td>
    </tr>
    </tbody>
    </table>


    <h3 id="zamena">Замена раздаточной коробки 6522 НА ZF VG 1600/300.</h3>
    <p>
        Вместо РК 6522 можно установить ZF VG1600/300. По присоединительным размерам они идентичны.
        Однако установка РК ZF требует дополнительно подвод воздуха к нейтрали, так как на 6522 его нет. 
        Также надо подогнуть трубки либо заменить их, так как подвод к 6522 идет слева по ходу движения, а у ZF справа.
    </p>

    <h3>Замена раздаточных коробок VG 1600/300 и VG 2000/300 на РК 6522-1800020</h3>
    <p>
        Раздаточная коробка 6522 имеет универсальные места присоединения к кронштейнам крепления раздаточных коробок 
        и может устанавливаться на кронштейны крепления как VG 1600/300, так и VG 2000/300. 
        При установке раздаточной коробки РК 6522-1800020 следует помнить, что она может
        устанавливаться взамен следующих РК: VG 1600/300 5848.001.011 и VG 2000/300 5849.051.007 
        (без коробки отбора мощности и запасного насоса ГУР). 
    </p>
    <p>
        Для установки раздаточной коробки 6522-1800020 необходимо произвести следующие действия:
    </p>
    <ol>
        <li>Отсоединить шланги пневмопривода, подведенные к механизму управления раздаточной коробкой и механизму блокировки дифференциала.</li>
        <li>Отсоединить кронштейны крепления РК и снять ее.</li>
        <li>Переставить кронштейны крепления РК на раздаточную коробку 6522-1800020 используя те же болты крепления кронштейнов (болты крепления имеют крупный шаг, как в 6522, так и в VG 1600(2000)/300).</li>
        <li>Отсоединить от крана управления в кабине трубку подвода воздуха (нейтраль), расположенную на кране слева по ходу движения, и заглушить отверстие пробкой 870899 М10х1.</li>
        <li>Установить РК 6522 на автомобиль.</li>
        <li>Подсоединить трубки пневмоуправления к РК. Трубка подвода воздуха к высшей передаче подсоединяется к отверстию на корпусе механизма управления, низшей передачи &ndash; на крышке корпуса. Правильность подсоединения можно контролировать наличием давления воздуха в трубке при повороте крана управления в соответствующее положение. При необходимости, можно удлинить трубки подвода воздуха используя фитинги D6580 6-S (форм. код 4510468000019) производства ф. &laquo;Camozzi&raquo; и отрезка полиамидной трубки &Oslash;6 мм. Трубку необходимой длинны отрезать по месту и закрепить за свободные отверстия на раме пластиковыми хомутами. Единственно на некоторых старых автомобилях может быть контакт кронштейнов крепления РК с кронштейнами топливного бака, решается установкой проставок их шайб или втулок.</li>
        </ol>

        <hr>
        
    <h3>Раздаточная коробка VG-1600 без межосевого дифференциала</h3>
    <div>
        <img src="/agregaty/razdatki/img/ZF_VG_1600_300_info_1.jpg" alt="Раздаточная коробка ZF VG-1600 без межосевого дифференциала">
        <p>
            Общий вид раздаточной коробки <br>
            1 - основной картер; 2 - передняя крышка; 3 - вал привода заднего моста;4 - вал привода переднего моста; 5 - промежуточный вал; 6 -входной вал; 7 - резьбовое отверстие М16х1.5; 8 - комплектация раздаточной коробки с масляным насосом.
        </p>
    </div>
    <p>Корпус раздатки состоит из 2 частей: основного картера 1 и передней крышки 2, соединенных друг с другом болтами. В корпус установлены четыре вала: входной 6, промежуточный 5 и выходные валы привода заднего 3 и переднего 4 мостов автомобиля.&nbsp;</p>
    <p>Входной вал установлен на два роликовых конических подшипника. Промежуточный вал опирается на цилиндрические роликовые подшипники, а выходной вал привода переднего моста установлен на шарикоподшипнике с одной стороны, а с другой - опирается в расточку вала привода заднего моста и имеет резьбовую канавку.</p>
    <p>Коробка имеет двухпозиционный переключатель передач. Муфта переключения располагается на входном валу между двумя свободно посаженными на вал косозубыми шестернями высшей и низшей передачами, которые посажены свободно на закаленные поверхности входного вала, имеющие продольные, по образующей вала, масляные канавки на всю ширину шестерен. Для их смазки в валу имеется осевое и радиальные отверстия, куда подается масло.</p>
    <p>Схема передачи крутящего момента, при которой шестерни высшей и низшей передачи расположены свободно на входном валу и блокируются с валом одним и тем же включающим элементом полностью исключает одновременное включение двух передач (в отличии от других схем).</p>
    <p>Включение передач - пневматическое, при давлении в приводе порядка 6,5-8 атмосфер.</p>
    <p>Входной вал со стороны двигателя имеет трапециевидные шлицы для установки фланца карданной передачи и резьбовое окончание с резьбой М38x1,5 мм. Момент затяжки гайки, с размером под ключ 65 мм, составляет 1080 Н*м.</p>

    

    <h3>Применяемые смазочные материалы</h3>
<p>В раздаточных коробках ZF используются масла, их эквиваленты: SAE 85W90 или SAE 85W140 (MIL-L2105A или API-GL4; MILL-2105B, MILL2105C или API-GL5).</p>
<p>Общее количество заливаемого масла зависит от конструкции коробки. Так, для коробок VG 1600/300 с дифференциалом необходимо примерно 7,21 литра, без дифференциала -7,81; для&nbsp;<strong>VG 1600/396</strong>&nbsp;соответственно 6,51 литра и 7,11 литра. Рекомендуется проверять периодически уровень масла и проводить его замену в установленное время.</p>
<p>Контроль уровня масла необходимо проводить через каждые 10000 км пробега, а смену для автомобилей с годовым пробегом не более 20000 км через каждые 30000 км, а с пробегом годовым 60000 км и более через каждые 60000 км. В любом случае смену масла надо проводить один раз в год.</p>
<p>При смене масла прочищаются от грязи отверстия сапуна. При наличии масляного радиатора, его подключение осуществляется заглушённой пробкой в районе передней крышки промежуточного вала.</p>
    
    <p>Агрегаты имеют все необходимые сертификаты и сопроводительные документы.</p>
    <hr>
    <div class="alert alert-info">
        <b>Восстановленная раздаточная коробка </b>. <br>
        В качестве бюджетного варианта можем предложить восстановленную раздаточную коробку КамАЗ после кап.ремонта.
        <br>- Отремонтированы в заводских условиях;
        <br>- При ремонте использованы только новые оригинальные запчасти.
        <br>- Коробки прошли все контроли качества и испытания;
        
        <br>
        Гарантия на восстановленную раздаточную коробку составит 3-6 месяца.
    </div>
    <div class="alert alert-success">
        <strong>Trade-In</strong> Примем вашу старую раздатку в счёт новой (до 35% от стоимости).
    </div>
    <hr>

    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 100px;">&nbsp;</div>
  
</div>