---
layout: default_info
title: Коробка раздаточная на КамАЗ 43114-1800020 - ЗапКам.Запчасти
description: Продаем раздаточную коробку для первых моделей КамАЗ-43118, КамАЗ-43261 (Евро-1, 2) без КОМа с доставкой по всей России. В наличии новые, восстановленные, капремонт. Прайс-лист, модификации, каталог, описание, характеристики.
keywords: Коробка раздаточная КамАЗ 4310 43114, 43118, 43253
hero-title: Агрегаты на вездеходы КамАЗ-4310, 43114, 43118, 65111
h1: Коробка раздаточная КамАЗ 43114-1800020 в сборе 
h2: 43114-1800020
phone:
phone_title:
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.agregaty | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
    
    <p>Модификации РК:</p>
    <ul>
    <li>180020<strong>-02</strong> &mdash; основная, с / без коробки отбора мощности (КОМ) для привода электролебедки;</li>
    <li>180020 / 180020<strong>-10</strong> &mdash; не включает шестерню ОМ вала первичного/ с КОМ для привода электролебедки;</li>
    <li>180020<strong>-01</strong> &mdash; шестерни ОМ первичного вала нет, без КОМа для привода электролебедки</li>
    <li>1800120<strong>-60,70,62,72</strong> &mdash; комплектации под разные карданные валы (старых годов выпуска)</li>
    <br> 
    </ul>
    <p>
        Раздаточная коробка 43114-1800020 выпускалась до 1.06.2007. Заменена раздаточной коробкой 6511-1800020.
        <br>
        Разработаны варианты применения раздаточных коробок 65111 в сборе c адаптерными
        деталями для поставки их в запасные части вместо раздаточных коробок 43114.
        (т.е. если к РК6511-1800020 добавить адаптерные детали (переходники для присоединения карданных валов ранних годов выпуска)
        получим коробку 43114-1800120). 
        <br>
        Предлагаются следующие модели РК 65111 вместо 43114:


    </p>

        <table>
            <tbody>
                <tr>
                    <td>
                        <p><strong>N</strong></p>
                    </td>
                    <td>
                        <p><strong>Обозначение РК 65111 в комплекте с адаптерными деталями</strong></p>
                    </td>
                    <td>
                        <p><strong>Вместо РК 43114</strong></p>
                    </td>
                    <td>
                        <p><strong>Адаптерные детали</strong></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>1</p>
                        <p>2</p>
                    </td>
                    <td>
                        <p>43114-1800120</p>
                        <p>43114-1800120-10</p>
                    </td>
                    <td>
                        <p>43114-1800020</p>
                        <p>43114-1800020-10</p>
                    </td>
                    <td>
                        <p>43118-2202016-32</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>3</p>
                        <p>4</p>
                    </td>
                    <td>
                        <p>43114-1800120-60</p>
                        <p>43114-1800120-70</p>
                    </td>
                    <td>
                        <p>43114-1800020-60</p>
                        <p>43114-1800020-70</p>
                    </td>
                    <td>
                        <p>43114-1802500</p>
                        <p>4310-1802198-60</p>
                        <p>5320-2402036</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>5</p>
                        <p>6</p>
                    </td>
                    <td>
                        <p>43114-1800120-62</p>
                        <p>43114-1800120-72</p>
                    </td>
                    <td>
                        <p>43114-1800020-62</p>
                        <p>43114-1800020-72</p>
                    </td>
                    <td>
                        <p>43114-1802500</p>
                        <p>4310-1802198-60</p>
                        <p>53212-2402036</p>
                    </td>
                </tr>
            </tbody>
        </table>
    
    <p>
        
    </p>

    <h3>Описание</h3>

    <p>
        Раздаточная коробка предусматривает два режима движения автомобиля: по бездорожью (в раздаточной коробке включается низшая передача) и по дорогам общего пользования (в раздаточной коробке включается высшая передача).
    </p>
    <p>
        Двухступенчатая РК, установленная на КамАЗах, состоит из следующих деталей:

        <br>- Картер.
        <br>- Валы: главный(первичный), промежуточный, вал привода переднего моста, вал для отбора мощности и вал привода задних мостов.
        <br>- Шестерня передач.
        <br>- Центральный привод управления.
        <br>- Межосевой дифференциал.
    </p>   
    
    <p>Агрегаты имеют все необходимые сертификаты и сопроводительные документы.</p>
    <hr>
    <div class="alert alert-info">
        <b>Восстановленная раздаточная коробка </b>. <br>
        В качестве бюджетного варианта можем предложить восстановленную раздаточную коробку КамАЗ после кап.ремонта.
        <br>- Отремонтированы в заводских условиях;
        <br>- При ремонте использованы только новые оригинальные запчасти.
        <br>- Коробки прошли все контроли качества и испытания;
        
        <br>
        Гарантия на восстановленную раздаточную коробку составит 3-6 месяца.
    </div>
    <div class="alert alert-success">
        <strong>Trade-In</strong> Примем вашу старую раздатку в счёт новой (до 35% от стоимости).
    </div>
    <hr>

    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 100px;">&nbsp;</div>
  
</div>