---
layout: default_info
title: Камера тормозная передняя тип 30 - 3519310 на КАМАЗ, МАЗ, ЗИЛ, УРАЛ, MAN
description: В продаже 830-3519310 - Камера тормозная передняя тип 30  АМТК, БИФОРМ, КЗТА, Рославль, WABCO, на КамАЗ 43118, 43253; 53229, 53605; 5460; 6460; 65111, 65115, 65116, 65117; 6520, 65201; МАЗ 4323, 5554, 5336; полуприцеп НефАЗ 9334-08., МАЗ, УРАЛ, ЗИЛ, MAN, Scania, Mercedes,   , каталожный номер - 830-3519310 3519310. Новые, оригинал, аналоги, капремонт. Цена, доставка, описание.
keywords: Камера тормозная передняя тип 30  830-3519310 АМТК, без упаковки АМТК, с длинным штоком   амтк  - КамАЗ 43118, 43253; 53229, 53605; 5460; 6460; 65111, 65115, 65116, 65117; 6520, 65201; МАЗ 4323, 5554, 5336; полуприцеп НефАЗ 9334-08.
hero-title: Энергоаккумуляторы, Тормозные камеры, Подогреватели 
h1: Камера тормозная передняя тип 30  
h2: 3519310
phone: 9196208229
phone_title: (919)620-82-29
categories: [<a href='/kamaz-4310/catalog/tormoza/index.html'>Тормоза и подогреватели</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.dvig_zap | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12 m-auto">
    <!-- <h3>Описание</h3> -->
    <p>

    </p>
    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
