---
layout: default_info
title: Камера тормозная передняя тип 20 - 3519110 на КАМАЗ, МАЗ, ЗИЛ, УРАЛ, MAN
description: В продаже 830-3519110 - Камера тормозная передняя тип 20  АМТК, БИФОРМ, КЗТА, Рославль, WABCO, на НефАЗ 8332 (двускатный), 9334-20, 93341-20 (21), ЗИЛ - 433360, 442160, 494560, 433110, ПАЗ-4234, Амкодор-333 (ТО-18Б), 342 (ТО-28), МАЗ, УРАЛ, ЗИЛ, MAN, Scania, Mercedes, каталожный номер - 3519110. Новые, оригинал, аналоги, капремонт. Цена, доставка, описание.
keywords: Камера тормозная передняя тип 20  830-3519110 АМТК, упакованная АМТК, с длинным штоком АМТК, 
hero-title: Энергоаккумуляторы, Тормозные камеры, Подогреватели 
h1: Камера тормозная передняя тип 20  
h2: 3519110
phone: 9196208229
phone_title: (919)620-82-29
categories: [<a href='/kamaz-4310/catalog/tormoza/index.html'>Тормоза и подогреватели</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.dvig_zap | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12 m-auto">
    <!-- <h3>Описание</h3> -->
    <a href="/kamaz-4310/catalog/tormoza/img/sertificat-energoakkumulator.pdf">Сертификат соответствия</a> 
    <p>&nbsp;</p>
    
    

    <p><strong>Камера тормозная с пружинным энергоаккумулятором тип 100-3519100-10<br /><br /></strong>Предназначена для приведения в действие тормозных механизмов. Камера состоит из двух частей: мембранной бесфланцевой тормозной камеры и пружинно-пневматического цилиндра.&nbsp;Мембранная камера выполняет функции исполнительного органа рабочей тормозной системы, пружинный энергоаккумулятор в зависимости от&nbsp;управления может быть исполнительным органом: запасного, стояночного&nbsp;тормоза</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<table width="table table-hover table-harki table-striped table-responsive-sm wa">
<tbody>
<tr>
<td rowspan="2" align="center">
<p><strong>Обозначение</strong></p>
</td>
<td colspan="4" align="center">
<p><strong>Размеры, мм</strong></p>
</td>
<td rowspan="2" align="center">
<p><strong>Ход мембраны/ Ход пружины, мм</strong></p>
</td>
<td rowspan="2" align="center">
<p><strong>Угол установки хомута</strong></p>
</td>
<td rowspan="2" align="center">
<p><strong>Масса, кг</strong></p>
</td>
<td rowspan="2" align="center">
<p><strong>Примечание</strong></p>
</td>
<td rowspan="2" align="center">
<p><strong>Применя- емость</strong></p>
</td>
</tr>
<tr>
<td align="center">
<p><strong>A</strong></p>
</td>
<td align="center">
<p><strong>B</strong></p>
</td>
<td align="center">
<p><strong>d</strong></p>
</td>
<td align="center">
<p><strong>D</strong></p>
</td>
</tr>
<tr>
<td>
<p><strong>100-3519100-10</strong></p>
<p>&nbsp;</p>
</td>
<td>
<p>58</p>
</td>
<td>
<p>120</p>
</td>
<td>
<p>М16х1,5</p>
</td>
<td>
<p>М16х1,5</p>
</td>
<td align="center">
<p>57/67</p>
</td>
<td align="center">
<p>30&plusmn;5</p>
</td>
<td align="center">
<p>9,87</p>
</td>
<td>
<p>С чехлом</p>
</td>
<td>
<p>А/м КАМАЗ и другие потребители</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>*-устанавливается по согласованию с потребителем</p>
<p>Температурный интервал, &deg;С - -45...+80</p>


    <hr>

    <p>При активации поршень удерживает пружину под воздействием сжатого воздуха.</p>
<p>В&nbsp;расторможенном виде пружина сжата, и&nbsp;под давлением её&nbsp;удерживает поршень. Когда задействована стояночная тормозная система, пружина больше не&nbsp;удерживается и&nbsp;распрямляется в&nbsp;исходное положение.</p>
<p>Тормозные мембранные камеры и тормозные камеры с энергоаккумуляторами ( далее &ndash;тормозные камеры), предназначенные для создания усилия в тормозных механизмах колесных транспортных средств и прицепов ( далее транспортные средства), использующиеся в приводе тормозных систем с рабочим давлением сжатого воздуха до 0,8 МПа.<br /><br /></p>
<hr>


<h2>Основные технические характеристики</h2>
<table width="655">
<tbody>
<tr>
<td rowspan="2">
<p>Обозначение</p>
</td>
<td rowspan="2">
<p>Тип</p>
</td>
<td rowspan="2">
<p>Усилие на штоке при ходе 20-40мм Р=0,6Мпа (гкс)</p>
</td>
<td rowspan="2">
<p>Масса (кг)</p>
</td>
<td rowspan="2">
<p>Температурный интервал экспозиции (С)</p>
</td>
<td colspan="4">
<p>Габаритные и присоединительные размеры (мм)</p>
</td>
<td rowspan="2">
<p>Усилие на штоке при ходе 20-40мм Р=0,6 Мпа (гсм)</p>
</td>
</tr>
<tr>
<td>
<p>А</p>
</td>
<td>
<p>В</p>
</td>
<td>
<p>d</p>
</td>
<td>
<p>D</p>
</td>
</tr>
<tr>
<td>
<p>830-3519100</p>
<p>830-3519100-10</p>
<p>830-3519100-20</p>
<p>830-3519100-30</p>
<p>&nbsp;</p>
</td>
<td>
<p>20*</p>
<p>/20**</p>
</td>
<td>
<p>740</p>
</td>
<td>
<p>10,00</p>
</td>
<td>
<p>-40&hellip;+80</p>
</td>
<td>
<p>58</p>
</td>
<td>
<p>120</p>
</td>
<td>
<p>м16х1,5</p>
</td>
<td>
<p>м16х1,5</p>
</td>
<td>
<p>5900</p>
</td>
</tr>
</tbody>
</table>
<p>Примечание&nbsp; &nbsp;</p>
<p>* цифра указывает активную площадь мембраны в квадратных дюймах при ходе штока камеры, соответствующем правильной регулировке тормозного механизма.</p>
<p>** цифра указывает площадь цилиндра пружинного аккумулятора в квадратных дюймах.</p>
<hr />
<p><img src="/kamaz-4310/catalog/tormoza/img/obschii-vid-tormoznaya-kamera-s-energoakkumulyatorom.jpg" alt="Общий вид тормозной камеры" /></p>
<hr />
<p>&nbsp;</p>

    
<h2>Устройство тормозной камеры с пружинным энергоаккумулятором</h2>
<img src="/kamaz-4310/catalog/tormoza/img/ustroistvo-energoakkumulyatora-tip-20.jpg" alt="Чертеж - Тормозная камеры с энергоаккумулятором тип 20/20"/>
<p>&nbsp;</p>
<p>Рисунок - Тормозная камера с пружинным энергоаккумулятором: 1 - корпус; 2 - подпятник; 3 - кольцо уплотнительное; 4 - толкатель; 5 - поршень;6 - уплотнение поршня; 7 - цилиндр энергоаккумулятора; 8 - пружина; 9 - винт механизма аварийного растормаживания; 10 - гайка упорная; 11 - патрубок цилиндра; 12 - трубка дренажная; 13 - подшипник упорный; 14 - фланец; 15 - патрубок тормозной камеры; 16 - мембрана; 17 - диск опорный; 18 - шток; 19 - пружина возвратная.</p>
<p>&nbsp;</p>
<p><strong>Камера тормозная с пружинным энергоаккумулятором</strong>&nbsp;предназначена для приведения в действие тормозных механизмов колес задней тележки автомобиля при включении рабочей, запасной и стояночной тормозных систем.</p>
<p>Пружинные энергоаккумуляторы вместе с тормозными камерами установлены на кронштейны разжимных кулаков тормозных механизмов задней тележки и закреплены двумя гайками с болтами.</p>
<p>При торможении рабочей тормозной системой сжатый воздух от тормозного крана подается в полость над мембраной 16. Мембрана 16, прогибаясь, воздействует на диск 17, который через шайбу и контргайку перемещает шток 18 и поворачивает регулировочный рычаг с разжимным кулаком тормозного механизма. Таким образом, торможение задних колес происходит так же, как и торможение передних с обычной тормозной камерой.</p>
<p>При включении запасной или стояночной тормозной системы, то есть при выпуске воздуха ручным краном из полости под поршнем 5, пружина 8 разжимается и поршень 5 перемещается вниз. Подпятник 2 через мембрану 16 воздействует на подпятник штока 18, который, перемещаясь, поворачивает связанный с ним регулировочный рычаг тормозного механизма. Происходит затормаживание автомобиля.</p>
<p>При оттормаживании сжатый воздух поступает через вывод под поршень 5. Поршень вместе с толкателем 4 и подпятником 2 перемещается вверх, сжимая пружину 8 и дает возможность штоку 18 тормозной камеры под действием возвратной пружины 19 вернуться в исходное положение.</p>
<p>При чрезмерно большом зазоре между колодками и барабаном тормозного механизма, то есть при чрезмерно большом ходе штока тормозной камеры, усилие на штоке может оказаться недостаточным для эффективного торможения. В этом случае следует включить ручной тормозной кран обратного действия и выпустить воздух из-под поршня 5 пружинного энергоаккумулятора. Подпятник 2 под действием силовой пружины 8 продавит середину мембраны 16 и продвинет шток 18 на имеющийся дополнительный ход, обеспечив затормаживание автомобиля.</p>
<p>При нарушении герметичности и снижении давления в ресивере стояночной тормозной системы воздух из полости под поршнем 5 через вывод уйдет в атмосферу через поврежденную часть привода и произойдет автоматическое затормаживание автомобиля пружинными энерго-аккумуляторами.</p>



<hr>
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
