---
layout: default_info
title: Энергоаккумулятор тип 24/20 - 3519201-10/30 на КАМАЗ, МАЗ, ЗИЛ, УРАЛ, MAN
description: В продаже 830-3519201-10/30 - Энергоаккумулятор тип 24/20 АМТК, БИФОРМ, КЗТА, Рославль, WABCO, на КамАЗ-, МАЗ, УРАЛ, ЗИЛ, MAN, Scania, Mercedes,   , каталожный номер - 830-3519201-10/30 3519201-10/30. Новые, оригинал, аналоги, капремонт. Цена, доставка, описание.
keywords: Энергоаккумулятор тип 24/20 830-3519201-10/30 АМТК, без упак.    амтк  - КамАЗ-
hero-title: Энергоаккумуляторы, Тормозные камеры, Подогреватели 
h1: Энергоаккумулятор тип 24/20 
h2: 3519201-10/30
phone: 9173903726
phone_title: (917)390-37-26
categories: [<a href='/kamaz-4310/catalog/tormoza/index.html'>Тормоза и подогреватели</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.dvig_zap | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12 m-auto">
    <!-- <h3>Описание</h3> -->
    <p>

    </p>
    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
