---
layout: default_info
title: Энергоаккумулятор тип 30/24- 3519301 на КАМАЗ, МАЗ, ЗИЛ, УРАЛ, MAN
description: В продаже 830-3519301 - Энергоаккумулятор тип 30/24 АМТК, БИФОРМ, КЗТА, Рославль, WABCO, на Полуприцепы Нефаз, МАЗ, УРАЛ, ЗИЛ, MAN, Scania, Mercedes,   Благодаря надежной герметичности она защищает энергоаккумулятор от загрязнений. Современная технология порошкового окрашивания исключает появление коррозии, а также примерзания манжеты поршня зимой. Благодаря резьбе на штоке вы можете выбрать оптимальную длину вылета штока для вашего автомобиля.Благодаря надежной герметичности она защищает энергоаккумулятор от загрязнений. Современная технология порошкового окрашивания исключает появление коррозии, а также примерзания манжеты поршня зимой. Благодаря резьбе на штоке вы можете выбрать оптимальную длину вылета штока для вашего автомобиля., каталожный номер - 830-3519301 3519301. Новые, оригинал, аналоги, капремонт. Цена, доставка, описание.
keywords: Энергоаккумулятор тип 30/24 830-3519301 АМТК, без упаковки АМТК, шток 420 мм, 830-3519301-10   амтк  - Полуприцепы Нефаз
hero-title: Энергоаккумуляторы, Тормозные камеры, Подогреватели 
h1: Энергоаккумулятор тип 30/24 
h2: 3519301
phone: 9196208229
phone_title: (919)620-82-29
categories: [<a href='/kamaz-4310/catalog/tormoza/index.html'>Тормоза и подогреватели</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.dvig_zap | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12 m-auto">
    <!-- <h3>Описание</h3> -->
    <a href="/kamaz-4310/catalog/tormoza/img/sertificat-energoakkumulator.pdf">Сертификат соответствия</a> 
    <p>&nbsp;</p>
    

    <h2>Основные технические характеристики</h2>
    <table width="table table-hover table-harki table-striped table-responsive-sm wa">
<tbody>
<tr>
<td rowspan="2">
<p>Обозначение</p>
</td>
<td rowspan="2">
<p>Тип</p>
</td>
<td rowspan="2">
<p>Усилие на штоке при ходе 20-40мм Р=0,6Мпа (гкс)</p>
</td>
<td rowspan="2">
<p>Масса (кг)</p>
</td>
<td rowspan="2">
<p>Температурный интервал экспозиции (С)</p>
</td>
<td colspan="4">
<p>Габаритные и присоединительные размеры (мм)</p>
</td>
<td rowspan="2">
<p>Усилие на штоке при ходе 20-40мм Р=0,6 Мпа (гсм)</p>
</td>
</tr>
<tr>
<td>
<p>А</p>
</td>
<td>
<p>В</p>
</td>
<td>
<p>d</p>
</td>
<td>
<p>D</p>
</td>
</tr>
<tr>
<td>
<p>830-3519301</p>
<p>830-3519301-60</p>
</td>
<td>
<p>30*</p>
<p>/24**</p>
</td>
<td>
<p>1050</p>
</td>
<td>
<p>13,00</p>
</td>
<td>
<p>-40&hellip;+80</p>
</td>
<td>
<p>58</p>
</td>
<td>
<p>120</p>
</td>
<td>
<p>м16х1,5</p>
</td>
<td>
<p>м16х1,5</p>
</td>
<td>
<p>8900</p>
</td>
</tr>
</tbody>
</table>
<p>Примечание&nbsp; &nbsp;</p>
<p>* цифра указывает активную площадь мембраны в квадратных дюймах при ходе штока камеры, соответствующем правильной регулировке тормозного механизма.</p>
<p>** цифра указывает площадь цилиндра пружинного аккумулятора в квадратных дюймах.</p>
<p>&nbsp;</p>
<hr />
    <p><img src="/kamaz-4310/catalog/tormoza/img/obschii-vid-tormoznaya-kamera-s-energoakkumulyatorom.jpg" alt="Общий вид тормозной камеры" /></p>
    <hr />
    <p>&nbsp;</p>



    <h2>Устройство тормозной камеры с пружинным энергоаккумулятором</h2>
    <img src="/kamaz-4310/catalog/tormoza/img/ustroistvo-energoakkumulyatora-tip-30.jpg" alt="Чертеж - Тормозная камеры с энергоаккумулятором тип 30/24"/>
    <p>&nbsp;</p>
    <p>Рисунок - Тормозная камера с пружинным энергоаккумулятором: 1 - корпус; 2 - подпятник; 3 - кольцо уплотнительное; 4 - толкатель; 5 - поршень;6 - уплотнение поршня; 7 - цилиндр энергоаккумулятора; 8 - пружина; 9 - винт механизма аварийного растормаживания; 10 - гайка упорная; 11 - патрубок цилиндра; 12 - трубка дренажная; 13 - подшипник упорный; 14 - фланец; 15 - патрубок тормозной камеры; 16 - мембрана; 17 - диск опорный; 18 - шток; 19 - пружина возвратная.</p>
    <p>&nbsp;</p>
    <p><strong>Камера тормозная с пружинным энергоаккумулятором</strong>&nbsp;предназначена для приведения в действие тормозных механизмов колес задней тележки автомобиля при включении рабочей, запасной и стояночной тормозных систем.</p>
    <p>Пружинные энергоаккумуляторы вместе с тормозными камерами установлены на кронштейны разжимных кулаков тормозных механизмов задней тележки и закреплены двумя гайками с болтами.</p>
    <p>При торможении рабочей тормозной системой сжатый воздух от тормозного крана подается в полость над мембраной 16. Мембрана 16, прогибаясь, воздействует на диск 17, который через шайбу и контргайку перемещает шток 18 и поворачивает регулировочный рычаг с разжимным кулаком тормозного механизма. Таким образом, торможение задних колес происходит так же, как и торможение передних с обычной тормозной камерой.</p>
    <p>При включении запасной или стояночной тормозной системы, то есть при выпуске воздуха ручным краном из полости под поршнем 5, пружина 8 разжимается и поршень 5 перемещается вниз. Подпятник 2 через мембрану 16 воздействует на подпятник штока 18, который, перемещаясь, поворачивает связанный с ним регулировочный рычаг тормозного механизма. Происходит затормаживание автомобиля.</p>
    <p>При оттормаживании сжатый воздух поступает через вывод под поршень 5. Поршень вместе с толкателем 4 и подпятником 2 перемещается вверх, сжимая пружину 8 и дает возможность штоку 18 тормозной камеры под действием возвратной пружины 19 вернуться в исходное положение.</p>
    <p>При чрезмерно большом зазоре между колодками и барабаном тормозного механизма, то есть при чрезмерно большом ходе штока тормозной камеры, усилие на штоке может оказаться недостаточным для эффективного торможения. В этом случае следует включить ручной тормозной кран обратного действия и выпустить воздух из-под поршня 5 пружинного энергоаккумулятора. Подпятник 2 под действием силовой пружины 8 продавит середину мембраны 16 и продвинет шток 18 на имеющийся дополнительный ход, обеспечив затормаживание автомобиля.</p>
    <p>При нарушении герметичности и снижении давления в ресивере стояночной тормозной системы воздух из полости под поршнем 5 через вывод уйдет в атмосферу через поврежденную часть привода и произойдет автоматическое затормаживание автомобиля пружинными энерго-аккумуляторами.</p>



    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
