---
layout: default_info
title: Запчасть КамАЗ 
description: Силовой агрегат 740.10 Евро-0 на КамАЗ 4310. Прайс-лист, каталог, описание, характеристики, инструкции и советы эксплуатации / ЗапКам.Ру.
keywords: двигатель КамАЗ 740.10 евро-0 4310 43101 43114 43118
hero-title: Запчасти для КамАЗ 4310, 43114, 43118
h1: Запчасть КамАЗ
h2:
---

<!-- Товар  -->
<div id="anc_1"></div>
{% assign page_url = "dvigatel_kamaz_740_10_evro-0" %}
{% assign product = site.data.k4310 | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
    <h3>Описание особенностей</h3>
    <p>
        крутящий момент 667 Нм при 1600-1800 об/мин.
    </p>   
    
    <p>
        
    </p>
    
    <hr>

    <h3>Технические характеристики</h3>
    <table class="table" style="width: auto;">
    </table>
    
    <p>
        <img src="/agregaty/dvigateli/img/dvigatel_740.10_evro-0_1.jpg" alt="Двигатель КамАЗ 740_10">
    </p>




    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
  <div style="height: 100px;">&nbsp;</div>
  
</div>
