---
layout: default_info
title: Двигатель Cummins 6 Isbe 6.7л. - 285, 300 л.с. / Евро-5 • новые и ремонтные
description: Продаем двигатели Двигатель Камминз 6.7 6ISBe 285 и 300 л.с. Евро-5, для автомобилей КамАЗ 65111, 6540, 4308. Новые ПАО КАМАЗ, РемДизель, с разбора, оригинал, аналоги, бу восстановленный, капремонт.
keywords: 6ISBe 
hero-title: Двигатели КамАЗ
h1: Двигатель Cummins 6 ISBe 285 л.с.
h2: 6ISBe
categories: [<a href="/agregaty/dvigateli/index.html">Двигатели КАМАЗ</a> ]
---

<!-- Товар  -->
<div id="740-10"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.agregaty | where:"url", page_url | first  %}
{%- if product -%} {% include card_zapchasti.html product = product %} {%- endif -%}




<!-- Html описание -->
<div class="col-md-10 col-xs-12" style="margin: auto;">
  
    <h3>Описание и особенности:</h3>
<p>Двигатель серии Cummins ISBe имеет однорядную компоновку цилиндров.</p>
<p>Двигатель разработан с учётом экологических требований Евро-4, доступен в исполнениях на 210, 245, 285 и 300 л.с. Двигатель ISBe комплектуется системой Common Rail, обеспечивающей стабильное и независящее от частоты вращения вала давление подаваемого в цилиндры топлива.</p>
<p>Двигатель имеет ряд отличительных характеристик, которые отличают его от предыдущих сборок:<br />- крутящий момент около 760 Нм;<br />- мощность &ndash; 210 л. с.;<br />- новый улучшенный дизайн.</p>
<p>Двигатели Cummins ISBe производят на 7 моторных заводах &ndash; в США, Англии, Бразилии, Китае и в Индии, общим объемом выпуска более 350 тысяч двигателей в год. Российский завод Камминз-Кама в Набережных Челнах стал восьмым по счету.</p>
<p>Размерность 107х124 мм, рабочий объем &laquo;четверок&raquo; 4,5 л, &laquo;шестерок&raquo; 6,7 литра. У четырехцилиндровых моторов четыре настройки мощности: от 140 до 210 л. с., момент от 450 до 650 Н.м, у &laquo;шестерок&raquo; шесть настроек: от 185 до 300 л. с. и момент от 700 до 970 Н.м. Но есть 6ISBe в 300 сил и моментом 1100 Н.м.</p>
<p>Двигатели оснащены турбонаддувом и интеркулером, топливная система с электронным управлением Common Rail, давление распыла 1600 бар, топливо впрыскивается тремя порциями. С использованием водного раствора мочевины моторы укладываются в нормы вплоть до Евро-5.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Артикул 6ISBE285, который встречается в разных вариантах написания ( 6Isbe 285 или 6 isbe 285).</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h3>Технические характеристики двигателя 6ISBe 285</h3>
<table class="table">
<tbody>
<tr>
<td>Модель двигателя</td>
<td>Cummins<br />ISB 6.7 Е5 285</td>
</tr>
<tr>
<td>Экологический класс</td>
<td>5</td>
</tr>
<tr>
<td>Тип двигателя</td>
<td>Четырехтактный, дизельный, с турбонаддувом</td>
</tr>
<tr>
<td>Количество цилиндров</td>
<td>6</td>
</tr>
<tr>
<td>Расположение цилиндров</td>
<td>Рядное</td>
</tr>
<tr>
<td>Рабочий объем, л</td>
<td>6,7</td>
</tr>
<tr>
<td>Максимальная полезная<br />мощность, кВт (л.с)<br />при номинальной частоте вращения коленчатого вала, мин-1</td>
<td>204 (277)<br />2500</td>
</tr>
<tr>
<td>Максимальный полезный<br />крутящий момент, Нм (кгс&middot;м)<br />при частоте вращения<br />коленчатого вала, мин-1</td>
<td>1007 (103)<br />1300</td>
</tr>
</tbody>
</table>



    {%- include_relative _garantiya.mhtml -%}

    {% include kupite_u_nas.html %}
    
    <p></p>
    <p></p>
    
</div>