---
layout: default_info
title: Кривошипно-шатунный механизм двигателя КАМАЗ Евро-2 – 740.30, 740.31
description: Устройство механизмов двигателя КАМАЗ Евро-2 - Коленчатый вал, шатун, маховик, гаситель крутильных колебаний, поршень, компрессионные кольца, маслосъёмное кольцо, форсунки охлаждения, поршень, коренные и шатунные подшипники.
keywords: КамАЗ двигатель мотор купить модификации цена бу новый завод ремонт капремонт
hero-title: Двигатели КАМАЗ
h1: Кривошипно-шатунный механизм двигателя 740 Евро-2
h2: модели 740.30, 740.31
phone: 
phone_title:
categories: [<a href="/agregaty/dvigateli/index.html">Двигатели КАМАЗ</a> ]
---

<div class="col-md-9 col-xs-12 m-auto"> 

	<h3 id="h-"><strong>Коленчатый вал</strong></h3>



	<p>Коленчатый вал&nbsp;(рисунок 8) изготовлен из высококачественной стали и имеет пять коренных и четыре шатунные
		шейки, связанные щеками и сопряженные переходными галтелями. Для равномерного чередования рабочих ходов шатунные
		шейки коленчатого вала расположены под углом 90°.</p>



	<p>К каждой шатунной шейке присоединяются два шатуна (рисунок 9): -один для правого и один для левого рядов
		цилиндров.</p>



	<p>Упрочнение коленчатого вала производится азотированием на глубину 0,5…0,7 мм, твердость упрочненного слоя не
		менее 600 HV. Подвод масла к шатунным шейкам производится через отверстия в коренных шейках 8 и отверстия 7
		(рисунок 8), не пересекающиеся с облегчающими отверстиями 6 в шатунных шейках.</p>



	<p>Для уравновешивания сил инерции и уменьшения вибраций коленчатый вал имеет шесть противовесов, отштампованных
		заодно со щеками коленчатого вала. Кроме основных противовесов, имеется дополнительный съемный противовес 1,
		напрессованный на вал, его угловое расположение относительно коленчатого вала определяется шпонкой 5. Для
		обеспечения требуемого дисбаланса, на маховике выполняется выборка 6 (рисунок 12)</p>



	<p>На хвостовике коленчатого вала выполнена шейка 9 (рисунок 10), по которой центрируется шестерня коленчатого вала
		8 и маховик 1 (рисунок 13). На заднем торце коленчатого вала выполнено десять резьбовых отверстий М16х1,5-6Н для
		крепления шестерни коленчатого вала и маховика, на переднем торце выполнено восемь резьбовых отверстий
		M12x1,25-6Н для крепления гасителя крутильных колебаний.</p>



	<div class="wp-block-image">
		<figure class="aligncenter size-large"><img loading="lazy" width="1024" height="562"
				src="/agregaty/dvigateli/info/img/image-98-1024x562.png"
				alt="Коленчатый вал - двигателя КАМАЗ Евро-2 - 740.30, 740.31" class="wp-image-249"
				srcset="/agregaty/dvigateli/info/img/image-98-1024x562.png 1024w, /agregaty/dvigateli/info/img/image-98-300x165.png 300w, /agregaty/dvigateli/info/img/image-98-768x421.png 768w, /agregaty/dvigateli/info/img/image-98.png 1132w"
				sizes="(max-width: 1024px) 100vw, 1024px">
			<figcaption>Рисунок 8. <strong>Коленчатый вал</strong><br><em>1 – противовес; 2,3 – шестерни привода
					масляного насоса; 4 – заглушка; 5 – шпонка; 6 – облегчающие отверстия; 7 – отверстия подвода масла к
					шатунным шейкам; 8 – отверстия подвода масла в коренных шейках.</em></figcaption>
		</figure>
	</div>



	<p>В полость носка коленчатого вала установлена заглушка 4 (рисунок 8), через калиброванное отверстие которой
		осуществляется смазка шлицевого валика переднего привода отбора мощности.</p>



	<p>От осевых перемещений коленчатый вал зафиксирован двумя полукольцами 1 и двумя полукольцами 2 (рисунок 10),
		установленными в проточках задней коренной опоры блока цилиндров, так, что сторона с канавками прилегает к
		упорным торцам вала.</p>



	<p>На носке и хвостовике коленчатого вала (рисунок 8) установлены шестерни привода масляных насосов 3, 2 и привода
		газораспределительного механизма 8 (рисунок 10).</p>



	<p>Уплотнение коленчатого вала осуществляется резиновой манжетой 8 (рисунок 13), с дополнительным уплотняющим
		элементом – пыльником 9. Манжета размещена в картере маховика 4. Манжета изготовлена из фторкаучука по
		технологии формования рабочей уплотняющей кромки непосредственно в прессформе.</p>



	<p>Номинальные диаметры шеек коленчатого вала: коренных 95-0,015 мм, шатунных 80-0,013 мм.</p>



	<p>Для восстановления двигателя предусмотрены восемь ремонтных размеров вкладышей. Обозначение вкладышей подшипников
		коленчатого вала, диаметр коренной шейки коленчатого вала, диаметр отверстия в блоке цилиндров под эти вкладыши
		указаны в приложении&nbsp;<strong>Б</strong>.</p>



	<p>Обозначение вкладышей нижней головки шатуна, диаметр шатунной шейки коленчатого вала, диаметр отверстия в
		кривошипной головке шатуна под эти вкладыши указаны в приложении&nbsp;<strong>В</strong>.</p>



	<p>Вкладыши 7405.1005170 Р0, 7405.1005171 Р0, 7405.1005058 Р0 применяются при восстановлении двигателя без шлифовки
		коленчатого вала. При необходимости шейки коленчатого вала заполировать.</p>



	<p>При шлифовке коленчатого вала но коренным шейкам на 94 мм и менее или по шатунным шейкам на 79 мм и менее,
		необходимо коленчатый вал подвергнуть повторному азотированию.</p>



	<p></p>



	<figure class="wp-block-image size-large"><img loading="lazy" width="823" height="1024"
			src="/agregaty/dvigateli/info/img/image-100-823x1024.png"
			alt="Кривошипно-шатунный механизм двигателя КАМАЗ Евро-2 - 740.30, 740.31" class="wp-image-251"
			srcset="/agregaty/dvigateli/info/img/image-100-823x1024.png 823w, /agregaty/dvigateli/info/img/image-100-241x300.png 241w, /agregaty/dvigateli/info/img/image-100-768x956.png 768w, /agregaty/dvigateli/info/img/image-100.png 839w"
			sizes="(max-width: 823px) 100vw, 823px">
		<figcaption>Рисунок 10. <strong>Установка упорных полуколец и вкладышей коленчатого вала</strong><br><em>1 –
				полукольцо упорного подшипника верхнее; 2 – полукольцо упорного подшипника нижнее; 3 – вкладыш
				подшипника коленчатого вала верхний; 4 – вкладыш подшипника коленчатого вала нижний; 5 – блок цилиндров;
				6 – крышка подшипника коленчатого вала задняя; 7 – коленчатый вал; 8 – шестерня привода
				газораспределительного механизма; 9 – центрирующая шейка коленчатого вала.</em></figcaption>
	</figure>



	<p>Пределы допусков по диаметру шейки коленчатого вала, диаметру отверстия в блоке цилиндров и диаметру отверстия в
		кривошипной головке шатуна при восстановлении двигателя должны быть такими же, как у номинальных размеров.</p>



	<p>Коленчатый вал двигателя мод. 740.30-260 имеет следующие основные отличия от коленчатых валов двигателей мод.
		740.10 и 7403.10:</p>



	<p>–&nbsp;упрочнение производится азотированием вместо закалки током высокой частоты;</p>



	<p>–&nbsp;исключены грязеуловительные полости в шатунных шейках, подвод масла к шатунным шейкам производится от
		отверстий в коренных шейках прямыми отверстиями, не пересекающимися с облегчающими отверстиями в шатунных
		шейках;</p>



	<p>–&nbsp;на хвостовике выполнена шейка, по которой центрируются шестерня коленчатого вала и маховик.</p>



	<p>Эти отличия делают невозможным использование коленчатых валов двигателей мод. 740 10 и 7403.10 на двигатели мод.
		740.30-260.</p>



	<h3 id="h--2">Коренные и шатунные подшипники</h3>



	<p><strong>Коренные и шатунные подшипники</strong> изготовлены из стальной ленты, покрытой слоем свинцовистой бронзы
		толщиной 0,3 мм., слоем свинцово-оловянистого сплава толщиной 0,022 мм, и слоем олова толщиной 0,003 мм. Верхние
		3 и нижние 4 вкладыши коренных подшипников не взаимозаменяемы. В верхнем вкладыше имеется отверстие для подвода
		масла и канавка для его распределения.</p>



	<p>Оба вкладыша 4 нижней головки шатуна взаимозаменяемы. От проворачивания и бокового смещения вкладыши фиксируются
		выступами (усами), входящими в пазы, предусмотренные в постелях блока и шатуна, а также крышках подшипников.</p>



	<p>Вкладыши имеют конструктивные отличия, направленные на повышение их работоспособности при форсировке двигателя
		турбонаддувом, при этом изменена маркировка вкладышей на 7405.1004058 (шатунные), 7405.1005170 и 7405.1005171
		(коренные).</p>



	<p>Не рекомендуется замена вкладышей при ремонте на серийные с маркировкой 740, так как при этом произойдет
		существенное сокращение ресурса двигателя.</p>



	<h3 id="h--3">Крышки коренных подшипников</h3>



	<p><strong>Крышки коренных подшипников</strong>&nbsp;(рисунок 11) изготовлены из высокопрочного чугуна. Крепление
		крышек осуществляется с помощью вертикальных и горизонтальных стяжных болтов 3, 4, 5, которые затягиваются по
		определенной схеме с регламентированным моментом (приложение А).</p>



	<figure class="wp-block-image size-large"><img loading="lazy" width="681" height="928"
			src="/agregaty/dvigateli/info/img/image-101.png"
			alt="Установка крышек подшипников коленчатого вала - двигателя КАМАЗ Евро-2 - 740.30, 740.31"
			class="wp-image-252"
			srcset="/agregaty/dvigateli/info/img/image-101.png 681w, /agregaty/dvigateli/info/img/image-101-220x300.png 220w"
			sizes="(max-width: 681px) 100vw, 681px">
		<figcaption>Рисунок 11. <strong>Установка крышек подшипников коленчатого вала </strong><br>1 — крышка
			подшипника; 2 — коленчатый вал; 3 — болт крепления крышки; 4 – болт стяжной крепления крышки подшипника
			левый; 5 – болт стяжной крепления крышки подшипника правый; 6 – шайба; 7 – блок; 8 – штифт.</figcaption>
	</figure>



	<h3 id="h--4">Шатун&nbsp;</h3>



	<p><strong>Шатун</strong>&nbsp;(рисунок 9) стальной, кованный, стержень 1 имеет двутавровое сечение. Верхняя головка
		шатуна неразъемная, нижняя выполнена с прямым и плоским разъемом. Шатун окончательно обрабатывают в сборе с
		крышкой 2, поэтому крышки шатунов невзаимозаменяемы. В верхнюю головку шатуна запрессована стале-бронзовая
		втулка 3, а в нижнюю установлены сменные вкладыши 4. Крышка нижней головки шатуна крепится с помощью гаек 6,
		навернутых на болты 5, предварительно запрессованные в стержень шатуна. Затяжка шатунных болтов осуществляется
		по схеме, определенной в приложении&nbsp;<strong>А</strong>. На крышке и стержне шатуна нанесены метки
		спаренности – трехзначные порядковые номера. Кроме того на крышке шатуна выбит порядковый номер цилиндра.</p>



	<figure class="wp-block-image size-large"><img loading="lazy" width="862" height="781"
			src="/agregaty/dvigateli/info/img/image-99.png"
			alt="Шатун двигателя КАМАЗ Евро-2 - 740.30, 740.31" class="wp-image-250"
			srcset="/agregaty/dvigateli/info/img/image-99.png 862w, /agregaty/dvigateli/info/img/image-99-300x272.png 300w, /agregaty/dvigateli/info/img/image-99-768x696.png 768w"
			sizes="(max-width: 862px) 100vw, 862px">
		<figcaption>Рисунок 9. <strong>Шатун</strong><br><em>1 – стержень шатуна; 2 – крышка шатуна; 3 – втулка верхней
				головки шатуна; 4 – вкладыш нижней головки шатуна; 5 – болт крепления крышки шатуна; 6 – гайка болта
				крепления крышки шатуна.</em></figcaption>
	</figure>



	<h3 id="h--5">Маховик&nbsp;</h3>



	<p><strong>Маховик</strong>&nbsp;(рисунок 12) закреплен десятью болтами 7 (рисунок 13), изготовленными из
		легированной стали, на заднем торце коленчатого вала и зафиксирован штифтом 10 (рисунок 13) на центрирующей
		шейке коленчатого вала 9 (рисунок 10). С целью исключения повреждения поверхности маховика, под головки болтов
		устанавливается шайба 6 (рисунок 13). Величина момента затяжки болтов крепления маховика указана в
		приложении&nbsp;<strong>А</strong>. На обработанную цилиндрическую поверхность маховика напрессован зубчатый
		обод 3 (рисунок 12), с которым входит в зацепление шестерня стартера при пуске двигателя. Под манжету уплотнения
		коленчатого вала устанавливается кольцо 1 с наружной хромированной поверхностью.</p>



	<div class="wp-block-image">
		<figure class="aligncenter size-large is-resized"><img loading="lazy"
				src="/agregaty/dvigateli/info/img/image-102-514x1024.png"
				alt="Маховик двигателя КАМАЗ Евро-2 - 740.30, 740.31" class="wp-image-253" width="433" height="863"
				srcset="/agregaty/dvigateli/info/img/image-102-514x1024.png 514w, /agregaty/dvigateli/info/img/image-102-151x300.png 151w, /agregaty/dvigateli/info/img/image-102.png 621w"
				sizes="(max-width: 433px) 100vw, 433px">
			<figcaption>Рисунок 12. <strong>Маховик</strong> Евро-2<br><em>1 – кольцо; 2 – втулка дистанционная; 3 –
					обод зубчатый маховика; 4 -штифт установочный; 5 – подшипник; 6 – выборка под дисбаланс.</em>
			</figcaption>
		</figure>
	</div>



	<p>Маховик выполняется под одно- или двух-дисковое диафрагменные сцепления. Во внутреннюю расточку маховика
		установлен подшипник 5 первичного вала коробки передач.</p>



	<p>При регулировках угла опережения впрыска топлива и тепловых зазоров в клапанах, маховик фиксируется фиксатором
		(рисунок 14).</p>



	<div class="wp-block-image">
		<figure class="aligncenter size-large"><img loading="lazy" width="742" height="1024"
				src="/agregaty/dvigateli/info/img/image-103-742x1024.png"
				alt="Установка маховика - двигателя КАМАЗ Евро-2 - 740.30, 740.31" class="wp-image-254"
				srcset="/agregaty/dvigateli/info/img/image-103-742x1024.png 742w, /agregaty/dvigateli/info/img/image-103-217x300.png 217w, /agregaty/dvigateli/info/img/image-103-768x1060.png 768w, /agregaty/dvigateli/info/img/image-103.png 872w"
				sizes="(max-width: 742px) 100vw, 742px">
			<figcaption>Рисунок 13. <strong>Установка маховика</strong><br><em>1 – маховик; 2 – блок цилиндров; 3 –
					коленчатый вал; 4 – картер маховика; 5 – подшипник первичного вала коробки передач; 6 – шайба; 7 –
					болт; 8 — манжета уплотнения коленчатого вала; 9 – пыльник манжеты; 10 – штифт установочный
					маховика</em></figcaption>
		</figure>
	</div>



	<p>Конструкция маховика имеет следующие основные отличия от маховиков двигателей 740.10 и 7403.10:</p>



	<ul>
		<li>изменен угол расположения паза под фиксатор на наружной поверхности маховика;</li>
		<li>увеличен диаметр расточки для размещения шайбы под болты крепления маховика;</li>
		<li>введена серповидная выборка для обеспечения требуемого дисбаланса;</li>
		<li>крепление маховика к торцу коленчатого вала осуществляется десятью болтами М16х1,5;</li>
	</ul>



	<p>Перечисленные изменения делают несовместимыми маховики КАМАЗ Евро-2 с маховики двигателей Евро-1 740.10 и
		7403.10.</p>



	<div class="wp-block-image">
		<figure class="aligncenter size-large"><img loading="lazy" width="959" height="685"
				src="/agregaty/dvigateli/info/img/image-104.png"
				alt="Положение ручки фиксатора маховика - двигателя КАМАЗ Евро-2 - 740.30, 740.31" class="wp-image-257"
				srcset="/agregaty/dvigateli/info/img/image-104.png 959w, /agregaty/dvigateli/info/img/image-104-300x214.png 300w, /agregaty/dvigateli/info/img/image-104-768x549.png 768w"
				sizes="(max-width: 959px) 100vw, 959px">
			<figcaption>Рисунок 14.<strong> Положение ручки фиксатора маховика</strong><br><em>а) – при эксплуатации; б)
					– при регулировке, в зацеплении с маховиком.</em></figcaption>
		</figure>
	</div>



	<h3 id="h--6">Гаситель крутильных колебаний</h3>



	<p>Гаситель крутильных колебаний&nbsp;(рисунок 15) закреплен восемью болтами 2 (рисунок 16) на переднем носке
		коленчатого вала. Гаситель состоит из корпуса 1 (рисунок 15) в который установлен с зазором маховик гасителя 2.
		Снаружи корпус гасителя закрыт крышкой 3. Герметичность обеспечивается сваркой по стыку корпуса гасителя и
		крышки. Между корпусом гасителя и маховиком гасителя находится высоковязкая силиконовая жидкость, дозировано
		заправленная перед заваркой крышки. Центровка гасителя осуществляется шайбой 6, приваренной к корпусу.</p>



	<div class="wp-block-image">
		<figure class="aligncenter size-large is-resized"><img loading="lazy"
				src="/agregaty/dvigateli/info/img/image-105.png"
				alt="Гаситель крутильных колебаний коленчатого вала - двигателя КАМАЗ Евро-2 - 740.30, 740.31"
				class="wp-image-258" width="453" height="681">
			<figcaption>Рисунок 15.<strong> Гаситель крутильных колебаний коленчатого вала</strong><br><em>1 – корпус
					гасителя; 2 – маховик гасителя; 3 – крышка; 4 – пробка заправочного отверстия; 5 – высоко-вязкостная
					силиконовая жидкость; 6 – центровочная шайба.</em></figcaption>
		</figure>
	</div>



	<div class="wp-block-image">
		<figure class="aligncenter size-large"><img loading="lazy" width="876" height="1024"
				src="/agregaty/dvigateli/info/img/image-106-876x1024.png"
				alt="Установка гасителя крутильных колебаний - двигателя КАМАЗ Евро-2 - 740.30, 740.31"
				class="wp-image-259"
				srcset="/agregaty/dvigateli/info/img/image-106-876x1024.png 876w, /agregaty/dvigateli/info/img/image-106-257x300.png 257w, /agregaty/dvigateli/info/img/image-106-768x897.png 768w, /agregaty/dvigateli/info/img/image-106.png 1051w"
				sizes="(max-width: 876px) 100vw, 876px">
			<figcaption>Рисунок 16. <strong>Установка гасителя крутильных колебаний</strong><br><em>1 – гаситель; 2
					-болт крепления гасителя; 3 – полумуфта отбора мощности; 4 – шайба; 5 – коленчатый вал; 6 – блок
					цилиндров.</em></figcaption>
		</figure>
	</div>



	<p>Гашение крутильных колебаний коленчатого вала происходит путем торможения корпуса гасителя, закрепленного на
		носке коленчатого вала, относительно маховика в среде силиконовой жидкости. При этом энергия торможения
		выделяется в виде теплоты.</p>



	<p><strong>КАТЕГОРИЧЕСКИ ЗАПРЕЩАЕТСЯ</strong>&nbsp;при проведении ремонтных работ деформировать корпус и крышку
		гасителя. Гаситель с деформированным корпусом или крышкой к&nbsp;дальнейшей эксплуатации не пригоден.</p>



	<p>После установки гасителя проверить наличие зазора между гасителем и противовесом.</p>



	<h3 id="h--7">Поршень&nbsp;</h3>



	<p><strong>Поршень</strong>&nbsp;1 (рисунок 17) отлит из алюминиевого сплава со вставкой из износостойкого чугуна
		под верхнее компрессионное кольцо.&nbsp;В головке поршня выполнена тороидальная камера сгорания с вытеснителем в
		центральной части, которая смещена относительно оси поршня в сторону от выточек под клапаны на 5 мм.</p>



	<figure class="wp-block-image size-large"><img loading="lazy" width="578" height="693"
			src="/agregaty/dvigateli/info/img/image-107.png"
			alt="Поршень с шатуном и кольцами в сборе - двигателя КАМАЗ Евро-2 - 740.30, 740.31" class="wp-image-261"
			srcset="/agregaty/dvigateli/info/img/image-107.png 578w, /agregaty/dvigateli/info/img/image-107-250x300.png 250w"
			sizes="(max-width: 578px) 100vw, 578px">
		<figcaption>Рисунок 17. <strong>Поршень с шатуном и кольцами в сборе</strong><br><em>1 – поршень; 2 –
				маслосъемное кольцо; 3 – поршневой палец; 4, 5 – компрессионные кольца; 6 – стопорное кольцо.</em>
		</figcaption>
	</figure>



	<p>Боковая поверхность представляет собой сложную овально-бочкообразную форму с занижением в зоне отверстий под
		поршневой палец. На юбку нанесено графитовое покрытие. В нижней ее части выполнен паз, исключающий, при
		правильной сборке, контакт поршня с форсункой охлаждения при нахождении в нижней мертвой точке.</p>



	<p>Поршень комплектуется двумя компрессионными и одним маслосъемным кольцами. Отличительной его особенностью
		является уменьшенное расстояние от днища до нижнего торца верхней канавки, которое составляет 17 мм. На
		двигателе 740.30-260 аналогично другим моделям двигателей КАМАЗ, с целью обеспечения топливной экономичности и
		экологических показателей, применен селективный подбор поршней для каждого цилиндра по&nbsp;расстоянию от оси
		поршневого пальца до днища. По указанному параметру поршни разбиты на четыре группы 10, 20, 30 и 40. Каждая
		последующая группа от предыдущей отличается на 0,11 мм. В запасные части поставляются поршни наибольшей высоты,
		поэтому, во избежание возможного контакта между ними и головками цилиндров, в случае замены необходимо
		контролировать надпоршневой зазор. Если зазор между поршнем и головкой цилиндра после затяжки болтов ее
		крепления будет менее 0,87 мм, необходимо подрезать днище поршня на недостающую до этого значения величину.
		Установка поршней с двигателей КАМАЗ других моделей недопустима.</p>



	<h3 id="h--8">Компрессионные кольца</h3>



	<p>Компрессионные кольца&nbsp;(рисунок 17) изготавливаются из высокопрочного, а маслосъемное из серого чугунов.
		Верхнее компрессионное кольцо имеет форму двухсторонней трапеции, с внутренней выборкой со стороны верхнего
		торца, а второе имеет форму односторонней трапеции. При монтаже торец с отметкой “верх” должен располагаться со
		стороны днища поршня.</p>



	<p>Рабочая поверхность верхнего компрессионного кольца 4 покрыта молибденом и имеет бочкообразную форму. На рабочую
		поверхность второго компрессионного 5 и маслосъемного колец 2 нанесен хром. Ее форма на втором кольце
		представляет собой конус с уклоном к нижнему торцу, по этому характерному признаку кольцо получило название
		“минутное”. Минутные кольца применены для снижения расхода масла на угар, их установка в верхнюю канавку
		недопустима.</p>



	<h3 id="h--9">Маслосъемное кольцо</h3>



	<p>Маслосъемное кольцо&nbsp;коробчатого типа, высотой 4 мм, с пружинным расширителем, имеющим переменный шаг витков
		и шлифованную наружную поверхность. Средняя часть расширителя с меньшим шагом витков при установке на поршень
		должна располагаться в замке кольца.</p>



	<p>Установка поршневых колец с других моделей двигателей КАМАЗ может привести к увеличению расхода масла на угар.
	</p>



	<h3 id="h--10">Форсунки охлаждения</h3>



	<p>Форсунки охлаждения&nbsp;(рисунок 6) устанавливаются в картерной части блока цилиндров и обеспечивают подачу
		масла из главной масляной магистрали, при достижении в ней давления 80… 120 кПа (0,8…1,2 кг/см<sup>2</sup>), на
		внутреннюю полость поршней. На такое давление отрегулирован клапан, расположенный в каждой из форсунок.</p>



	<p>При сборке двигателя необходимо контролировать правильность положения трубки форсунки относительно гильзы
		цилиндра и поршня. Контакт с поршнем недопустим.</p>



	<h3 id="h--11">Форсунки охлаждения</h3>



	<p>Поршень с шатуном&nbsp;(рисунок 17) соединены пальцем 3 плавающего типа, его осевое перемещение ограничено
		стопорными кольцами 6. Палец изготовлен из хромоникелевой стали, диаметр отверстия 22 мм. Применение пальцев с
		отверстием 25 мм недопустимо, так как это нарушает балансировку двигателя.</p>



	<h3 id="h--12">Привод отбора мощности передний</h3>



	<p>Привод отбора мощности передний&nbsp;(рисунок 18) осуществляется с носка коленчатого вала через полумуфту отбора
		мощности 2, прикрепленную к носку коленчатого вала 13 восьмью специальными болтами M12x1,25. Центрирование
		полумуфты относительно коленчатого вала осуществляется по внутренней расточке выносного противовеса. Крутящий
		момент от полумуфты передается посредством вала привода агрегатов 1 и вала отбора мощности 3 на шкив 4. Вал
		отбора мощности 3 устанавливается на двух шариковых подшипниках 11 и 12. Уплотнение полости осуществляется
		манжетой 8. Для уменьшения износа шлицевых соединений, вал привода агрегатов удерживается от осевых перемещений
		пружиной 9.</p>



	<figure class="wp-block-image size-large"><img loading="lazy" width="1008" height="849"
			src="/agregaty/dvigateli/info/img/image-108.png"
			alt="Привод отбора мощности переднего и шкива - двигателя КАМАЗ Евро-2 - 740.30, 740.31"
			class="wp-image-262"
			srcset="/agregaty/dvigateli/info/img/image-108.png 1008w, /agregaty/dvigateli/info/img/image-108-300x253.png 300w, /agregaty/dvigateli/info/img/image-108-768x647.png 768w"
			sizes="(max-width: 1008px) 100vw, 1008px">
		<figcaption>Рисунок 18. <strong>Установка привода отбора мощности переднего и шкива</strong><br><em>1 – вал
				привода агрегатов; 2 – полумуфта отбора мощности; 3 – вал отбора мощности; 4 – шкив; 5 – болт; 6 –
				передняя крышка блока; 7 – корпус подшипника; 8 – манжета; 9 – пружина; 10 – заглушка; 11, 12 –
				подшипники; 13 – коленчатый вал.</em></figcaption>
	</figure>

	
	


<hr>
<p>&nbsp;</p>



<h2>Каталог двигателей Евро-2</h2>
    
    <div id="productList" class="pt-4 pb-2" style="display: block;">
        <div class="row list">
    
    
            <div id="740-30"></div>
            {% assign page_url = "dvigatel_kamaz_740_30-260_evro-2" %}
            {% assign product = site.data.agregaty | where:"url", page_url | first %}
            {%- if product -%}
            {% include card_zapchasti_catalog.html product = product %}
            {%- endif -%}
    
            <div id="740-31"></div>
            {% assign page_url = "dvigatel_kamaz_740_31-240_evro-2" %}
            {% assign product = site.data.agregaty | where:"url", page_url | first %}
            {%- if product -%}
            {% include card_zapchasti_catalog.html product = product %}
            {%- endif -%}
    
    
            <div id="loadingDiv" style="display: none;">
                <span>Загрузка данных</span>
            </div>
        </div>
        <div class="no-result">Не найдено</div>
        <ul class="pagination" style="display: none;"></ul>
    </div>
    <hr>
    <p>&nbsp;</p>


	

{% include kupite_catalog.html %}
<div style="height: 100px;">&nbsp;</div>



</div>