---
layout: default_info
title: Устройство кривошипно-шатунного механизма двигателя КАМАЗ Евро-2-3 – 740.50, 740.51
description: Устройство механизмов двигателя КАМАЗ Евро-2-3 - Коленчатый вал, шатун, маховик, гаситель крутильных колебаний, поршень, компрессионные кольца, маслосъёмное кольцо, форсунки охлаждения, поршень, коренные и шатунные подшипники.
keywords: КамАЗ двигатель мотор купить модификации цена бу новый завод ремонт капремонт
hero-title: Двигатели КАМАЗ
h1: Кривошипно-шатунный механизм двигателей 740 Евро-2-3 
h2: модели КАМАЗ 740.50, 740.51
phone:
phone_title:
categories: [<a href="/agregaty/dvigateli/index.html">Двигатели КАМАЗ</a> ]
---

<div class="col-md-9 col-xs-12 m-auto"> 


	<div class="wp-block-yoast-seo-table-of-contents yoast-table-of-contents">
		<h2>Содержание</h2>
		<ul>
			<li><a href="#block-84ce055b-4dca-4a71-8e85-1998526d5bba"
					data-level="3">Коленчатый вал</a></li>
			<li><a href="#block-100e2d0f-dc82-48ed-9668-47b34e67e058"
					data-level="3">Коренные и шатунные подшипники</a></li>
			<li><a href="#block-8472ce35-92e3-455c-a4bd-597cf1ea34e5"
					data-level="3">Крышки коренных подшипников</a></li>
			<li><a href="#block-7871c4eb-22ec-445c-9a29-66899d701528"
					data-level="3">Шатун&nbsp;</a></li>
			<li><a href="#block-4463ccfb-5b69-4ac8-ac34-dd3e4d249d80"
					data-level="3">Маховик&nbsp;</a></li>
			<li><a href="#block-d3efd1d7-5f9d-4c08-bfd6-a350a30f574c"
					data-level="3">Гаситель крутильных колебаний</a></li>
			<li><a href="#block-f765742a-cc58-48b8-9e39-9e9292669b02"
					data-level="3">Поршень&nbsp;</a></li>
			<li><a href="#block-cb65bd64-82f9-467e-afad-67f05033da04"
					data-level="3">Компрессионные кольца&nbsp;</a></li>
			<li><a href="#block-ab661b4d-5dbc-4a91-8ef2-635d913c47dd"
					data-level="3">Маслосъёмное кольцо</a></li>
			<li><a href="#block-8d82a41b-89e1-4ff2-9323-227dbc63d3c6"
					data-level="3">Форсунки охлаждения&nbsp;</a></li>
			<li><a href="#block-166d011f-6e06-4cc1-8e03-97f2158e3d95"
					data-level="3">Поршень с шатуном</a></li>
			<li><a href="#block-91174d4a-966b-4b87-84ba-a6e228ac8e0f"
					data-level="3">Привод отбора мощности передний</a></li>
		</ul>
	</div>



	<blockquote class="wp-block-quote">
		<p>Двигатели 740.50&nbsp;и&nbsp;740.51&nbsp;– отличаются мощностью, ТНВД и некоторыми единицами навесного
			оборудования, абсолютно взаимозаменяемы и похожи между собой.</p>
	</blockquote>



	<h3 id="block-84ce055b-4dca-4a71-8e85-1998526d5bba"><strong>Коленчатый вал</strong></h3>



	<p id="block-75744c24-e709-4b17-b38e-4c71078c3a3c"><strong>Коленчатый вал</strong>&nbsp;(рисунок 8) изготовлен из
		высококачественной стали и имеет пять коренных и четыре шатунные шейки, связанные щеками и сопряженные
		переходными галтелями. Для равномерного чередования рабочих ходов шатунные шейки коленчатого вала расположены
		под углом 90°.</p>



	<figure class="wp-block-image" id="block-7fbe708b-6253-4894-9302-5bc3a1255491"><img
			src="/agregaty/dvigateli/info/img/image-161-1024x571.png"
			alt="Коленчатый вал - двигателя КАМАЗ Евро-2-3 - 740.50, 740.51">
		<figcaption>Рисунок 8 –<strong> Коленчатый вал</strong><br><em>1 – противовес; 2 – шестерня привода масляного
				насоса;&nbsp;3 – заглушка; 4 – шпонка; 5 – отверстия подвода масла к шатунным шейкам; 6 – отверстия
				подвода масла в коренных шейках.</em></figcaption>
	</figure>



	<p id="block-1059a4ca-bf82-41ca-a6d9-6dce5d9af26b">К каждой шатунной шейке присоединяются два шатуна (рисунок 9) –
		один для правого и один для левого рядов цилиндров.</p>



	<p id="block-1cc585c8-4dca-4814-a3c2-c6dca9ada96f">Упрочнение коленчатого вала производится азотированием на глубину
		0,5…0,7 мм, твердость упрочненного слоя не менее 600 HV. Подвод масла к шатунным шейкам производится через
		отверстия в коренных шейках 6 и отверстия 5 (рисунок 8).</p>



	<p id="block-0cf7c7e2-ef0d-462e-b35b-0eb416384214">Для уравновешивания сил инерции и уменьшения вибраций коленчатый
		вал имеет шесть противовесов, отштампованных заодно со щеками коленчатого вала. Кроме основных противовесов,
		имеется дополнительный съемный противовес 1, напрессованный на вал, его угловое расположение относительно
		коленчатого вала определяется шпонкой 4. Для обеспечения требуемого дисбаланса, на маховике выполняется выборка
		6 (рисунок 12).</p>



	<p id="block-7f0a3453-d163-4c08-9a4b-78a520de90e8">На хвостовике коленчатого вала выполнена шейка 9 (рисунок 10), по
		которой центрируется шестерня коленчатого вала 8 и маховик 1 (рисунок 13). На заднем торце коленчатого вала
		выполнено десять резьбовых отверстий М16×1,5-6Н для крепления шестерни коленчатого вала и маховика, на переднем
		торце выполнено восемь резьбовых отверстий М 12×1,25-6Н для крепления гасителя крутильных колебаний.</p>



	<p id="block-00b385de-b79c-4a2e-b564-be3746f79db8">В полость носка коленчатого вала установлена заглушка 3 (рисунок
		8), через калиброванное отверстие которой осуществляется смазка шлицевого валика переднего привода отбора
		мощности.</p>



	<p id="block-8351d86a-48dd-4fe3-8fb4-cc7e9f129cd7">От осевых перемещений коленчатый вал зафиксирован двумя верхними
		полукольцами 1 и двумя нижними полукольцами 2 (рисунок 10), установленными в проточках задней коренной опоры
		блока цилиндров, так, что сторона с канавками прилегает к упорным торцам вала.</p>



	<p id="block-3af64c7b-38d8-4ee4-8ae3-3434c72848a6">На носке коленчатого вала (рисунок 8) установлены шестерни
		привода масляного насоса 2 и привода газораспределительного механизма 8 (рисунок 10).</p>



	<p id="block-c0e50fe0-3609-4514-ab9e-ec3328a6d262">Уплотнение коленчатого вала осуществляется резиновой манжетой 8
		(рисунок 13), с дополнительным уплотняющим элементом – пыльником 9. Манжета размещена в картере маховика 4.
		Манжета изготовлена из фторкаучука по технологии формования рабочей уплотняющей кромки непосредственно в
		прессформе.</p>



	<p id="block-ae92aeaa-e590-4da0-8c51-465a73e78b98">Номинальные диаметры шеек коленчатого вала:</p>



	<ul id="block-c04755aa-1248-4794-a0b0-0019a8f7c0b7">
		<li>коренных 95-0,015мм;</li>
		<li>шатунных 80-0,013 мм.</li>
	</ul>



	<p id="block-7c27fe16-3790-49e3-862c-a2833301ab40">Для восстановления двигателя предусмотрены восемь ремонтных
		размеров вкладышей. Обозначение вкладышей подшипников коленчатого вала, диаметр коренных шеек коленчатого вала,
		диаметр отверстия в блоке цилиндров под эти вкладыши указаны в приложении&nbsp;<strong>Б</strong>.</p>



	<p id="block-9708f08d-8714-4c5f-b65a-2e9d067988bd">Обозначение вкладышей нижней головки шатуна, диаметр шатунных
		шеек коленчатого вала, диаметр отверстия в кривошипной головке шатуна под эти вкладыши указаны в
		приложении&nbsp;<strong>В</strong>.</p>



	<p id="block-1b713aaf-88f2-474b-9198-363e6d47d548">Вкладыши 7405.1005170 Р0, 7405.1005171 Р0, 7405.1005058 Р0
		применяются при восстановлении двигателя без шлифовки коленчатого вала. При необходимости шейки коленчатого вала
		заполировать.</p>



	<p id="block-9c5adcfe-1cc2-4fbe-b60b-4974b1f0b3c5">При шлифовке коленчатого вала по коренным шейкам до 94 мм и менее
		или по шатунным шейкам до 79 мм и менее, необходимо коленчатый вал подвергнуть повторному азотированию.</p>



	<p id="block-a265d434-d1d3-4f3d-abb9-9d36f3c3060d">Пределы допусков по диаметрам шеек коленчатого вала, диаметру
		отверстия в блоке цилиндров и диаметру отверстия в кривошипной головке шатуна при восстановлении двигателя
		должны быть такими же, как у номинальных размеров.</p>



	<p>Коленчатый вал для двигателей 740.50-360 и 740.51-320 имеет значительные отличия от коленчатых валов других
		моделей двигателей, эти отличия делают невозможным использование коленчатых валов двигателей КАМАЗ других
		моделей.</p>



	<p>Маркировка коленчатого вала, выполненная в поковке на третьем противовесе, должна быть 740.50-1005020.</p>



	<h3 id="block-100e2d0f-dc82-48ed-9668-47b34e67e058"><strong>Коренные и шатунные подшипники</strong></h3>



	<p id="block-22058e9c-fb81-4020-95d9-4ca1aed4c3ee">Изготовлены из стальной ленты, покрытой слоем свинцовистой бронзы
		толщиной 0,3 мм, слоем свинцово-оловянистого сплава толщиной 0,022 мм, и слоем олова толщиной 0,003 мм. Верхние 3
		и нижние 4 вкладыши коренных подшипников не взаимозаменяемы. В верхнем вкладыше имеется отверстие для подвода
		масла и канавка для его распределения.</p>



	<figure class="wp-block-image" id="block-5410b2a5-f822-40cb-9716-157d52e14239"><img
			src="/agregaty/dvigateli/info/img/image-163.png"
			alt="Установка упорных полуколец и вкладышей коленчатого вала двигателя КАМАЗ Евро-2-3 - 740.50, 740.51">
		<figcaption>Рисунок 10 – <strong>Установка упорных полуколец и вкладышей коленчатого
				вала</strong><br><em>1&nbsp;– полукольцо упорного подшипника верхнее; 2 – полукольцо упорного подшипника
				нижнее; 3 – вкладыш подшипника коленчатого вала верхний; 4 – вкладыш подшипника коленчатого вала нижний;
				5 – блок цилиндров; 6 – крышка подшипника коленчатого вала задняя; 7 – коленчатый вал; 8 – шестерня
				привода газораспределительного механизма; 9 – центрирующая шейка коленчатого вала.</em></figcaption>
	</figure>



	<p id="block-0c19efea-cfab-43b3-847e-93eb3b399476">Оба вкладыша 4 нижней головки шатуна взаимозаменяемы. От
		проворачивания и бокового смещения вкладыши фиксируются выступами (усами), входящими в пазы, предусмотренные в
		постелях блока и шатуна, а также крышках подшипников.</p>



	<p id="block-b75d346c-2783-4ad2-87de-2b2c05074aed">Вкладыши имеют конструктивные отличия, направленные на повышение
		их работоспособности при форсировке двигателя турбонаддувом, при этом изменена маркировка вкладышей на
		7405.1004058 (шатунные), 7405.1005170 и 7405.1005171 (коренные).</p>



	<p id="block-0a8df115-d103-4a04-a718-abbb2f097280">Не рекомендуется замена вкладышей при ремонте на серийные с
		маркировкой 740, так как при этом произойдет существенное сокращение ресурса двигателя.</p>



	<h3 id="block-8472ce35-92e3-455c-a4bd-597cf1ea34e5">Крышки коренных подшипников</h3>



	<p id="block-cb596dd4-1977-48c5-a682-e8057d0c76c4">Крышки коренных подшипников&nbsp;(рисунок 11) изготовлены из
		высокопрочного чугуна. Крепление крышек осуществляется с помощью вертикальных и горизонтальных стяжных болтов 3,
		4, 5, которые затягиваются по определенной схеме с регламентированным моментом (приложение А).</p>



	<figure class="wp-block-image" id="block-696e4a3a-b8df-407b-b420-d2c2fce18088"><img
			src="/agregaty/dvigateli/info/img/image-164-803x1024.png"
			alt="Установка крышек подшипников коленчатого вала двигателя КАМАЗ Евро-2-3 - 740.50, 740.51">
		<figcaption>Рисунок 11 – <strong>Установка крышек подшипников коленчатого вала</strong><br><em>1 – крышка
				подшипника; 2 – коленчатый вал; 3 – болт крепления крышки; 4 – болт стяжной крепления крышки подшипника
				левый; 5 – болт стяжной крепления крышки подшипника правый; 6 – шайба; 7 – блок; 8 – штифт.</em>
		</figcaption>
	</figure>



	<h3 id="block-7871c4eb-22ec-445c-9a29-66899d701528">Шатун&nbsp;</h3>



	<p id="block-5190adfa-fefc-4bfd-b9d5-0ffdd4fccd5f"><strong>Шатун</strong>&nbsp;– стальной, кованый, стержень
		1&nbsp;имеет двутавровоесечение. Верхняя головка шатуна&nbsp;неразъемная, нижняя выполнена с прямым и
		плоским&nbsp;разъемом. Шатун окончательно обрабатывают в сборе с крышкой 2, поэтому крышки
		шатунов&nbsp;невзаимозаменяемы. В верхнюю головку шатуна запрессована стале-бронзовая втулка 3, а в нижнюю
		установлены сменные вкладыши 4. Крышка нижней головки шатуна крепится с помощью гаек 6, навернутых на болты 5,
		предварительно запрессованные в стержень шатуна. Затяжка шатунных болтов осуществляется по схеме, определенной в
		приложении&nbsp;<strong>А</strong>. На крышке и стержне шатуна нанесены&nbsp;метки спаренности – трехзначные
		порядковые номера. Кроме того, на крышке шатуна выбит порядковый номер цилиндра.</p>



	<figure class="wp-block-image" id="block-83b027f8-63ce-4c29-a489-007e5e010456"><img
			src="/agregaty/dvigateli/info/img/image-162.png"
			alt="Шатун двигателя КАМАЗ Евро-2-3 - 740.50, 740.51">
		<figcaption>Рисунок 9 – <strong>Шатун</strong><br><em>1 – стержень шатуна; 2 – крышка шатуна; 3 – втулка верхней
				головки шатуна; 4 – вкладыш нижней головки шатуна; 5 – болт крепления крышки шатуна; 6 – гайка болта
				крепления крышки шатуна.</em></figcaption>
	</figure>



	<h3 id="block-4463ccfb-5b69-4ac8-ac34-dd3e4d249d80">Маховик&nbsp;</h3>



	<figure class="wp-block-image" id="block-dc0ab7d5-8c8b-4048-ad20-eca80e88e7dc"><img
			src="/agregaty/dvigateli/info/img/image-165-667x1024.png"
			alt="Маховик двигателя КАМАЗ Евро-2-3 - 740.50, 740.51">
		<figcaption>Рисунок 12 – <strong>Маховик КАМАЗ Евро-2</strong><br><em>1 – кольцо; 2 – втулка дистанционная; 3 –
				обод зубчатый маховика; 4 –&nbsp;штифт установочный; 5 – подшипник; 6 – выборка под дисбаланс.</em>
		</figcaption>
	</figure>



	<p id="block-da3d513a-7964-4a87-91fa-4bf2a4f13e6d"><strong>Маховик</strong>&nbsp;(рисунок 12) закреплен десятью
		болтами 7 (рисунок 13), изготовленными из легированной стали, на заднем горце коленчатого вала и зафиксирован
		штифтом 10 (рисунок 13) на центрирующей шейке коленчатого вала 9 (рисунок 10). С целью исключения повреждения
		поверхности маховика, под головки болтов устанавливается шайба 6 (рисунок 13). Величина момента затяжки болтов
		крепления маховика указана в приложении&nbsp;<strong>А</strong>. На обработанную цилиндрическую поверхность
		маховика напрессован зубчатый обод 3 (рисунок 12), с которым входит в зацепление шестерня стартера при пуске
		двигателя. Под манжету уплотнения коленчатого вала устанавливается кольцо 1 с наружной хромированной
		поверхностью.</p>



	<figure class="wp-block-image" id="block-6e147660-9097-4647-8320-a20ec22f10b0"><img
			src="/agregaty/dvigateli/info/img/image-166-788x1024.png"
			alt="Установка маховика двигателя КАМАЗ Евро-2-3 - 740.50, 740.51">
		<figcaption>Рисунок 13 –<em></em><strong>Установка маховика</strong><br><em>1 – маховик; 2 – блок цилиндров; 3 –
				коленчатый вал; 4 – картер маховика; 5 – подшипник первичного вала коробки передач; 6 – шайба; 7 – болт;
				8 – манжета уплотнения коленчатого вала; 9 – пыльник манжеты; 10 – штифт установочный маховика.</em>
		</figcaption>
	</figure>



	<p id="block-4b0fd37e-6773-4519-9eac-52d1c0536e21">Маховик выполняется под одно или двух дисковое диафрагменные
		сцепления. Во внутреннюю расточку маховика установлен подшипник 5 первичного вала коробки передач.</p>



	<p id="block-ae068c35-a460-4199-83ab-60acdde642a2">При регулировках угла опережения впрыска топлива и тепловых
		зазоров в клапанах, маховик фиксируется фиксатором (рисунок 14).</p>



	<p id="block-7c10aad6-48b4-409d-b633-39eee866d78a">Конструкция маховика имеет следующие основные отличия от
		маховиков двигателей 740.10 и 7403.10:</p>



	<ul id="block-dfb9cc4c-555c-4e44-b914-336494eba121">
		<li>изменен угол расположения паза под фиксатор на наружной поверхности маховика;</li>
		<li>увеличен диаметр расточки для размещения шайбы под болты крепления маховика;</li>
		<li>введена серповидная выборка для обеспечения требуемого дисбаланса;</li>
		<li>крепление маховика к торцу коленчатого вала осуществляется десятью болтами М16х1,5;</li>
	</ul>



	<p id="block-194175fb-be3e-4df1-a5e3-2b5ef64e783f">Перечисленные изменения делают невозможной установку маховиков
		двигателей других моделей при проведении ремонтных работ.</p>



	<figure class="wp-block-image" id="block-4fb0d604-03cf-4a62-9a5f-a8ada0483884"><img
			src="/agregaty/dvigateli/info/img/image-167.png"
			alt="Положение ручки фиксатора маховика двигателя КАМАЗ 740.50, 740.51">
		<figcaption>Рисунок 14 – <strong>Положение ручки фиксатора маховика</strong><br><em>а) – при эксплуатации; б) –
				при регулировке, в зацеплении с маховиком.</em></figcaption>
	</figure>



	<h3 id="block-d3efd1d7-5f9d-4c08-bfd6-a350a30f574c">Гаситель крутильных колебаний</h3>



	<p id="block-61733dd0-a26c-4aa9-80ad-9da467c391f7">Гаситель крутильных колебаний&nbsp;закреплен восемью болтами 2
		(рисунок 16) на переднем носке коленчатого вала.</p>



	<figure class="wp-block-image" id="block-46d5969a-3b6a-4df4-bab3-1b613d860741"><img
			src="/agregaty/dvigateli/info/img/image-168.png"
			alt="Гаситель крутильных колебаний коленчатого вала двигателя КАМАЗ Евро-2-3 - 740.50, 740.51">
		<figcaption>Рисунок 15 – <strong>Гаситель крутильных колебаний коленчатого вала</strong><br><em>1 – корпус
				гасителя; 2 – маховик гасителя; 3 – крышка; 4 – пробка заправочного отверстия; 5 – высоко-вязкостная
				силиконовая жидкость; 6 – центровочная шайба.</em></figcaption>
	</figure>



	<p id="block-18e9b2b2-0e74-4800-b19b-f59a7ace8523">Гаситель состоит из корпуса 1 (рисунок 15) в который установлен с
		зазором маховик гасителя 2. Снаружи корпус гасителя закрыт крышкой 3. Герметичность обеспечивается сваркой по
		стыку корпуса гасителя и крышки. Между корпусом гасителя и маховиком гасителя находится высоковязкая силиконовая
		жидкость, дозировано заправленная перед заваркой крышки. Центровка гасителя осуществляется шайбой 6, приваренной
		к корпусу.</p>



	<figure class="wp-block-image" id="block-740c459d-b085-4188-a3fb-f1532e38d4ce"><img
			src="/agregaty/dvigateli/info/img/image-169-908x1024.png"
			alt="Установка гасителя крутильных колебаний - двигателя КАМАЗ Евро-2-3 - 740.50, 740.51">
		<figcaption>Рисунок 16 – <strong>Установка гасителя крутильных колебаний</strong><br><em>1&nbsp;– гаситель; 2 –
				болт крепления гасителя; 3 – полумуфта отбора мощности; 4 – шайба; 5 – коленчатый вал; 6 – блок
				цилиндров.</em></figcaption>
	</figure>



	<p id="block-5bbef21a-3926-41b7-9bdf-30bf6011a586">Гашение крутильных колебаний коленчатого вала происходит путем
		торможения корпуса гасителя, закрепленного на носке коленчатого вала, относительно маховика в среде силиконовой
		жидкости. При этом энергия торможения выделяется в виде теплоты.</p>



	<p id="block-497c3da7-c45c-4eae-9d1a-62be6f610cf2"><strong>КАТЕГОРИЧЕСКИ ЗАПРЕЩАЕТСЯ</strong><em>&nbsp;при
			проведении ремонтных работ деформировать корпус и крышку гасителя. Гаситель с деформированным корпусом или
			крышкой к дальнейшей эксплуатации не пригоден.</em></p>



	<p id="block-04465b7d-f42c-42d6-8ec4-8008a87f98a7">После установки гасителя проверить наличие зазора между гасителем
		и противовесом.</p>



	<h3 id="block-f765742a-cc58-48b8-9e39-9e9292669b02">Поршень&nbsp;</h3>



	<p id="block-a3ce44c9-fb64-4d69-af88-9c7d9fe8b005">Поршень&nbsp;1 (рисунок 17) отлит из алюминиевого сплава со
		вставкой из износостойкого чугуна под верхнее компрессионное кольцо. В головке поршня выполнена тороидальная
		камера сгорания с вытеснителем в центральной части, которая смещена относительно оси поршня в сторону от выточек
		под клапаны на 5 мм.</p>



	<figure class="wp-block-image" id="block-52eae50e-7b96-487e-9465-94b5eaf8d19b"><img
			src="/agregaty/dvigateli/info/img/image-170-914x1024.png"
			alt="Поршень с шатуном и кольцами в сборе - двигателя КАМАЗ Евро-2-3 - 740.50, 740.51">
		<figcaption>Рисунок 17 – <strong>Поршень с шатуном и кольцами в сборе</strong><br><em>1 – поршень; 2 –
				маслосъемное кольцо; 3 – поршневой палец; 4, 5 – компрессионные кольца; 6 – стопорное кольцо.</em>
		</figcaption>
	</figure>



	<p id="block-0d3d89bd-2515-4b19-9ba1-734d5df7478e">Боковая поверхность представляет собой сложную
		овально-бочкообразную форму с занижением в зоне отверстий под поршневой палец. На юбку нанесено графитовое
		покрытие. В нижней части юбки поршня выполнен паз, исключающий, при правильной сборке, контакт поршня с
		форсункой охлаждения при нахождении его в нижней мертвой точке.</p>



	<p id="block-511ea806-14da-414a-a78e-e73fb7bac8db">Поршень комплектуется двумя компрессионными и одним маслосъемным
		кольцами. Отличительной его особенностью является уменьшенное расстояние от днища до нижнего торца верхней
		канавки, которое составляет 17 мм. На двигателе аналогично другим моделям двигателей КАМАЗ, с целью обеспечения
		топливной экономичности и экологических показателей, применен селективный подбор поршней для каждого цилиндра по
		расстоянию от оси поршневого пальца до днища. По указанному параметру поршни разбиты на четыре&nbsp;группы 10,
		20, 30 и 40. Каждая последующая группа от предыдущей отличается на 0,11 мм.</p>



	<p id="block-ebd30dc1-9928-4e35-b6a0-862ddbf991a3">В запасные части поставляются поршни наибольшей высоты – для
		двигателей 740.50-360 и 740.51-320 размер от оси поршневого пальца до днища поршня 40 группы (наибольшей)
		составляет 71,04-0,04 мм.</p>



	<p id="block-e5ae3848-9e24-46a9-bd24-7a1083c5aeaa">Во избежание возможного контакта между ними и головками
		цилиндров, в случае замены, необходимо контролировать надпоршневой зазор. Если зазор между поршнем и головкой
		цилиндра после затяжки болтов ее крепления будет менее 0,87 мм, необходимо подрезать днище поршня на недостающую
		до этого значения величину.</p>



	<p id="block-ab7bb119-b8fc-4a89-9173-fc8ae71d1511">Установка поршней с двигателей КАМАЗ других моделей недопустима.
		Маркировка поршня 740.51-1004015 выполняется в литье на внутренней полости поршня.</p>



	<h3 id="block-cb65bd64-82f9-467e-afad-67f05033da04">Компрессионные кольца&nbsp;</h3>



	<p id="block-a00ba6ca-e371-4b08-8fe5-004e046a8520">Компрессионные кольца&nbsp;(рисунок 17) изготавливаются из
		высокопрочного, а маслосъемное – из серого чугунов. Верхнее компрессионное кольцо имеет форму двухсторонней
		трапеции, с внутренней выборкой со стороны верхнего торца, а второе имеет форму односторонней трапеции. При
		монтаже торец с отметкой “верх” должен располагаться со стороны днища поршня.</p>



	<p id="block-d41e9993-8bf8-427d-856d-693054e492d3">Рабочая поверхность верхнего компрессионного кольца 4 покрыта
		молибденом и имеет бочкообразную форму. На рабочей поверхности второго компрессионного 5 и маслосъемного колец 2
		нанесен хром. Ее форма на втором кольце представляет собой конус с уклоном к нижнему торцу, по этому
		характерному признаку кольцо получило название “минутное”. Минутные кольца применены для снижения расхода масла
		на угар, их установка в верхнюю канавку недопустима.</p>



	<h3 id="block-ab661b4d-5dbc-4a91-8ef2-635d913c47dd">Маслосъёмное кольцо</h3>



	<p id="block-a04ff1f5-e05d-42fd-bd4c-34d2d3d3a1d1">Маслосъёмное кольцо&nbsp;коробчатого типа, высотой 4 мм, с
		пружинным расширителем, имеющим переменный шаг витков и шлифованную наружную поверхность. Средняя часть
		расширителя с меньшим шагом витков при установке на поршень должна располагаться в замке кольца.</p>



	<p id="block-2bf7db5a-c27c-402b-8405-795750a6384e">Установка поршневых колец с других моделей двигателей КАМАЗ может
		привести к увеличению расхода масла на угар и, как следствие, ухудшению экологических показателей.</p>



	<h3 id="block-8d82a41b-89e1-4ff2-9323-227dbc63d3c6">Форсунки охлаждения&nbsp;</h3>



	<p id="block-2e41edb2-e1b4-4908-adb7-40dc9a9ea618">Форсунки охлаждения&nbsp;(рисунок 6) устанавливаются в картерной
		части блока цилиндров и обеспечивают подачу масла из главной масляной магистрали, при достижении в ней давления
		80… 120 кПа (0,8… 1,2 кг/см<sup>2</sup>), на внутреннюю полость поршней. На такое давление отрегулирован клапан,
		расположенный в каждой из форсунок.</p>



	<p id="block-2d562e0d-0ccf-40dc-8cea-5e72642d8c5e">При сборке двигателя необходимо контролировать правильность
		положения трубки форсунки относительно гильзы цилиндра и поршня. Контакт с поршнем недопустим.</p>



	<h3 id="block-166d011f-6e06-4cc1-8e03-97f2158e3d95">Поршень с шатуном</h3>



	<p id="block-ab28c200-ed10-4c57-879a-decb7e031da1"><strong>Поршень с шатуном</strong>&nbsp;(рисунок 17) соединены
		пальцем 3 плавающего типа, его осевое перемещение ограничено стопорными кольцами 6. Палец изготовлен из
		хромоникелевой стали, диаметр отверстия 16 мм. Применение пальцев с диаметром отверстия 22 и 25 мм недопустимо,
		так как это нарушает балансировку двигателя.</p>



	<h3 id="block-91174d4a-966b-4b87-84ba-a6e228ac8e0f">Привод отбора мощности передний</h3>



	<p id="block-52e5425f-c8d3-47f2-b57a-1c2603369b1d"><strong>Привод отбора мощности передний</strong>&nbsp;(рисунок
		18) осуществляется с носка коленчатого вала через полумуфту отбора мощности 2, прикрепленную к носку коленчатого
		вала 13 восьмью специальными болтами M12x1,25. Центрирование полумуфты относительно коленчатого вала
		осуществляется по внутренней расточке выносного противовеса. Крутящий момент от полумуфты передается посредством
		вала привода агрегатов 1 и вала отбора мощности 3 на шкив 4. Вал отбора мощности 3 устанавливается на двух
		шариковых подшипниках 11 и 12. Уплотнение полости осуществляется манжетой 8 и заглушкой 10 с резиновым кольцом
		14. Для уменьшения износа шлицевых соединений, вал привода агрегатов удерживается от осевых перемещений пружиной
		9.</p>



	<figure class="wp-block-image" id="block-d37531a4-c811-4065-8291-a26f5b08d125"><img
			src="/agregaty/dvigateli/info/img/image-171-1024x843.png"
			alt="Установка привода отбора мощности переднего и шкива  - двигателя КАМАЗ Евро-2-3 - 740.50, 740.51">
		<figcaption>Рисунок 18 – <strong>Установка привода отбора мощности переднего и шкива</strong><br><em>1 – вал
				привода агрегатов, 2 – полумуфта отбора мощности; 3 – вал отбора мощности; 4 – шкив; 5 – болт; 6 –
				передняя крышка блока, 7 – корпус подшипника; 8 – манжета; 9 – пружина; 10 – заглушка; 11, 12 –
				подшипники; 13 – коленчатый вал; 14 – резиновое кольцо уплотнения заглушки; 15 – стопорное кольцо.</em>
		</figcaption>
	</figure>



	<p></p>



	<hr>
	<p>&nbsp;</p>


	
<h2>Каталог двигателей Евро-2 (Евро-3)</h2>
    
<div id="productList" class="pt-4 pb-2" style="display: block;">
	<div class="row list">

		<div id="740-50"></div>
		{% assign page_url = "dvigatel_kamaz_740_50-360_evro-2-3" %}
		{% assign product = site.data.agregaty | where:"url", page_url | first %}
		{%- if product -%}
		{% include card_zapchasti_catalog.html product = product %}
		{%- endif -%}


		<div id="740-51"></div>
		{% assign page_url = "dvigatel_kamaz_740_51-320_evro-2-3" %}
		{% assign product = site.data.agregaty | where:"url", page_url | first %}
		{%- if product -%}
		{% include card_zapchasti_catalog.html product = product %}
		{%- endif -%}

		<div id="loadingDiv" style="display: none;">
			<span>Загрузка данных</span>
		</div>
	</div>
	<div class="no-result">Не найдено</div>
	<ul class="pagination" style="display: none;"></ul>
</div>
<hr>
<p>&nbsp;</p>



	
	{% include kupite_catalog.html %}
	<div style="height: 100px;">&nbsp;</div>
	
	
	
	</div>