---
layout: default_info
title: Ремонт топливной системы двигателя КАМАЗ Евро-1 - 740.11, 740.13
description: Для снятия ТНВД отсоедините тросики ручного управления рычагом останова двигателя, тягу управления подачей топлива, трубопроводы, масло-отводящую трубку.
keywords: КамАЗ двигатель мотор купить модификации цена бу новый завод ремонт капремонт
hero-title: Двигатели КАМАЗ
h1: Ремонт системы питания двигателя 740 Евро-1
h2: мод. 740.11, 740.13
phone:
phone_title:
categories: [<a href="/agregaty/dvigateli/index.html">Двигатели КАМАЗ</a> ]
---

<div class="col-md-9 col-xs-12 m-auto"> 


	<h2 id="h-">Для снятия топливного насоса высокого давления:</h2>

	<ul>
		<li>отсоедините тросики ручного управления рычагом останова двигателя и рычагом управления регулятором, тягу
			управления подачей топлива, трубопроводы подвода топлива к насосу, отводящий, дренажный трубопроводы и
			трубопровод от фильтра тонкой очистки топлива, трубку подвода масла к насосу, масло-отводящую трубку;</li>
		<li>выверните два болта ведомой полумуфты (для выворачивания болтов переведите их в удобное положение, провернув
			коленчатый вал ломиком за отверстия на маховике через люк картера сцепления);</li>
		<li>отсоедините трубопроводы, подводящие топливо к штифтовым свечам, трубопроводы высокого давления (снимите
			их), трубку подвода воздуха к клапану вспомогательной тормозной системы;</li>
		<li>выверните четыре болта крепления топливного насоса;</li>
		<li>снимите насос.</li>
	</ul>



	<h3 id="h--2">Для установки топливного насоса высокого давления:</h3>



	<ul>
		<li>проверните коленчатый вал до положения, соответствующего началу впрыскивания топлива в первом цилиндре
			(фиксатор находится в зацеплении с маховиком); при этом шпоночный паз ведущей полумуфты привода должен
			находиться:<ul>
				<li><em>внизу,</em>&nbsp;для двигателей мод. 740.11-240 и мод. 740.14-300;</li>
				<li><em>в горизонтальном положении слева,</em>&nbsp;если смотреть со стороны маховика для двигателя мод.
					740.13-260;</li>
			</ul>
		</li>
		<li>установите насос на двигатель, совместив при этом:<ul>
				<li>метки на корпусе насоса и муфте опережения впрыскивания топлива, для двигателей мод. 740.11-240 и
					мод. 740.14-300;</li>
				<li>установочную метку на фланце ведомой полумуфты с указателем на корпусе ТНВД для двигателя мод.
					740.13-260;</li>
			</ul>
		</li>
		<li>затяните болты крепления насоса, как показано на рисунке:</li>
	</ul>



	<div class="wp-block-image">
		<figure class="aligncenter size-large"><img loading="lazy" width="294" height="377"
				src="/agregaty/dvigateli/info/img/image-77.png"
				alt="Порядок затяжки болтов крепления ТНВД" class="wp-image-210"
				srcset="/agregaty/dvigateli/info/img/image-77.png 294w, /agregaty/dvigateli/info/img/image-77-234x300.png 234w"
				sizes="(max-width: 294px) 100vw, 294px">
			<figcaption><strong>Порядок затяжки болтов крепления ТНВД</strong></figcaption>
		</figure>
	</div>



	<ul>
		<li>не нарушая взаимного расположения меток, затяните верхний болт ведомой полумуфты привода, переставьте
			фиксатор в мелкий паз. проверните коленчатый вал на один оборот и затяните второй болт ведомой полумуфты;
		</li>
		<li>установите крышку люка картера сцепления;</li>
		<li>подсоедините трубопроводы высокого давления, трубку подвода масла к ТНВД и масло-отводящую трубку, трубку
			подвода воздуха к клапану вспомогательной тормозной системы, трубопроводы низкого давления, тягу управления
			подачей топлива, тросики ручного управления рычагом останова и рычагом управления регулятором.</li>
	</ul>



	<p>После установки топливного насоса высокого давления пустите двигатель и болтом 2 (рис.<em>&nbsp;</em><em>Крышка
			регулятора ТНВД</em>) отрегулируйте минимальную частоту вращения холостого хода, которая должна быть 600±50
		мин<sup>-1</sup>.</p>



	<h3 id="h--3">При ремонте топливного насоса высокого давления:</h3>



	<ul>
		<li>корпус насоса, имеющий трещины и срывы основных резьб, замените;</li>
		<li>к дефектам втулки плунжера отнесите скалывание и выкрашивание металла у отверстий, задиры, царапины, износ
			рабочей поверхности, увеличение диаметра впускного и отсечного окон, трещины и ослабление в местах посадки
			(скалывание, выкрашивание металла и трещины являются неисправимыми дефектами). Износ рабочей поверхности
			втулки плунжера измерьте с точностью до 0,001 мм, овальность, конусность и увеличение отверстия втулки –
			микрометрическим или индикаторным прибором для измерения внутренних поверхностей с ценой деления до 0,001 мм
			и конусными калибрами;</li>
		<li>к дефектам плунжера отнесите выкрашивание металла и царапины на рабочей поверхности, износ рабочей
			поверхности и трещины. Искажение геометрии плунжера выявите миниметром с точностью до 0,001 мм при установке
			его стрелки на нуль по исходному образцу или калибром в виде конусной втулки;</li>
		<li>величину зазора в плунжерной паре проверьте на опрессовочном стенде с падающим грузом. Перед испытанием
			детали пары тщательно промойте в профильтрованном дизельном топливе. Плунжерную пару установите в гнездо
			стенда, плунжер – в положение максимальной подачи. Надплунжерное пространство заполните профильтрованным
			дизельным топливом. Установите на торец втулки уплотнительную пластину, зажав ее винтом, затем отпустите
			защелку груза. Под действием его через зазор в паре постепенно начнет выдавливаться топливо – чем больше
			зазор, тем быстрее. Величина нагрузки на плунжер должна соответствовать величине давления топлива 19,1-20,1
			МПа (195-205 кгс/см<sup>2</sup>).</li>
	</ul>



	<ul>
		<li>Полное поднятие плунжера до момента отсечки под действием нагрузки, сопровождаемое выжиманием топлива через
			зазор между втулкой и плунжером, должно происходить не мене чем за 20 с.</li>
		<li>Установите плунжерную пару со временем поднятия плунжера до отсечки более 40 с, смоченную профильтрованным
			дизельным топливом, в вертикальное положение на торец втулки, предварительно подложив лист чистой бумаги.
			После пятиминутной выдержки при поднятии пары за хвостовик плунжера втулка должна опускаться с плунжера под
			действием собственной массы;</li>
		<li>толкатель плунжера установлен в отверстие корпуса насоса с зазором 0,025-0.075 мм. Предельно допустимый
			зазор при эксплуатации 0.2 мм. Измерьте наружный диаметр толкателя плунжера микрометром или скобой;</li>
		<li>в сборочной единице ролик толкателя – втулка ролика – ось ролика основным дефектом является износ
			сопрягаемых поверхностей. Суммарный зазор в сопряжении 0,022-0,087 мм, предельно допустимый&nbsp;0,3&nbsp;мм
			(замерьте индикаторной головкой). Если износ превышает указанный предел, толкатель разберите и
			отремонтируйте, при этом замеры производите раздельно. Предельно допустимый зазор при износе поверхностей в
			соединении ось ролика&nbsp;– втулка ролика 0.12 мм, в соединении втулка ролика – ролик толкателя 0.18 мм.
			Наружные поверхности деталей замерьте микрометром, внутренние – нутромером с индикатором.</li>
		<li>на поверхности кулачкового вала не допускаются выкрашивание металла, задиры, срывы резьб, следы
			коррозии.&nbsp;Предельно&nbsp;допустимая высота&nbsp;профиля&nbsp;кулачка не&nbsp;менее&nbsp;47.7 мм (высота
			профиля кулачка по КД 47.95-48.05 мм). Замеры произведите скобой 47.7; диаметр шеек под внутренние кольца
			подшипников должен быть не менее 30.0 мм (по КД 30.002-30.011 мм), натяг по уплотняющей кромке манжеты – не
			менее 0.5 мм;</li>
		<li>на поверхности нагнетательного клапана не допускаются трещины, вмятины, следы коррозии. Износ клапана
			проявляется в потере герметичности по уплотняющему конусу, в заедании клапана в седле. Для обнаружения
			дефектов используйте лупу десятикратного увеличения. При потере герметичности совместно притрите седло и
			клапан по конусу пастой ГОСТ 3647-71, при заедании клапана в седле детали промойте бензином или дизельным
			топливом. Если заедание не устраняется, пару замените;</li>
		<li>предельно допустимый зазор в сопряжении палец рычага реек – паз рейки 0,18 мм (по КД 0.025-0,077 мм),
			предельно допустимый зазор в сопряжении ось поводка поворотной втулки – паз рейки топливного насоса 0.3 мм
			(по КД 0.117- 0.183 мм). Для замера пазов применяйте нутромер.</li>
	</ul>



	<h3 id="h--4">При ремонте регулятора частоты вращения:</h3>



	<ul>
		<li>замените верхнюю и заднюю крышки регулятора, если имеются трещины на них. При засорении сетчатого масляного
			фильтра в задней крышке регулятора продуйте его сжатым воздухом. Если фильтр имеет дефекты, замените его.
			Эксплуатационный расход масла через фильтр должен быть не менее 1,6 л/ч при давлении 98.1-294 кПа (1-3
			кгс/см<sup>2</sup>);</li>
		<li>для определения пригодности к дальнейшей эксплуатации державку грузов регулятора в сборе с грузами осмотрите
			и измерьте без разборки, так как при выпрессовке детали могут быть повреждены и нарушится спаренность
			грузов, которые подобраны с разницей статического момента не более 196 кПа (2 кгс/см<sup>2</sup>). Частичную
			или полную разборку сборочной единицы производите только при износе, превышающем допустимый, или разрушении
			деталей.</li>
		<li>Зазор между рычагом пружины регулятора и осью рычага, запрессованной в корпусе насоса, не должен превышать
			0,3 мм</li>
	</ul>



	<h3 id="h--5">При ремонте насоса низкого давления и насоса предпусковой прокачки топлива:</h3>



	<ul>
		<li>насос низкого давления и насос предпусковой прокачки топлива замените при наличии трещин на корпусе,
			изломов, механических повреждений, коррозии, ведущей к потере подвижности сопрягаемых деталей;</li>
		<li>при разборке и сборке насоса низкого давления помните, что поршень и корпус насоса представляют собой точно
			подобранную пару и раскомплектованию не подлежит.</li>
	</ul>



	<p>Разборке и ремонту насос подвергается только в том случае, если он не обеспечивает требуемых характеристик;</p>



	<ul>
		<li>особое внимание обратите на состояние сборочной единицы шток – втулка насоса низкого давления, так как от
			величины износа в сопряжении зависит количество перетекаемого топлива в полость кулачкового вала. Зазор в
			указанном сопряжении не должен превышать 0,012 мм. Величину зазора проверьте, не извлекая втулки из корпуса
			насоса, определением времени падения давления воздуха с 490 кПа (5 кгс/см<sup>2)</sup>&nbsp;до 392 кПа (4
			кгс/см<sup>2</sup>) в аккумуляторе объемом 30 см<sup>3</sup>. Схема установки для замера плотности
			прецизионной сборочной единицы показана на рисунке.</li>
		<li>Установите корпус 8 насоса в приспособление, заполните аккумулятор сжатым воздухом до давления не менее 539
			кПа (5,5 кгс/см<sup>2</sup>), герметично отключите его от магистрали сжатого воздуха и замерьте время, в
			течение которого произойдет падение в аккумуляторе с 490 кПа (5 кгс/см<sup>2</sup>) до 392 кПа (4
			кгс/см<sup>2</sup>). Полученное время сравните с аналогичными показаниями плотности эталонной прецизионной
			пары, имеющей зазор в сопряжении 0.012 мм. Пару замените или отремонтируйте, если плотность у нее меньше
			эталонной.</li>
	</ul>



	<div class="wp-block-image">
		<figure class="aligncenter size-large"><img loading="lazy" width="454" height="400"
				src="/agregaty/dvigateli/info/img/image-78.png"
				alt="Схема установки для испытаний пары шток-втулка" class="wp-image-211"
				srcset="/agregaty/dvigateli/info/img/image-78.png 454w, /agregaty/dvigateli/info/img/image-78-300x264.png 300w"
				sizes="(max-width: 454px) 100vw, 454px">
			<figcaption><strong>Схема установки для испытаний пары шток-втулка</strong><br><em>1 – аккумулятор
					воздушный; 2 – манометр; 3. 4, 5, 6 – краны; 7 – масловлагоотделитель; 8 – корпус насоса; 9 –
					ограничитель перемещения штока; 10 – соединитель для подвода воздуха к корпусу насоса.&nbsp;I – в
					атмосферу; II – из системы; III – к насосу.</em></figcaption>
		</figure>
	</div>



	<p>Проверку плотности пары можно произвести более простым способом: через зазор между штоком и втулкой пропустите
		профильтрованное дизельное топливо. Объем топлива, просочившегося через зазор, не должен превышать 1
		см<sup>3</sup>&nbsp;в течение 20 мин.</p>



	<p>Если сборочная единица шток – втулка заменяется, поверхность резьбы и торец в корпусе насоса низкого давления
		очистите от остатков клея. Новую втулку штока установите в корпус насоса на клее, составленном на основе
		эпоксидной смолы. Для обеспечения прочности и герметичности соединения очищенные контактирующие поверхности
		корпуса насоса и втулки предварительно обезжирьте бензином Б-70. После затяжки втулки штока с моментом 9,81 Нм
		(1 кгс/м) проверьте легкость перемещения штока в ней. При необходимости уменьшите момент затяжки.</p>



	<p>Во время испытания проверьте подачу насоса. Установку для проверки изготовьте по схеме: топливный бак – фильтр
		грубой очистки топлива – вакуумметр – топливоподкачивающий насос – манометр – мерный резервуар. Элементы схемы
		соедините прозрачными трубопроводами с внутренним диаметром не менее 8 мм.</p>



	<p>Для создания разрежения на входе в насос и противодавления на выходе установите краны. Проверку производите на
		летнем дизельном топливе при температуре его 25-30°С, в отсутствии воздуха в системе убедитесь по чистоте струи
		топлива в прозрачных трубопроводах. Насос должен засасывать топливо из бака, установленного на 1 м ниже насоса.
		Подача насоса при частоте вращения кулачкового вала 1100-1300 мин<sup>-1</sup>, разрежении у входного штуцера 23
		кПa (173 мм рт. ст.) и противодавлении:</p>



	<ul>
		<li>80-100 кПа (0,8-1.0 кгс/см<sup>2</sup>) должна быть не менее 3 л/мин для двигателей мод. 740.11-240 и мод.
			740.13-260;</li>
		<li>125 кПа (1,25 кгс/см<sup>2</sup>) должна быть не менее 3,5 л/мин для двигателя 740.14-300.</li>
	</ul>



	<p>При полностью перекрытом выходном кране и частоте вращения кулачкового вала 1100-1300 мин<sup>-1</sup>&nbsp;насос
		должен создавать давление не менее:</p>



	<ul>
		<li>400 кПа (4 кгс/см<sup>2</sup>) – для двигателей мод. 740.11-240 и 740.13-260;</li>
		<li>600 кПа (6 кгс/см”) – для двигателя 740.14-300.</li>
	</ul>



	<p>При полностью перекрытом входном кране и указанной частоте вращения кулачкового вала минимальное разрежение,
		создаваемое насосом, должно быть:</p>



	<ul>
		<li>52 кПа (390 мм рт. ст.) – для двигателей мод. 740.11-240 и 740.13-260;</li>
		<li>70 кПа (525 мм рт. ст.) – для двигателя 740.14-300;</li>
		<li>насос предпусковой прокачки топлива проверьте на стенде, имеющем схему: топливный бак – фильтр грубой
			очистки – топливный насос. Насос должен подавать топливо из бака. установленного ниже ручного насоса на 1 м.
			Проверьте насос на герметичность, подводя воздух под поршень при давлении 200 300 кПа (2-3
			кгс/см<sup>2</sup>) в течение 5-6 с с предварительным смачиванием полости дизельным топливом.</li>
	</ul>



	<h2 id="h--6">Муфта опережения впрыскивания топлива</h2>



	<h3 id="h--7">Для снятия автоматической муфты опережения впрыскивания топлива&nbsp;</h3>



	<p>используйте приспособление. Сначала отверните гайку 2 (см. рис. <em>Отворачивание гайки крепления муфты
			опережения впрыскивания топлива)</em>&nbsp;крепления муфты.</p>



	<div class="wp-block-image">
		<figure class="aligncenter size-large"><img loading="lazy" width="436" height="398"
				src="/agregaty/dvigateli/info/img/image-79.png"
				alt="Отворачивание гайки крепления муфты опережения впрыскивания топлива" class="wp-image-212"
				srcset="/agregaty/dvigateli/info/img/image-79.png 436w, /agregaty/dvigateli/info/img/image-79-300x274.png 300w"
				sizes="(max-width: 436px) 100vw, 436px">
			<figcaption><strong>Отворачивание гайки крепления муфты опережения впрыскивания топлива</strong><br><em>1 –
					муфта; 2 – гайка; 3 – ключ; 4 – отвертка</em></figcaption>
		</figure>
	</div>



	<p>Для этого вставьте отвертку 4 в паз гайки и. удерживая муфту 1 от вращения ключом 3, отверните гайку. Затем,
		вворачивая в муфту съемник 2 (рис. <em>Снятие муфты приспособлением</em>&nbsp;), снимите муфту.</p>



	<div class="wp-block-image">
		<figure class="aligncenter size-large"><img loading="lazy" width="498" height="386"
				src="/agregaty/dvigateli/info/img/image-80.png"
				alt="Снятие муфты приспособлением" class="wp-image-213"
				srcset="/agregaty/dvigateli/info/img/image-80.png 498w, /agregaty/dvigateli/info/img/image-80-300x233.png 300w"
				sizes="(max-width: 498px) 100vw, 498px">
			<figcaption><strong>Снятие муфты приспособлением</strong><br>1 – ключ; 2- съемник<br></figcaption>
		</figure>
	</div>



	<h3 id="h--8">Для разборки муфты:</h3>



	<ul>
		<li>выверните винты из корпуса и слейте масло:</li>
		<li>зажмите в настольные тиски подставку 6 (рис.<em>&nbsp;Разборки муфты)</em>&nbsp;приспособления и установите
			на нее муфту, вверните в подставку шпильку 5, установите шайбу 3 и затяните гайкой 2;</li>
	</ul>



	<div class="wp-block-image">
		<figure class="aligncenter size-large"><img loading="lazy" width="547" height="427"
				src="/agregaty/dvigateli/info/img/image-81.png" alt="Разборка муфты"
				class="wp-image-214"
				srcset="/agregaty/dvigateli/info/img/image-81.png 547w, /agregaty/dvigateli/info/img/image-81-300x234.png 300w"
				sizes="(max-width: 547px) 100vw, 547px">
			<figcaption><strong>Разборка муфты</strong><br><em>1 – ключ; 2 – гайка; 3 – шайба; 4 – муфта; 5 – шпилька; 6
					– подставка.</em></figcaption>
		</figure>
	</div>



	<ul>
		<li>ключом 1 отверните корпус 5 (см. рис.&nbsp;<em><u>Автоматическая муфта опережения впрыскивания
					топлива</u></em>);</li>
		<li>снимите ведущую полумуфту 1 с проставками 12, грузы 11, пружины 8;</li>
		<li>выпрессуйте манжеты 4 и 2.</li>
	</ul>



	<p>Учитывая, что грузы подобраны по статическому моменту, сохраните их спаренность для последующей установки.</p>



	<h3 id="h--9">Для сборки муфты:</h3>



	<ul>
		<li>запрессуйте манжету 4 в отверстие ведущей полумуфты;</li>
		<li>установите ведущую полумуфту оправкой на ступицу ведомой;</li>
		<li>установите в стаканы 7 регулировочные прокладки 6 и пружины 8, стаканы с пружинами – в направляющие
			отверстия грузов, в которых они должны перемещаться свободно без заеданий. В произвольном положении деталей
			муфты зазор между профильной поверхностью и проставкой должен быть не более 0,15 мм. При сведенных до упора
			поворотом ведущей полумуфты грузах, один из зазоров должен быть не более 0,1 мм, другой – равен нулю.</li>
	</ul>



	<p>Отрегулируйте зазоры подбором проставок:</p>



	<ul>
		<li>запрессуйте в корпус муфты заподлицо с внутренней торцовой поверхностью манжету&nbsp;2;</li>
		<li>установите в выточку ведомой полумуфты резиновое уплотнительное кольцо 14; .</li>
		<li>наверните на ведомую полумуфту корпус и затяните моментом 314-343 Нм (32-35 кгс м);</li>
		<li>зачеканить в трех местах ведомую полумуфту.</li>
	</ul>



	<p>Перед установкой корпуса обеспечьте равные зазоры между корпусом и стаканами пружин при сведенных до упора
		грузах. Разность зазоров должна быть не более 0,2 мм.</p>



	<p>После сборки залейте в муфту моторное масло, применяемое для двигателя.</p>



	<h3 id="h--10">Разборка форсунки&nbsp;</h3>



	<p>Для разборки форсунки&nbsp;используйте приспособление И801.20.000. Зажмите станину 2 (рис. <em>Разборка
			форсунки</em>) приспособления в тисках, установите форсунку в паз станины распылителем вверх. Вворачивая
		болт 4, отожмите распылитель форсунки упором 1, после&nbsp;этого рожковым ключом отверните гайку распылителя.
		Вывернув болт 4, извлеките форсунку из приспособления и разберите на части.</p>



	<div class="wp-block-image">
		<figure class="aligncenter size-large"><img loading="lazy" width="587" height="431"
				src="/agregaty/dvigateli/info/img/image-82.png"
				alt="Разборка форсунки двигателя КАМАЗ" class="wp-image-215"
				srcset="/agregaty/dvigateli/info/img/image-82.png 587w, /agregaty/dvigateli/info/img/image-82-300x220.png 300w"
				sizes="(max-width: 587px) 100vw, 587px">
			<figcaption><strong>Разборка форсунки</strong><br><em>1 – упор; 2 – станина; 3 – форсунка; 4 – болт.</em>
			</figcaption>
		</figure>
	</div>



	<p>Помните, что корпус и игла распылителя подобраны парой и раскомплектованию не подлежат. Предельно допустимый
		зазор между корпусом и иглой распылителя 0,006 мм. Увеличение хода иглы распылителя не допускайте более 0,4 мм,
		диаметр сопловых отверстий распылителя не должен превышать 0,38 мм.</p>



	<p>Неудовлетворительная работа форсунок вызывается уменьшением давления начала впрыскивания топлива, что объясняется
		износом сопряженных с пружиной деталей и усадкой пружины, поэтому высоту проставки форсунки не допускайте менее
		8,89 мм (по КД 8,9-9,0 мм). При обнаружении на проставке рисок и следов коррозии (используйте лупу с
		десятикратным увеличением) деталь замените.</p>



	<p>К дефектам форсунки относятся поломка пружины, засорение и износ сопловых отверстий, заедание иглы и износ ее
		уплотнительной части (вызывает подтекание и плохое распыливание топлива).</p>



	<p>При необходимости, осторожно прочистите сопловые отверстия распылителя стальной проволокой диаметром 0,25 мм.</p>



	<p>Нагар с наружной поверхности распылителя удалите деревянным бруском, пропитанным моторным маслом, или латунной
		щеткой. Не применяйте острые твердые предметы или наждачную бумагу.</p>



	<p>Перед сборкой корпус распылителя и иглу промойте бензином и смажьте профильтрованным дизельным топливом, после
		чего игла, выдвинутая из корпуса на одну треть длины направляющей поверхности, при наклоне распылителя под углом
		45° должна плавно (без заеданий) опуститься до упора под действием собственной массы.</p>



	<p>При сборке форсунки гайку распылителя затягивайте, отжав распылитель в приспособлении И801.20.000.</p>



	<h3 id="h--11"><strong>Размеры деталей и допустимый износ</strong></h3>



	<p><strong>Муфта автоматическая опережения впрыскивания топлива</strong></p>



	<figure class="wp-block-table">
		<table class="table table-hover table-hover table-striped table-responsive-sm wa">
			<tbody>
				<tr>
					<td></td>
					<td>По КД</td>
					<td>Допустимый</td>
				</tr>
				<tr>
					<td>Диаметр отверстия в грузе муфты</td>
					<td>16,032-16,059</td>
					<td>16,1</td>
				</tr>
				<tr>
					<td>Диаметр оси груза</td>
					<td>15,982 16,000</td>
					<td>15,86</td>
				</tr>
				<tr>
					<td>Зазор между осью и грузом</td>
					<td>0,032-0,077</td>
					<td>0,24</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Диаметр отверстия проставки</td>
					<td>16,032-16,059</td>
					<td>16,1</td>
				</tr>
				<tr>
					<td>Диаметр пальца ведущей полумуфты</td>
					<td>15,973-16,000</td>
					<td>15,9</td>
				</tr>
				<tr>
					<td>Зазор между пальцем и отверстием в проставке</td>
					<td>0,032-0,086</td>
					<td>0,2</td>
				</tr>
			</tbody>
		</table>
	</figure>



	<p><strong>Насос топливный высокого давления мод. 337-40</strong></p>



	<figure class="wp-block-table">
		<table class="table table-hover table-hover table-striped table-responsive-sm wa">
			<tbody>
				<tr>
					<td></td>
					<td>По КД</td>
					<td>Допустимый</td>
				</tr>
				<tr>
					<td>Диаметр отверстия под толкатель плунжера в корпусе насоса.</td>
					<td>32,000-32,025</td>
					<td>32,1</td>
				</tr>
				<tr>
					<td>Диаметр толкателя плунжера.</td>
					<td>31,950-31,975</td>
					<td>31,9</td>
				</tr>
				<tr>
					<td>Зазор между корпусом насоса и толкателем плунжера.</td>
					<td>0,025-0,075</td>
					<td>0,2</td>
				</tr>
				<tr>
					<td>Внутренний диаметр втулки ролика</td>
					<td>11,006-11,024</td>
					<td>11,04</td>
				</tr>
				<tr>
					<td>Диаметр оси ролика</td>
					<td>10,989-11,000</td>
					<td>10,93</td>
				</tr>
				<tr>
					<td>Зазор между осью ролика и втулкой</td>
					<td>0,006-0,035</td>
					<td>0,11</td>
				</tr>
				<tr>
					<td>Диаметр отверстия ролика толкателя</td>
					<td>15,000-15,018</td>
					<td>15,08</td>
				</tr>
				<tr>
					<td>Наружный диаметр втулки ролика</td>
					<td>14,956-14,984</td>
					<td>14,9</td>
				</tr>
				<tr>
					<td>Зазор между втулкой ролика и роликом</td>
					<td>0,016-0,052</td>
					<td>0,18</td>
				</tr>
				<tr>
					<td>Внутренний диаметр подшипника</td>
					<td>29,989-30,001</td>
					<td></td>
				</tr>
				<tr>
					<td>Диаметр шейки кулачкового вала</td>
					<td>30,002-30,011</td>
					<td>30</td>
				</tr>
				<tr>
					<td>Зазор между кулачковым валом и подшипником</td>
					<td>0,000-0,001</td>
					<td>0,003</td>
				</tr>
				<tr>
					<td>Внутренний диаметр втулки рычага реек</td>
					<td>7,00-7,03</td>
					<td>7.1</td>
				</tr>
				<tr>
					<td>Диаметр оси рычага реек</td>
					<td>6,945-6,985</td>
					<td>6,9</td>
				</tr>
				<tr>
					<td>Зазор между осью и втулкой</td>
					<td>0,015-0,085</td>
					<td>0,2</td>
				</tr>
				<tr>
					<td>Ширина паза рейки</td>
					<td>5,025-5,065</td>
					<td>5,1</td>
				</tr>
				<tr>
					<td>Диаметр пальца рычага реек</td>
					<td>4,988-5,000</td>
					<td>4,92</td>
				</tr>
				<tr>
					<td>Зазор между пальцем и стенками паза</td>
					<td>0,025-0,077</td>
					<td>0,18</td>
				</tr>
				<tr>
					<td>Ширина паза рейки (паз для оси поводка поворотной втулки)</td>
					<td>4,100-4,148</td>
					<td>4,2</td>
				</tr>
				<tr>
					<td>Диаметр оси поводка поворотной втулки</td>
					<td>3,965-3,983</td>
					<td>3,9</td>
				</tr>
				<tr>
					<td>Зазор между осью и стенками паза</td>
					<td>0,117-0,183</td>
					<td>0,3</td>
				</tr>
			</tbody>
		</table>
	</figure>



	<p><strong>Регулятор частоты вращения</strong></p>



	<figure class="wp-block-table">
		<table class="table table-hover table-hover table-striped table-responsive-sm wa">
			<tbody>
				<tr>
					<td>Внутренний диаметр втулки груза</td>
					<td>7,035-7,065</td>
					<td>7,1</td>
				</tr>
				<tr>
					<td>Диаметр оси груза регулятора.</td>
					<td>6,99-7,00</td>
					<td></td>
				</tr>
				<tr>
					<td>Зазор между осью груза и втулкой</td>
					<td>0,035-0,075</td>
					<td></td>
				</tr>
				<tr>
					<td>Внутренний диаметр ролика груза</td>
					<td>7,023-7,050</td>
					<td></td>
				</tr>
				<tr>
					<td>Диаметр оси ролика.</td>
					<td>6,99-7,00</td>
					<td></td>
				</tr>
				<tr>
					<td>Зазор между осью и роликом.</td>
					<td>0,023-0,060</td>
					<td></td>
				</tr>
				<tr>
					<td>Внутренний диаметр втулки рычага управления</td>
					<td>12,000-12,035</td>
					<td>12,25</td>
				</tr>
			</tbody>
		</table>
	</figure>



	<figure class="wp-block-table">
		<table class="table table-hover table-hover table-striped table-responsive-sm wa">
			<tbody>
				<tr>
					<td>Диаметр вала рычага управления</td>
					<td>11,93-11,98</td>
					<td></td>
				</tr>
				<tr>
					<td>Зазор между валом и втулкой</td>
					<td>0,020-0,105</td>
					<td>0,4</td>
				</tr>
				<tr>
					<td>Диаметр отверстия упорной пяты</td>
					<td>8,023-8,050</td>
					<td>8,1</td>
				</tr>
				<tr>
					<td>Диаметр оси пяты</td>
					<td>7,99-8,00</td>
					<td>7,90</td>
				</tr>
				<tr>
					<td>Зазор между осью и отверстием</td>
					<td>0,023-0,060</td>
					<td>0,2</td>
				</tr>
				<tr>
					<td>Диаметр отверстия в рычаге пружины регулятора</td>
					<td>10,013-10,033</td>
					<td>10,15</td>
				</tr>
				<tr>
					<td>Диаметр оси рычага пружины</td>
					<td>9,915-9,965</td>
					<td>9,85</td>
				</tr>
				<tr>
					<td>Зазор между осью и отверстием рычага</td>
					<td>0,048-0,118</td>
					<td>0,3</td>
				</tr>
				<tr>
					<td>Диаметр отверстия державки грузов</td>
					<td>15,000-15,035</td>
					<td>15.2</td>
				</tr>
				<tr>
					<td>Диаметр сферы втулки муфты грузов</td>
					<td>14,60-14,53</td>
					<td>14.4</td>
				</tr>
				<tr>
					<td>Зазор между сферой и отверстием</td>
					<td>0,40-0,50</td>
					<td>0,8</td>
				</tr>
				<tr>
					<td>Диаметр отверстия рычага муфты грузов</td>
					<td>10,035-10,085</td>
					<td>10,1</td>
				</tr>
				<tr>
					<td>Наружный диаметр втулки рычага регулятора</td>
					<td>10,010-10,025</td>
					<td>9,9</td>
				</tr>
				<tr>
					<td>Зазор между втулкой и отверстием в рычаге</td>
					<td>0,010-0,075</td>
					<td>0,2</td>
				</tr>
				<tr>
					<td>Внутренний диаметр втулки рычага регулятора</td>
					<td>7,00-7,023</td>
					<td>7,1</td>
				</tr>
				<tr>
					<td>Диаметр оси рычагов</td>
					<td>6,940-6,965</td>
					<td>6,9</td>
				</tr>
				<tr>
					<td>Зазор между втулкой и осью рычагов</td>
					<td>0,035-0,090</td>
					<td>0,2</td>
				</tr>
				<tr>
					<td>Ширина паза правой рейки</td>
					<td>5,100-5,148</td>
					<td>5,2</td>
				</tr>
				<tr>
					<td>Диаметр штифта рычага муфты грузов</td>
					<td>4,992-5,000</td>
					<td>4,95</td>
				</tr>
				<tr>
					<td>Зазор между штифтом и стенками паза</td>
					<td>0,100-0,156</td>
					<td>0,25</td>
				</tr>
				<tr>
					<td>Внутренний диаметр втулки штока толкателя</td>
					<td>6,000-6,025</td>
					<td></td>
				</tr>
				<tr>
					<td>Диаметр штока</td>
					<td>5,997-6,020</td>
					<td></td>
				</tr>
				<tr>
					<td>Зазор между штоком и втулкой</td>
					<td>0,0027-0,0045</td>
					<td>0,01</td>
				</tr>
				<tr>
					<td>Диаметр отверстия корпуса насоса</td>
					<td>25,000-25,021</td>
					<td>25,1</td>
				</tr>
				<tr>
					<td>Диаметр поршня насоса</td>
					<td>24,98-24,993</td>
					<td>24,92</td>
				</tr>
				<tr>
					<td>Зазор между поршнем и отверстием корпуса</td>
					<td>0,007-0,041</td>
					<td>0,18</td>
				</tr>
				<tr>
					<td>Диаметр отверстия под толкатель в крышке регулятора</td>
					<td>19,000-19,023</td>
					<td>19,09</td>
				</tr>
				<tr>
					<td>Диаметр толкателя</td>
					<td>18,915-18,975</td>
					<td>18,89</td>
				</tr>
				<tr>
					<td>Зазор между толкателем и крышкой</td>
					<td>0,025-0,108</td>
					<td>0,2</td>
				</tr>
				<tr>
					<td>Диаметр отверстия толкателя</td>
					<td>7,000-7,016</td>
					<td>7,05</td>
				</tr>
				<tr>
					<td>Диаметр оси ролика</td>
					<td>6,973-6,987</td>
					<td>6,9</td>
				</tr>
				<tr>
					<td>Зазор между осью и толкателем</td>
					<td>0,013-0,043</td>
					<td>0,15</td>
				</tr>
				<tr>
					<td>Внутренний диаметр ролика толкателя</td>
					<td>7,023-7,050</td>
					<td>7,12</td>
				</tr>
				<tr>
					<td>Диаметр оси ролика</td>
					<td>6,973-6,987</td>
					<td>6,84</td>
				</tr>
				<tr>
					<td>Зазор между осью и роликом</td>
					<td>0,036-0,077</td>
					<td>0,28</td>
				</tr>
			</tbody>
		</table>
	</figure>



	<p><strong>Моменты затяжки резьбовых соединений, Н м (кгс м)</strong></p>



	<figure class="wp-block-table">
		<table class="table table-hover table-hover table-striped table-responsive-sm wa">
			<tbody>
				<tr>
					<td>Штуцер форсунки</td>
					<td>78,5-98,1 (8-10)</td>
				</tr>
				<tr>
					<td>Гайка распылителя форсунки.</td>
					<td>58,8-78,5 (6-8)</td>
				</tr>
				<tr>
					<td>Гайка скоб крепления форсунки</td>
					<td>31,4-39,2 (3,2-4,0)</td>
				</tr>
				<tr>
					<td>Гайка крепления муфты опережения впрыскивания топлива.</td>
					<td>98,1-117,7(10-12)</td>
				</tr>
				<tr>
					<td>Корпус муфты опережения впрыскивания.</td>
					<td>314-343 (32-35)</td>
				</tr>
				<tr>
					<td>Винты масло-заливных отверстий на корпусе муфты опережения впрыскивания.</td>
					<td>4,9-10,8 (0,5 -1,1)</td>
				</tr>
				<tr>
					<td>Гайка крепления топливопроводов высокого давления.</td>
					<td>24,5-44,1 (2,5-4,5)</td>
				</tr>
			</tbody>
		</table>
	</figure>



	<figure class="wp-block-table">
		<table class="table table-hover table-hover table-striped table-responsive-sm wa">
			<tbody>
				<tr>
					<td>Болты крепления топливопроводов низкого давления к форсункам</td>
					<td>19,6-24,5 (2,0-2,5)</td>
				</tr>
				<tr>
					<td>Болты крепления топливопроводов низкого давления к электро-магнитному клапану.</td>
					<td>16,7-22,6(1,7-2,3)</td>
				</tr>
				<tr>
					<td>Штуцер секции топливного насоса высокого давления</td>
					<td>98,1-117,7(10-12)</td>
				</tr>
				<tr>
					<td>Гайки крепления фланца секции топливного насоса высокого давления.</td>
					<td>24,5-43,2 (2,5-4,4)</td>
				</tr>
				<tr>
					<td>Гайки крепления эксцентрика привода топливо-подкачивающего насоса низкого давления.</td>
					<td>44,1-54,0 (4,5-5,5)</td>
				</tr>
			</tbody>
		</table>
	</figure>

	
	


<hr>
<p>&nbsp;</p>


<h2>Каталог двигателей Евро-1</h2>

<div id="productList" class="pt-4 pb-2" style="display: block;">
	<div class="row list">


		<!-- Движок 11  -->
		<div id="740-11"></div>
		{% assign page_url = "dvigatel_kamaz_740_11-240_evro-1" %}
		{% assign product = site.data.agregaty | where:"url", page_url | first %}
		{%- if product -%}
		{% include card_zapchasti_catalog.html product = product %}
		{%- endif -%}


		<!-- Движок 13  -->
		<div id="740-13"></div>
		{% assign page_url = "dvigatel_kamaz_740_13-260_evro-1" %}
		{% assign product = site.data.agregaty | where:"url", page_url | first %}
		{%- if product -%}
		{% include card_zapchasti_catalog.html product = product %}
		{%- endif -%}

	</div>
</div>
<hr>
<p>&nbsp;</p>



{% include kupite_catalog.html %}
<div style="height: 100px;">&nbsp;</div>



</div>