---
layout: default_info
title: Ремонт системы смазки двигателя КАМАЗ Евро-1 – 740.11, 740.13
description: Слейте масло из картера, выверните болты крепления и снимите картер, выверните болты крепления масляного насоса 3.
keywords: КамАЗ двигатель мотор купить модификации цена бу новый завод ремонт капремонт
hero-title: Двигатели КАМАЗ
h1: Ремонт смазочной системы двигателя КАМАЗ Евро-1
h2: мод. 740.11, 740.13
phone:
phone_title:
categories: [<a href="/agregaty/dvigateli/index.html">Двигатели КАМАЗ</a> ]
---

<div class="col-md-9 col-xs-12 m-auto"> 


	<h2 id="h-">Масляный насос</h2>



	<h3 id="h--1">Для разборки, сборки и проверки масляного насоса:</h3>



	<ul>
		<li>слейте масло из картера, выверните болты крепления и снимите картер;</li>
		<li>выверните болты крепления масляного насоса 3, трубки клапана смазочной системы и кронштейна всасывающей
			трубки 1, снимите насос;</li>
		<li>отсоедините всасывающую трубку и трубку клапана смазочной системы;</li>
		<li>снимите шестерню 5 масляного насоса съемником;</li>
		<li>выверните болты крепления крышки к корпусу, снимите крышку;</li>
		<li>замерьте радиальный и торцовый зазор шестерен, зазоры в подшипниках ведущей и ведомой шестерен. При
			необходимости замените изношенные детали;</li>
		<li>после сборки насоса валик должен проворачиваться от руки плавно, без заеданий;</li>
		<li>испытайте насос на стенде с использованием масла М10Г2К или М10ДМ. При частоте вращения валика 2800 – 60
			мин<sup>-1</sup>&nbsp;и разрежении на всасывании 12-15 кПа подача насосом должна быть не менее 130 л/мин при
			давлении на выходе 0.35 – 0.40 MПа;</li>
		<li>отрегулируйте давление срабатывания клапана смазочной системы, которое должно быть 0,40 – 0.45 МПа. Для
			регулирования допускается использование не более 3-х шайб, устанавливаемых под пружину. При несоответствии
			давления-начала открытия клапана, замените пружину. Повторное использование шплинта пробки не допускается.
		</li>
	</ul>



	<p><strong>Моменты затяжки резьбовых соединений,Н.м (кгс.м)</strong></p>



	<figure class="wp-block-table">
		<table class="table table-hover table-hover table-striped table-responsive-sm wa">
			<tbody>
				<tr>
					<td>Болты крепления масляного насоса</td>
					<td>49,0 – 68,6 (5 – 7)</td>
				</tr>
				<tr>
					<td>Болты крепления крышки</td>
					<td>39,2 – 54,9 (4 – 5,6)</td>
				</tr>
				<tr>
					<td>Болты крепления трубки к насосу</td>
					<td>19,6 – 24,5 (2 – 2,5)</td>
				</tr>
				<tr>
					<td>Колпаки масляного фильтра</td>
					<td>49,0- 58,8 (5 – 6)</td>
				</tr>
				<tr>
					<td>Пробка термоклапана фильтра</td>
					<td>47,0- 58,8 (4,8 -6)</td>
				</tr>
				<tr>
					<td>Сливные пробки колпаков</td>
					<td>24,5-39,2 (2,5-4,0)</td>
				</tr>
				<tr>
					<td>Болты крепления масляного фильтра</td>
					<td>88,2-112,6(9,0-12,5)</td>
				</tr>
				<tr>
					<td>Гайка крепления ведомой шестерни привода масляного насоса</td>
					<td>98,1-117,6(10-12)</td>
				</tr>
			</tbody>
		</table>
	</figure>



	<p><strong>Размеры деталей и допустимый износ, мм</strong></p>



	<figure class="wp-block-table">
		<table class="table table-hover table-hover table-striped table-responsive-sm wa">
			<tbody>
				<tr>
					<td>Диаметр шестерен</td>
					<td>55,44- 55,47</td>
				</tr>
				<tr>
					<td>Допустимый диаметр шестерен</td>
					<td>55,4</td>
				</tr>
				<tr>
					<td>Радиальный зазор между зубьями шестерен и стенкой корпуса</td>
					<td>0,130- 0,206</td>
				</tr>
				<tr>
					<td>Допустимый радиальный зазор</td>
					<td>0,25</td>
				</tr>
				<tr>
					<td>Высота шестерен</td>
					<td>34,913 – 34,975</td>
				</tr>
				<tr>
					<td>Допустимая высота шестерен</td>
					<td>34,900</td>
				</tr>
				<tr>
					<td>Глубина колодца</td>
					<td>35,050 – 35,089</td>
				</tr>
				<tr>
					<td>Торцовой зазор</td>
					<td>0,075-0,176</td>
				</tr>
				<tr>
					<td>Допустимый торцевой зазор</td>
					<td>0,2</td>
				</tr>
				<tr>
					<td>Диаметр шеек валика</td>
					<td>19,920- 19,899</td>
				</tr>
				<tr>
					<td>Допустимый диаметр шеек</td>
					<td>19,85</td>
				</tr>
				<tr>
					<td>Диаметр втулок в корпусе под шейки валика</td>
					<td>19,98…19,959</td>
				</tr>
				<tr>
					<td>Допустимый диаметр втулок</td>
					<td>20,10</td>
				</tr>
				<tr>
					<td>Диаметр оси</td>
					<td>19,987 – 20.000</td>
				</tr>
				<tr>
					<td>Допустимый диаметр оси</td>
					<td>19,85</td>
				</tr>
				<tr>
					<td>Диаметр втулок ведомой шестерни</td>
					<td>20,040 – 20,073</td>
				</tr>
				<tr>
					<td>Допустимый диаметр втулок</td>
					<td>20,080</td>
				</tr>
				<tr>
					<td>Диаметр плунжера клапана</td>
					<td>15,968 – 15,941</td>
				</tr>
				<tr>
					<td>Допустимый диаметр плунжера</td>
					<td>15,92</td>
				</tr>
				<tr>
					<td>Диаметр отверстия в крышке под клапан</td>
					<td>16,000- 16,027</td>
				</tr>
				<tr>
					<td>Усилие пружины клапана сжатой до размера 44 мм,Н</td>
					<td>60-74</td>
				</tr>
			</tbody>
		</table>
	</figure>



	<h3 id="h--2"><strong>Для разборки, сборки и проверки фильтра масляного:</strong></h3>



	<ul>
		<li>слейте охлаждающую жидкость из системы охлаждения двигателя;</li>
		<li>выверните сливные пробки с колпаков и слейте масло из фильтра;</li>
		<li>отсоедините патрубки подвода и отвода охлаждающей жидкости к теплообменнику;</li>
		<li>выверните пять болтов крепления и снимите фильтр с теплообменником;</li>
		<li>отверните гайки и отсоедините теплообменник от фильтра;</li>
		<li>выверните колпаки из корпуса, промойте внутреннюю полость дизельным топливом, проверьте целостность
			уплотнительных колец, упорных пружин, при повреждении замените;</li>
		<li>собранный фильтр проверьте на герметичность сжатым воздухом 490 кПа в воде;</li>
		<li>проверьте давление начала открытия перепускного клапана, которое должно быть 0,147 – 0,216 МПа;</li>
		<li>проверьте работоспособность термоклапана включения теплообменника. При температуре масла (50-70) °С расход
			через клапан должен быть не менее 70 л/мин при давлении: 0.147 кПа и не более 5 л/мин при температуре
			100-110 °С. При необходимости замените термосиловой датчик ТС 103-1306090-30.</li>
	</ul>



	<h3 id="h--3"><strong>Для разборки, сборки и проверки работы водомасляного теплообменника:</strong></h3>



	<ul>
		<li>установите заглушки на фланцы подвода масла и опрессуйте масляную полость давлением 0.79-0.83 МПа в воде,
			при обнаружении негерметичности снимите подводящий и отводящий коллекторы теплообменника и выньте сердцевину
			из корпуса, замените уплотнительные кольца или, при повреждении трубок, сердцевину.</li>
	</ul>



	<hr>
	<p>&nbsp;</p>


		
<h2>Каталог двигателей Евро-1</h2>
	
<div id="productList" class="pt-4 pb-2" style="display: block;">
	<div class="row list">


		<!-- Движок 11  -->
		<div id="740-11"></div>
		{% assign page_url = "dvigatel_kamaz_740_11-240_evro-1" %}
		{% assign product = site.data.agregaty | where:"url", page_url | first %}
		{%- if product -%}
		{% include card_zapchasti_catalog.html product = product %}
		{%- endif -%}


		<!-- Движок 13  -->
		<div id="740-13"></div>
		{% assign page_url = "dvigatel_kamaz_740_13-260_evro-1" %}
		{% assign product = site.data.agregaty | where:"url", page_url | first %}
		{%- if product -%}
		{% include card_zapchasti_catalog.html product = product %}
		{%- endif -%}

		<div id="loadingDiv" style="display: none;">
			<span>Загрузка данных</span>
		</div>
	</div>
	<div class="no-result">Не найдено</div>
	<ul class="pagination" style="display: none;"></ul>
</div>
<hr>
<p>&nbsp;</p>


	
	
	{% include kupite_catalog.html %}
	<div style="height: 100px;">&nbsp;</div>
	
	
	
	</div>