---
layout: default_info
title: Система охлаждения двигателей КАМАЗ Евро-2-3 – 740.50, 740.51
description: Устройство системы охлаждения - Насос водяной, Корпус водяных каналов, Сальник водяного насоса, Вентилятор и муфта вязкостная, Радиатор, Термостаты, Расширительный бачок
keywords: КамАЗ двигатель мотор купить модификации цена бу новый завод ремонт капремонт
hero-title: Двигатели КАМАЗ
h1: Система охлаждения двигателей КАМАЗ Евро-2-3
h2: модели 740.50, 740.51
phone:
phone_title:
categories: [<a href="/agregaty/dvigateli/index.html">Двигатели КАМАЗ</a> ]
---

<div class="col-md-9 col-xs-12 m-auto">


	<div class="wp-block-yoast-seo-table-of-contents yoast-table-of-contents">
		<h2>Содержание</h2>
		<ul>
			<li><a href="#h-"
					data-level="3">Корпус водяных каналов</a></li>
			<li><a href="#h--1"
					data-level="3">Насос водяной</a></li>
			<li><a href="#h--2"
					data-level="3">Сальник водяного насоса</a></li>
			<li><a href="#h--3"
					data-level="3">Вентилятор и муфта вязкостная</a></li>
			<li><a href="#h--4"
					data-level="3">Радиатор</a></li>
			<li><a href="#h--5"
					data-level="3">Термостаты&nbsp;</a></li>
			<li><a href="#h--6"
					data-level="3">Расширительный бачок</a></li>
		</ul>
	</div>

	<blockquote class="wp-block-quote">
		<p>Двигатели 740.50 и 740.51 – отличаются мощностью, ТНВД и некоторыми единицами навесного оборудования,
			абсолютно взаимозаменяемы и похожи между собой.</p>
	</blockquote>



	<p>Система охлаждения предназначена для обеспечения оптимального теплового режима работы двигателя. Система
		охлаждения двигателя жидкостная, закрытого типа, с принудительной циркуляцией охлаждающей жидкости. К основным
		агрегатам и узлам системы охлаждения относятся: радиатор, вентилятор с вязкостной муфтой привода, кожух
		вентилятора, обечайка вентилятора, корпус водяных каналов, водяной насос, термостаты, каналы и соединительные
		трубопроводы для прохода охлаждающей жидкости.</p>



	<p>Схема системы охлаждения с соосным коленчатому валу вентилятором и с вязкостной муфтой привода вентилятора
		приведена на рисунке:</p>



	<div class="wp-block-image">
		<figure class="aligncenter size-large"><img loading="lazy" width="884" height="1024"
				src="/agregaty/dvigateli/info/img/image-185-884x1024.png"
				alt="Схема системы охлаждения -  двигателя КАМАЗ Евро-2-3 - 740.50, 740.51" class="wp-image-389"
				srcset="/agregaty/dvigateli/info/img/image-185-884x1024.png 884w, /agregaty/dvigateli/info/img/image-185-259x300.png 259w, /agregaty/dvigateli/info/img/image-185-768x890.png 768w, /agregaty/dvigateli/info/img/image-185.png 1058w"
				sizes="(max-width: 884px) 100vw, 884px">
			<figcaption>Рисунок 30 – <strong>Схема системы охлаждения</strong><br><em>1&nbsp;– расширительный бачок; 2 –
					пароотводящая трубка; 3 – трубка отвода жидкости из компрессора; 4 – канал выхода жидкости из
					правого ряда головок цилиндров; 5 – соединительный канал; 6 – канал выхода жидкости из левого ряда
					головок цилиндров; 7 – входная полость водяного насоса; 8 – водяной насос; 9 – канал входа жидкости
					в левый ряд гильз цилиндров; 10 – канал подвода жидкости в водяной насос из радиатора; 11 – выходная
					полость водяного насоса; 12&nbsp;–&nbsp; соединительный канал; 13 – перепускной канал из водяной
					коробки на вход водяного насоса; 14 – канал входа жидкости в правый ряд гильз цилиндров; 15 – канал
					отвода жидкости в теплообменник масляный; 16 – теплообменник масляный; 17 – водяная коробка; 18 –
					трубка подвода жидкости в компрессор; 19 – перепускная труба.</em></figcaption>
		</figure>
	</div>



	<p>Во время работы двигателя циркуляция охлаждающей жидкости в системе создается водяным насосом 8. Охлаждающая
		жидкость из насоса 8 нагнетается в полость охлаждения левого ряда цилиндров через канал 9 и через канал 14 – в
		полость охлаждения правого ряда цилиндров. Омывая наружные поверхности гильз цилиндров, охлаждающая жидкость
		через отверстия в верхних привалочных плоскостях блока цилиндров поступает в полости охлаждения головок
		цилиндров. Из головок цилиндров нагретая жидкость по каналам<em>&nbsp;</em>4,&nbsp;5 и 6 поступает в водяную
		коробку корпуса водяных каналов 17, из которой, в зависимости от температуры, направляется в радиатор или на
		вход насоса. Часть жидкости отводится по каналу 15 в масляный теплообменник 16, где происходит передача тепла от
		масла в охлаждающую жидкость. Из теплообменника охлаждающая жидкость направляется в водяную рубашку блока
		цилиндров в зоне расположения четвертого цилиндра.</p>



	<p>Тепловой режим двигателя регулируется автоматически:</p>



	<ul>
		<li>двумя термостатами, которые управляют направлением потока жидкости в зависимости от температуры охлаждающей
			жидкости на выходе из двигателя. Номинальная температура охлаждающей жидкости на выходе из двигателя должна
			находиться в пределах 85…90 °С.</li>
		<li>вязкостной муфтой привода вентилятора в зависимости от температуры воздуха на выходе из радиатора ОНВ.</li>
	</ul>



	<h3 id="h-">Корпус водяных каналов</h3>



	<p>Корпус водяных каналов, рисунок 30 – отлит из чугунного сплава и закреплен болтами на переднем торце блока
		цилиндров.</p>



	<p>В корпусе водяных каналов отлиты входная 7 и выходная 11 полости водяного насоса, соединительные каналы 5 и 12,
		каналы 9 и 14, подводящие охлаждающую жидкость в блок цилиндров, каналы 4 и 6, отводящие охлаждающую жидкость из
		головок цилиндров, перепускной канал 13, канал 15 отвода в масляный теплообменник, полости водяной коробки 17
		для установки термостатов, канал 10 подвода охлаждающей жидкости в водяной насос из радиатора.</p>



	<div class="wp-block-image">
		<figure class="aligncenter size-large is-resized"><img loading="lazy"
				src="/agregaty/dvigateli/info/img/image-186.png"
				alt="Насос водяной двигателя КАМАЗ Евро-2-3 - 740.50, 740.51" class="wp-image-390" width="599"
				height="563"
				srcset="/agregaty/dvigateli/info/img/image-186.png 858w, /agregaty/dvigateli/info/img/image-186-300x282.png 300w, /agregaty/dvigateli/info/img/image-186-768x721.png 768w"
				sizes="(max-width: 599px) 100vw, 599px">
			<figcaption>Рисунок 31 – <strong>Насос водяной</strong><br><em>1 – корпус; 2 – сальник; 3 – крыльчатка; 4 –
					манжета уплотнительная; 5 – кольцо скольжения; 6 – подшипник радиальный шарико-роликовый с валиком;
					7 – шкив; 8 – кольцо упорное.</em></figcaption>
		</figure>
	</div>



	<h3 id="h--1">Насос водяной</h3>



	<p>Насос водяной центробежного типа, установлен на корпусе водяных каналов. В корпус 1 запрессован радиальный
		двухрядный шарико-роликовый подшипник с валиком 6. С обеих сторон торцы подшипника защищены резиновыми
		уплотнениями. Смазка в подшипник заложена заводом-изготовителем. Пополнение смазки в эксплуатации не требуется.
		Упорное кольцо 8 препятствует перемещению наружной обоймы подшипника в осевом направлении. На концы валика
		подшипника напрессованы крыльчатка 3 и шкив 7. Сальник 2 запрессован в корпус насоса, а его кольцо скольжения
		постоянно прижато пружиной к кольцу скольжения 5, которое вставлено в крыльчатку через резиновую манжету 4.</p>



	<p>В корпусе насоса между подшипником и сальником выполнено два отверстия: нижнее и верхнее. Верхнее отверстие
		служит для вентиляции полости между подшипником и сальником, а нижнее – для контроля исправности торцового
		уплотнения.</p>



	<p>Подтекание жидкости из нижнего отверстия свидетельствует о неисправности уплотнения. В эксплуатации оба отверстия
		должны быть чистыми, так как их закупорка приведет к выходу из строя подшипника.</p>



	<div class="wp-block-image">
		<figure class="aligncenter size-large"><img loading="lazy" width="538" height="704"
				src="/agregaty/dvigateli/info/img/image-188.png"
				alt="Сальник водяного насоса - двигателя КАМАЗ Евро-2-3 - 740.50, 740.51" class="wp-image-392"
				srcset="/agregaty/dvigateli/info/img/image-188.png 538w, /agregaty/dvigateli/info/img/image-188-229x300.png 229w"
				sizes="(max-width: 538px) 100vw, 538px">
			<figcaption>Рисунок 32 – <strong>Сальник водяного насоса</strong><br><em>1 – корпус наружный; 2 – манжета; 3
					– пружина; 4 – внутренний каркас; 5 – наружный каркас; 6 – кольцо скольжения.</em></figcaption>
		</figure>
	</div>



	<h3 id="h--2">Сальник водяного насоса</h3>



	<p>Сальник водяного насоса состоит из латунного наружного корпуса 1, в который вставлена резиновая манжета 2. Внутри
		манжеты размещена пружина 3 с внутренним 4 и наружным 5 каркасами. Пружина поджимает кольцо скольжения 6. Кольцо
		скольжения изготовлено из графито-свинцового твердо-прессованного антифрикционного материала.</p>



	<h3 id="h--3">Вентилятор и муфта вязкостная</h3>



	<p>Девятилопастной вентилятор 1 диаметром 710 мм изготовлен из стекло-наполненного полиамида, ступица вентилятора 3 –
		металлическая.</p>



	<p>Для привода вентилятора применяется автоматически включаемая муфта 2 вязкостного типа, которая крепится к ступице
		вентилятора 3.</p>



	<p>Принцип работы муфты основан на вязкостном трении жидкости в небольших зазорах между ведомой и ведущей частями
		муфты. В качестве рабочей жидкости используется силиконовая жидкость с высокой вязкостью.</p>



	<div class="wp-block-image">
		<figure class="aligncenter size-large"><img loading="lazy" width="1024" height="936"
				src="/agregaty/dvigateli/info/img/image-190-1024x936.png" alt="Вентилятор с муфтой привода "
				class="wp-image-394"
				srcset="/agregaty/dvigateli/info/img/image-190-1024x936.png 1024w, /agregaty/dvigateli/info/img/image-190-300x274.png 300w, /agregaty/dvigateli/info/img/image-190-768x702.png 768w, /agregaty/dvigateli/info/img/image-190.png 1166w"
				sizes="(max-width: 1024px) 100vw, 1024px">
			<figcaption>Рисунок 33 – <strong>Вентилятор с муфтой привода</strong><br><em>1 – вентилятор; 2 – муфта; 3 –
					ступица; 4 – термо-биметаллическая спираль.</em></figcaption>
		</figure>
	</div>



	<p>Муфта неразборная и не требует технического обслуживания в эксплуатации.</p>



	<p>Включение муфты происходит при повышении температуры воздуха на выходе из радиатора до 61.. .67 °С. Управляет
		работой муфты термо-биметаллическая спираль 4.</p>



	<p>Вентилятор размещен в неподвижной кольцевой обечайке, жестко прикрепленной к двигателю. Кожух вентилятора,
		обечайка вентилятора способствуют увеличению расхода потока воздуха нагнетаемого вентилятором через радиатор.
		Кожух вентилятора и обечайка вентилятора соединены кольцевым резиновым уплотнителем П-образного сечения.</p>



	<h3 id="h--4"><strong>Радиатор</strong></h3>



	<p>Радиатор&nbsp;(автомобилей КАМАЗ) медно-паяный, для повышения теплоотдачи охлаждающие ленты выполнены с
		жалюзийными просечками, крепится боковыми кронштейнами через резиновые подушки к лонжеронам рамы, а верхней
		тягой к объединительному воздушному коллектору.</p>



	<h3 id="h--5">Термостаты&nbsp;</h3>



	<p>Термостаты позволяют ускорить прогрев холодного двигателя и поддерживать температуру охлаждающей жидкости не ниже
		75 °С путем изменения ее расхода через радиатор. В водяной коробке 5 корпуса водяных каналов установлено
		параллельно два термостата с температурой начала открытия (80±2) °С.</p>



	<p>При температуре охлаждающей жидкости ниже 80 °С, основной клапан 12 прижимается к седлу корпуса 14 пружиной 11 и
		перекрывает проход охлаждающей жидкости в радиатор. Перепускной клапан 6 открыт и соединяет водяную коробку
		корпуса водяных каналов по перепускному каналу 4 с входом водяного насоса.</p>



	<div class="wp-block-image">
		<figure class="aligncenter size-large"><img loading="lazy" width="1024" height="955"
				src="/agregaty/dvigateli/info/img/image-192-1024x955.png"
				alt="Термостаты двигателя КАМАЗ Евро-2-3 - 740.50, 740.51" class="wp-image-396"
				srcset="/agregaty/dvigateli/info/img/image-192-1024x955.png 1024w, /agregaty/dvigateli/info/img/image-192-300x280.png 300w, /agregaty/dvigateli/info/img/image-192-768x716.png 768w, /agregaty/dvigateli/info/img/image-192.png 1098w"
				sizes="(max-width: 1024px) 100vw, 1024px">
			<figcaption>Рисунок 34 – <strong>Термостаты</strong><br><em>1 – датчик указателя температуры; 2 – датчик
					сигнализатора аварийного перегрева; 3 – канал выхода жидкости из двигателя; 4 – канал перепуска
					жидкости на вход водяного насоса; 5 – коробка водяная; 6 – перепускной клапан; 7 – пружина
					перепускного клапана; 8 – резиновая вставка; 9 – наполнитель; 10 – баллон; 11 – пружина основного
					клапана; 12 – основной клапан; 13 – поршень; 14 – корпус; 15 – патрубок водяной; 16 –
					прокладка.</em></figcaption>
		</figure>
	</div>



	<p>При температуре охлаждающей жидкости выше 80 °С, наполнитель 9, находящийся в баллоне 10, начинает плавиться,
		увеличиваясь в объеме. Наполнитель состоит из смеси 60 % церезина (нефтяного воска) и 40 % алюминиевой пудры.
		Давление от расширяющегося наполнителя через резиновую вставку 8 передается на поршень 13, который, выдавливаясь
		наружу, перемещает баллон 10 с основным клапаном 12, сжимая пружину 11. Между корпусом 14 и клапаном 12
		открывается кольцевой проход для охлаждающей жидкости в радиатор. При температуре охлаждающей жидкости 93 °С
		происходит полное открытие термостата, клапан поднимается на высоту не менее 8,5 мм.</p>



	<p>Одновременно с открытием основного клапана вместе с баллоном перемещается перепускной клапан 6, который
		перекрывает отверстие в водяной коробке корпуса водяных каналов, соединяющее ее с входом водяного насоса.</p>



	<p>При понижении температуры охлаждающей жидкости до 80 °С и ниже, под действием пружин 7 и 11 происходит возврат
		клапанов 12 и 6 в исходное положение.</p>



	<p>Для контроля температуры охлаждающей жидкости, на водяной коробке корпуса водяных каналов установлено два датчика
		температуры 1 и 2. Датчик 1 выдает показания текущего значения температуры на щиток приборов, датчик 2 служит
		сигнализатором перегрева охлаждающей жидкости. При повышении температуры до 98 – 104 °С на щитке приборов
		загорается контрольная лампа аварийного перегрева охлаждающей жидкости.</p>



	<h3 id="h--6">Расширительный бачок</h3>



	<p>Расширительный бачок&nbsp;1 (рисунок 30) установлен на двигателе автомобилей КАМАЗ с правой стороны по ходу
		автомобиля. Расширительный бачок соединен перепускной трубой 19 с входной полостью водяного насоса 13,
		пароотводящей трубкой 2 с верхним бачком радиатора и с трубкой отвода жидкости из компрессора 3.</p>



	<p>Расширительный бачок служит для компенсации изменения объема охлаждающей жидкости при ее расширении от нагрева, а
		также позволяет контролировать степень заполнения системы охлаждения и способствует удалению из нее воздуха и
		пара. Расширительный бачок изготовлен из полупрозрачного сополимера пропилена. На горловину бачка навинчивается
		пробка расширительного бачка (рисунок 35) с клапанами впускным 6 (воздушным) и выпускным (паровым). Выпускной и
		впускной клапаны объединены в блок клапанов 8. Блок клапанов неразборный. Выпускной клапан, нагруженный пружиной
		3, поддерживает в системе охлаждения избыточное давление 65 кПа (0,65 кгс/см ), впускной клапан 6, нагруженный
		более слабой пружиной 5, препятствует созданию в системе разряжения при остывании двигателя.</p>



	<div class="wp-block-image">
		<figure class="aligncenter size-large is-resized"><img loading="lazy"
				src="/agregaty/dvigateli/info/img/image-193-1024x574.png"
				alt="Пробка расширительного бачка двигателя КАМАЗ Евро-2-3 - 740.50, 740.51" class="wp-image-397"
				width="676" height="378"
				srcset="/agregaty/dvigateli/info/img/image-193-1024x574.png 1024w, /agregaty/dvigateli/info/img/image-193-300x168.png 300w, /agregaty/dvigateli/info/img/image-193-768x431.png 768w, /agregaty/dvigateli/info/img/image-193.png 1093w"
				sizes="(max-width: 676px) 100vw, 676px">
			<figcaption>Рисунок 35 – <strong>Пробка расширительного бачка</strong><br><em>1 – корпус пробки; 2 – тарелка
					пружины выпускного клапана; 3 – пружина выпускного клапана; 4 – седло выпускного клапана; 5 –
					пружина клапана впускного; 6 – клапан впускной в сборе; 7 – прокладка выпускного клапана; 8 – блок
					клапанов.</em></figcaption>
		</figure>
	</div>



	<p>Впускной клапан открывается и сообщает систему охлаждения с окружающей средой при разряжении в системе охлаждения
		1…13 кПа (0,01…0,13 кгс/см<sup>2</sup>).</p>



	<p>Заправка двигателя охлаждающей жидкостью производится через заливную горловину расширительного бачка. Перед
		заполнением системы охлаждения надо предварительно открыть кран системы отопления.</p>



	<p>Для слива охлаждающей жидкости следует открыть сливные краны теплообменника и насосного агрегата предпускового
		подогревателя, отвернуть пробки на нижнем бачке радиатора и расширительного бачка.</p>



	<p><em><strong>ВНИМАНИЕ!</strong></em></p>



	<p><em>Не допускается открывать пробку расширительного бачка на горячем двигателе, так как при этом может произойти
			выброс горячей охлаждающей жидкости и пара из горловины расширительного бачка.</em></p>



	<p><em>Эксплуатация автомобиля без пробки расширительного бачка не допускается.</em></p>



	<figure class="wp-block-image size-large"><img loading="lazy" width="1024" height="952"
			src="/agregaty/dvigateli/info/img/image-194-1024x952.png"
			alt="Схема проверки натяжения ремней привода генератора и водяного насоса двигателя КАМАЗ Евро-2-3 - 740.50, 740.51"
			class="wp-image-398"
			srcset="/agregaty/dvigateli/info/img/image-194-1024x952.png 1024w, /agregaty/dvigateli/info/img/image-194-300x279.png 300w, /agregaty/dvigateli/info/img/image-194-768x714.png 768w, /agregaty/dvigateli/info/img/image-194.png 1066w"
			sizes="(max-width: 1024px) 100vw, 1024px">
		<figcaption>Рисунок 36 – <strong>Схема проверки натяжения ремней привода генератора и водяного
				насоса</strong><br><em>1 – шкив водяного насоса; 2 – ремень поликлиновой; 3 – шкив коленчатого вала; 4 –
				натяжной ролик; 5,8,&nbsp;11 -болты; 6, 7, 10 – гайки; 9 – шкив генератора.</em><br><strong>F=44,1 ± 5 Н
				(4,5 ± 0,5 кгс).</strong></figcaption>
	</figure>



	<p>РЕГУЛИРОВКУ натяжения (рисунок 36) ремня поликлинового 2 привода генератора и водяного насоса для двигателей с
		расположением вентилятора по оси коленчатого вала выполнить следующим образом:</p>



	<ul>
		<li>ослабить болт 11 крепления задней лапы генератора, гайку 10 крепления передней лапы генератора, болт 8
			крепления планки генератора, болт 5 крепления болта натяжного;</li>
		<li>перемещением гайки 6 обеспечить необходимое натяжение ремня; гайкой 7 зафиксировать положение генератора;
		</li>
		<li>затянуть болты 5, 8 и 11, затянуть гайку 10.</li>
	</ul>



	<p>После регулировки проверить натяжение:</p>



	<ul>
		<li>правильно натянутый ремень 2 при нажатии на середину наибольшей ветви усилием 44,1 ± 5 Н (4,5 ± 0,5 кгс)
			должен иметь прогиб – 6… 10 мм.</li>
	</ul>





	<hr>
	<p>&nbsp;</p>


	
<h2>Каталог двигателей Евро-2 (Евро-3)</h2>
    
<div id="productList" class="pt-4 pb-2" style="display: block;">
	<div class="row list">

		<div id="740-50"></div>
		{% assign page_url = "dvigatel_kamaz_740_50-360_evro-2-3" %}
		{% assign product = site.data.agregaty | where:"url", page_url | first %}
		{%- if product -%}
		{% include card_zapchasti_catalog.html product = product %}
		{%- endif -%}


		<div id="740-51"></div>
		{% assign page_url = "dvigatel_kamaz_740_51-320_evro-2-3" %}
		{% assign product = site.data.agregaty | where:"url", page_url | first %}
		{%- if product -%}
		{% include card_zapchasti_catalog.html product = product %}
		{%- endif -%}

		<div id="loadingDiv" style="display: none;">
			<span>Загрузка данных</span>
		</div>
	</div>
	<div class="no-result">Не найдено</div>
	<ul class="pagination" style="display: none;"></ul>
</div>
<hr>
<p>&nbsp;</p>




	{% include kupite_catalog.html %}
	<div style="height: 100px;">&nbsp;</div>



</div>