---
layout: default_info
title: Система охлаждения двигателя КАМАЗ Евро-1 - 740.11, 740.13, 740.14
description: Состав системы охлаждения моторов КАМАЗ Евро-1 - Насос водяной, Корпус водяных каналов, Сальник водяного насоса, Вентилятор и муфта вязкостная, Радиатор, Термостаты, Расширительный бачок
keywords: КамАЗ двигатель мотор купить модификации цена бу новый завод ремонт капремонт
hero-title: Двигатели КАМАЗ
h1: Система охлаждения двигателя КАМАЗ 740 Евро-1
h2: модели 740.11, 740.13, 740.14
phone:
phone_title:
categories: [<a href="/agregaty/dvigateli/index.html">Двигатели КАМАЗ</a> ]
---

<div class="col-md-9 col-xs-12 m-auto">

	<h2 id="h-">Устройство системы охлаждения</h2>



	<div class="wp-block-image">
		<figure class="aligncenter size-large"><img loading="lazy" width="1006" height="863"
				src="/agregaty/dvigateli/info/img/image-44.png" alt="Система охлаждения двигателя КАМАЗ Евро-1"
				class="wp-image-129"
				srcset="/agregaty/dvigateli/info/img/image-44.png 1006w, /agregaty/dvigateli/info/img/image-44-300x257.png 300w, /agregaty/dvigateli/info/img/image-44-768x659.png 768w"
				sizes="(max-width: 1006px) 100vw, 1006px">
			<figcaption><strong>Схема системы охлаждения</strong><br><em>1 – паровоздушная трубка от радиатора к
					расширительному бачку; 2 – трубка отвода жидкости из компрессора в расширительный бачок; 3 –
					компрессор; 4, 6 – водяные трубы соответственно правая и левая; 5 – водяная соединительная труба; 7
					– перепускная труба термостатов; 8 – водяной насос; 9 – колено отводящего патрубка водяной трубы; 10
					– вентилятор; 11 – водомасляный теплообменник; 12 – подводящая труба правого ряда цилиндров; 13 –
					патрубок подводящей грубы; 14 – головка цилиндра; 15 – включатель гидромуфты привода вентилятора: 16
					– коробка термостатов; 17 – патрубок отвода охлаждающей жидкости из бачка в насос; 18 – патрубок
					отбора охлаждающей жидкости в отопитель; 19 – перепускная труба из расширительного бачка в водяной
					насос; 20 – расширительный бачок; 21 – паровоздушная пробка; 22 -термостаты.</em></figcaption>
		</figure>
	</div>



	<p>Система охлаждения двигателя жидкостная, закрытого типа, с принудительной циркуляцией охлаждающей жидкости.</p>



	<p>Основными элементами системы (рис.<em></em><em>Схема системы охлаждения</em><em>)</em>&nbsp;являются водяной
		насос 8, вентилятор 10, гидромуфта привода вентилятора, термостаты 22, включатель 15 гидромуфты, радиатор, кожух
		вентилятора, водяные трубы, жалюзи радиатора и расширительный бачок 20 с паровоздушной пробкой 21.</p>



	<p>Во время работы двигателя циркуляция охлаждающей жидкости в системе создается водяным насосом. Жидкость из насоса
		нагнетается в полость охлаждения левого ряда цилиндров, и через трубу 12 в полость охлаждения правого ряда
		цилиндров. Омывая наружные поверхности гильз цилиндров, охлаждающая жидкость через отверстия в верхних
		привалочных плоскостях блока цилиндров поступает в полости охлаждения головок цилиндров. Из головок цилиндров
		нагретая жидкость по трубам 4 и 6 поступает в коробку 16 термостатов, из которой в зависимости от температуры
		направляется в радиатор или на вход насоса. Часть жидкости отводится от патрубка 13 в водомасляный теплообменник
		11, в котором происходит передача тепла от масла в охлаждающую жидкость. Из теплообменника жидкость направляется
		в водяную рубашку блока цилиндров в зоне расположения четвертого цилиндра.</p>



	<p>Температура охлаждающей жидкости на выходе из двигателя должна поддерживаться в пределах 85-90°С. Тепловой режим
		двигателя регулируется автоматически термостатами и включателем гидромуфты привода вентилятора, которые
		управляют направлением потока жидкости и работой вентилятора в зависимости от температуры охлаждающей жидкости
		на входе в двигатель.</p>



	<h3 id="h--1">Водяной насос</h3>



	<p>Водяной насос&nbsp;центробежного типа установлен на передней части блока цилиндров слева.</p>



	<figure class="wp-block-image size-large"><img loading="lazy" width="615" height="520"
			src="/agregaty/dvigateli/info/img/image-45.png" alt="Система охлаждения двигателя КАМАЗ Евро-1"
			class="wp-image-130"
			srcset="/agregaty/dvigateli/info/img/image-45.png 615w, /agregaty/dvigateli/info/img/image-45-300x254.png 300w"
			sizes="(max-width: 615px) 100vw, 615px">
		<figcaption><strong>Насос водяной</strong><br><em>1 – шкив; 2 – болт; 3, 10 – шайбы; 4, 6 – подшипники; 5 –
				пресс-масленка; 7 – манжета; 8 – уплотнительное кольцо с обоймой; 9 – вал; 11 – колпачковая гайка; 12 –
				упорное кольцо; 13 – уплотнение (сальник); 14 – крыльчатка; 15 – корпус; 16 – пылеотражатель.</em>
		</figcaption>
	</figure>



	<p>Вал 9 вращается в подшипниках 4 и 6 с односторонним резиновым уплотнителем. Для дополнительной защиты от
		проникновения охлаждающей жидкости в подшипники установлена резиновая манжета 7.</p>



	<p>Сальник 13 препятствует вытеканию охлаждающей жидкости из полости насоса. Сальник запрессован в корпус 15 насоса,
		а его графитовое кольцо постоянно прижато пружиной к упорному стальному кольцу 12. Между упорным кольцом и
		крыльчаткой 14 установлено уплотнительное резиновое кольцо 8 в тонкостенной латунной обойме. Высокое качество
		изготовления торцев графитового и упорного кольца обеспечивает надежное контактное уплотнение полости насоса.
	</p>



	<p>При эксплуатации периодически (при сезонном обслуживании) следует пополнять смазку Литол-24 с помощью
		пресс-масленки 5 до появления ее из контрольного отверстия.</p>



	<p>Для проверки исправности торцевого уплотнения в корпусе насоса имеется дренажное отверстие. Течь жидкости через
		это отверстие свидетельствует о неисправности уплотнения насоса. Закупорка отверстия не допускается, гак как
		проводит к выходу из строя подшипников.</p>



	<h3 id="h--2">Вентилятор&nbsp;</h3>



	<p>Вентилятор&nbsp;осевого типа, металлический, пятилопастный, диаметром 660 мм крепится четырьмя болтами к ступице
		15 ведомого вала гидромуфты (рис.<em>Гидромуфта привода вентилятора).</em>&nbsp;С вентилятором двигателя мод.
		740.10 не взаимозаменяем.</p>



	<p><strong>Кожух вентилятора</strong>&nbsp;способствует повышению эффективности вентилятора.</p>



	<p>Кожух изготовлен штамповкой из тонколистового металла.</p>



	<h3 id="h--3">Радиатор</h3>



	<p>Радиатор&nbsp;четырехрядный, для повышения теплоотдачи охлаждающие ленты выполнены с жалюзийными просечками,
		крепится боковыми кронштейнами через резиновые подушки к лонжеронам рамы, а нижней тягой к первой поперечине
		рамы.</p>



	<p><strong>Жалюзи радиатора</strong>&nbsp;установлены перед радиатором. Управление жалюзи осуществляется ручкой гяги
		привода, расположенной на панели приборов. При полностью утопленной ручке жалюзи открыты, при полностью
		вытянутой – закрыты.</p>



	<p>Жалюзи способствуют ускорению прогрева двигателя при пуске и поддержанию теплового режима двигателя при низких
		температурах окружающего воздуха.</p>



	<h3 id="h--4">Расширительный бачок</h3>



	<p>Расширительный бачок&nbsp;20 установлен на двигателе с правой стороны по ходу автомобиля и соединен перепускной
		трубой 19 с входом водяного насоса, паровоздушной трубкой 1 с верхним бачком радиатора и трубкой 2 отвода
		жидкости из компрессора. Расширительный бачок служит для компенсации изменения объема охлаждающей жидкости при
		ее расширении от нагревания, а также позволяет контролировать степень заполнения системы охлаждения и
		способствует удалению из нее воздуха и пара. Расширительный бачок изготовлен из полупрозрачного сополимера
		пропилена. На горловину бачка навинчивается пробка расширительного бачка 21 с клапанами впускным (воздушным) и
		выпускным (паровым). Выпускной клапан, нагруженный пружиной, поддерживает в системе охлаждения избыточное
		давление до 65 кПа (0.65 кгс/см’), впускной клапан, нагруженный более слабой пружиной, препятствует созданию в
		системе разряжения при остывании двигателя. Впускной клапан открывается и сообщает систему охлаждения с
		окружающей средой при разряжении в системе охлаждения 1-13 кПа (0.01-0,13 кгс/см2).</p>



	<p>Эксплуатация автомобиля без пробки расширительного бачка не допускается.</p>



	<h3 id="h--5">Гидромуфта привода вентилятора&nbsp;</h3>



	<p>Гидромуфта привода вентилятора&nbsp;передает крутящий момент от коленчатого вала к вентилятору и гасит
		инерционные нагрузки, возникающие при резком изменении частоты вращения коленчатого вала. Гидромуфта расположена
		соосно с коленчатым валом.</p>



	<div class="wp-block-image">
		<figure class="aligncenter size-large"><img loading="lazy" width="753" height="649"
				src="/agregaty/dvigateli/info/img/image-46.png" alt="Система охлаждения двигателя КАМАЗ Евро-1"
				class="wp-image-131"
				srcset="/agregaty/dvigateli/info/img/image-46.png 753w, /agregaty/dvigateli/info/img/image-46-300x259.png 300w"
				sizes="(max-width: 753px) 100vw, 753px">
			<figcaption><strong>Гидромуфта привода вентилятора</strong><br><em>1 – передняя крышка; 2 – корпус
					подшипника; 3 – кожух: 4, 8, 13, 19 – шариковые подшипники;5 – трубка корпуса подшипника; 6 –
					ведущий вал; 7 – вал привода гидромуфты; 9 – ведомое колесо;10 – ведущее колесо: 11 – шкив привода
					генератора и жидкостного насоса; 12 – вал шкива; 14 – упорная втулка; 15 – ступица вентилятора; 16 –
					ведомый вал; 17, 20 – манжеты;18 – прокладка; 21 – маслоотражатель</em></figcaption>
		</figure>
	</div>



	<p>Передняя крышка 1 блока и корпус 2 подшипника соединены винтами и образуют полость, в которой установлена
		гидромуфта.</p>



	<p>Ведущий вал 6 в сборе с кожухом 3, ведущее колесо 10, вал 12 и шкив 11, соединенные болтами, составляют ведущую
		часть гидромуфты, которая вращается в шариковых подшиппиках 8и 19. Ведущая часть гидромуфты приводится во
		вращение от коленчатого вала через шлицевой вал 7. Ведомое колесо 9 в сборе с валом 16, на котором закреплена
		ступица 15 вентилятора, составляют ведомую часть гидромуфты, вращающуюся в шариковых подшипниках 4 и 13.
		Гидромуфта уплотнена резиновыми манжетами 17 и 20.</p>



	<p>На внутренних тороидальных поверхностях ведущего и ведомого колес отлиты радиальные лопатки. На ведущем колесе их
		33, на ведомом 32. Межлопаточное пространство колес образует рабочую полость гидромуфты.</p>



	<p>Крутящий момент с ведущего колеса 10 гидромуфты на ведомое 9 передается при заполнении рабочей полости маслом.
		Частота вращения ведомой части зависит от количества масла, поступающего в гидромуфту.</p>



	<h3 id="h--6">Включатель гидромуфты</h3>



	<p>Включатель гидромуфты&nbsp;управляет работой&nbsp;гидромуфты привода вентилятора.</p>



	<figure class="wp-block-image size-large"><img loading="lazy" width="730" height="490"
			src="/agregaty/dvigateli/info/img/image-48.png" alt="Система охлаждения двигателя КАМАЗ Евро-1"
			class="wp-image-133"
			srcset="/agregaty/dvigateli/info/img/image-48.png 730w, /agregaty/dvigateli/info/img/image-48-300x201.png 300w"
			sizes="(max-width: 730px) 100vw, 730px"></figure>



	<p>Через него масло поступает в гидромуфту. Включатель установлен в передней части двигателя на патрубке, подводящем
		охлаждающую жидкость к правому ряду цилиндров.</p>



	<p>Включатель имеет три фиксированных положения и обеспечивает работу вентилятора в одном из режимов:</p>



	<p>– автоматический – рычаг включателя установлен в положение “А” (см. рисунок). При&nbsp;повышении температуры
		охлаждающей жидкости, омывающей термосиловой датчик 7<em>,</em>&nbsp;начинается плавление активной массы,
		находящейся в его баллоне, которая, увеличиваясь в объеме, перемещает поршень датчика и шарик 9. При температуре
		жидкости 86-90°С шарик 9 открывает масляный канал в корпусе включателя. Масло из главной магистрали двигателя по
		каналам в корпусе включателя, блоке и его передней крышке, трубке 5 <em>(рис.&nbsp;Гидромуфта привода
			вентилятора)</em>&nbsp;и каналам в ведущем валу поступает в рабочую полость гидромуфты. При этом крутящий
		момент от коленчатого вала передается крыльчатке вентилятора. При температуре охлаждающей жидкости ниже 86 °С
		шарик под действием возвратной пружины перекрывает масляный канал в корпусе, и подача масла в гидромуфту
		прекращается. При этом находящееся в гидромуфте масло через отверстие в кожухе 3 сливается в картер двигателя и
		вентилятор отключается:</p>



	<figure class="wp-block-image size-large is-resized"><img loading="lazy"
			src="/agregaty/dvigateli/info/img/image-49.png" alt="Система охлаждения двигателя КАМАЗ Евро-1"
			class="wp-image-134" width="610" height="374"
			srcset="/agregaty/dvigateli/info/img/image-49.png 641w, /agregaty/dvigateli/info/img/image-49-300x184.png 300w"
			sizes="(max-width: 610px) 100vw, 610px"></figure>



	<p>– вентилятор отключен – рычаг выключателя установлен в положение “О” (рис.<em>&nbsp;</em><em>Положение включателя
			гидромуфты привода вентилятора</em>); масло в гидромуфту не подается,&nbsp;при этом крыльчатка может
		вращаться с небольшой частотой под действием сил трения, возникающих при вращении подшипников и манжеты
		гидромуфты;</p>



	<p>– вентилятор включен постоянно – рычаг включателя установлен в положение “П”; в этом случае масло в гидромуфту
		подается постоянно независимо от температуры охлаждающей жидкости, лопасти вентилятора вращаются постоянно с
		частотой, приблизительно равной частоте вращения&nbsp;коленчатого вала двигателя.</p>



	<p>Основной режим работы гидромуфты автоматический.</p>



	<p>При отказе включателя гидромуфты в автоматическом режиме (характеризуется перегревом двигателя) необходимо
		включить гидромуфту в постоянный режим (установить рычаг включателя в положение “П”) и при первой возможности
		устранить неисправность включателя.</p>



	<h3 id="h--7">Термостаты&nbsp;</h3>



	<figure class="wp-block-image size-large"><img loading="lazy" width="719" height="493"
			src="/agregaty/dvigateli/info/img/image-50.png" alt="Система охлаждения двигателя КАМАЗ Евро-1"
			class="wp-image-135"
			srcset="/agregaty/dvigateli/info/img/image-50.png 719w, /agregaty/dvigateli/info/img/image-50-300x206.png 300w"
			sizes="(max-width: 719px) 100vw, 719px">
		<figcaption>Термостат</figcaption>
	</figure>



	<p>Термостаты&nbsp;(см. рисунок) с твердым наполнителем и прямым ходом клапана предназначены для автоматической
		регулировки теплового режима двигателя, размещены в коробке 16 (рис.<em>&nbsp;Схема системы
			охлаждения),</em>&nbsp;закрепленной на переднем горце правого ряда блока цилиндров.</p>



	<p>На холодном двигателе вход жидкости в радиатор перекрыт клапаном 5, а вход в перепускную трубу к водяному насосу
		открыт клапаном 1. Охлаждающая жидкость циркулирует,&nbsp;минуя радиатор, что ускоряет прогрев двигателя.</p>



	<p>При достижении температуры охлаждающей жидкости 80°С активная масса 10, заключенная в баллоне 9, плавится,
		увеличиваясь в объеме, и выдавливает шток 8. При этом баллон 9 перемещается вправо, открывая клапан 5, а клапан
		1 закрывает вход жидкости в перепускную трубу к водяному насосу. Охлаждающая жидкость начинает циркулировать
		через радиатор. В диапазоне температур 80-93°С клапаны 1 и 5 открыты частично, охлаждающая жидкость проходит
		через радиатор и перепускную трубу&nbsp;на вход к насосу. При температуре 93°С клапан 5 открывается полностью, а
		клапан 1 закрывается, при этом вся жидкость циркулирует только через радиатор.</p>



	<p>При снижении температуры охлаждающей жидкости до 80°С и ниже объем активной массы уменьшается и клапан 1 и 5 под
		действием пружин 4 и 2 термостата занимают первоначальное положение.</p>



	<p>Контроль температуры охлаждающей жидкости в системе осуществляется по указателю на панели приборов.</p>



	<p>При возрастании температуры в системе охлаждения до 98-104°С на щитке приборов загорается контрольная лампа
		аварийного перегрева охлаждающей жидкости.</p>



	<h3 id="h--8">Обслуживание системы охлаждения</h3>



	<p>Заправка двигателя охлаждающей жидкостью производится через заливную горловину расширительного бачка.</p>



	<p>Перед заполнением системы охлаждения надо предварительно открыть кран системы отопления.</p>



	<p>Проверка уровня жидкости производится визуально на холодном двигателе. Нормальный уровень должен находится между
		отметками “MIN” и “МАХ” на боковой поверхности бачка.</p>



	<p>Для слива охлаждающей жидкости следует открыть сливные краны нижнего колена водяного трубопровода, теплообменника
		и насосного агрегата предпускового подогревателя, подводящей трубы отопителя кабины и отвернуть пробку
		расширительного бачка.</p>



	<p>РЕГУЛИРОВКУ натяжения ремней привода генератора и водяного насоса выполнить следующим образом:</p>



	<ul>
		<li>ослабить гайки крепления передней и задней лап генератора, болт 2 (см. рисунок) крепления планки и болт 1;
		</li>
		<li>переместив генератор, натянуть ремни;</li>
		<li>затянуть болт 1, болт 2 крепления планки, гайки крепления передней и задней лап генератора.</li>
	</ul>



	<p>После регулировки должно быть проверено натяжение: правильно натянутый ремень при нажатии на середину наибольшей
		ветви с усилием 40 Н (4 кгс) должен иметь прогиб 15-22 мм.</p>



	<div class="wp-block-image">
		<figure class="aligncenter size-large"><img loading="lazy" width="703" height="778"
				src="/agregaty/dvigateli/info/img/image-51.png" alt="Система охлаждения двигателя КАМАЗ Евро-1"
				class="wp-image-136"
				srcset="/agregaty/dvigateli/info/img/image-51.png 703w, /agregaty/dvigateli/info/img/image-51-271x300.png 271w"
				sizes="(max-width: 703px) 100vw, 703px">
			<figcaption><strong>Схема проверки натяжения ремней</strong><br><em>1 – регулировочный болт; 2 – болт
					крепления планки; 3 – генератор; 4 – ремень, 5 – шкив водяного насоса; 6 – шкив гидромуфты</em>
			</figcaption>
		</figure>
	</div>






	<hr>
	<p>&nbsp;</p>


		
<h2>Каталог двигателей Евро-1</h2>
	
<div id="productList" class="pt-4 pb-2" style="display: block;">
	<div class="row list">


		<!-- Движок 11  -->
		<div id="740-11"></div>
		{% assign page_url = "dvigatel_kamaz_740_11-240_evro-1" %}
		{% assign product = site.data.agregaty | where:"url", page_url | first %}
		{%- if product -%}
		{% include card_zapchasti_catalog.html product = product %}
		{%- endif -%}


		<!-- Движок 13  -->
		<div id="740-13"></div>
		{% assign page_url = "dvigatel_kamaz_740_13-260_evro-1" %}
		{% assign product = site.data.agregaty | where:"url", page_url | first %}
		{%- if product -%}
		{% include card_zapchasti_catalog.html product = product %}
		{%- endif -%}

		<div id="loadingDiv" style="display: none;">
			<span>Загрузка данных</span>
		</div>
	</div>
	<div class="no-result">Не найдено</div>
	<ul class="pagination" style="display: none;"></ul>
</div>
<hr>
<p>&nbsp;</p>


	

	{% include kupite_catalog.html %}
	<div style="height: 100px;">&nbsp;</div>



</div>