---
layout: default_info
title: Система облегчения пуска холодного двигателя КАМАЗ Евро-1
description: В холодный период года пуск двигателя КАМАЗ осуществляется с применением электро-факельного устройства или предпускового подогревателя.
keywords: КамАЗ двигатель мотор купить модификации цена бу новый завод ремонт капремонт
hero-title: Двигатели КАМАЗ
h1: Система облегчения пуска холодного двигателя 740 Евро-1
h2:
phone:
phone_title:
categories: [<a href="/agregaty/dvigateli/index.html">Двигатели КАМАЗ</a> ]
---

<div class="col-md-9 col-xs-12 m-auto">


	<h2 id="h-">Система облегчения пуска холодного двигателя</h2>

	<p>В холодный период года пуск двигателя КАМАЗ осуществляется с применением электро-факельного устройства или
		предпускового подогревателя. Предельные температуры надежного пуска холодного двигателя и время подготовки
		двигателя к принятию нагрузки при этой температуре приведены в таблице.</p>

	<p><strong>Электро-факельное устройство (ЭФУ)&nbsp;</strong>предназначено для облегчения пуска холодного двигателя
		при температуре окружающего воздуха ниже минус 5 °С. Применение ЭФУ эффективно при температуре окружающего
		воздуха до минус 22 °С, при более низких температурах следует применять предпусковой подогреватель.</p>

	<p>Принцип действия ЭФУ основан на подогреве воздуха, поступающего в цилиндры двигателя, факелами свечей. Топливо,
		поступающее к свече, сгорает не полностью. Несгоревшая часть его в виде паров и подогретый факелами свечей
		воздух поступает в цилиндры, создавая благоприятные условия для воспламенения топлива впрыскиваемого форсунками.
	</p>



	<p>Перед пуском холодного двигателя производится прокачка топлива топливо-прокачивающим насосом 30 (рисунок 42) для
		удаления воздуха и создания предварительного избыточного давления 25…45 кПа (0,25…0,45 кгс/см<sup>2</sup>) в
		системе питания на которое настроен клапан фильтра тонкой очистки топлива. Предварительное избыточное давление в
		системе питания также необходимо для уменьшения задержки подачи топлива к свечам ЭФУ.</p>



	<p>С помощью кнопки ЭФУ производится разогрев свечей, а затем включение электромагнитного клапана 15. Топливо, за
		счет предварительного избыточного давления поступает к свечам 17.</p>



	<p>При включении стартера топливоподкачивающий насос 18 подает топливо через фильтр тонкой очистки 16 к свечам 17
		под давлением 130… 190 кПа (1,3… 1,9 кгс/см<sup>2</sup>), которое поддерживает перепускной клапан 24.</p>



	<p>Сила тока, потребляемого ЭФУ, не превышает 24 А, такое значение потребляемого тока не оказывает отрицательного
		влияния на последующий стартерный разряд аккумуляторных батарей. При этом в 4-6 раз снижается сила тока,
		потребляемого стартером, вследствие более ранних вспышек в цилиндрах двигателя.</p>



	<p>При включении кнопки ЭФУ напряжение от аккумуляторных батарей через реле включения ЭФУ и термореле подается на
		факельные свечи. Одновременно с разогревом свечей нагревается и срабатывает термореле, включая электромагнитный
		клапан и сигнализатор в блоке сигнализаторов. При этом клапан открывается и топливо поступает к свечам, а
		загорание сигнализатора указывает на готовность устройства к пуску двигателя.</p>



	<p>Кроме того, при включении кнопки ЭФУ напряжение подается на реле, которое разрывает цепь обмотки возбуждения
		генератора, что необходимо для защиты свечей от напряжения, вырабатываемого генератором, когда выход двигателя
		на устойчивый режим сопровождается работой ЭФУ. Сохранение факела при малой частоте вращения коленчатого вала
		двигателя после пуска способствует быстрому выходу его на самостоятельный режим работы и уменьшению дыма,
		возникающего у непрогретого двигателя.</p>



	<p>Сопротивление спирали термореле выбрано таким, чтобы на выводах свечей обеспечивалось напряжение 19 В
		(номинальное напряжение свечи).</p>



	<p>При пуске двигателя выключателем приборов и стартера через дополнительное реле включается стартер. Одновременно
		срабатывает реле, контакты которого шунтируют термореле, то есть на выводы свечей подается напряжение, минуя
		спираль термореле, так как при проворачивании коленчатого вала двигателя стартером напряжение батарей снижается.
	</p>



	<p>Во избежание повышения напряжения на свечах после пуска двигателя, при работе ЭФУ также предусмотрено отключение
		обмотки возбуждения генератора.</p>



	<h3 id="h--1">Проверка работоспособности ЭФУ</h3>



	<p>Работу ЭФУ следует проверять при исправных и заряженных аккумуляторных батареях в следующем порядке:</p>



	<ul>
		<li>проверить исправность сигнализатора ЭФУ на панели приборов в кабине (нажатием кнопки контроля);</li>
		<li>определить время от момента включения ЭФУ до загорания сигнализатора. Для первого включения ЭФУ оно должно
			составлять при температуре воздуха выше нуля 50.. .70 с. а при температуре ниже нуля — 70… 110 с. При
			повторном включении ЭФУ время загорания сигнализатора сокращается, поэтому для получения достоверного
			значения необходимо дать остыть термореле до температуры окружающего воздуха:</li>
	</ul>



	<p>проверить наличие пламени факела во впускных коллекторах.</p>



	<p>Для проверки факела необходимо:</p>



	<ul>
		<li>вывернуть свечи из коллекторов, подсоединить к ним топливные трубки и электропровода;</li>
		<li>обеспечить надежное соединение корпусов свечей с массой и убедиться, что вывод изолирован от массы;</li>
		<li>включить ЭФУ и после загорания сигнализатора с помощью стартера провернуть коленчатый вал. Если нет пламени,
			то заменить неисправную свечу.</li>
	</ul>



	<h3 id="pageTitle"></h3>



	<p>В холодный период года пуск двигателя КАМАЗ осуществляется с применением электро-факельного устройства или
		предпускового подогревателя. Предельные температуры надежного пуска холодного двигателя и время подготовки
		двигателя к принятию нагрузки при этой температуре приведены в таблице.</p>



	<p>Электро-факельное устройство (ЭФУ) служит для облегчения пуска двигателя при температуре окружающего воздуха от
		минус 5 до минус 20° С.</p>



	<p>1. Проверьте исправность контрольной лампы ЭФУ на панели приборов в кабине нажатием кнопки контроля (для панели
		приборов ф. «КАМАЗ»).</p>



	<p>2. Определите время от момента включения ЭФУ до загорания контрольной лампы. Для первого включения ЭФУ оно
		должно быть:</p>



	<p>– при положительной температуре воздуха –&nbsp;50…70 с;</p>



	<p>– при отрицательной температуре воздуха –&nbsp;70…110 с.</p>



	<p>При повторном включении ЭФУ время до загорания контрольной лампы сокращается.</p>



	<p>3. Проверьте наличие факела пламени во впускных трубопроводах на ощупь, по нагреву коллектора рядом со свечами.
		При отказе одной из свечей ЭФУ неработоспособно.</p>



	<figure class="wp-block-table">
		<table class="table table-hover table-hover table-striped table-responsive-sm wa">
			<tbody>
				<tr>
					<td><strong>Параметры</strong></td>
					<td><strong>Без применения&nbsp;</strong><strong>ЭФУ</strong></td>
					<td><strong>С применением ЭФУ</strong></td>
					<td><strong>С предпусковым подогревателем</strong></td>
				</tr>
				<tr>
					<td>1. Предельная температура надежного пуска, °С</td>
					<td>минус 10</td>
					<td>минус 20</td>
					<td>минус 45</td>
				</tr>
				<tr>
					<td>2. Время подготовки двигателя к принятию нагрузки, мин, не более</td>
					<td>8</td>
					<td>– 10</td>
					<td>36</td>
				</tr>
				<tr>
					<td>3. Вязкость (сорт) моторного масла, мм<sup>2</sup>/с, (сСт)</td>
					<td>4000</td>
					<td>6000</td>
					<td>Зимнее, класс «8» ГОСТ 17479.1-85</td>
				</tr>
				<tr>
					<td>4. Топливо по ГОСТ 305-82</td>
					<td>дизельное «3» минус 35</td>
					<td>дизельное «3» минус 45</td>
					<td>дизельное&nbsp;«А»</td>
				</tr>
			</tbody>
		</table>
	</figure>



	<h2 id="h--2">Предпусковой подогреватель</h2>



	<p>Автомобили, в зависимости от моделей и комплектаций, комплектуются подогревателями моделей ПЖД-30,15.8106, 14
		ТС-10, DBW ф. «WEBASTO» и др.</p>



	<p>Автомобили с предпусковыми подогревателями&nbsp;<strong>моделей 14 ТС-10, DBW&nbsp;</strong>и др. комплектуются
		Руководствами по эксплуатации, прилагаемыми к автомобилю.</p>



	<p><strong>ПРЕДПУСКОВОЙ ПОДОГРЕВАТЕЛЬ ПЖД-30</strong></p>



	<p>Предпусковой подогреватель модели ПЖД-30 предназначен для нагрева жидкости в системе охлаждения и масла в картере
		двигателя перед его пуском в холодный период времени.</p>



	<p><strong>ТРЕБОВАНИЯ БЕЗОПАСНОСТИ</strong></p>



	<p>1. При использовании подогревателя нужно помнить, что невнимательное обращение с ним, его неисправность, а также
		загрязнение двигателя и особенно масляного картера могут явиться причиной пожара. Запрещается пользоваться ПЖД в
		закрытых помещениях.</p>



	<p>2. При прогреве двигателя обязательно надо присутствовать и следить за работой подогревателя.</p>



	<p>3. Необходимо помнить, что топливный кран надо открывать только во время его работы, в остальное время кран
		должен быть закрыт. Нельзя отключать подогреватель прекращением подачи топлива (закрытием топливного крана).</p>



	<p>4. Не допускается работа подогревателя без охлаждающей жидкости в его теплообменнике продолжительностью более
		15с. Нельзя заполнять жидкостью прогретый теплообменник во избежание его повреждения; перед заливкой жидкости
		теплообменник подогревателя надо охладить.</p>



	<p>5. В случае появления открытого пламени на выпуске при установившемся режиме работы подогревателя нужно
		немедленно выключить подогреватель, отключить аккумуляторные батареи и только после этого приступить к
		устранению неисправности.</p>



	<p><strong>ТЕХНИЧЕСКАЯ ХАРАКТЕРИСТИКА</strong></p>



	<p>Тип – ПЖД-30</p>



	<p>Теплопроизводительность, кВт(ккал/ч) – 30 (26000)</p>



	<p>Топливо – Применяемое для двигателя</p>



	<p>Расход топлива, кг/ч – 4,2</p>



	<p>Потребляемая электрическая мощность, Вт – 340</p>



	<p>Время работы свечи, с, не более – 30</p>



	<p>Подогреватель состоит из котла, теплообменника в сборе с горелкой, насосного агрегата, системы электроискрового
		розжига, системы дистанционного управления подогревателем.</p>



	<p>Теплообменник подогревателя состоит из двух связанных между собой полостей: жидкостной полости и газохода.</p>



	<p>Насосный агрегат состоит из жидкостного насоса, воздушного нагнетателя (вентилятора) и топливного насоса,
		приводимых в действие от одного электродвигателя. Жидкостной насос центробежного типа предназначен для
		обеспечения циркуляции охлаждающей жидкости между подогревателем и двигателем. Вентилятор предназначен для
		подачи воздуха в горелку. Топливный насос шестеренного типа предназначен для подачи топлива под давлением к
		форсунке подогревателя.</p>



	<p>Система электроискрового розжига предназначена для создания искрового разряда в горелке при пуске подогревателя.
		Она состоит из искровой свечи, транзисторного коммутатора с катушкой зажигания.</p>



	<p>Система дистанционного управления состоит из переключателя управления, контактора и соединительных проводов.</p>



	<p>Подогреватель приводится в действие с помощью переключателя управления (см. рис.
		Управление ПЖД-30, раздел «Органы управления, оборудование кабины и
		контрольно-измерительные приборы»), который имеет четыре положения:</p>



	<p>0 – все выключено;</p>



	<p>I – включены электродвигатель насосного агрегата, электромагнитный топливный клапан и электроискровая свеча;</p>



	<p>II – включены электродвигатель насосного агрегата и электромагнитный топливный клапан;</p>



	<p>III – включен электродвигатель насосного агрегата (режим продувки).</p>



	<p>При необходимости, в зависимости от температуры окружающей среды, электронагреватель включается кнопочным
		выключателем&nbsp;<em>(см. рис.&nbsp;</em><em>Управление</em><em>&nbsp;</em><em>ПЖД-30</em><em>)</em>&nbsp;путем
		удержания его в нажатом состоянии в течение следующих временных интервалов:</p>



	<ul>
		<li>60с при температуре окружающего воздуха минус 40°С;</li>
		<li>90с при температуре окружающего воздуха минус 50°С</li>
	</ul>





	<hr>
	<p>&nbsp;</p>


		
<h2>Каталог двигателей Евро-1</h2>
	
<div id="productList" class="pt-4 pb-2" style="display: block;">
	<div class="row list">


		<!-- Движок 11  -->
		<div id="740-11"></div>
		{% assign page_url = "dvigatel_kamaz_740_11-240_evro-1" %}
		{% assign product = site.data.agregaty | where:"url", page_url | first %}
		{%- if product -%}
		{% include card_zapchasti_catalog.html product = product %}
		{%- endif -%}


		<!-- Движок 13  -->
		<div id="740-13"></div>
		{% assign page_url = "dvigatel_kamaz_740_13-260_evro-1" %}
		{% assign product = site.data.agregaty | where:"url", page_url | first %}
		{%- if product -%}
		{% include card_zapchasti_catalog.html product = product %}
		{%- endif -%}

		<div id="loadingDiv" style="display: none;">
			<span>Загрузка данных</span>
		</div>
	</div>
	<div class="no-result">Не найдено</div>
	<ul class="pagination" style="display: none;"></ul>
</div>
<hr>
<p>&nbsp;</p>


	

	{% include kupite_catalog.html %}
	<div style="height: 100px;">&nbsp;</div>



</div>