---
layout: default_info
title: Смазочная система двигателя КАМАЗ Евро-2 – 740.30, 740.31
description: Система смазки мотора КАМАЗ включает масляный насос, фильтр очистки масла, водомасляный теплообменник, картер масляный, маслоналивную горловину, трубку указателя и указатель уровня масла.
keywords: КамАЗ двигатель мотор купить модификации цена бу новый завод ремонт капремонт
hero-title: Двигатели КАМАЗ
h1: Смазочная система двигателя 740 Евро-2
h2: модели 740.30, 740.31
phone:
phone_title:
categories: [<a href="/agregaty/dvigateli/index.html">Двигатели КАМАЗ</a> ]
---

<div class="col-md-9 col-xs-12 m-auto">


	<p><strong>Смазочная система двигателя</strong>&nbsp;комбинированная, с “мокрым” картером. Система включает масляный
		насос, фильтр очистки масла, водомасляный теплообменник, картер масляный, маслоналивную горловину, направляющую
		трубку и указатель уровня масла.</p>



	<p>Различные комплектации двигателя могут отличаться формой картера масляного, расположением и глубиной копильника
		масла. Соответственно, масляный насос имеет различные масло-заборники. Двигатели могут оснащаться масло-заливной
		горловиной и указателем уровня масла расположенными в передней крышке или на картере маховика.</p>



	<h3 id="h-"><strong>Схема смазочной системы</strong></h3>



	<p><strong>Схема смазочной системы</strong>&nbsp;показана на рисунке 23. Из картера 13 масляный насос 1 подает масло
		в фильтр очистки масла 3 и через водомасляный теплообменник 6 в главную магистраль, и далее к потребителям. В
		смазочную систему также включены клапан 2 системы, обеспечивающий давление в главной масляной магистрали 392…539
		кПа (4,0… 5,5 кгс/см<sup>2</sup>) при номинальной частоте вращения коленчатого вала двигателя, перепускной
		клапан 4, отрегулированный на срабатывание при перепаде давления на фильтре 147.. .216 кПа (1,5…2,2
		кгс/см<sup>2</sup>) и термоклапан 11 включения водомасляного теплообменника.</p>



	<p>При температуре масла ниже 95 °С, клапан открыт и основной поток масла поступает в двигатель минуя теплообменник.
		При температуре масла более 110 °С, термоклапан закрыт и весь поток масла проходит через теплообменник, где
		охлаждается водой. Тем самым обеспечивается быстрый прогрев двигателя после запуска и поддержание оптимального
		температурного режима в процессе эксплуатации. Конструктивно термоклапан расположен в корпусе масляного фильтра.
	</p>



	<div class="wp-block-image">
		<figure class="aligncenter size-large"><img loading="lazy" width="1024" height="751"
				src="/agregaty/dvigateli/info/img/image-115-1024x751.png"
				alt="Схема смазочной системы - двигателя КАМАЗ Евро-2 - 740.30, 740.31" class="wp-image-271"
				srcset="/agregaty/dvigateli/info/img/image-115-1024x751.png 1024w, /agregaty/dvigateli/info/img/image-115-300x220.png 300w, /agregaty/dvigateli/info/img/image-115-768x564.png 768w, /agregaty/dvigateli/info/img/image-115.png 1322w"
				sizes="(max-width: 1024px) 100vw, 1024px">
			<figcaption>Рисунок 23. <strong>Схема смазочной системы&nbsp;</strong><br><em>1 – насос масляный; 2 –
					клапан; 3 – фильтр; 4 – перепускной клапан; 5 – частично-поточный фильтро-элемент; 6 – водомасляный
					теплообменник; 7, 8 и 9 – приборы контроля; 10 – форсунки охлаждения поршней; 11 – термоклапан; 12 –
					полнопоточный фильтро-элемент; 13 – картер масляный; 14 – клапан предохранительный</em></figcaption>
		</figure>
	</div>



	<h3 id="h--1">Масляный насос</h3>



	<p>Масляный насос&nbsp;(рисунок 24) закреплен на нижней плоскости блока цилиндров. Ведущее зубчатое колесо
		напрессовано на передний носок коленчатого вала и имеет 64 зуба, ведомое 52.</p>



	<p>Зазор в зацеплении зубчатых колес привода регулируется прокладками, устанавливаемыми между привалочными
		плоскостями насоса и блока цилиндров и составляет 0,15…0,35 мм. Момент затяжки болтов крепления масляного насоса
		к блоку должен быть 49…68,6 Н м (5…7 кгс м).</p>



	<p>Масляный насос шестеренчатый, односекционный. Содержит корпус 2, крышку 1, шестерни 3 и 7. В крышке расположен
		клапан смазочной системы 13, с пружиной 11, отрегулированный на давление срабатывания 392.. .439 кПа (4.. .4,5
		кгс/см<sup>2</sup>). Также насос имеет предохранительный клапан выполненный в виде шарика 14 подпружиненного
		пружиной 12. Давление срабатывания клапана 833…882 кПа (8,5…9,5 кгс/см<sup>2</sup>).</p>



	<h3 id="h--2">Фильтр масляный</h3>



	<p><strong>Фильтр масляный</strong>&nbsp;(рисунок 25) закреплен на правой стороне блока цилиндров, состоит из
		корпуса 1, двух колпаков 9 и 11, в которых установлены полно-поточный 8 и частично-поточный 4 фильтро-элементы.
	</p>



	<p>Колпаки на резьбе вворачиваются в корпус. Уплотнение колпаков в корпусе осуществляются кольцами 2 и 3.</p>



	<p>В корпусе фильтра также расположен перепускной клапан 15 и термоклапан включения водомасляного теплообменника.
		Очистка масла в фильтре комбинированная. Через&nbsp;полнопоточный фильтро-элемент 8 проходит основной поток масла
		перед поступлением к потребителям, тонкость очистки масла от примесей, при этом, составляет 40 мкм. Через
		частично-поточный фильтро-элемент 4 проходит 3…5 л/мин, где удаляются примеси размерами более 5 мкм. Из
		частично-поточного элемента масло сливается в картер. При такой схеме достигается высокая степень очистки масла
		от примесей,</p>



	<div class="wp-block-image">
		<figure class="aligncenter size-large"><img loading="lazy" width="1024" height="918"
				src="/agregaty/dvigateli/info/img/image-116-1024x918.png"
				alt="Насос масляный - двигателя КАМАЗ Евро-2 - 740.30, 740.31" class="wp-image-272"
				srcset="/agregaty/dvigateli/info/img/image-116-1024x918.png 1024w, /agregaty/dvigateli/info/img/image-116-300x269.png 300w, /agregaty/dvigateli/info/img/image-116-768x689.png 768w, /agregaty/dvigateli/info/img/image-116.png 1092w"
				sizes="(max-width: 1024px) 100vw, 1024px">
			<figcaption>Рисунок 24.<strong> Насос масляный</strong><br><em>1 – крышка; 2 – корпус; 3 – шестерня ведущая;
					4 – ведомое зубчатое колесо; 5 – шпонка; 6 – гайка; 7 – зубчатое колесо; 8 – ось; 9 – шплинт; 10 –
					пробка; 11, 12 – пружины; 13 – клапан; 14 – шарик; 15 – шайбы регулировочные.</em></figcaption>
		</figure>
	</div>



	<h3 id="h--3">Термокланан&nbsp;</h3>



	<p>Термокланан&nbsp;(рисунок 25) включения водомасляного теплообменника состоит из подпружиненного поршня 13 с
		термо-силовым датчиком 6. При температуре ниже 95 °С поршень 13 находится в верхнем положении и основная часть
		потока масла, минуя теплообменник, поступает в двигатель. При достижении температуры масла омывающего
		термосиловой датчик 6 (95+2) °С, активная масса, находящаяся в баллоне, начинает плавиться и, увеличиваясь в
		объеме, перемещает шток датчика и поршень 13.</p>



	<p>При температуре масла (110+2) °С поршень 13 разобщает полости в фильтре до и после теплообменника и весь поток
		масла идет через теплообменник.</p>



	<p>При превышении температуры масла выше 115 °С срабатывает датчик температуры и на щитке приборов загорится
		сигнальная лампочка.</p>



	<h3 id="h--4">Водомасляный теплообменник&nbsp;</h3>



	<p>Водомасляный теплообменник&nbsp;5 (рисунок 25) установлен на масляном фильтре, кожухо-трубного типа, сборный.
		Внутри трубок проходит охлаждающая жидкость из системы охлаждения двигателя, снаружи масло. Со стороны масла
		трубки имеют оребрение в виде охлаждающих пластин. Поток масла в теплообменнике четыре раза пересекает трубки с
		водой, чем достигается высокая эффективность охлаждения масла.</p>



	<h3 id="h--5">Картер масляный</h3>



	<p>Картер масляный&nbsp;13 (рисунок 23) штампованный, крепится к блоку цилиндров через резино-пробковую прокладку.
		Момент затяжки болтов крепления масляного картера 14…17,8&nbsp;Н м (1,4…1,8 кгс м).</p>



	<div class="wp-block-image">
		<figure class="aligncenter size-large"><img loading="lazy" width="1024" height="1012"
				src="/agregaty/dvigateli/info/img/image-117-1024x1012.png"
				alt="Фильтр масляный с теплообменником - двигателя КАМАЗ Евро-2 - 740.30, 740.31" class="wp-image-273"
				srcset="/agregaty/dvigateli/info/img/image-117-1024x1012.png 1024w, /agregaty/dvigateli/info/img/image-117-300x296.png 300w, /agregaty/dvigateli/info/img/image-117-768x759.png 768w, /agregaty/dvigateli/info/img/image-117.png 1260w"
				sizes="(max-width: 1024px) 100vw, 1024px">
			<figcaption>Рисунок 25.<strong> Фильтр масляный с теплообменником</strong><br><em>1 – корпус фильтра; 2, 3 –
					уплотнительные кольца; 4 – частично-поточный фильтрующий элемент; 5 – теплообменник; 6 –
					термосиловой датчик; 7 – прокладка; 8 – полно-поточный фильтрующий элемент; 9, 11 – колпаки; 12 –
					сливная пробка; 13 – поршень термоклапана; 14 – пружина термоклапана; 15 – перепускной клапан; 16 –
					пружина перепускного клапана.</em></figcaption>
		</figure>
	</div>



	<h3 id="h--6"><strong>Система вентиляции картера</strong></h3>



	<p>Система вентиляции картера&nbsp;(рисунок 26) открытая, циклонного типа. Картерные газы отводятся из штанговой
		полости второго цилиндра, через угольник 1, в котором установлен завихритель 2. При работе двигателя картерные
		газы проходят через завихритель 2 и получают винтовое движение. За счет действия центробежных сил капли масла,
		содержащиеся в газах, отбрасываются к стенке грубы 4 и через трубку 6 сливаются обратно в картер. Очищенные
		картерные газы выбрасываются в атмосферу.</p>



	<div class="wp-block-image">
		<figure class="aligncenter size-large"><img loading="lazy" width="909" height="1024"
				src="/agregaty/dvigateli/info/img/image-119-909x1024.png"
				alt="Система вентиляции картера  - двигателя КАМАЗ Евро-2 - 740.30, 740.31" class="wp-image-276"
				srcset="/agregaty/dvigateli/info/img/image-119-909x1024.png 909w, /agregaty/dvigateli/info/img/image-119-266x300.png 266w, /agregaty/dvigateli/info/img/image-119-768x865.png 768w, /agregaty/dvigateli/info/img/image-119.png 1073w"
				sizes="(max-width: 909px) 100vw, 909px">
			<figcaption>Рисунок 26. <strong>Система вентиляции картера двигателя</strong><br><em>1&nbsp;– угольник; 2 –
					завихритель; 3 – уплотнительное кольцо; 4 – труба; 5 – втулка внутренняя; 6 – труба слива масла; 7 –
					маслоотделитель; 8 – шланг угловой; 9,10 – хомуты; 11 – трубка отвода газов; 12 – дроссель; 13 –
					кляммер.</em></figcaption>
		</figure>
	</div>



	<figure class="wp-block-image size-large is-resized"><img loading="lazy"
			src="/agregaty/dvigateli/info/img/image-120.png"
			alt="Смазочная система двигателя КАМАЗ Евро-2 - 740.30, 740.31" class="wp-image-277" width="309" height="64"
			srcset="/agregaty/dvigateli/info/img/image-120.png 437w, /agregaty/dvigateli/info/img/image-120-300x62.png 300w"
			sizes="(max-width: 309px) 100vw, 309px"></figure>





	<hr>
	<p>&nbsp;</p>


	<h2>Каталог двигателей Евро-2</h2>
    
    <div id="productList" class="pt-4 pb-2" style="display: block;">
        <div class="row list">
    
    
            <div id="740-30"></div>
            {% assign page_url = "dvigatel_kamaz_740_30-260_evro-2" %}
            {% assign product = site.data.agregaty | where:"url", page_url | first %}
            {%- if product -%}
            {% include card_zapchasti_catalog.html product = product %}
            {%- endif -%}
    
            <div id="740-31"></div>
            {% assign page_url = "dvigatel_kamaz_740_31-240_evro-2" %}
            {% assign product = site.data.agregaty | where:"url", page_url | first %}
            {%- if product -%}
            {% include card_zapchasti_catalog.html product = product %}
            {%- endif -%}
    
    
            <div id="loadingDiv" style="display: none;">
                <span>Загрузка данных</span>
            </div>
        </div>
        <div class="no-result">Не найдено</div>
        <ul class="pagination" style="display: none;"></ul>
    </div>
    <hr>
    <p>&nbsp;</p>


	

	{% include kupite_catalog.html %}
	<div style="height: 100px;">&nbsp;</div>



</div>