---
layout: default_info
title: Вес и габариты двигателей КАМАЗ серии 740
description: Масса, длина, ширина, высота двигателей КАМАЗ 740.10, 740.11, 740.13, 740.30, 740.31, 740.50, 740.51, 740.60, 740.62 и других. 
keywords: КамАЗ двигатель модификации привода
hero-title: Двигатели КАМАЗ
h1: Сколько весит двигатель
h2: 
phone:
phone_title:
categories: [<a href="/agregaty/dvigateli/index.html">Двигатели КАМАЗ</a> ]
---

<div class="col-md-10 col-xs-12 m-auto"> 
<p>&nbsp;</p>  
  <p>Размеры и габариты двигателей КАМАЗ отличаются немного.<br />Общие средние габариты мотора (для транспортировки): <br />- Длина - 1260мм х Ширина - 930мм х Высота - 1045мм. <br />- Вес порядка не более 890 кг. (Евро-2 укомплектованный по ГОСТу 14846-81).&nbsp;<br />- Масса двигателя с залитыми жидкостями - примерно 928 кг.</p>
  <table class="table table-hover table-striped table-responsive-sm wa">
  <thead>
  <tr>
  <td>Наименование</td>
  <td>Код</td>
  <td>вес</td>
  <td>ширина</td>
  <td>высота</td>
  <td>длина</td>
  </tr>
  </thead>
  <tbody>
  <tr>
  <td><a href="/agregaty/dvigateli/dvigatel_kamaz_740_10_evro-0.html">Двигатель КамАЗ 740.10-210 / Евро-0</a></td>
  <td data-sheets-value="{740-1000400 }">740-1000400</td>
  <td data-sheets-value="{750}" data-sheets-numberformat="{1:1}">750</td>
  <td data-sheets-value="{0.893}">0.893</td>
  <td data-sheets-value="{1.007}">1.007</td>
  <td data-sheets-value="{1.15}">1.15</td>
  </tr>
  <tr>
  <td data-sheets-value="{Двигатель КамАЗ 7403.10-260 / Турбо}"><a href="/agregaty/dvigateli/dvigatel_kamaz_740_10_evro-0.html">Двигатель КамАЗ 7403.10-260 / Турбо</a></td>
  <td data-sheets-value="{7403.1000400}">7403.1000400</td>
  <td data-sheets-value="{780}" data-sheets-numberformat="{1:1}">780</td>
  <td data-sheets-value="{0.9}">0.9</td>
  <td data-sheets-value="{1.10}" data-sheets-numberformat="{1:1}">1.10</td>
  <td data-sheets-value="{1.16}">1.16</td>
  </tr>
  <tr>
  <td data-sheets-value="{Двигатель КамАЗ 740.11-240 / Евро-1}"><a href="/agregaty/dvigateli/dvigatel_kamaz_740_11-240_evro-1.html">Двигатель КамАЗ 740.11-240 / Евро-1</a></td>
  <td data-sheets-value="{740.11-1000400}">740.11-1000400</td>
  <td data-sheets-value="{842}" data-sheets-numberformat="{1:1}">842</td>
  <td data-sheets-value="{0.908}">0.908</td>
  <td data-sheets-value="{0.965}">0.965</td>
  <td data-sheets-value="{1.103}">1.103</td>
  </tr>
  <tr>
  <td data-sheets-value="{Двигатель КамАЗ 740.13-260 / Евро-1}"><a href="/agregaty/dvigateli/dvigatel_kamaz_740_13-260_evro-1.html">Двигатель КамАЗ 740.13-260 / Евро-1</a></td>
  <td data-sheets-value="{740.13-1000400}">740.13-1000400</td>
  <td data-sheets-value="{842}" data-sheets-numberformat="{1:1}">842</td>
  <td data-sheets-value="{0.908}">0.908</td>
  <td data-sheets-value="{0.965}">0.965</td>
  <td data-sheets-value="{1.103}">1.103</td>
  </tr>
  <tr>
  <td data-sheets-value="{Двигатель КамАЗ 740.30-260 / Евро-1-2}"><a href="/agregaty/dvigateli/dvigatel_kamaz_740_30-260_evro-2.html">Двигатель КамАЗ 740.30-260 / Евро-1-2</a></td>
  <td data-sheets-value="{740.30-1000400}">740.30-1000400</td>
  <td data-sheets-value="{865}" data-sheets-numberformat="{1:1}">865</td>
  <td data-sheets-value="{0.908}">0.908</td>
  <td data-sheets-value="{1.05}" data-sheets-numberformat="{1:1}">1.05</td>
  <td data-sheets-value="{1.194}">1.194</td>
  </tr>
  <tr>
  <td data-sheets-value="{Двигатель КамАЗ 740.31-240 / Евро-2 (2-диск.сц)}"><a href="/agregaty/dvigateli/dvigatel_kamaz_740_31-240_evro-2.html">Двигатель КамАЗ 740.31-240 / Евро-2 (2-диск.сц)</a></td>
  <td data-sheets-value="{740.31-1000400}">740.31-1000400</td>
  <td data-sheets-value="{865}" data-sheets-numberformat="{1:1}">865</td>
  <td data-sheets-value="{0.908}">0.908</td>
  <td data-sheets-value="{1.05}" data-sheets-numberformat="{1:1}">1.05</td>
  <td data-sheets-value="{1.194}">1.194</td>
  </tr>
  <tr>
  <td data-sheets-value="{Двигатель КамАЗ 740.31А-240 / Евро-2 Автобус (1-диск.сц)}"><a href="/agregaty/dvigateli/dvigatel_kamaz_740_31-240_avtobus_nefaz_evro-2.html">Двигатель КамАЗ 740.31А-240 / Евро-2 Автобус (1-диск.сц)</a></td>
  <td data-sheets-value="{740.31А-1000400}">740.31А-1000400</td>
  <td data-sheets-value="{865}" data-sheets-numberformat="{1:1}">865</td>
  <td data-sheets-value="{0.908}">0.908</td>
  <td data-sheets-value="{1.05}" data-sheets-numberformat="{1:1}">1.05</td>
  <td data-sheets-value="{1.194}">1.194</td>
  </tr>
  <tr>
  <td data-sheets-value="{Двигатель КамАЗ 740.50-360 / Евро-3}"><a href="/agregaty/dvigateli/dvigatel_kamaz_740_50-360_evro-2-3.html">Двигатель КамАЗ 740.50-360 / Евро-3</a></td>
  <td data-sheets-value="{740.50-1000400}">740.50-1000400</td>
  <td data-sheets-value="{885}" data-sheets-numberformat="{1:1}">885</td>
  <td data-sheets-value="{0.908}">0.908</td>
  <td data-sheets-value="{1.05}" data-sheets-numberformat="{1:1}">1.05</td>
  <td data-sheets-value="{1.212}">1.212</td>
  </tr>
  <tr>
  <td data-sheets-value="{Двигатель КамАЗ 740.51-320 / Евро-3}"><a href="/agregaty/dvigateli/dvigatel_kamaz_740_51-320_evro-2-3.html">Двигатель КамАЗ 740.51-320 / Евро-3</a></td>
  <td data-sheets-value="{740.51-1000400}">740.51-1000400</td>
  <td data-sheets-value="{885}" data-sheets-numberformat="{1:1}">885</td>
  <td data-sheets-value="{0.908}">0.908</td>
  <td data-sheets-value="{1.05}" data-sheets-numberformat="{1:1}">1.05</td>
  <td data-sheets-value="{1.212}">1.212</td>
  </tr>
  <tr>
  <td data-sheets-value="{Двигатель КамАЗ 740.55-300 / Евро-3}"><a href="/agregaty/dvigateli/dvigatel_kamaz_740_55-300_evro-3.html">Двигатель КамАЗ 740.55-300 / Евро-3</a></td>
  <td data-sheets-value="{740.55-1000400}">740.55-1000400</td>
  <td data-sheets-value="{885}" data-sheets-numberformat="{1:1}">885</td>
  <td data-sheets-value="{0.908}">0.908</td>
  <td data-sheets-value="{1.05}" data-sheets-numberformat="{1:1}">1.05</td>
  <td data-sheets-value="{1.212}">1.212</td>
  </tr>
  <tr>
  <td data-sheets-value="{Двигатель КамАЗ 740.62-280 / Евро-3}"><a href="/agregaty/dvigateli/dvigatel_kamaz_740_62-280_evro-3.html">Двигатель КамАЗ 740.62-280 / Евро-3</a></td>
  <td data-sheets-value="{740.62-1000400}">740.62-1000400</td>
  <td data-sheets-value="{885}" data-sheets-numberformat="{1:1}">885</td>
  <td data-sheets-value="{0.93}">0.93</td>
  <td data-sheets-value="{1.05}" data-sheets-numberformat="{1:1}">1.05</td>
  <td data-sheets-value="{1.26}">1.26</td>
  </tr>
  <tr>
  <td data-sheets-value="{Двигатель КамАЗ 740.60-360 / Евро-3}"><a href="/agregaty/dvigateli/dvigatel_kamaz_740_60-360_evro-3.html">Двигатель КамАЗ 740.60-360 / Евро-3</a></td>
  <td data-sheets-value="{740.60-1000400}">740.60-1000400</td>
  <td data-sheets-value="{885}" data-sheets-numberformat="{1:1}">885</td>
  <td data-sheets-value="{0.93}">0.93</td>
  <td data-sheets-value="{1.05}" data-sheets-numberformat="{1:1}">1.05</td>
  <td data-sheets-value="{1.26}">1.26</td>
  </tr>
  <tr>
  <td data-sheets-value="{Двигатель КамАЗ 740.61-320 / Евро-3}"><a href="/agregaty/dvigateli/dvigatel_kamaz_740_61-320_evro-3.html">Двигатель КамАЗ 740.61-320 / Евро-3</a></td>
  <td data-sheets-value="{740.61-1000400}">740.61-1000400</td>
  <td data-sheets-value="{885}" data-sheets-numberformat="{1:1}">885</td>
  <td data-sheets-value="{0.93}">0.93</td>
  <td data-sheets-value="{1.05}" data-sheets-numberformat="{1:1}">1.05</td>
  <td data-sheets-value="{1.26}">1.26</td>
  </tr>
  <tr>
  <td data-sheets-value="{Двигатель КамАЗ 740.63-400 / Евро-3}"><a href="/agregaty/dvigateli/dvigatel_kamaz_740_63-400_evro-3.html">Двигатель КамАЗ 740.63-400 / Евро-3</a></td>
  <td data-sheets-value="{740.63-1000400}">740.63-1000400</td>
  <td data-sheets-value="{885}" data-sheets-numberformat="{1:1}">885</td>
  <td data-sheets-value="{0.93}">0.93</td>
  <td data-sheets-value="{1.05}" data-sheets-numberformat="{1:1}">1.05</td>
  <td data-sheets-value="{1.26}">1.26</td>
  </tr>
  <tr>
  <td data-sheets-value="{Двигатель КамАЗ 740.65-240 / Евро-3}"><a href="/agregaty/dvigateli/dvigatel_kamaz_740_65-240_evro-3.html">Двигатель КамАЗ 740.65-240 / Евро-3</a></td>
  <td data-sheets-value="{740.65-1000400}">740.65-1000400</td>
  <td data-sheets-value="{885}" data-sheets-numberformat="{1:1}">885</td>
  <td data-sheets-value="{0.93}">0.93</td>
  <td data-sheets-value="{1.05}" data-sheets-numberformat="{1:1}">1.05</td>
  <td data-sheets-value="{1.26}">1.26</td>
  </tr>
  <tr>
  <td data-sheets-value="{Двигатель КамАЗ 740.75-440 / Евро-4}"><a href="/agregaty/dvigateli/dvigatel_kamaz_740_75-440_evro-4.html">Двигатель КамАЗ 740.75-440 / Евро-4</a></td>
  <td data-sheets-value="{740.75-1000400}">740.75-1000400</td>
  <td data-sheets-value="{1:3,3:870}" data-sheets-numberformat="{1:1}">870</td>
  <td data-sheets-value="{0.93}">0.93</td>
  <td data-sheets-value="{1.045}" data-sheets-numberformat="{1:1}">1.045</td>
  <td data-sheets-value="{1.26}">1.26</td>
  </tr>
  <tr>
  <td data-sheets-value="{Двигатель КамАЗ 740.705-300 / Евро-4-5}"><a href="/agregaty/dvigateli/dvigatel_kamaz_740_705-300_evro-4.html">Двигатель КамАЗ 740.705-300 / Евро-4-5</a></td>
  <td data-sheets-value="{740.705-1000400}">740.705-1000400</td>
  <td data-sheets-value="{885}" data-sheets-numberformat="{1:1}">885</td>
  <td data-sheets-value="{0.91}">0.91</td>
  <td data-sheets-value="{1.05}" data-sheets-numberformat="{1:1}">1.05</td>
  <td data-sheets-value="{1.21}">1.21</td>
  </tr>
  <tr>
  <td data-sheets-value="{Двигатель КамАЗ 740.735-400 / Евро-4}"><a href="/agregaty/dvigateli/dvigatel_kamaz_740_735-400_evro-4.html">Двигатель КамАЗ 740.735-400 / Евро-4</a></td>
  <td data-sheets-value="{740.735-1000400}">740.735-1000400</td>
  <td data-sheets-value="{885}" data-sheets-numberformat="{1:1}">885</td>
  <td data-sheets-value="{0.91}">0.91</td>
  <td data-sheets-value="{1.05}" data-sheets-numberformat="{1:1}">1.05</td>
  <td data-sheets-value="{1.21}">1.21</td>
  </tr>
  <tr>
  <td data-sheets-value="{Двигатель КамАЗ 740.662-300 / Евро-4}"><a href="/agregaty/dvigateli/dvigatel_kamaz_740_662-300_evro-4.html">Двигатель КамАЗ 740.662-300 / Евро-4</a></td>
  <td data-sheets-value="{740.662-1000400}">740.662-1000400</td>
  <td data-sheets-value="{870}" data-sheets-numberformat="{1:1}">870</td>
  <td data-sheets-value="{0.93}">0.93</td>
  <td data-sheets-value="{1.045}" data-sheets-numberformat="{1:1}">1.045</td>
  <td data-sheets-value="{1.26}">1.26</td>
  </tr>
  <tr>
  <td data-sheets-value="{Двигатель КамАЗ 740.622-280 / Евро-4}"><a href="/agregaty/dvigateli/dvigatel_kamaz_740_662-300_evro-4.html">Двигатель КамАЗ 740.622-280 / Евро-4</a></td>
  <td data-sheets-value="{740.622-1000400}">740.622-1000400</td>
  <td data-sheets-value="{870}" data-sheets-numberformat="{1:1}">870</td>
  <td data-sheets-value="{0.93}">0.93</td>
  <td data-sheets-value="{1.045}" data-sheets-numberformat="{1:1}">1.045</td>
  <td data-sheets-value="{1.26}">1.26</td>
  </tr>
  <tr>
  <td data-sheets-value="{Двигатель КамАЗ 740.632-400 / Евро-4}"><a href="/agregaty/dvigateli/dvigatel_kamaz_740_632-400_evro-4.html">Двигатель КамАЗ 740.632-400 / Евро-4</a></td>
  <td data-sheets-value="{740.632-1000400}">740.632-1000400</td>
  <td data-sheets-value="{870}" data-sheets-numberformat="{1:1}">870</td>
  <td data-sheets-value="{0.93}">0.93</td>
  <td data-sheets-value="{1.045}" data-sheets-numberformat="{1:1}">1.045</td>
  <td data-sheets-value="{1.26}">1.26</td>
  </tr>
  </tbody>
  </table>
  <p>
    На вес двигателя влияет моторное масло в объеме 28, 30 или 33,2 л. 
  </p>

  <p>&nbsp;</p>  
  <p><img src="/agregaty/dvigateli/img/gabarity_ves_740.10jpg.jpg" alt="Габариты двигателя КАМАЗ" title="Габариты и вес двигателя КАМАЗ" /></p>

  <p>&nbsp;</p>  
  <p>
    Моторы Cummins по весу составляют от 500 до 1500 кг, в зависимости от модели.
  </p>

  <h4>Вес двигателей Камминз, в "сухом", незаправленном состоянии</h4>
  <table class="table table-hover table-striped table-responsive-sm wa">
    <thead>
    <tr>
    <td>Наименование</td>
    <td>вес</td>
    <td>ширина</td>
    <td>высота</td>
    <td>длина</td>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td data-sheets-value=""><a href="#">Двигатель Cummins 4ISBe 185 для КАМАЗ </a></td>
    <td data-sheets-value="{400}" data-sheets-numberformat="{1:1}">400 </td>
    <td data-sheets-value="{0.96}">0.96</td>
    <td data-sheets-value="{0.9}" data-sheets-numberformat="{1:1}">0.9</td>
    <td data-sheets-value="{1.0}">1.0</td>
    </tr>
    <tr>
    <td data-sheets-value=""><a href="#">Двигатель Cummins 6ISBe 300 для КАМАЗ</a></td>
    <td data-sheets-value="{522}" data-sheets-numberformat="{1:1}">522 </td>
    <td data-sheets-value="{0.93}">0.93</td>
    <td data-sheets-value="{0.055}">1.05</td>
    <td data-sheets-value="{1.26}">1.26</td>
    </tr>
  </tbody>
  </table>  
<hr>
<p>&nbsp;</p>

{% include kupite_catalog.html %}
<div style="height: 100px;">&nbsp;</div>






<hr>
<p>&nbsp;</p>

{% include kupite_catalog.html %}
<div style="height: 100px;">&nbsp;</div>



</div>