<section id="priemyshestva" class="section-padding  bg-gray">
    <div class="container text-center justify-content-center">
      <div class="section-header">
        <!-- <h2>Наши преимущества</h2> -->
      </div>
      <div class="section-header">

        <!-- <h1 class="section-title wow fadeInDown">Наши преимущества</h1> -->
        <div class="shape wow fadeInDown"></div>
        <div class="about-area">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
              <div class="row">
                
                <div class="col-md-4 col-xs-12 priemyshestva">
                  <i class="lni-certificate"></i>
                  Гарантия на все агрегаты</div>
              
                <div class="col-md-4 col-xs-12 priemyshestva">
                  <i class="lni-cup"></i>
                  Экспертные знания рынка запчастей </div>
              <div class="col-md-4 col-xs-12 priemyshestva">
                  <i class="lni-users"></i>
                  Менеджеры с опытом более 15 лет </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row ">
        
          <div class="col-md-9" style="margin: auto;">
        
            <div class="site-heading text-center">
              <!-- <h2 class="section-title">О компании</h2> -->
            </div>
            <div class="content" style="padding-top:1em;">
                <table class="table table-text w-100" style="text-align: justify;font-size: 1.2em;">
                  <tbody>
                    <tr>
                      <td> Уже много лет Мы занимаемся поставкой запчастей для автомобилей КамАЗ и
                         стараемся зарекомендовать себя как надежного поставщика. </td>
                    </tr>
                  <tr>
                    
                    
                  </tbody>
                </table>
               
            
        
        </div>
      </div>
    </div>
    </div>
  </section>