{% assign product = include.product  %} 

<li class="list-group-item">
<div class="row">
<div class="col-md-8 col-xs-12">
    <a href="{{product.path}}{{product.url}}" title="{{product.code1}} {{product.name}}">
        <h5 class="mt-1 font-weight-bold mb-2 name">{{product.name}} </h5>
    </a>
</div>
<div class="col-md-4 code1 cat card-zap1-code text-right"> {{ product.code1 }} / {{ product.cat}} </div>
</div>
<div class="row p-0">
<div class="col-md-5 col-xs-12">
    <div class="p-0" style="font-size: 80%; padding-bottom: 0.6em;">
        {%- if product.desc  -%}
        {{ product.desc }}<br>
        {%- endif -%}
        {%- if product.prim -%}
        {{ product.prim }}<br>
        {%- endif -%}
    </div>
    <div class="p-0" style="font-size: 70%;">
        {%- if product.flanec_type -%}
        Тип фланца: <b>{{product.flanec_type}}</b><br>
        {%- endif -%}
        {%- if product.krest -%}
        Крестовина: <b>{{product.krest}}</b><br>
        {%- endif -%}

        <!-- <a class="" data-toggle="collapse" href="#collapse1_{{product.id}}" role="button" aria-expanded="false" aria-controls="collapse1_{{product.id}}">подробнее...</a> -->
    </div>

</div>

<div class="col-md-4">
    <div class="p-1 m-0 d-table" style="font-size: 80%; width: auto;">
        {%- if product.price1 -%}
        <div class="d-row table-bggray">
            <div class="d-cell"><input type="checkbox" class="label-price" id="pr1_{{product.id}}" data-id="{{product.code1}}" data-title="{{ product.name }} {{product.code1}}/ {{product.price1_name}} {%- if {{page.dlina}} -%} (L=page.dlina) {%- endif -%}" data-price="{{ product.price1 | replace: ' ', '' | replace: ' ', '' }}" data-img="{{product.img_path}}{{product.img1}}"><label class="label-price" for="pr1_{{product.id}}"> {{ product.price1_name }} </label> </div>
                                
            <div class="d-cell-pr"><span class="price-tb">{{ product.price1 }}</span>‎<span class="price-tbr"> ₽</span></div></div>
        {%- endif -%}
        {%- if product.price2 -%}
        <div class="d-row table-bggray">
            <div class="d-cell"> <input type="checkbox" class="label-price" id="pr2_{{product.id}}" data-id="{{product.code1}}_ц2" data-title="{{ product.name }} {{product.code1}}/ {{product.price2_name}} {%- if {{page.dlina}} -%} (L=page.dlina) {%- endif -%}" data-price="{{ product.price2 | replace: ' ', '' | replace: ' ', '' }}" data-img="{{product.img_path}}{{product.img1}}"><label class="label-price" for="pr2_{{product.id}}"> {{ product.price2_name }} </label></div>
            <div class="d-cell-pr"><span class="price-tb">{{ product.price2 }}</span>‎<span class="price-tbr"> ₽</span> </div></div>
        {%- endif -%}
        {%- if   product.price3 -%}
        <div class="d-row table-bggray">
            <div class="d-cell"> <input type="checkbox" class="label-price" id="pr3_{{product.id}}" data-id="{{product.code1}}_ц3" data-title="{{ product.name }} {{product.code1}}/ {{product.price3_name}} {%- if {{page.dlina}} -%} (L=page.dlina) {%- endif -%}" data-price="{{ product.price3 | replace: ' ', '' | replace: ' ', '' }}" data-img="{{product.img_path}}{{product.img1}}"><label class="label-price" for="pr3_{{product.id}}">{{ product.price3_name }}</label></div>
            <div class="d-cell-pr"><span class="price-tb">{{ product.price3 }}</span>‎<span class="price-tbr"> ₽</span> </div></div>
        {%- endif -%}
        {%- if  product.price4 -%}
        <div class="d-row table-bggray">
            <div class="d-cell"> <input type="checkbox" class="label-price" id="pr4_{{product.id}}" data-id="{{product.code1}}_ц4" data-title="{{ product.name }} {{product.code1}}/ {{product.price4_name}} {%- if {{page.dlina}} -%} (L=page.dlina) {%- endif -%}" data-price="{{ product.price4 | replace: ' ', '' | replace: ' ', '' }}" data-img="{{product.img_path}}{{product.img1}}"><label class="label-price" for="pr4_{{product.id}}">{{ product.price4_name }}</label></div>
            <div class="d-cell-pr"><span class="price-tb">{{ product.price4 }}</span>‎<span class="price-tbr"> ₽</span> </div></div>
        {%- endif -%}
        <div class="text-right d-row" style="font-size: 14px;">
            <a href="javascript:" data-toggle="modal" data-target="#requestModal" onclick="request_form_yandex('{{ product.id }}','');"> Заказать </a>
            &nbsp;&nbsp;&nbsp;&nbsp; <a href="javascript:" onclick="add_to_cart('{{ product.id }}','https:/'+'/zap-kam.ru{{product.path}}{{product.url}}');"> В заявку </a> 
        </div>
    </div>
</div>
<div class="col-md-3 col-xs-12"><img src="{{product.img_path}}{{product.img1}}" alt="{{product.name}}" width="200"></div>
</div>
</li> 