
{%- if page.dir contains "dvigatel_zapchasti" or page.name contains "dvigatel_zapchasti" -%}
  {%- assign phone = "9003234141" -%}
  {%- assign phone_title = "(900) 323 41-41" -%}
{%- endif -%}

{%- if page.dir contains "kamaz-4310" or page.name contains "zapchasti-kamaz-4310-43118" -%}
  {%- assign phone = "9003234141" -%}
  {%- assign phone_title = "(900) 323 41-41" -%}
{%- endif -%}

{%- if page.dir contains "kamaz-5490" or page.name contains "kamaz-5490" -%}
  {%- assign phone = "9872721224" -%}
  {%- assign phone_title = "(987) 272 12-24" -%}
{%- endif -%}

{%- if page.dir contains "kardanyi_valy" or page.name contains "kardanyi_valy" -%}
  {%- assign phone = "9003234141" -%}
  {%- assign phone_title = "900 323-41-41" -%}
{%- endif -%}

{%- if page.dir == "" or page.dir == "/" -%}
  {%- assign phone = "9003234141" -%}
  {%- assign phone_title = "900 323-41-41" -%}
{%- endif -%}



{%- if page.phone -%}
{%- if page.phone != "" -%}
  {%- assign phone = page.phone -%}
  {%- assign phone_title = page.phone_title -%}
  {%- endif -%}
{%- endif -%}

<!-- Footer Section Start -->
<section id="footer" class="footer-area section-padding">
    <div class="container">
      
        <div class="row">
          <div class="col-lg-3 col-md-4 col-xs-12" style="">
              <p><a href="https://zap-kam.ru"><img src="/assets/img/logo2.png" style="width: 140px;" alt="ЗапКам.Запчасти КамАЗ"></a> </p>
       
              <div class="textwidget">
                торговая площадка
              </div> 
          </div>
 
          <div class="col-lg-3 col-md-4 col-xs-12">
            <p><a href="/oplata_i_dostavka.html" class="small2 nal-link">Оплата</a></p>
            <p><a href="/oplata_i_dostavka.html" class="small2 nal-link">Доставка</a></p>
            <p><a href="/oplata_i_dostavka.html" class="small2 nal-link">Обратная связь</a></p>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-12">
            <div class="textwidget">
              <p class="small2">
                По вопросам сотрудничества обращайтесь 
                <a href="mailto:zap-kam16@yandex.ru" target="_blank" class="nal-link u">zap-kam16@yandex.ru</a>
              </p>
              <a href="/contacts.html" class="small2 nal-link">Контакты</a>
                  
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-12" style="color: 999e9e;">
            <p><a href="/assets/pdf/polzovatelskoe_soglashenie.pdf" class="small2 nal-link">Пользовательское соглашение</a>
            <p><a href="/assets/pdf/politika-obrabotki-personalnykh-dannyh.pdf" class="small2 nal-link">Политика обработки персональных данных</a></p>
            <p><a href="/dlya-pravoobladatelej.html" class="small2 nal-link">Для правообладателей</a></p>
          </div>
        </div>


        <div class="row">

        <div class="col-md-8 col-xs-12">
        
          <ul class="list-inline">
            <li class="list-inline-item">
              <p>© 2009 Zap-Kam.ru</p>
            </li>
            <li class="list-inline-item">
              
              </p>
            </li>
            <li class="list-inline-item">
               
            </li>
            <li class="list-inline-item">
              
           </li>
           
          </ul>

          <p class="" style="font-size: 0.75rem; color: #d6d6d6;">
           Все права на товарные знаки принадлежат их законным владельцам. 
          Словесные упоминания торговых марок в текстах сайта носит исключительно информационный характер относительно
          технического применения деталей, введенных в гражданский оборот в РФ владельцем знака или с его согласия, и не является
          использованием этих товарных знаков.
           Копирование информации с сайта запрещено. Сайт zap-kam.ru носит информационный характер и не является публичной офертой,
           определяемой в ст.437 ГК&nbsp;РФ. Цены и информация могут быть устаревшими.
          </p>
        </div>
        <div class="col-md-4 col-xs-12" style="margin: auto;">
          <table>
            <tr>
              <td>
                <a href="https://i-tend.ru/" title="Разработка сайта - студия Айтенд">
                  <img src="/assets/img/i-tend-logo.png" alt="Разработка сайта - студия Айтенд"/>
                </a>
              </td>
              <td>
                <a href="https://i-tend.ru/" title="Разработка сайта - студия Айтенд">
                  <p>Айтенд - разработка и продвижение сайта</p>
                </a>
              </td>
            </tr>
          </table> 
        </div>
      </div>
      
    </div>
</section>


      <div class="copyright-content">
        
        
        
        
        
        <small style="line-height:0.35em;"> </small>
           
      </div>




<!-- MODALS -->

<div class="modal fade" id="requestModal" tabindex="-1" role="dialog" aria-labelledby="requestModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered  " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="requestModalLabel">Запросить предложение</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="">
            <script src="https://yastatic.net/q/forms-frontend-ext/_/embed.js"></script>
             <iframe id="form1" src="https://forms.yandex.ru/u/5e5831b56296cf035c59867f/?iframe=1&answer_url_13308679={{page.url}}" 
            name="ya-form-5e5831b56296cf035c59867f" class="yandex-form-frame" width="102%"></iframe> 

        </div>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-primary">Отправить</button>  -->
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>



<!-- Yandex.Metrika counter -->
<script> (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(57702985, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, ecommerce:"dataLayer" }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/57702985" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
