
{%- if page.dir contains "dvigatel_zapchasti" or page.name contains "dvigatel_zapchasti" -%}
  {%- assign phone = "9003234141" -%}
  {%- assign phone_title = "(900) 323-41-41" -%}
{%- endif -%}

{%- if page.dir contains "kamaz-4310" or page.name contains "zapchasti-kamaz-4310-43118" -%}
  {%- assign phone = "9272482335" -%}
  {%- assign phone_title = "(927) 248 23-35" -%}
{%- endif -%}

{%- if page.dir contains "kamaz-5490" or page.name contains "kamaz-5490" -%}
  {%- assign phone = "9872721224" -%}
  {%- assign phone_title = "(987) 272 12-24" -%}
{%- endif -%}

{%- if page.dir contains "kardanyi_valy" or page.name contains "kardanyi_valy" -%}
  {%- assign phone = "(927) 045 01-18" -%}
  {%- assign phone_title = "(927) 045 01-18" -%}
{%- endif -%}

{%- if page.dir == "" or page.dir == "/" -%}
  {%- assign phone = "9003234141" -%}
  {%- assign phone_title = "900 323-41-41" -%}
{%- endif -%}



{%- if page.phone -%}
{%- if page.phone != "" -%}
  {%- assign phone = page.phone -%}
  {%- assign phone_title = page.phone_title -%}
  {%- endif -%}
{%- endif -%}

<!-- Footer Section Start -->
  <section id="footer" class="footer-area section-padding bg-gray">
    <div class="container">
      <div class="container contacts-area" id="contact">
        <div class="text-center justify-content-center">
          <div class="section-header">
            <h2 class="section-title">Контакты</h2>
            <div class="shape wow fadeInDown"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6  col-xs-12 text-right " style="margin: auto;">
            <div class="">
              <img src="/assets/img/logo_bgwhite.png" alt="Запчасти КамАЗ">
              <div class="textwidget">
                <p><a href="https://zap-kam.ru">zap-kam.ru</a> </p>
                <p> &nbsp; </p>
                <p><a href="/oplata_i_dostavka.html" class="small nal-link" data-toggle="modal" data-target="#regions-modal">регионы доставки</a></p>
              </div>
            </div>
          </div>
 

          <div class="contacts col-lg-6 col-md-6 col-xs-12" style="margin: auto;">
            <table class="table table-hover">
              <tr>
                <td rowspan="4" style="vertical-align: middle;"><i class="lni-phone"></i></td>
                <td>
                  <a class="nocolor" href="tel:+79272482335">(927) 248 23-35</a> <small>/ запчасти 4310</small><br>
                </td>
              </tr>
              <tr>
                <td>
                  <a class="nocolor" href="tel:+79003234141">(927) 323 41-41</a> <small>/ запчасти двигатель</small><br>
                </td>
              </tr>
              <tr>
                <td><a class="nocolor" href="tel:+79872721224">(987) 272 12-24</a> <small>/ запчасти 5490</small><br></td>
              </tr>
              <tr><td>
                <a class="nocolor" href="tel:+79270450118">(927) 045 01-18</a> <small>/ карданные валы</small><br>  
              </td></tr>
              <tr>
                <td style="vertical-align: middle;"><i class="lni-envelope size-sm"></i></td>
                <td>
                  <a href="mailto:zap-kam16@yandex.ru">zap-kam16@yandex.ru</a>
                </td>
              </tr>
              <tr>
                <td style="vertical-align: middle;"><i class="lni-map-marker size-sm"></i></td>
                <td> г. Набережные Челны, ТК "Заритал" (гараж 500), 30 павильон, склад 4. 
                <br><small>(Трубный проезд, 3 ст30) </small>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>



  </section>