<!-- <iframe src="https://yandex.ru/map-widget/v1/-/CKaLfDK7" width="100%" height="300" frameborder="0" allowfullscreen="true" style="position:relative;"></iframe></div> -->


<div id="copyright">
    <div class="container">
      <div class="">
        <div class="copyright-content">
          <ul class="list-inline">
            <li class="list-inline-item">
                <p>© 2009 Zap-Kam.ru &nbsp; <a href="/kamaz-4310/info/index.html">-</a>
                </p>
            </li>
            <li class="list-inline-item">
              <!-- <p><a href="javascript:" class="nal-link" data-toggle="modal" data-target="#policy">Лицензионное
                  соглашение</a>
              </p> -->
            </li>
            <li class="list-inline-item">
              <!-- <p><a href="javascript:" class="nal-link" data-toggle="modal" data-target="#policy">Политика
                  конфиденциальности</a></p> -->
            </li>
          </ul>
          
          
          
          
          <small style="line-height:0.45em;">Все права на товарные знаки принадлежат их законным владельцам. Упоминание торговых марок в текстах носит исключительно информационный характер относительно технического применения деталей, введенных в гражданский оборот в РФ владельцем знака или с его согласия.
             Копирование информации с сайта запрещено. Сайт zap-kam.ru носит информационный характер и не является публичной офертой,
             определяемой в ст.437 ГК&nbsp;РФ. Цены и информация могут быть устаревшими. </small>
             
        </div>
      </div>
    </div>
  </div>




  <!-- MODALS -->

  <div class="modal fade" id="requestModal" tabindex="-1" role="dialog" aria-labelledby="requestModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="requestModalLabel">Запросить предложение</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="">
              <script src="https://yastatic.net/q/forms-frontend-ext/_/embed.js"></script>
               <iframe id="form1" src="https://forms.yandex.ru/u/5e5831b56296cf035c59867f/?iframe=1" frameborder="0" 
              name="ya-form-5e5831b56296cf035c59867f" class="yandex-form-frame" width="102%"></iframe> 

          </div>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-primary">Отправить</button>  -->
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
  </div>



<!-- Yandex.Metrika counter -->
 <script> (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(57702985, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, ecommerce:"dataLayer" }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/57702985" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
 <!-- /Yandex.Metrika counter -->
