<style>
 .table-kupite i {
   font-size: 1.6em;
   color: gray;
   padding-top: 10px;;
 }
 .table-our-plus i {
   font-size: 1.0em;
   color: gray;
 }


</style>


<div style="clear: both;"></div>

<div>
  <hr>
   
  <p  class="w-100 text-center"><strong>Гарантия</strong></p>
  <table class="table w-100 table-kupite">
    <tbody>
      <tr>
        <td><i class='lni-chevron-down'></i></td>
        <td> Дается гарантия производителя. <br>
          Гарантия сохраняется при отсутствии механических повреждений и признаков нештатного использования.
          <br>Установку агрегатов и запчастей должен проводить специализированный сервис.
        </td>
      </tr>
    </tbody>
  </table>

  <p  class="w-100 text-center"><strong>Возврат и обмен</strong></p>
  <table class="table w-100 table-kupite">
    <tbody>
      <tr>
        <td><i class='lni-chevron-down'></i></td>
        <td>Предоставляем возможность возврата / обмена запасных частей при следующих условиях:
          <br> - Прошло не более 14 дней с даты получения;
          <br> - Не нарушена целостность упаковки;
          <br> - Деталь должна иметь изначальный товарный вид, не должна иметь следов установки и эксплуатации.
        </td>
      </tr>
    </tbody>
  </table> 
  
</div>