{%- assign phone = "9003234141" -%}
{%- assign phone_title = "900 323-41-41" -%}

{%- if page.phone -%}
{%- if page.phone != "" -%}
  {%- assign phone = page.phone -%}
  {%- assign phone_title = page.phone_title -%}
  {%- endif -%}
{%- endif -%}

{%- if include.phone -%}
{%- if include.phone != "" -%}
  {%- assign phone = include.phone -%}
  {%- assign phone_title = include.phone_title -%}
  {%- endif -%}
{%- endif -%}

<div style="clear: both;"></div>


<div>
  <hr>
   
  <p  class="w-100 text-center"><strong>Почему стоит купить у нас</strong></p>

  <table class="table table-our-plus table-hoverable table-borderless">
      <tbody>
        <tr>
          <td><i class='lni-chevron-down'></i></td>
          <td> Мы даем понятную гарантию качества запчастей от надежных производителей
          </td>
        </tr>
        <tr>
          <td><i class='lni-chevron-down'></i></td>
          <td> Большой выбор, конкурентные цены, система скидок</td>
        </tr>
        <tr>
          <td><i class='lni-chevron-down'></i></td>
          <td> Оперативная доставка по России</td>
        </tr>
      </tbody>
    </table>


  <p  class="w-100 text-center"><strong>Сделать заказ</strong></p>
  <table class="table w-100 table-kupite">
    <tbody>
      <tr>
        <td><i class='lni-phone'></i></td>
        <td> Звоните по телефону, указанному в шапке сайта.
          <!-- <strong><a href="tel:+7{{phone}}" class="nocolor" >{{phone_title}}</a></strong> -->
           <br>
             Потребуется информация: модель авто, год выпуска, модель агрегата, класс Евро.
        </td>
      </tr>
      <tr>
        <td><i class='lni lni-cloud-check'></i></td>
        <td> Реквизиты можно прислать по кнопке "Запросить предложение" <br>
           или на электронную почту <span><a href="mailto:zap-kam16@yandex.ru">zap-kam16@yandex.ru</a></span>. </td>
      </tr>
      <tr>
        <td><i class='lni-certificate'></i></td>
        <td> Продажа оформляется подписанием договора купли-продажи. Вносится предоплата. </td>
      </tr>
      <tr>
        <td><i class='lni-delivery'></i></td>
        <td> Доставка осуществляется транспортными перевозчиками. <br>
          На пункте доставки Вы сможете осмотреть и проверить товар  <br></td>
      </tr>
      <tr>
        <td></td>
        <td class="text-center"> 
          <br>  
          <button class="btn btn-primary" data-toggle="modal" data-target="#requestModal" 
                      onclick="ym(57702985, 'reachGoal', 'RequestBill'); return true;">
                      Запросить предложение</button> 
          
        </td>
      </tr>
    </tbody>
  </table>
  
</div>