{%- assign phone = "9503108888" -%}
{%- assign phone_title = "950 310-88-88" -%}
{%- if include.phone -%}
{%- if include.phone != "" -%}
  {%- assign phone = include.phone -%}
  {%- assign phone_title = include.phone_title -%}
  {%- endif -%}
{%- endif -%}


<div style="clear: both;"></div>

<div>
  <hr>

  <div class="w-100 text-center" style="padding-bottom:20px;padding-top:10px; ">
    <a href="/index.html" class="btn btn-primary" style="font-size: 1.0em;"> Каталог запчастей КамАЗ </a>
  </div>
  
  <hr>
   
  <p class="w-100 text-center"><strong>Покупайте запчасти у нас :</strong></p>

  <table class="table table-our-plus w-100">
      <tbody>
        
        <tr>
          <td><i class='lni-thumbs-up'></i></td>
            <td> 
              Комплектуем заявки любой сложности, конкурентные цены, система скидок от объема.
            </td>
        </tr>
        <tr>
          <td><i class='lni-thumbs-up'></i></td>
          <td> Мы даем понятную гарантию качества запчастей от производителей</td>
        </tr>
        <tr>
          <td><i class='lni-thumbs-up'></i></td>
          <td> Оперативная доставка по России </td> 
        </tr>
        <tr>
          <td><i class='lni-checkmark'></i></td>
          <td> Звоните по телефону <strong><a href="tel:+7{{phone}}" class="nocolor" >{{phone_title}}</a></strong> <br>
            Потребуется информация: модель авто, год выпуска, модель агрегата, класс Евро.
          </td>
        </tr>
    
      </tbody>
    </table>

</div>