---
layout: default_info
title: Мосты КамАЗ - устройство и классификация  
description: Конструкции различных моделей ведущих мостов полноприводных автомобилей во много идентичны и отличаются наличием механизма блокировки меж-колесного дифференциала (МКБ), шестернями главных передач, ступицами и элементами тормозного механизма
keywords: КамАЗ Карданная передача
hero-title: Запчасти к мостам КамАЗ-4310, 43114, 43118, 4350, 43261
h1: Виды мостов КамАЗ - устройство 
h2: 
phone:
phone_title:
categories: [<a href='/agregaty/mosty/index.html'>Мосты КамАЗ</a>] 
---

<div class="col-md-12 col-xs-12 text-right w-100 pt-1 pb-2">
    <a class="btn btn-primary" href="/agregaty/mosty/index.html"> Мосты</a>
	<a class="btn btn-primary" href="/agregaty/mosty/index-osi-kamaz.html"> Оси передние </a>
    <a class="btn btn-primary" href="/agregaty/reduktory/index.html"> Редукторы </a>
	<a class="btn btn-primary" href="/agregaty/mosty/index-telezhki-kamaz-poveska-v-sbore.html"> Тележки задние </a>
</div>

 

<div class="col-md-11 col-xs-12" style="margin: auto;"> 

<!-- Мосты -->

<h3>Каталог </h3>
<div class="form form-inline">
	<input id="pListSearch" class="fuzzy-search" type="search" class="form-control" placeholder="поиск..." style="width:130px;"/>
	&nbsp;&nbsp;
	<button class="btn btn-search-var" onclick="$('#pListSearch').val('задний'); filterProductList($('#pListSearch').val());" title="Задний">Задний</button>   
	<button class="btn btn-search-var" onclick="$('#pListSearch').val('средний'); filterProductList($('#pListSearch').val());" title="Средний">Средний</button>   
	<button class="btn btn-search-var" onclick="$('#pListSearch').val('передний'); filterProductList($('#pListSearch').val());" title="Передний">Передний</button>   
	&nbsp;&nbsp;
	<button class="btn btn-search-var" onclick="$('#pListSearch').val('5320'); filterProductList($('#pListSearch').val());" title="5320">5320</button>   
	<button class="btn btn-search-var" onclick="$('#pListSearch').val('43114'); filterProductList($('#pListSearch').val());" title="43114">43114</button>   
	<button class="btn btn-search-var" onclick="$('#pListSearch').val('65111'); filterProductList($('#pListSearch').val());" title="65111">65111</button>   
	<button class="btn btn-search-var" onclick="$('#pListSearch').val('6520'); filterProductList($('#pListSearch').val());" title="6520">6520</button>   
	
	
</div>

{% include catalog-loading-panel.html %}

<div id="productList" class="pt-2 pb-2" style="display: none; ">

	<div class="row list">
		{% for product in site.data.agregaty  %}
		{%- if product.cat == "мосты" -%}
			{% include card_zapchasti_catalog.html product = product %}
		{%- endif -%}
		{% endfor %}

		<div id="loadingDiv">
			<span>Загрузка данных</span>
		</div>
	</div>
	<div class="no-result">Не найдено</div>
	<ul class="pagination"></ul>
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<br>


<p>
В семействе автомобилей КАМАЗ используется множество различных ведущих мостов, которые имеют конструктивные отличия. Все ведущие мосты можно привести к пяти типам:</p>
<p>1.&nbsp;Разборка редуктора заднего моста</a></li>
    <li class="toc-entry toc-h2"><a href="#p2">Разборка дифференциала заднего моста</a></li>
    <li class="toc-entry toc-h2"><a href="#p3">Разборка ведущей конической шестерни</a></li>
    <li class="toc-entry toc-h2"><a href="#p4">Разборка редуктора промежуточного моста
</ul>
<p>Ведущие мосты полноприводных и не полноприводных автомобилей отличаются конструкцией картеров и главных передач.</p>
<p>Конструкции различных моделей ведущих мостов полноприводных автомобилей во много идентичны и отличаются наличием
    механизма блокировки меж-колесного дифференциала (МКБ), шестернями главных передач, ступицами и элементами тормозного
    механизма. Передние ведущие мосты полноприводных автомобилей отличаются от промежуточных и задних конструкцией
    картеров, главных передач, наличием элементов поворотного механизма.</p>
<p>Конструкцию различных модификаций передних ведущих мостов полноприводных автомобилей во много идентичны и отличаются
    главными&nbsp;передачами и элементами тормозного механизма.</p>
<p>Основные отличия различных моделей <strong>неполноприводных мостов</strong>: дисковое или ступичное крепление колес;
    усиленная балка картера (лист 14 мм); наличие или отсутствие МКБ, усиленные полуоси; различные элементы тормозных
    механизмов под различные тормозные камеры; различные главные передачи с различными передаточными отношениями
    (7,22;6,53;5,94;5,43); и другие несущественные конструктивные отличия.</p>
<p>Некоторые наиболее часто применяемые в комплектациях автомобилей ведущие мосты и их основные конструктивные отличия
    представлены в таблице.</p>
<p>На автомобилях КамАЗ с колесной формулой 6x4 устанавливаются два ведущих моста - промежуточный и задний. Конструкция
    мостов аналогична. Отличие заключается в установке в главной передаче промежуточного моста блокируемого меж-осевого
    дифференциала и отдельных оригинальных деталей, сопрягаемых с ним.
    <table class="table table-responsive-sm table-hover table-bordered" style="width: auto; font-size: 85%;">
      <thead class="thead-light">
        <tr>
            <th>Мост</td>
            <th>Картер</td>
            <th>Главная передача</td>
            <th>Ступица</td>
            <th>Тормозной механизм</td>
            <th>Тормозные камеры</td>
            <th>Кулак</td>
        </tr>
      </thead>
    <tbody>
    <tr>
    <th colspan="7">Мосты полноприводных автомобилей ххх-23ххххххх передние</td>
    </tr>
    <tr>
    <td>4310-2300010</td>
    <td rowspan="3">4310-2301010</td>
    <td>4310-2302010</td>
    <td>4310-3103011</td>
    <td rowspan="3">В составе</td>
    <td>100-3519210</td>
    <td>4310-23004062</td>
    </tr>
    <tr>
    <td>43114-2300012</td>
    <td>43114-2302010</td>
    <td>4310-3103009</td>
    <td>4310-23004064</td>
    </tr>
    <tr>
    <td>4326-2300010</td>
    <td>4326-2302010</td>
    <td>4310-3103011</td>
    <td>100-3519210</td>
    <td>4310-23004065</td>
    </tr>
    <tr>
    <th colspan="7">Мосты полноприводных автомобилей ххх-25ххххххх средние и ххх-24ххххххх задние</td>
    </tr>
    <tr>
    <td>4310-2400010</td>
    <td rowspan="2">4310-2501010</td>
    <td>4310-2402010</td>
    <td rowspan="2">4310-3103011</td>
    <td rowspan="4">4310-3502010</td>
    <td rowspan="4">100-3519210</td>
    <td rowspan="4">4310-2403070<br /> 4310-2403071</td>
    </tr>
    <tr>
    <td>4310-2500010</td>
    <td>4310-2502010</td>
    </tr>
    <tr>
    <td>43114-2500010</td>
    <td>43114-2501007</td>
    <td>55112-2502011</td>
    <td rowspan="2">4310-3103009</td>
    </tr>
    <tr>
    <td>43114-2400012</td>
    <td>с МКБ</td>
    <td>43114-2402011</td>
    </tr>
    <tr>
    <th colspan="7">Мосты неполноприводных автомобилей ххх-25ххххххх средние и ххх-24ххххххх задние</td>
    </tr>
    <tr>
    <td>53229-2500021</td>
    <td>53229-2501007 с МКБ</td>
    <td>53229-2502011</td>
    <td rowspan="2">65115-3104010</td>
    <td rowspan="2">53229-3502010</td>
    <td rowspan="4">100-3519100</td>
    <td rowspan="2">53229-2403070<br /> 53229-2403069</td>
    </tr>
    <tr>
    <td>53229-2400021</td>
    <td>53229-2401007 с МКБ</td>
    <td>53229-2502011</td>
    </tr>
    <tr>
    <td>53215-2400010</td>
    <td>5320-2401010</td>
    <td>53215-2402011<br><small>различные варианты шестерен</small></td>
    <td rowspan="2">53205-3104010</td>
    <td rowspan="2">5511-3502010</td>
    <td rowspan="2">53205-2403070<br /> 53205-2403069</td>
    </tr>
    <tr>
    <td>53215-2500010</td>
    <td>5320-2501010</td>
    <td>53215-2502011<br><small>различные варианты шестерен</small></td>
    </tr>
    </tbody>
    </table>

    На рис. 1 представлен поперечный разрез заднего и промежуточного ведущих мостов. Каждый мост состоит из картера моста, главной передачи, дифференциала и полуосей.
    <!-- --- рисунок --- --><img src="/kamaz-4310/info/img/mosty/1-zadnij-most.jpg" alt="Задний мост">
        Рис.1. Задний мост. 
        <small>
            1 - кольцо проставочное; 2 - барабан тормозной; 3 - щиток; 4 - клапан предохранительный; 5 - картер главной передачи; 6 - шпилька; 7 - прокладка картера; 8 - полуось правая; 9 - картер заднего моста; 10 -пробка контрольная; 11 - пробка сливная магнитная; 12 - полуось левая; 13 - опора рессоры; 14 - кронштейн реактивной штанги; 15 - болт; 16 - камера тормозная с пружинным энерго-аккумулятором; 17 - механизм тормозной; 18 - манжета; 19, 20 - подшипники конические роликовые; 21 - гайка крепления подшипников; 22 - прокладка полуоси; 23 - шайба стопорная контргайки; 24 - контргайка; 25 - шпилька крепления полуоси; 26 - гайка; 27 - шайба пружинная; 28 - втулка разжимная; 29 - ступица; 30 - прижим колеса.  
        </small>
    <hr>
<h3>Техническая характеристика мостов КамАЗ</h3>
<p>
    Главная передача - двухступенчатая;
    <br>Передаточные числа редуктора - 5,94; 6,53; 7,22 -  подбираются в зависимости от назначения автомобиля и условий эксплуатации;
    <br>Межколесный дифференциал - конический, симметричный;
    <br>Полуоси - разгруженные;
    <br>Межосевой дифференциал - конический, симметричный, блокируемый;
    <br>Механизм блокировки - мембранного типа;
    <br>Управление механизмом блокировки - дистанционное, пневматическим краном;
</p>

<p>Картеры промежуточного и заднего мостов сварные, из стальных штампованных балок, к которым приварены фланцы для
    крепления картеров главных передач и суппортов тормозных механизмов, цапфы ступиц колес, кронштейны крепления
    реактивных штанг и опоры рессор. На картерах мостов автомобилей-самосвалов приварены установочные пластины для
    крепления опор рессор.</p>

<div class="row">
    <div class="col-md-6">
        <p>
            На автомобилях КамАЗ-53229 и КамАЗ-65115 предусмотрена установка ведущих мостов (рис. 2) с механизмом блокировки
            межколесного дифференциала, при этом главная передача отличается тем, что левая чашка меж-колесного дифференциала
            выполнена со шлицами для установки муфты его блокировки (см. рис. 3).
        </div>
    <div class="col-md-6">
        <!-- рисунок 3 -->
        <p><img src="/kamaz-4310/info/img/mosty/3-glavnaya-peredacha-vedushchego-mosta.jpg" alt="Главная передача ведущего моста">
        </p><p>
            Рис.3. Главная передача ведущего моста (фрагмент): </p>
           
        </div>
</div>
<!-- --- рисунок --- -->
<p><img src="/kamaz-4310/info/img/mosty/2-most-vedushchij.jpg" alt="Мост ведущий">
    Рис.2. Мост ведущий: 
    <small>
        1 - тормозная камера с пружинным энерго-аккумулятором; 2 - тормозной барабан; 3 - ступица; 4 - гайка подшипника; 5 - тормоз задний; 6 - полуось левая; 7 - картер моста; 8 - предохранительный клапан; 9 -передача главного моста; 10 - полуось правая.
    </small>
</p>
<hr>


<h3>Размеры деталей и допустимый износ</h3>
<table class="table table-hover table-responsive-sm" style="width: auto;">
    <tbody>
        <tr>
            <td>&nbsp;</td>
            <td>Допустимый</td>
            <td>Номинальный</td>
        </tr>
        <tr>
            <td colspan="3"><strong>Картер моста</strong></td>
        </tr>
        <tr>
            <td>Диаметр кольца цапфы: под сальник</td>
            <td>141,92.142,00</td>
            <td>141,7</td>
        </tr>
        <tr>
            <td>под наружный подшипник</td>
            <td>74,94.74,97</td>
            <td>74,9</td>
        </tr>
        <tr>
            <td>под внутренний подшипник</td>
            <td>84,925.84,960</td>
            <td>84,88</td>
        </tr>
        <tr>
            <td><strong>Картер главной передачи</strong></p>Диаметр отверстия под роликоподшипник ведущей цилиндрической
                шестерни </td>
            <td>120,000. 120,035</td>
            <td>120,07</td>
        </tr>
        <tr>
            <td>Диаметр отверстия под подшипники чашки дифференциала.</td>
            <td>140,00. 140,44</td>
            <td>140,08</td>
        </tr>
        <tr>
            <td>Диаметр отверстий под подшипники:</p>конический роликовый ведущей шестерни</td>
            <td>139,97.140,01</td>
            <td>140,05</td>
        </tr>
        <tr>
            <td>цилиндрический роликовый вала ведущей шестерни заднего моста</td>
            <td>109,982. 110,023</td>
            <td>110,06</td>
        </tr>
        <tr>
            <td>шариковый вала ведущей шестерни промежуточного моста</td>
            <td>109,982. 110,023</td>
            <td>110,06</td>
        </tr>
        <tr>
            <td>Боковой зазор в зацеплении пары конических шестерен</td>
            <td>0,25.0,33</td>
            <td>0,5</td>
        </tr>
        <tr>
            <td>Износ шлиц по толщине вала ведущей конической шестерни </td>
            <td>7,93.7,98</td>
            <td>7,84</td>
        </tr>
        <tr>
            <td><strong>Межколесный дифференциал</strong></td>
        </tr>
        <tr>
            <td>Диаметр отверстий чашки меж-колесного дифференциала: под шипы крестовины</td>
            <td>28,02.28,05</td>
            <td>28,11</td>
        </tr>
        <tr>
            <td>под шейку шестерни полуоси </td>
            <td>75,095.75,155</td>
            <td>75,22</td>
        </tr>
        <tr>
            <td>Износ сферической поверхности чашек дифференциала</td>
            <td>79,95.80,05</td>
            <td>81,05</td>
        </tr>
        <tr>
            <td>Диаметр шейки чашки под роликоподшипник</td>
            <td>80,02.80,04</td>
            <td>80,01</td>
        </tr>
        <tr>
            <td>Диаметр отверстия сателлитов под шипы крестовины</td>
            <td>28,060.28,105</td>
            <td>28,165</td>
        </tr>
        <tr>
            <td>Диаметр шипов крестовины</td>
            <td>28,00.28,03</td>
            <td>27,95</td>
        </tr>
    </tbody>
</table>

<p>Главная передача мостов &mdash; двухступенчатая. Первая ступень состоит из пары конических шестерен со спиральными зубьями, вторая &mdash; из пары цилиндрических косозубых шестерен.</p>
<p>Для равнинных условий эксплуатации автопоездов рекомендуется передаточное число &mdash; 5,94; для горyых условий &mdash; 7,22; для пересеченной местности &mdash; 6,53. Изменение передаточного числа главной передачи достигается установкой шестерен с различными комбинациями зубьев в цилиндрической паре (см. табл.).</p>
<h4>Табл. Передаточное число главной передачи в зависимости от числа зубьев шестерен в цилиндрической паре.</h4>

<table class="table table-responsive-sm table-hover" style="margin: auto;">
    <tbody>
        <tr>
            <td>Заводской номер комплекта цилиндрических шестерен главных передач мостов</td>
            <td>Количество зубьев шестерен</td>
            <td>Общее передаточное число мостов</td>
        </tr>
        <tr>
            <td>5320-2402110-20</td>
            <td>12</td>
            <td>26*. 50 _&nbsp;<sub>7&gt;22</sub></td>
        </tr>
        <tr>
            <td>5320-2402120-20</td>
            <td>50</td>
            <td>15 12</td>
        </tr>
        <tr>
            <td>5320-2402110-10</td>
            <td>13</td>
            <td>26*. 49 _&nbsp;<sub>6i53</sub></td>
        </tr>
        <tr>
            <td>5320-2402120-10</td>
            <td>49</td>
            <td>15 13</td>
        </tr>
        <tr>
            <td>5320-2402110-30</td>
            <td>14</td>
            <td>26*. 48 _&nbsp;<sub>5 94</sub></td>
        </tr>
        <tr>
            <td>5320-2402120-30</td>
            <td>48</td>
            <td>15 14</td>
        </tr>
    </tbody>
</table>
<p>* Передаточное отношение конической пары</p>


<p><img src="/kamaz-4310/info/img/mosty/4-perednij-vedushchij-most.jpg" alt="Передний ведущий мост">
    Рис.4. Передний ведущий мост: 
    <small>
        1 — колодка переднего тормозного механизма; 2 — ролик колодки; 3 — разжимной левый кулак; 4 — ввертный штуцер; 5 — переходной штуцер; 6 — головка подвода воздуха; 7 — левый корпус поворотного кулака; 8—масленка; 9—рычаг поворотного кулака; 10—главная передача переднего моста; 11 — регулировочный рычаг; 12— шаровая опора поворотного кулака; 13 — внутренний левый кулак шарнира; 14 — пробка; 15 — вкладыш кулака шарнира; 16 — диск шарнира; 17 — манжета; 18 — нижняя накладка кулака; 19, 24, 34 — подшипники; 20 — набивка манжеты; 21 — щиток тормозного механизма; 22 — суппорт переднего тормозного механизма; 23 — ось тормозных колодок; 25 — левая цапфа поворотного кулака; 26 — ступица с тормозным барабаном; 27, 32—замковые шайбы; 28—ведущий фланец; 29 — кран запора воздуха; 30 — наружный кулак шарнира; 31 — контргайка подшипников; 33 — гайка подшипников.
    </small>
</p>
<p>
    Главная передача ведущего переднего моста (рис. 4) в отличие от главных передач промежуточного и заднего мостов
    прикреплена к картеру моста фланцами, расположенными в вертикальной плоскости. Оригинальные детали главной передачи
    (рис. 5) переднего моста: чашка 3 колесного дифференциала, картер 31 главной передачи, первичный вал 11, крышка 17,
    подшипник 8. Остальные детали и сборочные единицы унифицированы с деталями и сборочными единицами главной передачи
    заднего моста.
</p>
<p><img src="/kamaz-4310/info/img/mosty/5-glavnaya-peredacha-perednego-mosta.jpg" alt="Главная передача переднего моста">
    Рис.5. Главная передача переднего моста:
</p><p>
    <small>
        1 — крышка подшипника; 2 — ведомое цилиндрическое зубчатое колесо; 3 — чашка дифференциала; 4 — опорная шайба полу-осевого зубчатого колеса; 5, 13, 14, 24, 25 — конические роликовые подшипники; 6 — полу-осевое зубчатое колесо; 7 — опорная шайба сателлита; 8, 22 — роликовые подшипники цилиндрические; 9 — шпонка; 10 — заглушка; 11 — первичный вал; 12 — ведущее коническое зубчатое колесо; 15 — манжета; 16 — фланец; 17', 27 — крышки; 18, 26 — стаканы подшипников; 19, 30 — регулировочные шайбы; 20 — распорная втулка; 21 — ведомое коническое зубчатое колесо; 23 — ведущее цилиндрическое зубчатое колесо; 28 — опорная шайба; 29 — гайка; 31 — картер главной передачи; 32 — крестовина дифференциала; 33 — сателлит; 34 — регулировочная гайка; 35 — стопор гайки; Е — регулируемый размер.
    </small>
</p>
<p>Картер переднего моста отлит как одно целое с левым коротким кожухом полуоси. Правый кожух запрессован в картер
    моста. К фланцам кожухов полуоси на шпильках прикреплены шаровые опоры с приваренными шкворнями. В шаровые опоры
    запрессованы бронзовые втулки, в которых установлены внутренние кулаки шарниров равных угловых скоростей.</p>
<p>На шкворнях размешены корпусы поворотных кулаков, которые поворачиваются на конических роликовых подшипниках. К
    корпусам поворотных кулаков прикреплены на шпильках цапфы и суппорты тормозных механизмов. В цапфы запрессованы
    бронзовые втулки, в которых вращаются наружные кулаки шарниров.</p>
<p>Крутящий момент от внутреннего кулака к наружному передается через шарнир равных угловых скоростей. На шлицевом конце
    наружного кулака установлен ведущий фланец, который прикреплен к ступице шпильками.</p>



        
<hr>

<p>
    - <a href="/kamaz-4310/info/ustroistvo-mosty-kamaz.html">Устройство мостов</a>
    <br>
    - <a href="/kamaz-4310/info/tekhnicheskoe-obsluzhivanie-mosty-kamaz.html">Техническое обслуживание мостов</a>
    <br>
    - <a href="/kamaz-4310/info/remont-mosty-kamaz.html">Ремонт мостов КамАЗ</a>
    <br>
    - <a href="/kamaz-4310/info/snyatie-ustanovka-zamena-mostov-kamaz.html">Снятие-Установка мостов КамАЗ</a>
</p>

<p class="text-center">
  <iframe width="800" height="450" style="max-width: 100%;" class="lozad" data-src="https://www.youtube.com/embed/1sePo9xf294" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>


<hr>


<p>&nbsp;</p>




{% include kupite_catalog.html %}
<div style="height: 100px;">&nbsp;</div>



</div>