---
layout: default_info
title: 740.1000128 Комплект поршневой группы ЦПГ Евро-0- ЗапКам.ру
description: Продаем Комплект поршневой группы ЦПГ Евро-0, каталожный номер - 740.1000128, на двигатели 740.10, 740.20, 7403.10. Новые оригинал, аналоги, бу, капремонт. Цена, доставка, описание, вес, размеры.
keywords: Комплект поршневой группы ЦПГ Евро-0 740.1000128 Федерал Могул Мотордеталь Кострома КМК, Челны    Поршневая группа  -  Двигатель КамАЗ Евро Евро-1 Евро-2 Евро-3 Евро-4 Коленвал Коленчатый вал Блок цилиндров шатун шейка поршня кольца Bosch ЯЗДА ЦПГ ЯМЗ SANZ насос турбокомпрессор распредвал
hero-title: Запчасти на ДВИГАТЕЛИ КамАЗ
h1: Комплект поршневой группы ЦПГ Евро-0 740.1000128
h2:
phone: 
phone_title: 
categories: [<a href='/dvigatel_zapchasti/category/porshnevaya-gruppa-kamaz.html'>ЦПГ - Цилиндро-поршневая группа двигателя</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.dvig_zap | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
    <h3>Комплект 740.1000128-18</h3>
    <table class="table table-hover table-striped table-responsive-sm table-bordered" style="width: auto;">
      <tbody>
      <tr>
      <td><b>Состав</b></td>
      <td><b>Кол-во</b></td>
      <td><b>Номер</b></td>
      </tr>
      <tr>
      <td>Поршень требует подрезки</td>
      <td>1 шт.</td>
      <td>740.1004015-41</td>
      </tr>
      <tr>
      <td>Палец поршневой</td>
      <td>1 шт.</td>
      <td>740.1004020</td>
      </tr>
      <tr>
      <td>Гильза цилиндров</td>
      <td>1 шт.</td>
      <td>740.30-1002021</td>
      </tr>
      <tr>
      <td>Комплект поршневых колец</td>
      <td>1 шт.</td>
      <td>740.1000106</td>
      </tr>
      <tr>
      <td>Кольца стопорные</td>
      <td>2 шт.</td>
      <td>740.1004022</td>
      </tr>
      <tr>
      <td>Кольца гильзы уплотнительные</td>
      <td>2 шт.</td>
      <td>740.1002024</td>
      </tr>
      <tr>
      <td>&nbsp;</td>
      <td>1 шт.</td>
      <td>740.1002031</td>
      </tr>
      </tbody>
      </table>
    <p>
      Использование комплекта обеспечивает возможность получения во всех цилиндрах двигателя оптимальных надпоршневых зазоров.
      При этом требуется контроль этих зазоров и (при необходимости) подрезка днища поршня.
      Обеспечивает наилучшие показатели пуска и работы двигателя.
      Рекомендуется как основной вариант при эксплуатации в любых условиях.
    </p>
     <hr>

     <h3>Комплект 740.1000128-20</h3>
     <table class="table table-hover table-striped table-responsive-sm table-bordered" style="width: auto;">
      <tbody>
      <tr>
      <td><b>Состав</b></td>
      <td><b>Кол-во</b></td>
      <td><b>Номер</b></td>
      </tr>
      <tr>
      <td>Поршень не требует подрезки</td>
      <td>1 шт.</td>
      <td>740.1004015-11</td>
      </tr>
      <tr>
      <td>Палец поршневой</td>
      <td>1 шт.</td>
      <td>740.1004020</td>
      </tr>
      <tr>
      <td>Гильза цилиндров</td>
      <td>1 шт.</td>
      <td>740.30-1002021</td>
      </tr>
      <tr>
      <td>Комплект поршневых колец</td>
      <td>1 шт.</td>
      <td>740.1000106</td>
      </tr>
      <tr>
      <td>Кольца стопорные</td>
      <td>2 шт.</td>
      <td>740.1004022</td>
      </tr>
      <tr>
      <td>Кольца гильзы уплотнительные</td>
      <td>2 шт.</td>
      <td>740.1002024</td>
      </tr>
      <tr>
      <td>&nbsp;</td>
      <td>1 шт.</td>
      <td>740.1002031</td>
      </tr>
      </tbody>
      </table>
     <p>Отличается от основного варианта высотой поршня.
      Не требует контроля надпоршневого зазора и поэтому позволяет осуществить ремонт двигателя без
      операции подрезки днища поршня. Оптимальный надпоршневой зазор не гарантируется.
      Рекомендуется при отсутствии возможности обратиться в сервисный центр.
      </p>
      <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
