---
layout: default_info
title: 740.60-1000128 Комплект поршневой группы ЦПГ Евро-3, Евро-3- ЗапКам.ру
description: Продаем Комплект поршневой группы ЦПГ Евро-3, Евро-3, каталожный номер - 740.60-1000128, на двигатели 740.60-360, 740.61-320, 740.62-280, 740.63-400, 740.64-420. Новые оригинал, аналоги, бу, капремонт. Цена, доставка, описание, вес, размеры.
keywords: Комплект поршневой группы ЦПГ Евро-3, Евро-3 740.60-1000128       Поршневая группа  -  Двигатель КамАЗ Евро Евро-1 Евро-2 Евро-3 Евро-4 Коленвал Коленчатый вал Блок цилиндров шатун шейка поршня кольца Bosch ЯЗДА ЦПГ ЯМЗ SANZ насос турбокомпрессор распредвал
hero-title: Запчасти на ДВИГАТЕЛИ КамАЗ
h1: Комплект поршневой группы ЦПГ Евро-3, Евро-3 740.60-1000128
h2:
phone: 
phone_title: 
categories: [<a href='/dvigatel_zapchasti/category/porshnevaya-gruppa-kamaz.html'>ЦПГ - Цилиндро-поршневая группа двигателя</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.dvig_zap | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
    
 
  <p>Гильза, поршень, кольца Камаз Евро-2, 3 (10 гр) (Федерал-Могул) Поршень - деталь цилиндрической формы, выполняющая в цилиндре возвратно-поступательные движения и служащая для превращения изменения давления газа, пара или жидкости в механическую работу. Так же поршень отвечает за герметизацию камеры сгорания топлива. Он обеспечивает своевременный отвод избытка тепла из камеры сгорания. Гильза - направляющая втулка движущегося поршня. Она образует вместе с головкой цилиндра полость. В этой полости происходит рабочий цикл.</p>
<p><strong>Артикул - 740.60-1000128-05/07</strong></p>
<p>Комплект состоит из гильзы, поршня, поршневых, стопорных и резиновых уплотнительных колец, поршневого пальца.</p>
<p>Комплект на один цилиндр для двигателей Камаз ЕВРО 2-4 с увеличенным ходом поршня 130 мм, поршень самый низкий, 10-й группы.&nbsp;</p>
<p>Применяется на двигатель: 740.51-320, 740.50-360, 740.37-400С электронным управлением ТНВД, 740.60-360,740.61-320,740.62-280 ,740.63-400.</p>
<p><strong>Артикул - 740.60-1000128-04/08</strong></p>
<p>Дополнительный артикул - 740.60-1000128-08</p>
<p>Комплект на один цилиндр для двигателей Камаз ЕВРО 2-4 с увеличенным ходом поршня 130 мм, поршень высокий, 40-й группы.</p>
<p>Применяется для двигателей:&nbsp;Евро-2: 740.51-320, 740.50-360, Евро-3 740.60-360, 740.61-320, 740.62-280, 740.63-400.&nbsp;Камаз Евро-2 740.37-400С электронным управлением ТНВД&nbsp;</p>

  <hr>

<hr>


    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
