---
layout: default_info
title: 740.13-1000128 Комплект поршневой группы ЦПГ Евро-1- ЗапКам.ру
description: Продаем Комплект поршневой группы ЦПГ Евро-1, каталожный номер - 740.13-1000128, на двигатели 740.11-240, 740.14-300, 740.13-260. В наличии новые оригинал, качественные аналоги, бу восстановленные, капремонт. Доставим бесплатно до транспортной компании. Цены на модификации, описание, характеристики, вес, размер, габариты.
keywords: Комплект поршневой группы ЦПГ Евро-1 740.13-1000128 740 Евро-2/3 Евро-2/3    Поршневая группа  -  Двигатель КамАЗ Евро Евро-1 Евро-2 Евро-3 Евро-4 Коленвал Коленчатый вал Блок цилиндров шатун шейка поршня кольца Bosch ЯЗДА ЦПГ ЯМЗ SANZ насос турбокомпрессор распредвал
hero-title: Запчасти на ДВИГАТЕЛИ КамАЗ
h1: Комплект поршневой группы ЦПГ Евро-1 740.13-1000128
h2:
phone: 
phone_title: 
categories: [<a href='/dvigatel_zapchasti/category/porshnevaya-gruppa-kamaz.html'>ЦПГ - Цилиндро-поршневая группа двигателя</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.dvig_zap | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
  
  <h3>Комплект </h3>
  <table class="table table-hover table-striped table-responsive-sm table-bordered" style="width: auto;">
  
  <p>Отличается
   </p>
   <hr>
 
 <hr>

 
 <h3>Комплект </h3>
 <table class="table table-hover table-striped table-responsive-sm table-bordered" style="width: auto;">
 
 <p>Отличается
  </p>
  <hr>

<hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
