---
layout: default_info
title: Двигатели КАМАЗ Евро-2 - 740.51,50 , 740.31,30 • Продажа • Новые и восстановленные
description: Продаем двигатели КамАЗ Евро-2 - 740.30, 740.31, 740.50, 740.51 320(360) л/с. Описание, характеристики, прайс-лист, низкие цены, каталог запчастей, с доставкой из Наб.Челнов и обслуживания.
keywords: евро-2 двигатель КамАЗ 740.30-260, 740.31-240, 740.50-360, 740.51-320 запчасти ремонт
hero-title: Запчасти на ДВИГАТЕЛИ КамАЗ
h1: Двигатели КамАЗ Евро-2
h2: с доставкой из Наб.Челнов
categories: [<a href="/agregaty/dvigateli/index.html">Двигатели КАМАЗ</a> ]
---

<div class="col-md-10 col-xs-12" style="margin: auto;">
    <div class="row">
        <div class="col-md-3">
            <h3 style="padding-top: 0px;">Двигатели Евро-2</h3>
            <table class="table table table-hover">
                <tr><td> <a href="/agregaty/dvigateli/dvigatel_kamaz_740_30-260_evro-2.html" class="u"> 740.30-260 Евро-2</a> </td></tr>
                <tr><td> <a href="/agregaty/dvigateli/dvigatel_kamaz_740_31-240_evro-2.html" class="u"> 740.31-240 Евро-2</a> </td></tr>
                <tr><td> <a href="/agregaty/dvigateli/dvigatel_kamaz_740_50-360_evro-2-3.html" class="u"> 740.50-360 Евро-2-3</a> </td></tr>
                <tr><td> <a href="/agregaty/dvigateli/dvigatel_kamaz_740_51-320_evro-2-3.html" class="u"> 740.51-320 Евро-2-3</a> </td></tr>
            </table>
            <img src="/dvigatel_zapchasti/img/category/dvigatel_740_png.png">
        </div>
    
        <div class="col-md-9">
            <div class="text text-light">
                <p>
                    К классу КамАЗ Евро-2 относятся двигатели: 740.30, 740.31, 740.50 и 740.51. 
                </p>
                <p>
                    <b>740.50</b> и <b>740.51</b> - взаимозаменяемы, - отличаются мощностью, ТНВД и некоторыми единицами навесного оборудования.
                </p>
                <p>
                    <b>740.31-240</b> - модель , которая подходит под коробку с делителем старого образца КПП-15 или КПП-152.
                </p>
                <p>
                    <b>740.30-260</b> сочетается только с коробкой 154 или ZF. 
                    Может использоваться при переоборудовании КамАЗ при замене двигателя Cummins.
                </p>
                
                
                
                <p class="text-right">
                    <a class="btn btn-secondary" href="/agregaty/dvigateli/index.html"> Все двигатели КАМАЗ</a>
                </p>
                
    
            </div>
        </div>
    </div>


    <h2>Каталог двигателей Евро-2</h2>
    
    <div id="productList" class="pt-4 pb-2" style="display: block;">
        <div class="row list">
    
    
            <div id="740-30"></div>
            {% assign page_url = "dvigatel_kamaz_740_30-260_evro-2" %}
            {% assign product = site.data.agregaty | where:"url", page_url | first %}
            {%- if product -%}
            {% include card_zapchasti_catalog.html product = product %}
            {%- endif -%}
    
            <div id="740-31"></div>
            {% assign page_url = "dvigatel_kamaz_740_31-240_evro-2" %}
            {% assign product = site.data.agregaty | where:"url", page_url | first %}
            {%- if product -%}
            {% include card_zapchasti_catalog.html product = product %}
            {%- endif -%}
    
    
            <div id="740-50"></div>
            {% assign page_url = "dvigatel_kamaz_740_50-360_evro-2-3" %}
            {% assign product = site.data.agregaty | where:"url", page_url | first %}
            {%- if product -%}
            {% include card_zapchasti_catalog.html product = product %}
            {%- endif -%}
    
    
            <div id="740-51"></div>
            {% assign page_url = "dvigatel_kamaz_740_51-320_evro-2-3" %}
            {% assign product = site.data.agregaty | where:"url", page_url | first %}
            {%- if product -%}
            {% include card_zapchasti_catalog.html product = product %}
            {%- endif -%}
    
            <div id="loadingDiv" style="display: none;">
                <span>Загрузка данных</span>
            </div>
        </div>
        <div class="no-result">Не найдено</div>
        <ul class="pagination" style="display: none;"></ul>
    </div>
    <hr>
    <p>&nbsp;</p>





    <h2>Двигатели серии Евро-2</h2>
    <table class="table table-hover table-harki table-responsive-sm table-sm" style="width: auto;">
            <tbody>
            <tr>
            <td width="83">
            <p>Модель двигателя</p>
            </td>
            <td width="25%">Особенности конструкции</td>
            <td>Мощность, л.с.</td>
            <td>Номинальная частота вращения, мин-1</td>
            <td>Крутящий момент, кгс&middot;м</td>
            <td>Мин. расход топлива, г/(л.с.&middot;ч)</td>
            <td>Расход масла на угар, % от расхода топлива</td>
            <td>Ресурс, тыс. км</td>
            </tr>
            <tr>
            <td>Евро-2</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            </tr>
            <tr>
                <td width="105">740.30-260</td>
                <td rowspan="2" width="271">Дизельные, с индивидуальными алюминиевыми головками, турбонаддувом и ОНВ</td>
                <td width="79">260</td>
                <td rowspan="2" width="105">2200</td>
                <td width="105">110</td>
                <td rowspan="2" width="105">152</td>
                <td rowspan="2" width="105">0,2</td>
                <td rowspan="2" width="105">800, в составе магистральных автомобилей</td>
                </tr>
                <tr>
                <td width="105">740.31-240</td>
                <td width="79">240</td>
                <td width="105">95</td>
                </tr>
                
            <tr>
            <td>740.35-400</td>
            <td rowspan="5">Дизельные, с индивидуальными алюминиевыми головками, турбонаддувом и ОНВ</td>
            <td>400</td>
            <td>2200</td>
            <td>160</td>
            <td rowspan="5">152</td>
            <td rowspan="5">0,2</td>
            <td rowspan="5">800, в составе магистральных автомобилей</td>
            </tr>
            <tr>
            <td>740.37-400</td>
            <td>400</td>
            <td>1900</td>
            <td>180</td>
            </tr>
            <tr>
            <td>740.50-360</td>
            <td>360</td>
            <td rowspan="3">2200</td>
            <td>150</td>
            </tr>
            <tr>
            <td>740.51-320</td>
            <td>320</td>
            <td>130</td>
            </tr>
            <tr>
            <td>740.55-300</td>
            <td>300</td>
            <td>120</td>
            </tr>
            <tr>
            <td>820.52-260</td>
            <td rowspan="2">Газовые, с турбонаддувом, ОНВ, электронным управлением и системой нейтрализации отработавших газов</td>
            <td rowspan="2">260</td>
            <td rowspan="2">2200</td>
            <td>110</td>
            <td rowspan="2">155</td>
            <td rowspan="2">0,38 г/(л.с&middot;ч)</td>
            <td rowspan="2">500, в составе магистральных автомобилей</td>
            </tr>
            <tr>
            <td>820.53-260</td>
            <td>95</td>
            </tr>
            </tbody>
    </table>



    <h3>Технические характеристики двигателя КамАЗ Евро-2</h3>
    <table class="table table-harki table-hover table-responsive-sm table-striped" style="width: auto;">
            <tbody>
            <tr>
            <td>
            <p><strong>Модель двигателя</strong></p>
            </td>
            <td style="text-align: center;">
            <p><strong>740.31-240</strong></p>
            </td>
            <td style="text-align: center;">
            <p><strong>740.30-260</strong></p>
            </td>
            </tr>
            <tr>
            <td>
            <p>Мощность кВт (л.с.)</p>
            </td>
            <td style="text-align: center;">
            <p>176(240)</p>
            </td>
            <td style="text-align: center;">
            <p>191(260)</p>
            </td>
            </tr>
            <tr>
            <td>
            <p>Частота вращения коленвала мин <sup>-1</sup></p>
            </td>
            <td style="text-align: center;">
            <p>2200</p>
            </td>
            <td style="text-align: center;">
            <p>2200</p>
            </td>
            </tr>
            <tr>
            <td>
            <p>Максимальный крутящий момент Нм(кГм)</p>
            </td>
            <td style="text-align: center;">
            <p>980(100)</p>
            </td>
            <td style="text-align: center;">
            <p>1078(110)</p>
            </td>
            </tr>
            <tr>
            <td>
            <p>Количество и расположение цилиндров</p>
            </td>
            <td style="text-align: center;">
            <p>8, V-образное</p>
            </td>
            <td style="text-align: center;">
            <p>8, V-образное</p>
            </td>
            </tr>
            <tr>
            <td>
            <p>Диаметр цилиндра/ход поршня, мм</p>
            </td>
            <td style="text-align: center;">
            <p>120/120</p>
            </td>
            <td style="text-align: center;">
            <p>120/120</p>
            </td>
            </tr>
            <tr>
            <td>
            <p>Рабочий объем, л.</p>
            </td>
            <td style="text-align: center;">
            <p>10,85</p>
            </td>
            <td style="text-align: center;">
            <p>10,85</p>
            </td>
            </tr>
            <tr>
            <td>
            <p>Степень сжатия</p>
            </td>
            <td style="text-align: center;">
            <p>16</p>
            </td>
            <td style="text-align: center;">
            <p>16,5</p>
            </td>
            </tr>
            <tr>
            <td>
            <p>Порядок работы цилиндров</p>
            </td>
            <td style="text-align: center;">
            <p>1-5-4-2-6-3-7-8</p>
            </td>
            <td style="text-align: center;">
            <p>1-5-4-2-6-3-7-8</p>
            </td>
            </tr>
            <tr>
            <td>
            <p>Направление вращения по ГОСТ 22836-77</p>
            </td>
            <td style="text-align: center;">
            <p>правое</p>
            </td>
            <td style="text-align: center;">
            <p>правое</p>
            </td>
            </tr>
            <tr>
            <td>
            <p>Масса двигателя в комплектности (брутто) по ГОСТ 14846-81, кг</p>
            </td>
            <td style="text-align: center;">
            <p>760</p>
            </td>
            <td style="text-align: center;">
            <p>885</p>
            </td>
            </tr>
            <tr>
            <td>
            <p>Заправочная емкость системы смазки двигателя, л.</p>
            </td>
            <td style="text-align: center;">
            <p>26</p>
            </td>
            <td style="text-align: center;">
            <p>28</p>
            </td>
            </tr>
            <tr>
            <td>
            <p>Емкость системы охлаждения (только двигателя), л</p>
            </td>
            <td style="text-align: center;">
            <p>18</p>
            </td>
            <td style="text-align: center;">
            <p>18</p>
            </td>
            </tr>
            <tr>
            <td>
            <p>Модель ТНВД</p>
            </td>
            <td style="text-align: center;">
            <p>337-20 ЯЗДА</p>
            </td>
            <td style="text-align: center;">
            <p>337-71 ЯЗДА</p>
            </td>
            </tr>
            <tr>
            <td>
            <p>Форсунка</p>
            </td>
            <td style="text-align: center;">
            <p>273-51</p>
            </td>
            <td style="text-align: center;">
            <p>273-51</p>
            </td>
            </tr>
            <tr>
            <td>
            <p>Давление начала впрыскивания, МПа</p>
            </td>
            <td style="text-align: center;">
            <p>21,3-22,5</p>
            </td>
            <td style="text-align: center;">
            <p>21,4-22,4</p>
            </td>
            </tr>
            </tbody>
    </table>


    <h2>Топливная аппаратура ТНВД</h2>
    <p>
        Двигатели КАМАЗ мод. 740.31-240, 740.30-260, 740.51-320 и 740.50-360 в серийном
        производстве комплектуются топливными насосами высокого давления (ТНВД):
    </p>
    <p>
        <b>- ТНВД типа 337 производства ОАО «ЯЗДА»</b>, г. Ярославль. Конструкция блочного 
        V-образного насоса ОАО «ЯЗДА» состоит из насоса высокого давления,
        насоса топливного низкого давления, регулятора частоты
        вращения и корректора по надувочному воздуху. Топливный насос низкого
        давления подает под необходимым давлением топливо к нагнетательным секциям ТНВД,
        которые размещены в V-образном корпусе насоса. 
    </p>
    <h3>Применяемость топливных насосов для двигателей КАМАЗ Евро-2</h3>
    <table class="table table-hover table-responsive-sm" style="width: auto;">
            <tbody>
            <tr>
            <td><strong>Двигатель</strong></td>
            <td><strong>Применяемое ТНВД</strong></td>
            <td><strong>Обозначение</strong></td>
            </tr>
            <tr>
            <td>740.31-260</td>
            <td>337-20.05</td>
            <td>337.1111005-20.05</td>
            </tr>
            <tr>
            <td>740.30-260</td>
            <td>337-20</td>
            <td>337.1111005-20</td>
            </tr>
            <tr>
            <td>740.51-320</td>
            <td>337-20.03</td>
            <td>337.1111005-20.03</td>
            </tr>
            <tr>
            <td>740.50-360</td>
            <td>337-20.04</td>
            <td>337.1111005-20.04</td>
            </tr>
            </tbody>
            </table>

    <strong>Форсунки и распылители</strong>
    <p>
        На <a href="/dvigatel_zapchasti/category/dvigatel-kamaz-evro-2.html">двигателях КамАЗ Евро-2 740.30-260, 740.31-240, 740.50-360, 740.51-320</a>  с 
        ТНВД типа 337 (V-образный) <a class="u" href="/dvigatel_zapchasti/catalog/forsunki/forsunka-yazda-273-20-na-kamaz-evro-2_273-1112010-20.html">применяется форсунка модели 273-20 производства ОАО «ЯЗДА», г. Ярославль</a>. 
    </p>



    <p>
        <b>- ТНВД типа Р7100 фирмы «БОШ»</b>, Германия. Конструкция блочного рядного насоса фирмы «БОШ» 
        состоит из ТНВД, насоса топливного низкого давления, регулятора частоты вращения и корректора по надувочному воздуху. 
        Топливный насос низкого давления подает под необходимым давлением топливо к нагнетательным секциям ТНВД, 
        которые размещены в корпусе насоса. 
    </p>
    <h3>Применяемость топливных насосов фирмы "БОШ" КамАЗ Евро-2</h3>
    <table class="table table-hover table-striped table-responsive-sm table-bordered" style="width: auto;">
        <tbody>
        <tr>
        <td><strong>Двигатель</strong></td>
        <td><strong>Применяемое ТНВД Bosch</strong></td>
        </tr>
        <tr>
        <td>740.31-260</td>
        <td><a href="/dvigatel_zapchasti/catalog/tnvd/tnvd-bosch-608-na-kamaz-evro-2-dv-740-31_0-402-648-608.html">0 402 648 608</a></td>
        </tr>
        <tr>
        <td>740.30-260</td>
        <td><a href="/dvigatel_zapchasti/catalog/tnvd/tnvd-bosch-611-na-kamaz-evro-2-dv-740-30_0-402-648-611.html">0 402 648 611</a></td>
        </tr>
        <tr>
        <td>740.51-320</td>
        <td><a href="/dvigatel_zapchasti/catalog/tnvd/tnvd-bosch-610-na-kamaz-evro-2-dv-740-51_0-402-648-610.html">0 402 648 610</a></td>
        </tr>
        <tr>
        <td>740.50-360</td>
        <td><a href="/dvigatel_zapchasti/catalog/tnvd/tnvd-bosch-609-na-kamaz-evro-2-evro-3-dv-740-50_0-402-648-609.html">0 402 648 609</a></td>
        </tr>
        </tbody>
        </table>

        <strong>Форсунки и распылители</strong>
        <p>
            На <a href="/dvigatel_zapchasti/category/dvigatel-kamaz-evro-2.html">двигателях КамАЗ 740.30-260, 740.31, 740.50, 740.51 ЕВРО-2</a> с топливным насосом высокого давления
            серии Р7100 "Bosch" применяется форсунка серии 216 производства ЗАО «АЗПИ», г. Барнаул: 
            <br>на двигателях КамАЗ 740.30 и 740.31 применяется <a class="u" href="/dvigatel_zapchasti/catalog/forsunki/forsunka-bosch-904-evro-240-260ls_216-1112010a.html">форсунка модели 216А</a>, 
            <br>на двигателе 740.50 применяется <a class="u" href="/dvigatel_zapchasti/catalog/forsunki/forsunka-bosch-906-360ls_216-1112010-02a.html">форсунка модели 216-02А</a>, 
            <br>на двигателе 740.51 применяется <a class="u" href="/dvigatel_zapchasti/catalog/forsunki/forsunka-bosch-905-320ls_216-1112010-01a.html">форсунка модели 216-01А</a>.
        </p>
        <p>
            Форсунки отличаются друг от друга диаметром распыливающих отверстий и величиной пролива. 
            Форсунка типа 216 имеет центральный подвод дизельного топлива, распылитель имеет 6 распыливающих отверстий,
            диаметр иглы распылителя Ø 4,5 мм. Давление начала впрыскивания 26.47…27,65 МПа (270…282 кгс/см2). 
        </p>

        <p class="lead text-danger">
            Проверку и регулировку форсунок, а также замену распылителей, необходимо проводить в специализированной мастерской.
            Категорически запрещается установка форсунок других моделей, кроме указанных на конкретные двигатели, ввиду возможности выхода из строя двигателя.
        </p>
               


    <div class="text-success">
        Позвоните - мы поможем правильно подобрать подходящую модель для замены и с доставкой из Наб.Челнов вашего двигателя.
    </div>

    <p></p>
    {% include kupite_u_nas.html %}
    <p></p>

</div>
