---
layout: default_info
title: Двигатель КамАЗ Евро-2 740.30-260
description: Закажите с доставкой по всей России двигатели КамАЗ 740.30-260 Евро-2 арт. 740.30-1000400.
keywords: двигатель 740.30-1000400, купить, продажа, цена, стоимость
hero-title: Двигатели КамАЗ-740
h1: Двигатель КамАЗ 740.30-260 (Евро-2)
h2: Описание, Цены и характеристики. 740.30-260 (Евро-2).
---
<!-- Товар  -->
<div id="740-10"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.agregaty | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}


<!-- Html описание -->
<div class="col-md-10 col-xs-12" style="margin: auto;">
    <h3>Описание и особенности:</h3>
    <p>
        Двигатель КамАЗ 740.30-260 евро-2, 260 л.с., четырехтактный с воспламенением ог сжатия,
        жидкостного охлаждения, с V-образным расположением восьми цилиндров, с турбонаддувом и промежуточным охлаждением
        наддувочного воздуха (ОНВ) типа «воздух-воздух».V8 Под однодисковое сцепление (КПП КАМАЗ Zf или 154).
    </p>

    <p>
        Двигатель изготавливается в двух исполнениях для различных условия эксплуатации "У" и "Т".
        <br>В исполнении "У" по ГОСТ 15150-69 двигатели рассчитаны на эксплуатацию при температурах воздуха от -45 до +40 °С,
         относительной влажности воздуха до 75%, расположенных на высоте до 3000м над уровнем моря 
         при снижении мощностных, экономических и других показателей до 20%, с преодолением перевалов до 4500 м.
        <br>
        Двигатели в исполнении "Т" по ГОСТ 15150-69 рассчитаны на эксплуатацию при температурах
        окружающего воздуха от -10 до +45 °С, относительной влажности воздуха до 80% при температуре 27 °С и в районах,
        расположенных на высоте до 3000 м над уровнем моря при снижении мощностных показателей до 20%, с
        преодолением перевалов до 4500 м.
    </p>







    <h3>Возможные комплектации двигателя 740.30 260 </h3>
    <p>
        Полная комплектация двигателя — 740.30-1000400.<br>
        Без навесного оборудования — 740.30-1000450.<br>
        Артикулы различных модификаций двигателя КАМАЗ 740.30:<br>
        740.30-1000400-05,<br>
        740.30-1000400-05,<br>
        740.30-1000400-08,<br>
        740.30-1000400-17,<br>
        740.30-1000400-34,<br>
        740.30-1000400-49,<br>
        740.30-1000400-71,<br>
        740.30-1000400-74,<br>
        740.30-1000400-76,<br>
        740.30-1000400-79,<br>
        740.30-1000400-85,<br>
        740.30-1000400-92,<br>
        740.30-1000402-54,<br>
        740.30-1000402-70,<br>
        740.30-1000402-71,<br>
        740.30-1000402-90,<br>
        740.30-1000402-92,<br>
        740.30-1000412,<br>
        740.30-1000412-01,<br>
        740.30-1000412-08.
    </p>
    <p></p>
    <p></p>

    <h3>Технические характеристики двигателя КамАЗ 740.30 260</h3>

    <table class="table" style="width:unset;">
        <tbody>
            <tr>
                <td class="colspan">Модель</td>
                <td class="colspan">740.30-260</td>
            </tr>
            <tr>
                <td>Тип</td>
                <td>4-такстный, дизельный с турбонаддувом и ОНВ</td>
            </tr>
            <tr>
                <td>Расположение и число цилиндров</td>
                <td>V-образный, 8 цилиндровый</td>
            </tr>
            <tr>
                <td>Рабочий объем, л</td>
                <td>10,85</td>
            </tr>
            <tr>
                <td>Диаметр цилиндра и ход поршня, мм</td>
                <td>120/120</td>
            </tr>
            <tr>
                <td>Степень сжатия двигателя</td>
                <td>16,5</td>
            </tr>
            <tr>
                <td>Масса двигателя, кг</td>
                <td>865</td>
            </tr>
            <tr>
                <td>Мощность, квт (л.с.) при 2200 об/мин<br>
                    (режим максимальной мощности)</td>
                <td>191 (260)</td>
            </tr>
            <tr>
                <td>Крутящий момент двигателя, Нм (кгм)<br>
                    при 1300 об/мин</td>
                <td>1079</td>
            </tr>
            <tr>
                <td>Расход масла (угар) % от топл.</td>
                <td>0,30</td>
            </tr>
            <tr>
                <td>Минимальный удельный расход топлива, г/кВт·ч (г/лс·ч)</td>
                <td>211 (155)</td>
            </tr>
            <tr>
                <td>Стандарты и Правила</td>
                <td>ЕЭК ООН Евро-2</td>
            </tr>
            <tr>
                <td>Порядок работы цилиндров:</td>
                <td>1-5-4-2-6-3-7-8</td>
            </tr>
            <tr>
                <td>ТНВД</td>
                <td>мод. 337-42 ЯЗДА</td>
            </tr>
            <tr>
                <td>Форсунка</td>
                <td>мод. 273-51<br>
                    (с 5-ти сопловым распылитетем)</td>
            </tr>
            <tr>
                <td>Напряжение, B</td>
                <td>24</td>
            </tr>
            <tr>
                <td>Мощность генератора, Вт</td>
                <td>800 или 1000 или 2000</td>
            </tr>
            <tr>
                <td>Рекомендуемая емкость аккумулятора, Ампер/час</td>
                <td>190</td>
            </tr>
            <tr>
                <td>Емкость системы охлаждения (только двигателя), л</td>
                <td>18</td>
            </tr>
            <tr>
                <td>Температура открытия термостата, °С</td>
                <td>80</td>
            </tr>
            <tr>
                <td>Максимально допустимая температура, °С</td>
                <td>98</td>
            </tr>
            <tr>
                <td>Давление открытия выпускного клапана<br>
                    пробки расширительного бачка, кПа</td>
                <td>65</td>
            </tr>
            <tr>
                <td>Расход охлаждающей жидкости через радиатор<br>
                    при 2200 об/мин и сопротивлении внешней сети системы охлаждения 35 кПа, л/мин, не менее</td>
                <td>300</td>
            </tr>
            <tr>
                <td>Максимальное разрежение, кПа</td>
                <td>7</td>
            </tr>
            <tr>
                <td>Максимальное противодавление после турбокомпрессора, кПа</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Заправочная емкость системы смазки двигателя, л</td>
                <td>28</td>
            </tr>
            <tr>
                <td>Допускаемый крен&nbsp;продольный, °</td>
                <td>30</td>
            </tr>
            <tr>
                <td>Допускаемый крен&nbsp;поперечный, °</td>
                <td>20</td>
            </tr>
            <tr>
                <td>при 600 об/мин, МПа</td>
                <td>0,1</td>
            </tr>
            <tr>
                <td>при 2200 об/мин, МПа</td>
                <td>0,4</td>
            </tr>
            <tr>
                <td>Рекомендованная к применению охлаждающая жидкость:</td>
                <td>ТОСОЛ А40</td>
            </tr>
         
            <tr>
                <td>Периодичность смены масла</td>
                <td>каждые 16 000 км или 250 м/ч</td>
            </tr>
        </tbody>
    </table>

<p>
    Этот двигатель получил самое широкое применение в серийных автомобилях производства ПАО "КамАЗ" с 2005 года и по
    сегодняшний день. Двигатель КамАЗ 740.30 мощностью 260 л.с. выпускался ранее как двигатель евро 2 и устанавливался на
    многие серийные автомобили КамАЗ.
</p>



    <p></p>
    <p></p>

    {% include kupite_u_nas.html %}

    <p></p>
    <p></p>
    

</div>