---
layout: default_info
title: Купить двигатель КамАЗ 740.50-360 (Евро-2-3) для автомобилей КамАЗ 6520, тягачи 6460, 5460. Цена. Доставка. 
description: Купить двигатель КамАЗ 740.50-360 (Евро-2-3) 740.50-1000400, в наличии с доставкой по всей России.
keywords: двигатель 740.50-1000400, купить, продажа, цена, стоимость
hero-title: Двигатели КамАЗ-740
h1: Двигатель КамАЗ 740.50-360 (Евро-2-3)
h2: Описание, Цены и характеристики. 740.50-360 (Евро-2-3)
categories: [<a href="/agregaty/dvigateli/index.html">Двигатели КАМАЗ 740</a> ]
---

<!-- Товар  -->
<div id="740-10"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.agregaty | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}


<!-- Html описание -->
<div class="col-md-10 col-xs-12" style="margin: auto;">
    <h3>Описание и особенности:</h3>
    <p>
        По выбросам вредных веществ с отработавшими газами двигатель 740.50-360 соответствуют требованиям правил ЕЭК ООН
        (EURO-2).
    </p>
    <p>
        Расход масла на угар — не более 0,2% от расхода топлива. Ресурс — 800 тыс. км пробега
    </p>

    <p>Система смазки - комбинированная.
    
        Система питания - разделенного типа с V-образным или рядным насосом высокого давления с механическим или электронным
        регулятором.
    </p>
    <p></p>
    <p></p>



    <h3>Возможные комплектации двигателя 740.50-360 </h3>

    Полная комплектация двигателя — 740.50-1000400.<br>
    Без навесного оборудования — 740.50-1000450.<br>
    Артикулы различных модификаций двигателя КАМАЗ 740.50:<br>
    740.50-1000400-20, <br>740.50-1000400-21, <br>740.50-1000400-22, <br>740.50-1000400-26, <br>740.50-1000400-28, <br>740.50-1000400-45, 
    740.50-1000400-62, <br>740.50-1000400-71, <br>740.50-1000400-91, <br>740.50-1000401-04, <br>740.50-1000401-91, <br>740.50-1000412-02, 
    740.50-1000412-03, <br>740.50-1000412-08, <br>740.50-1000412-16, <br>740.50-1000412-24.
    
    <p></p>
    <p></p>

    <h3>Технические характеристики двигателя КамАЗ 740.50-360</h3>

    <table class="table table-hover table-striped" style="width:auto;">
                    <tbody>
                        <tr>
                            <td>Параметр</td>
                            <td>Модель 740.50-360</td>
                        </tr>
                        <tr>
                            <td>Тип двигателя</td>
                            <td>четырехтактный, с воспламенением от сжатия</td>
                        </tr>
                        <tr>
                            <td>Порядок работы цилиндров</td>
                            <td>1-5-4-2-6-3-7-8</td>
                        </tr>
                        <tr>
                            <td>Направление вращения коленчатого вала</td>
                            <td>правое (против часовой стрелки, если смотреть со стороны маховика)</td>
                        </tr>
                        <tr>
                            <td>Диаметр цилиндров и ход поршня, мм</td>
                            <td>120x130</td>
                        </tr>
                        <tr>
                            <td>Рабочий объем, л.</td>
                            <td>11.76</td>
                        </tr>
                        <tr>
                            <td>Номинальная мощность, кВт (л.с.)</td>
                            <td>265 (360)</td>
                        </tr>
                        <tr>
                            <td>Максимальный крутящий момент, Н м (кгс-м)</td>
                            <td>1470(150)</td>
                        </tr>
                        <tr>
                            <td>Установочный угол опережения впрыскивания топлива, град.</td>
                            <td>9+1</td>
                        </tr>
                        <tr>
                            <td>Степень сжатия</td>
                            <td>16.8 (±2)</td>
                        </tr>
                        <tr>
                            <td colspan="2">Частота вращения коленчатого вала, мин<sup>-1</sup>:</td>
                        </tr>
                        <tr>
                            <td>- номинальная</td>
                            <td>2200±50</td>
                        </tr>
                        <tr>
                            <td>- при максимальном крутящем моменте на холостом ходу:</td>
                            <td>1300...1500</td>
                        </tr>
                        <tr>
                            <td>- минимальная</td>
                            <td>600±20</td>
                        </tr>
                        <tr>
                            <td>- максимальная</td>
                            <td>2530-80</td>
                        </tr>
                        <tr>
                            <td>Количество клапанов в головке цилиндра</td>
                            <td>2 (впускной и выпускной)</td>
                        </tr>
                        <tr>
                            <td colspan="2">Зазоры на холодном двигателе, между коромыслами и стержнями клапанов:</td>
                        </tr>
                        <tr>
                            <td>впускных</td>
                            <td>0,25... 0,30 мм</td>
                        </tr>
                        <tr>
                            <td>выпускных</td>
                            <td>0,35...0,40 мм</td>
                        </tr>
                        <tr>
                            <td colspan="2">Давление масла в прогретом двигателе при частоте вращения коленчатого вала, кПа (кгс/см<sup>2</sup>):</td>
                        </tr>
                        <tr>
                            <td>номинальной</td>
                            <td>392...539 (4...5,5)</td>
                        </tr>
                        <tr>
                            <td>минимальной холостого хода, не менее</td>
                            <td>98(1)</td>
                        </tr>
                        <tr>
                            <td>Форсунка, тип</td>
                            <td>273</td>
                        </tr>
                        <tr>
                            <td>Модели с распылителем производства «ЯЗДА»</td>
                            <td>273.1112010-20 (273-20), 273.1112110-20 или 273.1112010-50 (273-50)</td>
                        </tr>
                        <tr>
                            <td>Модели с распылителем производства ф. «БОШ»</td>
                            <td>DLLA 148 S 1380</td>
                        </tr>
                        <tr>
                            <td>Давление начала впрыскивания форсунки, МПа (кгс/см<sup>2</sup>)</td>
                            <td>23,73...24.90 (242...254)</td>
                        </tr>
                        <tr>
                            <td>Топливный насос высокого давления (ТНВД) модели</td>
                            <td>337-20.04</td>
                        </tr>
                        <tr>
                            <td>Система наддува</td>
                            <td>газотурбинная, с двумя турбокомпрессорами и ОНВ типа «воздух-воздух»</td>
                        </tr>
                        <tr>
                            <td colspan="2">Генератор мод. 6582.3701:</td>
                        </tr>
                        <tr>
                            <td>номинальный ток. А</td>
                            <td>75</td>
                        </tr>
                        <tr>
                            <td>номинальное выпрямленное напряжение, В</td>
                            <td>28</td>
                        </tr>
                        <tr>
                            <td>номинальная мощность, кВт.</td>
                            <td>2,0</td>
                        </tr>
                        <tr>
                            <td colspan="2">Стартер 5662.3708 постоянного тока, последовательного возбуждения, с электромагнитным приводом</td>
                        </tr>
                        <tr>
                            <td>номинальная мощность, кВт</td>
                            <td>8,2</td>
                        </tr>
                        <tr>
                            <td>Коробка передач модели ZF - 16S151</td>
                            <td>Механическая, шестнадцати-ступенчатая. Включает основную четырехступенчатую коробку с встроенным двухступенчатым делителем, расположенным впереди основной коробки и с двухступенчатым планетарным демультипликатором, расположенным сзади основной коробки.</td>
                        </tr>
                    </tbody>
                    </table>

    
    <p></p>

    <h3>Применяемость силовых агрегатов с двигателями модели 740.50-360 на автомобилях КАМАЗ</h3>
    <table class="table table-harki table-striped table-sm table-hover table-responsive-sm wa">
        <tbody>
        <tr>
        <td><strong>Автомобиль</strong></td>
        <td><strong>Силовой агрегат "250"</strong></td>
        <td><strong>Двигатель "400"</strong></td>
        <td><strong>КП мод.</strong></td>
        <td><strong>Сцепление (мод.)</strong></td>
        <td><strong>ТНВД мод.</strong></td>
        <td><strong>ГУР мод.</strong></td>
        <td><strong>ТКР</strong></td>
        </tr>
        <tr>
        <td rowspan="4">6520</td>
        <td>6520-1000251- 90</td>
        <td>740.50-1000400-26</td>
        <td rowspan="2">ZF16S151</td>
        <td rowspan="2">MFZ 430</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>7С-6</td>
        </tr>
        <tr>
        <td>6520-1000251- 91</td>
        <td>740.50-1000400-27</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>Schwinzer</td>
        </tr>
        <tr>
        <td>6520-1000251- 92</td>
        <td>740.501000400-28</td>
        <td rowspan="2">ZF16S151</td>
        <td rowspan="2">MFZ 430</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>7С-6</td>
        </tr>
        <tr>
        <td>6520-1000251- 93</td>
        <td>740.50-1000400-29</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>Schwinzer</td>
        </tr>
        <tr>
        <td rowspan="2">6250</td>
        <td>6520-1000252- 96</td>
        <td>740.501000400-26</td>
        <td rowspan="2">ZF 16S 151 (с дублирующим насосом)&nbsp;</td>
        <td rowspan="2">MFZ 430</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>7С-6</td>
        </tr>
        <tr>
        <td>6520-1000252- 97</td>
        <td>740.50-1000400-27</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>Schwinzer</td>
        </tr>
        <tr>
        <td>6460</td>
        <td>6460-1000251- 91</td>
        <td>740.50-1000400-29</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>Schwinzer</td>
        </tr>
        <tr>
        <td rowspan="2">65225</td>
        <td>65225- 1000250-90</td>
        <td>740.50-1000401-90</td>
        <td rowspan="2">ZF 16S 151</td>
        <td rowspan="2">MFZ 430</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>7С-6</td>
        </tr>
        <tr>
        <td>65225- 1000250-91</td>
        <td>740.50-1000401-91</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>Schwinzer</td>
        </tr>
        <tr>
        <td rowspan="4">6460</td>
        <td>6460-1000250- 04</td>
        <td>740.501000400-28</td>
        <td rowspan="2">ZF16S151</td>
        <td rowspan="2">MFZ 430</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>7С-6</td>
        </tr>
        <tr>
        <td>6460-1000250- 05</td>
        <td>740.50-1000400-29</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>Schwinzer</td>
        </tr>
        <tr>
        <td>6460-1000250- 06</td>
        <td>740.50-1000400-26</td>
        <td rowspan="2">ZF16S151</td>
        <td rowspan="2">MFZ 430</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>7С-6</td>
        </tr>
        <tr>
        <td>6460-1000250- 07</td>
        <td>740.50-1000400-27</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>Schwinzer</td>
        </tr>
        <tr>
        <td rowspan="2">5360</td>
        <td>5360-1000257</td>
        <td>740.50-1000400-30</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005 -20.04</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>5360- 1000/257-01</td>
        <td>740.50-1000400-31</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005 -20.04</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td rowspan="6">5360</td>
        <td>5360- 1000257-20</td>
        <td>740.50-1000400-70</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005 -20.04</td>
        <td>6520</td>
        <td>ТКР 7C-6</td>
        </tr>
        <tr>
        <td>5360- 1000257-21</td>
        <td>740.50-1000400-71</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005 -20.04</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>5360-1000257- 90</td>
        <td>740.501/400-72</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>7С-6</td>
        </tr>
        <tr>
        <td>5360-1000257- 91</td>
        <td>740.50-1000400-73</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>Schwinzer</td>
        </tr>
        <tr>
        <td>5360-1000257- 92</td>
        <td>740.50-1000400-72</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0402648609 ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>7С-6</td>
        </tr>
        <tr>
        <td>5360-1000257- 93</td>
        <td>740.50-1000400-73</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>Schwinzer</td>
        </tr>
        <tr>
        <td>5460</td>
        <td>5460-1000267- 01</td>
        <td>740.50-1000400-51</td>
        <td>16S151</td>
        <td>MFZ 430</td>
        <td>3371.1111005 -20.04</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td rowspan="2">5460 тропики</td>
        <td>5460-1000267- 90</td>
        <td>740.50-1000400-78</td>
        <td>16S151</td>
        <td>MFZ 430</td>
        <td>3371.1111005 -20.04</td>
        <td>6520</td>
        <td>7С-6</td>
        </tr>
        <tr>
        <td>5460-1000267- 91</td>
        <td>740.50-1000400-79</td>
        <td>16S151</td>
        <td>MFZ 430</td>
        <td>0402648609 БОШ</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td rowspan="4">6350</td>
        <td>6350-1000251</td>
        <td>740.50-1000413</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>3371.1111005 -20.04</td>
        <td>6540</td>
        <td>ТКР 7C-6</td>
        </tr>
        <tr>
        <td>6350-1000251- 01</td>
        <td>740.50-1000413-01</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>3371.1111005 -20.04</td>
        <td>6540</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6350-1000252</td>
        <td>740.50-1000413</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>3371.1111005 -20.04</td>
        <td>6540</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6350- 1000252-01</td>
        <td>740.50-1000413-01</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>3371.1111005 -20.04</td>
        <td>6540</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6350 (Мустанг)</td>
        <td>6350-1000260</td>
        <td>740.50-1000412-02</td>
        <td>161</td>
        <td>19.1600010</td>
        <td>337.1111005- 50.02</td>
        <td>6540</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td rowspan="4">6350</td>
        <td>6350-1000261</td>
        <td>740.50-1000412-02</td>
        <td rowspan="2">2392.17000 025-20</td>
        <td rowspan="2">23.1600010</td>
        <td rowspan="2">337.1111005- 50.02</td>
        <td rowspan="2">6540</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6350-1000261 -01</td>
        <td>740.50-1000412-03</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6350-1000261 -11</td>
        <td>740.50-1000412-03</td>
        <td rowspan="2">2392.17000 025-20</td>
        <td rowspan="2">23.1600010</td>
        <td rowspan="2">337.1111005- 50.02</td>
        <td rowspan="2">6540</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6350-1000261- 10</td>
        <td>740.50-1000412-02</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td rowspan="8">6460</td>
        <td>6460-1000250</td>
        <td>740.50-1000400-20</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005 -20.04</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6460-1000250- 01</td>
        <td>740.50-1000400-21</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005 -20.04</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6460-1000250- 02</td>
        <td>740.50-1000400-22 (740.6638)</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005 -20.04</td>
        <td>6520</td>
        <td>ТКР 7C-6</td>
        </tr>
        <tr>
        <td>6460-1000250- 03</td>
        <td>740.50-1000400-23 (740.6638)</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005 -20.04</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6460-1000250- 04</td>
        <td>740.501/400-28</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>7С-6</td>
        </tr>
        <tr>
        <td>6460-1000250- 05</td>
        <td>740.50-1000400-29</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>Schwinzer</td>
        </tr>
        <tr>
        <td>6460-1000250- 06</td>
        <td>740.50-1000400-26</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>7С-6</td>
        </tr>
        <tr>
        <td>6460-1000250- 07</td>
        <td>740.50-1000400-27</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0 402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>Schwinzer</td>
        </tr>
        <tr>
        <td><strong>Автомобиль</strong></td>
        <td><strong>Силовой агрегат "250"</strong></td>
        <td><strong>Двигатель "400"</strong></td>
        <td><strong>КП мод.</strong></td>
        <td><strong>Сцепление (мод.)</strong></td>
        <td><strong>ТНВД мод.</strong></td>
        <td><strong>ГУР мод.</strong></td>
        <td><strong>ТКР</strong></td>
        </tr>
        <tr>
        <td rowspan="31">6460</td>
        <td>6460- 1000250-10</td>
        <td>740.50-1000400-44</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.111120. 04</td>
        <td>6520</td>
        <td>7С-6</td>
        </tr>
        <tr>
        <td>6460- 1000250-11</td>
        <td>740.50-1000400-45</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.111120.0 4</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6460- 1000250-12</td>
        <td>740.50-1000400-46</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.111120.0 4</td>
        <td>6520</td>
        <td>7С-6</td>
        </tr>
        <tr>
        <td>6460- 1000250-13</td>
        <td>740.50-1000400-47</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.111120.0 4</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6460- 1000250-12</td>
        <td>740.50-1000400-46</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.111120.0 4</td>
        <td>6520</td>
        <td>7С-6</td>
        </tr>
        <tr>
        <td>6460- 1000250-13</td>
        <td>740.50-1000400-47</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.111120.0 4</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6460- 1000250-92</td>
        <td>740.50-1000400-90</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>0 402648609 ф. БОШ</td>
        <td>6520</td>
        <td>7С-6</td>
        </tr>
        <tr>
        <td>6460- 1000250-93</td>
        <td>740.50-1000400-91</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>0 402648609 ф. БОШ</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6460- 1000250-94</td>
        <td>740.50-1000400-92</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>0 402648609 ф. БОШ</td>
        <td>6520</td>
        <td>7С-6</td>
        </tr>
        <tr>
        <td>6460- 1000250-95</td>
        <td>740.50-1000400-93</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>0 402648609 ф. БОШ</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6460-1000251</td>
        <td>740.50-1000400-20</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005 -20.04</td>
        <td>6520</td>
        <td>ТКР 7C-6</td>
        </tr>
        <tr>
        <td>6460-1000251- 01</td>
        <td>740.50-1000400-21</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005 -20.04</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6460-1000251- 02</td>
        <td>740.50-1000400-22</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005 -20.04</td>
        <td>6520</td>
        <td>ТКР 7C-6</td>
        </tr>
        <tr>
        <td>6460-1000251- 03</td>
        <td>740.50-1000400-23 (740.6638)</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005 -20.04</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6460- 1000251-10</td>
        <td>740.50-1000400-44 (740.8758)</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005 -20.04</td>
        <td>6520</td>
        <td>7С-6</td>
        </tr>
        <tr>
        <td>6460- 1000251-11</td>
        <td>740.50-1000400-45</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005 -20.04</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6460- 1000251-12</td>
        <td>740.50-1000400-46</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005 20.04</td>
        <td>6520</td>
        <td>7С-6</td>
        </tr>
        <tr>
        <td>6460- 1000251-13</td>
        <td>740.50-1000400-47</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005. 20.04</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6460-1000251- 91</td>
        <td>740.50-1000400-29</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>Schwinzer</td>
        </tr>
        <tr>
        <td>6460-1000251- 92</td>
        <td>740.50-1000400-26</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>7С-6</td>
        </tr>
        <tr>
        <td>6460-1000251- 93</td>
        <td>740.50-1000400-27</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0 402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>Schwinzer</td>
        </tr>
        <tr>
        <td>6460- 1000251-94</td>
        <td>740.50-1000400-90</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>0 402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>7С-6</td>
        </tr>
        <tr>
        <td>6460- 1000251-95</td>
        <td>740.50-1000400-91</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>0 402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6460- 1000251-96</td>
        <td>740.50-1000400-92</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>0 402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>7С-6</td>
        </tr>
        <tr>
        <td>6460- 1000251-97</td>
        <td>740.50-1000400-93</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>0 402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6460-1000257</td>
        <td>740.50-1000400-30</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005. 20.04</td>
        <td>6520</td>
        <td>ТКР 7C-6</td>
        </tr>
        <tr>
        <td>6460-1000257- 10</td>
        <td>740.50-1000400-40</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005. 20.04</td>
        <td>6520</td>
        <td>ТКР 7C-6</td>
        </tr>
        <tr>
        <td>6460-1000257- 11</td>
        <td>740.50-1000400-41</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005. 20.04</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6460-1000257- 01</td>
        <td>740.50-1000400-31</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005. 20.04</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6460-1000257- 20</td>
        <td>740.50-1000400-20</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005. 20.04</td>
        <td>6520</td>
        <td>ТКР 7C-6</td>
        </tr>
        <tr>
        <td>6460-1000257- 21</td>
        <td>740.50-1000400-21</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005. 20.04</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td rowspan="5">6460 <br />(правый руль)&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>6460-1000257- 25</td>
        <td>740.50-1000400-25</td>
        <td>ZF 16S 151 RHD</td>
        <td>MFZ 430</td>
        <td>3371.1111005. 20.04</td>
        <td>6540- 60</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6460-1000257- 55</td>
        <td>740.50-1000400-55</td>
        <td>ZF 16S 151 RHD</td>
        <td>MFZ 430</td>
        <td>0 402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6540- 60</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6460-1000257- 56</td>
        <td>740.50-1000400-56 (740.9075)</td>
        <td>ZF 16S 151 RHD</td>
        <td>MF 430</td>
        <td>0 402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6540- 60</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6460-1000257- 90</td>
        <td>740.501/400-72 (740.9476)</td>
        <td>16S151</td>
        <td>MFZ 430</td>
        <td>0 402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>7С-6</td>
        </tr>
        <tr>
        <td>6460-1000257- 91</td>
        <td>740.50-1000400-73</td>
        <td>16S151</td>
        <td>MFZ 430</td>
        <td>0 402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>Schwinzer</td>
        </tr>
        <tr>
        <td rowspan="18">6520</td>
        <td>6520-1000251</td>
        <td>740.50-1000400-62</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005. 20.04</td>
        <td>6520</td>
        <td>7С-6</td>
        </tr>
        <tr>
        <td>6520- 1000251-01</td>
        <td>740.50-1000400-63</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005. 20.04</td>
        <td>6520</td>
        <td>Schwinzer</td>
        </tr>
        <tr>
        <td>6520- 1000251-03</td>
        <td>740.50-1000400-62</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005. 20.04</td>
        <td>6520</td>
        <td>7С-6</td>
        </tr>
        <tr>
        <td>6520- 1000251-04</td>
        <td>740.50-1000400-63</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005. 20.04</td>
        <td>6520</td>
        <td>Schwinzer</td>
        </tr>
        <tr>
        <td>6520-1000251- 05</td>
        <td>740.50-1000400-20</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005. 20.04</td>
        <td>6520</td>
        <td>ТКР 7C-6</td>
        </tr>
        <tr>
        <td>6520-1000251- 06</td>
        <td>740.50-1000400-21</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005. 20.04</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6520-1000251- 80</td>
        <td>740.50-1000400-32</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430N</td>
        <td>0 402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>ТКР 7C-6</td>
        </tr>
        <tr>
        <td>6520-1000251- 81</td>
        <td>740.50-1000400-33</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430N</td>
        <td>0 402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>Ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6520-1000251- 82</td>
        <td>740.50-1000400-34</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430N</td>
        <td>0 402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>ТКР 7C-6</td>
        </tr>
        <tr>
        <td>6520-1000251- 82</td>
        <td>740.50-1000400-35</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430N</td>
        <td>0 402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6520-1000251- 90</td>
        <td>740.50-1000400-92</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0 402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>7С-6</td>
        </tr>
        <tr>
        <td>6520-1000251- 91</td>
        <td>740.50-1000400- 93</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0 402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6520-1000251- 92</td>
        <td>740.5001000400-28</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>7С-6</td>
        </tr>
        <tr>
        <td>6520-1000251- 93</td>
        <td>740.50-1000400-29</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>Schwinzer</td>
        </tr>
        <tr>
        <td>6520-1000252- 96</td>
        <td>740.50-1000400-90</td>
        <td>ZF 16S 151 (с дублирующим насосом)</td>
        <td>MFZ 430</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>7С-6</td>
        </tr>
        <tr>
        <td>6520-1000252- 97</td>
        <td>740.1000400-91</td>
        <td>ZF 16S 151 (с дублирующим насосом)</td>
        <td>MFZ 430</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>Schwinzer</td>
        </tr>
        <tr>
        <td>6520-1000252- 98</td>
        <td>740.50-1000400-90</td>
        <td>ZF 16S 151 (с дублирующим насосом)</td>
        <td>MFZ 430</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>7С-6</td>
        </tr>
        <tr>
        <td>6520-1000252- 99</td>
        <td>740.1000400-91</td>
        <td>ZF 16S 151 (с дублирующим насосом)</td>
        <td>MFZ 430</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>Schwinzer</td>
        </tr>
        <tr>
        <td rowspan="8">6520- бетоносмеситель&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>6520-1000253- 10</td>
        <td>740.50-1000405</td>
        <td>ЯМЗ 2392</td>
        <td>ЯМЗ 184</td>
        <td>3371.1111005. 20.04</td>
        <td>6540-60</td>
        <td>7С-6</td>
        </tr>
        <tr>
        <td>6520-1000253- 11</td>
        <td>740.50-1000405-01</td>
        <td>ЯМЗ 2392</td>
        <td>ЯМЗ 184</td>
        <td>3371.1111005. 20.04</td>
        <td>6540-60</td>
        <td>Schwinzer</td>
        </tr>
        <tr>
        <td>6520-1000253- 12</td>
        <td>740.50-1000405-02</td>
        <td>ЯМЗ 2392</td>
        <td>ЯМЗ 184</td>
        <td>3371.1111005. 20.04</td>
        <td>6540-60</td>
        <td>7С-6</td>
        </tr>
        <tr>
        <td>6520-1000253- 13</td>
        <td>740.50-1000405-03</td>
        <td>ЯМЗ 2392</td>
        <td>ЯМЗ 184</td>
        <td>3371.1111005. 20.04</td>
        <td>6540-60</td>
        <td>Schwinzer</td>
        </tr>
        <tr>
        <td>6520-1000253- 90</td>
        <td>740.50-1000405-90</td>
        <td>ЯМЗ 2392</td>
        <td>ЯМЗ 184</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6540-60</td>
        <td>7С-6</td>
        </tr>
        <tr>
        <td>6520-1000253- 91</td>
        <td>740.50-1000405-91</td>
        <td>ЯМЗ 2392</td>
        <td>ЯМЗ 184</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6540-60</td>
        <td>Schwinzer</td>
        </tr>
        <tr>
        <td>6520-1000253- 92</td>
        <td>740.50-1000405-92</td>
        <td>ЯМЗ 2392</td>
        <td>ЯМЗ 184</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6540-60</td>
        <td>7С-6</td>
        </tr>
        <tr>
        <td>6520-1000253- 93</td>
        <td>740.50-1000405-93</td>
        <td>ЯМЗ 2392</td>
        <td>ЯМЗ 184</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6540-60</td>
        <td>Schwinzer</td>
        </tr>
        <tr>
        <td rowspan="2">65201</td>
        <td>65201- 1000250</td>
        <td>740.50-1000400-44</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005. 20.04</td>
        <td>6520</td>
        <td>7С-6</td>
        </tr>
        <tr>
        <td>65201- 1000250-01</td>
        <td>740.50-1000400-45</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005. 20.04</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td><strong>Автомобиль</strong></td>
        <td><strong>Силовой агрегат "250"</strong></td>
        <td><strong>Двигатель "400"</strong></td>
        <td><strong>КП мод.</strong></td>
        <td><strong>Сцепление (мод.)</strong></td>
        <td><strong>ТНВД мод.</strong></td>
        <td><strong>ГУР мод.</strong></td>
        <td><strong>ТКР</strong></td>
        </tr>
        <tr>
        <td rowspan="28">65201</td>
        <td>65201- 1000250-02</td>
        <td>740.50-1000400-46</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005. 20.04</td>
        <td>6520</td>
        <td>7С-6</td>
        </tr>
        <tr>
        <td>65201- 1000250-03</td>
        <td>740.50-1000400-47</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005. 20.04</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>65201- 1000250-90</td>
        <td>740.50-1000400-90</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>7С-6</td>
        </tr>
        <tr>
        <td>65201- 1000250-91</td>
        <td>740.50-1000400-91</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>65201- 1000250-92</td>
        <td>740.50-1000400-92</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>7С-6</td>
        </tr>
        <tr>
        <td>65201- 1000250-93</td>
        <td>740.50-1000400-93</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>65201- 1000252-02</td>
        <td>740.50-1000400-02</td>
        <td>ZF16S151 с КОМ</td>
        <td>MFZ 430N</td>
        <td>3371.1111005. 20.04</td>
        <td>6540</td>
        <td>ТКР 7C-6</td>
        </tr>
        <tr>
        <td>65201- 1000252-03</td>
        <td>740.50-1000400-03</td>
        <td>ZF16S151 с КОМ</td>
        <td>MFZ 430N</td>
        <td>3371.1111005. 20.04</td>
        <td>6540</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>65201- 1000252-04</td>
        <td>740.50-1000400-04</td>
        <td>ZF16S151 с КОМ</td>
        <td>MFZ 430N</td>
        <td>3371.1111005. 20.04</td>
        <td>6540</td>
        <td>ТКР 7C-6</td>
        </tr>
        <tr>
        <td>65201- 1000252-05</td>
        <td>740.50-1000400-05</td>
        <td>ZF16S151 с КОМ</td>
        <td>MFZ 430N</td>
        <td>3371.1111005. 20.04</td>
        <td>6540</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>65201- 1000252-06</td>
        <td>740.50-1000400-02</td>
        <td>ZF16S151 с КОМ</td>
        <td>MFZ 430N</td>
        <td>3371.1111005. 20.04</td>
        <td>6540</td>
        <td>ТКР 7C-6</td>
        </tr>
        <tr>
        <td>65201- 1000252-07</td>
        <td>740.50-1000400-03</td>
        <td>ZF16S151 с КОМ</td>
        <td>MFZ 430N</td>
        <td>3371.1111005. 20.04</td>
        <td>6540</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>65201- 1000252-08</td>
        <td>740.50-1000400-04</td>
        <td>ZF16S151 с КОМ</td>
        <td>MFZ 430N</td>
        <td>3371.1111005. 20.04</td>
        <td>6540</td>
        <td>ТКР 7C-6</td>
        </tr>
        <tr>
        <td>65201- 1000252-09</td>
        <td>740.50-1000400-05</td>
        <td>ZF16S151 с КОМ</td>
        <td>MFZ 430N</td>
        <td>3371.1111005. 20.04</td>
        <td>6540</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>65201- 1000252-92</td>
        <td>740.50-1000400-80</td>
        <td>ZF16S151 с КОМ</td>
        <td>MFZ 430N</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6540</td>
        <td>ТКР 7C-6</td>
        </tr>
        <tr>
        <td>65201- 1000252-93</td>
        <td>740.50-1000400-81</td>
        <td>ZF16S151 с КОМ</td>
        <td>MFZ 430N</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6540</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>65201- 1000252-94</td>
        <td>740.50-1000400-82</td>
        <td>ZF16S151 с КОМ</td>
        <td>MFZ 430N</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6540</td>
        <td>ТКР 7C-6</td>
        </tr>
        <tr>
        <td>65201- 1000252-95</td>
        <td>740.50-1000400-83</td>
        <td>ZF16S151 с КОМ</td>
        <td>MFZ 430N</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6540</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>65201- 1000252-96</td>
        <td>740.50-1000400-80</td>
        <td>ZF16S151 с КОМ</td>
        <td>MFZ 430N</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6540</td>
        <td>ТКР 7C-6</td>
        </tr>
        <tr>
        <td>65201- 1000252-97</td>
        <td>740.50-1000400-81</td>
        <td>ZF16S151 с КОМ</td>
        <td>MFZ 430N</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6540</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>65201- 1000252-98</td>
        <td>740.50-1000400-82</td>
        <td>ZF16S151 с КОМ</td>
        <td>MFZ 430N</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6540</td>
        <td>ТКР 7C-6</td>
        </tr>
        <tr>
        <td>65201- 1000252-99</td>
        <td>740.50-1000400-83</td>
        <td>ZF16S151 с КОМ</td>
        <td>MFZ 430N</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6540</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>65201-1000257</td>
        <td>740.50-1000400-20</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005. 20.04</td>
        <td>6520</td>
        <td>ТКР 7C-6</td>
        </tr>
        <tr>
        <td>65201- 1000257-01</td>
        <td>740.50-1000400-21</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005. 20.04</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>65201- 1000257-02</td>
        <td>740.50-1000400-20</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005. 20.04</td>
        <td>6520</td>
        <td>ТКР 7C-6</td>
        </tr>
        <tr>
        <td>65201- 1000257-03</td>
        <td>740.50-1000400-21</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005. 20.04</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>65201- 1000257-90</td>
        <td>740.50-1000400-74</td>
        <td>ZF16S151 с КОМ</td>
        <td>MFZ 430N</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6540</td>
        <td>ТКР 7C-6</td>
        </tr>
        <tr>
        <td>65201- 1000257-91</td>
        <td>740.50-1000400-75</td>
        <td>ZF16S151 с КОМ</td>
        <td>MFZ 430N</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6540</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td rowspan="15">65221</td>
        <td>65221-1000250</td>
        <td>740.50-1000401-10</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005. 20.04</td>
        <td>6520</td>
        <td>ТКР 7C-6</td>
        </tr>
        <tr>
        <td>65221- 1000250-01</td>
        <td>740.50-1000401-11</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005. 20.04</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>65221- 1000250-01</td>
        <td>740.50-1000401-13</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005. 20.04</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>65221- 1000250-04</td>
        <td>740.50-1000401-10</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005. 20.04</td>
        <td>6520</td>
        <td>ТКР 7C-6</td>
        </tr>
        <tr>
        <td>65221- 1000250-05</td>
        <td>740.50-1000401-11</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005. 20.04</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>65221- 1000250-06</td>
        <td>740.50-1000401-12</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005. 20.04</td>
        <td>6520</td>
        <td>ТКР 7C-6</td>
        </tr>
        <tr>
        <td>65221- 1000250-07</td>
        <td>740.50-1000401-13</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005. 20.04</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>65221- 1000250-10</td>
        <td>740.50-1000401-94</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>ТКР 7C-6</td>
        </tr>
        <tr>
        <td>65221- 1000250-11</td>
        <td>740.50-1000401- 95</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>65221- 1000250-12</td>
        <td>740.50-1000401-96</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>ТКР 7C-6</td>
        </tr>
        <tr>
        <td>65221- 1000250-13</td>
        <td>740.50-1000401-97</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>65221- 1000250-14</td>
        <td>740.50-1000401-94</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>ТКР 7C-6</td>
        </tr>
        <tr>
        <td>65221- 1000250-15</td>
        <td>740.50-1000401- 95</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>65221- 1000250-16</td>
        <td>740.50-1000401-96</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>ТКР 7C-6</td>
        </tr>
        <tr>
        <td>65221- 1000250-17</td>
        <td>740.50-1000401-97</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td rowspan="10">65224</td>
        <td>65224-1000250</td>
        <td>740.50-1000400-16</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005. 20.04</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>65224-1000250- 10</td>
        <td>740.50-1000400-16</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005. 20.04</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>65225-1000250</td>
        <td>740.50-1000401</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005. 20.04</td>
        <td>6520</td>
        <td>ТКР 7C-6</td>
        </tr>
        <tr>
        <td>65225-1000250- 01</td>
        <td>740.50-1000401-01</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005. 20.04</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>65225-100025002 (Э1506)</td>
        <td>740.50-1000401</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005. 20.04</td>
        <td>6520</td>
        <td>ТКР 7C-6</td>
        </tr>
        <tr>
        <td>65225-100025003 (Э1506)</td>
        <td>740.50-1000401-01</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005. 20.04</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>65225-1000250- 04</td>
        <td>740.50-1000401-02</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005. 20.04</td>
        <td>6520</td>
        <td>ТКР 7C-6</td>
        </tr>
        <tr>
        <td>65225-1000250- 05</td>
        <td>740.50-1000401-03</td>
        <td>ZF 16S 151</td>
        <td>MFZ430</td>
        <td>3371.1111005. 20.04</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>65225-1000250- 06</td>
        <td>740.50-1000401-02</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005. 20.04</td>
        <td>6520</td>
        <td>ТКР 7C-6</td>
        </tr>
        <tr>
        <td>65225-1000250- 07</td>
        <td>740.50-1000401-03</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005. 20.04</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td rowspan="8">65225</td>
        <td>65225- 1000250-90</td>
        <td>740.50-1000401-90</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>ТКР 7C-6</td>
        </tr>
        <tr>
        <td>65225- 1000250-91</td>
        <td>740.50-1000401-91</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>65225- 1000250-92</td>
        <td>740.50-1000401-90</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>ТКР 7C-6</td>
        </tr>
        <tr>
        <td>65225- 1000250-93</td>
        <td>740.50-1000401-91</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>65225-1000250- 94</td>
        <td>740.50-1000401-92</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>ТКР 7C-6</td>
        </tr>
        <tr>
        <td>65225-1000250- 95</td>
        <td>740.50-1000401-93</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>65225-1000250- 96</td>
        <td>740.50-1000401-92</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>ТКР 7C-6</td>
        </tr>
        <tr>
        <td>65225-1000250- 97</td>
        <td>740.50-1000401-93</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>0402648609 Ф. &laquo;БОШ&raquo;</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td rowspan="2">6550</td>
        <td>6550-1000250</td>
        <td>740.50-1000400-20</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005. 20.04</td>
        <td>6520</td>
        <td>ТКР 7C-6</td>
        </tr>
        <tr>
        <td>6550-1000250</td>
        <td>740.50-1000400-21</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005. 20.04</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        </tbody>
        </table>
        <div id="gtx-trans" style="position: absolute; left: 734.788px; top: 6099.7px;">
        <div class="gtx-trans-icon">&nbsp;</div>
        </div>

    <p></p>
    <p></p>

    <!-- {% include kupite_u_nas.html %} -->
    
    <p></p>
    <p></p>
    
</div>