---
layout: default_info
title: Двигатель КАМАЗ 740.11 Евро-1 240 л.с. • Купить новые и ремонтные
description: Купить двигатель КАМАЗ 740.11-240 (Евро-1) артикул 740.13-1000400, в наличии с доставкой по всей России. Новые ПАО КАМАЗ, РемДизель, с разбора, оригинал, аналоги, бу восстановленный, капремонт.
keywords: двигатель 740.13-1000400, купить, продажа, цена, стоимость
hero-title: Двигатели КамАЗ-740
h1: Двигатель КАМАЗ 740.11-240 (Евро-1).
h2: 740.11-1000400
categories: [<a href="/agregaty/dvigateli/index.html">Двигатели КАМАЗ 740</a> ]
---

<!-- Товар  -->
<div id="740-10"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.agregaty | where:"url", page_url | first  %}
{%- if product -%} {% include card_zapchasti.html product = product %} {%- endif -%}


<div class="col-md-10 col-xs-12 text-right w-100">
    <a class="btn btn-secondary" href="/dvigatel_zapchasti/category/zapchasi-na-dvigatel-kamaz-740-11-evro-1.html"> Запчасти на двигатель КамАЗ Евро-1</a>
  </div>

<!-- Html описание -->
<div class="col-md-10 col-xs-12" style="margin: auto;">
    <h3>Описание и особенности:</h3>

    <p>
        
    </p>
    <p>
        Близкий аналог модель - двигатель КАМАЗ <a href="/agregaty/dvigateli/dvigatel_kamaz_740_13-260_evro-1.html">740.13-260</a>.
    </p>


    <p></p>
    <p></p>



    <h3>Комплектации двигатель КАМАЗ 740.11-240 (Евро-1) </h3>
    <p>
        Полная комплектация двигателя — 740.11-1000400.<br>
        1-ая комплектация двигателя, с навесным оборудованием (400-комплектация): с генератором, компрессором, насосом ГУР, стартером (исключение двигатели евро-0 и евро-1), без сцепления. 
    <br>400-ая комплектация - стандартная для заднеприводных шасси 6*4 или 4*2, обычно отличаются марками турбокомпрессоров и ТНВД.
    <br>401,  410-ая  - со стартером,
    <br>402-ая комплектация - для полноприводных автомобилей. Отличаются поддоном (масляным картером) и масло-заборником;
    <br>406-ая комплектация - автобусная;
    </p><p>
        Без навесного оборудования — 740.11-1000450.<br>
        Возможные обозначения различных модификаций двигателя КАМАЗ 740.11:<br>

    </p>

    <p class="text-center">
        <iframe width="800" height="450" src="https://www.youtube.com/embed/oQh_JOf177U" title="Двигатель Евро-1 740.11 горячая обкатка" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </p>
    <hr>
        <table class="table table-hover table-striped table-responsive-sm" style="width:auto;">
            <tbody>
            <tr>
            <td><strong>Модификация</strong></td>
            <td><strong>применяемость</strong></td>
            </tr>
            <tr>
            <td>740.11-1000400</td>
            <td>КАМАЗ-55111, 53215</td>
            </tr>
            <tr>
            <td>740.11-1000406-07</td>
            <td>КАМАЗ-5297</td>
            </tr>
            <tr>
            <td>740.11-1000406-72</td>
            <td>КАМАЗ-55111, 53215</td>
            </tr>
            <tr>
            <td>740.11-1000409-31</td>
            <td>КАМАЗ-43501</td>
            </tr>
            <tr>
            <td>740.11-1000410-04</td>
            <td>КАМАЗ-55111</td>
            </tr>
            <tr>
            <td>740.11-1000411-01</td>
            <td>КАМАЗ-55111</td>
            </tr>
            <tr>
            <td>740.11-1000411-06</td>
            <td>КАМАЗ-43118, 4326, 4306</td>
            </tr>
            <tr>
            <td>740.11-1000411-72</td>
            <td>КАМАЗ-4925</td>
            </tr>
            <tr>
            <td>740.11-1000412-31</td>
            <td>КАМАЗ-43114, 4326</td>
            </tr>
            <tr>
            <td>740.11-1000412-58</td>
            <td>КАМАЗ-43114</td>
            </tr>
            <tr>
            <td>740.11-1000413-20</td>
            <td>КАМАЗ-55111, 43253</td>
            </tr>
            </tbody>
            </table>
    
    <p></p>
    <p></p>

    <h3>Технические характеристики двигатель КамАЗ 740.11-240 (Евро-1)</h3>

    <table class="table table-hover table-striped table-responsive-sm" style="width:auto;">
            <tbody>
            <tr>
            <td>Экологический класс</td>
            <td>Евро 1</td>
            </tr>
            <tr>
            <td>Номинальная мощность кВт (л.с.)</td>
            <td>176(240)</td>
            </tr>
            <tr>
            <td>Тип топлива</td>
            <td>дизель</td>
            </tr>
            <tr>
            <td>Артикул (каталожный номер)</td>
            <td>740.11-1000400</td>
            </tr>
            <tr>
            <td>Частота вращения коленвала 1/мин</td>
            <td>2200</td>
            </tr>
            <tr>
            <td>При макс. крутящем моменте</td>
            <td>1200-1600</td>
            </tr>
            <tr>
            <td>Частота вращения холостого хода 1/мин Макс.</td>
            <td>2530</td>
            </tr>
            <tr>
            <td>Частота вращения холостого хода 1/мин Мин.</td>
            <td>600 +/-50</td>
            </tr>
            <tr>
            <td>Максимальный крутящий момент Нм(кГм)</td>
            <td>766(78)</td>
            </tr>
            <tr>
            <td>Количество и расположение цилиндров</td>
            <td>8, V-образное</td>
            </tr>
            <tr>
            <td>Мин. удельный расход топлива г/кВт&middot;ч (г/лс&middot;ч)</td>
            <td>207 (152)</td>
            </tr>
            <tr>
            <td>Расход масла (угар) в % от топлива</td>
            <td>0,3</td>
            </tr>
            <tr>
            <td>Угол развала</td>
            <td>90*</td>
            </tr>
            <tr>
            <td>Диаметр цилиндра/ход поршня, мм</td>
            <td>120/120</td>
            </tr>
            <tr>
            <td>Рабочий объем, л.</td>
            <td>10,85</td>
            </tr>
            <tr>
            <td>Степень сжатия</td>
            <td>16</td>
            </tr>
            <tr>
            <td>Порядок работы цилиндров</td>
            <td>1-5-4-2-6-3-7-8</td>
            </tr>
            <tr>
            <td>Направление вращения по ГОСТ 22836-77</td>
            <td>правое</td>
            </tr>
            <tr>
            <td>Масса двигателя в комплектности (брутто), кг</td>
            <td>760</td>
            </tr>
            <tr>
            <td>Заправочная емкость системы смазки двигателя, л.</td>
            <td>26</td>
            </tr>
            <tr>
            <td>Емкость системы охлаждения (только двигателя), л</td>
            <td>18</td>
            </tr>
            <tr>
            <td>Модель ТНВД</td>
            <td>337-40 ЯЗДА</td>
            </tr>
            <tr>
            <td>Форсунка</td>
            <td>273-30</td>
            </tr>
            <tr>
            <td colspan="2">Генератор</td>
            </tr>
            <tr>
            <td>Коробка передач (не комплектуется)</td>
            <td>14-152</td>
            </tr>
            <tr>
            <td>Сцепление (не комплектуется)</td>
            <td>2 диска</td>
            </tr>
            <tr>
            <td>Давление начала впрыскивания, МПа</td>
            <td>21,3-22,3</td>
            </tr>
            </tbody>
            </table>




            {%- include_relative _garantiya.mhtml -%}
    <p></p>
    <p><a href="/agregaty/dvigateli/docs/dvigatel-kamaz-740-11.pdf" target="_blank">Описание двигателя КАМАЗ 740.11</a> </p>
    <p></p>

    
    <p></p>

    {% include kupite_u_nas.html %}

    <p></p>
    <p></p>
    
</div>


