---
layout: default_info
title: Двигатель КамАЗ 740.31А-240 / Евро-2 Автобус (1-диск.сц) - 740.31А-1000400- ЗапКам.ру
description: Продаем Двигатель КамАЗ 740.31А-240 / Евро-2 Автобус (1-диск.сц), на технику КАМАЗ, НЕФАЗ, каталожный номер - 740.31А-1000400 . Новые, с разбора, оригинал, аналоги, бу, капремонт. Цена, доставка, описание, вес, размеры.
keywords:  Двигатель КамАЗ 740.31А-240 / Евро-2 Автобус (1-диск.сц)  740.31А-1000400 завод РемДизель КАМАЗ, под заказ, срок 2-5 недель Двигатели new - КАМАЗ, Нефаз
hero-title: Агрегаты КамАЗ 
h1: Двигатель КамАЗ 740.31А-240 / Евро-2 Автобус (1-диск.сц) 
h2: 740.31А-1000400
phone: 
phone_title: 
categories: [<a href="/agregaty/dvigateli/index.html">Двигатели КАМАЗ 740</a> ]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.agregaty | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12 m-auto">
    <!-- <h3>Описание</h3> -->
    <h3>Комплектации двигателя </h3>
    <p>
    Полная (первая, 400) комплектация двигателя — 740.31-1000400.<br>
    <br>1-ая комплектация двигателя, с навесным оборудованием (400-комплектация): с генератором, компрессором, насосом ГУР, стартером (исключение двигатели евро-0 и евро-1), без сцепления. 
    <br>400-ая комплектация - стандартная для заднеприводных шасси 6*4 или 4*2, обычно отличаются марками турбокомпрессоров и ТНВД.
    <br>401,  410-ая  - со стартером,
    <br>402-ая комплектация - для полноприводных автомобилей. Отличаются поддоном (масляным картером) и масло-заборником;
    <br>406-ая комплектация - автобусная;
    </p><p>
    Без навесного оборудования — 740.31-1000450.<br>
    Артикулы различных модификаций двигателя КАМАЗ 740.31:<br>
    740.31-1000400-04, 
    </p>
    

<h3>Регулировка&nbsp;натяжения поликлинового ремня для двигателей 740.30-260 автобусной комплектации</h3>
<p><strong>Регулировка</strong>&nbsp;натяжения поликлинового ремня для двигателей 740.30-260 автобусной комплектации (рисунок 41) проводить с помощью изменения положения генератора&nbsp;1 в следующей последовательности:</p>
<ul>
<li>ослабить болты 9, 13, гайку стопорную 10 и гайку 12;</li>
<li>переместить генератор 1 с помощью натяжного болта 11;</li>
<li>затянуть болт 9, 13, гайку стопорную 10 и гайку 12.</li>
</ul>
<p>После регулировки проверить натяжение:</p>
<ul>
<li>правильно натянутый ремень при нажатии на середину наибольшей ветви усилием 44,1 &plusmn;5 Н (4,5 &plusmn; 0,5 кгс) должен иметь прогиб - 6... 10 мм.</li>
</ul>

    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    <!-- {% include garantiya.html %} -->
  <div style="height: 80px;">&nbsp;</div>
  
</div>
