---
layout: default_info
title: Купить двигатель КамАЗ 740.51-320 (Евро-2-3) для КамАЗ 6520, тягачи 6460, 5460. Цена. Доставка. 
description: Купить двигатель КамАЗ 740.51-320 (Евро-2-3) 740.51-1000400, в наличии с доставкой по всей России.
keywords: двигатель 740.51-1000400, купить, продажа, цена, стоимость
hero-title: Двигатели КамАЗ-740
h1: Двигатель КамАЗ 740.51-320 (Евро-2-3)
h2:
categories: [<a href="/agregaty/dvigateli/index.html">Двигатели КАМАЗ 740</a> ]
---
<!-- Товар  -->
<div id="740-10"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.agregaty | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}


<!-- Html описание -->
<div class="col-md-10 col-xs-12" style="margin: auto;">
    <h3>Описание и особенности:</h3>
    <p>
        По выбросам вредных веществ с отработавшими газами двигатель 740.51-320 соответствуют требованиям правил ЕЭК ООН
        (EURO-2).
    </p>
    <p>
        Расход масла на угар — не более 0,2% от расхода топлива. Ресурс — 800 тыс. км пробега
    </p>

    <p>Система смазки - комбинированная.
    
        Система питания - разделенного типа с V-образным или рядным насосом высокого давления с механическим или электронным
        регулятором.
    </p>
    <p></p>
    <p></p>



    <h3>Возможные комплектации двигателя 740.51-320 </h3>

    Полная комплектация двигателя — 740.51-1000400.<br>
    Без навесного оборудования — 740.51-1000450.<br>
    Артикулы различных модификаций двигателя КАМАЗ 740.51:<br>

    <p></p>
    <p></p>

    <h3>Технические характеристики двигателя КамАЗ 740.51-320</h3>

    <table class="table table-hover table-striped" style="width:auto;">
                    <tbody>
                        <tr>
                            <td>Параметр</td>
                            <td>Модель 740.51-320</td>
                        </tr>
                        <tr>
                            <td>Тип двигателя</td>
                            <td>четырехтактный, с воспламенением от сжатия</td>
                        </tr>
                        <tr>
                            <td>Порядок работы цилиндров</td>
                            <td>1-5-4-2-6-3-7-8</td>
                        </tr>
                        <tr>
                            <td>Направление вращения коленчатого вала</td>
                            <td>правое (против часовой стрелки, если смотреть со стороны маховика)</td>
                        </tr>
                        <tr>
                            <td>Диаметр цилиндров и ход поршня, мм</td>
                            <td>120x130</td>
                        </tr>
                        <tr>
                            <td>Рабочий объем, л.</td>
                            <td>11.76</td>
                        </tr>
                        <tr>
                            <td>Номинальная мощность, кВт (л.с.)</td>
                            <td>265 (360)</td>
                        </tr>
                        <tr>
                            <td>Максимальный крутящий момент, Н м (кгс-м)</td>
                            <td>1470(150)</td>
                        </tr>
                        <tr>
                            <td>Установочный угол опережения впрыскивания топлива, град.</td>
                            <td>9+1</td>
                        </tr>
                        <tr>
                            <td>Степень сжатия</td>
                            <td>16.8 (±2)</td>
                        </tr>
                        <tr>
                            <td colspan="2">Частота вращения коленчатого вала, мин<sup>-1</sup>:</td>
                        </tr>
                        <tr>
                            <td>- номинальная</td>
                            <td>2200±50</td>
                        </tr>
                        <tr>
                            <td>- при максимальном крутящем моменте на холостом ходу:</td>
                            <td>1300...1500</td>
                        </tr>
                        <tr>
                            <td>- минимальная</td>
                            <td>600±20</td>
                        </tr>
                        <tr>
                            <td>- максимальная</td>
                            <td>2530-80</td>
                        </tr>
                        <tr>
                            <td>Количество клапанов в головке цилиндра</td>
                            <td>2 (впускной и выпускной)</td>
                        </tr>
                        <tr>
                            <td colspan="2">Зазоры на холодном двигателе, между коромыслами и стержнями клапанов:</td>
                        </tr>
                        <tr>
                            <td>впускных</td>
                            <td>0,25... 0,30 мм</td>
                        </tr>
                        <tr>
                            <td>выпускных</td>
                            <td>0,35...0,40 мм</td>
                        </tr>
                        <tr>
                            <td colspan="2">Давление масла в прогретом двигателе при частоте вращения коленчатого вала, кПа (кгс/см<sup>2</sup>):</td>
                        </tr>
                        <tr>
                            <td>номинальной</td>
                            <td>392...539 (4...5,5)</td>
                        </tr>
                        <tr>
                            <td>минимальной холостого хода, не менее</td>
                            <td>98(1)</td>
                        </tr>
                        <tr>
                            <td>Форсунка, тип</td>
                            <td>273</td>
                        </tr>
                        <tr>
                            <td>Модели с распылителем производства «ЯЗДА»</td>
                            <td>273.1112010-20 (273-20), 273.1112110-20 или 273.1112010-50 (273-50)</td>
                        </tr>
                        <tr>
                            <td>Модели с распылителем производства ф. «БОШ»</td>
                            <td>DLLA 148 S 1380</td>
                        </tr>
                        <tr>
                            <td>Давление начала впрыскивания форсунки, МПа (кгс/см<sup>2</sup>)</td>
                            <td>23,73...24.90 (242...254)</td>
                        </tr>
                        <tr>
                            <td>Топливный насос высокого давления (ТНВД) модели</td>
                            <td>337-20.04</td>
                        </tr>
                        <tr>
                            <td>Система наддува</td>
                            <td>газотурбинная, с двумя турбокомпрессорами и ОНВ типа «воздух-воздух»</td>
                        </tr>
                        <tr>
                            <td colspan="2">Генератор мод. 6582.3701:</td>
                        </tr>
                        <tr>
                            <td>номинальный ток. А</td>
                            <td>75</td>
                        </tr>
                        <tr>
                            <td>номинальное выпрямленное напряжение, В</td>
                            <td>28</td>
                        </tr>
                        <tr>
                            <td>номинальная мощность, кВт.</td>
                            <td>2,0</td>
                        </tr>
                        <tr>
                            <td colspan="2">Стартер 5662.3708 постоянного тока, последовательного возбуждения, с электромагнитным приводом</td>
                        </tr>
                        <tr>
                            <td>номинальная мощность, кВт</td>
                            <td>8,2</td>
                        </tr>
                        <tr>
                            <td>Коробка передач модели ZF - 16S151</td>
                            <td>Механическая, шестнадцатиступенчатая. Включает основную четырехступенчатую коробку с встроенным двухступенчатым делителем, расположенным впереди основной коробки и с двухступенчатым планетарным демультипликатором, расположенным сзади основной коробки.</td>
                        </tr>
                    </tbody>
                    </table>

    <p></p>

    <h3>Применяемость силовых агрегатов с двигателями модели 740.51-320 на автомобилях КАМАЗ</h3>
    <table class="table table-harki table-striped table-sm table-hover table-responsive-sm wa">
        <tbody>
        <tr>
        <td><strong>Автомобиль</strong></td>
        <td><strong>Силовой агрегат "250" или комплект для сбыта</strong></td>
        <td><strong>Двигатель "400"</strong></td>
        <td><strong>Привод коробки передач</strong></td>
        <td><strong>КП мод.</strong></td>
        <td><strong>Сцепление, мод.</strong></td>
        <td><strong>ТНВД модели</strong></td>
        <td><strong>ГУР мод.</strong></td>
        <td><strong>ТКР</strong></td>
        </tr>
        <tr>
        <td rowspan="26">6520</td>
        <td>5Э6520-1000252</td>
        <td>740.51-1000400- 20</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>3371.111005- 20.03</td>
        <td>6520</td>
        <td>7С-6</td>
        </tr>
        <tr>
        <td>5Э6520-1000252-01</td>
        <td>740.51-1000400- 21</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6520-1000251-02</td>
        <td>740.51-1000400- 03</td>
        <td>6460-11703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6520-1000251-12</td>
        <td>740.51-1000400- 13</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6520-1000252</td>
        <td>740.51-1000400- 20</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6520-1000252-01</td>
        <td>740.51-1000400- 21</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>3371.1111/005- 20.03</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6520-1000252-02</td>
        <td>740.51-1000400- 22</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6520-1000252-03</td>
        <td>740.51-1000400- 23</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6520-1000252-04</td>
        <td>740.51-1000400- 28</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6520-1000252-05</td>
        <td>740.51-1000400- 29</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6520-1000252-06</td>
        <td>740.51-1000400- 26</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6520-1000252-07</td>
        <td>740.51-1000400- 27</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6520-1000252-08</td>
        <td>740.51-1000400- 20</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6520-1000252-09</td>
        <td>740.51-1000400- 21</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6520-1000252-10</td>
        <td>740.51-1000400- 20</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6520-1000252-11</td>
        <td>740.51-1000400- 21</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6520-1000252-12</td>
        <td>740.51-1000400- 22</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6520-1000252-13</td>
        <td>740.51-1000400- 23</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6520-1000252-14</td>
        <td>740.51-1000400- 26</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6520-1000252-15</td>
        <td>740.51-1000400- 27</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6520-1000252-16</td>
        <td>740.51-1000400- 28</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6520-1000252-17</td>
        <td>740.51-1000400- 29</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6520-1000252-24</td>
        <td>740.51-1000400- 04</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6520-1000252-31</td>
        <td>740.51-1000400- 21</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520-</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6520-1000252-80</td>
        <td>740.51-1000400- 90</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6520-1000252-81</td>
        <td>740.51-1000400- 91</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td rowspan="18">6520</td>
        <td>6520-1000252-82</td>
        <td>740.51-1000400- 92</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6520-1000252-83</td>
        <td>740.51-1000400- 93</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6520-1000252-84</td>
        <td>740.51-1000400- 90</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6520-1000252-85</td>
        <td>740.51-1000400- 91</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6520-1000252-86</td>
        <td>740.51-1000400- 92</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6520-1000252-87</td>
        <td>740.51-1000400- 93</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6520-1000252-90</td>
        <td>740.51-1000400- 28</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6520-1000252-91</td>
        <td>740.51-1000400- 29</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6520-1000252-92</td>
        <td>740.51-1000400- 28</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6520-1000252-93</td>
        <td>740.51-1000400- 29</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6520-1000253</td>
        <td>740.51-1000400- 20</td>
        <td>6520-1703005-39</td>
        <td>ЯМЗ-2392</td>
        <td>ЯМЗ-184</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6520-1000253-01</td>
        <td>740.51-1000400- 21</td>
        <td>6520-17030005-39</td>
        <td>ЯМЗ-2392</td>
        <td>ЯМЗ-184</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td><strong>Силовой агрегат "250" или комплект для сбыта</strong></td>
        <td><strong>Двигатель "400"</strong></td>
        <td><strong>Привод коробки передач</strong></td>
        <td><strong>КП мод.</strong></td>
        <td><strong>Сцепление, мод.</strong></td>
        <td><strong>ТНВД модели</strong></td>
        <td><strong>ГУР мод.</strong></td>
        <td><strong>ТКР</strong></td>
        </tr>
        <tr>
        <td>6520-1000253-70</td>
        <td>740.51-1000405- 20</td>
        <td>6520-1703005-39</td>
        <td>ЯМЗ-2392</td>
        <td>ЯМЗ-184</td>
        <td>337.1111005- 20.03</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6520-1000253-71</td>
        <td>740.51-1000405- 21</td>
        <td>6520-1703005-39</td>
        <td>ЯМЗ-2392</td>
        <td>ЯМЗ-184</td>
        <td>337.1111005- 20.03</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6520-1000254</td>
        <td>740.51-1000400- 20</td>
        <td>6520-1703005-20</td>
        <td>ZF 8S 1350</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6520-1000254-01</td>
        <td>740.51-1000400- 21</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6520-1000254-04</td>
        <td>740.51-1000400- 20</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td rowspan="14">6520</td>
        <td>6520-1000254-05</td>
        <td>740.51-1000400- 21</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6520-1000254-06</td>
        <td>740.51-1000400- 03</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6520-1000254-07</td>
        <td>740.51-1000400- 13</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6520-1000254-10</td>
        <td>740.51-1000400- 03</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6520-1000254-11</td>
        <td>740.51-1000400- 13</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6520-1000254-14</td>
        <td>740.51-1000400- 14</td>
        <td>6520-1703005-20</td>
        <td>ZF 8S 1350</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6520-1000254-15</td>
        <td>740.51-1000400- 15</td>
        <td>6460-1703005-20</td>
        <td>ZF 8S 1350</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6520-1000254-16</td>
        <td>740.51-1000400- 14</td>
        <td>6520-1703005-20</td>
        <td>ZF 8S 1350</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6520-1000254-17</td>
        <td>740.51-1000400- 15</td>
        <td>6520-1703005-20</td>
        <td>ZF 8S 1350</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6520-1000254-70</td>
        <td>740.51-1000400- 20</td>
        <td>6520-1703005-20</td>
        <td>ZF 8S 1350</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6520-1000254-71</td>
        <td>740.51-1000400- 21</td>
        <td>6520-1703005-20</td>
        <td>ZF 8S 1350</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6520-1000254-72</td>
        <td>740.51-1000400- 20</td>
        <td>6520-1703005-20</td>
        <td>ZF 8S 1350</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6520-1000254-73</td>
        <td>740.51-1000400- 21</td>
        <td>6520-1703005-20</td>
        <td>ZF 8S 1350</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6520-1000254-80</td>
        <td>740.51-1000400- 90</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td rowspan="16">6520</td>
        <td>6520-1000254-81</td>
        <td>740.51-1000400- 91</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6520-1000254-82</td>
        <td>740.51-1000400- 92</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6520-1000254-83</td>
        <td>740.51-1000400- 93</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6520-1000254-90</td>
        <td>740.51.400-28</td>
        <td>6520-1703005- 20</td>
        <td>ZF 8S 1350</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6520-1000254-91</td>
        <td>740.51-1000400- 29</td>
        <td>6520-1703005- 20</td>
        <td>ZF 8S 1350</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6520-1000254-92</td>
        <td>740.51.400-28</td>
        <td>6520-1703005- 20</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6520-1000254-93</td>
        <td>740.51-1000400- 29</td>
        <td>6520-1703005- 20</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6520-1000254-94</td>
        <td>740.51.400-28</td>
        <td>6520-1703005- 20</td>
        <td>ZF 8S 1350</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6520-1000254-95</td>
        <td>740.51-1000400- 29</td>
        <td>6520-1703005- 20</td>
        <td>ZF 8S 1350</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6520-1000257</td>
        <td>740.51-1000400- 70</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6520-1000257-01</td>
        <td>740.51-1000400- 71</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6520-1000257-10</td>
        <td>740.51-1000400- 30</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6520-1000257-11</td>
        <td>740.51-1000400- 31</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6520-1000257-20</td>
        <td>740.51-1000400- 40</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6520-1000257-21</td>
        <td>740.51-1000400- 41</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6520-1000257-25</td>
        <td>740.51-1000400- 25</td>
        <td>6460-1703005-06</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td rowspan="10">6520</td>
        <td>6520-1000257-30</td>
        <td>740.51-1000400- 70</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6520-1000257-31</td>
        <td>740.51-1000400- 71</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6520-1000257-40</td>
        <td>740.51-1000400- 40</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6520-1000257-41</td>
        <td>740.51-1000400- 41</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6520-1000257-50</td>
        <td>740.51-1000400- 40</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6520-1000257-51</td>
        <td>740.51-1000400- 41</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>ф.Schwitzer</td>
        </tr>
        <tr>
        <td>6520-1000257-60</td>
        <td>740.51-1000400- 71</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>ф.Schwitzer</td>
        </tr>
        <tr>
        <td>6520-1000257-64</td>
        <td>740.51-1000400- 28</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6520-1000257-65</td>
        <td>740.51-1000400- 29</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>ф.Schwitzer</td>
        </tr>
        <tr>
        <td>6520-1000257-66</td>
        <td>740.51-1000400- 28</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td><strong>Автомобиль</strong></td>
        <td><strong>Силовой агрегат "250" или комплект для сбыта</strong></td>
        <td><strong>Двигатель "400"</strong></td>
        <td><strong>Привод коробки передач</strong></td>
        <td><strong>КП мод.</strong></td>
        <td><strong>Сцепление, мод.</strong></td>
        <td><strong>ТНВД модели</strong></td>
        <td><strong>ГУР мод.</strong></td>
        <td><strong>ТКР</strong></td>
        </tr>
        <tr>
        <td rowspan="13">6520</td>
        <td>6520-1000257-67</td>
        <td>740.51-1000400- 29</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>ф.Schwitzer</td>
        </tr>
        <tr>
        <td>6520-1000257-68</td>
        <td>740.51-1000400- 28</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6520-1000257-69</td>
        <td>740.51-1000400- 29</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>ф.Schwitzer</td>
        </tr>
        <tr>
        <td>6520-1000257-70</td>
        <td>740.51-1000400- 28</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6520-1000257-71</td>
        <td>740.51-1000400- 29</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>ф.Schwitzer</td>
        </tr>
        <tr>
        <td>6520-1000260-20</td>
        <td>740.51-1000405- 20</td>
        <td>4355-1705005</td>
        <td>154.1700051</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6520-1000260-21</td>
        <td>740.51-1000405- 21</td>
        <td>4355-1705005</td>
        <td>154.1700051</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6520-1000260-22</td>
        <td>740.51-1000405- 22</td>
        <td>4355-1705005</td>
        <td>154.1700051</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6520-1000260-23</td>
        <td>740.51-1000405- 23</td>
        <td>4355-1705005</td>
        <td>154.1700051</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6520-1000260-90</td>
        <td>740.51-1000405- 90</td>
        <td>4355-1705005</td>
        <td>154.1700051</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6520-1000260-91</td>
        <td>740.51-1000405- 91</td>
        <td>4355-1705005</td>
        <td>154.1700051</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6520-1000260-92</td>
        <td>740.51-1000405- 92</td>
        <td>4355-1705005</td>
        <td>154.1700051</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6520-1000260-93</td>
        <td>740.51-1000405- 93</td>
        <td>4355-1705005</td>
        <td>154.1700051</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td rowspan="17">6522</td>
        <td>6522-1000250</td>
        <td>5Э740.51- 1000401-10</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>337.1111005- 20.03</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6522-1000250-10</td>
        <td>5Э740.51- 1000401-10</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>337.1111005- 20.03</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6522-1000250-11</td>
        <td>5Э740.51- 1000401-11</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>337.1111005- 20.03</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6522-1000250-12</td>
        <td>5Э740.51- 1000401-10</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>337.1111005- 20.03</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6522-1000250-13</td>
        <td>5Э740.51- 1000401-11</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>20/010-10</td>
        <td>337.1111005- 20.03</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6522-1000250-80</td>
        <td>740.51-1000401- 90</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6522-1000250-81</td>
        <td>740.51-1000401- 91</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6522-1000250-82</td>
        <td>740.51-1000401- 90</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch""</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6522-1000250-83</td>
        <td>740.51-1000401- 91</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6522-1000254-01</td>
        <td>740.51-1000401- 12</td>
        <td>6520-1703005- 20</td>
        <td>ZF 8S 1350</td>
        <td>MFZ 430</td>
        <td>3371.1111 005-20.03</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6522-1000254-02</td>
        <td>5Э740.51- 1000401-10</td>
        <td>6520-1703005- 20</td>
        <td>ZF 8S 1350</td>
        <td>MFZ 430</td>
        <td>337.1111005- 20.03</td>
        <td>6520</td>
        <td>Schwitzer</td>
        </tr>
        <tr>
        <td>6522-1000254-03</td>
        <td>740.51-1000401- 12</td>
        <td>6520-1703005- 20</td>
        <td>ZF 8S 1350</td>
        <td>MFZ 430</td>
        <td>337.1111005- 20.03</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6522-1000254-90</td>
        <td>740.51-1000401- 90</td>
        <td>6520-1703005- 20</td>
        <td>ZF 8S 1350</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6522-1000254-91</td>
        <td>740.51- 1000401-91</td>
        <td>6520-1703005- 20</td>
        <td>ZF 8S 1350</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>6522-1000254-92</td>
        <td>740.51-1000401- 90</td>
        <td>6520-1703005- 20</td>
        <td>ZF 8S 1350</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>6522-1000254-93</td>
        <td>740.51- 1000401-91</td>
        <td>6520-1703005-20</td>
        <td>ZF 8S 1350</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>65222-1000250</td>
        <td>740.51-1000401- 13</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td rowspan="15">65222</td>
        <td>65222-1000250 -10</td>
        <td>740.51-1000401- 94</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>65222-1000250-01</td>
        <td>740.51-1000401- 14</td>
        <td>6460-1703005</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>65222-1000250-02</td>
        <td>740.51-1000401- 15</td>
        <td>6460-1703005</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>65222-1000250-03</td>
        <td>740.51-1000401- 16</td>
        <td>6460-1703005</td>
        <td>ZF 16S 151</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>65222-1000250-04</td>
        <td>740.51-1000401- 13</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>65222-1000250-05</td>
        <td>740.51-1000401- 14</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>65222-1000250-06</td>
        <td>740.51-1000401- 15</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>65222-1000250-07</td>
        <td>740.51-1000401- 16</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>3371.1111005- 20.03</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>65222-1000250-11</td>
        <td>740.51-1000401- 95</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>65222-1000250-12</td>
        <td>740.51-1000401- 96</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>65222-1000250-13</td>
        <td>740.51-1000401- 97</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>65222-1000250-14</td>
        <td>740.51-1000401- 94</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>65222-1000250-15</td>
        <td>740.51-1000401- 95</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        <tr>
        <td>65222-1000250-16</td>
        <td>740.51-1000401- 96</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>7C-6</td>
        </tr>
        <tr>
        <td>65222-1000250-17</td>
        <td>740.51-1000401- 97</td>
        <td>6460-1703005</td>
        <td>ZF16S151</td>
        <td>MFZ 430</td>
        <td>0 402 648 610 ф. "Bosch"</td>
        <td>6520</td>
        <td>ф. Schwitzer</td>
        </tr>
        </tbody>
        </table>
        <div id="gtx-trans" style="position: absolute; left: 156px; top: 3632.79px;">
        <div class="gtx-trans-icon">&nbsp;</div>
        </div>
    <p></p>
    <p></p>

    {% include kupite_u_nas.html %}
    
    <p></p>
    <p></p>
    
</div>