---
layout: default_info
title: Двигатель КамАЗ 740.61-320 / Евро-3 - 740.61-1000400- ЗапКам.ру
description: Продаем Двигатель КамАЗ 740.61-320 / Евро-3, на технику КАМАЗ 65111, 65115, 65116, 65117, 6540 и другиеДизельный восьмицилиндровый двигатель КАМАЗ 740.61-320 мощностью 320 л.с. экологического стандарта Евро-3, с турбонаддувом, ОНВ и электронным управлением. Получил самое широкое применение в серийных автомобилях производства ОАО «КАМАЗ». Начало производства с 2008 года и по сегодняшний день.Дизельный восьмицилиндровый двигатель КАМАЗ 740.61-320 мощностью 320 л.с. экологического стандарта Евро-3, с турбонаддувом, ОНВ и электронным управлением. Получил самое широкое применение в серийных автомобилях производства ОАО «КАМАЗ». Начало производства с 2008 года и по сегодняшний день., каталожный номер - 740.61-1000400 . Новые, с разбора, оригинал, аналоги, бу, капремонт. Цена, доставка, описание, вес, размеры.
keywords:  Двигатель КамАЗ 740.61-320 / Евро-3 Дизельный восьмицилиндровый двигатель КАМАЗ 740.61-320 мощностью 320 л.с. экологического стандарта Евро-3, с турбонаддувом, ОНВ и электронным управлением. Получил самое широкое применение в серийных автомобилях производства ОАО «КАМАЗ». Начало производства с 2008 года и по сегодняшний день. 740.61-1000400  завод НЧЗД, паспорт, гар.12мес.     Двигатели new - КАМАЗ 65111, 65115, 65116, 65117, 6540 и другие
hero-title: Агрегаты КамАЗ 
h1: Двигатель КамАЗ 740.61-320 / Евро-3 
h2: 740.61-1000400
phone: 
phone_title: 
categories: [<a href="/agregaty/dvigateli/index.html">Двигатели КАМАЗ 740</a> ]
---
<div class="alert alert-danger col-md-12 text-center"> отсутствует в продаже </div>
<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.agregaty | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12 m-auto">
    <!-- <h3>Описание</h3> -->
    <p>

    </p>
    
    <hr>
    
    <p></p>
    <p></p>
    <!-- {% include kupite_u_nas.html %}
    {% include garantiya.html %} -->
  <div style="height: 80px;">&nbsp;</div>
  
</div>
