---
layout: default_info
title: Двигатель КамАЗ 4320 УРАЛ
description: Выбор двигателя на самосвал КАМАЗ 4320. Модели моторов 74009. Прайс-лист, каталог, описание, характеристики, инструкции и советы эксплуатации.
keywords: двигатель КамАЗ 4320 74009 евро-0
h1: Двигатель КамАЗ на УРАЛ 4320
h2:
categories: [<a href="/agregaty/dvigateli/index.html">Двигатели 740</a> ]
---
<!-- --- -->
<div class="col-md-3">
    <img src="/assets/img/models/kamaz_4320jpg"/ style="max-width: 100%; padding-top: 0px;">
    <table class="table">
        <tr><td> <a href="#74009.10" class="u"> 74009.10-210 Урал</a> </td></tr>
    </table>
</div>
<div class="col-md-9">
    <div class="alert alert-info">
    <p>
        Урал 4320 - полноприводный грузовой автомобиль с колесной формулой 6 на 6. На фоне
        конкурентов он выделяется своей проходимостью.
        В 1978 года Уральский автомобильный завод приступил к выпуску с двигателем КамАЗ 740.10.
        
    </p>
    
    <p>
            Урал 4320 позиционируется как машина двойного назначения. Главным потребителем техники являются российские вооруженные силы, но она также используется и в других областях.

    </p>
    </div>
</div>


<!-- Движок урал  -->
<div id="74009.10"></div>
{% assign page_url = "dvigatel_kamaz_740_10_403_evro0" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
{% include card_template_dvigatel.html product = product %}
{%- endif -%}

<div class="col-md-1"></div>
<div class="col-md-10">
    <!-- <h3>Описание</h3> -->
    <p>
            Двигатель КамАЗ 4320, объёмом 10,85 литра и мощностью в 230 лошадиных сил, имеет жидкостное охлаждение и турбонаддув. Характерна высокая степень сжатия -17. При этом расход дизельного топлива – всего 26 л. на 100км.

        </p>
        <p>
            8-ми цилиндровый, V-образный, 4-х тактный силовой агрегат. Имеет меньший размер и массу по сравнении с ЯМЗ,
            обладает высокой мощностью, неприхотлив и надёжен.
        </p>
    <p></p>

    <hr>
</div>






<div class="col-md-1">&nbsp;</div>
<div class="col-md-10">
  <p>
        
        Двигатель КамАЗ 4320, объёмом 10,85 литра и мощностью в 230 лошадиных сил, имеет жидкостное охлаждение и турбонаддув. Характерна высокая степень сжатия -17. При этом расход дизельного топлива – всего 26 л. на 100км.
        Двухдисковое сцепление, с компрессором, насосом ГУРа и генератором, ТНВД ЯЗДА в сборе 33-10.
</p>
  <p>
        Двигатель КамАЗ 4320  имеет удачную конструкцию, проверенную временем.
        В тропических регионах, в пустыне, на горных дорогах, в условиях вечной мерзлоты крайнего севера двигатель автомобиля Урал 4320 показал себя надёжным и неприхотливым агрегатом.
  </p>
  <p></p>
  <p></p>
  {% include kupite_u_nas.html %}
<div style="height: 100px;">&nbsp;</div>

<p></p>
  <p> <img src="/kamaz-5490/img/dvigatels/new/kamaz_dvigatel_03.jpg" alt="Двигатели КамАЗ"/> </p>
  <p> <img src="/kamaz-5490/img/dvigatels/new/kamaz_dvigatel_05.jpg" alt="Двигатели КамАЗ"/> </p>
  <p></p>
  

</div>