---
layout: default_info
title: Двигатель КамАЗ 43114
description: Выбор двигателя на КамАЗ 43114. Модели моторов 740.10 740.11 740.13 740.30 740.31. Прайс-лист, каталог, описание, характеристики, инструкции и советы эксплуатации.
keywords: двигатель КамАЗ 43114 740.10 740.11 740.13 740.30 740.31 евро-0 евро-1
h1: Двигатели на КамАЗ 43114
h2: 
categories: [<a href="/agregaty/dvigateli/index.html">Двигатели КАМАЗ 740</a> ]
---
<!-- --- -->
<div class="col-md-3">
    <img src="/assets/img/model/kamaz_43114.jpg"/ style="max-width: 100%; padding-top: 0px;">
    <table class="table">
        <tr><td> <a href="#7403.10" class="u"> 7403.10-260 Турбо</a> </td></tr>
        <tr><td> <a href="#740.11" class="u"> 740.11-240 Евро-1 </a> </td></tr>
        <tr><td> <a href="#740.13" class="u"> 740.13-260 Евро-1</a> </td></tr>
        <tr><td> <a href="#740.30" class="u"> 740.30-260 Евро-2</a> </td></tr>
        <tr><td> <a href="#740.31" class="u"> 740.31-240 Евро-2</a> </td></tr>
    </table>
</div>
<div class="col-md-9">
    <div class="alert alert-info">
    <p>
        КамАЗ 43114 - трехосный грузовой автомобиль полноприводный повышенной проходимости, выпускавшийся Камским автомобильным заводом (КамАЗ). Шасси 43114 широко применяется в вооруженных силах, нефтегазодобывающей отрасли.
        Он был разработан в 1991 году по заказу министерства обороны с учетом опыта ведения боевых действий в Афганистане. Серийное производство грузовиков начато в 1996 году.    
    </p>
    
    <p>
        Модели КамАЗ-43114 оснащались Евро-0 моторами 7403.10 турбо, турбодизелями 740.11-240 и 740.13-260 под экологию Евро-1.
    </p>
    <p>
        Позже их перевели на Евро-2, установив двигатели 740.30-260 и 740.31-240. На версию 43118 устанавливали и 300-сильный 740.55-300.
    </p>
    <p>
        Версии под Евро-4 оснащались дизелем 740.662-300, а для подгонки под Евро-5, в 43118 поставили ДВС 740.705-300.
    </p>
    <p>
        Существуют модификации 43118 для работы на газе, которые оснащены 260-сильными моторами Камаз-820.52 и 820.62 на 300
        л.с. Модель 43114 с газовым мотором так же существует и оснащается движком Камаз-820.60 на 260 сил.
    </p>
    </div>
</div>


<!-- Движок турбо  -->
<div id="7403.10"></div>
{% assign page_url = "dvigatel_kamaz_7403_260_evro0" %}
{% assign product = site.data.agregaty | where:"url", page_url | first  %}
{%- if product -%}
{% include card_template_dvigatel.html product = product %}
{%- endif -%}

<div class="col-md-1"></div>
<div class="col-md-10">
    <!-- <h3>Описание</h3> -->
    <p>
        Двигатель КамАЗ 43114 турбо -  отличием от предшественника стало добавление турбин,
         изменение поршневой группы и изменения в системе охлаждения. 
        Новый модифицированный двигатель позволил извлечь большую мощность и уменьшить расход топлива. 
    </p>

    <p></p>
    <p></p>

    <hr>
</div>




<!-- Движок 11  -->
<div id="740.11"></div>
{% assign page_url = "dvigatel_kamaz_740_11_240_evro1" %}
{% assign product = site.data.agregaty | where:"url", page_url | first  %}
{%- if product -%}
{% include card_zapchasti_catalog.html product = product %}
{%- endif -%}

<div class="col-md-1"></div>
<div class="col-md-10">
    <!-- <h3>Описание</h3> -->
    <p>
            - Насос низкого давления для подачи топлива.<br>
            - ТНВД с регулятором оборотов вращения;<br>
            - Закрытые форсунки с разносторонним распылением;<br>
            
    </p>
    <p></p>
    <hr>
</div>




<!-- Движок 13  -->
<div id="740.13"></div>
{% assign page_url = "dvigatel_kamaz_740_13_260_evro1" %}
{% assign product = site.data.agregaty | where:"url", page_url | first  %}
{%- if product -%}
{% include card_template_dvigatel.html product = product %}
{%- endif -%}

<div class="col-md-1"></div>
<div class="col-md-10">
    <!-- <h3>Описание</h3> -->
    <p>
        Двигатель КАМАЗ 43114 740.13 мощностью 260 л.с.
         устанавливался на многие серийные автомобили КамАЗ выпускающиеся до 2006 года 
         и соответствующие экологическому классу Евро1.
    </p>
    <p>
        Двигатель на КамАЗ 43114 ценят за его надежность, экономичность,
        низкую стоимость расходных материалов и запасных частей.
    </p>
    <p></p>

    <hr>
</div>


<!-- Движок 30  -->
<div id="740.30"></div>
{% assign page_url = "dvigatel_kamaz_740_30_260_evro2" %}
{% assign product = site.data.agregaty | where:"url", page_url | first  %}
{%- if product -%}
{% include card_template_dvigatel.html product = product %}
{%- endif -%}
<div class="col-md-1"></div>
<div class="col-md-10">
    <p>
            Двигатель КамАЗ 43114 Евро-2 применялся на многих моделях, например, на 65116,65117, 
            на полноприводных 43114, 43118. Выпускается мотор с 2005 года.
            Расположение цилиндров 8, V-образное, топливо дизельное, объем работы в литрах — 10,85. 
    </p>
    <p></p>
    <hr>
</div>






<!-- Движок 31  -->
<div id="740.31"></div>
{% assign page_url = "dvigatel_kamaz_740_31_240_evro2" %}
{% assign product = site.data.agregaty | where:"url", page_url | first  %}
{%- if product -%}
{% include card_template_dvigatel.html product = product %}
{%- endif -%}
<div class="col-md-1"></div>
<div class="col-md-10">
    <p>
        У силового агрегата Евро-2 8 цилиндров, все они имеют размер 120 мм и расположены V-образно в 2 ряда. На каждом цилиндре
        имеется впускной и выпускной клапан. Максимальный крутящий момент составляет 980 Нм. Качественный и надежный двигатель
        КамАЗ 740.31 240, цена которого полностью оправдана, получил вместительный рабочий объем – 10,85 л и высокую степень
        сжатия камеры сгорания – в 16 раз. Мощность мотора составляет 240 лошадиных сил (176 кВт): этого достаточно для
        перевозки тяжеловесных грузов и быстрого разгона даже при движении автомобиля на подъем.
        <br>
        Мотор неприхотлив в работе, оснащен надежным аккумулятором и качественным стартером, полностью адаптирован для эксплуатации в условиях холодного российского климата.
        <br> Купить двигатель КамАЗ 740.31 стоит еще и потому, что данная модель не требует особого ухода.
    </p>

    <p></p>
    <hr>
</div>






<div class="col-md-1">&nbsp;</div>
<div class="col-md-10">
  <p>
    КАМАЗ 43114-027-15 Бортовой автомобиль КАМАЗ 6х6, двигатель 240 л.с. Евро-2, грузоподъёмность 6090 кг, кабина с 1 спальным местом, АБС, тент-каркас, скамейки, баки 170+125 л. 
<br>
    Бортовой автомобиль КамАЗ-43114, несмотря на относительно небольшой срок эксплуатации в народном хозяйстве, уже достаточно широко используется. Причем, не только в российских условиях. Именно автомобили на базе шасси 43114, в первую очередь, оригинальный полноприводный (колесная формула 6х6) бортовой автомобиль КамАЗ-43114 поставляется в страны с жарким тропическим климатом и сложными дорожными условиями, порой, часто отсутствующего дорожного покрытия вообще. Праворульные модели бортового автомобиля КамАЗ-43114 поставляются в Индию и Пакистан, где пользуются большим спросом.
    <br>
    Широкое применение у модификаций модели КамАЗ-43114 - в вооруженных силах.
    <br>
    Полная масса автомобиля — 15 450 кг.<br>
    Грузоподъемность составляет 6 090 кг.<br>
    Масса буксируемого автопоезда - до 27 450 кг.<br>
    Размеры платформы машины составляют 4 800 х 2 320 мм.<br>
    <br>
    Автомобиль оснащен камазовским двигателем КамАЗ-740.11, мощностью 240 л.с. Коробка передач машины механическая, пятиступенчатая. У автомобиля два топливных бака, емкостью 170 и 125 литров соответственно. Автомобиль держится на дисковых колесах, на шинах 425/85 R 21 (КАМА 1260).

</p>
<p>
    Новая конструкция системы выпуска газов существенно отличается от ранних моделей. Устройство за счет продуманного
    строения не позволяет образовываться конденсату, а также предотвращает попадание воды и осадков снаружи.
     Поток отработанных газов направлен в сторону от системы подачи
    воздуха, что позволяет минимизировать засорение двигателя копотью и сажей.
</p>
  <p>
    КамАЗ 43114 – неприхотливый и проверенный автомобиль. О его надежности говорит тот факт, что модель участвовала в «Ралли Дакар» как машина технического сопровождения.
  </p>
  <p>
        <strong> Модификации </strong>
        740.11-1000312-58<br>
        740.11-1000412-31<br>
        740.11-1000412-58<br>
        740.13-1000410-22<br>
        740.13-1000410-50<br>
        740.30-1000402-70<br>
        740.31-1000302-18<br>
        740.31-1000302-48<br>
        740.31-1000402-06<br>
        740.31-1000402-38<br>
        7403.1000312-60<br>
        7403.1000412-03<br>
        7403.1000412-60<br>
        7403.1000412-70<br>
        820.60-1000402<br>
        
        </p>

        <p><iframe width="560" height="315" class="lozad" data-src="https://www.youtube.com/embed/ZgRNBQdyZuY" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
  <p></p>
  <p></p>
  {% include kupite_u_nas.html %}
<div style="height: 100px;">&nbsp;</div>

<p></p>
  
  <p></p>

</div>