---
layout: default_info
title: Двигатель КамАЗ 740.37 Евро-2 400 л.с. • Купить новый / восстановленный
description: Продаем Двигатель КамАЗ 740.37-400 / Евро-2 одно-дисковое сцепление, на технику КАМАЗ, каталожный номер - 740.37-1000400. Новые ПАО КАМАЗ, РемДизель, с разбора, оригинал, аналоги, бу восстановленный, капремонт. Цена, доставка, описание, вес, размеры.
keywords:  Двигатель КамАЗ 740.37 КАМАЗ, Нефаз
hero-title: Агрегаты КамАЗ 
h1: Двигатель КамАЗ 740.37-400 / Евро-2  
h2: 740.37-1000400
phone: 
phone_title: 
categories: [<a href="/agregaty/dvigateli/index.html">Двигатели КАМАЗ 740</a> ]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.agregaty | where:"url", page_url | first  %}
{%- if product -%} {% include card_zapchasti.html product = product %} {%- endif -%}



<div class="col-md-10 col-xs-12 m-auto">
    <!-- <h3>Описание</h3> -->
    <h3>Комплектации двигателя 740.37</h3>
    <p>
    Полная (первая, 400) комплектация двигателя — 740.37-1000400.<br>
    <br>1-ая комплектация двигателя, с навесным оборудованием (400-комплектация): с генератором, компрессором, насосом ГУР, стартером (исключение двигатели евро-0 и евро-1), без сцепления. 
    <br>400-ая комплектация - стандартная для заднеприводных шасси 6*4 или 4*2, обычно отличаются марками турбокомпрессоров и ТНВД.
    <br>401,  410-ая  - со стартером,
    <br>402-ая комплектация - для полноприводных автомобилей. Отличаются поддоном (масляным картером) и масло-заборником;
    <br>406-ая комплектация - автобусная;
    </p><p>
    Без навесного оборудования — 740.37-1000450.<br>
    Артикулы различных модификаций двигателя КАМАЗ 740.37:<br>
    740.37-1000400-04, 
    </p>
<p></p>
  
<h3>Модификации двигателя Камаз 740.37</h3>
    
<ul>
  <li>740.37-1000400-01 на КАМАЗ-5460 с ТНВД 0402698817</li>
<li>740.37-1000400-05 на КАМАЗ-65224 с ТНВД 0402698818</li>
<li>740.37-1000400-12 на КАМАЗ-6560 с ТНВД 337.1111005-22</li>
<li>740.37-1000401 на КАМАЗ-65225 с ТНВД 337.1111005-22</li>
<li>740.37-1000401-11 на КАМАЗ-65225 с ТНВД 337.1111005-22</li>
<li>740.37-1000401-90 на КАМАЗ-65225 с ТНВД 0402698817</li>
<li>740.37-1000401-97 на КАМАЗ-65225 </li>

</ul>

<br>
<p></p>
<p></p>
   
<h4>Технические характеристики</h4>
<table class="table table-hover table-responsive-sm wa" >
<tbody>
<tr>
<th>Модель</th>
<th>740.37-400</th>
</tr>
<tr>
<td>Расположение и число цилиндров</td>
<td>V-8</td>
</tr>
<tr>
<td>Диаметр цилиндра и ход поршня, мм</td>
<td>120x130</td>
</tr>
<tr>
<td>Рабочий объём, л</td>
<td>11,76</td>
</tr>
<tr>
<td>Степень сжатия</td>
<td>16,8</td>
</tr>
<tr>
<td>Максимальная полезная мощность по Правилам ЕЭК ООН № 85-00, номинальная мощность нетто по ГОСТ 14846-81, л.с., не менее</td>
<td>400</td>
</tr>
<tr>
<td>Номинальная частота вращения коленчатого вала, мин<sup>-1</sup></td>
<td>1900</td>
</tr>
<tr>
<td>Максимальный полезный крутящий момент по Правилам ЕЭК ООН № 85-00, максимальный крутящий момент нетто по ГОСТ 14846-81, кгс*м, не менее</td>
<td>1766</td>
</tr>
<tr>
<td>Частота вращения коленчатого вала, соответствующая максимальному крутящему моменту, мин<sup>-1</sup></td>
<td>1300</td>
</tr>
<tr>
<td>Минимальный удельный расход топлива, г/(л.с.*ч)</td>
<td>204</td>
</tr>
<tr>
<td>Расход масла на угар на режиме номинальной мощности, в % от расхода топлива, не более</td>
<td>0,2</td>
</tr>
<tr>
<td>Масса не заправленного смазкой двигателя в комплектности поставки, кг</td>
<td>865</td>
</tr>
<tr>
<th colspan="2">Габаритные размеры:</th>
</tr>
<tr>
<td>Длина х Ширина х Высота, мм</td>
<td>1194х908х1050</td>
</tr>
</tbody>
</table>



{%- include_relative _garantiya.mhtml -%}
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    <!-- {% include garantiya.html %} -->
  <div style="height: 80px;">&nbsp;</div>
  
</div>
