---
layout: default_info
title: Двигатель КамАЗ 740.75-440 Евро-3 740.62-1000400 для автомобилей КамАЗ 65111, 6540, 65115(c 2008), 65116, 65117. 
description: Продаем двигатели КамАЗ 740.62 360 л.с. обозначение 740.50-1000400 класс Евро-2-3, в наличии с доставкой по всей России.
keywords: двигатель 740.50-1000400, купить, продажа, цена, стоимость
hero-title: Двигатели КамАЗ-740
h1: Двигатель КамАЗ 740.50-360 (Евро-2-3)
h2: Описание, Цены и характеристики. 740.50-360 (Евро-2-3)
---
<!-- Товар  -->
<div id="740-10"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.agregaty | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}


<!-- Html описание -->
<div class="col-md-10 col-xs-12" style="margin: auto;">
    <h3>Описание и особенности:</h3>
    <p>
        Дизельный восьмицилиндровый двигатель КАМАЗ 740.75-440 мощностью 440 л.с. экологического стандарта Евро-4, с индивидуальными алюминиевыми головками, турбонаддувом, ОНВ, электронным управлением и системами топливоподачи типа «Common Rail» и обработки отработавших газов.
    </p>
    <p>
        Оборудуется топливной аппаратурой аккумуляторного типа Common Rail с электронным управлением. Применение такой
        аппаратуры позволяет расширить диапазон мощностей, снизить удельный расход топлива. Используется на одиночных
        автомобилях, автомобильных тягачах, автобусах, специальных машинах, поставляемых на внутренний рынок и на экспорт
    </p>
    <p>
        Заявленный ресурс дизельного двигателя 740.75 для магистральных автомобилей КАМАЗ – около 1 млн. километров, для полноприводных – 500 тысяч. 
    </p>
    <p>
        Поставляется на деревянной подставке, без масла. Вес около 870 кг. 
    </p>
    
    <p>
           
    </p>
    <p></p>
    <p></p>



    <h3>Возможные комплектации двигателя 740.75-440 </h3>



<h3>Двигатели КамАЗ серии 740.70 Евро 4с системой SCR и Common Rail</h3>
<p>Применение Common Rail:</p>
<ul>
<li>Снижение расхода топлива на 5%</li>
<li>Снижение уровня шума двигателя на 2 дБ</li>
<li>Улучшение экологических параметров</li>
<li>Повышение тягово-динамических качеств автомобиля на 7%</li>
<li>Увеличение ресурса двигателя на 10%</li>
<li>Увеличение межсервисного пробега на 10%</li>
</ul>
<p>Топливная система высокого давления Common Rail:</p>
<p>Работает при большом давлении независимо от оборотов и обеспечивает более точное управление процессом сгорания в
    цилиндрах. Система создает исключительно высокое давление впрыска топлива до 1800 бар., позволяя ускорить набор
    мощности и улучшить приемистость, снизить уровень шума и облегчить пуск холодного двигателя.</p>

    <p>Применение системы SCR:</p>
<ul>
<li>Улучшение топливной экономичности дизелей на 5-7% по сравнению с двигателями уровня &laquo;Евро-3&raquo; (связано с тем, что для достижения требований &laquo;Евро-3&raquo; при настройке двигателя производители смещают момент начала впрыска топлива (более поздний), а с применением SCR необходимость в этом отпадает).</li>
<li>Снижение выбросов окислов азота не только до уровня &laquo;Евро-4&raquo;, но и &laquo;Евро-5&raquo;.</li>
</ul>

    <h3>Технические характеристики</h3>
    <table class="table table-hover table-responsive-sm w-auto">
        <tbody>
        <tr>
        <td>Наименование параметра, характеристика и единица измерения</td>
        <td>Модель 740.75-440</td>
        </tr>
        <tr>
        <td>Тип двигателя</td>
        <td>дизельный с турбонаддувом четырехтактный, с воспламенением от сжатия</td>
        </tr>
        <tr>
        <td>Расположение цилиндров</td>
        <td>V-образное, с углом развала 90&deg;</td>
        </tr>
        <tr>
        <td>Порядок работы цилиндров</td>
        <td>1-5-4-2-6-3-7-8</td>
        </tr>
        <tr>
        <td>Диаметр цилиндров и ход поршня, мм</td>
        <td>120x130</td>
        </tr>
        <tr>
        <td>Рабочий объем, л.</td>
        <td>11.76</td>
        </tr>
        <tr>
        <td>Номинальная мощность, кВт (л.с.)</td>
        <td>206 (280)</td>
        </tr>
        <tr>
        <td>Максимальный крутящий момент, Н м (кгс-м)</td>
        <td>1177 (120)</td>
        </tr>
        <tr>
        <td>Степень сжатия</td>
        <td>16.8</td>
        </tr>
        </tbody>
        </table>
    <p></p>

    {% include kupite_u_nas.html %}
    
    <p></p>
    <p></p>
    
</div>