---
layout: default_info
title: Двигатель КамАЗ 740.735-400 Евро-5 - 740.735-1000400
description: Продаем Двигатель КамАЗ 740.735-400 / Евро-5, на технику  КамАЗ-65224Дизельный 8-цилиндровый двигатель КАМАЗ 740.735-400 мощностью 400 л.с. экологического стандарта Евро-5, с индивидуальными алюминиевыми головками, турбонаддувом, ОНВ, электронным управлением и системами топливоподачи типа «Common Rail», обработки отработавших газов и бортовой диагностики.Дизельный 8-цилиндровый двигатель КАМАЗ 740.735-400 мощностью 400 л.с. экологического стандарта Евро-5, с индивидуальными алюминиевыми головками, турбонаддувом, ОНВ, электронным управлением и системами топливоподачи типа «Common Rail», обработки отработавших газов и бортовой диагностики., каталожный номер - 740.735-1000400 . Новые, с разбора, оригинал, аналоги, бу, капремонт. Цена, доставка, описание, вес, размеры.
keywords:  Двигатель КамАЗ 740.735-400 / Евро-4 Дизельный 8-цилиндровый двигатель КАМАЗ 740.735-400 мощностью 400 л.с. экологического стандарта Евро-5, с индивидуальными алюминиевыми головками, турбонаддувом, ОНВ, электронным управлением и системами топливоподачи типа «Common Rail», обработки отработавших газов и бортовой диагностики. 740.735-1000400 завод КАМАЗ, под заказ, срок 2-5 недель, 740.735-1000401-10 завод НЧЗД, паспорт, гар.12мес.     Двигатели new -  КамАЗ-65224
hero-title: Агрегаты КамАЗ 
h1: Двигатель КамАЗ 740.735-400 / Евро-5 
h2: 740.735-1000400
phone: 
phone_title: 
categories: [<a href="/agregaty/dvigateli/index.html">Двигатели КАМАЗ 740</a> ]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.agregaty | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12 m-auto">
    <!-- <h3>Описание</h3> -->
    <p>

    </p>
    
    <p></p>
    {%- include_relative _garantiya.mhtml -%}
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    <!-- {% include garantiya.html %}  -->
  <div style="height: 80px;">&nbsp;</div>
  
</div>
