---
layout: default_info
title: Двигатель КамАЗ Евро-2 740.30-260
description: Закажите с доставкой по всей России двигатели КамАЗ 740.30-260 Евро-2 арт. 740.30-1000400.
keywords: двигатель 740.30-1000400, купить, продажа, цена, стоимость
hero-title: Двигатели КамАЗ-740
h1: Двигатель КамАЗ 740.30-260 (Евро-2)
h2: Описание, Цены и характеристики. 740.30-260 (Евро-2).
categories: [<a href="/agregaty/dvigateli/index.html">Двигатели КАМАЗ 740</a> ]
---

<!-- Товар  -->
<div id="740-10"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.agregaty | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}


<!-- Html описание -->
<div class="col-md-10 col-xs-12" style="margin: auto;">
    <h3>Описание и особенности:</h3>
    <p>
        Двигатель КамАЗ 740.30-260 евро-2, 260 л.с., четырехтактный с воспламенением от сжатия,
        жидкостного охлаждения, с V-образным расположением восьми цилиндров, с турбонаддувом и промежуточным охлаждением
        наддувочного воздуха (ОНВ) типа «воздух-воздух».V8 Под однодисковое сцепление (КПП КАМАЗ Zf или 154).
    </p>

    <p>
        Двигатель изготавливается в двух исполнениях для различных условия эксплуатации "У" и "Т".
        <br>В исполнении "У" по ГОСТ 15150-69 двигатели рассчитаны на эксплуатацию при температурах воздуха от -45 до +40 °С,
         относительной влажности воздуха до 75%, расположенных на высоте до 3000м над уровнем моря 
         при снижении мощностных, экономических и других показателей до 20%, с преодолением перевалов до 4500 м.
        <br>
        Двигатели в исполнении "Т" по ГОСТ 15150-69 рассчитаны на эксплуатацию при температурах
        окружающего воздуха от -10 до +45 °С, относительной влажности воздуха до 80% при температуре 27 °С и в районах,
        расположенных на высоте до 3000 м над уровнем моря при снижении мощностных показателей до 20%, с
        преодолением перевалов до 4500 м.
    </p>

<p></p>
<p></p>
<p class="text-center">
    <iframe width="800" height="450" src="https://www.youtube.com/embed/u9rsws2V2OA" title="Двигатель Евро-2 740.30 горячая обкатка" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>

<hr>
<p></p>
    <h3>Возможные комплектации двигателя 740.30 260 </h3>
    <p>
        Полная комплектация двигателя — 740.30-1000400.<br>
        1-ая комплектация двигателя, с навесным оборудованием (400-комплектация): с генератором, компрессором, насосом ГУР, стартером (исключение двигатели евро-0 и евро-1), без сцепления. 
    <br>400-ая комплектация - стандартная для заднеприводных шасси 6*4 или 4*2, обычно отличаются марками турбокомпрессоров и ТНВД.
    <br>401,  410-ая  - со стартером,
    <br>402-ая комплектация - для полноприводных автомобилей. Отличаются поддоном (масляным картером) и масло-заборником;
    <br>406-ая комплектация - автобусная;
    </p><p>

        Без навесного оборудования — 740.30-1000450.<br>
        Артикулы различных модификаций двигателя КАМАЗ 740.30:<br>
        740.30-1000400-05,<br>
        740.30-1000400-05,<br>
        740.30-1000400-08,<br>
        740.30-1000400-17,<br>
        740.30-1000400-34,<br>
        740.30-1000400-49,<br>
        740.30-1000400-71,<br>
        740.30-1000400-74,<br>
        740.30-1000400-76,<br>
        740.30-1000400-79,<br>
        740.30-1000400-85,<br>
        740.30-1000400-92,<br>
        740.30-1000402-54,<br>
        740.30-1000402-70,<br>
        740.30-1000402-71,<br>
        740.30-1000402-90,<br>
        740.30-1000402-92,<br>
        740.30-1000412,<br>
        740.30-1000412-01,<br>
        740.30-1000412-08.
    </p>
    <p></p>
    <p></p>

    <h3>Технические характеристики двигателя КамАЗ 740.30 260</h3>

    <table class="table" style="width:unset;">
        <tbody>
            <tr>
                <td class="colspan">Модель</td>
                <td class="colspan">740.30-260</td>
            </tr>
            <tr>
                <td>Тип</td>
                <td>4-такстный, дизельный с турбонаддувом и ОНВ</td>
            </tr>
            <tr>
                <td>Расположение и число цилиндров</td>
                <td>V-образный, 8 цилиндровый</td>
            </tr>
            <tr>
                <td>Рабочий объем, л</td>
                <td>10,85</td>
            </tr>
            <tr>
                <td>Диаметр цилиндра и ход поршня, мм</td>
                <td>120/120</td>
            </tr>
            <tr>
                <td>Степень сжатия двигателя</td>
                <td>16,5</td>
            </tr>
            <tr>
                <td>Масса двигателя, кг</td>
                <td>865</td>
            </tr>
            <tr>
                <td>Мощность, квт (л.с.) при 2200 об/мин<br>
                    (режим максимальной мощности)</td>
                <td>191 (260)</td>
            </tr>
            <tr>
                <td>Крутящий момент двигателя, Нм (кгм)<br>
                    при 1300 об/мин</td>
                <td>1079</td>
            </tr>
            <tr>
                <td>Расход масла (угар) % от топлива</td>
                <td>0,30</td>
            </tr>
            <tr>
                <td>Минимальный удельный расход топлива, г/кВт·ч (г/лс·ч)</td>
                <td>211 (155)</td>
            </tr>
            <tr>
                <td>Стандарты и Правила</td>
                <td>ЕЭК ООН Евро-2</td>
            </tr>
            <tr>
                <td>Порядок работы цилиндров:</td>
                <td>1-5-4-2-6-3-7-8</td>
            </tr>
            <tr>
                <td>ТНВД</td>
                <td>мод. 337-42 ЯЗДА</td>
            </tr>
            <tr>
                <td>Форсунка</td>
                <td>мод. 273-51<br>
                    (с 5-ти сопловым распылителем)</td>
            </tr>
            <tr>
                <td>Напряжение, B</td>
                <td>24</td>
            </tr>
            <tr>
                <td>Мощность генератора, Вт</td>
                <td>800 или 1000 или 2000</td>
            </tr>
            <tr>
                <td>Рекомендуемая емкость аккумулятора, Ампер/час</td>
                <td>190</td>
            </tr>
            <tr>
                <td>Емкость системы охлаждения (только двигателя), л</td>
                <td>18</td>
            </tr>
            <tr>
                <td>Температура открытия термостата, °С</td>
                <td>80</td>
            </tr>
            <tr>
                <td>Максимально допустимая температура, °С</td>
                <td>98</td>
            </tr>
            <tr>
                <td>Давление открытия выпускного клапана<br>
                    пробки расширительного бачка, кПа</td>
                <td>65</td>
            </tr>
            <tr>
                <td>Расход охлаждающей жидкости через радиатор<br>
                    при 2200 об/мин и сопротивлении внешней сети системы охлаждения 35 кПа, л/мин, не менее</td>
                <td>300</td>
            </tr>
            <tr>
                <td>Максимальное разрежение, кПа</td>
                <td>7</td>
            </tr>
            <tr>
                <td>Максимальное противодавление после турбокомпрессора, кПа</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Заправочная емкость системы смазки двигателя, л</td>
                <td>28</td>
            </tr>
            <tr>
                <td>Допускаемый крен&nbsp;продольный, °</td>
                <td>30</td>
            </tr>
            <tr>
                <td>Допускаемый крен&nbsp;поперечный, °</td>
                <td>20</td>
            </tr>
            <tr>
                <td>при 600 об/мин, МПа</td>
                <td>0,1</td>
            </tr>
            <tr>
                <td>при 2200 об/мин, МПа</td>
                <td>0,4</td>
            </tr>
            <tr>
                <td>Рекомендованная к применению охлаждающая жидкость:</td>
                <td>ТОСОЛ А40</td>
            </tr>
         
            <tr>
                <td>Периодичность смены масла</td>
                <td>каждые 16 000 км или 250 м/ч</td>
            </tr>
        </tbody>
    </table>

<p>
    Этот двигатель получил самое широкое применение в серийных автомобилях производства ПАО "КамАЗ" с 2005 года и по
    сегодняшний день. Двигатель КамАЗ 740.30 мощностью 260 л.с. выпускался ранее как двигатель евро 2 и устанавливался на
    многие серийные автомобили КамАЗ.
</p>


<h3>Применяемость силовых агрегатов с двигателями модели 740.30-260 на автомобилях КАМАЗ</h3>

<table class="table table-harki table-striped table-sm table-hover table-responsive-sm wa">
    <tbody>
    <tr>
    <td><strong>Автомобиль</strong></td>
    <td><strong>Силовой агрегат "250"</strong></td>
    <td><strong>Двигатель "400"</strong></td>
    <td><strong>Модель КП</strong></td>
    <td><strong>Модель сцепления</strong></td>
    <td><strong>Модель ТНВД</strong></td>
    <td><strong>Модель ГУР</strong></td>
    <td><strong>Турбокомпрессор</strong></td>
    </tr>
    <tr>
    <td>65116 (Седельный тягач)</td>
    <td rowspan="2">65116-100280- 01</td>
    <td>740.30- 100400-10</td>
    <td>ZF 9S 109</td>
    <td>MFZ 430</td>
    <td>337.1111005-20</td>
    <td>4310</td>
    <td>7С-6</td>
    </tr>
    <tr>
    <td>65117 (Бортовой тягач)</td>
    <td>740.30- 1000400-10</td>
    <td>ZF 9S 109</td>
    <td>MFZ 430</td>
    <td>337.1111005-20</td>
    <td>4310</td>
    <td>7С-6</td>
    </tr>
    <tr>
    <td rowspan="2">43118</td>
    <td>43118- 1000260</td>
    <td>740.30- 1000402-70</td>
    <td>ZF 9S 109</td>
    <td>MFZ 430</td>
    <td>337.1111005-20</td>
    <td>4310</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>43118- 1000260-01</td>
    <td>740.30- 1000402-71</td>
    <td>ZF 9S 109</td>
    <td>MFZ 430</td>
    <td>337.1111005-20</td>
    <td>4310</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td>43118</td>
    <td>43118- 1000261-50</td>
    <td>740.30- 1000402-70</td>
    <td>154.1700056</td>
    <td>MFZ 430</td>
    <td>337.1111005-20</td>
    <td>4310</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>43118</td>
    <td>43118- 1000261-51</td>
    <td>740.30- 1000402-71</td>
    <td>154.1700056</td>
    <td>MFZ 430</td>
    <td>337.1111005-20</td>
    <td>4310</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td>43118</td>
    <td>43118- 1000261-52</td>
    <td>740.30- 1000402-66</td>
    <td>154.1700056</td>
    <td>MFZ 430</td>
    <td>3371.1111005- 20</td>
    <td>4310</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>43118</td>
    <td>43118- 1000261-53</td>
    <td>740.30- 1000402-67</td>
    <td>154.1700056</td>
    <td>MFZ 430</td>
    <td>3371.1111005- 20</td>
    <td>4310</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td rowspan="2">43118</td>
    <td>43118- 1000261-60</td>
    <td>740.30- 1000402-70</td>
    <td>154.1700051</td>
    <td>MFZ 430</td>
    <td>337.1111005-20</td>
    <td>4310</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>43118- 1000261-61</td>
    <td>740.30- 1000402-71</td>
    <td>154.1700051</td>
    <td>MFZ 430</td>
    <td>337.1111005-20</td>
    <td>4310</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td rowspan="2">43118</td>
    <td>43118- 1000262</td>
    <td>740.30- 1000402-70</td>
    <td>ZF 9S 109</td>
    <td>MFZ 430</td>
    <td>337.1111005-20</td>
    <td>4310</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>43118- 1000262-01</td>
    <td>740.30- 1000402-71</td>
    <td>ZF 9S 109</td>
    <td>MFZ 430</td>
    <td>337.1111005-20</td>
    <td>4310</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td>43118</td>
    <td>43118- 1000264-51</td>
    <td>740.30- 1000402-71</td>
    <td>154.1700056</td>
    <td>MFZ 430</td>
    <td>337.1111005-20</td>
    <td>4310</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td>43118</td>
    <td>43118- 1000264-50</td>
    <td>740.30- 1000402-70</td>
    <td>154-1700056</td>
    <td>MFZ 430</td>
    <td>337.1111005-20</td>
    <td>4310</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>5350 (бродо-ходимый)</td>
    <td>5350-1000260- 02</td>
    <td>740.30- 1000412-02</td>
    <td>154-1700056</td>
    <td>19.1600010</td>
    <td>337.1111005- 50.01</td>
    <td>4310</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>5350 (бродо-ходимый)</td>
    <td>5350-1000260- 02</td>
    <td>740.30- 1000412-03</td>
    <td>154-1700056</td>
    <td>19.1600010</td>
    <td>337.1111005- 50.01</td>
    <td>4310</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td>5350 (бродо-ходимый)</td>
    <td>5350-1000260- 12</td>
    <td>740.30- 1000412-02</td>
    <td>154-1700056</td>
    <td>19.1600010</td>
    <td>337.1111005- 50.01</td>
    <td>4310</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>5350 (бродо-ходимый)</td>
    <td>5350-1000260- 12</td>
    <td>740.30- 1000312-03</td>
    <td>154-1700056</td>
    <td>19.1600010</td>
    <td>337.1111005- 50.01</td>
    <td>4310</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td>5350 &laquo;Панцирь&raquo;</td>
    <td>5350-1000267</td>
    <td>740.30- 1000412-20</td>
    <td>154-1700056</td>
    <td>MFZ 430</td>
    <td>337.1111005- 50.01</td>
    <td>4310</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>5350 &laquo;Панцирь&raquo;</td>
    <td>5350-1000267- 01</td>
    <td>740.30- 1000412-21</td>
    <td>154-1700056</td>
    <td>MFZ 430</td>
    <td>337.1111005- 50.01</td>
    <td>4310</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td>5360</td>
    <td>5360- 1000280-10</td>
    <td>740.30- 1000400-15</td>
    <td>ZF 9S 109</td>
    <td>MFZ 430</td>
    <td>3371-1111005-20</td>
    <td>6520</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td rowspan="2">53605 (Польша)</td>
    <td>53605- 1000260-10</td>
    <td>740.30- 1000400-28</td>
    <td>154.1700051</td>
    <td>MFZ 430</td>
    <td>3371.1111005-20</td>
    <td>6520</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>53605- 1000260-11</td>
    <td>740.30- 1000400-29</td>
    <td>154.1700051</td>
    <td>MFZ 430</td>
    <td>3371.1111005-20</td>
    <td>6520</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td>53605</td>
    <td>53605- 1000260-34</td>
    <td>740.30- 1000400-34</td>
    <td>154.1700051</td>
    <td>MFZ 430</td>
    <td>0 402 648 611 ф. BOSCH</td>
    <td>6520</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>53605</td>
    <td>53605- 1000260-35</td>
    <td>740.30- 1000400-35</td>
    <td>154.1700051</td>
    <td>MFZ 430</td>
    <td>0 402 648 611 ф. BOSCH</td>
    <td>6520</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td>53605</td>
    <td>53605- 1000260-50</td>
    <td>740.30- 1000400-17</td>
    <td>154.1700051</td>
    <td>MFZ 430</td>
    <td>3371.1111005-20</td>
    <td>6520</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td>53605</td>
    <td>53605- 1000260-51</td>
    <td>740.30- 1000400-24</td>
    <td>154.1700051</td>
    <td>MFZ 430</td>
    <td>3371.1111005-20</td>
    <td>6520</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td rowspan="2">53605 (поставка в Иран)</td>
    <td>53605- 1000267</td>
    <td>740.30- 1000400-08</td>
    <td>154.1700051</td>
    <td>MFZ 430</td>
    <td>0 402 648 611 ф. BOSCH</td>
    <td>6520</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td>53605- 1000267-01</td>
    <td>740.30- 1000400-09</td>
    <td>154.1700051</td>
    <td>MFZ 430</td>
    <td>0 402 648 611 ф. BOSCH</td>
    <td>6520</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>5460</td>
    <td>5460- 1000280-10</td>
    <td>740.30- 1000400-15</td>
    <td>ZF6S 109</td>
    <td>MFZ 430</td>
    <td>3371.1111005-20</td>
    <td>6520</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td><strong>Автомобиль</strong></td>
    <td><strong>Силовой агрегат "250"</strong></td>
    <td><strong>Двигатель "400"</strong></td>
    <td><strong>Модель КП</strong></td>
    <td><strong>Модель сцепления</strong></td>
    <td><strong>Модель ТНВД</strong></td>
    <td><strong>Модель ГУР</strong></td>
    <td><strong>ТКР</strong></td>
    </tr>
    <tr>
    <td>65111</td>
    <td>65111- 1000260-50</td>
    <td>740.30- 1000400-74</td>
    <td>154.1700056</td>
    <td>MFZ 430</td>
    <td>3371.1111005- 20</td>
    <td>4310</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>65111</td>
    <td>65111- 1000260-51</td>
    <td>740.30- 1000400-79</td>
    <td>154.1700056</td>
    <td>MFZ 430</td>
    <td>3371.1111005- 20</td>
    <td>4310</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td>65111</td>
    <td>65111- 1000260-94</td>
    <td>740.30- 1000402-90</td>
    <td>154.1700051</td>
    <td>MFZ 430</td>
    <td>0 402 648 611 ф. BOSCH</td>
    <td>4310</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>65111</td>
    <td>65111- 1000260-95</td>
    <td>740.30- 1000402-91</td>
    <td>154.1700051</td>
    <td>MFZ 430</td>
    <td>0 402 648 611 ф. BOSCH</td>
    <td>4310</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td>65111</td>
    <td>65111- 1000260-96</td>
    <td>740.30- 1000402-92</td>
    <td>154.1700051</td>
    <td>MFZ 430</td>
    <td>0 402 648 611 ф. BOSCH</td>
    <td>4310</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>65111</td>
    <td>65111- 1000260-97</td>
    <td>740.30- 1000402-93</td>
    <td>154.1700051</td>
    <td>MFZ 430</td>
    <td>0 402 648 611 ф. BOSCH</td>
    <td>4310</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td rowspan="10">65111</td>
    <td>65111- 1000261-50</td>
    <td>740.30- 1000402-72</td>
    <td>154.1700056</td>
    <td>MFZ 430</td>
    <td>337.1111005-20</td>
    <td>4310</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>65111- 1000261-51</td>
    <td>740.30- 1000402-73</td>
    <td>154.1700056</td>
    <td>MFZ 430</td>
    <td>337.1111005-20</td>
    <td>4310</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td>65111- 1000280-41</td>
    <td>740.30- 1000402-41</td>
    <td>ZF 9S 109</td>
    <td>MFZ 430</td>
    <td>3371.1111005- 20</td>
    <td>4310</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td>65111- 1000280-42</td>
    <td>740.30- 1000402-44</td>
    <td>ZF9S 109</td>
    <td>MFZ 430</td>
    <td>3371.1111005- 20</td>
    <td>4310</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>65111- 1000280-43</td>
    <td>740.30- 1000402-45</td>
    <td>ZF 9S 109</td>
    <td>MFZ 430</td>
    <td>3371.1111005- 20</td>
    <td>4310</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td>65111- 1000282-02</td>
    <td>740.30- 1000402-42</td>
    <td>ZF 9S 109</td>
    <td>MFZ 430</td>
    <td>337.1111005-20</td>
    <td>4310</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>65111- 1000282-03</td>
    <td>740.30- 1000402-43</td>
    <td>ZF 9S 109</td>
    <td>MFZ 430</td>
    <td>337.1111005-20</td>
    <td>4310</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td>65111- 1000282-12</td>
    <td>740.30- 1000402-52</td>
    <td>ZF 9S 109</td>
    <td>MFZ 430</td>
    <td>337.1111005-20</td>
    <td>4310</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>65111- 1000282-13</td>
    <td>740.30- 1000402-53</td>
    <td>ZF 9S 109</td>
    <td>MFZ 430</td>
    <td>337.1111005-20</td>
    <td>4310</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td>65111- 1000283-02</td>
    <td>740.30- 1000402-42</td>
    <td>ZF 9S 109</td>
    <td>MFZ 430</td>
    <td>337.1111005-20</td>
    <td>4310</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>Автомобиль</td>
    <td>Силовой агрегат "250"</td>
    <td>Двигатель "400"</td>
    <td>Модель КП</td>
    <td>Модель сцепления</td>
    <td>Модель ТНВД</td>
    <td>Модель ГУР</td>
    <td>ТКР</td>
    </tr>
    <tr>
    <td rowspan="3">65111</td>
    <td>65111- 1000283-03</td>
    <td>740.30- 1000402-43</td>
    <td>ZF 9S 109</td>
    <td>MFZ 430</td>
    <td>337.1111005-20</td>
    <td>4310</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td>65111- 1000283-12</td>
    <td>740.30- 1000402-52</td>
    <td>ZF 9S 109</td>
    <td>20/010 MFZ 430</td>
    <td>337.1111005-20</td>
    <td>4310</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>65111- 1000283-13</td>
    <td>740.30- 1000402-53</td>
    <td>ZF 9S 109</td>
    <td>MFZ 430</td>
    <td>337.1111005-20</td>
    <td>4310</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td>65115</td>
    <td>65115-1000260- 50</td>
    <td>740.30- 1000400-74</td>
    <td>154.1700056</td>
    <td>MFZ 430</td>
    <td>3371.1111005-20</td>
    <td>4310</td>
    <td>7С-6</td>
    </tr>
    <tr>
    <td rowspan="3">65115</td>
    <td>65115-1000260- 51</td>
    <td>740.30- 1000400-79</td>
    <td>154.1700056</td>
    <td>MFZ 430</td>
    <td>3371.1111005-20</td>
    <td>4310</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td>65115-1000260- 52</td>
    <td>740.30- 1000400-75</td>
    <td>154.1700056</td>
    <td>MFZ 430</td>
    <td>3371.1111005-20</td>
    <td>4310</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>65115-1000260- 53</td>
    <td>740.30- 1000400-76</td>
    <td>154.1700056</td>
    <td>MFZ 430</td>
    <td>3371.1111005- 20</td>
    <td>4310</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td rowspan="4">65115</td>
    <td>65115- 1000260-84</td>
    <td>740.30- 1000400-84</td>
    <td>154.1700051</td>
    <td>MFZ 430</td>
    <td>0 402 648 611 ф. BOSCH</td>
    <td>4310</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>65115- 1000260-85</td>
    <td>740.30- 1000400-85</td>
    <td>154.1700051</td>
    <td>MFZ 430</td>
    <td>0 402 648 611 ф. BOSCH</td>
    <td>4310</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td>65115- 1000260-86</td>
    <td>740.30- 1000400-84</td>
    <td>154.1700051</td>
    <td>MFZ 430</td>
    <td>0 402 648 611 ф. BOSCH</td>
    <td>4310</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>65115- 1000260-87</td>
    <td>740.30- 1000400-85</td>
    <td>154.1700/051</td>
    <td>MFZ 430</td>
    <td>0 402 648 611 ф. BOSCH</td>
    <td>4310</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td>65115</td>
    <td>65115-1000266- 50</td>
    <td>740.30- 1000400-79</td>
    <td>154.1700056</td>
    <td>MFZ 430</td>
    <td>3371.1111005-20</td>
    <td>4310</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td>65115 (Самосвал-тягач)</td>
    <td>65115-1000281</td>
    <td>740.30- 100400-10</td>
    <td>ZF 9S 109</td>
    <td>MFZ 430</td>
    <td>337.1111005-20</td>
    <td>4310</td>
    <td>7С-6</td>
    </tr>
    <tr>
    <td>65115 (Самосвал-тягач)</td>
    <td>65115-1000281- 11</td>
    <td>740.30- 1000400-31</td>
    <td>ZF 9S 109</td>
    <td>MFZ 430</td>
    <td>337.1111005-20</td>
    <td>4310</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td>65115</td>
    <td>65115- 1000281-20</td>
    <td>740.30- 1000400-40</td>
    <td>ZF 9S 109</td>
    <td>MFZ 430</td>
    <td>3371.1111005- 20</td>
    <td>RBL, Германия</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>65115</td>
    <td>65115- 1000281-21</td>
    <td>740.30- 1000400-41</td>
    <td>ZF 9S 109</td>
    <td>MFZ 430</td>
    <td>3371.1111005- 20</td>
    <td>RBL, Германия</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td>65115</td>
    <td>65115- 1000281-30</td>
    <td>740.30- 1000400-40</td>
    <td>ZF 9S 109</td>
    <td>MFZ 430</td>
    <td>3371.1111005- 20</td>
    <td>RBL, Германия</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>65115</td>
    <td>65115- 1000281-31</td>
    <td>740.30- 1000400-41</td>
    <td>ZF 9S 109</td>
    <td>MFZ 430</td>
    <td>3371.1111005- 20</td>
    <td>RBL, Германия</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td>65115</td>
    <td>65115-1000282- 02</td>
    <td>740.30- 1000400-52</td>
    <td>ZF 9S 109</td>
    <td>MFZ 430</td>
    <td>337.1111005-20</td>
    <td>RBL, Германия</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>65115</td>
    <td>65115-1000282- 03</td>
    <td>740.30- 1000400-53</td>
    <td>ZF 9S 109</td>
    <td>MFZ 430</td>
    <td>337.1111005-20</td>
    <td>RBL, Германия</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td>65115</td>
    <td>65115-1000282- 12</td>
    <td>740.30- 1000400-62</td>
    <td>ZF 9S 109</td>
    <td>MFZ 430</td>
    <td>337.1111005-20</td>
    <td>RBL, Германия</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>65115</td>
    <td>65115-1000282- 13</td>
    <td>740.30- 1000400-63</td>
    <td>ZF 9S 109</td>
    <td>MFZ 430</td>
    <td>337.1111005-20</td>
    <td>RBL, Германия</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td>65116</td>
    <td>65116- 1000260-50</td>
    <td>740.30- 1000400-74</td>
    <td>154.1700/056</td>
    <td>MFZ 430</td>
    <td>3371.1111005-20</td>
    <td>4310</td>
    <td>7С-6</td>
    </tr>
    <tr>
    <td>65116</td>
    <td>65116- 1000260-51</td>
    <td>740.30- 1000400-79</td>
    <td>154.1700056</td>
    <td>MFZ 430</td>
    <td>3371.1111005-20</td>
    <td>4310</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td>65116</td>
    <td>65116- 1000260-52</td>
    <td>740.30- 1000400-75</td>
    <td>154.1700056</td>
    <td>MFZ 430</td>
    <td>3371.1111005-20</td>
    <td>4310</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>65116</td>
    <td>65116- 1000260-53</td>
    <td>740.30- 1000400-76</td>
    <td>154.11700056</td>
    <td>MFZ 430</td>
    <td>3371.1111005-20</td>
    <td>4310</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td>65116</td>
    <td>65116- 1000260-84</td>
    <td>740.30- 1000400-84</td>
    <td>154.1700051</td>
    <td>MFZ 430</td>
    <td>0 402 648 611 ф. BOSCH</td>
    <td>4310</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>65116</td>
    <td>65116- 1000260-85</td>
    <td>740.30- 1000400-85</td>
    <td>154.1700051</td>
    <td>MFZ 430</td>
    <td>0 402 648 611 ф. BOSCH</td>
    <td>4310</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td>65116</td>
    <td>65116- 1000260-86</td>
    <td>740.30- 1000400-86</td>
    <td>154.1700051</td>
    <td>MFZ 430</td>
    <td>0 402 648 611 ф. BOSCH</td>
    <td>4310</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>65116</td>
    <td>65116- 1000260-87</td>
    <td>740.30- 1000400-87</td>
    <td>154.1700051</td>
    <td>MFZ 430</td>
    <td>0 402 648 611 ф. BOSCH</td>
    <td>4310</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td>65116</td>
    <td>65116- 1000280-95</td>
    <td>740.30- 1000400-90</td>
    <td>154.1700056</td>
    <td>MFZ 430</td>
    <td>0 402 648 611 ф. BOSCH</td>
    <td>4310</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>65116</td>
    <td>65116- 1000280-96</td>
    <td>740.30- 1000400-91</td>
    <td>154.1700056</td>
    <td>MFZ 430</td>
    <td>0 402 648 611 ф. BOSCH</td>
    <td>4310</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td>65116</td>
    <td>65116- 1000280-97</td>
    <td>740.30- 1000400-92</td>
    <td>154.1700056</td>
    <td>MFZ 430</td>
    <td>0 402 648 611 ф. BOSCH</td>
    <td>4310</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>65116</td>
    <td>65116- 1000280-98</td>
    <td>740.30- 1000400-93</td>
    <td>154.1700056</td>
    <td>MFZ 430</td>
    <td>0 402 648 611 ф. BOSCH</td>
    <td>4310</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td>65116 (Седельный тягач)</td>
    <td>65116-1000282</td>
    <td>740.30- 1000400-10</td>
    <td>ZF 9S 109</td>
    <td>MFZ 430</td>
    <td>337.1111005-20</td>
    <td>RBL, Германия</td>
    <td>7С-6</td>
    </tr>
    <tr>
    <td>65116 (Седельный тягач)</td>
    <td>65117-1000280</td>
    <td>740.30- 1000400-50</td>
    <td>ZF 9S 109</td>
    <td>MFZ 430</td>
    <td>337.1111005-20</td>
    <td>RBL, Германия</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>65116 (Седельный тягач)</td>
    <td>65117-1000280- 01</td>
    <td>740.30- 1000400-51</td>
    <td>ZF 9S 109.</td>
    <td>MFZ 430</td>
    <td>337.1111005-20</td>
    <td>RBL, Германия</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td>65116 (Седельный тягач)</td>
    <td>65117-1000280 -10</td>
    <td>740.30- 1000400-60</td>
    <td>ZF 9S 109</td>
    <td>MFZ 430</td>
    <td>337.1111005-20</td>
    <td>4310</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>65117</td>
    <td>65117-1000280 -11</td>
    <td>740.30- 1000400-61</td>
    <td>ZF 9S 109</td>
    <td>MFZ 430</td>
    <td>337.1111005-20</td>
    <td>4310</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>65117</td>
    <td>65117-1000283- 02</td>
    <td>740.30- 1000400-52</td>
    <td>ZF 9S 109</td>
    <td>MFZ 430</td>
    <td>337.1111005-20</td>
    <td>RBL, Германия</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>65117</td>
    <td>65117- 1000/283-03</td>
    <td>740.30- 1000400-53</td>
    <td>ZF 9S 109</td>
    <td>MFZ 430</td>
    <td>337.1111005-20</td>
    <td>RBL, Германия</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td>65117</td>
    <td>65117-1000283- 12</td>
    <td>740.30- 1000400-62</td>
    <td>ZF 9S 109</td>
    <td>MFZ 430</td>
    <td>337.1111005-20</td>
    <td>4310</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>65117</td>
    <td>65117-1000283- 13</td>
    <td>740.30- 1000400-63</td>
    <td>ZF 9S 109</td>
    <td>MFZ 430</td>
    <td>337.1111005-20</td>
    <td>4310</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td>65201 (автокран)</td>
    <td>65201- 1000260</td>
    <td>740.30- 1000400-58</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td>65201 (автокран)</td>
    <td>65201- 1000260-01</td>
    <td>740.30- 1000400-59</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td rowspan="2">3371.1111005-20</td>
    <td>&nbsp;</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>65201 (автокран)</td>
    <td>65201- 1000260-02</td>
    <td>740.30- 1000400-56</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td>65201 (автокран)</td>
    <td>65201- 1000260-03</td>
    <td>740.30- 1000400-57</td>
    <td rowspan="2">154-1700058</td>
    <td rowspan="2">MFZ 430</td>
    <td>&nbsp;</td>
    <td rowspan="2">6540</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>65201 (автокран)</td>
    <td>65201- 1000260-04</td>
    <td>740.30- 1000400-66</td>
    <td>&nbsp;</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td>65201 (автокран)</td>
    <td>65201- 1000260-05</td>
    <td>740.30- 1000400-67</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>0 402 648 611</td>
    <td>&nbsp;</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>65201 (автокран)</td>
    <td>65201- 1000260-06</td>
    <td>740.30- 1000400-64</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>ф. BOSCH</td>
    <td>&nbsp;</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td>65201 (автокран)</td>
    <td>65201- 1000260-07</td>
    <td>740.30- 1000400-65</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>6540</td>
    <td>6540- 1000260-50</td>
    <td>740.30- 1000400-77</td>
    <td>154.1700056</td>
    <td>MFZ 430</td>
    <td>3371.1111005-20</td>
    <td>6540</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>6540</td>
    <td>6540- 1000260-51</td>
    <td>740.30- 1000400-78</td>
    <td>154.1700056</td>
    <td>MFZ 430</td>
    <td>3371.1111005-20</td>
    <td>6540</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td><strong>Автомобиль</strong></td>
    <td><strong>Силовой агрегат "250"</strong></td>
    <td><strong>Двигатель "400"</strong></td>
    <td><strong>Модель КП</strong></td>
    <td><strong>Модель сцепления</strong></td>
    <td><strong>Модель ТНВД</strong></td>
    <td><strong>Модель ГУР</strong></td>
    <td><strong>ТКР</strong></td>
    </tr>
    <tr>
    <td>6540 с подогревом</td>
    <td>6540- 1000260-84</td>
    <td>740.30- 1000401-90</td>
    <td>154.1700051</td>
    <td>MFZ 430</td>
    <td>0 402 648 611 ф. BOSCH</td>
    <td>6540</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>6540 с подогревом</td>
    <td>6540- 1000260-85</td>
    <td>740.30- 1000401-91</td>
    <td>154.1700051</td>
    <td>MFZ 430</td>
    <td>0 402 648 611 ф. BOSCH</td>
    <td>6540</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td>6540 с подогревом</td>
    <td>6540- 1000260-86</td>
    <td>740.30- 1000401-92</td>
    <td>154.1700051</td>
    <td>MFZ 430</td>
    <td>0 402 648 611 ф. BOSCH</td>
    <td>6540</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>6540 с подогревом</td>
    <td>6540- 1000260-87</td>
    <td>740.30- 1000401-93</td>
    <td>154.1700/051</td>
    <td>MFZ 430</td>
    <td>0 402 648 611 ф. BOSCH</td>
    <td>6540</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td>6540 с подогревом</td>
    <td>6540- 1000280-06</td>
    <td>740.30- 1000400-40</td>
    <td>ZF 9S 109</td>
    <td>MFZ 430</td>
    <td>3371.1111005-20</td>
    <td>6540</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>6540 с подогревом</td>
    <td>6540- 1000280-07</td>
    <td>740.30- 1000400-41</td>
    <td>ZF 9S 109</td>
    <td>MFZ 430</td>
    <td>3371.1111005-20</td>
    <td>6540</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td>6540</td>
    <td>6540- 1000280-08</td>
    <td>740.30- 1000402-42</td>
    <td>ZF 9S 109</td>
    <td>MFZ 430</td>
    <td>337.1111005-20</td>
    <td>4310</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>6540</td>
    <td>6540- 1000280-09</td>
    <td>740.30- 1000402-43</td>
    <td>ZF 9S 109</td>
    <td>MFZ 430</td>
    <td>337.1111005-20</td>
    <td>4310</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td>6540 правый руль (Намибия)</td>
    <td>6540- 1000287-25</td>
    <td>740.30- 1000400-25</td>
    <td>ZF 9S 109</td>
    <td>MFZ 430</td>
    <td>337.1111005-20</td>
    <td>6540-60</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td>5350 (Мустанг)</td>
    <td>5350-1000260</td>
    <td>740.30- 1000412</td>
    <td>154.1700056</td>
    <td>19.1600010</td>
    <td>337.1111005- 50.01</td>
    <td>6540</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>5350 (Мустанг)</td>
    <td>5350- 1000260-01</td>
    <td>740.301000412-01</td>
    <td>154.1700056</td>
    <td>19.1600010</td>
    <td>337.1111005- 50.01</td>
    <td>6540</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td>5350 (Мустанг)</td>
    <td>5350- 1000260-11</td>
    <td>740.30- 1000412</td>
    <td>154.1700056</td>
    <td>19.1600010</td>
    <td>337.1111005- 50.01</td>
    <td>6540</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>5350 (Мустанг)</td>
    <td>5350- 1000260-12</td>
    <td>740.301000412-01</td>
    <td>154.1700056</td>
    <td>19.1600010</td>
    <td>337.1111005- 50.01</td>
    <td>6540</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td>5350 (Мустанг)</td>
    <td>5350-1000261</td>
    <td>740.30- 1000412</td>
    <td>154.1700056</td>
    <td>19.1600010</td>
    <td>337.1111005- 50.01</td>
    <td>6540</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>5350 (Мустанг)</td>
    <td>5350- 1000261-01</td>
    <td>740.301000412-01</td>
    <td>154.1700056</td>
    <td>19.1600010</td>
    <td>337.1111005- 50.01</td>
    <td>6540</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td>5350 (Мустанг)</td>
    <td>5350- 1000/260-02</td>
    <td>740.30- 100412-02</td>
    <td>154.1700056</td>
    <td>19.1600010</td>
    <td>337.1111005- 50.01</td>
    <td>6540</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>5350 (Мустанг)</td>
    <td>5350- 1000260-03</td>
    <td>740.301000412-03</td>
    <td>154.1700056</td>
    <td>19.1600010</td>
    <td>337.1111005- 50.01</td>
    <td>6540</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td>5350 (Мустанг)</td>
    <td>5350- 1000260-12</td>
    <td>740.301000412-02</td>
    <td>154.1700056</td>
    <td>19.1600010</td>
    <td>337.1111005- 50.01</td>
    <td>6540</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>5350 (Мустанг)</td>
    <td>5350- 1000260-13</td>
    <td>740.301000412-03</td>
    <td>154.1700056</td>
    <td>19.1600010</td>
    <td>337.1111005- 50.01</td>
    <td>6540</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td>5350 (Мустанг)</td>
    <td>5350/262</td>
    <td>740.30- 1000412</td>
    <td>144.1700101</td>
    <td>19.1600010</td>
    <td>337.1111005- 50.01</td>
    <td>6540</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>5350 (Мустанг)</td>
    <td>5350/262-01</td>
    <td>740.301000412-01</td>
    <td>144.1700101</td>
    <td>19.1600010</td>
    <td>337.1111005- 50.01</td>
    <td>6540</td>
    <td>ф. Schwitzer</td>
    </tr>
    <tr>
    <td rowspan="2">Мустанг 5350 (компрессор кондиционера, тропики)</td>
    <td>5350/267</td>
    <td>740.301000412-20</td>
    <td rowspan="2">154.1700056</td>
    <td rowspan="2">MFZ 430</td>
    <td rowspan="2">337.1111005- 50.01</td>
    <td rowspan="2">4310</td>
    <td>7C-6</td>
    </tr>
    <tr>
    <td>5350/267-01</td>
    <td>740.301000412-21</td>
    <td>ф. Schwitzer</td>
    </tr>
    </tbody>
    </table>
    <div id="gtx-trans" style="position: absolute; left: 212px; top: 5896.06px;">
    <div class="gtx-trans-icon">&nbsp;</div>
    </div>
    <p></p>
    <p><a href="/agregaty/dvigateli/docs/dvigatel-kamaz-740-30.pdf" target="_blank">Описание двигателя КАМАЗ 740.30</a> </p>
    <p><a href="/agregaty/dvigateli/docs/dvigatel-kamaz-740-30_2.pdf" target="_blank">Брошюра</a> </p>
    <p></p>

    {% include kupite_u_nas.html %}

    <p></p>
    <p></p>
    

</div>