---
layout: default_info
title: Двигатель КАМАЗ Евро-0 - 740.10, 7403 Турбо, 7409.10
description: Каталог двигателей КамАЗ серии Евро-0 - 740.10-210, 7403.10-260 Турбо, 7409.10-210 Урал. Описание, характеристики, прайс-лист, низкие цены, каталог запчастей, с доставкой из Наб.Челнов и обслуживания.
keywords: евро-0 двигатель КамАЗ .10-210, 7403.10-260 Турбо, 7409.10-210 Урал запчасти ремонт
hero-title: Запчасти на ДВИГАТЕЛИ КамАЗ
h1: Двигатели КамАЗ серии Евро-0
h2: с доставкой из Наб.Челнов
---

<div class="col-md-10 col-xs-12 m-auto">
    <div class="row">
        <div class="col-md-3">
            <h3>Двигатели Евро-0</h3>
            <table class="table table-hover">
                <tr><td> <a href="/agregaty/dvigateli/dvigatel_kamaz_740_10_evro-0.html" class="u"> 740.10-210 Евро-0</a> </td></tr>
                <tr><td> <a href="/agregaty/dvigateli/dvigatel_kamaz_7403_10_turbo.html" class="u"> 7403.10-260 Турбо</a> </td></tr>
                <tr><td> <a href="#7409.10-210" class="u"> 7409.10-210 Урал</a> </td></tr>
            </table>
            <img src="/dvigatel_zapchasti/img/category/dvigatel_740_png.png">
        </div>
    
        <div class="col-md-9">
            <div class="text text-light">
                <p>
                    Первым двигателем данного семейства считается простой двигатель КамАЗ 740 V8, мощностью 210 л.с., 
                    устанавливался на автомобили КамАЗ-5410, 54112, 5320, 55102, 5511. 
                </p>
                
                <p> Другие модели серии Евро-0:
                        - Двигатель КамАЗ 74009.10-403 (Урал) и 
                        - Двигатель КамАЗ 7403.10-260, первый турбированный двигатель, мощностью мотора 260 л.с. 
                         <br>
                </p>
                
                <p> C появление экологических норм - завод двигателей КАМАЗ модернизировал двигатели этой серии
                     и выпустил моторы серии <a href="/dvigatel_zapchasti/category/dvigatel-kamaz-evro-1.html" class="u">Евро-1</a>.</p>
                     
                     <p class="text-right">
                        <a class="btn btn-secondary" href="/agregaty/dvigateli/index.html"> Все двигатели КАМАЗ</a>
                    </p>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 col-xs-12 m-auto">    

    <h2>Каталог Евро-0</h2>

    <div id="productList" class="pt-4 pb-2" style="display: block;">
        <div class="row list">

            <!-- Двигатель евро-0  -->
            <div id="740-10"></div>
            {% assign page_url = "dvigatel_kamaz_740_10_evro-0" %}
            {% assign product = site.data.agregaty | where:"url", page_url | first  %}
            {%- if product -%}
            {% include card_zapchasti_catalog.html product = product %}
            {%- endif -%}


            <div id="7403-10"></div>
            {% assign page_url = "dvigatel_kamaz_7403_10_turbo" %}
            {% assign product = site.data.agregaty | where:"url", page_url | first  %}
            {%- if product -%}
            {% include card_zapchasti_catalog.html product = product %}
            {%- endif -%}

            <div id="loadingDiv" style="display: none;">
                <span>Загрузка данных</span>
            </div>
	    </div>
	<div class="no-result">Не найдено</div>
	<ul class="pagination" style="display: none;"></ul>
    </div>


<h2>Двигатели серии 740 Евро-0</h2>

    <table class="table table-hover table-harki table-responsive-sm table-sm" style="width: auto;">
            <tbody>
            <tr>
            <td width="83">
            <p>Модель двигателя</p>
            </td>
            <td width="20%">Особенности конструкции</td>
            <td>Мощность, л.с.</td>
            <td>Номинальная частота вращения, мин-1</td>
            <td>Крутящий момент, кгс&middot;м</td>
            <td>Мин. расход топлива, г/(л.с.&middot;ч)</td>
            <td>Расход масла на угар, % от расхода топлива</td>
            <td>Ресурс, тыс. км</td>
            </tr>
            <tr>
            <td>Евро-0</td>
            <td width="271">&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            </tr>
            <tr>
            <td>7403.10</td>
            <td width="271">с турбонаддувом</td>
            <td>260</td>
            <td rowspan="3">2600</td>
            <td>80</td>
            <td rowspan="3">155</td>
            <td rowspan="3">0,5</td>
            <td rowspan="3">400</td>
            </tr>
            <tr>
            <td>740.10-20</td>
            <td rowspan="2" width="271">Дизельные</td>
            <td>220</td>
            <td>68</td>
            </tr>
            <tr>
            <td>740.10</td>
            <td>210</td>
            <td>68</td>
            </tr>
            </tbody>
            </table>

    <!-- Каталог товаров -->



    <h3>Технические характеристики двигателя КамАЗ 740 (Евро-0)</h3>
    <table class="table table-hover table-harki table-responsive-sm table-striped" style="width: auto;">
        <tbody>
        <tr>
        <td>
        <p><strong>Модель двигателя</strong></p>
        </td>
        <td style="text-align: center;">
        <p><strong>740-210</strong></p>
        </td>
        <td style="text-align: center;">
        <p><strong>7403-260</strong></p>
        </td>
        </tr>
        <tr>
        <td>
        <p>Мощность кВт (л.с.)</p>
        </td>
        <td style="text-align: center;">
        <p>154(210)</p>
        </td>
        <td style="text-align: center;">
        <p>191(260)</p>
        </td>
        </tr>
        <tr>
        <td>
        <p>Частота вращения коленвала<br />мин -1</p>
        </td>
        <td style="text-align: center;">
        <p>2600</p>
        </td>
        <td style="text-align: center;">
        <p>2600</p>
        </td>
        </tr>
        <tr>
        <td>
        <p>Максимальный крутящий момент Нм(кГм)</p>
        </td>
        <td style="text-align: center;">
        <p>667(68)</p>
        </td>
        <td style="text-align: center;">
        <p>765(80)</p>
        </td>
        </tr>
        <tr>
        <td>
        <p>Количество и расположение цилиндров</p>
        </td>
        <td style="text-align: center;">
        <p>8, V-образное</p>
        </td>
        <td style="text-align: center;">
        <p>8, V-образное</p>
        </td>
        </tr>
        <tr>
        <td>
        <p>Диаметр цилиндра/ход поршня, мм</p>
        </td>
        <td style="text-align: center;">
        <p>120/120</p>
        </td>
        <td style="text-align: center;">
        <p>120/120</p>
        </td>
        </tr>
        <tr>
        <td>
        <p>Рабочий объем, л.</p>
        </td>
        <td style="text-align: center;">
        <p>10,85</p>
        </td>
        <td style="text-align: center;">
        <p>10,85</p>
        </td>
        </tr>
        <tr>
        <td>
        <p>Степень сжатия</p>
        </td>
        <td style="text-align: center;">
        <p>17</p>
        </td>
        <td style="text-align: center;">
        <p>16,5</p>
        </td>
        </tr>
        <tr>
        <td>
        <p>Порядок работы цилиндров</p>
        </td>
        <td style="text-align: center;">
        <p>1-5-4-2-6-3-7-8</p>
        </td>
        <td style="text-align: center;">
        <p>1-5-4-2-6-3-7-8</p>
        </td>
        </tr>
        <tr>
        <td>
        <p>Направление вращения по<br />ГОСТ 22836-77</p>
        </td>
        <td style="text-align: center;">
        <p>правое</p>
        </td>
        <td style="text-align: center;">
        <p>правое</p>
        </td>
        </tr>
        <tr>
        <td>
        <p>Масса двигателя в комплектности (брутто) по ГОСТ 14846-81, кг</p>
        </td>
        <td style="text-align: center;">
        <p>750</p>
        </td>
        <td style="text-align: center;">
        <p>780</p>
        </td>
        </tr>
        <tr>
        <td>
        <p>Заправочная емкость системы смазки двигателя, л.</p>
        </td>
        <td style="text-align: center;">
        <p>26</p>
        </td>
        <td style="text-align: center;">
        <p>28</p>
        </td>
        </tr>
        <tr>
        <td>
        <p>Емкость системы охлаждения (только двигателя), л</p>
        </td>
        <td style="text-align: center;">
        <p>18</p>
        </td>
        <td style="text-align: center;">
        <p>18</p>
        </td>
        </tr>
        <tr>
        <td>
        <p>Модель ТНВД</p>
        </td>
        <td style="text-align: center;">
        <p>33 ЯЗДА</p>
        </td>
        <td style="text-align: center;">
        <p>334 ЯЗДА</p>
        </td>
        </tr>
        <tr>
        <td>
        <p>Форсунка</p>
        </td>
        <td style="text-align: center;">
        <p>271</p>
        </td>
        <td style="text-align: center;">
        <p>271</p>
        </td>
        </tr>
        <tr>
        <td>
        <p>Давление начала впрыскивания, МПа</p>
        </td>
        <td style="text-align: center;">
        <p>21,3-22,3</p>
        </td>
        <td style="text-align: center;">
        <p>22,95-23,73 (234-242)</p>
        </td>
        </tr>
        </tbody>
        </table>


    <div class="text-success">
        Позвоните - мы поможем правильно подобрать подходящую модель для замены и с доставкой из Наб.Челнов вашего двигателя.
    </div>

    <p></p>
    {% include kupite_u_nas.html %}
    <p></p>

</div>
