---
layout: default_info
title: Двигатели КамАЗ 740 и Cummins - купить новый, кап.ремонт, трейд-ин 
description: В наличии двигатели КамАЗ простые 740 и турбированные Евро-0, Евро-1,2,3,4,5. 910 Р6. Подбор на КАМАЗ 43118, 6520, 4310, 53205, 5490. Подсказки по выбору, прайс-листы, описание, характеристики, советы эксплуатации.
keywords: двигатель КамАЗ 4310 740.10 евро-0 евро-1 евро-2 евро-3 евро-4 7403 турбо Двигатель КамАЗ Евро Евро-1 Евро-2 Евро-3 Евро-4 
h1: Каталог двигателей на технику КамАЗ
h2:
phone: 
phone_title: 
categories: [<a href="/agregaty/index.html">Агрегаты</a> ]
---

 
<!-- Товары -->
<style>
    .list-group-item{ margin-bottom: 1px; }
</style>
 
<div class="col-md-11 col-xs-12" style="margin: auto;">

    <h3>Каталог </h3>
    <div class="form form-inline">
        <input id="pListSearch" class="fuzzy-search" type="search" class="form-control" placeholder="поиск..." style="width:130px;"/>
        &nbsp;&nbsp;
        <button class="btn btn-search-var" onclick="$('#pListSearch').val('Евро-0'); filterProductList($('#pListSearch').val());" title="Евро-0">Евро-0</button>   
        <button class="btn btn-search-var" onclick="$('#pListSearch').val('Евро-1'); filterProductList($('#pListSearch').val());" title="Евро-1">Евро-1</button>   
        <button class="btn btn-search-var" onclick="$('#pListSearch').val('Евро-2'); filterProductList($('#pListSearch').val());" title="Евро-2">Евро-2</button>   
        <button class="btn btn-search-var" onclick="$('#pListSearch').val('Евро-3'); filterProductList($('#pListSearch').val());" title="Евро-3">Евро-3</button>   
        <button class="btn btn-search-var" onclick="$('#pListSearch').val('Евро-4'); filterProductList($('#pListSearch').val());" title="Евро-4">Евро-4</button>   
        <button class="btn btn-search-var" onclick="$('#pListSearch').val('-4-5'); filterProductList($('#pListSearch').val());" title="Евро-5">Евро-5</button>   
      
    </div> 

    {% include catalog-loading-panel.html %}

    <div id="productList" class="pt-2 pb-2" style="display: none; ">
    
        <div class="row list">
            {% for product in site.data.agregaty  %}
            {%- if product.path == "/agregaty/dvigateli/" -%}
                {% include card_zapchasti_catalog.html product = product %}
            {%- endif -%}
            {% endfor %}

            <div id="loadingDiv">
                <span>Загрузка данных</span>
            </div>
        </div>
        <div class="no-result">Не найдено</div>
        <ul class="pagination"></ul>
    </div>
    


    <div class="col-md-10 col-xs-12" style="margin: auto;">
        <h2>Подбор двигателей КАМАЗ</h2>
        <div class="row">
            <div class="col-md-3">
                <h3 style="padding-top: 0px;">По экологическому стандарту</h3>
                <table class="table table-hover">
                    <tr><td> <a href="/agregaty/dvigateli/dvigatel-kamaz-740-evro-0.html" class="u">Евро-0</a> </td></tr>
                    <tr><td> <a href="/agregaty/dvigateli/dvigatel-kamaz-evro-1.html" class="u">Евро-1</a> </td></tr>
                    <tr><td> <a href="/agregaty/dvigateli/dvigatel-kamaz-evro-2.html" class="u">Евро-2</a> </td></tr>
                    <tr><td> <a href="/agregaty/dvigateli/dvigatel-kamaz-evro-3.html" class="u">Евро-3</a> </td></tr>
                    <tr><td> <a href="/agregaty/dvigateli/dvigatel-kamaz-evro-4.html" class="u">Евро-4</a> </td></tr>
                    <tr><td> <a href="/agregaty/dvigateli/dvigatel-kamaz-evro-5.html" class="u">Евро-5-6</a> </td></tr>
                </table>
    
            </div>
    
    
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <a href="/agregaty/dvigateli/dvigateli_kamaz_4310.html">
                            <strong>КАМАЗ 4310</strong>
                            <img src="/assets/img/model/kamaz_4310.jpg" style="max-width: 190px;">
                        </a>
                    </div>
                    <div class="col-md-4 text-center">
                        <a href="/agregaty/dvigateli/dvigateli_kamaz_43114.html">
                            <strong>КАМАЗ 43114</strong>
                            <img src="/assets/img/model/kamaz_43114.jpg" style="max-width: 190px;">
                        </a>
                    </div>
                    <div class="col-md-4 text-center">
                        <a href="/agregaty/dvigateli/dvigateli_kamaz_43118.html">
                            <strong>КАМАЗ 43118</strong>
                            <img src="/assets/img/model/kamaz_43118.jpg" style="max-width: 190px;">
                        </a>
                    </div>
                    <div class="col-md-4 text-center">
                        <a href="/agregaty/dvigateli/dvigateli_kamaz_65115.html">
                            <strong>КАМАЗ 65115</strong>
                            <img src="/assets/img/model/kamaz_65115.jpg" style="max-width: 190px;">
                        </a>
                    </div>
    
    
                </div>
            </div>
        </div>
    </div>
    


    <h2>Модельный ряд двигателей КАМАЗ</h2>
    <table class="table table-hover table-responsive-sm" style="width: auto;">
        <tbody>
        <tr>
        <td style="width: 92.0539px;">
        <p>Модель двигателя</p>
        </td>
        <td style="width: 76.4815px;">Запас крутящего момента, %</td>
        <td style="width: 99.6296px;">Номинальная частота вращения, мин-1</td>
        <td style="width: 77.5926px;">Мощность (брутто), л.с.</td>
        <td style="width: 106.852px;">Частота вращения&nbsp; при максимальном крутящем моменте,</td>
        <td style="width: 110.842px;">Максимальный полезный крутящий момент,<br />кгс&middot;м</td>
        </tr>
        <tr>
        <td style="width: 589.545px;" colspan="6"><strong>Евро-0</strong> <br />Дизельные, с индивидуальными алюминиевыми головками и турбонаддувом<br />Ресурс, 400 тыс. км пробега автомобиля&nbsp;</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">740.10</td>
        <td style="width: 76.4815px;">17,6</td>
        <td style="width: 99.6296px;">&nbsp;</td>
        <td style="width: 77.5926px;">210</td>
        <td style="width: 106.852px;">1700&plusmn;100</td>
        <td style="width: 110.842px;">68</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">740.10-20</td>
        <td style="width: 76.4815px;">12,2</td>
        <td style="width: 99.6296px;">&nbsp;</td>
        <td style="width: 77.5926px;">220</td>
        <td style="width: 106.852px;">1700&plusmn;100</td>
        <td style="width: 110.842px;">68</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">7403.10 Турбо</td>
        <td style="width: 76.4815px;">11,7</td>
        <td style="width: 99.6296px;">2600</td>
        <td style="width: 77.5926px;">260</td>
        <td style="width: 106.852px;">1700&plusmn;100</td>
        <td style="width: 110.842px;">80</td>
        </tr>
        <tr>
        <td style="width: 589.545px;" colspan="6"><strong>Евро-1</strong><br />Дизельные, с индивидуальными алюминиевыми головками и турбонаддувом<br />Ресурс, 800 тыс. км пробега автомобиля&nbsp;</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">740.13-260</td>
        <td style="width: 76.4815px;">12,2</td>
        <td style="width: 99.6296px;">2200</td>
        <td style="width: 77.5926px;">260</td>
        <td style="width: 106.852px;">1400&plusmn;100</td>
        <td style="width: 110.842px;">95</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">740.11-240</td>
        <td style="width: 76.4815px;">8,8</td>
        <td style="width: 99.6296px;">2200</td>
        <td style="width: 77.5926px;">240</td>
        <td style="width: 106.852px;">1400&plusmn;100</td>
        <td style="width: 110.842px;">85</td>
        </tr>
        <tr>
        <td style="width: 589.545px;" colspan="6"><strong>Евро-2</strong><br />Дизельные, с индивидуальными алюминиевыми головками, турбонаддувом и ОНВ<br />Ресурс, 800 тыс. км пробега автомобиля&nbsp;</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">740.30-260</td>
        <td style="width: 76.4815px;">30</td>
        <td style="width: 99.6296px;" rowspan="3">2200</td>
        <td style="width: 77.5926px;">260</td>
        <td style="width: 106.852px;">1300&plusmn;100</td>
        <td style="width: 110.842px;">110</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">740.31-240</td>
        <td style="width: 76.4815px;">21,6</td>
        <td style="width: 77.5926px;">240</td>
        <td style="width: 106.852px;">1300&plusmn;200</td>
        <td style="width: 110.842px;">95</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">740.35-400</td>
        <td style="width: 76.4815px;">22,9</td>
        <td style="width: 77.5926px;">400</td>
        <td style="width: 106.852px;">1400&plusmn;100</td>
        <td style="width: 110.842px;">160</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">740.37-400</td>
        <td style="width: 76.4815px;">19,4</td>
        <td style="width: 99.6296px;">1900</td>
        <td style="width: 77.5926px;">400</td>
        <td style="width: 106.852px;">1300&plusmn;100</td>
        <td style="width: 110.842px;">180</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">740.50-360</td>
        <td style="width: 76.4815px;">28</td>
        <td style="width: 99.6296px;" rowspan="3">2200</td>
        <td style="width: 77.5926px;">360</td>
        <td style="width: 106.852px;" rowspan="3">1400&plusmn;100</td>
        <td style="width: 110.842px;">150</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">740.51-320</td>
        <td style="width: 76.4815px;">24,8</td>
        <td style="width: 77.5926px;">320</td>
        <td style="width: 110.842px;">130</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">740.55-300</td>
        <td style="width: 76.4815px;">22,9</td>
        <td style="width: 77.5926px;">300</td>
        <td style="width: 110.842px;">120</td>
        </tr>
        <tr>
        <td style="width: 589.545px;" colspan="6"><strong>Евро-3</strong><br />Дизельные, с индивидуальными алюминиевыми головками, турбонаддувом, ОНВ и электронным управлением<br />Ресурс, 800 тыс. км пробега автомобиля&nbsp;</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">740.64-420</td>
        <td style="width: 76.4815px;">20</td>
        <td style="width: 99.6296px;" rowspan="5">1900</td>
        <td style="width: 77.5926px;">420</td>
        <td style="width: 106.852px;">1300&plusmn;50</td>
        <td style="width: 110.842px;">190</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">740.63-400</td>
        <td style="width: 76.4815px;">19,4</td>
        <td style="width: 77.5926px;">400</td>
        <td style="width: 106.852px;">1300&plusmn;50</td>
        <td style="width: 110.842px;">180</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">740.60-360</td>
        <td style="width: 76.4815px;">17,9</td>
        <td style="width: 77.5926px;">360</td>
        <td style="width: 106.852px;">1300&plusmn;50</td>
        <td style="width: 110.842px;">160</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">740.61-320</td>
        <td style="width: 76.4815px;">16,1</td>
        <td style="width: 77.5926px;">320</td>
        <td style="width: 106.852px;">1300&plusmn;50</td>
        <td style="width: 110.842px;">140</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">740.62-280</td>
        <td style="width: 76.4815px;">13,7</td>
        <td style="width: 77.5926px;">280</td>
        <td style="width: 106.852px;">1300&plusmn;50</td>
        <td style="width: 110.842px;">120</td>
        </tr>
        <tr>
        <td style="width: 589.545px;" colspan="6"><strong>Евро-4</strong><br />Дизельные, с индивидуальными алюминиевыми головками, турбонаддувом, ОНВ, электронным управлением и системами &nbsp;топливоподачи типа "Common Rail" и обработки отработавших газов.<br />Ресурс, 450-1000 тыс. км пробега автомобиля&nbsp;</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">740.75-440</td>
        <td style="width: 76.4815px;">26,6</td>
        <td style="width: 99.6296px;">1900</td>
        <td style="width: 77.5926px;">440</td>
        <td style="width: 106.852px;">1300&plusmn;50</td>
        <td style="width: 110.842px;">210</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">740.74-420</td>
        <td style="width: 76.4815px;">20</td>
        <td style="width: 99.6296px;">1900</td>
        <td style="width: 77.5926px;">420</td>
        <td style="width: 106.852px;">1300&plusmn;50</td>
        <td style="width: 110.842px;">190</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">740.73-400</td>
        <td style="width: 76.4815px;">19,4</td>
        <td style="width: 99.6296px;">1900</td>
        <td style="width: 77.5926px;">400</td>
        <td style="width: 106.852px;">1300&plusmn;50</td>
        <td style="width: 110.842px;">180</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">740.72-360</td>
        <td style="width: 76.4815px;">17,9</td>
        <td style="width: 99.6296px;">1900</td>
        <td style="width: 77.5926px;">360</td>
        <td style="width: 106.852px;">1300&plusmn;50</td>
        <td style="width: 110.842px;">160</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">740.71-320</td>
        <td style="width: 76.4815px;">16,1</td>
        <td style="width: 99.6296px;">1900</td>
        <td style="width: 77.5926px;">320</td>
        <td style="width: 106.852px;">1300&plusmn;50</td>
        <td style="width: 110.842px;">140</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">740.70-280</td>
        <td style="width: 76.4815px;">13,7</td>
        <td style="width: 99.6296px;">1900</td>
        <td style="width: 77.5926px;">280</td>
        <td style="width: 106.852px;">1300&plusmn;50</td>
        <td style="width: 110.842px;">120</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">740.642-420</td>
        <td style="width: 76.4815px;">20</td>
        <td style="width: 99.6296px;" rowspan="7">1900</td>
        <td style="width: 77.5926px;">420</td>
        <td style="width: 106.852px;">1300&plusmn;50</td>
        <td style="width: 110.842px;">190</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">740.632-400</td>
        <td style="width: 76.4815px;">19,4</td>
        <td style="width: 77.5926px;">400</td>
        <td style="width: 106.852px;">1300&plusmn;50</td>
        <td style="width: 110.842px;">180</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">740.602-360</td>
        <td style="width: 76.4815px;">17,9</td>
        <td style="width: 77.5926px;">360</td>
        <td style="width: 106.852px;">1300&plusmn;50</td>
        <td style="width: 110.842px;">160</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">740.612-320</td>
        <td style="width: 76.4815px;">16,1</td>
        <td style="width: 77.5926px;">320</td>
        <td style="width: 106.852px;">1300&plusmn;50</td>
        <td style="width: 110.842px;">140</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">740.622-280</td>
        <td style="width: 76.4815px;">13,7</td>
        <td style="width: 77.5926px;">280</td>
        <td style="width: 106.852px;">1300&plusmn;50</td>
        <td style="width: 110.842px;">120</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">740.652-260</td>
        <td style="width: 76.4815px;">17,3</td>
        <td style="width: 77.5926px;">260</td>
        <td style="width: 106.852px;">1300&plusmn;50</td>
        <td style="width: 110.842px;">115</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">740.662-300</td>
        <td style="width: 76.4815px;">15</td>
        <td style="width: 77.5926px;">300</td>
        <td style="width: 106.852px;">1300&plusmn;50</td>
        <td style="width: 110.842px;">130</td>
        </tr>
        <tr>
        <td style="width: 589.545px;" colspan="6"><strong>Евро-4 Газовые</strong><br />Газовые, с индивидуальными алюминиевыми головками, турбонаддувом, ОНВ, электронным управлением и системой нейтрализации отработавших газов<br />Ресурс 1000 тыс. км пробега автомобиля&nbsp;</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">820.60-260</td>
        <td style="width: 76.4815px;">30</td>
        <td style="width: 99.6296px;">2200</td>
        <td style="width: 77.5926px;" rowspan="2">260</td>
        <td style="width: 106.852px;" rowspan="4">1400&plusmn;100</td>
        <td style="width: 110.842px;">110</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">820.61-260</td>
        <td style="width: 76.4815px;">12,2</td>
        <td style="width: 99.6296px;">2200</td>
        <td style="width: 110.842px;">95</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">820.62-300</td>
        <td style="width: 76.4815px;">28</td>
        <td style="width: 99.6296px;">2200</td>
        <td style="width: 77.5926px;">300</td>
        <td style="width: 110.842px;">125</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">820.63-320</td>
        <td style="width: 76.4815px;">34,4</td>
        <td style="width: 99.6296px;">2200</td>
        <td style="width: 77.5926px;">320</td>
        <td style="width: 110.842px;">140</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">820.52-260</td>
        <td style="width: 76.4815px;">30</td>
        <td style="width: 99.6296px;">2200</td>
        <td style="width: 77.5926px;" rowspan="2">&nbsp;</td>
        <td style="width: 106.852px;" rowspan="2">1500&plusmn;50</td>
        <td style="width: 110.842px;">110</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">820.53-260</td>
        <td style="width: 76.4815px;">12,2</td>
        <td style="width: 99.6296px;">2200</td>
        <td style="width: 110.842px;">95</td>
        </tr>
        <tr>
        <td style="width: 589.545px;" colspan="6"><strong>Евро-5</strong><br />Дизельные, с индивидуальными алюминиевыми головками, турбонаддувом, ОНВ, электронным управлением и системами &nbsp;топливоподачи типа "Common Rail", обработки отработавших газов и бортовой диагностики<br />Ресурс 1000 тыс. км пробега автомобиля&nbsp;</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">740.755-440</td>
        <td style="width: 76.4815px;">26,6</td>
        <td style="width: 99.6296px;">1900</td>
        <td style="width: 77.5926px;">440</td>
        <td style="width: 106.852px;">1300&plusmn;50</td>
        <td style="width: 110.842px;">210</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">740.745-420</td>
        <td style="width: 76.4815px;">20</td>
        <td style="width: 99.6296px;">1900</td>
        <td style="width: 77.5926px;">420</td>
        <td style="width: 106.852px;">1300&plusmn;50</td>
        <td style="width: 110.842px;">190</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">740.735-400</td>
        <td style="width: 76.4815px;">19,4</td>
        <td style="width: 99.6296px;">1900</td>
        <td style="width: 77.5926px;">400</td>
        <td style="width: 106.852px;">1300&plusmn;50</td>
        <td style="width: 110.842px;">180</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">740.725-360</td>
        <td style="width: 76.4815px;">17,9</td>
        <td style="width: 99.6296px;">1900</td>
        <td style="width: 77.5926px;">360</td>
        <td style="width: 106.852px;">1300&plusmn;50</td>
        <td style="width: 110.842px;">160</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">740.715-320</td>
        <td style="width: 76.4815px;">16,1</td>
        <td style="width: 99.6296px;">1900</td>
        <td style="width: 77.5926px;">320</td>
        <td style="width: 106.852px;">1300&plusmn;50</td>
        <td style="width: 110.842px;">140</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">740.705-300</td>
        <td style="width: 76.4815px;">15</td>
        <td style="width: 99.6296px;">1900</td>
        <td style="width: 77.5926px;">300</td>
        <td style="width: 106.852px;">1300&plusmn;50</td>
        <td style="width: 110.842px;">130</td>
        </tr>
        <tr>
        <td style="width: 589.545px;" colspan="6"><strong>Евро-5 Газовые</strong><br />Газовые, с индивидуальными алюминиевыми головками, турбонаддувом, ОНВ, электронным управлением и системами &nbsp;нейтрализации отработавших газов и бортовой &nbsp;диагностики<br />Ресурс 1000 тыс. км пробега автомобиля&nbsp;</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">820.90-260</td>
        <td style="width: 76.4815px;">30</td>
        <td style="width: 99.6296px;">2200</td>
        <td style="width: 77.5926px;">260</td>
        <td style="width: 106.852px;">1500&plusmn;100</td>
        <td style="width: 110.842px;">110</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">820.91-260</td>
        <td style="width: 76.4815px;">12,2</td>
        <td style="width: 99.6296px;">2200</td>
        <td style="width: 77.5926px;">260</td>
        <td style="width: 106.852px;">1500&plusmn;100</td>
        <td style="width: 110.842px;">95</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">820.92-300</td>
        <td style="width: 76.4815px;">28</td>
        <td style="width: 99.6296px;">2200</td>
        <td style="width: 77.5926px;">300</td>
        <td style="width: 106.852px;">1500&plusmn;100</td>
        <td style="width: 110.842px;">125</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">820.93-320</td>
        <td style="width: 76.4815px;">34,4</td>
        <td style="width: 99.6296px;">2200</td>
        <td style="width: 77.5926px;">320</td>
        <td style="width: 106.852px;">1500&plusmn;100</td>
        <td style="width: 110.842px;">140</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">&nbsp;</td>
        <td style="width: 76.4815px;">&nbsp;</td>
        <td style="width: 99.6296px;">&nbsp;</td>
        <td style="width: 77.5926px;">&nbsp;</td>
        <td style="width: 106.852px;">&nbsp;</td>
        <td style="width: 110.842px;">&nbsp;</td>
        </tr>
        <tr>
        <td style="width: 589.545px;" colspan="6"><strong><a href="/agregaty/dvigateli/divgateli_kamaz-r6.html">КАМАЗ Р6 серия 910, 920</a></strong><br />Дизельные, рабочим объемом 11,946 л, с одноступенчатым турбонаддувом и системами обработки отработавших газов и бортовой диагностики<br />Ресурс - 1500, в составе магистральных автомобилей или 25000 часов, в составе внедорожой техники</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">910.10-550</td>
        <td style="width: 76.4815px;">25,4</td>
        <td style="width: 99.6296px;">1900</td>
        <td style="width: 77.5926px;">550</td>
        <td style="width: 106.852px;">1300&plusmn;50</td>
        <td style="width: 110.842px;">260</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">910.11-500</td>
        <td style="width: 76.4815px;">24,7</td>
        <td style="width: 99.6296px;">1900</td>
        <td style="width: 77.5926px;">500</td>
        <td style="width: 106.852px;">1300&plusmn;50</td>
        <td style="width: 110.842px;">235</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">910.12-450</td>
        <td style="width: 76.4815px;">23,8</td>
        <td style="width: 99.6296px;">1900</td>
        <td style="width: 77.5926px;">450</td>
        <td style="width: 106.852px;">1300&plusmn;50</td>
        <td style="width: 110.842px;">210</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">910.13-400</td>
        <td style="width: 76.4815px;">22,7</td>
        <td style="width: 99.6296px;">1900</td>
        <td style="width: 77.5926px;">400</td>
        <td style="width: 106.852px;">1300&plusmn;50</td>
        <td style="width: 110.842px;">185</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">910.14-380</td>
        <td style="width: 76.4815px;">22,2</td>
        <td style="width: 99.6296px;">1900</td>
        <td style="width: 77.5926px;">380</td>
        <td style="width: 106.852px;">1300&plusmn;50</td>
        <td style="width: 110.842px;">175</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">910.20-600</td>
        <td style="width: 76.4815px;">21,6</td>
        <td style="width: 99.6296px;">1900</td>
        <td style="width: 77.5926px;">600</td>
        <td style="width: 106.852px;">1300&plusmn;50</td>
        <td style="width: 110.842px;">275</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">910.21-550</td>
        <td style="width: 76.4815px;">25,4</td>
        <td style="width: 99.6296px;">1900</td>
        <td style="width: 77.5926px;">550</td>
        <td style="width: 106.852px;">1300&plusmn;50</td>
        <td style="width: 110.842px;">260</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">910.22-500</td>
        <td style="width: 76.4815px;">24,7</td>
        <td style="width: 99.6296px;">1900</td>
        <td style="width: 77.5926px;">500</td>
        <td style="width: 106.852px;">1300&plusmn;50</td>
        <td style="width: 110.842px;">235</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">910.23-450</td>
        <td style="width: 76.4815px;">23,8</td>
        <td style="width: 99.6296px;">1900</td>
        <td style="width: 77.5926px;">450</td>
        <td style="width: 106.852px;">1300&plusmn;50</td>
        <td style="width: 110.842px;">210</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">910.24-400</td>
        <td style="width: 76.4815px;">22,7</td>
        <td style="width: 99.6296px;">1900</td>
        <td style="width: 77.5926px;">400</td>
        <td style="width: 106.852px;">1300&plusmn;50</td>
        <td style="width: 110.842px;">185</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">910.25-380</td>
        <td style="width: 76.4815px;">22,2</td>
        <td style="width: 99.6296px;">1900</td>
        <td style="width: 77.5926px;">380</td>
        <td style="width: 106.852px;">1300&plusmn;50</td>
        <td style="width: 110.842px;">175</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">920.10-700</td>
        <td style="width: 76.4815px;">20,7</td>
        <td style="width: 99.6296px;">2200</td>
        <td style="width: 77.5926px;">700</td>
        <td style="width: 106.852px;">1200&plusmn;100</td>
        <td style="width: 110.842px;">275</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">920.11-650</td>
        <td style="width: 76.4815px;">30</td>
        <td style="width: 99.6296px;">2200</td>
        <td style="width: 77.5926px;">650</td>
        <td style="width: 106.852px;">1200&plusmn;100</td>
        <td style="width: 110.842px;">275</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">920.12-600</td>
        <td style="width: 76.4815px;">21,6</td>
        <td style="width: 99.6296px;">1900</td>
        <td style="width: 77.5926px;">600</td>
        <td style="width: 106.852px;">1200&plusmn;100</td>
        <td style="width: 110.842px;">275</td>
        </tr>
        <tr>
        <td style="width: 92.0539px;">920.13-750</td>
        <td style="width: 76.4815px;">18,8</td>
        <td style="width: 99.6296px;">2200</td>
        <td style="width: 77.5926px;">750</td>
        <td style="width: 106.852px;">1200&plusmn;100</td>
        <td style="width: 110.842px;">290</td>
        </tr>
        </tbody>
        </table>

    <h3>Применяемость двигателей КАМАЗ</h3>

    <table class="table table-hover table-responsive-sm" style="width: auto;">
        <thead>
            <tr>
                <td colspan="2">Двигатель</td>
                <td>Мощность л.с.</td>
                <td>Мак. крут. момент, кгс.м</td>
                <td>Применяемость</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th rowspan="3"><a href="/agregaty/dvigateli/dvigatel-kamaz-740-evro-0.html">ЕВРО-0</a></td>
                <td><a href="/agregaty/dvigateli/dvigatel_kamaz_740_10_evro-0.html" class="u">740.10</a></td>
                <td>210</td>
                <td>68</td>
                <td>КАМАЗ-5320, 53212, 53213, 55111, 5410, 54112, 4326, 43101, 43114, 43106, 43115</td>
            </tr>
            <tr>
                <td><a href="/agregaty/dvigateli/dvigatel_kamaz_7403_10_turbo.html" class="u">7403.10</a></td>
                <td>260</td>
                <td>80</td>
                <td>КАМАЗ-5320, 53212, 53213, 55111, 5410, 54112, 4326, 43101, 43114, 43106, 43115, 53228, 54229, 43118,
                    43253</td>
            </tr>
            <tr>
                <td>740.14-300</td>
                <td>300</td>
                <td>97</td>
                <td>КАМАЗ-53212, 43353, 53229, 65115</td>
            </tr>
            <tr>
                <th rowspan="3"><a href="/agregaty/dvigateli/dvigatel-kamaz-evro-1.html">ЕВРО-1</a></td>
                <td><a href="/agregaty/dvigateli/dvigatel_kamaz_740_11-240_evro-1.html" class="u">740.11-240</a></td>
                <td>240</td>
                <td>85</td>
                <td>Автобусное шасси КАМАЗ-5297</td>
            </tr>
            <tr>
                <td><a href="/agregaty/dvigateli/dvigatel_kamaz_740_11-240_evro-1.html" class="u">740.11-240</a></td>
                <td>240</td>
                <td>85</td>
                <td>КАМАЗ-53215, 55111, 54115, 4326, 43114, 43118, 43115, 53228,53229, 43253</td>
            </tr>
            <tr>
                <td><a href="/agregaty/dvigateli/dvigatel_kamaz_740_13-260_evro-1.html" class="u">740.13-260</a></td>
                <td>260</td>
                <td>95</td>
            </tr>
            <tr>
                <th rowspan="6"><a href="/agregaty/dvigateli/dvigatel-kamaz-evro-2.html">ЕВРО-2</a></td>
                <td><a href="/agregaty/dvigateli/dvigatel_kamaz_740_50-360_evro-2-3.html" class="u">740.50-360</a></td>
                <td>360</td>
                <td>150</td>
                <td>КАМАЗ-5460, 5360, 6460, 6350</td>
            </tr>
            <tr>
                <td><a href="/agregaty/dvigateli/dvigatel_kamaz_740_51-320_evro-2-3.html" class="u">740.51-320</a></td>
                <td>320</td>
                <td>130</td>
                <td>КАМАЗ-6520, 6522</td>
            </tr>
            <tr>
                <td>740.52-260</td>
                <td>260</td>
                <td>110</td>
                <td>КАМАЗ-65115, 65116, 65117, 6540, 4326, 43114, 43118, 53215, 55111, 54115, 43115, 53228, 53229, 43253
                </td>
            </tr>
            <tr>
                <td>740.53-290</td>
                <td>290</td>
                <td>120</td>
            </tr>
            <tr>
                <td><a href="/agregaty/dvigateli/dvigatel_kamaz_740_30-260_evro-2.html" class="u">740.30-260</a></td>
                <td>260</td>
                <td>110</td>
            </tr>
            <tr>
                <td><a href="/agregaty/dvigateli/dvigatel_kamaz_740_30-260_evro-2.html" class="u">740.30-260</a></td>
                <td>260</td>
                <td>110</td>
                <td>Автобусное шасси КАМАЗ-52972</td>
            </tr>

            <tr>
                <td><a href="/agregaty/dvigateli/divgateli_kamaz-r6.html" class="u">910.15-450</a></td>
                <td>450</td>
                <td>110</td>
                <td>тягач КАМАЗ-54901, Самосвал КАМАЗ-6595 (6х4), Самосвал КАМАЗ-65951 (8х4), КАМАЗ-65119 (8х6), Карьерный самосвал КАМАЗ-65807 (8х4) и (10х6)</td>
            </tr>
        </tbody>
    </table>
    <p></p>

    <p></p>
 

</div>







<div class="col-md-10 col-xs-12" style="margin: auto;">
    
    <h2>История создания двигателя КАМАЗ-740</h2>
    <p>В 1968 году одновременно с началом строительства завода КАМАЗ (Камского автомобильного завода) начались проектные работы по созданию двигателя нового поколения ЯМЗ-740 на Ярославском моторном заводе.&nbsp;</p>
    <p>Прообразом нового двигателя КАМАЗ стал опытный двигатель ЯМЗ-641, в котором увеличили диаметр цилиндра до 120 мм (ранее было 115 мм), а также внесли множество других изменений в конструкцию. При создании широко использовались достижения моторостроения зарубежных стран. Разработка была утверждена в 1971 году комиссией казанских специалистов.</p>
    <p>В 1973 году после приемочных испытаний двигатель был готов к производству. Спустя два года в 1975 году серийное производство двигателей было организовано на КамАЗе, где он начал выходить под названием модели КамАЗ-740. Его ресурс составлял 8000 часов, что в то время был очень неплохой результат по сравнению с мировыми конкурентами.</p>
    
    <p></p>
    <p></p>

    <hr>
    <p>
        <a href="/agregaty/dvigateli/info/index.html">Полезная информация по двигателям КАМАЗ</a>
    </p>

    <hr>
    {% include kupite_u_nas.html %}
    
    <p></p>
    <hr>
    
    <p>
    
    </p>
    
    <!-- <p>
        <iframe width="800" height="450" class="lozad" data-src="https://www.youtube.com/embed/URsFZz3r0Vs?start=23" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </p> -->
    
  <div style="height: 100px;">&nbsp;</div>
  




<div class="col-md-10 m-auto">
 
    
    
    </p>
  <p></p>
  <p></p>
  <!-- {% include kupite_u_nas.html %} -->
<div style="height: 100px;">&nbsp;</div>

<p></p>
  
  <p></p>
  

</div>