---
layout: default_info
title: Вал карданный основной КАМАЗ-43118 440мм - 43118-2202011-31
description: Продаем кардан КАМАЗ Основной от КПП до РК L=440мм, 43118-2202011-31, Основной, Торц.шлицы, Большие фланцы, от КПП до РК производства Наб.Челны - с доставкой по России. Подбор, модификации, каталог, описание, характеристики.
keywords: Вал карданный КамАЗ, Основной L=440 43118-2202011-31 - применяется при замене РК 4310/43114 на РК 65111 440 Основной, Торц.шлицы, Большие фланцы, от КПП до РК
hero-title: Карданные валы КАМАЗ с доставкой по России 
h1: Вал карданный КамАЗ, Основной L=440
h2: 43118-2202011-31 
phone:
phone_title:
categories: [<a href="/kardanyi_valy/category/kardan-kamaz.html">Валы карданные КАМАЗ</a> ]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.kardany-kamaz | where:"url", page_url | first %}
{%- if product -%}
  {% include card_zapchasti_kardan_kamaz.html product = product %}
{%- endif -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
  <!-- <h3>Описание</h3> -->
  <p>

  </p>
  

  <hr>
  <h3>Техническое обслуживание и ремонт</h3>
  <p>При правильной эксплуатации и своевременном техническом обслуживании ресурс карданных валов составит не менее 500 тыс. км. пробега автомобиля.</p>
  <p><strong>Техническое обслуживание</strong> во время эксплуатации сводится к пополнению смазки в крестовинах, смазке шлицевого соединения через пресс-маслёнку и проверке моментов затяжки болтов крепления фланцев. Периодичность смазки: при ТО-2 в крестовинах, и при сезонном техническом обслуживании в шлицевом соединении. Крестовины смазывать до появления свежей смазки из-под кромки уплотнения хотя бы одного подшипника, в шлицевое соединение сделать 10... 15 &laquo;качков&raquo; шприца или 30.. .40 г. из нагнетателя.</p>
  <p>При <strong>СТО</strong> проверить наличие зазоров в шлицевом соединении карданных валов и в крестовинах. Ощутимый зазор не допускается.</p>
  <p>Снимать и разбирать карданные валы необходимо только в случае неисправности для замены деталей. Шлицевое соединение ремонту не подлежит, при значительных износах карданный вал необходимо заменить на новый.</p>
  <p>При значительном радиальном и торцовом зазорах в подшипниках крестовины кардана Камаз нужно разобрать шарнир и заменить подшипники и крестовину.</p>

  <hr>
  
  <p></p>
  <p></p>
  {% include kupite_u_nas.html %}
  {% include garantiya.html %}
 <div style="height: 100px;">&nbsp;</div>
 
</div>
