---
layout: default_info
title: 53213-2205011-01 - Вал карданный КамАЗ, среднего моста L=1666 от 14 900 р. - Зап-Кам.ру
description: Продаем кардан КАМАЗ среднего моста L=1666мм, 53213-2205011-01, КАМАЗ-43118 (база 4715 мм, выпуск до 2001 г-), 53213,532137 (тропический), также в составе карданной передачи (задняя часть) автомобилей 53252 производства Наб.Челны - с доставкой по России. Подбор, модификации, каталог, описание, характеристики.
keywords: Вал карданный КамАЗ, среднего моста L=1666 53213-2205011-01 - КАМАЗ-43118 (база 4715 мм, выпуск до 2001 г-), 53213,532137 (тропический), также в составе карданной передачи (задняя часть) автомобилей 53252 1666 
hero-title: Карданные валы КАМАЗ с доставкой по России 
h1: Вал карданный КамАЗ, среднего моста L=1666
h2: 53213-2205011-01 
phone:
phone_title:
categories: [<a href="/kardanyi_valy/category/kardan-kamaz.html">Валы карданные КАМАЗ</a> ]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.kardany-kamaz | where:"url", page_url | first %}
{%- if product -%}
  {% include card_zapchasti_kardan_kamaz.html product = product %}
{%- endif -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
  <!-- <h3>Описание</h3> -->
  <p>

  </p>
  
  <hr>
  
  <p></p>
  <p></p>
  {% include kupite_u_nas.html %}
  {% include garantiya.html %}
 <div style="height: 100px;">&nbsp;</div>
 
</div>
