---
layout: default_info
title: 65117-2201006-30 - Карданная передача КамАЗ, L=2740 - Зап-Кам.ру
description: Продаем кардан КАМАЗ  L=2740мм, 65117-2201006-30, КАМАЗ-65117 состоит из вала с промопорой 53229-2202011-30 и вала сред- моста 65117-2205011-10 L1=1450; L2=1294 производства Наб.Челны - с доставкой по России. Подбор, модификации, каталог, описание, характеристики.
keywords: Карданная передача КамАЗ, L=2740 65117-2201006-30 - КАМАЗ-65117 2740 состоит из вала с промопорой 53229-2202011-30 и вала сред- моста 65117-2205011-10 L1=1450; L2=1294
hero-title: Карданные валы КАМАЗ с доставкой по России 
h1: Карданная передача КамАЗ, L=2740
h2: 65117-2201006-30 
phone:
phone_title:
categories: [<a href="/kardanyi_valy/category/kardan-kamaz.html">Валы карданные КАМАЗ</a> ]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.kardany-kamaz | where:"url", page_url | first %}
{%- if product -%}
  {% include card_zapchasti_kardan_kamaz.html product = product %}
{%- endif -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
  <!-- <h3>Описание</h3> -->
  <p>

  </p>
  
  <hr>
  
  <p></p>
  <p></p>
  {% include kupite_u_nas.html %}
  {% include garantiya.html %}
 <div style="height: 100px;">&nbsp;</div>
 
</div>
