---
layout: default_info
title: 43114-2205011 - Вал карданный КамАЗ, среднего моста L=699 от 15 900 р. - Зап-Кам.ру
description: Продаем кардан КАМАЗ среднего моста от РК до сред.моста L=699мм, 43114-2205011, КАМАЗ-65115(КПП-ZF9S), 43114(КПП-142), 5360, 65111(КПП-152 разд- 43114 и 65111), 65111(КПП-ZF9S, разд- 65111), -53216, -5350 (ДВС-740-30-260 КП-152, РК-65111), 6350 (база 1940+3340+1320, РК 65111), КамАЗ-63501 (КПП-ZF16S151, база1940+3340/3690+1320, РК 65111), КамАЗ-6426-1033-10, КамАЗ-65111, КамАЗ-65115 (КПП-ZF9S109), КамАЗ-65116, НефАЗ - модификации НефАЗ-5297, Яровит - производства Наб.Челны - с доставкой по России. Подбор, модификации, каталог, описание, характеристики.
keywords: Вал карданный КамАЗ, среднего моста L=699 43114-2205011 - КАМАЗ-65115(КПП-ZF9S), 43114(КПП-142), 5360, 65111(КПП-152 разд- 43114 и 65111), 65111(КПП-ZF9S, разд- 65111), -53216, -5350 (ДВС-740-30-260 КП-152, РК-65111), 6350 (база 1940+3340+1320, РК 65111), КамАЗ-63501 (КПП-ZF16S151, база1940+3340/3690+1320, РК 65111), КамАЗ-6426-1033-10, КамАЗ-65111, КамАЗ-65115 (КПП-ZF9S109), КамАЗ-65116, НефАЗ - модификации НефАЗ-5297, Яровит - 65115(КПП-ZF9S), 43114(КПП-142), 5360, 65111(КПП-152 разд- 43114 и 65111), 65111(КПП-ZF9S, разд- 65111), 43114, 53216, 5350 (ДВС-740-30-260 КП-152, РК-65111), КамАЗ-6350 (база 1940+3340+1320, РК 65111), КамАЗ-63501 (КПП-ZF16S151, база1940+3340/3690+1320, РК 65111), КамАЗ-6426-1033-10, КамАЗ-65115 (КПП-ZF9S109), КамАЗ-65116, НефАЗ-5297, Яровит 699 
hero-title: Карданные валы КАМАЗ с доставкой по России 
h1: Вал карданный КамАЗ, среднего моста L=699
h2: 43114-2205011 
phone:
phone_title:
categories: [<a href="/kardanyi_valy/category/kardan-kamaz.html">Валы карданные КАМАЗ</a> ]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.kardany-kamaz | where:"url", page_url | first %}
{%- if product -%}
  {% include card_zapchasti_kardan_kamaz.html product = product %}
{%- endif -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
  <!-- <h3>Описание</h3> -->
  <p>

  </p>
  

  <hr>
  <h3>Техническое обслуживание и ремонт</h3>
  <p>При правильной эксплуатации и своевременном техническом обслуживании ресурс карданных валов составит не менее 500 тыс. км. пробега автомобиля.</p>
  <p><strong>Техническое обслуживание</strong> во время эксплуатации сводится к пополнению смазки в крестовинах, смазке шлицевого соединения через пресс-маслёнку и проверке моментов затяжки болтов крепления фланцев. Периодичность смазки: при ТО-2 в крестовинах, и при сезонном техническом обслуживании в шлицевом соединении. Крестовины смазывать до появления свежей смазки из-под кромки уплотнения хотя бы одного подшипника, в шлицевое соединение сделать 10... 15 &laquo;качков&raquo; шприца или 30.. .40 г. из нагнетателя.</p>
  <p>При <strong>СТО</strong> проверить наличие зазоров в шлицевом соединении карданных валов и в крестовинах. Ощутимый зазор не допускается.</p>
  <p>Снимать и разбирать карданные валы необходимо только в случае неисправности для замены деталей. Шлицевое соединение ремонту не подлежит, при значительных износах карданный вал необходимо заменить на новый.</p>
  <p>При значительном радиальном и торцовом зазорах в подшипниках крестовины кардана Камаз нужно разобрать шарнир и заменить подшипники и крестовину.</p>
  <hr>
  
  <p></p>
  <p></p>
  {% include kupite_u_nas.html %}
  {% include garantiya.html %}
 <div style="height: 100px;">&nbsp;</div>
 
</div>
