---
layout: default_info
title: 43255-2201011-10 - Вал карданный КамАЗ, заднего моста L=1613 от 16 900 р. - Зап-Кам.ру
description: Продаем кардан КАМАЗ заднего моста L=1613мм, 43255-2201011-10, КАМАЗ-4308, 43253, 43255 производства Наб.Челны - с доставкой по России. Подбор, модификации, каталог, описание, характеристики.
keywords: Вал карданный КамАЗ, заднего моста L=1613 43255-2201011-10 - КАМАЗ-4308, 43253, 43255 1613 
hero-title: Карданные валы КАМАЗ с доставкой по России 
h1: Вал карданный КамАЗ, заднего моста L=1613
h2: 43255-2201011-10 
phone:
phone_title:
categories: [<a href="/kardanyi_valy/category/kardan-kamaz.html">Валы карданные КАМАЗ</a> ]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.kardany-kamaz | where:"url", page_url | first %}
{%- if product -%}
  {% include card_zapchasti_kardan_kamaz.html product = product %}
{%- endif -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
  <!-- <h3>Описание</h3> -->
  <p>

  </p>
  
  <hr>
  
  <p></p>
  <p></p>
  {% include kupite_u_nas.html %}
  {% include garantiya.html %}
 <div style="height: 100px;">&nbsp;</div>
 
</div>
