---
layout: default_info
title: 43253-2201006 - Карданная передача КамАЗ, с пром-опорой L=2812 - Зап-Кам.ру
description: Продаем кардан КАМАЗ с пром-опорой L=2812мм, 43253-2201006, 0 Состоит из 43253-2202011 и 43253-2201011 с пром-опорой L1=1287; L2=1525 производства Наб.Челны - с доставкой по России. Подбор, модификации, каталог, описание, характеристики.
keywords: Карданная передача КамАЗ, с пром-опорой L=2812 43253-2201006 - 0 2812 Состоит из 43253-2202011 и 43253-2201011 с пром-опорой L1=1287; L2=1525
hero-title: Карданные валы КАМАЗ с доставкой по России 
h1: Карданная передача КамАЗ, с пром-опорой L=2812
h2: 43253-2201006 
phone:
phone_title:
categories: [<a href="/kardanyi_valy/category/kardan-kamaz.html">Валы карданные КАМАЗ</a> ]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.kardany-kamaz | where:"url", page_url | first %}
{%- if product -%}
  {% include card_zapchasti_kardan_kamaz.html product = product %}
{%- endif -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
  <!-- <h3>Описание</h3> -->
  <p>

  </p>
  
  <hr>
  
  <p></p>
  <p></p>
  {% include kupite_u_nas.html %}
  {% include garantiya.html %}
 <div style="height: 100px;">&nbsp;</div>
 
</div>
