---
layout: default_info
title: 53205-2201011-10 - Вал карданный КамАЗ, заднего моста L=709 от 13 900 р. - Зап-Кам.ру
description: Продаем кардан КАМАЗ заднего моста L=709мм, 53205-2201011-10, КАМАЗ-65117, 65115, 54115, 43118, 43114, 6540, 53229 меж/осевой ЕВРО производства Наб.Челны - с доставкой по России. Подбор, модификации, каталог, описание, характеристики.
keywords: Вал карданный КамАЗ, заднего моста L=709 53205-2201011-10 - КАМАЗ-65117, 65115, 54115, 43118, 43114, 6540, 53229 709 меж/осевой ЕВРО
hero-title: Карданные валы КАМАЗ с доставкой по России 
h1: Вал карданный КамАЗ, заднего моста L=709
h2: 53205-2201011-10 
phone:
phone_title:
categories: [<a href="/kardanyi_valy/category/kardan-kamaz.html">Валы карданные КАМАЗ</a> ]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.kardany-kamaz | where:"url", page_url | first %}
{%- if product -%}
  {% include card_zapchasti_kardan_kamaz.html product = product %}
{%- endif -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
  <h3>Описание</h3>
  <p>
      Вал карданный 53205-2201011-10 привода заднего моста автомобилей Камаз-53205, 43114, 43118, 53215, Камаз-54115, 55111, 65111, 65115.
  </p>
  <img src="/kardanyi_valy/img/kamaz/53205-2205011-10_2.jpg" alt="Схема карданного вала 53205-2201011-10">
  <p class="small">1 - карданный вал в сборе; 2 - гайка самоконтрящаяся М 12x1,25 (251647); 3 - болт М 12x1,25 (1/55401/31)</p>

  <p>Карданный вал промежуточный с опорой. Карданный вал с промежуточной опорой имеет один шарнир и применяется в
    комплекте с двухшарнирным валом, балансируются они в комплекте.<br /><br />Шарнир карданного вала 53205-2201011
    аналогичен конструкции, карданному валу 53205-2205011-10.<br /><br />К трубе карданного вала 1 с одного конца
    приварена вилка, с другого вал шлицевой. На шлицевой вал установлен подшипник шариковый 6-311А поз. 17, фланец с
    пылеотражателем 9, которые закреплены гайкой 10. Гайка затягивается моментом 196...238 Нм (20...26 кг/см) и контрится
    отгибанием пояска гайки в паз вала.<br /><br />На подшипник одета обойма подшипника 14, на обойму резиновая подушка
    16, подшипник с двух сторон защищен крышками 8 с манжетами 2 и 12. Крышки соединены болтами со стопорными шайбами и
    гайками, которые затягиваются моментом 21,5...24,5 Нм (2-2,5 кг/см).<br /><br />В полость подшипника при сборке
    закладывается 60-80 г. смазки Литол 24. Левая манжета имеет обозначение 864176 поз.2, правая 864180 поз.12, которые
    отличаются друг от друга наклонной насечкой на рабочей кромке, которая направлена в разные стороны. Поэтому менять
    местами их нельзя.</p>
  <p>&nbsp;</p>
  <p>Присоединительный фланец - с торцевыми шлицами на фланце 4 отверстия 13х130<br /><br />Крестовина - 53205-2201025
    (50X135)<br /><br />Вес кардана - 32.2 кг<br /><br />По устройству карданный вал привода заднего моста
    53205-2201011-10 аналогичен кардану привода среднего моста, отличается от него меньшей размерностью
    деталей.<br /><br />При установке карданных валов на автомобиль болты крепления 3 и самоконтрящиеся гайки 2 закрутить
    моментом 117,5-132,5 Нм (12-13,5 кг/см).</p>
  
    <p>&nbsp;</p>
  <img src="/kardanyi_valy/img/kamaz/53205-2205011-10_3.jpg" alt="Схема карданов КАМАЗ 53205-2201011-10, 43114-2203011, 43118-2203011-30, 5350-2203011-10, 43118-2203011-31">
  
  <h3>Каталог деталей карданного вала КАМАЗ 53205-2201011-10</h3>
  <table class="table table-hover table-responsive-sm table-striped wa">
  <tbody>
  <tr>
  <td>№</td>
  <td>Код детали</td>
  <td>Наименование</td>
  <td>Количество</td>
  </tr>
  <tr>
  <td>1</td>
  <td>53205-2201017-10</td>
  <td>Вал карданный с шарниром</td>
  <td>1</td>
  </tr>
  <tr>
  <td>2</td>
  <td>53205-2201050</td>
  <td>Вилка скользящая с шарниром</td>
  <td>1</td>
  </tr>
  <tr>
  <td>4</td>
  <td>53205-2201034</td>
  <td>Шайба</td>
  <td>1</td>
  </tr>
  <tr>
  <td>5</td>
  <td>5320-2201070</td>
  <td>Пластина балансировочная</td>
  <td>6</td>
  </tr>
  <tr>
  <td>6</td>
  <td>5320-2201071</td>
  <td>Пластина балансировочная</td>
  <td>6</td>
  </tr>
  <tr>
  <td>7</td>
  <td>5320-2201072</td>
  <td>Пластина балансировочная</td>
  <td>6</td>
  </tr>
  <tr>
  <td>8</td>
  <td>5320-2201073</td>
  <td>Пластина балансировочная</td>
  <td>6</td>
  </tr>
  <tr>
  <td>9</td>
  <td>5320-2201074</td>
  <td>Пластина балансировочная</td>
  <td>6</td>
  </tr>
  <tr>
  <td>10</td>
  <td>5320-2201075</td>
  <td>Пластина балансировочная</td>
  <td>6</td>
  </tr>
  <tr>
  <td>11</td>
  <td>5320-2201076</td>
  <td>Пластина балансировочная</td>
  <td>6</td>
  </tr>
  <tr>
  <td>12</td>
  <td>5320-2201077</td>
  <td>Пластина балансировочная</td>
  <td>6</td>
  </tr>
  <tr>
  <td>13</td>
  <td>5320-2201078</td>
  <td>Пластина балансировочная</td>
  <td>6</td>
  </tr>
  <tr>
  <td>14</td>
  <td>5320-2201079</td>
  <td>Пластина балансировочная</td>
  <td>6</td>
  </tr>
  <tr>
  <td>15</td>
  <td>5320-2201080</td>
  <td>Пластина балансировочная</td>
  <td>6</td>
  </tr>
  <tr>
  <td>16</td>
  <td>5320-2201081</td>
  <td>Пластина балансировочная</td>
  <td>6</td>
  </tr>
  <tr>
  <td>17</td>
  <td>53205-2201084</td>
  <td>Кольцо уплотнительное</td>
  <td>1</td>
  </tr>
  <tr>
  <td>18</td>
  <td>53205-2201085</td>
  <td>Скребок</td>
  <td>1</td>
  </tr>
  <tr>
  <td>19</td>
  <td>53205-2201087</td>
  <td>Обойма</td>
  <td>1</td>
  </tr>
  <tr>
  <td>20</td>
  <td>53205-2205088</td>
  <td>Скоба</td>
  <td>2</td>
  </tr>
  </tbody>
  </table>

  <hr>
  
  <p></p>
  <p></p>
  {% include kupite_u_nas.html %}
  {% include garantiya.html %}
 <div style="height: 100px;">&nbsp;</div>
 
</div>
