---
layout: default_info
title: 54112-2205011-02 - Вал карданный КамАЗ, среднего моста L=646 от 13 900 р. - Зап-Кам.ру
description: Продаем кардан КАМАЗ среднего моста L=646мм, 54112-2205011-02, привод среднего моста автомобилей КамАЗ-43118 (бортовой 6х6 выпуска до 2001г-, база 3690 мм), -53215 (бортовой выпуска до 2001г-), -54112, -54118 (седельные тягачи), КамАЗ-65115 (самосвал, КПП с делителем)- производства Наб.Челны - с доставкой по России. Подбор, модификации, каталог, описание, характеристики.
keywords: Вал карданный КамАЗ, среднего моста L=646 54112-2205011-02 - привод среднего моста автомобилей КамАЗ-43118 (бортовой 6х6 выпуска до 2001г-, база 3690 мм), -53215 (бортовой выпуска до 2001г-), -54112, -54118 (седельные тягачи), КамАЗ-65115 (самосвал, КПП с делителем)- 646 
hero-title: Карданные валы КАМАЗ с доставкой по России 
h1: Вал карданный КамАЗ, среднего моста L=646
h2: 54112-2205011-02 
phone:
phone_title:
categories: [<a href="/kardanyi_valy/category/kardan-kamaz.html">Валы карданные КАМАЗ</a> ]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.kardany-kamaz | where:"url", page_url | first %}
{%- if product -%}
  {% include card_zapchasti_kardan_kamaz.html product = product %}
{%- endif -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
  <!-- <h3>Описание</h3> -->
  <p>

  </p>
  
  <hr>
  
  <p></p>
  <p></p>
  {% include kupite_u_nas.html %}
  {% include garantiya.html %}
 <div style="height: 100px;">&nbsp;</div>
 
</div>
