---
layout: default_info
title: 55111-2205011-10 - Вал карданный КамАЗ, среднего моста L=821 от 13 900 р. - Зап-Кам.ру
description: Продаем кардан КАМАЗ среднего моста от КПП до ср.моста L=821мм, 55111-2205011-10, Применение - привод среднего моста 55102 (с-х- самосвал), -55111 ( база 3690 мм), -55118, 5513, также основной карданный вал (от КПП на РК) в 6350 (мод- 98) Снята с производства в пользу 55111-2205011-11 производства Наб.Челны - с доставкой по России. Подбор, модификации, каталог, описание, характеристики.
keywords: Вал карданный КамАЗ, среднего моста L=821 55111-2205011-10 - Применение - привод среднего моста 55102 (с-х- самосвал), -55111 ( база 3690 мм), -55118, 5513, также основной карданный вал (от КПП на РК) в 6350 (мод- 98) 821 Снята с производства в пользу 55111-2205011-11
hero-title: Карданные валы КАМАЗ с доставкой по России 
h1: Вал карданный КамАЗ, среднего моста L=821
h2: 55111-2205011-10 
phone:
phone_title:
categories: [<a href="/kardanyi_valy/category/kardan-kamaz.html">Валы карданные КАМАЗ</a> ]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.kardany-kamaz | where:"url", page_url | first %}
{%- if product -%}
  {% include card_zapchasti_kardan_kamaz.html product = product %}
{%- endif -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
  <!-- <h3>Описание</h3> -->
  <p>

  </p>
  
  <hr>
  
  <p></p>
  <p></p>
  {% include kupite_u_nas.html %}
  {% include garantiya.html %}
 <div style="height: 100px;">&nbsp;</div>
 
</div>
