---
layout: default_info
title: 4326-2201011-10 - Вал карданный КамАЗ, заднего/среднего моста L=1546 от 16 900 р. - Зап-Кам.ру
description: Продаем кардан КАМАЗ заднего/среднего моста от РК до зад.моста L=1546мм, 4326-2201011-10, привода заднего моста а/м КамАЗ-4326, -43261, -4350, НефАЗ-42111,  привода переднего моста а/м КамАЗ-6522-xx производства Наб.Челны - с доставкой по России. Подбор, модификации, каталог, описание, характеристики.
keywords: Вал карданный КамАЗ, заднего/среднего моста L=1546 4326-2201011-10 - привода заднего моста а/м КамАЗ-4326, -43261, -4350, НефАЗ-42111,  привода переднего моста а/м КамАЗ-6522-xx привода заднего моста -4350 (КПП-152, разд-65111), 65115(КПП-ZF9S), 4326(КПП-142,-152 и раздат-43114), НефАЗ-42111,  привода переднего моста а/м КамАЗ-6522, -6522-15, -6522-27, -6522-28, -6522-30, -6522-36, -6522-38, -6522-99, -65225-27, -65225-28 1546 
hero-title: Карданные валы КАМАЗ с доставкой по России 
h1: Вал карданный КамАЗ, заднего/среднего моста L=1546
h2: 4326-2201011-10 
phone:
phone_title:
categories: [<a href="/kardanyi_valy/category/kardan-kamaz.html">Валы карданные КАМАЗ</a> ]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.kardany-kamaz | where:"url", page_url | first %}
{%- if product -%}
  {% include card_zapchasti_kardan_kamaz.html product = product %}
{%- endif -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
  <!-- <h3>Описание</h3> -->
  <p>

  </p>
  
  <hr>
  
  <p></p>
  <p></p>
  {% include kupite_u_nas.html %}
  {% include garantiya.html %}
 <div style="height: 100px;">&nbsp;</div>
 
</div>
