---
layout: default_info
title: 6520-2205011-010 - Вал карданный КамАЗ, среднего моста L=1418 от 22 900 р. - Зап-Кам.ру
description: Продаем кардан КАМАЗ среднего моста L=1418мм, 6520-2205011-010 0687550200502/0580 45104-2205051-90, (8х8, мосты 6560/6520, РК-ZF) Сред.(№3).моста 6560 производства Наб.Челны - с доставкой по России. Подбор, модификации, каталог, описание, характеристики.
keywords: Вал карданный КамАЗ, среднего моста L=1418 6520-2205011-010 0687550200502/0580 45104-2205051-90 - (8х8, мосты 6560/6520, РК-ZF) 1418 Сред.(№3).моста 6560
hero-title: Карданные валы КАМАЗ с доставкой по России 
h1: Вал карданный КамАЗ, среднего моста L=1418
h2: 6520-2205011-010 
phone:
phone_title:
categories: [<a href="/kardanyi_valy/category/kardan-kamaz.html">Валы карданные КАМАЗ</a> ]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.kardany-kamaz | where:"url", page_url | first %}
{%- if product -%}
  {% include card_zapchasti_kardan_kamaz.html product = product %}
{%- endif -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
  <!-- <h3>Описание</h3> -->
  <p>

  </p>
  
  <hr>
  
  <p></p>
  <p></p>
  {% include kupite_u_nas.html %}
  {% include garantiya.html %}
 <div style="height: 100px;">&nbsp;</div>
 
</div>
