---
layout: default_info
title: 5297-2201011-20 - Вал карданный КамАЗ, заднего моста L=661 - Зап-Кам.ру
description: Продаем кардан КАМАЗ заднего моста L=661мм, 5297-2201011-20, КАМАЗ-65115 производства Наб.Челны - с доставкой по России. Подбор, модификации, каталог, описание, характеристики.
keywords: Вал карданный КамАЗ, заднего моста L=661 5297-2201011-20 - КАМАЗ-65115 65115(КПП-ZF9S, двигатель CUMMINS ISC) 661 
hero-title: Карданные валы КАМАЗ с доставкой по России 
h1: Вал карданный КамАЗ, заднего моста L=661
h2: 5297-2201011-20 
phone:
phone_title:
categories: [<a href="/kardanyi_valy/category/kardan-kamaz.html">Валы карданные КАМАЗ</a> ]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.kardany-kamaz | where:"url", page_url | first %}
{%- if product -%}
  {% include card_zapchasti_kardan_kamaz.html product = product %}
{%- endif -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
  <!-- <h3>Описание</h3> -->
  <p>

  </p>
  
  <hr>
  
  <p></p>
  <p></p>
  {% include kupite_u_nas.html %}
  {% include garantiya.html %}
 <div style="height: 100px;">&nbsp;</div>
 
</div>
