---
layout: default_info
title: Вал карданный TIRSAN L=1190 на КАМАЗ-6522 - RS.93660.02.02 от 48 100 р. - Зап-Кам.ру
description: Продаем кардан TIRSAN на КАМАЗ-6522 L=1190мм, RS.93660.02.02 , производства Наб.Челны - с доставкой по России. Подбор, модификации, каталог, описание, характеристики.
keywords: ТИРСАН tirsan rs. fs. sc. Вал карданный TIRSAN L=1190 на КАМАЗ-6522 RS.93660.02.02  - КАМАЗ-6522 1190 
hero-title: Карданные валы TIRSAN на КАМАЗ с доставкой 
h1: Вал карданный TIRSAN L=1190 на КАМАЗ-6522
h2: RS.93660.02.02 
phone:
phone_title:
categories: [<a href="/kardanyi_valy/category/tirsan-kamaz.html">Валы карданные Tirsan для КАМАЗ</a> ]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.tirsan-kamaz | where:"url", page_url | first %}
{%- if product -%}
  {% include card_zapchasti_kardan_kamaz.html product = product %}
{%- endif -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
  <!-- <h3>Описание карданного вала ТИРСАН</h3> -->
  <p>

  </p>
  
  <hr>
  
  <p></p>
  <p></p>
  {% include kupite_u_nas.html %}
  {% include garantiya.html %}
 <div style="height: 100px;">&nbsp;</div>
 
</div>
