---
layout: default_info
title: 0501221590 - Датчик импульсный L=90,0 mm КАМАЗ-5490, NEO, Мерседес- ЗапКам.ру
description: Датчик импульсный L=90,0 mm (VDO 2171 200 02 201) MAN F2000,TGL,TGA/TGS/TGX 12AS-Series,16S-Series,Bus, Датчик скорости КПП, MAN 81.27121-0058 (5010614099), каталожный номер - 0501221590, на технику КамАЗ 5490, 65206, 65207  Новые, с разбора, оригинал, аналоги, бу, капремонт. Цена, доставка, описание, вес, размеры.
keywords: Датчик импульсный L=90,0 mm Датчик импульсный L=90,0 mm КАМАЗ-5490, NEO, Мерседес Датчик импульсный L=90,0 mm (VDO 2171 200 02 201) MAN F2000,TGL,TGA/TGS/TGX 12AS-Series,16S-Series,Bus, Датчик скорости КПП, MAN 81.27121-0058 (5010614099) 0501221590 Wosmann, G170 Mega, 1208010208 STARTEC Jermany Diesel Technic  Запчасти  - КамАЗ 5490, 65206, 65207 Редуктор КамАЗ 5490 Евро-5 
hero-title: Запчасти для КамАЗ 5490 <span class="small1"> / 6520, 6580 </span>
h1: Датчик импульсный L=90,0 mm КАМАЗ-5490, NEO, Мерседес 
h2: 0501221590
phone: 
phone_title: 
categories: [<a href='/kamaz-5490/zapchasti.html'>Запчасти 5490</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.k5490 | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12 m-auto">
    <!-- <h3>Описание</h3> -->
    <p>

    </p>
    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
