---
layout: default_info
title: 19330 - Болт КАМАЗ-5490 MERCEDES Actros крепления диска тормозного (M14х1.5х75мм)(440325/M4100021, A9429902804)- ЗапКам.ру
description: РМК направляющих суппорта TSB 3709/4309/4312 BPW, к-т пыльников BPW ECO SH,SK,S..LL, BCB301. Болт для крепления тормозного диска FEBI 19330, Характеристики - длина, мм - 75, наружная резьба - M14 x 1,5, поверхность - фосфатирование., каталожный номер - 19330 440325/M4100021, A9429902804, на технику КамАЗ 5490, 65206, 65207  Новые, с разбора, оригинал, аналоги, бу, капремонт. Цена, доставка, описание, вес, размеры.
keywords: РМК направляющих суппорта TSB 3709/4309/4312 BPW Болт КАМАЗ-5490 MERCEDES Actros крепления диска тормозного (M14х1.5х75мм) РМК направляющих суппорта TSB 3709/4309/4312 BPW, к-т пыльников BPW ECO SH,SK,S..LL, BCB301. Болт для крепления тормозного диска FEBI 19330, Характеристики - длина, мм - 75, наружная резьба - M14 x 1,5, поверхность - фосфатирование. 19330 Auger, 70656 Sampa, 095924 Optiparts, C803270 Starkmeister BENEFIT 440325/M4100021, A9429902804 Запчасти  - КамАЗ 5490, 65206, 65207 Редуктор КамАЗ 5490 Евро-5 
hero-title: Запчасти для КамАЗ 5490 <span class="small1"> / 6520, 6580 </span>
h1: Болт КАМАЗ-5490 MERCEDES Actros крепления диска тормозного (M14х1.5х75мм) 
h2: 19330
phone: 
phone_title: 
categories: [<a href='/kamaz-5490/zapchasti.html'>Запчасти 5490</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.k5490 | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12 m-auto">
    <!-- <h3>Описание</h3> -->
    <p>

    </p>
    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
