---
layout: default_info
title: 32053606 - Крыльчатка вентилятора- ЗапКам.ру
description: Крыльчатка вентилятора, гидромуфты 8 лопастей MB, Produkt Emmerre, 81-27225-SX, каталожный номер - 32053606, на технику КамАЗ 5490, 65206, 65207  Новые, с разбора, оригинал, аналоги, бу, капремонт. Цена, доставка, описание, вес, размеры.
keywords: Крыльчатка вентилятора Крыльчатка вентилятора Крыльчатка вентилятора, гидромуфты 8 лопастей MB, Produkt Emmerre, 81-27225-SX 32053606 MB(Разборка), 0032053606i Sampa, 20017401 Emmerre, 907276 Stellox, 8127225SX Febi  Запчасти  - КамАЗ 5490, 65206, 65207 Редуктор КамАЗ 5490 Евро-5 
hero-title: Запчасти для КамАЗ 5490 <span class="small1"> / 6520, 6580 </span>
h1: Крыльчатка вентилятора 
h2: 32053606
phone: 
phone_title: 
categories: [<a href='/kamaz-5490/zapchasti.html'>Запчасти 5490</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.k5490 | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12 m-auto">
    <!-- <h3>Описание</h3> -->
    <p>

    </p>
    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
