---
layout: default_info
title: 4410441070 - Датчик давления воздуха в пневмобаллонах КАМАЗ-5490 MERCEDES (M16х1.5 10bar) (без рез.прокл.)(093249/121624/4410400130/1368290/1526532, A0055425818)- ЗапКам.ру
description: Датчик давления MB MB Actros/Axor, Scania 4/P/G/R/T серия, 16 bar, датчик давления воздуха [4410441010] M16x1,5/байонет, 8...32V (старый 45870 VLT), каталожный номер - 4410441070 093249/121624/4410400130/1368290/1526532, A0055425818, на технику КамАЗ 5490, 65206, 65872. Новые, с разбора, оригинал, аналоги, бу, капремонт. Цена, доставка, описание, вес, размеры.
keywords: Датчик давления Scania 4/P/G/R/T серия Датчик давления воздуха в пневмобаллонах КАМАЗ-5490 MERCEDES (M16х1.5 10bar) (без рез.прокл.) Датчик давления MB MB Actros/Axor, Scania 4/P/G/R/T серия, 16 bar, датчик давления воздуха [4410441010] M16x1,5/байонет, 8...32V (старый 45870 VLT) 4410441070 MB(Разборка), A0055425818y ViLiTan, 01087VLT Sampa, 093249 Diesel Technic, 121624 Bipro 093249/121624/4410400130/1368290/1526532, A0055425818 Запчасти  - КамАЗ 5490, 65206, 65872 Редуктор КамАЗ 5490 Евро-5 
hero-title: Запчасти для КамАЗ 5490 <span class="small1"> / 6520, 6580 </span>
h1: Датчик давления воздуха в пневмобаллонах КАМАЗ-5490 MERCEDES (M16х1.5 10bar) (без рез.прокл.) 
h2: 4410441070
phone: 
phone_title: 
categories: [<a href='/kamaz-5490/zapchasti.html'>Запчасти 5490</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.k5490 | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12 m-auto">
    <!-- <h3>Описание</h3> -->
    <p>

    </p>
    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
