---
layout: default_info
title: 4570300140 - Вкладыши коренные (пара) на КАМАЗ-5490, NEO, Мерседес- ЗапКам.ру
description: Вкладыши коренные, пара OM457 STD, MB OM457LA упорный, Полукольца упорные SPUTTER OM457 STD комплект- 2 вкладыша (верх+низ) стандарт, каталожный номер - 4570300140, на технику КамАЗ 5490, 65206, 65865. Новые, с разбора, оригинал, аналоги, бу, капремонт. Цена, доставка, описание, вес, размеры.
keywords: Вкладыши коренные STD SPUTTER, пара OM457 STD Вкладыши коренные (пара) на КАМАЗ-5490, NEO, Мерседес Вкладыши коренные, пара OM457 STD, MB OM457LA упорный, Полукольца упорные SPUTTER OM457 STD комплект- 2 вкладыша (верх+низ) стандарт 4570300140 Miba, 5475930STD Mahle, 001FL19809000 KS, 77813600 MB   Запчасти  - КамАЗ 5490, 65206, 65865 Редуктор КамАЗ 5490 Евро-5 
hero-title: Запчасти для КамАЗ 5490 <span class="small1"> / 6520, 6580 </span>
h1: Вкладыши коренные (пара) на КАМАЗ-5490, NEO, Мерседес 
h2: 4570300140
phone: 
phone_title: 
categories: [<a href='/kamaz-5490/zapchasti.html'>Запчасти 5490</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.k5490 | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12 m-auto">
    <!-- <h3>Описание</h3> -->
    <p>

    </p>
    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
