---
layout: default_info
title: 4728800300 - Кран управления пневмоподвеской ECAS на КАМАЗ-5490, NEO, Мерседес- ЗапКам.ру
description: Кран управления пневмоподвеской ECAS, клапан электромагнитный ECAS, Клапан магнитный ECAS MAN/RVI/Schmitz/Krone/Neoplan/Kogel/Feldbinder, Кран уровня пола ECAS, Главный кран уровня пола, каталожный номер - 4728800300, на технику КамАЗ 5490, 65206, 65850. Новые, с разбора, оригинал, аналоги, бу, капремонт. Цена, доставка, описание, вес, размеры.
keywords: Кран управления пневмоподвеской ECAS Кран управления пневмоподвеской ECAS на КАМАЗ-5490, NEO, Мерседес Кран управления пневмоподвеской ECAS, клапан электромагнитный ECAS, Клапан магнитный ECAS MAN/RVI/Schmitz/Krone/Neoplan/Kogel/Feldbinder, Кран уровня пола ECAS, Главный кран уровня пола 4728800300 Kamaz(Разборка), 4728800300i Wabco(Разборка), 4728800300i Sorl TOPCOVER EBS, 13013030  Запчасти  - КамАЗ 5490, 65206, 65850 Редуктор КамАЗ 5490 Евро-5 
hero-title: Запчасти для КамАЗ 5490 <span class="small1"> / 6520, 6580 </span>
h1: Кран управления пневмоподвеской ECAS на КАМАЗ-5490, NEO, Мерседес 
h2: 4728800300
phone: 
phone_title: 
categories: [<a href='/kamaz-5490/zapchasti.html'>Запчасти 5490</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.k5490 | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12 m-auto">
    <!-- <h3>Описание</h3> -->
    <p>

    </p>
    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
