---
layout: default_info
title: 5490-2902012-15 - Рессора КАМАЗ-5490 передняя (3 лист.) L=1800мм ЧМЗ- ЗапКам.ру
description: Рессора передняя 5490-2902012-15, Количество листов, шт - 3 Сечение, мм - 90х24/12 Высота пакета, мм - 80 Расчетная длина, мм - 1800, каталожный номер - 5490-2902012-15, на технику КамАЗ 5490, 65206, 65207  Новые, с разбора, оригинал, аналоги, бу, капремонт. Цена, доставка, описание, вес, размеры.
keywords: Рессора передняя 5490-2902012-15 Рессора КАМАЗ-5490 передняя (3 лист.) L=1800мм ЧМЗ Рессора передняя 5490-2902012-15, Количество листов, шт - 3 Сечение, мм - 90х24/12 Высота пакета, мм - 80 Расчетная длина, мм - 1800 5490-2902012-15 Kamaz(Разборка), 5490290201215i ЧМЗ, 5490290201215 Kamaz, 5490290201215    Запчасти  - КамАЗ 5490, 65206, 65207 Редуктор КамАЗ 5490 Евро-5 
hero-title: Запчасти для КамАЗ 5490 <span class="small1"> / 6520, 6580 </span>
h1: Рессора КАМАЗ-5490 передняя (3 лист.) L=1800мм ЧМЗ 
h2: 5490-2902012-15
phone: 
phone_title: 
categories: [<a href='/kamaz-5490/zapchasti.html'>Запчасти 5490</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.k5490 | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12 m-auto">
    <!-- <h3>Описание</h3> -->
    <p>

    </p>
    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
