---
layout: default_info
title: 562.920 - Сальник коленвала КАМАЗ-5490 MERCEDES MAN задний (120х140х13мм)(562920/12014877B/310041/69249/010216, A0139971447)- ЗапКам.ру
description: Сальник 120х140х13 коленчатого вала задний MB OM 401 - OM 443 (120x140x13), коленвала задний MAN 51.01510-0206 140x12 PTFE, MB A0139971447 120x140x13 MB Actros/Axor,SK/MK/NG/Iveco/RVI, каталожный номер - 562.920 562920/12014877B/310041/69249/010216, A0139971447, на технику КамАЗ 5490, 65206, 65908. Новые, с разбора, оригинал, аналоги, бу, капремонт. Цена, доставка, описание, вес, размеры.
keywords: Сальник 120х140х13 Сальник коленвала КАМАЗ-5490 MERCEDES MAN задний (120х140х13мм) Сальник 120х140х13 коленчатого вала задний MB OM 401 - OM 443 (120x140x13), коленвала задний MAN 51.01510-0206 140x12 PTFE, MB A0139971447 120x140x13 MB Actros/Axor,SK/MK/NG/Iveco/RVI 562.920 AVL Krafttechnik Trucktec, 0567006 Auger, 69182 Diesel Technic, 420200 Sampa, 010216 562920/12014877B/310041/69249/010216, A0139971447 Запчасти  - КамАЗ 5490, 65206, 65908 Редуктор КамАЗ 5490 Евро-5 
hero-title: Запчасти для КамАЗ 5490 <span class="small1"> / 6520, 6580 </span>
h1: Сальник коленвала КАМАЗ-5490 MERCEDES MAN задний (120х140х13мм) 
h2: 562.920
phone: 
phone_title: 
categories: [<a href='/kamaz-5490/zapchasti.html'>Запчасти 5490</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.k5490 | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12 m-auto">
    <!-- <h3>Описание</h3> -->
    <p>

    </p>
    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
