---
layout: default_info
title: A6065-001-02(03) - Переключатель подрулевой поворотов левый КАМАЗ-5490, NEO, Мерседес SEUFFER
description: Оригинальный переключатель поворотников подрулевой MB Axor Schaeffler Technologies ПАО КАМАЗ каталожный номер - A6065-001-02 A6065-001-03, на технику КамАЗ 5490, 65206, 65207  Новые, с разбора, оригинал, аналоги, бу, капремонт. Цена, доставка, описание, вес, размеры.
keywords: Переключатель поворотов подрулевой MB Actros Переключатель подрулевой левый КАМАЗ-5490, NEO, Мерседес Переключатель поворотов подрулевой MB Actros г.Москва А0085450124 / 010.066-00А / 4.62068 / 85450124 R-Truck TangDE MB(Разборка) Trucktec, 0142115 Diesel Technic, 462068  Запчасти  - КамАЗ 5490, 65206, 65207 Редуктор КамАЗ 5490 Евро-5 
hero-title: Запчасти для КамАЗ 5490 <span class="small1"> / 6520, 6580 </span>
h1: Переключатель подрулевой поворотников левый КАМАЗ-5490, NEO, Мерседес 
h2: A6065-001-03 (взамен A6065-001-02 (01)) 
phone: 9003234141
phone_title: 8(900)323-41-41
categories: [<a href='/kamaz-5490/zapchasti.html'>Запчасти 5490</a>]
---
 ё
<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.k5490 | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12 m-auto">
    <!-- <h3>Описание</h3> -->
    <p> 

    </p>
    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
