---
layout: default_info
title: 882277 - Колодки тормозные КАМАЗ-5490 SAF B9-22S передние/задние с отв.под пятаки (210х93.8х30мм)(4шт.)(3057009600)- ЗапКам.ру
description: Колодки дисковые (с углублениями под направ. поршней супп.), Комплект дисковых колодок, Колодки дисковые 29175/29195, каталожный номер - 882277 3057009600, на технику КамАЗ 5490, 65206, 65207  Новые, с разбора, оригинал, аналоги, бу, капремонт. Цена, доставка, описание, вес, размеры.
keywords: Колодки дисковые Haldex DBT22LT (ModulT), SBS 2220(с углублениями под направ. поршней супп.) Колодки тормозные КАМАЗ-5490 SAF B9-22S передние/задние с отв.под пятаки (210х93.8х30мм)(4шт.) Колодки дисковые (с углублениями под направ. поршней супп.), Комплект дисковых колодок, Колодки дисковые 29175/29195 882277 Sampa, 096963 Sonder EXOVO Avex ASK 3057009600 Запчасти  - КамАЗ 5490, 65206, 65207 Редуктор КамАЗ 5490 Евро-5 
hero-title: Запчасти для КамАЗ 5490 <span class="small1"> / 6520, 6580 </span>
h1: Колодки тормозные КАМАЗ-5490 SAF B9-22S передние/задние с отв.под пятаки (210х93.8х30мм)(4шт.) 
h2: 882277
phone: 
phone_title: 
categories: [<a href='/kamaz-5490/zapchasti.html'>Запчасти 5490</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.k5490 | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12 m-auto">
    <!-- <h3>Описание</h3> -->
    <p>

    </p>
    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
