---
layout: default_info
title: 9414900165 - 941.490.0165 MB Передняя труба с гофрой (нерж) для 54181,2,3,4,78- ЗапКам.ру
description: Передняя труба с гофрой (нерж) для 54181,2,3,4,78, 941.490.0165, Труба выхлопная MB Axor (цинк), выхлопная система, о.н. 9414900165 (M7444108), каталожный номер - 9414900165, на технику КамАЗ 5490, 65206, 65812. Новые, с разбора, оригинал, аналоги, бу, капремонт. Цена, доставка, описание, вес, размеры.
keywords: 941.490.0165 MB Передняя труба с гофрой (нерж) для 54181,2,3,4,78 941.490.0165 MB Передняя труба с гофрой (нерж) для 54181,2,3,4,78 Передняя труба с гофрой (нерж) для 54181,2,3,4,78, 941.490.0165, Труба выхлопная MB Axor (цинк), выхлопная система, о.н. 9414900165 (M7444108) 9414900165 Exit, 14300 Marshall, M7444108 Hobi, 32859 Dinex, 54180 Frenotruck  Запчасти  - КамАЗ 5490, 65206, 65812 Редуктор КамАЗ 5490 Евро-5 
hero-title: Запчасти для КамАЗ 5490 <span class="small1"> / 6520, 6580 </span>
h1: 941.490.0165 MB Передняя труба с гофрой (нерж) для 54181,2,3,4,78 
h2: 9414900165
phone: 
phone_title: 
categories: [<a href='/kamaz-5490/zapchasti.html'>Запчасти 5490</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.k5490 | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12 m-auto">
    <!-- <h3>Описание</h3> -->
    <p>

    </p>
    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
