---
layout: default_info
title: 9705450124 - Датчик уровня охлаждающей жидкости на КАМАЗ-5490, NEO, Мерседес MB Actros/Axor/Atego- ЗапКам.ру
description: Датчик уровня охлаждающей жидкости, датчик радиатора MB, 88-10007-SX MB Actros/Axor/Atego/Bus, каталожный номер - 9705450124, на технику КамАЗ 5490, 65206, 65207  Новые, с разбора, оригинал, аналоги, бу, капремонт. Цена, доставка, описание, вес, размеры.
keywords: Датчик уровня охлаждающей жидкости MB Actros/Axor/Atego Датчик уровня охлаждающей жидкости на КАМАЗ-5490, NEO, Мерседес MB Actros/Axor/Atego Датчик уровня охлаждающей жидкости, датчик радиатора MB, 88-10007-SX MB Actros/Axor/Atego/Bus 9705450124 Sampa, 202064 Stellox, 8810007SX Auger, 74960 Emmerre, 906181 TOPCOVER, T01744002  Запчасти  - КамАЗ 5490, 65206, 65207 Редуктор КамАЗ 5490 Евро-5 
hero-title: Запчасти для КамАЗ 5490 <span class="small1"> / 6520, 6580 </span>
h1: Датчик уровня охлаждающей жидкости на КАМАЗ-5490, NEO, Мерседес MB Actros/Axor/Atego 
h2: 9705450124
phone: 
phone_title: 
categories: [<a href='/kamaz-5490/zapchasti.html'>Запчасти 5490</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.k5490 | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12 m-auto">
    <!-- <h3>Описание</h3> -->
    <p>

    </p>
    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
