---
layout: default_info
title: A0004230606 - Скоба суппорта КАМАЗ-5490, Мерседес MB Axor тормозного- ЗапКам.ру
description: Суппорт скобы тормозной SN71...72...74....MB, каталожный номер - A0004230606, на технику КамАЗ 5490, 65206, 65626. Новые, с разбора, оригинал, аналоги, бу, капремонт. Цена, доставка, описание, вес, размеры.
keywords: Суппорт скобы тормозной SN71...72...74....MB,Gigant Скоба суппорта КАМАЗ-5490, Мерседес MB Axor тормозного Суппорт скобы тормозной SN71...72...74....MB A0004230606 TTT, 20222 Knorr, K000027 MB    Запчасти  - КамАЗ 5490, 65206, 65626 Редуктор КамАЗ 5490 Евро-5 
hero-title: Запчасти для КамАЗ 5490 <span class="small1"> / 6520, 6580 </span>
h1: Скоба суппорта КАМАЗ-5490, Мерседес MB Axor тормозного 
h2: A0004230606
phone: 
phone_title: 
categories: [<a href='/kamaz-5490/zapchasti.html'>Запчасти 5490</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.k5490 | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12 m-auto">
    <!-- <h3>Описание</h3> -->
    <p>

    </p>
    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
