---
layout: default_info
title: A0052032675 - Регулятор (Winkler 27900013100) КАМАЗ-5490, NEO, Мерседес- ЗапКам.ру
description: Термостат 83°C MB Actros/Atego MAN F90/2000, Термостат 83°С, Термостат 83°C D0824/0826/0834/0836/2066/2566/2676/2840/2842/2865/2866/2876;Typ 4150/4163, каталожный номер - A0052032675, на технику КамАЗ 5490, 65206, 65534. Новые, с разбора, оригинал, аналоги, бу, капремонт. Цена, доставка, описание, вес, размеры.
keywords: Термостат 83°C MB Actros/Atego MAN F90/2000 Регулятор (Winkler 27900013100) КАМАЗ-5490, NEO, Мерседес Термостат 83°C MB Actros/Atego MAN F90/2000, Термостат 83°С, Термостат 83°C D0824/0826/0834/0836/2066/2566/2676/2840/2842/2865/2866/2876;Typ 4150/4163 A0052032675 Man(Разборка) TangDE Febi, 15846 MB(Разборка) Diesel Technic, 315002  Запчасти  - КамАЗ 5490, 65206, 65534 Редуктор КамАЗ 5490 Евро-5 
hero-title: Запчасти для КамАЗ 5490 <span class="small1"> / 6520, 6580 </span>
h1: Регулятор (Winkler 27900013100) КАМАЗ-5490, NEO, Мерседес 
h2: A0052032675
phone: 
phone_title: 
categories: [<a href='/kamaz-5490/zapchasti.html'>Запчасти 5490</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.k5490 | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12 m-auto">
    <!-- <h3>Описание</h3> -->
    <p>

    </p>
    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
