---
layout: default_info
title: A0141545402 - Генератор КАМАЗ-5490, NEO, Мерседес- ЗапКам.ру
description: Генератор MB Actros/Atego 24V; 100A, 24V, (без шкива), каталожный номер - A0141545402, на технику КамАЗ 5490, 65206, 65207  Новые, с разбора, оригинал, аналоги, бу, капремонт. Цена, доставка, описание, вес, размеры.
keywords: Генератор MB Actros/Atego 24V; 100A Генератор КАМАЗ-5490, NEO, Мерседес Генератор MB Actros/Atego 24V; 100A, 24V, (без шкива) A0141545402 MB(Разборка), 0141545402i Krauf, ALB1739 Diesel Technic, 463009 Tesla Technics, TT12341 Mahle, MG792  Запчасти  - КамАЗ 5490, 65206, 65207 Редуктор КамАЗ 5490 Евро-5 
hero-title: Запчасти для КамАЗ 5490 <span class="small1"> / 6520, 6580 </span>
h1: Генератор КАМАЗ-5490, NEO, Мерседес 
h2: A0141545402
phone: 
phone_title: 
categories: [<a href='/kamaz-5490/zapchasti.html'>Запчасти 5490</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.k5490 | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12 m-auto">
    <!-- <h3>Описание</h3> -->
    <p>

    </p>
    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
