---
layout: default_info
title: A0244201018 - Энергоаккумулятор КАМАЗ-5490 24/24 БИФОРМ(961-3519500; 20-3519200/A0244201018/A0244200918)- ЗапКам.ру
description: Энергоаккумулятор диск.тормоз, каталожный номер - A0244201018 961-3519500; 20-3519200/A0244201018/A0244200918, на технику КамАЗ 5490, 65206, 65207  Новые, с разбора, оригинал, аналоги, бу, капремонт. Цена, доставка, описание, вес, размеры.
keywords: Энергоаккумулятор диск.тормоз Энергоаккумулятор КАМАЗ-5490 24/24 БИФОРМ Энергоаккумулятор диск.тормоз A0244201018 MB(Разборка), A0244201018y MB    961-3519500; 20-3519200/A0244201018/A0244200918 Запчасти  - КамАЗ 5490, 65206, 65207 Редуктор КамАЗ 5490 Евро-5 
hero-title: Запчасти для КамАЗ 5490 <span class="small1"> / 6520, 6580 </span>
h1: Энергоаккумулятор КАМАЗ-5490 24/24 БИФОРМ 
h2: A0244201018
phone: 
phone_title: 
categories: [<a href='/kamaz-5490/zapchasti.html'>Запчасти 5490</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.k5490 | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12 m-auto">
    <!-- <h3>Описание</h3> -->
    <p>

    </p>
    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
