---
layout: default_info
title: A9405280982 - Шланг турбины КАМАЗ-5490, NEO, Мерседес- ЗапКам.ру
description: Патрубок воздушного фильтра MB Actros/Axor, турбины, гофрированный патрубок корпуса воздушного фильтра MB ACTROS/AXOR/ATEGO, BUS OM906LA/OM926LA, каталожный номер - A9405280982, на технику КамАЗ 5490, 65206, 65317. Новые, с разбора, оригинал, аналоги, бу, капремонт. Цена, доставка, описание, вес, размеры.
keywords: Патрубок воздушного фильтра MB Actros/Axor Шланг турбины КАМАЗ-5490, NEO, Мерседес Патрубок воздушного фильтра MB Actros/Axor, турбины, гофрированный патрубок корпуса воздушного фильтра MB ACTROS/AXOR/ATEGO, BUS OM906LA/OM926LA A9405280982 Combo, 162746 Orex, OR152024 TORK, TRK8037 Starkmeister, S103174 Sampa, 200086  Запчасти  - КамАЗ 5490, 65206, 65317 Редуктор КамАЗ 5490 Евро-5 
hero-title: Запчасти для КамАЗ 5490 <span class="small1"> / 6520, 6580 </span>
h1: Шланг турбины КАМАЗ-5490, NEO, Мерседес 
h2: A9405280982
phone: 
phone_title: 
categories: [<a href='/kamaz-5490/zapchasti.html'>Запчасти 5490</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.k5490 | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12 m-auto">
    <!-- <h3>Описание</h3> -->
    <p>

    </p>
    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
