---
layout: default_info
title: AF25454 - Элемент фильтрующий КАМАЗ-5490,6460,6560 (дв.740.37), КСК-10К, 1218, МТЗ-2522, 3022 воздушный- ЗапКам.ру
description: Фильтр воздушный H-524 D-310 d-180, каталожный номер - AF25454, на технику КамАЗ 5490, 65206, 65208. Новые, с разбора, оригинал, аналоги, бу, капремонт. Цена, доставка, описание, вес, размеры.
keywords: Фильтр воздушный H-524 D-310 d-180 Элемент фильтрующий КАМАЗ-5490,6460,6560 (дв.740.37), КСК-10К, 1218, МТЗ-2522, 3022 воздушный Фильтр воздушный H-524 D-310 d-180 AF25454 TSN, 911668 M-Filter, A804 Filtron MTF KS, 50014637  Запчасти  - КамАЗ 5490, 65206, 65208 Редуктор КамАЗ 5490 Евро-5 
hero-title: Запчасти для КамАЗ 5490 <span class="small1"> / 6520, 6580 </span>
h1: Элемент фильтрующий КАМАЗ-5490,6460,6560 (дв.740.37), КСК-10К, 1218, МТЗ-2522, 3022 воздушный 
h2: AF25454
phone: 
phone_title: 
categories: [<a href='/kamaz-5490/zapchasti.html'>Запчасти 5490</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.k5490 | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12 m-auto">
    <!-- <h3>Описание</h3> -->
    <p>

    </p>
    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
