---
layout: default_info
title: AS605711A0 - Колодки тормозные КАМАЗ-5490 передние/задние без отверстий под пятаки(29195)- ЗапКам.ру
description: Колодки дисковые WVA29175/29195 SAF для Haldex Modul T (с углублениями под направ. поршней супп.), установочный к-кт дисковой колодки, каталожный номер - AS605711A0 29195, на технику КамАЗ 5490, 65206, 65207  Новые, с разбора, оригинал, аналоги, бу, капремонт. Цена, доставка, описание, вес, размеры.
keywords: Колодки дисковые Haldex DBT22LT (ModulT), SBS 2220(с углублениями под направ. поршней супп.) Колодки тормозные КАМАЗ-5490 передние/задние без отверстий под пятаки Колодки дисковые WVA29175/29195 SAF для Haldex Modul T (с углублениями под направ. поршней супп.), установочный к-кт дисковой колодки AS605711A0 Sampa, 096963 Sonder Avex SIMPECO ASK 29195 Запчасти  - КамАЗ 5490, 65206, 65207 Редуктор КамАЗ 5490 Евро-5 
hero-title: Запчасти для КамАЗ 5490 <span class="small1"> / 6520, 6580 </span>
h1: Колодки тормозные КАМАЗ-5490 передние/задние без отверстий под пятаки 
h2: AS605711A0
phone: 
phone_title: 
categories: [<a href='/kamaz-5490/zapchasti.html'>Запчасти 5490</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.k5490 | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12 m-auto">
    <!-- <h3>Описание</h3> -->
    <p>

    </p>
    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
