---
layout: default_info
title: Редуктор КАМАЗ 31, 35 зубьев - ЗапКам.ру
description: Передача главная КАМАЗ 31/35 зубьев заднего, среднего, переднего моста КАМАЗ 5320, 65115, 6520, 4310, 43114 и др. с доставкой по всей России. В наличии новые, восстановленные, капремонт. Прайс-лист, модификации, каталог, описание, характеристики.
keywords: редуктор передача мост передний средний задний КамАЗ 4310, 43114, 43118, 65111, 6522
hero-title: Редукторы на технику КАМАЗ
h1: Главные передачи (редукторы) КамАЗ 31, 35 зубьев 
h2:
phone:
phone_title:
---

<div class="col-md-3">
    <h3>Редукторы 35/21 и 31/15 зубьев</h3>
    <table class="table table-harki">
        <tbody>
            {% for product in site.data.agregaty %}
            {%- if product.id == "224" or product.id == "248" -%}
            <tr><td><span> <a href="{{product.path}}{{product.url}}"> {{product.code1}} </a></span></td></tr>
            {%- endif -%}
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="col-md-9">
    <div class="alert alert-info">
        <p>
            Обозначение редукторов КАМАЗ 31,35:<br> 
            - <strong> 6520-2X02011-10</strong> <br>
            - <strong> 6520-2X02011-20</strong> <br>
        </p>
        <h3>Основные комплектации</h3>
    <table class="table table-hover table-harki table-responsive-sm wa">
        <thead>
        <tr>
        <th>Обозначение</th>
        <th style="text-align: center;">Зубьев шестерен</th>
        <th style="text-align: center;">Передаточное число</th>
        <th>Код</th>
        <th>Применяемость</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td>6520-2X02011-<strong>10</strong></td>
        <td style="text-align: center;"><strong>35</strong>/21</td>
        <td style="text-align: center;">5.11</td>
        <td style="text-align: center;">511</td>
        <td><strong>тяговый</strong>,&nbsp;самосвальное шасси</td>
        </tr>
        <tr>
        <td>6520-2X02011-<strong>20</strong></td>
        <td style="text-align: center;"><strong>31</strong>/15</td>
        <td style="text-align: center;">6.58</td>
        <td style="text-align: center;">658</td>
        <td><strong>скоростной</strong>,&nbsp;самосвальное шасси</td>
        </tr>
        </tbody>
    </table>
        
    <p>
        Данные модели редуктора подходит для мостов автомобиля Камаз 6520, 6522. 
    </p>
    </div>
</div>



<!-- Товары -->
<style>
    .list-group-item{ margin-bottom: 1px; }
</style>

    <div class="col-md-11 col-xs-12" style="margin: auto;">
        <p></p>
        <h3>Каталог </h3>
        <div class="form form-inline">
            <input id="pListSearch" class="fuzzy-search" type="search" class="form-control" placeholder="поиск..." style="width:130px;"/>
            &nbsp;&nbsp;
            <button class="btn btn-search-var" onclick="$('#pListSearch').val('заднего'); filterProductList($('#pListSearch').val());" title="Редукторы заднего моста">Заднего моста</button>   
            <button class="btn btn-search-var" onclick="$('#pListSearch').val('среднего'); filterProductList($('#pListSearch').val());" title="Главные передачи среднего моста">Среднего моста</button>      
        </div>
     
        {% include catalog-loading-panel.html %}
    
        <div id="productList" class="pt-2 pb-2" style="display: none; ">
        
            <div class="row list">
                {% for product in site.data.agregaty %}
                {%- if product.id == "224" or product.id == "248" -%}
                    {% include card_zapchasti_catalog.html product = product %}
                {%- endif -%}
                {% endfor %}
    
                <div id="loadingDiv">
                    <span>Загрузка данных</span>
                </div>
            </div>
            <div class="no-result">Не найдено</div>
            <ul class="pagination"></ul>
        </div>
          
    
    
    </div>
    
    



<div class="col-md-10 col-xs-12 m-auto">

       <p>
        <b>Основные составляющие редуктора КАМАЗ 31, 35 зубьев:</b> <br>
         - корпус устройства или картер; <br>
         - главная передача;<br>
         - дифференциал;<br>
         - конические и цилиндрические шестерни подшипники; <br>
         - регулировочные прокладки и шайбы; <br>
         - сателлиты, а также другие компоненты. <br>
    </p>

    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
    
    
  <div style="height: 100px;">&nbsp;</div>
  

<script src="/assets/js/list.min.js"></script>