---
layout: default_info
title: 273.1112110-20 Распылитель форсунки ЯЗДА 273-20 на КамАЗ Евро-2- ЗапКам.ру
description: Продаем Распылитель форсунки ЯЗДА 273-20 на КамАЗ Евро-2, каталожный номер - 273.1112110-20, на двигатели 740.30, 740.51, 740.50, 740.31, на технику КамАЗ-65115, 65116, 6520, 43118, 53605. Новые оригинал, аналоги, бу, капремонт. Цена, доставка, описание, вес, размеры.
keywords: Распылитель форсунки ЯЗДА 273-20 на КамАЗ Евро-2 273.1112110-20 ЯЗДА, новый      Распылители  - КамАЗ-65115, 65116, 6520, 43118, 53605 Двигатель КамАЗ Евро Евро-1 Евро-2 Евро-3 Евро-4 Коленвал Коленчатый вал Блок цилиндров шатун шейка поршня кольца Bosch ЯЗДА ЦПГ ЯМЗ SANZ насос турбокомпрессор распредвал
hero-title: Запчасти на ДВИГАТЕЛИ КамАЗ
h1: Распылитель форсунки ЯЗДА 273-20 на КамАЗ Евро-2 273.1112110-20
h2:
phone: 
phone_title: 
categories: [ <a href='/dvigatel_zapchasti/category/forsunki-kamaz.html'>Форсунки топливные</a>, <a href='/dvigatel_zapchasti/category/raspyliteli-forsunki-kamaz.html'>Распылители форсунки</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.dvig_zap | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
    <!-- <h3>Описание</h3> -->
    <p>

    </p>
    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
