---
layout: default_info
title: Делитель КПП-154 КАМАЗ - в наличии восстановленный б\у
description: Продаем делитель коробки передач КПП-154 на КамАЗ с доставкой по всей России. В наличии новые, восстановленные, капремонт. Прайс-лист, модификации, каталог, описание, характеристики.
keywords: Коробка передач КамАЗ 154 4310 43114, 43118, 43253
hero-title: Коробки передач на технику КамАЗ
h1: Делитель коробки передач 154 КАМАЗ
h2: 154.1770010
phone: 
phone_title: 
categories: [<a href="/agregaty/kpp/index.html">КПП - Коробки передач</a> ]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.agregaty | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
  
    <h2>Описание</h2>
    <h3>Делитель передач КАМАЗ КПП 154</h3>
    <p>
        - механический редуктор, состоящий из одной пары цилиндрических шестерен, ведущего 2 и промежуточного 11 валов,
        синхронизатора 7 и механизма переключения передач. Управление механизмом переключения передач пневматическое.
    </p>

    <img src="/agregaty/kpp/img/kpp-154-info/delitel-peredach-kpp154-kamaz.jpg" alt="Делитель КПП-154 - Чертеж">
    <small>
        Рис. Делитель передач: 1 - прокладки регулировочные; 2 - вал ведущий; 3 - кольцо масло-нагнетающее; 4 - шарикоподшипник; 5 - крышка задняя
        подшипника ведущего вала; 6 - крышка люка; 7 - синхронизатор делителя в сборе; 8 - шестерня ведущего вала; 10 - подшипник задний; 9 - подшипники
        шестерни ведущего вала; 11 - вал промежуточный; 12 - подшипник; 13 - вал вилки; 14 - вилка; 15 - сухарь вилки; 16 - рычаг вилки; а) вариант с одной манжетой
    </small>

    <p>
        Осевой ход ведущего вала регулируется набором металлических прокладок 1 толщиной 0,2 и 0,3 мм, устанавливаемых между задней крышкой 5 и наружной
        обоймой шарикоподшипника 4. На конце вала эвольвентные шлицы под пальчиковый синхронизатор двумя проточками разделены на три венца. 
    </p>

    <p>
        Зубья крайних венцов тоньше зубьев среднего венца для создания «замка», предотвращающего самовыключение передач в делителе. 
        Шестерня 8 ведущего вала вращается на двух роликовых подшипниках 9.
    </p>
    <p>
        Масло-нагнетающее кольцо 3 подает масло по наклонным сверлениям ведущего вала в его внутреннюю полость, откуда оно попадает в каналы
        ведущего и ведомого валов основной коробки передач.
    </p>
    
    <p>
        Промежуточный вал 11 делителя с напрессованной шестерней привода промежуточного вала вращается на сдвоенном роликовом подшипнике 12.
    </p>

    <h3>Механизм переключения делителя передач</h3>
    <p><b>Механизм переключения делителя передач</b> закреплен на картере делителя слева.</p>
    <img src="/agregaty/kpp/img/kpp-154-info/mehanizm-perecliucheniia-delitelia-peredach-154.jpg" alt="Механизм переключения делителя передач 154 - Чертеж">
    <small>
        1,5 - винты установочные; 2 - корпус механизма переключения; 3 - крышка смотрового люка; 4 - контргайка; 6, 17 - кольца уплотнительные; 7 - крышка цилиндра; 10 - прокладки уплотнительные.
    </small>

    <h3>Воздухораспределитель делителя 154</h3>
    <img src="/agregaty/kpp/img/kpp-154-info/vozduhoraspredelitel-delitelia-154-kamaz.jpg" alt="Механизм переключения делителя передач 154 - Чертеж">
    <p> <b>Воздухораспределитель В2111-4:</b>
    <small> 1,2- крышка цилиндра; 3 - прокладка; 4 - золотник; 5 - упор; 6 - поршень; 7, 8, 9 - пружина; 10 -
        транспортная пластина; 11 - пробка; 12 - втулка воздухораспределителя; 14 - винт; 15 - корпус; 21, 22, 23, 25- кольцо; 24 -табличка.
    </small></p>

    <h3>Пневматическая схема системы управления делителем передач</h3>
    <img src="/agregaty/kpp/img/kpp-154-info/pnevmaticheskaia-skhema-sistemy-upravleniia-delitelem-peredach-154.jpg" alt="Пневматическая схема системы управления делителем передач камаз 154 - Чертеж">
    <p>
    <small> 1 -
        воздухораспределитель; 7, 38 (цвет синий), 40 (цвет белый), В (цвет синий), П
        (цвет белый) - трубка; 9 - болт; 12 - втулка трубки; 13 - лента спиральная; 15 -
        болт; 16, 17, 36 - гайка; 19, 22 - шайба; 24 - хомут; 34 - кран пневматический; Г -
        хомут.
    </small></p>


    <h3>Редукционный клапан делителя 154</h3>
    <img src="/agregaty/kpp/img/kpp-154-info/reduktcionnyi-klapan-delitelya-kamaz.jpg" alt="Редукционный клапан делителя камаз 154 - Чертеж">
    <p>
    <small> 1 - корпус пружины; 2 - пружина впускного клапана; 3 - прокладка; 4 - клапан впускной; 5 - шток впускного клапана; 6 -
        корпус; 7 - гайка накидная; 8 - мембрана; 9 - шайба; 10 - крышка корпуса; 11 -
        пружина уравновешивающая; 12 - пробка; 13 - шайба регулировочная
    </small></p>


    <h3>Разбор делителя</h3>
    <p>
        Для разборки делителя передач:снять крышку 6 смотрового люка, крышки подшипников ведущего и промежуточного
        валов делителя; вынуть ведущий вал 2 делителя, предварительно развернув его лыской на конусном кольце синхронизатора вниз
        к шестерне привода промежуточного вала, вынуть синхронизатор, расстопорить и вывернуть болты крепления упорной
        шайбой подшипника 12; выпрессовать промежуточный вал 11 делителя из подшипника, вынуть подшипник 12 из корпуса; вынуть
        промежуточный вал 11 делителя; расстопорить и вывернуть два болта крепления вилки переключения передач; вынуть вал 13 с
        рычагом 16 и извлечь вилку 14 из картера делителя.
    </p>




    <hr>
    <h2>Каталог деталей делителя КАМАЗ 154</h2>
    <table class="table table-hover table-striped table-responsive-sm wa">
        <tbody>
        <tr>
        <td>№</td>
        <td>Наименование детали</td>
        <td>Наименование</td>
        </tr>
        <tr>
        <td>
        <table>
        <tbody>
        <tr>
        <td>3</td>
        </tr>
        </tbody>
        </table>
        </td>
        <td>14.1701039-40</td>
        <td>Крышка подшипника первичного вала в сборе</td>
        </tr>
        <tr>
        <td>5</td>
        <td>14.1701306</td>
        <td>Пробка сливная с магнитом в сборе</td>
        </tr>
        <tr>
        <td>7</td>
        <td>154.1770030</td>
        <td>Картер делителя передач со втулками</td>
        </tr>
        <tr>
        <td>9</td>
        <td>154.1770040</td>
        <td>Вал первичный делителя передач</td>
        </tr>
        <tr>
        <td>11</td>
        <td>154.1770160</td>
        <td>Синхронизатор делителя передач</td>
        </tr>
        <tr>
        <td>13</td>
        <td>154.1770210</td>
        <td>Вал промежуточный делителя передач</td>
        </tr>
        <tr>
        <td>19</td>
        <td>15.1771010</td>
        <td>Механизм переключения делителя передач в сборе</td>
        </tr>
        <tr>
        <td>21</td>
        <td>15.1771110</td>
        <td>Валик вилки механизма переключения с рычагом в сборе</td>
        </tr>
        <tr>
        <td>25</td>
        <td>15.1772100</td>
        <td>Клапан редукционный управления механизмом в сборе</td>
        </tr>
        <tr>
        <td>27</td>
        <td>53205-3506040</td>
        <td>Трубка подвода воздуха</td>
        </tr>
        <tr>
        <td>43</td>
        <td>740.1012085-10</td>
        <td>Кольцо уплотнительное</td>
        </tr>
        <tr>
        <td>44</td>
        <td>154.1601022</td>
        <td>Крышка смотрового люка сцепления нижняя</td>
        </tr>
        <tr>
        <td>45</td>
        <td>154.1601026</td>
        <td>Прокладка крышки люка</td>
        </tr>
        <tr>
        <td>47</td>
        <td>14.1601030</td>
        <td>Крышка картера сцепления верхняя</td>
        </tr>
        <tr>
        <td>49</td>
        <td>14.1601240</td>
        <td>Крышка сальника вала выключения сцепления</td>
        </tr>
        <tr>
        <td>51</td>
        <td>14.1601242</td>
        <td>Кольцо уплотнительное сальника</td>
        </tr>
        <tr>
        <td>52</td>
        <td>14.1601244</td>
        <td>Кольцо сальника ГОСТ 6308-71</td>
        </tr>
        <tr>
        <td>53</td>
        <td>14.1701035</td>
        <td>Прокладка регулировочная</td>
        </tr>
        <tr>
        <td>55</td>
        <td>14.1701036</td>
        <td>Прокладка регулировочная</td>
        </tr>
        <tr>
        <td>57</td>
        <td>14.1701042</td>
        <td>Прокладка крышки первичного вала</td>
        </tr>
        <tr>
        <td>59</td>
        <td>14.1701350</td>
        <td>Рым-болт</td>
        </tr>
        <tr>
        <td>61</td>
        <td>14.1702029</td>
        <td>Сухарь вилки переключения второй и третьей передач</td>
        </tr>
        <tr>
        <td>63</td>
        <td>15.1770036</td>
        <td>Крышка люка картера делителя передач</td>
        </tr>
        <tr>
        <td>65</td>
        <td>15.1770038</td>
        <td>Крышка люка картера делителя передач</td>
        </tr>
        <tr>
        <td>69</td>
        <td>14.1701060</td>
        <td>Шайба упорная</td>
        </tr>
        <tr>
        <td>71</td>
        <td>14.1701076</td>
        <td>Планка стопорная болтов упорной шайбы</td>
        </tr>
        <tr>
        <td>72</td>
        <td>154.1770242</td>
        <td>Стакан переднего подшипника промежуточного вала делителя</td>
        </tr>
        <tr>
        <td>73</td>
        <td>154.1770244</td>
        <td>Крышка переднего подшипника промежуточного вала делителя</td>
        </tr>
        <tr>
        <td>75</td>
        <td>15.1770246</td>
        <td>Кольцо уплотнительное крышки подшипника</td>
        </tr>
        <tr>
        <td>77</td>
        <td>154.1770248</td>
        <td>Прокладка крышки переднего подшипника промежуточного вала</td>
        </tr>
        <tr>
        <td>81</td>
        <td>15.1771026</td>
        <td>Прокладка корпуса механизма переключения</td>
        </tr>
        <tr>
        <td>83</td>
        <td>15.1771062</td>
        <td>Фиксатор штока механизма переключения</td>
        </tr>
        <tr>
        <td>85</td>
        <td>15.1771064</td>
        <td>Пружина фиксатора штока</td>
        </tr>
        <tr>
        <td>87</td>
        <td>154.1771094</td>
        <td>Вилка механизма переключения делителя передач</td>
        </tr>
        <tr>
        <td>111</td>
        <td>864009</td>
        <td>Масленка 2.3.45 Ц6хр. ГОСТ 19853-74</td>
        </tr>
        <tr>
        <td>113</td>
        <td>4,5105E+13</td>
        <td>Подшипник 6-53610Ш1 роликовый радиальный сферический двухрядный</td>
        </tr>
        <tr>
        <td>117</td>
        <td>1/09026/21</td>
        <td>Болт М6-6gх25</td>
        </tr>
        <tr>
        <td>119</td>
        <td>1/60432/21</td>
        <td>Болт М8-6gх16</td>
        </tr>
        <tr>
        <td>120</td>
        <td>1/60434/21</td>
        <td>Болт М8-6gх20</td>
        </tr>
        <tr>
        <td>121</td>
        <td>262542</td>
        <td>Пробка КГ1/4"</td>
        </tr>
        <tr>
        <td>127</td>
        <td>1/13069/21</td>
        <td>Болт М10х1,25-6gх30</td>
        </tr>
        <tr>
        <td>128</td>
        <td>1/59709/21</td>
        <td>Болт М10х1,25-6gх35</td>
        </tr>
        <tr>
        <td>133</td>
        <td>1/55404/33</td>
        <td>Болт М12х1,25-6gх30</td>
        </tr>
        <tr>
        <td>137</td>
        <td>1/61015/11</td>
        <td>Гайка М12х1,25-6Н</td>
        </tr>
        <tr>
        <td>138</td>
        <td>1/07913/11</td>
        <td>Гайка низкая М14х1,5-6Н</td>
        </tr>
        <tr>
        <td>141</td>
        <td>1/26386/01</td>
        <td>Шайба плоская 10,6х18х2</td>
        </tr>
        <tr>
        <td>143</td>
        <td>1/05164/73</td>
        <td>Шайба 6 пружинная</td>
        </tr>
        <tr>
        <td>145</td>
        <td>1/05166/73</td>
        <td>Шайба 8 пружинная</td>
        </tr>
        <tr>
        <td>146</td>
        <td>1/05168/73</td>
        <td>Шайба 10 пружинная</td>
        </tr>
        <tr>
        <td>149</td>
        <td>1/35303/31</td>
        <td>Шпилька</td>
        </tr>
        <tr>
        <td>150</td>
        <td>1/18004/31</td>
        <td>Шпилька М16х1,5х22х35</td>
        </tr>
        <tr>
        <td>151</td>
        <td>1/18006/31</td>
        <td>Шпилька картера М16х1,5х22х45</td>
        </tr>
        <tr>
        <td>152</td>
        <td>1/03389/26</td>
        <td>Штифт цилиндрический 10х25</td>
        </tr>
        <tr>
        <td>154</td>
        <td>1/43290/07</td>
        <td>Заглушка чашечная</td>
        </tr>
        <tr>
        <td>155</td>
        <td>861002</td>
        <td>Угольник ввертный</td>
        </tr>
        <tr>
        <td>156</td>
        <td>861026</td>
        <td>Шайба</td>
        </tr>
        <tr>
        <td>157</td>
        <td>853066</td>
        <td>Болт М10х1,25-6gх75</td>
        </tr>
        <tr>
        <td>158</td>
        <td>864221</td>
        <td>Кольцо уплотнительное толкателя</td>
        </tr>
        <tr>
        <td>165</td>
        <td>870812</td>
        <td>Шпонка сегментная 5х10х25</td>
        </tr>
        <tr>
        <td>167</td>
        <td>870833</td>
        <td>Заглушка 43</td>
        </tr>
        <tr>
        <td>169</td>
        <td>870851</td>
        <td>Шайба замковая 10</td>
        </tr>
        <tr>
        <td>171</td>
        <td>870855</td>
        <td>Шайба специальная 10,5</td>
        </tr>
        <tr>
        <td>173</td>
        <td>870856</td>
        <td>Шайба замковая 12,3</td>
        </tr>
        </tbody>
        </table>
    <hr>

    <div class="alert alert-info">
        <b>Восстановленная делитель коробки передач 154</b>. <br>
        В качестве бюджетного варианта можем предложить делитель коробки передач КамАЗ бывший в эксплуатации,
        прошедшую капитальный ремонт.
        <br>
        <br>
        Гарантия на восстановленный делитель 154 составит 6 месяца.
    </div>
    <div class="alert alert-success">
        Примем сломанный делитель в счёт новой (до 35% от стоимости).
    </div>
    <hr>
    
    
   

    <p></p>
    {%- include_relative _like_products.mhtml prod = product -%}
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 100px;">&nbsp;</div>
  
</div>