---
layout: default_info
title: КПП-154 КАМАЗ - Коробка передач в наличии - новая и ремонт б\у
description: Продаем из наличия коробки переключения передач КП 154 на КАМАЗ 43118, 65115, 43505, 5350, 53605 разных модификаций с доставкой ТК. В наличии новые, восстановленные, капремонт.
keywords: Коробка передач КамАЗ 15443118, 65115, 43505, 5350, 53605
hero-title: Коробки передач на технику КамАЗ
h1: Коробка передач КАМАЗ КПП-154
h2: 154.1700056, 154.1700051 
phone:
phone_title: 
categories: [<a href="/agregaty/kpp/index.html">КПП - Коробки передач</a> ]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.agregaty | where:"url", page_url | first  %}


<div class="col-md-10 col-xs-12" style="margin: auto;">
    
    
    <p>
        КПП КАМАЗ 154 относится к 15 модельному ряду – механическая, трехходовая, десяти-ступенчатая, состоит из основного редуктора и двухступенчатого делителя, расположенного впереди основной коробки.
    </p>
    <h3>Модификации</h3>
        
    <p>
        КП 154.1700051 не отличаются от КП 154.1700056 и полностью взаимозаменяемы, в том числе идентичны присоединительные размеры. 
        <br> 056 КП изготавливается в герметичном исполнении и применяется в основном на автомобилях ПЗ.
        <br>
        Также рычаг вала вилки выключения сцепления на КП 056 - 19.1601217-20 изогнутый, а на -051 он прямой 19.1601217-10.
    </p>
    <p>
        КПП 154. 051-20 или 056-20 отличается 051 и 056 механизмом переключения делителя.
    </p>
    <p>
        КПП 154.1700051-30 отличается только механизмом включения, в -30 прямой вывод, у-20 боковой. Но можно механизмы переставить. 
        <br> для переделки КП 154.1700051 в 154.1700051-30 необходимо много переделок. 
    </p>
    
    <h3>Описание</h3>
    <p>КПП-154 - механическая, 10-ступенчатая, состоит из основного редуктора, унифицированного с КП 144 
        и двухступенчатого делителя, расположенного впереди основной коробки. 
        Применяются для автомобилей с двигателями, имеющими крутящий момент до 1100 Н·м. 
        Основное отличие от КПП-152 — конические подшипники в опорах первичного,
        промежуточного и вторичного валов КП.
         </p>
    <p>
        Применение делителя передач улучшает тяговые качества автомобиля, облегчает управление автомобилем.
    </p>
    <p>
        Основное отличие модели 154 от 152 состоит в использовании конических подшипников,
         что повлекло замену валов, усиление синхронизаторы, и использовании более мощных сцеплений.
         <br>
         Поэтому замена КПП-154 на 152 - не рекомендуется.<br>
         А менять КПП-152 на 154 - возможно, но дорого и трудоемко.
    </p>   
    
    <p>
       
    </p>
    <h3>Передаточные числа</h3>
    <table class="table table-hover table-striped table-responsive-sm wa">
        <tbody>
            <tr>
                <th>Номер передачи</th>
                <td>1Н</td>
                <td>1В</td>
                <td>2Н</td>
                <td>2В</td>
                <td>3Н</td>
                <td>2В</td>
                <td>4Н</td>
                <td>4В</td>
                <td>5Н</td>
                <td>5В</td>
                <td>3ХН</td>
                <td>3ХВ</td>
            </tr>
            <tr>
                <th>Передаточные числа</th>
                <td>7,82</td>
                <td>6,38</td>
                <td>4,03</td>
                <td>3,29</td>
                <td>2,5</td>
                <td>2,04</td>
                <td>1,53</td>
                <td>1,25</td>
                <td>1</td>
                <td>0,815</td>
                <td>7,38</td>
                <td>6,02</td>
            </tr>
        </tbody>
    </table>
    

    <h3>Технические характеристики КПП-154</h3>
    <table class="table table-hover table-striped table-responsive-sm" style="width:auto;">
        <tbody>
            <tr>
                <th>Подшипники валов</td>
                <td>конические однорядные, передний подшипник первичного вала делителя - шариковый</td>
            </tr>
            <tr>
                <th>Подшипники шестерен</td>
                <td>роликовые двухрядные с сепараторами без колец, подшипник шестерни четвертой передачи без сепаратора</td>
            </tr>
            <tr>
                <th>Синхронизаторы</td>
                <td>инерционного типа, пальчиковые, со стальными кольцами, конусные поверхности которых покрыты молибденом</td>
            </tr>
            <tr>
                <th>Шестерни</td>
                <td>с косыми зубьями, кроме первой передачи и передачи заднего хода, постоянного зацепления</td>
            </tr>
            <tr>
                <th>Система смазывания</td>
                <td>комбинированная. Все детали смазывается разбрызгиванием, подшипники шестерен коробки передач и делителя имеют, кроме того, дополнительную подпитку от масло-нагнетающего устройства</td>
            </tr>
            <tr>
                <th>Отбор мощности</td>
                <td>от основной коробки передач с двух сторон через люки по ГОСТ 12323; с правой стороны - от зубчатого венца блока шестерен заднего хода; с левой - от зубчатого венца шестерни заднего хода промежуточного вала. Возможна установка КОМ вместо верхней крышки КП.</td>
            </tr>
            <tr>
                <th>Управление коробкой передач</td>
                <td>механическое, с дистанционным приводом для основной коробки и пневмомеханическое преселекторное для делителя</td>
            </tr>
        </tbody>
    </table>
    <hr>

    <p></p>

    <h3>Комплектации КП 154    </h3>
    <table class="table table-harki table-hover table-striped table-sm table-responsive-sm">
        <tbody>
            <thead>
                <tr class="text-center">
                    <th>Обозначение КП</td>
                    <th>Вид сцепления, картер сцепления</td>
                    <th>Крышка первичного вала</td>
                    <th>Вилка выключения сцепления, вал вилки, рычаг вала вилки</td>
                    <th>Обозначение КП без делителя</td>
                    <th>Опора рычага переключения передач</td>
                    <th>Фланец</td>
                    <th>Делитель, первичный вал делителя</td>
                    <th>Первичный вал КП, промежуточный вал КП</td>
                    <th>Крышка подшипника вторичного вала</td>
                </tr>
            </thead>
                <tr>
                    <th>154.1700050 SAE1</td>
                    <td>17.1600010-01 (диафрагменное, г.Тюмень), 17.1601008-10</td>
                    <td>14.1701039-40 (в КП установлена муфта 17.1601180)</td>
                    <td>16.1601203, 14.1601215, 53215-1601217 под ПГУ 5320- 1609510</td>
                    <td>154.1700150</td>
                    <td>530-1702200 боковой вывод</td>
                    <td>154.1701240 с торцовыми шлицами (max. &Oslash;180)</td>
                    <td>154.1770010, 154.1770044 (шлицы 1 3&frasl;4 &lsquo;)</td>
                    <td>154.1701027 с муфтой, 154.1701048</td>
                    <td>154.1701201</td>
                </tr>
                <tr>
                    <th>154.1700050- 01 SAE1, с импортными подшипниками</td>
                    <td>17.1600010-01 (диафрагменное,г.Тюмень), 17.1601008-10</td>
                    <td>14.1701039-40 (в КП установлена муфта 17.1601180)</td>
                    <td>16.1601203, 14.1601215, 53215-1601217 под ПГУ 5320- 1609510</td>
                    <td>154.1700150-01</td>
                    <td>142.1702200 боковой вывод</td>
                    <td>154.1701240 с торцовыми шлицами (max. &Oslash;180)</td>
                    <td>154.1770010, 154.1770044 (шлицы 1 3&frasl;4 &lsquo;)</td>
                    <td>154.1701027 с муфтой, 154.1701048</td>
                    <td>154.1701201- 01</td>
                </tr>
                <tr>
                    <th>154.1700051 SAE1</td>
                    <td>21.1600010 Sachs MFZ 430, 17.1601008-10</td>
                    <td>14.1701039-50</td>
                    <td>19.1601203-10, 19.1601215, 19.1601217-10 прямой</td>
                    <td>154.1700150</td>
                    <td>530-1702200 боковой вывод</td>
                    <td>154.1701240 с торцовыми шлицами (max. &Oslash;180)</td>
                    <td>154.1770010-10, 154.1770044 (шлицы 1 3&frasl;4 &lsquo;)</td>
                    <td>154.1701027 с муфтой, 154.1701048</td>
                    <td>154.1701201</td>
                </tr>
                <tr>
                    <th>154.1700051- 01 SAE1, с импортными подшипниками</td>
                    <td>21.1600010 Sachs MFZ 430, 17.1601008-10</td>
                    <td>14.1701039-50</td>
                    <td>19.1601203-10, 19.1601215, 19.1601217-10 прямой</td>
                    <td>154.1700150-01</td>
                    <td>530-1702200 боковой вывод</td>
                    <td>154.1701240 с торцовыми шлицами (max. &Oslash;180)</td>
                    <td>154.1770010-10, 154.1770044 (шлицы 1 3&frasl;4 &lsquo;)</td>
                    <td>154.1701027 с муфтой, 154.1701048</td>
                    <td>154.1701201- 01</td>
                </tr>
                <tr>
                    <th>154.1700051-20 SAE1</td>
                    <td>21.1600010 Sachs MFZ 430, 17.1601008-10</td>
                    <td>14.1701039-50</td>
                    <td>19.1601203-10, 19.1601215, 19.1601217-10 прямой</td>
                    <td>154.1700150</td>
                    <td>530-1702200 боковой вывод</td>
                    <td>154.1701240 с торцовыми шлицами (max. &Oslash;180)</td>
                    <td>154.1770010-20 (с В2111-4 или с МПДП без редукционного клапана), 154.1770044 (шлицы 1 3&frasl;4 &lsquo;)</td>
                    <td>154.1701027 с муфтой, 154.1701048</td>
                    <td>154.1701201</td>
                </tr>
                <tr>
                    <th>154.1700051-30 SAE1</td>
                    <td>21.1600010 Sachs MFZ 430, 17.1601008-10</td>
                    <td>14.1701039-50</td>
                    <td>19.1601203-10, 19.1601215, 19.1601217-10 прямой</td>
                    <td>154.1700150</td>
                    <td>14.1702200-10</td>
                    <td>154.1701240 с торцовыми шлицами (max. &Oslash;180)</td>
                    <td>154.1770010-30 (с крышкой 154.1601030- 61 под опору привода, с В2111-4 или с МПДП без редукционного клапана), 154.1770044 (шлицы 1 3&frasl;4 &lsquo;)</td>
                    <td>154.1701027 с муфтой, 154.1701048</td>
                    <td>154.1701201</td>
                </tr>
                <tr>
                    <th>154.1700051-40 SAE1</td>
                    <td>21.1600010 Sachs MFZ 430, 17.1601008-10</td>
                    <td>14.1701039-50</td>
                    <td>19.1601203-10, 19.1601215, 19.1601217-10 прямой</td>
                    <td>154.1700150</td>
                    <td>530-1702200-40 укороченный боковой вывод</td>
                    <td>154.1701240 с торцовыми шлицами (max. &Oslash;180)</td>
                    <td>154.1770010-20 (с В2111-4 или с МПДП без редукционного клапана), 154.1770044 (шлицы 1 3&frasl;4 &lsquo;)</td>
                    <td>154.1701027 с муфтой, 154.1701048</td>
                    <td>154.1701201</td>
                </tr>


        <!-- разрыв таблицы -->
        </tbody>
        <tbody>
            <tr class="clickable" data-toggle="collapse" data-target="#group-of-rows-2" aria-expanded="false" aria-controls="group-of-rows-2"
            onclick="$('[aria-controls=group-of-rows-2]').hide()" >
                <td colspan="100%" style="font-size: 15px; font-weight: 600;">
                        Показать всё
                </td>
            </tr>
        </tbody>
        <tbody id="group-of-rows-2" class="collapse">

                <tr>
                    <th>154.1700051-70 SAE1 для КОМ от промвала</td>
                    <td>21.1600010 Sachs MFZ 430, 17.1601008-10</td>
                    <td>14.1701039-50</td>
                    <td>19.1601203-10, 19.1601215, 19.1601217-10 прямой</td>
                    <td>154.1700150-90</td>
                    <td>Нет опоры. Стоит крышка- заглушка</td>
                    <td>154.1701240 с торцовыми шлицами (max. &Oslash;180)</td>
                    <td>154.1770010-20 (с В2111-4 или с МПДП без редукционного клапана), 154.1770044 (шлицы 1 3&frasl;4 &lsquo;)</td>
                    <td>154.1701027 с муфтой, 154.1701048- 90 для присоединения КОМ</td>
                    <td>154.1701201</td>
                </tr>
                <tr>
                    <th>154.1700051-71 SAE1 для КОМ от промвала</td>
                    <td>21.1600010 Sachs MFZ 430, 17.1601008-10</td>
                    <td>14.1701039-50</td>
                    <td>19.1601203-10, 19.1601215, 19.1601217-10 прямой</td>
                    <td>154.1700150</td>
                    <td>Нет опоры. Стоит крышка- заглушка</td>
                    <td>154.1701240 Круглый с торцовыми шлицами (max. &Oslash;180)</td>
                    <td>154.1770010-20 (с В2111-4 или с МПДП без редукционного клапана), 154.1770044 (шлицы 1 3&frasl;4 &lsquo;)</td>
                    <td>154.1701027 с муфтой, 154.1701048</td>
                    <td>154.1701201</td>
                </tr>
                <tr>
                    <th>154.1700051-80 SAE1 для КОМ от промвала</td>
                    <td>21.1600010 Sachs MFZ 430, 17.1601008-10</td>
                    <td>14.1701039-50</td>
                    <td>19.1601203-10, 19.1601215, 19.1601217-10 прямой</td>
                    <td>154.1700150-90</td>
                    <td>14.1702200-10</td>
                    <td>154.1701240 с торцовыми шлицами (max. &Oslash;180)</td>
                    <td>154.1770010-30 (с крышкой 154.1601030- 61 под опору привода, с В2111-4 или с МПДП без редукционного клапана), 154.1770044 (шлицы 1 3&frasl;4 &lsquo;)</td>
                    <td>154.1701027 с муфтой, 154.1701048- 90 для присоединения КОМ</td>
                    <td>154.1701201</td>
                </tr>
                <tr>
                    <th>154.1700051-90 SAE1 для КОМ от промвала</td>
                    <td>21.1600010 Sachs MFZ 430, 17.1601008-10</td>
                    <td>14.1701039-50</td>
                    <td>19.1601203-10, 19.1601215, 19.1601217-10 прямой</td>
                    <td>154.1700150-90</td>
                    <td>530-1702200 боковой вывод</td>
                    <td>154.1701240 с торцовыми шлицами (max. &Oslash;180)</td>
                    <td>154.1770010-20 (с В2111-4 или с МПДП без редукционного клапана), 154.1770044 (шлицы 1 3&frasl;4 &lsquo;)</td>
                    <td>154.1701027 с муфтой, 154.1701048- 90 для присоединения КОМ</td>
                    <td>154.1701201</td>
                </tr>
                <tr>
                    <th>154.1700056 SAE1, для автомобилей 4350, 5350, 4326</td>
                    <td>21.1600010 Sachs MFZ 430, 17.1601008-10</td>
                    <td>14.1701039-50</td>
                    <td>19.1601203-10, 19.1601215, 19.1601217-20 изогнутый</td>
                    <td>154.1700150</td>
                    <td>530-1702200 боковой вывод</td>
                    <td>154.1701240 с торцовыми шлицами (max. &Oslash;180)</td>
                    <td>154.1770010-10, 154.1770044 (шлицы 1 3&frasl;4 &lsquo;)</td>
                    <td>154.1701027 с муфтой, 154.1701048</td>
                    <td>154.1701201</td>
                </tr>
                <tr>
                    <th>154.1700058 SAE1</td>
                    <td>21.1600010 Sachs MFZ 430, 17.1601008-10</td>
                    <td>14.1701039-50</td>
                    <td>19.1601203-10, 19.1601215, 19.1601217-20 изогнутый</td>
                    <td>154.1700158</td>
                    <td>Вместо крышки КП установлен КОМ МП03 с боковым выводом</td>
                    <td>154.1701240 с торцовыми шлицами (max. &Oslash;180)</td>
                    <td>154.1770010-10, 154.1770044 (шлицы 1 3&frasl;4 &lsquo;)</td>
                    <td>154.1701027 с муфтой, 154.1701048</td>
                    <td>154.1701201</td>
                </tr>
                <tr>
                    <th>154.1700058-10 SAE1</td>
                    <td>17.1600010-01 (диафрагменное, г.Тюмень), 17.1601008-10</td>
                    <td>14.1701039- 40 (в КП установлена муфта 17.1601180)</td>
                    <td>16.1601203, 14.1601215, 53215-1601217 под ПГУ 5320- 1609510</td>
                    <td>154.1700158</td>
                    <td>Вместо крышки КП установлен КОМ МП03 с боковым выводом</td>
                    <td>154.1701240 с торцовыми шлицами (max. &Oslash;180)</td>
                    <td>154.1770010, 154.1770044 (шлицы 1 3&frasl;4 &lsquo;)</td>
                    <td>154.1701027 с муфтой, 154.1701048</td>
                    <td>154.1701201</td>
                </tr>
            </tbody>
        </table>
                
    <hr>
    <h2>Особенности КПП-154</h2>
    <h4>Подшипники валов</h4>
    <p>Конические однорядные, кроме переднего подшипника первичного вала делителя, где применяются шариковый подшипник, роликового подшипника без колец в передней опоре первичного вала КП и роликового сферического в передней опоре промежуточного вала делителя.</p>
    <h4>Подшипники шестерен КПП-154</h4>
    <p>Роликовые двухрядные с сепараторами без колец, подшипник шестерни четвертой передачи без сепаратора.</p>
    <h4>Синхронизаторы</h4>
    <p>Инерционного типа, пальчиковые, со стальными кольцами, конусные поверхности которых покрыты молибденом.</p>
    <h4>Шестерни КПП-154</h4>
    <p>С косыми зубьями, кроме первой передачи и передачи заднего хода, постоянного зацепления.</p>
    <h4>Система смазывания</h4>
    <p>Комбинированная. Все детали смазывается разбрызгиванием, подшипники шестерен коробки передач и делителя имеют, кроме того, дополнительную подпитку от масло-нагнетающего устройства.</p>
    <h4>Отбор мощности</h4>
    <p>От основной коробки передач с двух сторон через люки по ГОСТ 12323; с правой стороны &mdash; от зубчатого венца блока шестерен заднего хода; с левой &mdash; от зубчатого венца шестерни заднего хода промежуточного вала. Возможна установка КОМ вместо верхней крышки КП.</p>
    <h4>Управление коробкой передач 154</h4>
    <p>Механическое, с дистанционным приводом для основной коробки и пневмомеханическое преселекторное для делителя.</p>

    <hr>
    <h3>Каталог основных деталей КПП-154</h3>
    <table  class="table table-hover table-striped table-responsive-sm wa">
        <tbody>
        <tr>
        <td>№</td>
        <td>Наименование детали</td>
        <td>Наименование</td>
        </tr>
        <tr>
        <td>1</td>
        <td><strong>154.1701010</strong></td>
        <td><strong>Картер коробки передач</strong></td>
        </tr>
        <tr>
        <td>3</td>
        <td><strong>154.1701025</strong></td>
        <td><strong>Вал первичный коробки передач</strong></td>
        </tr>
        <tr>
        <td>5</td>
        <td><strong>154.1701047</strong></td>
        <td><strong>Вал промежуточный коробки передач</strong></td>
        </tr>
        <tr>
        <td>7</td>
        <td>14.1701086</td>
        <td>Шайба упорная блока шестерен заднего хода</td>
        </tr>
        <tr>
        <td>9</td>
        <td><strong>154.1701100</strong></td>
        <td><strong>Вал вторичный коробки передач</strong></td>
        </tr>
        <tr>
        <td>11</td>
        <td>154.1701201</td>
        <td>Крышка заднего подшипника вторичного вала с манжетой</td>
        </tr>
        <tr>
        <td>13</td>
        <td>14.1701440</td>
        <td>Маслоуказатель</td>
        </tr>
        <tr>
        <td>15</td>
        <td><strong>14.1702010</strong></td>
        <td><strong>Механизм переключения передач</strong></td>
        </tr>
        <tr>
        <td>17</td>
        <td>154.1701070</td>
        <td>Крышка заднего подшипника промежуточного вала с кольцом подшипника</td>
        </tr>
        <tr>
        <td>19</td>
        <td><strong>154.1770190</strong></td>
        <td><strong>Муфта синхронизатора</strong></td>
        </tr>
        <tr>
        <td>21</td>
        <td>14.1701020</td>
        <td>Крышка люка привода отбора мощности коробки передач</td>
        </tr>
        <tr>
        <td>23</td>
        <td>14.1701021-01</td>
        <td>Прокладка крышки люка привода отбора мощности коробки передач</td>
        </tr>
        <tr>
        <td>25</td>
        <td>154.1701040</td>
        <td>Крышка заднего подшипника первичного вала</td>
        </tr>
        <tr>
        <td>27</td>
        <td>154.1701042</td>
        <td>Прокладка регулировочная</td>
        </tr>
        <tr>
        <td>29</td>
        <td>154.1701042-10</td>
        <td>Прокладка регулировочная</td>
        </tr>
        <tr>
        <td>30</td>
        <td>15.1701044</td>
        <td>Шайба упорная</td>
        </tr>
        <tr>
        <td>31</td>
        <td>14.1701075</td>
        <td>Прокладка крышки заднего подшипника промежуточного вала</td>
        </tr>
        <tr>
        <td>33</td>
        <td>154.1701076</td>
        <td>Планка стопорная болтов</td>
        </tr>
        <tr>
        <td>35</td>
        <td><strong>154.1701082</strong></td>
        <td><strong>Блок шестерен заднего хода</strong></td>
        </tr>
        <tr>
        <td>37</td>
        <td>14.1701084</td>
        <td>Втулка промежуточная подшипников блока шестерен</td>
        </tr>
        <tr>
        <td>39</td>
        <td>14.1701092</td>
        <td>Ось блока шестерен заднего хода</td>
        </tr>
        <tr>
        <td>40</td>
        <td>154.1770256</td>
        <td>Втулка распорная</td>
        </tr>
        <tr>
        <td>41</td>
        <td>154.1701203</td>
        <td>Прокладка крышки заднего подшипника вторичного вала</td>
        </tr>
        <tr>
        <td>43</td>
        <td>154.1701245</td>
        <td>Шайба упорная</td>
        </tr>
        <tr>
        <td>45</td>
        <td>154.1701771-xx</td>
        <td>Прокладки регулировочные</td>
        </tr>
        <tr>
        <td>87</td>
        <td>154.1701776-xx</td>
        <td>Прокладки регулировочные</td>
        </tr>
        <tr>
        <td>129</td>
        <td>154.1701777</td>
        <td>Прокладка регулировочная</td>
        </tr>
        <tr>
        <td>131</td>
        <td>14.1702014</td>
        <td>Прокладка верхней крышки коробки передач</td>
        </tr>
        <tr>
        <td>131</td>
        <td>14.1702014</td>
        <td>Прокладка верхней крышки коробки передач</td>
        </tr>
        <tr>
        <td>135</td>
        <td>154.1701240</td>
        <td>Фланец</td>
        </tr>
        <tr>
        <td>136</td>
        <td>154.3802033</td>
        <td>Индуктор</td>
        </tr>
        <tr>
        <td>137</td>
        <td>45104953001010</td>
        <td>Подшипник роликовый конический однорядный</td>
        </tr>
        <tr>
        <td>138</td>
        <td>4510495300610</td>
        <td>Подшипник роликовый конический однорядный</td>
        </tr>
        <tr>
        <td>139</td>
        <td>45104953000710</td>
        <td>Подшипник роликовый конический однорядный</td>
        </tr>
        <tr>
        <td>141</td>
        <td>45104953000810</td>
        <td>Подшипник роликовый конический однорядный</td>
        </tr>
        <tr>
        <td>163</td>
        <td>1/05170/73</td>
        <td>Шайба пружинная 12</td>
        </tr>
        <tr>
        <td>165</td>
        <td>864220</td>
        <td>Кольцо уплотнительное</td>
        </tr>
        <tr>
        <td>167</td>
        <td>870014</td>
        <td>Болт М10х1,25-6gх28</td>
        </tr>
        <tr>
        <td>177</td>
        <td>870884</td>
        <td>Пробка КГ 1/8"</td>
        </tr>
        <tr>
        <td>179</td>
        <td>64907К</td>
        <td>Подшипник роликовый радиальный с длинными цилиндрическими роликами без колец</td>
        </tr>
        </tbody>
        </table>

    <hr>

    <h2>Устройство коробки КПП-154 КАМАЗ</h2>
    <p>Коробка передач модели 154 состоит из основной пятиступенчатой коробки 43 передач и переднего двухступенчатого делителя передач 46.</p>
    <p>Основная пятиступенчатая коробка передач состоит из следующих основных узлов:</p>
    <ul>
    <li>картера кпп 41, в котором смонтированы ведущий 5, ведомый 42 и промежуточный 40 валы в сборе с шестернями, синхронизаторами и подшипниками;</li>
    <li>блока шестерен 21 заднего хода;</li>
    <li>верхней крышки 25 коробки с механизмом переключения передач в сборе.</li>
    <li>К переднему торцу картера коробки передач прикреплен делитель 46 передач.</li>
    <li>Подшипники валов закрыты крышками с уплотнительными прокладками. Крышка 10 заднего подшипника ведущего вала внутренней расточкой центрируется по наружной обойме подшипника;</li>
    <li>поверхность крышки, обработанная по внешнему диаметру, является центрирующей поверхностью для картера делителя.</li>
    <li>Крышка 27 заднего подшипника ведомого вала крепится к заднему торцу картера коробки передач и центрируется по наружной обойме заднего подшипника 29 ведомого вала.</li>
    <li>В задней части крышки установлена манжета 32 с пыльником, на рабочей кромке которой имеется левая насечка.</li>
    </ul>
    <img src="/agregaty/kpp/img/kpp-154-info/ustroistvo-korobki-154.jpg" alt="Устройство коробки КПП-154">
    <small>
        <b>Рис. КПП-154:</b> 1 - вал ведущий делителя; 2 - крышка заднего подшипника ведущего вала делителя, а) вариант с
            одной манжетой; 3, 9, 30 - прокладки регулировочные; 4 - подшипник передний роликовый ведущего вала; 5 - вал ведущий; 6 - гайка кольцевая; 7 - шайба; 8 -
            муфта синхронизатора; 10 - крышка заднего подшипника ведущего вала; 11 - роликовый подшипник; 18 - опора рычага переключения передач; 19 - ось
            блока шестерен заднего хода; 20 -шайбы упорные; 21 - блок шестерен заднего хода; 22 - роликоподшипник; 23 - болт со штифтом; 24 - шайба стопорная; 25 -
            крышка верхняя; 26 - прокладки уплотнительные; 27 - крышка заднего подшипника ведомого вала; 29 - роликоподшипник задний ведомого вала; 31 -
            червяк привода спидометра; 32, 47 - манжеты уплотнительные; 33 - гайка крепления фланца; 34 - фланец крепления карданного вала; 36 - крышка
            подшипника; 37 - роликоподшипник; 40 - вал промежуточный; 41 - картер коробки передач; 42 - вал ведомый; 43 - коробка передач основная
            пятиступенчатая; 45 - прокладка уплотнительная; 46 - делитель передач; 48 - вилка выключения сцепления; 49 - вал вилки выключения сцепления
    </small>
    <p>В приливах правой стенки картера коробки передач выполнена расточка, в<br />которую запрессована ось 19 блока шестерен заднего хода. Для<br />предотвращения от выпадения ось закреплена стопорной шайбой 24, привернутой болтом 23, имеющим сверление, в которое вставлен пластмассовый штифт. Штифт уплотняет резьбовое соединение и препятствует вытеканию смазки.</p>
    <p><strong>Масло в коробку передач</strong> 154 КАМАЗ заливается через горловину, расположенную на правой стенке картера. Горловина закрыта пробкой со встроенным масляным<br />щупом. В нижней части картера в бобышки ввернута сливная пробка, в пробку<br />вмонтирован магнит, улавливающий металлические частицы, которые могут<br />находиться в масле.</p>
    <p>С двух сторон картера имеются люки для установки <strong>коробок отбора мощности.&nbsp;</strong> Допустимый отбор мощности по 22064, 97 Вт (30 л.с.) с каждого люка. Отбор мощности при движении автомобиля не допускается.</p>
    <p>В правой верхней части задней стенки выполнен масляный карман, куда масло<br />забрасывается вращением шестерен. Из масляного кармана масло по сверлению в стенке картера поступает в полость задней крышки ведомого вала для смазывания червячной пары привода спидометра.</p>
    <p>Шестерни коробки передач скомплектованы попарно с сопрягаемыми шестернями по пятну контакта и уровню шума.</p>

    <hr>
    <p>
        <a href="/kamaz-4310/catalog/zapchasti/val-pervichnyj-kpp-delitelya_154-1770040.html><b>Ведущий вал</b> коробки передач камаз 154</a> выполнен заодно с шестерней, его передней опорой является игольчатый подшипник.
    </p>
    <img src="/agregaty/kpp/img/kpp-154-info/vedushchii-val-kpp-154.jpg" alt="Чертеж - Ведущий (первичный) вал Коробки 154 камаз в сборе">
    <small> Ведущий(первичный) вал в сборе: 1 - вал первичный; 2 - кольцо; 3 - кольцо внутреннее с сепаратором и роликами подшипника; 4 - кольцо наружное
        подшипника.</small>

        <p> <a href="/kamaz-4310/catalog/zapchasti/val-promezhutochnyj-kpp-v-sbore_154-1701047.html">
                <b>Промежуточный вал 1 КПП 154</b></a> - выполнен заодно с венцами шестерен первой, второй передач и передачи заднего хода. На переднем конце вала
            напрессованы шестерни 2 и 3 третьей и четвертой передач и шестерня 4 привода промежуточного вала.</p>
        <img src="/agregaty/kpp/img/kpp-154-info/promezhutochnyi-val-v-sbore-kpp-154.jpg" alt="Промежуточный вал в сборе КПП-154 Чертеж">
        <small>
            Рис. Промежуточный вал в сборе: 1 - вал промежуточный; 2 - шестерня третьей передачи; 3 - шестерня четвертой передачи; 4 -шестерня привода
            промежуточного вала; 5 - втулка распорная; 6 - кольцо внутреннее с сепаратором и роликами подшипника.
        </small>


        <p><b>Ведомый вал КПП-154</b> 16 в сборе с шестернями и синхронизаторами установлен соосно с ведущим валом.</p>
            <img src="/agregaty/kpp/img/kpp-154-info/vedomyi-val-kpp-154-v-sbore.jpg" alt="Ведомый вал в сборе КПП-154 Чертеж">
            <small>
                1 - кольцо упорное; 2 - подшипник передний роликовый;3 - синхронизатор IV и V передач; 4 - кольцо упорное; 5 - ролики
                подшипника IV передачи; 6 - втулка шестерни IV передачи;7 - шестерня III передачи; 8 - подшипник роликовый; 9 - синхронизатор II и III передач; 10 -
                шестерня II передачи; 11 - шестерня заднего хода: 12 - муфта включения I передачи и заднего хода; 13 - втулка шестерни I передачи; 14 - шестерня I
                передачи; 16 - вал ведомый; 17 - втулка шестерни заднего хода; 18 - шестерня IV передачи; 19 - пружина: 20 - втулка промежуточная; 21 - шпонка замковая.
            </small>
            <p>
                На переднем конце вала установлен подшипник 2, наружная обойма которого установлена в ведущий вал. Все шестерни вала установлены
                на роликовых подшипниках, из которых подшипник шестерни четвертой
                передачи насыпной, без сепаратора. Шестерни 18 и 7 четвертой и третьей
                передач в осевом направлении закреплены упорным кольцом 4 с внутренними
                шлицами, которое установлено в выточке вала таким образом, что его шлицы
                расположены против шлицев вала, и застопорено от проворачивания
                подпружиненной замковой шпонкой 21. По оси вала просверлен канал для
                подвода смазки по радиальным отверстиям к подшипникам шестерен. Масло в
                канал подается масло-нагнетающим устройством, расположенным на ведущем
                валу.
            </p>
        

            <p>
                Для безударного переключения второй, третьей, четвертой и пятой передач
                имеется два пальчиковых синхронизатора 3 и 9 инерционного типа.
                
            </p>
            <p>
                <a href="/agregaty/kpp/delitel_kpp-154-kamaz.html"><h3>Делитель передач КПП 154</h3></a> - механический редуктор, состоящий из одной
                пары цилиндрических шестерен, ведущего 2 и промежуточного 11 валов,
                синхронизатора 7 и механизма переключения передач. Управление
                механизмом переключения передач пневматическое.
            </p>

            <h3>Дистанционный привод управления коробкой передач модели 154 </h3>
            <p>
                состоит из качающегося рычага 12 переключения передач, опоры 1 рычага переключения передач, укрепленной на переднем торце
              блока цилиндров двигателя, тяги 3 и реактивной тяги 7. Вилка тяги 3 крепится к опоре рычага посредствам оси 14 втулки. 
              Втулка уплотнена резиновыми кольцами 10.
            </p>
            <p>
                Ось шплинтуется на пакет деталей крепления опоры рычага переключения передач: шпильки, вкрученные в воздушный патрубок, вибро-изоляторы 18,стальная втулка 20; шайбы 32 и гайки 26.
            </p>
            <img src="/agregaty/kpp/img/kpp-154-info/privod-upravleniia-mehanizmom-perecliucheniia-peredach-154.jpg" alt="Привод управления механизмом переключения КПП-154 Чертеж">
            <p>
                <b>Привод управления механизмом переключения передач коробки передач мод. 154</b>
                <small>
                    1-опора рычага переключения передач; 3-тяга; 7-тяга реактивная; 10-кольцо уплотнительное; 12-рычаг; 14-ось; 18-виброизолятор; 20-втулка; 24-болт; 26, 30, 36-гайка; 32-шайба; 45-шарниршаровой; Ж-шток; Е-винт; П-стержень; Г-рычаг; К-гайки.
                </small>
            </p>
            
              

    <hr>

    
    <hr>

    <h2>Тех.обслуживание коробки 154</h2>
    <h3>Проверка уровня масла</h3>
    <p>Для проверки уровня масла в картере коробки передач вывернуть пробку из масло-заливной горловины, вытереть насухо указатель и вставьте его в заливное отверстие до упора пробки в резьбу, не заворачивая.</p>
    <h3>Смена масла в КПП-154</h3>
    <p>Для смены масла в коробке передач слить масло в горячем состоянии через три сливных отверстия, вывернув пробки,
        расположенные в нижней части картеров коробки передач и в нижней части картера делителя передач. Очистить магниты
        сливных пробок от грязи и металлических частиц. Промыть картеры коробки и делителя моторным маслом. Для этого:
        залить масло в коробку передач (12 л),прокрутить ее двигателем при нейтральном положении рычага переключения
        передач в течении 10 мин, слить моторное масло из коробки передач и делителя, ввернуть сливные пробки и залить
        основную смазку ТСп-1.5К до верхней метки указателя уровня. Прокрутить коробку передач двигателем при нейтральном
        положении рычага переключения передач течение 3-5 мин. Замерить уровень масла и при необходимости долить.</p>
    <h3>Регулирование привода переключения скорости</h3>
    <p>Сначала проводится корректировка расстояния между торцом крышки и ограничителем хода. 
        <br>- Для этого проверяется регулирование привода отключения сцепления, и регулируется при необходимости. 
        <br>- Откручивают крепёжные гайки упора штока клапана. 
        <br>- Контур четвертого привода подключается к прибору для измерения давления (в норме показатели давления повышают до 7-7,5
        кгс/см).
        <br>- Полностью выжимают сцепление, упор штока должен соприкасаться с ограничителем. 
        <br>- Образовавшийся зазор должен составлять от 0,2 до 0,3 мм, в таком положении он фиксируется. 
        <br>- Шток с крышкой накрывают резиновым предохранителем.</p>


    <p></p>

    <h2>Замена коробки передач 154</h2>
    <h3>Разборка коробки передач мод. 154:</h3>
    <p>
        -отсоединить делитель 46 от коробки передач;
    </p>
    <p>
        -разобрать коробку передач в следующем порядке: вывернуть болты крепления верхней крышки 25 коробки передач и,
        вворачивая два болта в специальные резьбовые отверстия в крышке (предварительно вывернув из них пробки), снять ее;
        отвернуть гайку 33 крепления фланца карданного вала и снять фланец, снять передние и задние крышки подшипников ведущего
        5, ведомого 42 и промежуточного 40 валов, вворачивая болты крепления в специальные отверстия в крышках (при снятии крышек
        обращать внимание на сохранность прокладок); расстопорить и вывернуть два болта крепления упорной шайбы заднего подшипника
        промежуточного вала; съемниками снять задний подшипник 29 ведомого вала, для этого использовать специальный захват.
        Установить захват 8 на проточку подшипника и стянуть гайками 1.Вворачивая винт 4 в траверсу 6 и упираясь наконечником 3
        в торец вала, снять подшипник.
    </p>
    <p><strong>Для разборки ведомого вала коробки</strong> <strong>передач:</strong></p>
<ul>
<li>снять упорное кольцо 1 и передний подшипник 2 ведомого вала, для этого использовать захват, установить его на подшипник и стянуть гайками 2.</li>
<li>Ввертывая винт 3 в траверсу 4 и упираясь наконечником 5 в торец вала, снять подшипник, затем синхронизатор четвертой, пятой передач, упорное кольцо 4 шестерни четвертой передачи. Для этого необходимо вывести замковую шпонку 21 из паза шайбы и повернуть ее до совпадения шлиц шайбы и вала;</li>
<li>снять шестерню 18 четвертой передачи с роликами 5 насыпных подшипников;</li>
<li>спрессовать втулку 6 четвертой передачи, извлечь замковую шпонку 21 с пружиной 19;</li>
<li>снять шестерню 7 и подшипник 8 третьей передачи,синхронизатор 9 второй и третьей передач;</li>
<li>шестерню 14 и подшипник первой передачи, муфту 12 включения первой передачи и передачи заднего хода,спрессовать шлицевую втулку 13 первой передачи, снять шестерню 11 и подшипник передачи заднего хода, спрессовать втулку 17 передачи заднего хода;</li>
<li>снять шестерню и подшипник второй передачи.</li>
</ul>
<p>&nbsp;</p>
<p><strong>Для разборки верхней крышки коробки передач:</strong></p>
<p>отвернуть гайки и снять опоры рычага переключения передач, вынуть стаканы<br />2, пружины 3 и шарики 5 фиксаторов;</p>
<p>расшплинтовать и вывернуть установочные винты 4 крепления вилок и головок штоков, выбить три заглушки 1, вынуть штоки переключения передач, выбить заглушки замка штоков, вынуть шарики 1 из крышки и штифт 4 замкового устройства из среднего штока;</p>
<p>отвернуть стакан пружины и вынуть пружину 1, предохранитель 2 и втулку предохранителя.</p>

<h3>Сборка коробки КПП-15 КАМАЗ</h3>
<p>Сборку производить в последовательности, обратной разборке, учитывая следующие особенности:</p>
<ul>
<li>при установке шестерен в коробку передач без их замены не разукомплектовывать приработанные друг к другу шестерни;</li>
<li>при установке шестерен из числа запасных частей необходимо сопрягаемые шестерни скомплектовать по пятну контакта и уровню шума на зубо-обкатных станках. Расположение пятна контакта должно соответствовать рисунку. Желательно расположение пятна контакта в зоне делительной окружности. При проверке пар шестерен на зубо-обкатных станках с торможением и без торможения ведомой шестерни шум должен быть ровным, низкого тона, без постукивания и скрежета. Шум высокого тона не допускается.</li>
<li>для установки заднего подшипника промежуточного вала со стаканом на вал,установленный в коробку передач и поджатый передней крышкой, использовать съемник И801.31.000. Для этого установить на наконечник 4 шайбу 8, пропустить болты 9 через отверстия в стакане, ввернуть их в резьбовые отверстия на картере коробки передач до упора. Упираясь шайбой 8 в подшипник, вворачивать винт 6 в плиту 5 до полной установки стакана с подшипником;</li>
<li>при сборке ведомого вала обратить внимание на правильность установки втулок 6, 17 и 13 подшипников. Отверстия на втулках должны быть совмещены с радиальными отверстиями на соответствующих шейках ведомого вала;</li>
<li>при сборке насыпного подшипника шестерни четвертой передачи должно быть заложено 88 роликов в два ряда с установкой между рядами промежуточной втулки 20;</li>
<li>при установке переднего подшипника 2 ведущего вала приставное кольцо должно быть установлено внутрь к торцу вала;</li>
<li>при напрессовке шестерни 4 привода промежуточного вала коробки передач и шестерни промежуточного вала делителя их необходимо нагреть до температуры 90&deg;С;</li>
<li>обратить внимание на исправность синхронизаторов коробки передач и делителя. Статическое усилие вывода кареток из нейтрального положения должно быть для обоих синхронизаторов основной коробки 275-373 Н (28-38кгс), для синхронизатора делителя 589-687Н (60-70 кгс). Блокирующие фаски картера и пальцев не должны иметь следов значительного износа.</li>

</ul>
<p>&nbsp;</p>
<hr>
<p>&nbsp;</p>


    <h2>Возможные неисправности коробки передач 154 и способы их устранения</h2>

        
    <p>Обычно неисправности в КПП КАМАЗ возникают при изнашивании подшипников и шестерён. За счёт активного движения и постоянного механического воздействия детали изнашиваются, что приводит к необходимости их полной замены.</p>
    <p><strong>Признаки, указывающие на плохую работу КПП Камаз:</strong></p>
    <ul>
    <li>Отключение передачи без видимых причин.</li>
    <li>Повышенный уровень шума и характерный стук при эксплуатации.</li>
    <li>Трудности при запуске механизма.</li>
    <li>Фиксация механизма в одной позиции без возможности его переключения.</li>
    </ul>

    <h3><strong>Затрудненное включение всех передач, включение передачи заднего хода и первой передачи </strong><strong>со скрежетом</strong></h3>
    <p>Неполное выключение сцепления (сцепление "ведет") =&gt;&nbsp;Отрегулировать свободный ход муфты выключения сцепления.&nbsp;</p>
    <h3><strong>Большое усилие на рычаге переключения передач</strong></h3>
    <p>Загрязнение опор тяг дистанционного управления. Отсутствие или загустевание смазки =&gt; Промыть опоры и заполнить их свежей смазкой 158.</p>
    <h3><strong>Включение второй, третьей, четвертой, пятой передач с ударом и скрежетом</strong></h3>
    <p>Износ&nbsp;&nbsp; конусных&nbsp;&nbsp; колец&nbsp;&nbsp; синхронизатора,&nbsp;&nbsp; блокирующих фасок пальцев и каретки. Заниженное усилие вывода кареток из нейтрального положения =&gt; Заменить синхронизатор.</p>
    <h3><strong>Включение передач в делителе с ударом и скрежетом</strong></h3>
    <p>Повышенное давление в пневмосистеме управления делителем =&gt; Отрегулировать редукционный клапан.</p>
    <p>Разрыв мембраны редукционного клапана =&gt; Замените мембрану.</p>
    <p>Износ конусных колец синхронизатора, блокирующих фасок пальцев и каретки =&gt; Заменить синхронизатор.</p>
    <h3><strong>Износ сухарей вилки переключения передач делителя</strong></h3>
    <p>Отсутствие сброса воздуха в атмосферу при переключении передач в делителе в связи с загрязнением воздушных каналов и сапуна клапана включения делителя передач =&gt; Разобрать клапан и промыть все его детали, включая и сапун. При сборке клапана все трущиеся поверхности смазать смазкой 158.</p>
    <p>Нет зазора между кареткой синхронизатора и сухарем вилки переключения передач =&gt; Отрегулировать зазор.</p>
    <h3><strong>Самопроизвольное переключение передач во время движения автомобиля</strong></h3> 
    <p>Неполное включение передачи из-за неисправности фиксаторов механизма переключения, износа лапок или сухарей вилок, ослабления крепления вилок и рычагов, разрегулировки дистанционного управления =&gt; Подтянуть крепление, заменить изношенные детали, отрегулировать привод управления.</p>
    <p>Не работает замок шлиц ведомого вала =&gt;&nbsp;Заменить вал и соответствующий синхронизатор.&nbsp;</p>
    <h3><strong>Передачи не включаются</strong></h3>
    <p>Износ деталей и разрегулировка дистанционного привода управления коробкой =&gt;&nbsp;Отрегулировать&nbsp;&nbsp; привод&nbsp;&nbsp; и&nbsp; заменить&nbsp; изношенные детали, подтянуть крепления.</p>
    <p>Разрушение подшипников шестерен ведомого вала =&gt; Замените неисправные детали.</p>
    <h3><strong>Передачи в делителе не включаются</strong></h3>
    <p>Заедание поршеньков воздухораспределителя =&gt; Разобрать, промыть и смазать смазкой 158 детали воздухораспределителя.</p>
    <p>Разрегулировано положение упора клапана включения делителя =&gt;&nbsp;Отрегулировать положение упора клапана.</p>
    <p>Поломка упора клапана =&gt; Упор заменить.</p>
    <p>Засорение пневмосистемы управления делителем =&gt;&nbsp;Промыть и продуть дроссель, воздухопроводы и клапаны.</p>
    <p>Обрыв троса крапа управления делителем =&gt; Трос заменить.</p>
    <h3><strong>Повышенный шум при работе коробки передач</strong></h3>
    <p>Повышенный износ или поломка зубьев шестерен. Разрушение подшипников шестерен =&gt;&nbsp;Заменить неисправные детали.</p>
    <p>Разрушение подшипников валов =&gt;&nbsp;Заменить неисправные детали.&nbsp;</p>
    <h3><strong>Течь масла из коробки передач</strong></h3>
    <p>Износ или потеря эластичности сальников =&gt;&nbsp;Заменить сальники.&nbsp;</p>
    <p>Повышенное давление в картере коробки =&gt; Промыть сапун.&nbsp;</p>
    <p>Нарушение герметичности по уплотняющим поверхностям =&gt;&nbsp;Подтянуть крепежные детали или заменить прокладки.</p>
    <h3><strong>Износ латунных колец синхронизаторов основной коробки передач</strong></h3>
    <p>Неполное выключение сцепления при переключении передач =&gt; Заменить&nbsp; синхронизаторы. Проверить исправность работы сцепления и привода.</p>
    <h3><strong>Износ латунных колец синхронизаторов делителя передач</strong></h3>
    <p>Не&nbsp;&nbsp; отрегулировано&nbsp;&nbsp; положение&nbsp;&nbsp; упора&nbsp;&nbsp; клапана включения делителя передач =&gt;Заменить&nbsp;&nbsp;&nbsp; синхронизатор.&nbsp;&nbsp;&nbsp; Отрегулировать положение упора клапана включения делителя передач.</p>
    <p>Неполное выключение сцепления =&gt;&nbsp;Проверить исправность работы сцепления и привода.</p>
    <p>&nbsp;</p>
    

    <hr>
    <div class="alert alert-info">
        <b>Восстановленная коробка передач</b>. <br>
        В качестве бюджетного варианта можем предложить коробку передач КамАЗ бывший в эксплуатации,
        прошедшую капитальный ремонт.
        <br>
        <br>
        Гарантия на восстановленную коробку составит 3-6 месяца.
      </div>
      <div class="alert alert-success">
        Примем сломанную коробку передач в счёт новой (до 35% от стоимости).
      </div>
      <hr>
    
    
    <h3></h3>

    <div id="nanogallery2" data-nanogallery2 = '{
        "thumbnailLabel":{"display":false},
        "thumbnailBorderVertical":0,"thumbnailBorderHorizontal":0,
        "thumbnailWidth":   "auto",
        "thumbnailHeight":   240,
        "thumbnailAlignment": "center", 
        "fillWidth": "center", 
        "thumbnailDisplayTransition":"slideUp",
        "thumbnailHoverEffect2":"scale120|toolsAppear|toolsAppear",
        "itemsBaseURL":     ""
      }' >
      <!-- fillWidth -->
      
      <a href = "/agregaty/kpp/img/kpp-154-dop/kpp-154-novyi-zavod.jpg" data-ngThumb = "/agregaty/kpp/img/kpp-154-dop/kpp-154-novyi-zavod.jpg" title="КПП 154 завод КАМАЗ"> КПП 154 новая, заводская </a>
      <a href = "/agregaty/kpp/img/kpp-154-dop/kpp-154-novyi-zavod_1.jpg" data-ngThumb = "/agregaty/kpp/img/kpp-154-dop/kpp-154-novyi-zavod_1.jpg" title="КПП 154 завод КАМАЗ"> КПП 154 заводская 2штуки </a>
      <a href = "/agregaty/kpp/img/kpp-154-dop/kpp-154-bu_1.jpg" data-ngThumb = "/agregaty/kpp/img/kpp-154-dop/kpp-154-bu_1.jpg" title="КПП 154 КАМАЗ восстановленная"> КПП КАМАЗ 154 и 152 </a>

      <a href = "/agregaty/kpp/img/kpp-154-kamaz_10.jpg" data-ngThumb = "/agregaty/kpp/img/kpp-154-kamaz_10.jpg" title="{{product.name}}"> Чертеж {{product.name}} </a>
      <a href = "/agregaty/kpp/img/kpp-154-kamaz_11.jpg" data-ngThumb = "/agregaty/kpp/img/kpp-154-kamaz_11.jpg" title="{{product.name}}"> Схема {{product.name}} </a>
      
    </div>

    <p>
        Агрегаты имеют все необходимые сертификаты и сопроводительные документы.        
    </p>
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 100px;">&nbsp;</div>
  
</div>

{%- if product -%} {% include card_zapchasti.html product = product %} {%- endif -%}