---
layout: default_info
title: Коробка КПП ZF 12 AS 2135 TD автомат с КОМ NH-4C (без интардера) - 12AS2135TD
description: Продаем коробки передач ZF 12 AS 2135 на (насос E-5 (6091015028)) на КамАЗ 65206-S5, 65207-S5, 65806-S5 65206-T5, 65207-Т5, 65806-T5, с доставкой по всей России. В наличии новые, восстановленные, капремонт. Прайс-лист, модификации, каталог, описание, характеристики.
keywords: Коробка передач 12AS на 6580
hero-title: Коробки передач на технику КамАЗ
h1: КПП ZF 12AS 2135TD ASTRONIC без интардера с КОМ NH-4C на КамАЗ
h2: 1353.030.025 
phone: 
phone_title: 
categories: [<a href="/agregaty/kpp/index.html">КПП - Коробки передач</a> ]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.agregaty | where:"url", page_url | first  %}
{%- if product -%} {% include card_zapchasti.html product = product %} {%- endif -%}



<div class="col-md-10 col-xs-12" style="margin: auto;">
    <h3>Передаточные числа КПП 12AS 2135 TD</h3>

    <table  class="table table-hover table-striped table-responsive-sm" style="width:auto;">
        <tbody>
        <tr>
        <td>
        <p>I</p>
        </td>
        <td>
        <p>15.86</p>
        </td>
        </tr>
        <tr>
        <td>
        <p>II</p>
        </td>
        <td>
        <p>12.33</p>
        </td>
        </tr>
        <tr>
        <td>
        <p>III</p>
        </td>
        <td>
        <p>9.57</p>
        </td>
        </tr>
        <tr>
        <td>
        <p>IV</p>
        </td>
        <td>
        <p>7.44</p>
        </td>
        </tr>
        <tr>
        <td>
        <p>V</p>
        </td>
        <td>
        <p>5.87</p>
        </td>
        </tr>
        <tr>
        <td>
        <p>VI</p>
        </td>
        <td>
        <p>4.57</p>
        </td>
        </tr>
        <tr>
        <td>
        <p>VII</p>
        </td>
        <td>
        <p>3.47</p>
        </td>
        </tr>
        <tr>
        <td>
        <p>VIII</p>
        </td>
        <td>
        <p>2.70</p>
        </td>
        </tr>
        <tr>
        <td>
        <p>IX</p>
        </td>
        <td>
        <p>2.10</p>
        </td>
        </tr>
        <tr>
        <td>
        <p>X</p>
        </td>
        <td>
        <p>1.63</p>
        </td>
        </tr>
        <tr>
        <td>
        <p>XI</p>
        </td>
        <td>
        <p>1.29</p>
        </td>
        </tr>
        <tr>
        <td>
        <p>XII</p>
        </td>
        <td>
        <p>1.00</p>
        </td>
        </tr>
        </tbody>
        </table>
        
    <p>
        65206-S5, 65207-S5, 65806-S5 65206-T5, 65207-Т5, 65806-T5
    </p>
    
    <p>
     Сцепление - ZF&SACHS, MFZ-430 –фрикционное,сухое,однодисковое,диафрагменное,вытяжного типа,привод гидравлический с пневмоусилителем.
    </p>   
    
    
    
    <p>
        Агрегаты имеют все необходимые сертификаты и сопроводительные документы.        
    </p>
    <p></p>
    {%- include_relative _like_products.mhtml prod = product -%}
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 100px;">&nbsp;</div>
  
</div>