---
layout: default_info
title: Блок управления электрооборудованием Continental (А2С119071000) - 1365.0005 CBCUЗ-ЕL
description: Продаем блок управления электрооборудованием Continental - артикул А2С119071000, 1365.0005 CBCUЗ-ЕL. С прошивкой под любой двигатель КАМАЗ. Можем отключить мочевину. 
keywords: 1365.0005 CBCUЗ-ЕL
hero-title: Блок управлением мотором КамАЗ
h1: Блок управления электрооборудованием Continental
h2: 1365.0005 CBCUЗ-ЕL / А2С119071000
phone: 
phone_title: 
categories: [ <a href='/dvigatel_zapchasti/catalog/bloki-uprav/index.html'>Блоки управления двиг.КАМАЗ</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.dvig_zap | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
    

    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
