---
layout: default_info
title: ТНВД ЯЗДА 337-20.07 на КамАЗ Евро-2 дв.740.55-300 - 337.1111005-20.07
description: Продаем ТНВД ЯЗДА 337-20.07 на КамАЗ Евро-2 дв.740.55-300, каталожный номер - 337.1111005-20.07, на двигатели 740.55-300. Новые оригинал, аналоги, бу, капремонт. Цена, доставка, описание, вес, размеры.
keywords: ТНВД ЯЗДА 337-20.07 на КамАЗ Евро-2 дв.740.55-300 337.1111005-20.07 завод, новый Новые, уцененные (в упаковке) восстановленный, гарантия 6 мес.    ТНВД  -  Двигатель КамАЗ Евро Евро-1 Евро-2 Евро-3 Евро-4 Коленвал Коленчатый вал Блок цилиндров шатун шейка поршня кольца Bosch ЯЗДА ЦПГ ЯМЗ SANZ насос турбокомпрессор распредвал
hero-title: Запчасти на ДВИГАТЕЛИ КамАЗ
h1: ТНВД ЯЗДА 337-20.07 на КамАЗ Евро-2 дв.740.55-300
h2: 337.1111005-20.07
phone: 
phone_title: 
categories: [<a href='/dvigatel_zapchasti/category/tnvd-toplivnaya-apparatura-kamaz.html'>ТНВД</a>, <a href='/dvigatel_zapchasti/category/tnvd-toplivnaya-apparatura-kamaz-evro-2.html'>ТНВД Евро-2</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.dvig_zap | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
    <!-- <h3>Описание</h3> -->
    <p>

    </p>
    
    <hr>

    <p>
      Двигатели КАМАЗ мод. 740.31-240, 740.30-260, 740.51-320 и 740.50-360 в серийном
      производстве комплектуются топливными насосами высокого давления (ТНВД):
      <br> - типа 337 "ЯЗДА", г. Ярославль 
      <br> - типа Р7100 "БОШ".
  </p>
  <p>
      <b>ТНВД «ЯЗДА» типа 337.</b> Конструкция блочного 
      V-образного насоса ОАО «ЯЗДА» состоит из насоса высокого давления,
      насоса топливного низкого давления, регулятора частоты
      вращения и корректора по надувочному воздуху. Топливный насос низкого
      давления подает под необходимым давлением топливо к нагнетательным секциям ТНВД,
      которые размещены в V-образном корпусе насоса. 
  </p>
  <hr>
    
   <p>
    <div id="nanogallery222" data-nanogallery2 = '{
        "thumbnailLabel":{"display":false},
        "thumbnailBorderVertical":0,"thumbnailBorderHorizontal":0,
        "thumbnailWidth":   "auto XL800",
        "thumbnailHeight":   360,
        "thumbnailAlignment": "center", 
        "fillWidth": "center", 
        "thumbnailDisplayTransition":"slideUp",
        "thumbnailHoverEffect2":"scale120|toolsAppear|toolsAppear",
        "itemsBaseURL":     ""
      }' >
      <!-- fillWidth -->
      
      <a href = "/dvigatel_zapchasti/img/tnvd/dop_337.1111005-40_4.jpg" data-ngThumb = "dvigatel" title=""> ТНВД КАМАЗ ЕВРО 40 </a>
      <a href = "/dvigatel_zapchasti/img/tnvd/dop_337.1111005-40_5.jpg" data-ngThumb = "dvigatel" title=""> ТНВД КАМАЗ ЕВРО 40 </a>
      <a href = "/dvigatel_zapchasti/img/tnvd/dop_337.1111005-40_6.jpg" data-ngThumb = "dvigatel" title=""> ТНВД КАМАЗ ЕВРО 40 </a>
      <a href = "/dvigatel_zapchasti/img/tnvd/dop_337.1111005-40_7.jpg" data-ngThumb = "dvigatel" title=""> ТНВД КАМАЗ ЕВРО 40 </a>
      <a href = "/dvigatel_zapchasti/img/tnvd/dop_337.1111005-42.08_2.jpg" data-ngThumb = "dvigatel" title=""> ТНВД КАМАЗ ЕВРО 42 </a>
      <a href = "/dvigatel_zapchasti/img/tnvd/dop_337.1111005-42.08_3.jpg" data-ngThumb = "dvigatel" title=""> ТНВД КАМАЗ ЕВРО 42 </a>
      
    
    </div>
  </p>
  <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
