---
layout: default_info
title: ТНВД ЯЗДА 337-42.08 на КамАЗ Евро-1 дв.740.11 - 337.1111005-42.08
description: Продаем ТНВД ЯЗДА 337-42.08 на КамАЗ Евро-1 дв.740.11, каталожный номер - 337.1111005-42.08, на двигатели 740.11-240, на технику Камаз-54115, 54215, 53229-02, 54105-02, 4326. Новые оригинал, аналоги, бу, капремонт. Цена, доставка, описание, вес, размеры.
keywords: ТНВД ЯЗДА 337-42.08 на КамАЗ Евро-1 дв.740.11 337.1111005-42.08 завод, новый Новые, уцененные (в упаковке) восстановленный, гарантия 6 мес.    ТНВД  - Камаз-54115, 54215, 53229-02, 54105-02, 4326 Двигатель КамАЗ Евро Евро-1 Евро-2 Евро-3 Евро-4 Коленвал Коленчатый вал Блок цилиндров шатун шейка поршня кольца Bosch ЯЗДА ЦПГ ЯМЗ SANZ насос турбокомпрессор распредвал
hero-title: Запчасти на ДВИГАТЕЛИ КамАЗ
h1: ТНВД ЯЗДА 337-42.08 на КамАЗ Евро-1 дв.740.11
h2: 337.1111005-42.08
phone: 
phone_title: 
categories: [<a href='/dvigatel_zapchasti/category/tnvd-toplivnaya-apparatura-kamaz.html'>ТНВД</a>, <a href='/dvigatel_zapchasti/category/tnvd-toplivnaya-apparatura-kamaz-evro-1.html'>ТНВД Евро-1</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.dvig_zap | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
    <!-- <h3>Описание</h3> -->
    <p>

    </p>
    <h3>Характеристики ТНВД</h3>
    <table class="table table-hover table-striped table-responsive-sm" style="width: auto;">
      <tbody>
      <tr>
      <td><strong>Наименование параметра</strong></td>
      <td style="text-align: center;"><strong>ТНВД 337-40, 337.42-08</strong></td>
      </tr>
      <tr>
      <td>Диаметр плунжера, мм</td>
      <td style="text-align: center;">11</td>
      </tr>
      <tr>
      <td>Ход плунжера, мм</td>
      <td style="text-align: center;">13</td>
      </tr>
      <tr>
      <td>Способ дозирования топлива</td>
      <td style="text-align: center;">Спиральной кромкой</td>
      </tr>
      <tr>
      <td>Средняя цикловая подача топлива на номинальном режиме, мм3 /цикл</td>
      <td style="text-align: center;">94,0 &ndash; 98,0</td>
      </tr>
      <tr>
      <td>Номинальная частота вращения кулачкового вала, мин-1</td>
      <td style="text-align: center;">1100&plusmn;10</td>
      </tr>
      <tr>
      <td>Средняя цикловая подача топлива на режиме минимального холостого хода, мм3 /цикл</td>
      <td style="text-align: center;">15 - 20</td>
      </tr>
      <tr>
      <td>Частота вращения на режиме минимального холостого хода, мин-1</td>
      <td style="text-align: center;">300&plusmn;10</td>
      </tr>
      <tr>
      <td>Частота вращения на режиме максимального крутящего момента, мин-1</td>
      <td style="text-align: center;">700&plusmn;10</td>
      </tr>
      <tr>
      <td>Средняя цикловая подача топлива при частоте вращения, соответствующей максимальному крутящему моменту, мм 3 /цикл</td>
      <td style="text-align: center;">94,0 &ndash; 97,0&nbsp;</td>
      </tr>
      <tr>
      <td>Средняя цикловая подача топлива при частоте вращения n=500 мин-1 , мм3</td>
      <td style="text-align: center;">87,5 &ndash; 97,5&nbsp;</td>
      </tr>
      <tr>
      <td>Средняя цикловая подача топлива на пусковом режиме (n=100 мин-1) должна быть, мм3 /цикл</td>
      <td style="text-align: center;">195,0 &ndash; 220,0</td>
      </tr>
      </tbody>
      </table>
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
