---
layout: default_info
title: 337-20.03 ТНВД ЯЗДА на КамАЗ Евро-2 дв.740.50-360 арт.337.1111005-20.03 
description: Продаем ТНВД ЯЗДА 337-20.03 на КамАЗ Евро-2 дв.740.50-360, каталожный номер - 337.1111005-20.03, на двигатели 740.50-360, на технику КамАЗ-6360-06, 6460-06, 5360-06, 5460-06. Новые оригинал, аналоги, бу, капремонт. Цена, доставка, описание, вес, размеры.
keywords: ТНВД ЯЗДА 337-20.03 на КамАЗ Евро-2 дв.740.50-360 337.1111005-20.03 завод, новый Новые, уценённые (в упаковке) восстановленный, гарантия 6 мес.    ТНВД  - КамАЗ-6360-06, 6460-06, 5360-06, 5460-06 Двигатель КамАЗ Евро Евро-1 Евро-2 Евро-3 Евро-4 Коленвал Коленчатый вал Блок цилиндров шатун шейка поршня кольца Bosch ЯЗДА ЦПГ ЯМЗ SANZ насос турбокомпрессор распредвал
hero-title: Запчасти на ДВИГАТЕЛИ КамАЗ
h1: ТНВД ЯЗДА 337-20.03 на КамАЗ Евро-2 дв.740.50-360
h2: 337.1111005-20.03
phone: 
phone_title: 
categories: [<a href='/dvigatel_zapchasti/category/tnvd-toplivnaya-apparatura-kamaz.html'>ТНВД</a>, <a href='/dvigatel_zapchasti/category/tnvd-toplivnaya-apparatura-kamaz-evro-2.html'>ТНВД Евро-2</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.dvig_zap | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
    <!-- <h3>Описание</h3> -->
    <p>

    </p>
    
    <h3>Характеристики топливного насоса ЯЗДА {{product.code1}}</h3>
    <table class="table table-hover table-striped table-bordered table-responsive-sm" style="width: auto;">
        <tbody>
        <tr>
        <td><strong>Параметр</strong></td>
        <td style="text-align: center;"><strong>337-20.03</strong></td>
        </tr>
        <tr>
        <td>Диаметр плунжера, мм</td>
        <td style="text-align: center;">11</td>
        </tr>
        <tr>
        <td>Ход плунжера, мм</td>
        <td style="text-align: center;">13</td>
        </tr>
        <tr>
        <td>Способ дозирования топлива</td>
        <td style="text-align: center;">Спиральной кромкой</td>
        </tr>
        <tr>
        <td>Средняя цикловая подача топлива на номинальном режиме, мм3 /цикл</td>
        <td style="text-align: center;">132,0 &ndash; 137,0</td>
        </tr>
        <tr>
        <td>Номинальная частота вращения кулачкового вала, мин -1</td>
        <td style="text-align: center;">1100&plusmn;10</td>
        </tr>
        <tr>
        <td>Средняя цикловая подача топлива на режиме минимального холостого хода, мм3 /цикл</td>
        <td style="text-align: center;">15 - 20</td>
        </tr>
        <tr>
        <td>Частота вращения на режиме минимального холостого хода, мин -1</td>
        <td style="text-align: center;">300&plusmn;10</td>
        </tr>
        <tr>
        <td>Частота вращения на режиме максимального крутящего момента, мин -1</td>
        <td style="text-align: center;">700&plusmn;10</td>
        </tr>
        <tr>
        <td>Средняя цикловая подача топлива при частоте вращения, соответствующей максимальному крутящему моменту, мм 3 /цикл</td>
        <td style="text-align: center;">137,0 &ndash; 143,0</td>
        </tr>
        <tr>
        <td>Средняя цикловая подача топлива при частоте вращения n=500 мин-1 , мм3 /цикл</td>
        <td style="text-align: center;">87,5 &ndash; 96,5</td>
        </tr>
        <tr>
        <td>Средняя цикловая подача топлива на пусковом режиме (n=100 мин-1 ) должна быть, мм3 /цикл</td>
        <td style="text-align: center;">195,0 &ndash; 220,0</td>
        </tr>
        <tr>
        <td>Давление воздуха, соответствующее началу действия корректора по наддуву в сторону увеличения подачи топлива, МПа (кгс/см2 )</td>
        <td style="text-align: center;">0,015 &ndash; 0,02 (0,15 &ndash; 0,20)</td>
        </tr>
        <tr>
        <td>Давление воздуха, соответствующее окончанию действия корректора по наддуву в сторону увеличения подачи топлива, МПа (кгс/см2 )</td>
        <td style="text-align: center;">0,04 &ndash; 0,045 (0,40 &ndash; 0,45)</td>
        </tr>
        </tbody>
        </table>

    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
