---
layout: default_info
title: Стойка борта 53215 крашеная на КАМАЗ - 53215-85020xx- ЗапКам.ру
description: Продаем Стойка борта 53215 крашеная, каталожный номер - 53215-85020xx . Новые, с разбора, оригинал, аналоги, бу, капремонт. Цена, доставка, описание, вес, размеры.
keywords: Стойка борта 53215 крашеная  53215-85020xx Передняя левая, Передняя правая, Средняя, Задняя левая, Задняя правая    борта  - 
hero-title: Запчасти на прицепы и кузова
h1: Стойка борта 53215 крашеная 
h2: 53215-85020xx
phone: 9003201111
phone_title: 8(900)320-11-11
categories: [<a href="/kuzov/index.html">Запчасти к прицепам</a> ]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.kuzov | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12 m-auto">
    <!-- <h3>Описание</h3> -->
    <p>

    </p>
    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
