---
layout: default_info
title: Пружина дышла прицепа на КАМАЗ - 8527-2707066- ЗапКам.ру
description: Продаем Пружина дышла прицепа, на технику КАМАЗ НефАЗ / НефАЗ-8527 (1991)Пружина дышла прицепа  Артикул - 8527-2707066  Применяется для дополнительное оборудование и устройство седельное в моделях НЕФАЗ  Ширина, м - 0.06  Высота, м - 0.06  Длина, м - 0.35  Вес, кг - 2.5Пружина дышла прицепа  Артикул - 8527-2707066  Применяется для дополнительное оборудование и устройство седельное в моделях НЕФАЗ  Ширина, м - 0.06  Высота, м - 0.06  Длина, м - 0.35  Вес, кг - 2.5, каталожный номер - 8527-2707066 . Новые, с разбора, оригинал, аналоги, бу, капремонт. Цена, доставка, описание, вес, размеры.
keywords: Пружина дышла прицепа Пружина дышла прицепа  Артикул - 8527-2707066  Применяется для дополнительное оборудование и устройство седельное в моделях НЕФАЗ  Ширина, м - 0.06  Высота, м - 0.06  Длина, м - 0.35  Вес, кг - 2.5 8527-2707066     борта  - НефАЗ / НефАЗ-8527 (1991)
hero-title: Запчасти на прицепы и кузова
h1: Пружина дышла прицепа 
h2: 8527-2707066
phone: 9003201111
phone_title: 8(900)320-11-11
categories: [<a href="/kuzov/index.html">Запчасти к прицепам</a> ]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.kuzov | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12 m-auto">
    <!-- <h3>Описание</h3> -->
    <p>

    </p>
    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
