---
layout: default_info
title: Карданные валы на технику MAN - ЗапКам.Запчасти
description: Продаем карданные валы и передачи для техники MAN от различных производителей. Каталог MAN-овских валов с ценами, описанием и техническими характеристиками. Новые и восстановленные б/у после кап.ремонта.
keywords: MAN Карданный вал карданная передача каталог цены
hero-title: Карданные валы с доставкой по России и СНГ 
h1: Карданные валы MAN
h2: Продажа • Производство • Заводской ремонт
phone: 9270450118
phone_title: (927) 045 01-18
---

<!-- Модель камаза  -->
<div class="col-md-6 col-xs-6">
    
    <div id="nanogallery2" data-nanogallery2 = '{
        "thumbnailLabel":{"display":false},
        "thumbnailBorderVertical":0,"thumbnailBorderHorizontal":0,
        "thumbnailHeight":   240,
        "thumbnailAlignment": "center", 
        "fillWidth": "center", 
        "thumbnailDisplayTransition":"slideUp",
        "thumbnailHoverEffect2":"scale120|toolsAppear|toolsAppear",
        "itemsBaseURL":     ""
      }' >
      <!-- fillWidth -->
      <a href = "/kardanyi_valy/img/category/Cardan_Shaft_Manufacture.jpg" data-ngThumb = "/kardanyi_valy/img/category/Cardan_Shaft_Manufacture.jpg" title="{{page.title}}"> Вал карданный MAN </a>
      
    </div>

</div>

<div class="col-md-6 col-xs-6">
    <div class="pt-4">
        <table class="table table-hover" style="font-size: 1.0em; font-weight: 600; ">
            <tr><td style="border-top: none;"> • Многие модели в наличии.</td></tr>
            <tr><td> • ДЕШЕВЛЕ до 40% при изготовлении под заказ!</td></tr>
            <tr><td> • Заводские условия. Качественные запчасти. Гарантия</td></tr>
            <tr><td> • Восстановим заводское состояние карданного вала</td></tr>
        </table>
    </div>
    <p>
        Мы продаем полную номенклатуру карданных валов на технику MAN TGS 18.440, TGA 18.460, TGA 18.480, TGA 26.430, TGA 33.480, TGL, L2000, M2000, F2000.
    </p>

    
</div>


<!-- Товары -->
<style>
    .list-group-item{ margin-bottom: 1px; }
</style>

<div class="col-md-11 col-xs-12" style="margin: auto;">
    <p></p>
    <h3 class="text-center w-100">Каталог </h3>
    <p class="text-info small2">Для подбора карданного вала желательно знать стыковочные размеры фланцев и минимальную длину вала (от краев фланцев в сжатом положении).</p>
    
    <div class="form form-inline">
        <input id="pListSearch" class="fuzzy-search" type="search" class="form-control" placeholder="поиск..." style="width:130px;"/>
        <button class="btn btn-search-var" onclick="$('#pListSearch').val('81.39106'); filterProductList($('#pListSearch').val());" title="81.39106">81.39106</button>
        <button class="btn btn-search-var" onclick="$('#pListSearch').val('81.39106'); filterProductList($('#pListSearch').val());" title="MAN-81.39106">81.39106</button>
        <button class="btn btn-search-var" onclick="$('#pListSearch').val('81.39302'); filterProductList($('#pListSearch').val());" title="MAN-81.39302">81.39302</button>
        <button class="btn btn-search-var" onclick="$('#pListSearch').val('81.39305'); filterProductList($('#pListSearch').val());" title="MAN-81.39305">81.39305</button>
        <button class="btn btn-search-var" onclick="$('#pListSearch').val('81.39312'); filterProductList($('#pListSearch').val());" title="MAN-81.39312">81.39312</button>
        <button class="btn btn-search-var" onclick="$('#pListSearch').val('81.39324'); filterProductList($('#pListSearch').val());" title="MAN-81.39324">81.39324</button>
        <button class="btn btn-search-var" onclick="$('#pListSearch').val('81.39325'); filterProductList($('#pListSearch').val());" title="MAN-81.39325">81.39325</button>
        
    </div>
    
    {% include catalog-loading-panel.html %}
    <div id="productList" style="display: none;">
        
        <ul class="list-group list">
            {% for product in site.data.kardany %}
            {%- if product.cat_url == "man" -%}
            {% include card_kardan_catalog.html product = product %}
            {%- endif -%}
            {% endfor %}

            <div id="loadingDiv">
                <span>Загрузка данных</span>
            </div>
        </ul>
        <div class="no-result">Не найдено</div>
        <ul class="pagination"></ul>
    </div>
</div>


<div class="col-md-10 col-xs-12" style="margin: auto;">
    <div class="alert alert-info">
        <p>Заводская гарантия на новые валы составляет 1 год</p>
        <p>Гарантийный срок считается с даты продажи.</p>
        <p>
            Система качества завода "Иннова" сертифицирована по ИСО 9001-2015.
        </p>
    </div>

    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    
    <p></p>
    <hr>
    <div class="alert alert-info">
        <b>Восстановленный карданный вал</b>. <br>
        В качестве бюджетного варианта предлагаем восстановленные карданные валы после кап.ремонта
         в заводских условиях, срок службы которых не менее 7 лет.
        <br>
        
        <br>
        Заводская гарантия - 6 месяцев.
    </div>
    <hr>
    <h3></h3>
    <strong>Техника марки MAN</strong>
    <ul>
        <li>тягачи МАН F2000, TGA, TGS, TGX, L-series, NL-series, F200, F8, F-series, F19</li>
        <li>бортовые грузовики MAN A20, F-series, F19, F200, F8, L200, L2000, TGA, TGM, TGS</li>
        <li>грузовые фургоны МАН TGA, TGL, TGM, TGS, L-series</li>
        <li>автобусы МАН F-series, L-series, Lions-series, Man NL-series</li>
        <li>коммунальная техника Ман F-series, L2000, TGA, TGM, TGS</li>
        <li>спецтехника МАН TGS, F-series, F200, F2000, F8, L200 и многие другие виды коммерческого транспорта.</li>
    </ul>
    <p>
        
    </p>
<p>
    <strong>Устройство карданной передачи MAN:</strong><br>
    <p>
        Карданные валы открытого типа с шарнирами, установленными на игольчатых подшипниках. Подшипники защищены радиальными
        сальниками и дополнительными торцевыми уплотнениями. Карданные валы привода переднего и заднего мостов одинаковы по
        конструкции, имеют шарниры типа ЗИЛ и отличаются только Длиной и присоединительными фланцами. Промежуточный карданный
        вал и вал привода среднего моста имеют шарниры типа МАЗ.
    </p>
</p>


    <p>
        <strong>Техническое обслуживание</strong><br>
    
        При эксплуатации автомобиля необходимо: <br>
        - систематически проверять крепления фланцев карданных валов. <br>
        - при ослаблении болтов, крепящих опорные пластины подшипников крестовины, подтянуть игольчатых
        и законтрить;
    
    </p>
    <p>
        - периодически проверять зазоры в шлицевом и шарнирном сочленении карданных валов (при зазорах появляется
         стук при трогании с места).
        <br>
        При обнаружении зазора следует отремонтировать карданные валы.
    </p>
    
    
   

    <!-- <p>
        <iframe width="800" height="450" src="https://www.youtube.com/embed/URsFZz3r0Vs?start=23" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </p> -->
    
  <div style="height: 100px;">&nbsp;</div>
  

<script src="/assets/js/list.min.js"></script>