<!DOCTYPE html>
<html xml:lang="ru" lang="ru" itemscope itemtype="http://schema.org/WebPage">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="robots" content="index, follow"/>
  
  <title>{{ page.title }}</title>
  <meta property="twitter:title"  content="{{ page.title }}" />
  <meta property="og:title"  content="{{ page.title }}" />
  <meta property="og:url"  content="{{ page.url }}" />
  <meta property="og:type" content="website"/>
  <meta property="og:site_name" content="Магазин автозапчастей для а\м КамАЗ"/>
  <meta property="og:image" content="https://zap-kam.ru/assets/img/logo_bgwhite.png"/>
  
  {%- if page.canonical -%} } 
    {{ page.canonical }}
  {%- else -%}
    <link rel="canonical" href="https://zap-kam.ru{{page.url}}"/>
  {%- endif -%}

  <meta name="description" content="{{ page.description }}" />
  <meta property="og:description" content="{{ page.description }}" />
  <meta name="keywords" content="{{ page.keywords }}">
  <meta name="author" content="Зап-Кам - Запчасти КамАЗ" />
  
  
  <link rel="stylesheet" href="/assets/fonts/line-icons.css">
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/assets/css/owl.theme.css">
  <link rel="stylesheet" href="/assets/css/animate.css">
  <link rel="stylesheet" href="/assets/css/magnific-popup.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="/assets/css/responsive.css">
  <link rel="stylesheet" href="/assets/css/nanogallery2.min.css">
  <link rel="stylesheet" href="/assets/css/jqcart.css">
  
  <!-- Yandex verification -->
  <meta name="yandex-verification" content="7f54e3c9fedc7455" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159239699-1"></script>
  <script>  window.dataLayer = window.dataLayer || [];  function gtag(){dataLayer.push(arguments);}  gtag('js', new Date());  gtag('config', 'UA-159239699-1');</script>
  <script defer src="https://af.click.ru/af.js?id=11315"></script>
</head>

<body>

  <!-- +Header   -->
  <header id="header-wrap">
    <div class="head h-100">
      <div class="head__inner h-100">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar" style="border-bottom: 0.01rem solid #555555;">
          <div class="container">
            <a href="/" class="navbar-brand" style="display: contents;"> <img src="/assets/img/logo2.png" alt=""> </a> 
            {% include top-submenu.html phone = page.phone phone_title = page.phone_title %}
            
           
          </div>
        </nav>
        <!-- -Navbar-  -->

        <!-- + Hero Area -->
        <div id="hero-area" class="bg-blue">
            <div class="container">
              <div class="row">
                <div class="col-md-8 col-xs-12">
                  <div class="contents" style="padding:70px 0 0 0;">
                    <ul>
                      <!-- <li style="margin-bottom:0px;">
                                  <h1 class="title text-left w-100">Запчасти для КамАЗ 4310</h1>
                                </li> -->
                      <li style="margin-top:0px; ">
                        <h2 class="title text-md-left text-sm-center"> {{page.hero-title}} </h2>
                      </li>
                     <!-- <li><i class="lni-chevron-down"></i>&nbsp;&nbsp;&nbsp;Оперативная отгрузка по России</li>
                                <li><i class="lni-chevron-down"></i>&nbsp;&nbsp;&nbsp;Большой опыт на рынке запчастей </li>
                                 -->
            
                      <li id="hero-menu">
                        <p class="title text-md-left text-sm-center w-100">
                          <a href="/kamaz-4310/"> Запчасти на КамАЗ </a>
                          &nbsp; • &nbsp; <a href="/agregaty/dvigateli/index.html"> Двигатели </a>
                          &nbsp; • &nbsp; <a href="/agregaty/kpp/index.html"> КПП </a>
                          &nbsp; • &nbsp; <a href="/agregaty/razdatki/index.html"> Раздатки </a>
                          &nbsp; • &nbsp; <a href="/agregaty/reduktory/index.html"> Редукторы </a>
                          &nbsp; • &nbsp; <a href="/agregaty/mosty/index.html"> Мосты </a>
                          &nbsp; • &nbsp; <a href="/dvigatel_zapchasti/"> Всё для Двигателей </a>
                          &nbsp; • &nbsp; <a href="/kardanyi_valy/"> Карданы</a>
                          &nbsp; • &nbsp; <a href="/kamaz-5490/zapchasti.html"> КамАЗ-5490 </a>
                          
                          <!-- &nbsp; • &nbsp; <a href="//"> Редукторы </a> -->
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-4 text-right">
                  <div class="contents" style="padding-top: 30px;">
                     
                    <button class="btn btn-secondary" style=" position: absolute;right: 1em; bottom: 1em;
                " data-toggle="modal" data-target="#requestModal"
                      onclick="ym(57702985, 'reachGoal', 'RequestBill'); return true;">
                      Заявка</button> 
            
                    <!-- <a href="/index.html" class="btn btn-primary " style=" margin-top: 15px;"> Каталог КамАЗ 4310 </a> -->
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <!-- -Hero Area -->
  </header>
  <!-- -Header  -->
  
  
   
  <section class="articles">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-xs-12" style="margin: auto;">
          <h1 class="text-center pt-2 pb-0">{{ page.h1 }} </h1>
          {%- if page.h2 and page.h2 != "" -%}
          <h2 class="text-center pt-2 pb-0" style="font-size:1.6em !important; font-weight: 300;"> {{ page.h2 }} </h2>
          {%- endif -%}
          
            
          
       </div>
      </div>
      
      <div style="display: inline-flex;">
        <ol class="breadcrumb dropdown">
          <li class="breadcrumb-item"><a href="/"><i class="lni-home"></i></a></li>
          {%- if page.dir contains "agregaty" -%}
            <li class="breadcrumb-item"><a href="/agregaty/index.html" class="dropdown-toggle" id="b_2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Агрегаты КамАЗ</a></li>
          {%- endif -%}
          {%- if page.dir contains "dvigatel_zapchasti" -%}
            <li class="breadcrumb-item"><a href="/dvigatel_zapchasti/" class="dropdown-toggle" id="b_2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Запчасти для ДВИГАТЕЛЯ</a></li>
          {%- endif -%}
          {%- if page.dir contains "kamaz-4310" -%}
            <li class="breadcrumb-item"><a href="/kamaz-4310/category/zapchasti_kamaz-4310.html" class="dropdown-toggle" id="b_2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Запчасти на КАМАЗ-4310</a></li>
          {%- endif -%}
          {%- if page.dir contains "kamaz-5490" -%}
            <li class="breadcrumb-item"><a href="/kamaz-5490/" class="dropdown-toggle" id="b_2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Запчасти КамАЗ-5490</a></li>
          {%- endif -%}
          {%- if page.dir contains "kardanyi_valy" -%}
            <li class="breadcrumb-item"><a href="/kardanyi_valy/" class="dropdown-toggle" id="b_2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Карданные валы</a></li>
          {%- endif -%}
          
          {%- if page.dir contains "dostavka" -%}
            <li class="breadcrumb-item"><a href="/oplata_i_dostavka.html" class="dropdown-toggle" id="b_2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Доставка</a></li>
          {%- endif -%}

          {%- if page.dir == "" or page.dir == "/" -%}
            <li class="breadcrumb-item"><a href="/" class="dropdown-toggle" id="b_2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Агрегаты и запчасти КамАЗ</a></li>
          {%- endif -%}

      
          <li class="dropdown-menu" aria-labelledby="b_2">
            <a class="dropdown-item" href="/agregaty/index.html">Агрегаты КамАЗ</a>
            <a class="dropdown-item" href="/agregaty/dvigateli/index.html">Двигатели КамАЗ</a>
            <a class="dropdown-item" href="/dvigatel_zapchasti/">Запчасти для ДВИГАТЕЛЯ</a>
            <a class="dropdown-item" href="/kamaz-4310/category/zapchasti_kamaz-4310.html">Запчасти на КАМАЗ-4310</a>
            <a class="dropdown-item" href="/kamaz-5490/zapchasti.html">Запчасти КамАЗ-5490</a>
            <a class="dropdown-item" href="/kardanyi_valy/">Карданные валы</a>
          </li>

        </ol>
        <ol class="breadcrumb dropdown">
          <li class="breadcrumb-item">&nbsp;</li>
          {%- for pp in page.categories -%}
            <li class='breadcrumb-item dropdown' id="b_3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">{{pp}}</li>
            <!-- <li class="breadcrumb-item"><a href="/">{{page.tags}}</i></a></li> -->
          {%- endfor -%}
          
          {%- if page.dir contains "dvigatel_zapchasti" or page.name contains "dvigatel_zapchasti" -%}
          
            {%- unless page.categories -%}
              <li class='breadcrumb-item dropdown' id="b_3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><a href="/dvigatel_zapchasti/catalog/index.html">Каталог</a></li>
            {%- endunless -%}
          
          <li class="dropdown-menu" aria-labelledby="b_3">
            <a class="dropdown-item" href="/dvigatel_zapchasti/category/valy-kolenchatye-kamaz.html">Валы коленчатые</a>
            <a class="dropdown-item" href="/dvigatel_zapchasti/category/valy-kolenchatye_bu_remont-kamaz.html">Валы коленчатые ремонтные</a>
            <a class="dropdown-item" href="/dvigatel_zapchasti/category/bloki-cilindrov-kamaz.html">Блоки цилиндров</a>
            <a class="dropdown-item" href="/dvigatel_zapchasti/category/golovki-bloka-kamaz.html">Головки блока цилиндров</a>
            <a class="dropdown-item" href="/dvigatel_zapchasti/category/porshnevaya-gruppa-kamaz.html">Поршневая группа</a>
            <a class="dropdown-item" href="/dvigatel_zapchasti/category/sborochnye-komplekty-kamaz.html">Сборочные комплекты двигателей</a>
            <a class="dropdown-divider" href="javascript:"></a>
            <a class="dropdown-item" href="/dvigatel_zapchasti/category/tnvd-toplivnaya-apparatura-kamaz.html">ТНВД</a>
            <a class="dropdown-item" href="/dvigatel_zapchasti/category/forsunki-kamaz.html">Форсунки</a>
            <a class="dropdown-item" href="/dvigatel_zapchasti/category/raspyliteli-forsunki-kamaz.html">Распылители форсунок</a>
            <a class="dropdown-divider" href="javascript:"></a>
            <a class="dropdown-item" href="/dvigatel_zapchasti/category/turbokompressory-kamaz.html">Турбокомпрессоры</a>
            <a class="dropdown-item" href="/dvigatel_zapchasti/category/nasosy-maslyanyj-kamaz.html">Насос масляный</a>
            <a class="dropdown-item" href="/dvigatel_zapchasti/category/nasosy-vodyanoj-kamaz.html">Насос водяной</a>
            <a class="dropdown-item" href="/dvigatel_zapchasti/category/prochie-zapchasti-dvigatelya-kamaz.html">Прочие запчасти для двигателя</a>
          </li>
          {%- endif -%}

          {%- if page.dir contains "kamaz-4310" or page.name contains "zapchasti-kamaz-4310-43118" -%}
          {%- unless page.categories -%}
            <li class='breadcrumb-item dropdown' id="b_3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><a href="/kamaz-4310/category/zapchasti_kamaz-4310.html">Каталог</a></li>
          {%- endunless -%}
        
          <li class="dropdown-menu" aria-labelledby="b_3">
            <a class="dropdown-item" href='/kamaz-4310/category/zapchasti_korobka_peredach.html'>Запчасти для КПП</a>
            <a class="dropdown-item" href='/kamaz-4310/category/zapchasti_razdatka.html'>Для раздаточной коробки</a>
            <a class="dropdown-item" href='/kamaz-4310/category/differencial_kamaz.html'>Дифференциалы </a>
            <a class="dropdown-item" href='/kamaz-4310/category/valy_kamaz.html'>Валы</a>
            <a class="dropdown-item"  href='/kamaz-4310/category/shesterny_kamaz.html'>Шестерни</a>
            
            <a class="dropdown-item" href='/agregaty/razdatki/index.html'>Коробка раздаточная в сборе</a>
            <a class="dropdown-item" href='/agregaty/kpp/index.html'>Коробки передач в сборе</a>
            <a class="dropdown-item" href='/kamaz-4310/category/zapchasti_mosty.html'>Запчасти для моста</a>
              
            <!-- <a class="dropdown-divider" href="javascript:"></a> -->
          </li>
          {%- endif -%}
          
          {%- if page.dir contains "kamaz-5490" or page.name contains "kamaz-5490" -%}

            {%- unless page.categories -%}
              <li class='breadcrumb-item dropdown' id="b_3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><a href="/kamaz-5490/">Каталог</a></li>
            {%- endunless -%}
            
            <li class="dropdown-menu" aria-labelledby="b_3">
              <a class="dropdown-item" href='/kamaz-5490/catalog/dvigateli_kamaz_5490.html'>Двигатели КамАЗ-5490</a>
              <a class="dropdown-item" href='/kamaz-5490/zapchasti.html'>Запчасти КамАЗ-5490</a>
           
              <!-- <a class="dropdown-divider" href="javascript:"></a> -->
            </li>
          {%- endif -%}

          {%- if page.dir contains "kardanyi_valy" or page.name contains "kardanyi_valy" -%}

            {%- unless page.categories -%}
              <li class='breadcrumb-item dropdown' id="b_3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><a href="/kardanyi_valy/">Каталог</a></li>
            {%- endunless -%}
            
          <li class="dropdown-menu" aria-labelledby="b_3">
            <a class="dropdown-item" href='/kardanyi_valy/category/kardan-kamaz.html'>Вал карданный КамАЗ</a>
            <a class="dropdown-item" href='/kardanyi_valy/category/tirsan-kamaz.html'>Вал карданный TIRSAN на КамАЗ</a>
            <a class="dropdown-item" href='/kardanyi_valy/category/kardan-ural.html'>Вал карданный Урал</a>
            <a class="dropdown-item" href='/kardanyi_valy/category/kardan-maz.html'>Вал карданный МАЗ</a>
            <a class="dropdown-item" href='/kardanyi_valy/category/kardan-maz-man.html'>Вал карданный МАЗ-МАН</a>
            <a class="dropdown-item" href='/kardanyi_valy/category/kardan-man.html'>Вал карданный MAN</a>
            <a class="dropdown-item" href='/kardanyi_valy/category/kardan-iveco.html'>Вал карданный Iveco</a>
            <a class="dropdown-item" href='/kardanyi_valy/category/kardan-scania.html'>Вал карданный Scania</a>
            <a class="dropdown-item" href='/kardanyi_valy/category/kardan-mercedes.html'>Вал карданный Mercedes</a>
            <a class="dropdown-item" href='/kardanyi_valy/category/kardan-ford.html'>Вал карданный Ford</a>
            <a class="dropdown-item" href='/kardanyi_valy/category/kardan-gaz.html'>Вал карданный ГАЗ</a>
            <a class="dropdown-item" href='/kardanyi_valy/category/kardan-zil.html'>Вал карданный ЗИЛ</a>
            <a class="dropdown-item" href='/kardanyi_valy/category/kardan-belaz.html'>Вал карданный БЕЛАЗ</a>
            <a class="dropdown-item" href='/kardanyi_valy/category/kardan-kraz.html'>Вал карданный КРАЗ</a>
            <a class="dropdown-item" href='/kardanyi_valy/category/kardan-mtz.html'>Вал карданный МТЗ</a>
            <a class="dropdown-item" href='/kardanyi_valy/category/kardan-mzkt.html'>Вал карданный МЗКТ</a>
            <a class="dropdown-item" href='/kardanyi_valy/category/kardan-prochie.html'>Прочие карданы</a>
            <!-- <a class="dropdown-divider" href="javascript:"></a> -->
          </li>
          {%- endif -%}
          


          {%- if page.dir contains "agregaty" or page.name contains "agregaty" -%}

            {%- unless page.categories -%}
              <li class='breadcrumb-item dropdown' id="b_3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><a href="/agregaty/index.html">Каталог</a></li>
            {%- endunless -%}
            
            <li class="dropdown-menu" aria-labelledby="b_3">
              <a class="dropdown-item" href='/agregaty/dvigateli/index.html'>Двигатели на КамАЗ</a>
              <a class="dropdown-item" href='/agregaty/kpp/index.html'>КПП - Коробки передач</a>
              <a class="dropdown-item" href='/agregaty/reduktory/index.html'>Редукторы</a>
              <a class="dropdown-item" href='/agregaty/razdatki/index.html'>Коробки раздаточные</a>
              <a class="dropdown-item" href='/agregaty/mosty/index.html'>Мосты на КАМАЗ</a>
              <a class="dropdown-item" href='/agregaty/mosty/index-osi-kamaz.html'>Оси передние</a>
              <a class="dropdown-item" href='/agregaty/mosty/index-telezhki-kamaz-poveska-v-sbore.html'>Подвески в сборе (тележки)</a>
           
              <!-- <a class="dropdown-divider" href="javascript:"></a> -->
            </li>
          {%- endif -%}
        
        </ol>
      </div>
      
      <div class="row">
          
          {{ content }}
          
      </div>
    </div>
  </section>


  
  {% include contacts.html phone = phone phone_title = phone_title  %}
  {% include footer.html %}

  <!-- Кнопка вверх-->
  <a href="#" class="back-to-top">
    <i class="lni-arrow-up"></i>
  </a>

  
  <script src="/assets/js/jquery-min.js"></script>
  <script src="/assets/js/popper.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <!-- <script src="/assets/js/owl.carousel.min.js"></script> -->
  <!-- <script src="/assets/js/wow.js"></script> -->
  <script src="/assets/js/lozad.min.js"></script>
  <script src="/assets/js/jquery.nav.js"></script>
  <script src="/assets/js/scrolling-nav.js"></script>
  <script src="/assets/js/jquery.easing.min.js"></script>
  <script src="/assets/js/jquery.counterup.min.js"></script>
  <script src="/assets/js/waypoints.min.js"></script>
  <script src="/assets/js/main.js"></script>
  <script src="/assets/js/typeahead.bundle.min.js"></script>
  <script src="/assets/js/jquery.nanogallery2.min.js"></script>
  <script src="/assets/js/jqcart.js"></script>
  <script src="/assets/js/list.min.js"></script>
  

  <script>
    (function(w,d,u){
            var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/60000|0);
            var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
    })(window,document,'https://cdn-ru.bitrix24.ru/b20309842/crm/site_button/loader_4_2ji46m.js');
  </script>


</body>

</html>