<!DOCTYPE html>
<html xml:lang="ru" lang="ru">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="https://zap-kam.ru/favicon.png" type="image/png"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="index, follow"/>
    <!-- <meta charset="utf-8" /> -->
    
    <!-- <link rel="canonical" href="https://zap-kam.ru/"/>  -->
  
    <title>{{ page.title }}</title>
    <meta property="twitter:title"  content="{{ page.title }}" />
    <meta property="og:title"  content="{{ page.title }}" />
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="Магазин автозапчастей для а\м КамАЗ"/>
    <meta property="og:image" content="https://zap-kam.ru/assets/img/logo_bgwhite.png"/>
        
    <meta name="description" content="{{ page.description }}" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta name="keywords" content="{{ page.keywords }}">
    <meta name="author" content="Зап-Кам - Запчасти КамАЗ" />
    
    
    {%- if page.canonical -%} } 
      {{ page.canonical }}
    {%- else -%}
      <link rel="canonical" href="https://zap-kam.ru{{page.url}}"/>
    {%- endif -%}
    
    <link rel="stylesheet" href="/assets/fonts/line-icons.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/owl.theme.css">
    <link rel="stylesheet" href="/assets/css/animate.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <link rel="stylesheet" href="/assets/css/nanogallery2.min.css">
    <link rel="stylesheet" href="/assets/css/jqcart.css">
     
  
    <!-- Yandex verification -->
    <meta name="yandex-verification" content="7f54e3c9fedc7455" />
    <meta name='wmail-verification' content='c7dafa5b36af379dbb038cb3b17dcb28' />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159239699-1"></script>
    <script>  window.dataLayer = window.dataLayer || [];  function gtag(){dataLayer.push(arguments);}  gtag('js', new Date());  gtag('config', 'UA-159239699-1');</script>
    <script defer src="https://af.click.ru/af.js?id=11315"></script>
  </head>
<body>

{{ content }}

 {% include contacts.html %}
 {% include footer.html %}

  <!-- Кнопка вверх -->
  <a href="#" class="back-to-top">
    <i class="lni-arrow-up"></i>
  </a>
  
  <script src="/assets/js/jquery-min.js"></script>
  <script src="/assets/js/popper.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <!-- <script src="/assets/js/owl.carousel.min.js"></script> -->
  <!-- <script src="/assets/js/wow.js"></script> -->
  <script src="/assets/js/lozad.min.js"></script>
  <script src="/assets/js/jquery.nav.js"></script>
  <script src="/assets/js/scrolling-nav.js"></script>
  <script src="/assets/js/jquery.easing.min.js"></script>
  <script src="/assets/js/jquery.counterup.min.js"></script>
  <script src="/assets/js/waypoints.min.js"></script>
  <script src="/assets/js/main.js"></script>
  <script src="/assets/js/jqcart.js"></script>
  <script src="/assets/js/typeahead.bundle.min.js"></script>
  <script src="/assets/js/jquery.nanogallery2.min.js"></script>
  <script src="/assets/js/list.min.js"></script>

</body>

</html>