---
layout: 
---
---
layout: default_info
title: {{page.code1}} {{page._name}} {%- if page.code2 -%} ({{page.code2}}) {%- endif -%}  - ЗапКам.ру
description: Продаем {{page._name}}, каталожный номер - {{page.code1}} {{page.code2}} {%- if page.prim2 -%}, на {{page.prim2}} {%- endif -%}  {%- if page.prim -%}, на технику {{ page.prim }}  {%- endif -%}. Новые оригинал, аналоги, бу, капремонт. Цена, доставка, описание, вес, размеры.
keywords: {{page._name}} {{page.code1}} {{page.price1_name}} {{page.price2_name}} {{page.price3_name}} {{page.price4_name}} {{page.price5_name}} {{page.code2}} {{page.cat}} {{page.cat2}} - {{page.prim}} Двигатель КамАЗ Евро Евро-1 Евро-2 Евро-3 Евро-4 Коленвал Коленчатый вал Блок цилиндров шатун шейка поршня кольца Bosch ЯЗДА ЦПГ ЯМЗ SANZ насос турбокомпрессор распредвал
hero-title: Запчасти на ДВИГАТЕЛИ КамАЗ
h1: {{page._name}} {{page.code1}}
h2:
phone: 
phone_title: 
---

<!-- Товар -->
<div id="anc_1"></div>
{ % assign page_url = page.name | replace: ".html", "" %}
{ % assign product = site.data.dvig_zap | where:"url", page_url | first  %}
{ %- if product -%}
    { % include card_zapchasti.html product = product %}
{ %- endif -%}
{ %- include_relative /dvigatel_zapchasti/catalog/_like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
    <!-- <h3>Описание</h3> -->
    <p>

    </p>
    
    <hr>
    
    <p></p>
    <p></p>
    { % include kupite_u_nas.html %}
    { % include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
