---
layout: default_info
title: Насос масляный КамАЗ
description: Выбор маслонасосов на двигатели КамАЗ Евро-0, Евро-1, Евро-2, Евро-3. Каталог камазовских масляных насосов с ценами, описанием, применимостью и техническими характеристиками. Новые оригинал и восстановленные б/у после кап.ремонта.
keywords: насос масляный масляный КамАЗ Двигатель КамАЗ Евро Евро-1 Евро-2 Евро-3 Евро-4 Коленвал Коленчатый вал Блок цилиндров шатун шейка поршня кольца Bosch ЯЗДА ЦПГ ЯМЗ SANZ насос турбокомпрессор распредвал 
hero-title: Запчасти на ДВИГАТЕЛИ КамАЗ
h1: Насосы масляные на двигатели КамАЗ
h2:
phone: 
phone_title:
---

<!-- Модель камаза  -->
<div class="col-md-11 col-xs-12" style="margin: auto;">
    <p>
        Смазочная система двигателей КамАЗ - комбинированная с "мокрым" картером. 
        Система включает масляный насос, фильтр очистки масла, водомасляный теплообменник, картер масляный, маслоналивную горловину, трубку указателя и указатель уровня масла.
    </p>
    <p>
        Масляный насос - шестеренчатый, односекционный, закреплен на нижней плоскости блока цилиндров. Состоит из корпуса, крышки и шестерни.
        В крышке расположен клапан смазочной системы, с пружиной. 
        Ведущее зубчатое колесо напрессовано на передний конец коленчатого вала.
    </p>
</div>


<!-- Товары ---->

<div class="col-md-11 col-xs-12" style="margin: auto;">
    
    <!-- <h3 class="w-100 text-center">Каталог</h3> -->
    <div class="form form-inline">
        <input id="pListSearch" class="fuzzy-search" type="search" class="form-control" placeholder="поиск..." style="width:130px;"/>
        &nbsp;&nbsp;
        <button class="btn btn-search-var " onclick="$('#pListSearch').val(''); filterProductList($('#pListSearch').val());" title="Сбросить фильтр">Все</button>    
        <button class="btn btn-search-var " onclick="$('#pListSearch').val('740-1011014-30'); filterProductList($('#pListSearch').val());" title="740">740</button>    
        <button class="btn btn-search-var " onclick="$('#pListSearch').val('740.11'); filterProductList($('#pListSearch').val());" title="Евро">740.11 Евро</button>    
        <button class="btn btn-search-var " onclick="$('#pListSearch').val('740.21'); filterProductList($('#pListSearch').val());" title="Евро">740.21 Евро-3</button>    
       
    </div>

    {% include catalog-loading-panel.html %}

    <div id="productList" class="pt-4 pb-2" style="display: none; ">
    
        <div class="row list">
            {% for product in site.data.dvig_zap %}
            {%- if product.cat == "Насос масляный" -%}
                {% include card_zapchasti_catalog.html product = product %}
            {%- endif -%}
            {% endfor %}
        </div>
        <div class="no-result">Не найдено</div>
        <ul class="pagination" onclick="$('html, body').animate({ scrollTop: 0}, 600);"></ul>
    </div>
</div>


<div class="col-md-10 col-xs-12" style="margin: auto;">
    <p>
        Масляный насос выполняет функцию подачи смазки к работающим трущимся механизмам транспортного средства.
        На КамАЗах обычно установлены шестеренчатые насосы с двумя отсеками. 
        Первый отсек служит для подачи смазочного материала в систему смазки, 
        второй – в радиатор и фильтр очистки центробежного типа.
    </p>

    <figure class="wp-block-image"><img
        src="/dvigatel_zapchasti/category/img/nasos_maslanyi_scheme_1.jpg" alt="Маслянный насос чертеж-схема" />
      <figcaption><br><strong>рис. Насос масляный:</strong> 1 - корпус радиаторной секции; 2 - шестерня ведущая радиаторной секции; 
          3 - проставка; 4- шестерня ведущая нагнетающей секции; 5 - корпус нагнетающей секции; 6 - шестерня ведомая привода насоса; 7 - шпонка; 
          8 - валик ведущих шестерен; 9 - шестерня ведомая нагнетающей секции; 10 - шестерня ведомая радиаторной секции; 11 - клапан предохранительный радиаторной секции; 
          12, 15, 17 - пружины клапана; 13, 16 - пробки клапана; 14 - клапан системы смазывания; 18 - клапан предохранительный нагнетающей секции.</figcaption>
    </figure>

    
    <p>
        <p><strong>Установка масляного насоса</strong></p>
        <p>- залить машинное масло внутрь насоса и повернуть несколько раз шестерню для проникновения смазки к деталям;<br />- установить прокладку;<br />- установить насос на блок с помощью 3-х болтов;<br />- насадить трубку клапана и кронштейн всасывающей трубки;<br />- проверить зазор между зубчатыми колесами привода, который должен быть не более 0,35 мм;<br />- залить масляный картер и залить масло.<br />- завести двигатель, проконтролировать давление в системе смазки по контрольной лампе.</p>
    </p>
  

     
    <h2>Частые вопросы и ответы по насосам КамАЗ</h2>


    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
        <h3 itemprop="name">В чем отличия масленых насосов 740.11 от 740.21, можно ли 21 насос установить на двигатель 740.30, 740.51?</h3>
        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
            <div itemprop="text">
                <p>
                    Насосы отличаются размерами корпуса и шестернями внутри корпуса. <br>
                    <a href="/dvigatel_zapchasti/catalog/nasos-maslyanyj-kamaz-evro-3-740-21-1011014-02.html">
                        Насос <b>740.21</b></a> применяется на двигатели 740.60.<br>
                    <a href="/dvigatel_zapchasti/catalog/nasos-maslyanyj-kamaz-evro-740-11-1011014-02.html">
                        Насос <b>740.11</b></a> ставят на двигатели Евро-1,2,3.<br>
                    Насос <b>740.60</b> ставят на двигатели Евро-4.
                </p>
            </div>
        </div>
    </div>
    
    
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    
  <div style="height: 30px;">&nbsp;</div>
  
<script src="/assets/js/list.min.js"></script>