---
layout: default_info
title: Передние оси КамАЗ • Продажа и ремонт • Новые • Восстановленные
description: Полный каталог осей передних КАМАЗ с подбором. КАМАЗ 5320, 5311, 65115, 6502. Комплектация - балка, с кронштейнами, ступицами, барабанами и тормозной аппаратурой. Оси сборки - новые заводские КАМАЗ, самосбор, ремонтные
keywords: Оси и подвеска КАМАЗ в сборе
hero-title: Оси КамАЗ 4310, 5320, 43118, 65111, 6520 
h1: Оси передние в сборе на технику КАМАЗ
h2: 5320, 53205, 65115, 6520 
categories: [<a href='/agregaty/mosty/index.html'>Мосты на КАМАЗ</a>]
---

<div class="col-md-12 col-xs-12 text-right w-100">
	<a class="btn btn-primary" href="/agregaty/mosty/index.html"> Мосты</a>
	<a class="btn btn-primary" href="/agregaty/mosty/index-osi-kamaz.html"> Оси передние </a>
	<a class="btn btn-primary" href="/agregaty/mosty/index-telezhki-kamaz-poveska-v-sbore.html"> Тележки задние </a>
  </div>

  
<div class="col-md-10 col-sm-12" style="width: auto;">



<!-- Мосты -->

<h3>Каталог </h3>
<!-- <div class="form form-inline">
	<input id="pListSearch" class="fuzzy-search" type="search" class="form-control" placeholder="поиск..." style="width:130px;"/>
	&nbsp;&nbsp;
	<button class="btn btn-search-var" onclick="$('#pListSearch').val('4310'); filterProductList($('#pListSearch').val());" title="4310">4310</button>   
  
</div> -->

{% include catalog-loading-panel.html %}

<div id="productList" class="pt-2 pb-2" style="display: none; ">

	<div class="row list">
		{% for product in site.data.agregaty  %}
		{%- if product.cat == "оси" -%}
			{% include card_zapchasti_catalog.html product = product %}
		{%- endif -%}
		{% endfor %}

		<div id="loadingDiv">
			<span>Загрузка данных</span>
		</div>
	</div>
	<div class="no-result">Не найдено</div>
	<ul class="pagination"></ul>
</div>


<ul>
	<li>Капремонт – восстановленные оси, c ресурсом до 80%.</li>
	<li>Новые – сборка под заказ в сертифицированном сервисе.</li>
	<li>Завод – оригинальные заводские оси, по запросу.</li>
</ul>
<hr>


<h3>Передняя ось в сборе, старого образца</h3>
<p>Передняя ось в сборе со ступицами, колесами, тормозными механизмами и тягой рулевой трапеции показаны на рис. </p>
<img src="/agregaty/mosty/img/catalog/os-peredniaia-v-sbore-starogo-obrazca.jpg" alt="Передняя ось старого образца в сборе со ступицами c">
<p>Передняя ось: 1 - колесо с шиной в сборе; 2 -прижим колеса; 3, 16 - гайки; 4 - шпилька; 5, 15 - болты; 6 - гайка подшипников; 7, 8 - шайбы, гайки и контргайки замковые; 9 - крышка ступицы; 10 - контргайка; 11, 14 -подшипники; 12 - прокладка; 13 - ступица; 17 - барабан тормозной; 18 - кольцо упорное; 19 - кольцо манжеты; 20-крышка кулака; 21- упор поворотного кулака; 22 - рычаг поворотного кулака; 23 - тяга продольная рулевая; 24 -клин шкворня; 25 - подшипник опорный; 26 - кулак левый поворотный; 27 - рычаг поворотного кулака поперечной тяги; 28 - шкворень; 29 - втулка шкворня; 30 -тяга поперечная рулевая трапеции; 31 - манжета; 32 -механизм тормозной в сборе; 33 - балка переднего моста</p>

<p>
	Передняя ось в сборе со ступицами, тормозными механизмами и тягой рулевой трапеции для модернизированных автомобилей КамАЗ. 
	Конструкция ступицы с тормозным барабаном обеспечивает установку на автомобили дисковых колес с креплением по типу ISO. В шкворневых узлах передней оси запрессованы игольчатые подшипники,
	которые перед установкой смазываются смазкой Литол-24. Между подшипниками устанавливается полиамидная втулка. Введено уплотнение шкворневого узла лепестковыми резиновыми манжетами.
</p>

<h3>Балка передней оси</h3>
<p>Балка передней оси с поворот­ными кулаками, рычагами рулевой трапеции в сборе</p>
<img src="/agregaty/mosty/img/catalog/balka-osi-peredniaia-starogo-obrazca.jpg" alt="Балка оси передней">
<p>Передняя ось и поворотные кулаки: 1 - болт; 2, 30 - шайбы пружинные; 3 - крышка нижняя поворотного кулака; 4 - прокладка крышки; 5 - втулка шкворня; 6 - кулак левый поворотный переднего моста; 7, 27, 29 - гайки; 8 -шплинт разводной; 9 - масленка; 10 - шкворень; 11 - клапан предохранительный; 12 - крышка верхняя поворотного кулака; 13 - кольцо уплотнительное; 14 - обойма сальника; 15 - шайба кулака; 16 - шайба регулировочная; 17 -полукольцо сальника; 18 - кольцо опорного подшипника; 19 - штифт; 20 - шайба опорного подшипника; 21 - кулак правый поворотный; 22 - сегментная шпонка; 23 - рычаг правый поворотного кулака к тяге рулевой трапеции; 24 -балка переднего моста; 25 - рычаг поворотного кулака к тяге сошки рулевого механизма; 26 - упор поворотного кулака; 28 - рычаг левый поворотного кулака к тяге рулевой трапеции; 31 - клин шкворня</p>
<p>
	Передняя ось - неразрезная, с пово­ротными кулаками вилочного типа и цилинд­рическими шкворнями. В отверстия кулаков 6 и 21 под поршень 10 запрессованы втулки 5 шкворней, выполняющие роль подшипников скольжения. От осевого перемещения шкворень 10 зафиксирован клином 31 и гайкой 29 с шайбой 30. Шкворень установлен вверх торцом с прорезью. Отверстия в кулаках после установки шкворня закрывают крыш­ками 3 и 12 с прокладками 4 для защиты подшипни­ков от грязи и пыли. Верхняя крышка в отличае от нижней имеет предохранительный клапан 11 для выхода смазки. Между нижними торцами проуши­ны балки 24 и кулаками установлены опорные под­шипники, состоящие из опорного кольца 18 и шай­бы 20. Шайбы зафиксированы от проворачивания штифтами 19 в расточках на поворотных кулаках. Между верхними торцами проушин балки и кулака­ми установлены шайбы 15 и 16 толщиной 1,5 мм и 0,25 мм, с помощью которых регулируют осевой зазор в шкворневом соединении.
</p>
	<p>Подшипники скольжения и опорные подшип­ники смазывают через масленки 9.</p>
	<p>Верхний 25 и нижние 23 и 28 рычаги закреплены в кулаках гайками 7 со шплинтами 8. Рычаги от проворачивания в кулаках зафиксированы сег­ментными шпонками 22. Углы поворота кулаков ограничены упорами 26, ввернутыми во фланцы поворотных кулаков и зафиксированными гайками 27. Упоры при максимальном повороте колес упира­ются в бобышки на балке оси.</p>






<div class="col-md-10 col-xs-12" style="margin: auto;">
    <p></p>
    <h3></h3>
   
	
	<p><a href="/agregaty/mosty/info/index.html">Информация о мостах КАМАЗ</a></p>
    <p></p>
    {% include kupite_u_nas.html %}
  <div style="height: 100px;">&nbsp;</div>
  
</div>

{%- if product -%} {% include card_zapchasti.html product = product %} {%- endif -%}






