---
layout: default_info
title: Мост средний КАМАЗ-5320 старого образца на 47, 48 или 49 зубьев - 5320-2500020-10- ЗапКам
description: Продаем 5320-2500020-10 - Мост средний КАМАЗ-5320 старого образца на 47, 48 или 49 зубьев, на КАМАЗ- 5320, 5410, 5511, 55102, 53212, Фланец - квадратный 4 отв., ступицы – старого образца, возможна установка ступиц нового евро-образца. Нет блокировок и АБС.Мост поставляется на специальной подставке. Первая комплектация -картер моста, редуктор, ступицы, барабаны, колодки, энергоаккумуляторы, кронштейны, полуоси и др., сборка, челны завод, новый, под заказ. Цена, доставка, описание.
keywords: Мост средний КАМАЗ-5320 старого образца на 47, 48 или 49 зубьев 5320-2500020-10 сборка, челны завод, новый, под заказ   мосты 222 - КАМАЗ- 5320, 5410, 5511, 55102, 53212
hero-title: Мосты на КАМАЗ 
h1: Мост средний КАМАЗ-5320 старого образца на 47, 48 или 49 зубьев 
h2: 5320-2500020-10
phone: 
phone_title: 
categories: [<a href='/agregaty/mosty/index.html'>Мосты на КАМАЗ</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.agregaty | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12 m-auto">
    <!-- <h3>Описание</h3> -->
    <p>

    </p>
    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
