---
layout: default_info
title: Мост задний КАМАЗ-6520 на 35 или 31 зуб - 6520-2400011-10- ЗапКам
description: Продаем 6520-2400011-10 - Мост задний КАМАЗ-6520 на 35 или 31 зуб, на КАМАЗ- 6520, 6522, 65222, 65205, 6460, Фланец - круглый евро со шлицами, ступицы – евро. Редукторы на 35 или 31 зуб. Наличие блокировок. Наличие АБС.Мост поставляется на специальной подставке. Первая комплектация -картер моста, редуктор, ступицы, барабаны, колодки, энергоаккумуляторы, кронштейны, полуоси и др., сборка, челны завод, новый, под заказ. Цена, доставка, описание.
keywords: Мост задний КАМАЗ-6520 на 35 или 31 зуб 6520-2400011-10 сборка, челны завод, новый, под заказ   мосты 222 - КАМАЗ- 6520, 6522, 65222, 65205, 6460
hero-title: Мосты на КАМАЗ 
h1: Мост задний КАМАЗ-6520 на 35 или 31 зуб 
h2: 6520-2400011-10
phone: 
phone_title: 
categories: [<a href='/agregaty/mosty/index.html'>Мосты на КАМАЗ</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.agregaty | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12 m-auto">
    <!-- <h3>Описание</h3> -->
    <p>

    </p>
    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
