---
layout: default_info
title: Ось передняя на КАМАЗ-6520 с тормозами - 6520-3000012-02- ЗапКам
description: Продаем 6520-3000012-02 - Ось передняя на КАМАЗ-6520 с тормозами, на КАМАЗ-6520, 5360, 5460, для ведущего моста на автомобилях , Ось поставляется в сборе, на деревянной подставке. Первая комплектация -балка оси, тяга, поворотные кулаки, тормозные камеры, колодки, ступицы, барабаны и др., сборка, челны завод, новый, под заказ. Цена, доставка, описание.
keywords: Ось передняя на КАМАЗ-6520 с тормозами 6520-3000012-02 сборка, челны завод, новый, под заказ   оси 222 - КАМАЗ-6520, 5360, 5460, для ведущего моста на автомобилях 
hero-title: Мосты на КАМАЗ 
h1: Ось передняя на КАМАЗ-6520 с тормозами 
h2: 6520-3000012-02
phone: 
phone_title: 
categories: [<a href='/agregaty/mosty/index.html'>Мосты на КАМАЗ</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.agregaty | where:"url", page_url | first  %}

{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12 m-auto">
    <!-- <h3>Описание</h3> -->
    <p>

    </p>
    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
