---
layout: default_info
title: 65111-1802152-10 - Дифференциал раздатки 44 зубьев КамАЗ
description: Продаем Дифференциал 44 зубьев в сборе 65111-1802150-10 / 43114-1802152  раздаточной коробки на  КамАЗ-43114, КамАЗ-43118, КамАЗ-53228, 65111, КамАЗ-43261 (Евро-1, 2)  Дифференциал 65111-1802150-10 это узел для конвейерной сборки (в состав данного узла не входят подшипники, нет наружного кольца). Для рынка предусмотрен дифференциал 65111-1802152-10 с доставкой по всей России. В наличии новые, восстановленные, капремонт. Прайс-лист, модификации, каталог, описание, характеристики.
keywords: Дифференциал раздаточной коробки 44 зубьев в сборе 65111-1802150-10 - КамАЗ-43114, КамАЗ-43118, КамАЗ-53228, 65111, КамАЗ-43261 (Евро-1, 2).
hero-title: Запчасти на вездеходы КамАЗ-4310, 43114, 43118, 65111
h1: Дифференциал раздаточной коробки (РК) 44 зубьев в сборе
h2: 65111-1802150-10 / 43114-1802152 
phone: 9003234141
phone_title: (900) 323-41-41
categories: [<a href='/kamaz-4310/category/differencial_kamaz.html'>Дифференциалы</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.k4310 | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
    <h3>Описание</h3>
    <p>дифференциал раздатки 65111 распределяет крутящий момент между приводом переднего моста и валом привода задних мостов в определенной пропорции, обусловленной внутренним передаточным отношением планетарной передачи.</p>
<p>
  Дифференциал раздатки камаз 65111-1802150-10 это под-сборочный узел для конвейерной сборки (в состав данного узла не входят подшипники в сборе, нет наружного кольца).
   Для запасных частей предусмотрен дифференциал 65111-1802152-10.
</p>
    <p>
      Для устранения нежелательного эффекта циркуляции крутящего момента, в раздаточных коробках КамАЗ
      применяют <b>межосевой дифференциал</b>, который позволяет валам привода ведущих мостов вращаться с различной частотой
      или различной угловой скоростью.
      дифференциал раздаточной коробки камаз 65111 44 зубьев – планетарного типа с четырьмя сателлитами, солнечной шестерней и коронной шестерней, 
      соединенной с валом привода среднего и заднего мостов.
    </p>
    <p>
      При разблокированном дифференциале обеспечивается постоянная и равномерная тяга всех мостов и устраняются
      дополнительные нагрузки в трансмиссии. В зависимости от дорожных условий дифференциал может быть выключен
      (заблокирован), и тогда валы привода переднего и задних мостов вращаются как одно целое.
    </p>
    <p>
      Межосевой дифференциал установлен в картере на двух роликовых конических подшипниках.
      Межосевой дифференциал 44 зубьев состоит из водила с сателлитами, солнечной шестерни и эпициклической (коронной) шестерни.
    </p>
    <hr>

    <h3>Каталог деталей дифференциала раздаточной коробки КАМАЗ 65111-1802150-10</h3>
    <table class="table table-striped table-sm table-responsive-sm wa">
      <tbody>
      <tr>
      <td>№</td>
      <td>Номер детали</td>
      <td>Наименование детали</td>
      <td>Кол-во</td>
      </tr>
      <tr>
      <td>1</td>
      <td>65111-1802144</td>
      <td> <a href="/kamaz-4310/catalog/zapchasti/shesternya-privoda-zadnego-mosta-v-sbore-65111-1802144.html">Шестерня привода заднего моста (сварка)</a></td>
      <td>1</td>
      </tr>
      <tr>
      <td>3</td>
      <td>65111-1802155-10</td>
      <td><a href="/kamaz-4310/catalog/zapchasti/obojma-differentsiala-rk-razdatochnoj-korobki-s-satellitami-65111-1802155-10.html">Обойма дифференциала раздаточной коробки с сателлитами</a></td>
      <td>1</td>
      </tr>
      <tr>
      <td>4</td>
      <td>65111-1802168</td>
      <td>Ступица шестерни низшей передачи с втулкой в сборе</td>
      <td>1</td>
      </tr>
      <tr>
      <td>6</td>
      <td>14.1701285</td>
      <td>Ролик 5,5х15,8</td>
      <td>98</td>
      </tr>
      <tr>
      <td>7</td>
      <td>4310-1802167</td>
      <td>Втулка шлицевая</td>
      <td>1</td>
      </tr>
      <tr>
      <td>8</td>
      <td>65111-1802180</td>
      <td>Шестерня высшей передачи привода заднего моста</td>
      <td>1</td>
      </tr>
      <tr>
      <td>10</td>
      <td>4310-1802343</td>
      <td>Шайба опорная шестерни высшей передачи привода дифференциала</td>
      <td>1</td>
      </tr>
      <tr>
      <td>11</td>
      <td>65111-1802448</td>
      <td>Кольцо распорное роликовых подшипников шестерни высшей передачи</td>
      <td>1</td>
      </tr>
      <tr>
      <td>12</td>
      <td>4310-1802451</td>
      <td>Кольцо переднее</td>
      <td>1</td>
      </tr>
      <tr>
      <td>14</td>
      <td>4310-1803018</td>
      <td>Каретка включения первой передачи</td>
      <td>1</td>
      </tr>
      <tr>
      <td>17</td>
      <td>45104953080202</td>
      <td>Кольцо внутреннее с сепаратором и роликами подшипника 7315А</td>
      <td>1</td>
      </tr>
      <tr>
      <td>18</td>
      <td>45104953080402</td>
      <td>Кольцо внутреннее с сепаратором и роликами подшипника 7218А</td>
      <td>1</td>
      </tr>
      <tr>
      <td>19</td>
      <td>853583</td>
      <td>Гайка М72х1.5-6Н</td>
      <td>1</td>
      </tr>
      <tr>
      <td>20</td>
      <td>2101-1005127</td>
      <td>Болт М10х1,25-6gх23,5Подробно&nbsp;В закладки&nbsp;Найти в прайсе&nbsp;Где еще применяется</td>
      <td>12</td>
      </tr>
      </tbody>
      </table>

    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %} 
    {% include garantiya.html %}
  <div style="height: 100px;">&nbsp;</div>
  
</div>
