---
layout: default_info
title: 53229-2403011-20 - Дифференциал заднего моста 50 зубьев КамАЗ
description: Продаем Дифференциал заднего моста (50 зубьев) 53229-2403011-20 редуктора для КамАЗ-43114, КамАЗ-43118, КамАЗ-4326, КамАЗ-43261 (Евро-1, 2), КамАЗ-4350 (4х4), КамАЗ-43501 (4х4), КамАЗ-53228, 65111,  - с доставкой по всей России. В наличии новые, восстановленные, капремонт. Прайс-лист, модификации, каталог, описание, характеристики.
keywords: Дифференциал заднего моста (50 зубьев) 53229-2403011-20 - КамАЗ-43114, КамАЗ-43118, КамАЗ-4326, КамАЗ-43261 (Евро-1, 2), КамАЗ-4350 (4х4), КамАЗ-43501 (4х4), КамАЗ-53228, 65111, 
hero-title: Запчасти на вездеходы КамАЗ-4310, 43114, 43118, 65111
h1: Дифференциал заднего моста КАМАЗ (50 зубьев)
h2: 53229-2403011-20
phone:
phone_title:
categories: [<a href='/kamaz-4310/category/differencial_kamaz.html'>Дифференциалы</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.k4310 | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
    <!-- <h3>Описание</h3> -->
    <p>
      Для устранения нежелательного эффекта циркуляции крутящего момента, в раздаточных коробках КамАЗ
      применяют <b>межосевой дифференциал</b>, который позволяет валам привода ведущих мостов вращаться с различной частотой
      или различной угловой скоростью.
      Дифференциал КамАЗ – планетарного типа с четырьмя сателлитами, солнечной шестерней и коронной шестерней, 
      соединенной с валом привода среднего и заднего мостов.
    </p>
    <p>
      При разблокированном дифференциале обеспечивается постоянная и равномерная тяга всех мостов и устраняются
      дополнительные нагрузки в трансмиссии. В зависимости от дорожных условий дифференциал может быть выключен
      (заблокирован), и тогда валы привода переднего и задних мостов вращаются как одно целое.
    </p>
    <p>
      Межосевой дифференциал установлен в картере на двух роликовых конических подшипниках.
      Межосевой дифференциал состоит из водила с сателлитами, солнечной шестерни и эпициклической (коронной) шестерни.
    </p>
    <hr>
    
    <h3>Детали Дифференциал заднего моста КАМАЗ, 50 зубьев, 53229-2403011-20</h3>
    <table class="table table-hover table-responsive-sm table-striped m-auto">
      <tbody>
      <tr>
      <td>№</td>
      <td>Номер детали</td>
      <td>Наименование детали</td>
      <td>Кол-во</td>
      </tr>
      <tr>
      <td>&nbsp;</td>
      <td>53229-2403011-10</td>
      <td>Дифференциал заднего моста в сборе</td>
      <td>&nbsp;</td>
      </tr>
      <tr>
      <td>&nbsp;</td>
      <td>53229-2403011-20</td>
      <td>Дифференциал заднего моста</td>
      <td>&nbsp;</td>
      </tr>
      <tr>
      <td>&nbsp;</td>
      <td>53229-2403011-30</td>
      <td>Дифференциал заднего моста</td>
      <td>&nbsp;</td>
      </tr>
      <tr>
      <td>&nbsp;</td>
      <td>53229-2403011-40</td>
      <td>Дифференциал заднего моста</td>
      <td>&nbsp;</td>
      </tr>
      <tr>
      <td>&nbsp;</td>
      <td>53229-2403016</td>
      <td>Чашки дифференциала заднего моста (комплект)</td>
      <td>&nbsp;</td>
      </tr>
      <tr>
      <td>1</td>
      <td>53212-2403054</td>
      <td>Сателлит дифференциала</td>
      <td>4</td>
      </tr>
      <tr>
      <td>2</td>
      <td>5320-2402120-10</td>
      <td>Шестерня ведомая цилиндрическая заднего моста</td>
      <td>1</td>
      </tr>
      <tr>
      <td>2</td>
      <td>5320-2402120-20</td>
      <td>Шестерня ведомая цилиндрическая</td>
      <td>1</td>
      </tr>
      <tr>
      <td>2</td>
      <td>5320-2402120-30</td>
      <td>Шестерня ведомая цилиндрическая</td>
      <td>1</td>
      </tr>
      <tr>
      <td>2</td>
      <td>5320-2402120-40</td>
      <td>Шестерня ведомая цилиндрическая</td>
      <td>1</td>
      </tr>
      <tr>
      <td>3</td>
      <td>53205-2403018</td>
      <td>Чашка дифференциала правая</td>
      <td>1</td>
      </tr>
      <tr>
      <td>4</td>
      <td>55102-2403019</td>
      <td>Чашка дифференциала левая</td>
      <td>1</td>
      </tr>
      <tr>
      <td>5</td>
      <td>55102-2403026</td>
      <td>Муфта левой чашки</td>
      <td>1</td>
      </tr>
      <tr>
      <td>6</td>
      <td>53205-2403050</td>
      <td>Шестерня полуоси</td>
      <td>2</td>
      </tr>
      <tr>
      <td>7</td>
      <td>5320-2403051</td>
      <td>Шайба опорная</td>
      <td>2</td>
      </tr>
      <tr>
      <td>8</td>
      <td>5320-2403058</td>
      <td>Шайба опорная</td>
      <td>4</td>
      </tr>
      <tr>
      <td>9</td>
      <td>5320-2403060</td>
      <td>Крестовина дифференциала заднего моста</td>
      <td>1</td>
      </tr>
      <tr>
      <td>10</td>
      <td>55102-2403077</td>
      <td>Кольцо стопорное</td>
      <td>1</td>
      </tr>
      <tr>
      <td>14</td>
      <td>6-7516А</td>
      <td>Подшипник в сборе</td>
      <td>2</td>
      </tr>
      <tr>
      <td>15</td>
      <td>1/59777/31</td>
      <td>Болт М14х1,5-6gх75</td>
      <td>16</td>
      </tr>
      <tr>
      <td>16</td>
      <td>251648</td>
      <td>Гайка М14х1,5-6Н ОСТ 37.001.197-75</td>
      <td>16</td>
      </tr>
      </tbody>
      </table>
    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %} 
    {% include garantiya.html %}
  <div style="height: 100px;">&nbsp;</div>
  
</div>
