---
layout: default_info
title: Дифференциал заднего моста (50 зубьев) 53229-2403011-20  цена, фото, описание, применимость - ЗапКам.Запчасти
description: Продаем Дифференциал заднего моста (50 зубьев) 53229-2403011-20 (Редуктор моста (главная передача)) КамАЗ-43114, КамАЗ-43118, КамАЗ-4326, КамАЗ-43261 (Евро-1, 2), КамАЗ-4350 (4х4), КамАЗ-43501 (4х4), КамАЗ-53228, 65111,  - с доставкой по всей России. В наличии новые, восстановленные, капремонт. Прайс-лист, модификации, каталог, описание, характеристики.
keywords: Дифференциал заднего моста (50 зубьев) 53229-2403011-20 - КамАЗ-43114, КамАЗ-43118, КамАЗ-4326, КамАЗ-43261 (Евро-1, 2), КамАЗ-4350 (4х4), КамАЗ-43501 (4х4), КамАЗ-53228, 65111, 
hero-title: Запчасти на вездеходы КамАЗ-4310, 43114, 43118, 65111
h1: Дифференциал заднего моста (50 зубьев) 53229-2403011-20
h2:
phone: 9272482335
phone_title: (927) 248 23-35
---

<!-- Товар ---->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.k4310 | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
    <!-- <h3>Описание</h3> -->
    <p>
      Для устранения нежелательного эффекта циркуляции крутящего момента, в раздаточных коробках КамАЗ
      применяют <b>межосевой дифференциал</b>, который позволяет валам привода ведущих мостов вращаться с различной частотой
      или различной угловой скоростью.
      Дифференциал КамАЗ – планетарного типа с четырьмя сателлитами, солнечной шестерней и коронной шестерней, 
      соединенной с валом привода среднего и заднего мостов.
    </p>
    <p>
      При разблокированном дифференциале обеспечивается постоянная и равномерная тяга всех мостов и устраняются
      дополнительные нагрузки в трансмиссии. В зависимости от дорожных условий дифференциал может быть выключен
      (заблокирован), и тогда валы привода переднего и задних мостов вращаются как одно целое.
    </p>
    <p>
      Межосевой дифференциал установлен в картере на двух роликовых конических подшипниках.
      Межосевой дифференциал состоит из водила с сателлитами, солнечной шестерни и эпициклической (коронной) шестерни.
    </p>
    
    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %} 
    {% include garantiya.html %}
  <div style="height: 100px;">&nbsp;</div>
  
</div>
