---
layout: default_info
title: 4310-1802150 - Дифференциал раздатки КамАЗ - ЗапКам
description: Продаем Дифференциал в сборе 4310-1802150 раздаточной коробки на  КамАЗ-4310, КамАЗ-43101 - с доставкой по всей России. В наличии новые, восстановленные, капремонт. Прайс-лист, модификации, каталог, описание, характеристики.
keywords: Дифференциал РК (раздаточной коробки) в сборе 4310-1802150 - КамАЗ-4310, КамАЗ-43101
hero-title: Запчасти на вездеходы КамАЗ-4310, 43114, 43118, 65111
h1: Дифференциал РК (раздаточной коробки) в сборе 4310-1802150
h2:
phone:
phone_title:
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.k4310 | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
    <!-- <h3>Описание</h3> -->
    <p>
      Для устранения нежелательного эффекта циркуляции крутящего момента, в раздаточных коробках КамАЗ
      применяют <b>межосевой дифференциал</b>, который позволяет валам привода ведущих мостов вращаться с различной частотой
      или различной угловой скоростью.
      Дифференциал КамАЗ – планетарного типа с четырьмя сателлитами, солнечной шестерней и коронной шестерней, 
      соединенной с валом привода среднего и заднего мостов.
    </p>
    <p>
      При разблокированном дифференциале обеспечивается постоянная и равномерная тяга всех мостов и устраняются
      дополнительные нагрузки в трансмиссии. В зависимости от дорожных условий дифференциал может быть выключен
      (заблокирован), и тогда валы привода переднего и задних мостов вращаются как одно целое.
    </p>
    <p>
      Межосевой дифференциал установлен в картере на двух роликовых конических подшипниках.
      Межосевой дифференциал состоит из водила с сателлитами, солнечной шестерни и эпициклической (коронной) шестерни.
    </p>
    
    <hr>
    
    <!-- wp:paragraph -->
    <p>Дифференциал в раздаточной коробке распределяет крутящий момент между приводом переднего моста и валом привода задних мостов в определенной пропорции, обусловленной внутренним передаточным отношением планетарной передачи.</p>
    <!-- /wp:paragraph -->

    <!-- wp:table -->
    <figure class="wp-block-table">
      <table class="table table-hover table-responsive-sm table-striped m-auto">
        <tbody>
          <tr>
            <td>Деталь</td>
            <td>Обозначение</td>
            <td>Кол-во</td>
          </tr>
          <tr>
            <td>1. Гайка крепления подшипника</td>
            <td>853539</td>
            <td>1</td>
          </tr>
          <tr>
            <td>2. Подшипник шариковый в сборе</td>
            <td>864750</td>
            <td>1</td>
          </tr>
          <tr>
            <td>3. Втулка шлицевая</td>
            <td>4310-1802167</td>
            <td>1</td>
          </tr>
          <tr>
            <td>4. Каретка включения первой передачи</td>
            <td>4310-1803018</td>
            <td>1</td>
          </tr>
          <tr>
            <td>5. Подшипник роликовый радиальный в сборе</td>
            <td>14.1701208</td>
            <td>2</td>
          </tr>
          <tr>
            <td>6. <a href="/kamaz-4310/catalog/zapchasti/shesternya-privoda-differentsiala-vysshej-peredachi-privoda-zadnego-mosta-4310-1802180.html">Колесо зубчатое высшей передачи привода<br>заднего моста</a></td>
            <td><a href="/kamaz-4310/catalog/zapchasti/shesternya-privoda-differentsiala-vysshej-peredachi-privoda-zadnego-mosta-4310-1802180.html">4310-1802180</a> </td>
            <td>1</td>
          </tr>
          <tr>
            <td>7. Болт самоконтрящийся</td>
            <td>1 /42334/21</td>
            <td>12</td>
          </tr>
          <tr>
            <td>8. Обойма передняя</td>
            <td>4310-1802162</td>
            <td>1</td>
          </tr>
          <tr>
            <td>9.</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>10. Колесо зубчатое привода переднего моста</td>
            <td>4310-1802112</td>
            <td>1</td>
          </tr>
          <tr>
            <td>11. Сателлит дифференциала</td>
            <td>4310-1802158</td>
            <td>4</td>
          </tr>
          <tr>
            <td>12. Втулка сателлита</td>
            <td>4310-1802159</td>
            <td>1</td>
          </tr>
          <tr>
            <td>13. То же. задняя</td>
            <td>4310-1802163</td>
            <td>1</td>
          </tr>
          <tr>
            <td>14. Болт самоконтрящийся</td>
            <td>1/42746/21</td>
            <td>4</td>
          </tr>
          <tr>
            <td>15. Штифт</td>
            <td>1/03390/11</td>
            <td>4</td>
          </tr>
          <tr>
            <td>16. Колесо зубчатое привода заднего моста в<br>сборе</td>
            <td>4310-1802144</td>
            <td>1</td>
          </tr>
          <tr>
            <td>17. Втулка ступицы шестерни</td>
            <td>4310-1802049</td>
            <td>1</td>
          </tr>
          <tr>
            <td>18.Колесо зубчатое низшей передачи привода заднего моста в сборе</td>
            <td>4310-1802189</td>
            <td>1</td>
          </tr>
          <tr>
            <td>19. Кольцо внутреннее с сепаратором в сборе</td>
            <td>864747</td>
            <td>1</td>
          </tr>
          <tr>
            <td>20. Кольцо упорное</td>
            <td>862820</td>
            <td>1</td>
          </tr>
        </tbody>
      </table>
    </figure>
    <!-- /wp:table -->
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %} 
    {% include garantiya.html %}
  <div style="height: 100px;">&nbsp;</div>
  
</div>
