---
layout: default_info
title: Корзина сцепления с кожухом КамАЗ 142.1601090 - купить в ЗапКам.Запчасти
description: Продаем Диск нажимной (корзина) сцепления с кожухом 142.1601090 (Сцепление) КамАЗ-4326, КамАЗ-5315, КамАЗ-65115, КамАЗ-5297, КамАЗ-43114, КамАЗ-4326, 740.31-240 (Евро 2), КамАЗ-53228, 65111, КамАЗ-43261 (Евро-1, 2), Д-260.5Е3. - с доставкой по всей России. В наличии новые, восстановленные, капремонт. Прайс-лист, модификации, каталог, описание, характеристики.
keywords: Диск нажимной (корзина) сцепления с кожухом 142.1601090 - КамАЗ-4326, КамАЗ-5315, КамАЗ-65115, КамАЗ-5297, КамАЗ-43114, КамАЗ-4326, 740.31-240 (Евро 2), КамАЗ-53228, 65111, КамАЗ-43261 (Евро-1, 2), Д-260.5Е3.
hero-title: Запчасти на вездеходы КамАЗ-4310, 43114, 43118, 65111
h1: Диск нажимной (корзина) сцепления с кожухом 142.1601090
h2:
phone: 9272482335
phone_title: (927) 248 23-35
---

<!-- Товар ---->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.k4310 | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
    <!-- <h3>Описание</h3> -->
    <p>

    </p>
    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %} 
    {% include garantiya.html %}
  <div style="height: 100px;">&nbsp;</div>
  
</div>
