---
layout: default_info
title: 4310-3400020-03 - ГУР КАМАЗ-4310 (под новый) - Борисов на КАМАЗ- ЗапКам.ру
description: Продаем ГУР 4310 (под новый) - Борисов, на технику КАМАЗ КамАЗ-43502 (Евро 4) (2013), КамАЗ-43253, 43255 (Евро-4) (2012), КамАЗ-43118 (Евро 4) (2012), каталожный номер - 4310-3400020-03 . Новые, с разбора, оригинал, аналоги, бу, капремонт. Цена, доставка, описание, вес, размеры.
keywords: ГУР 4310 (под новый) - Борисов  4310-3400020-03 завод, под заказ    Прочее  - КамАЗ-43502 (Евро 4) (2013), КамАЗ-43253, 43255 (Евро-4) (2012), КамАЗ-43118 (Евро 4) (2012)
hero-title: Запчасти на вездеходы КамАЗ-4310, 43114, 43118, 65111
h1: ГУР 4310 (кап.ремонт макс.) - Борисов 
h2: 4310-3400020-03
phone: 
phone_title: 
categories: [<a href='/kamaz-4310/index.html'>Запчасти на КАМАЗ-4310</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.k4310 | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12 m-auto">
    <!-- <h3>Описание</h3> -->
    <p>

    </p>
    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
