---
layout: default_info
title: 65115-2401011 - Картер заднего моста на КАМАЗ- ЗапКам.ру
description: Продаем Картер заднего моста, каталожный номер - 65115-2401011 . Новые, с разбора, оригинал, аналоги, бу, капремонт. Цена, доставка, описание, вес, размеры.
keywords: Картер заднего моста  65115-2401011 завод, под заказ    Мост задний  - 
hero-title: Запчасти на вездеходы КамАЗ-4310, 43114, 43118, 65111
h1: Картер заднего моста 
h2: 65115-2401011
phone: 
phone_title: 
categories: [<a href='/kamaz-4310/index.html'>Запчасти КАМАЗ-4310</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.k4310 | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12 m-auto">
    <!-- <h3>Описание</h3> -->
    <p>

    </p>
    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
