---
layout: default_info
title: 4310-2304064 - Кулак поворотный КАМАЗ правый длинный, 16 шлицов КамАЗ-4310
description: Продаем Кулак шарнира внутренний (поворотный кулак) правый (длинный, 16 шлицов)) 4310-2304064 переднего моста автомобилей КамАЗ-4310, КамАЗ-4326, КамАЗ-43101 - с доставкой по всей России. В наличии новые, восстановленные, капремонт. Прайс-лист, модификации, каталог, описание, характеристики.
keywords: Кулак шарнира внутренний правый  длинный, 16 шлицов 4310-2304064 - КамАЗ-4310, КамАЗ-4326, КамАЗ-43101
hero-title: Запчасти на вездеходы КамАЗ-4310, 43114, 43118, 65111
h1: Кулак шарнира внутренний правый (длинный, 16 шлицов)) 
h2: 4310-2304064
phone:
phone_title:
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.k4310 | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
    <!-- <h3>Описание</h3> -->
    <p>

    </p>
    <hr>
    <img src="/kamaz-4310/img/zap/4310-2304064_scheme1.jpg" alt="Схема - Кулак поворотный правый камаз 4310">

    <h3>Детали Кулака шарнира внутренний правый КАМАЗ (длинный, 16 шлицов) - 4310-2304064</h3>

    <table class="table table-harki table-hover table-responsive-sm table-striped wa">
      <tbody>
      <tr>
      <td>№</td>
      <td>Заводской номер</td>
      <td>Название детали</td>
      <td>Количество</td>
      </tr>
      <tr>
      <td>&nbsp;</td>
      <td>4310-2304096</td>
      <td>Кольцо уплотнительное в сборе</td>
      <td>2</td>
      </tr>
      <tr>
      <td>&nbsp;</td>
      <td>4310-2304128</td>
      <td>Кольцо упорное кулака шарнира в сборе</td>
      <td>2</td>
      </tr>
      <tr>
      <td>&nbsp;</td>
      <td>4310-2304028</td>
      <td>Корпус поворотного кулака правый в сборе</td>
      <td>1</td>
      </tr>
      <tr>
      <td>&nbsp;</td>
      <td>4310-2304012</td>
      <td>Опора шаровая поворотного кулака с шкворнями в сборе</td>
      <td>2</td>
      </tr>
      <tr>
      <td>&nbsp;</td>
      <td>864754</td>
      <td>Подшипник роликовый конический в сборе</td>
      <td>4</td>
      </tr>
      <tr>
      <td>&nbsp;</td>
      <td>4310-2304080</td>
      <td>Цапфа поворотного кулака правая в сборе</td>
      <td>1</td>
      </tr>
      <tr>
      <td>&nbsp;</td>
      <td>4310-2304078</td>
      <td>Цапфа поворотного кулака правая со втулкой в сборе</td>
      <td>1</td>
      </tr>
      <tr>
      <td>&nbsp;</td>
      <td>4310-2304019</td>
      <td>Шкворень поворотного кулака</td>
      <td>4</td>
      </tr>
      <tr>
      <td>1</td>
      <td>1/21641/11</td>
      <td>Гайка М16х1,5-6Н</td>
      <td>8</td>
      </tr>
      <tr>
      <td>2</td>
      <td>1/05172/77</td>
      <td>Шайба 16 пружинная</td>
      <td>8</td>
      </tr>
      <tr>
      <td>3</td>
      <td>4310-2304038</td>
      <td>Накладка поворотного кулака нижняя</td>
      <td>2</td>
      </tr>
      <tr>
      <td>4</td>
      <td>4310-2304074</td>
      <td>Прокладка регулировочная</td>
      <td>&nbsp;</td>
      </tr>
      <tr>
      <td>4</td>
      <td>4310-2304075</td>
      <td>Прокладка регулировочная</td>
      <td>&nbsp;</td>
      </tr>
      <tr>
      <td>4</td>
      <td>4310-2304076</td>
      <td>Прокладка регулировочная</td>
      <td>&nbsp;</td>
      </tr>
      <tr>
      <td>4</td>
      <td>4310-2304077</td>
      <td>Прокладка регулировочная</td>
      <td>&nbsp;</td>
      </tr>
      <tr>
      <td>5</td>
      <td>864755</td>
      <td>Кольцо подшипника наружное</td>
      <td>4</td>
      </tr>
      <tr>
      <td>6</td>
      <td>864756</td>
      <td>Кольцо внутреннее с сепаратором и роликами в сборе</td>
      <td>4</td>
      </tr>
      <tr>
      <td>7</td>
      <td>1/35305/31</td>
      <td>Шпилька (45993459)</td>
      <td>24</td>
      </tr>
      <tr>
      <td>8</td>
      <td>4310-2304030</td>
      <td>Корпус поворотного кулака правый</td>
      <td>&nbsp;</td>
      </tr>
      <tr>
      <td>9</td>
      <td>864006</td>
      <td>Масленка 1.3.Ц6хр.ГОСТ 19853-74</td>
      <td>4</td>
      </tr>
      <tr>
      <td>10</td>
      <td>1/18005/31</td>
      <td>Шпилька М16х1,5-6gх22х40</td>
      <td>3</td>
      </tr>
      <tr>
      <td>11</td>
      <td>4310-2304037</td>
      <td>Накладка поворотного кулака верхняя</td>
      <td>1</td>
      </tr>
      <tr>
      <td>12</td>
      <td>5320-2403072</td>
      <td>Втулка разжимная шпильки полуоси</td>
      <td>3</td>
      </tr>
      <tr>
      <td>15</td>
      <td>1/42577/21</td>
      <td>Болт самоконтрящийся</td>
      <td>1</td>
      </tr>
      <tr>
      <td>16</td>
      <td>1/61015/21</td>
      <td>Гайка М12х1,25-6Н</td>
      <td>48</td>
      </tr>
      <tr>
      <td>17</td>
      <td>1/05170/77</td>
      <td>Шайба 12 пружинная</td>
      <td>52</td>
      </tr>
      <tr>
      <td>18</td>
      <td>4310-2403072</td>
      <td>Втулка разжимная шпильки полуоси заднего моста</td>
      <td>24</td>
      </tr>
      <tr>
      <td>19</td>
      <td>853312</td>
      <td>Шпилька</td>
      <td>4</td>
      </tr>
      <tr>
      <td>20</td>
      <td>4310-2304090</td>
      <td>Фланец ведущий ступицы переднею колеса</td>
      <td>2</td>
      </tr>
      <tr>
      <td>21</td>
      <td>4310-2304091</td>
      <td>Прокладка полуоси</td>
      <td>2</td>
      </tr>
      <tr>
      <td>22</td>
      <td>4310-2304084</td>
      <td>Цапфа правая</td>
      <td>1</td>
      </tr>
      <tr>
      <td>23</td>
      <td>4310-2304083</td>
      <td>Втулка</td>
      <td>2</td>
      </tr>
      <tr>
      <td>24</td>
      <td>4310-2304129</td>
      <td>Кольцо упорное</td>
      <td>2</td>
      </tr>
      <tr>
      <td>25</td>
      <td>1/42381/21</td>
      <td>Болт самоконтрящийся</td>
      <td>8</td>
      </tr>
      <tr>
      <td>26</td>
      <td>4310-2304068</td>
      <td>Шайба упорная</td>
      <td>2</td>
      </tr>
      <tr>
      <td>27</td>
      <td>4310-2304064</td>
      <td>Кулак шарнира внутренний правый</td>
      <td>1</td>
      </tr>
      <tr>
      <td>28</td>
      <td>4310-2304066</td>
      <td>Вкладыш кулака шарнира</td>
      <td>4</td>
      </tr>
      <tr>
      <td>29</td>
      <td>1/55404/21</td>
      <td>Болт М12х1,25-6gх30</td>
      <td>4</td>
      </tr>
      <tr>
      <td>30</td>
      <td>4310-2304067</td>
      <td>Диск шарнира</td>
      <td>2</td>
      </tr>
      <tr>
      <td>31</td>
      <td>1/35302/31</td>
      <td>Шпилька</td>
      <td>20</td>
      </tr>
      <tr>
      <td>32</td>
      <td>4310-2304062</td>
      <td>Кулак шарнира переднего моста наружный</td>
      <td>2</td>
      </tr>
      <tr>
      <td>33</td>
      <td>864000</td>
      <td>Клапан предохранительный на давление 0,12-0,24 кг/см2</td>
      <td>2</td>
      </tr>
      <tr>
      <td>34</td>
      <td>1/59805/21</td>
      <td>Болт ограничивающий поворот колес</td>
      <td>&nbsp;</td>
      </tr>
      <tr>
      <td>35</td>
      <td>1/42717/21</td>
      <td>Болт самоконтрящийся</td>
      <td>2</td>
      </tr>
      <tr>
      <td>36</td>
      <td>1/21642/11</td>
      <td>Гайка</td>
      <td>16</td>
      </tr>
      <tr>
      <td>37</td>
      <td>1/05173/77</td>
      <td>Шайба пружинная</td>
      <td>16</td>
      </tr>
      <tr>
      <td>38</td>
      <td>1/35647/31</td>
      <td>Шпилька</td>
      <td>16</td>
      </tr>
      <tr>
      <td>39</td>
      <td>864169</td>
      <td>Сальник шаровой опоры в сборе</td>
      <td>2</td>
      </tr>
      <tr>
      <td>40</td>
      <td>4310-2304092</td>
      <td>Обойма сальника</td>
      <td>2</td>
      </tr>
      <tr>
      <td>41</td>
      <td>4310-2304093</td>
      <td>Манжета сальника</td>
      <td>2</td>
      </tr>
      <tr>
      <td>42</td>
      <td>4310-2304095</td>
      <td>Кольцо распорное</td>
      <td>2</td>
      </tr>
      <tr>
      <td>43</td>
      <td>4310-2304099</td>
      <td>Кольцо уплотнительное внутреннее</td>
      <td>2</td>
      </tr>
      <tr>
      <td>44</td>
      <td>4310-2304097</td>
      <td>Крышка сальника</td>
      <td>2</td>
      </tr>
      <tr>
      <td>45</td>
      <td>1/38255/11</td>
      <td>Болт с пружинной шайбой в сборе</td>
      <td>24</td>
      </tr>
      <tr>
      <td>46</td>
      <td>4310-2304089</td>
      <td>Кольцо уплотнительное наружное</td>
      <td>2</td>
      </tr>
      <tr>
      <td>47</td>
      <td>4310-2304094</td>
      <td>Пружина сальника</td>
      <td>2</td>
      </tr>
      <tr>
      <td>48</td>
      <td>4310-2304098</td>
      <td>Прокладка</td>
      <td>2</td>
      </tr>
      <tr>
      <td>49</td>
      <td>864341</td>
      <td>Пробка КГ 1/8"</td>
      <td>2</td>
      </tr>
      <tr>
      <td>50</td>
      <td>4310-2304014</td>
      <td>Опора шаровая</td>
      <td>2</td>
      </tr>
      <tr>
      <td>51</td>
      <td>4310-2304035</td>
      <td>Втулка шаровой опоры</td>
      <td>2</td>
      </tr>
      <tr>
      <td>53</td>
      <td>4310-2304049</td>
      <td>Заглушка корпуса</td>
      <td>2</td>
      </tr>
      </tbody>
      </table>
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %} 
    {% include garantiya.html %}
  <div style="height: 100px;">&nbsp;</div>
  
</div>
