---
layout: default_info
title: 43114-1803012 - Механизм включения высшей передачи КамАЗ-43114 - ЗапКам.ру
description: Продаем Механизм включения высшей передачи 43114-1803012 раздаточной коробки на  КамАЗ-4326, КамАЗ-43114, КамАЗ-43118, КамАЗ-4326 (каталог 2003г), КамАЗ-53228, 65111, КамАЗ-43261 (Евро-1, 2). - с доставкой по всей России. В наличии новые, восстановленные, капремонт. Прайс-лист, модификации, каталог, описание, характеристики.
keywords: Механизм включения высшей передачи 43114-1803012 - КамАЗ-4326, КамАЗ-43114, КамАЗ-43118, КамАЗ-4326 (каталог 2003г), КамАЗ-53228, 65111, КамАЗ-43261 (Евро-1, 2).
hero-title: Запчасти на вездеходы КамАЗ-4310, 43114, 43118, 65111
h1: Механизм включения высшей передачи КАМАЗ
h2: 43114-1803012
phone:
phone_title:
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.k4310 | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
  <h3>Описание механизмов включения высшей и низшей передач.</h3>
  <p>
  </p><p>
    Механизмы устанавливаются на передний торец крышки картера раздаточной коробки. Механизмы по своему устройству
    аналогичны друг другу, отличается длиной штоков и установкой вилок включения.
  </p><p>      
    При отсутствии воздуха в пневмосистеме автомобиля или при включенной низшей передаче краном управления ручка крана
    повернута влево, воздух в пневмо-камерах отсутствует. Штоки с вилками под действием усилия пружин перемещаются в крайнее
    левое положение. В этом состоянии штоков и вилок в раздаточной коробке включена первая (низшая) передача.
  </p><p>      
    При подаче воздуха в верхнюю пневмо-камеру первой передачи шток с вилкой под действием поступающего воздуха под диафрагму
    перемещает муфту в раздаточной коробке вправо. Первая передача выключается. В раздаточной коробке включена нейтраль.
    Положение ручки крана вниз вертикально.
  </p><p>      
    При подаче воздуха в обе пневмо-камеры одновременно рукоятка переключается вправо, в раздаточной коробке включается
    вторая (высшая) передача.
  </p><p>      
    Переключение передач необходимо производить только при остановленном автомобиле и выжатой педали сцепления.
  </p><p>      
    В пневмо-камерах предусмотрено устройство для принудительного перемещения штоков механическим способом - винтами.
    <br>- В исходном состоянии оба винта должны быть повернуты вправо, по часовой стрелке, до отказа.
    <br>- При неисправном автомобиле, например, при отсутствии воздуха и необходимости буксировки, может быть включена
    нейтраль в раздаточной коробке вращением винта верхнего механизма 1 влево, против часовой стрелки, до упора.
    <br>- Для экстренного движения на высшей передаче она может быть включена принудительно вращением винтов 
    1 на обоих механизмах влево, против часовой стрелки, до упора.
    <br>- После устранении неисправности на автомобиле оба винта должны быть возвращены в исходное состояние вращением вправо, по часовой стрелке, до упора.
  </p>
  
    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %} 
    {% include garantiya.html %}
  <div style="height: 100px;">&nbsp;</div>
  
</div>
