---
layout: default_info
title: 65111-1802155-10 - Обойма дифференциала раздатки с сателлитами КамАЗ-65111
description: Продаем Обойма дифференциала с сателлитами 65111-1802155-10 раздаточной коробки на  КамАЗ-43261 (Евро-1, 2). - с доставкой по всей России. В наличии новые, восстановленные, капремонт. Прайс-лист, модификации, каталог, описание, характеристики.
keywords: Обойма дифференциала РК (раздаточной коробки) с сателлитами 65111-1802155-10 - КамАЗ-43261 (Евро-1, 2).
hero-title: Запчасти на вездеходы КамАЗ-4310, 43114, 43118, 65111
h1: Обойма дифференциала РК (раздаточной коробки) КАМАЗ с сателлитами
h2: 65111-1802155-10
phone:
phone_title:
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.k4310 | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
    <!-- <h3>Описание</h3> -->
    <p>
      Передняя обойма представляет собой пустотелый вал с фланцем.
      Внутреннее отверстие вала предназначено для прохождения вала привода переднего моста.
      На переднем конце вала нарезаны шлицы для соединения с муфтой блокировки межосевого дифференциала.
    </p>
    <p>
      Передняя шлицованная часть вала передней обоймы переходит в цилиндрическую шейку,
      на которую до упора в торец шлицевой втулки напрессовано внутреннее кольцо конического подшипника.
      
      От осевых перемещений кольцо зафиксировано стопорным кольцом, установленным в канавке обоймы.
      Наружная обойма подшипника по посадке скольжения установлена в крышке картера раздаточной коробки
      и фиксируется картером привода переднего моста.
    </p>
    
    <p>Альтернативные описания: Обойма КАМАЗ дифференциала РК <br />
      Применяется для трансмиссии и коробки раздаточной в моделях КАМАЗ-43261 (Евро-1, 2)
  </p>
    <hr>
    <h3>Комплектация</h3>
    <table class="table table-hover table-responsive-sm table-striped m-auto">
    <tbody>
    <tr>
    <td>№</td>
    <td>Обозначение</td>
    <td>Кол-во</td>
    <td>Название</td>
    </tr>
    <tr>
    <td>1</td>
    <td>65111-1802160-10</td>
    <td>1</td>
    <td>Обойма дифференциала раздаточной коробки</td>
    </tr>
    <tr>
    <td>3</td>
    <td>65111-1802112</td>
    <td>1</td>
    <td>Шестерня привода переднего моста</td>
    </tr>
    <tr>
    <td>5</td>
    <td>65111-1802158</td>
    <td>4</td>
    <td>Сателлит дифференциала</td>
    </tr>
    </tbody>
    </table>
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %} 
    {% include garantiya.html %}
  <div style="height: 100px;">&nbsp;</div>
  
</div>
