---
layout: default_info
title: 4310-2304012 - Опора шаровая поворотного кулака с шкворнями КамАЗ-4310
description: Продаем Опора шаровая поворотного кулака с шкворнями в сборе 4310-2304012 переднего моста автомобилей КамАЗ-4310, КамАЗ-43101, КамАЗ-43114, КамАЗ-43118, КамАЗ-4326, КамАЗ-43261 (Евро-1, 2), КамАЗ-4350 (4х4), КамАЗ-43501 (4х4), КамАЗ-53228, 65111 - с доставкой по всей России. В наличии новые, восстановленные, капремонт. Прайс-лист, модификации, каталог, описание, характеристики.
keywords: Опора шаровая поворотного кулака с шкворнями в сборе 4310-2304012 - КамАЗ-4310, КамАЗ-43101, КамАЗ-43114, КамАЗ-43118, КамАЗ-4326, КамАЗ-43261 (Евро-1, 2), КамАЗ-4350 (4х4), КамАЗ-43501 (4х4), КамАЗ-53228, 65111
hero-title: Запчасти на вездеходы КамАЗ-4310, 43114, 43118, 65111
h1: Опора шаровая поворотного кулака с шкворнями в сборе 
h2: 4310-2304012
phone:
phone_title:
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.k4310 | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
     <h3>Описание</h3> 
    <p>
      Опора шаровая КАМАЗ-4310 в сборе со шкворнями<br />
      Применяется для автомобилей КамАЗ-4310, КамАЗ-43101, КамАЗ-43101, КамАЗ-4310 (каталог 2004 г), КамАЗ-43114, КамАЗ-43114, КамАЗ-43114, КамАЗ-43114, КамАЗ-43114, КамАЗ-43118<br />Применяется для переднего ведущего моста автомобиля.
  </p>
    
  <hr>

  <p>&nbsp;</p>
  <img src="/kamaz-4310/info/img/4310-2304012-opora-sharovaia-chertezh.jpg" alt="Схема - Опора шаровая 4310-2304012">
  
  <h3>Каталог деталей Опора шаровая поворотного кулака с шкворнями КАМАЗ 4310-2304012</h3>
  <table class="table table-hover table-responsive-sm table-striped wa">
      <tbody>
      <tr>
      <td>Поз.</td>
      <td>Обозначение</td>
      <td>Кол-во</td>
      <td>Наименование</td>
      </tr>
      <tr>
      <td>1</td>
      <td>43114-2304014</td>
      <td>1</td>
      <td>Опора шаровая поворотного кулака</td>
      </tr>
      <tr>
      <td>2</td>
      <td>4310-2304019</td>
      <td>2</td>
      <td>Шкворень поворотного кулака (сварка)</td>
      </tr>
      <tr>
      <td>3</td>
      <td>43114-2304035</td>
      <td>1</td>
      <td>Втулка шаровой опоры</td>
      </tr>
      <tr>
      <td>4</td>
      <td>4310-2304068</td>
      <td>1</td>
      <td>Шайба упорная</td>
      </tr>
      <tr>
      <td>5</td>
      <td>43114-2304069</td>
      <td>1</td>
      <td>Шайба</td>
      </tr>
      <tr>
      <td>7</td>
      <td>864169</td>
      <td>1</td>
      <td>Манжета с пружиной</td>
      </tr>
      </tbody>
    </table>


    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %} 
    {% include garantiya.html %}
  <div style="height: 100px;">&nbsp;</div>
  
</div>
