---
layout: default_info
title: 43118-2403070 - Полуось правая КамАЗ-43118 - ЗапКам.Запчасти
description: Продаем Полуось правая 43118-2403070 заднего моста автомобилей КамАЗ-43114, КамАЗ-43118, КамАЗ-4326, КамАЗ-43501 (4х4), КамАЗ-53501 (6х6), КамАЗ-53504 (6х6), КамАЗ-6450 8х8, КамАЗ-63501 8х8, КамАЗ-4350 (4х4), КамАЗ-5350 (6х6), КамАЗ-6350 (8х8), КамАЗ-43261 (Евро-1, 2). - с доставкой по всей России. В наличии новые, восстановленные, капремонт. Прайс-лист, модификации, каталог, описание, характеристики.
keywords: Полуось правая 43118-2403070 - КамАЗ-43114, КамАЗ-43118, КамАЗ-4326, КамАЗ-43501 (4х4), КамАЗ-53501 (6х6), КамАЗ-53504 (6х6), КамАЗ-6450 8х8, КамАЗ-63501 8х8, КамАЗ-4350 (4х4), КамАЗ-5350 (6х6), КамАЗ-6350 (8х8), КамАЗ-43261 (Евро-1, 2).
hero-title: Запчасти на вездеходы КамАЗ-4310, 43114, 43118, 65111
h1: Полуось правая
h2: 43118-2403070
phone:
phone_title:
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.k4310 | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
    <h3>Описание</h3>
    <p>Полуось заднего моста расположена в балке ведущего моста. 
      На внешних концах полуосей имеются фланцы, к которым прикреплены тормозные барабаны и колеса. 
      Внутренние концы полуосей имеют эвольвентные шлицы.<br />
      Применяется для заднего моста автомобилей КамАЗ-43114, КамАЗ-43118, КамАЗ-43261
      <br />Вес, кг 19.88<br />L=1028 мм.<br />
      Внешне они схожи с 43114-2403070. Отличаются только материалом. На автомобилях 43118 как более нагруженный, ставят полуось 43118 изготовленная из более прочного материала. По твердости они идентичны.</p>
  
    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %} 
    {% include garantiya.html %}
  <div style="height: 100px;">&nbsp;</div>
  
</div>
