---
layout: default_info
title: 43114-1802189 - Шестерня низшей передачи раздатки (43зуб, с бронз.втулкой) КамАЗ - ЗапКам
description: Продаем Шестерня низшей передачи раздаточной коробки (43зуб, с бронз.втулкой) 43114(4310) 43114-1802189 раздаточной коробки на  КамАЗ-43114, КамАЗ-43118, КамАЗ-4326 (каталог 2003г), КамАЗ-43261 (Евро-1, 2), КамАЗ-53228, 65111 - с доставкой по всей России. В наличии новые, восстановленные, капремонт. Прайс-лист, модификации, каталог, описание, характеристики.
keywords: Шестерня низшей передачи раздаточной коробки (43зуб, с бронз.втулкой) 43114(4310) 43114-1802189 - КамАЗ-43114, КамАЗ-43118, КамАЗ-4326 (каталог 2003г), КамАЗ-43261 (Евро-1, 2), КамАЗ-53228, 65111
hero-title: Запчасти на вездеходы КамАЗ-4310, 43114, 43118, 65111
h1: Шестерня низшей передачи раздаточной коробки (43зуб, с бронз.втулкой) 43114(4310) 43114-1802189
h2:
phone:
phone_title:
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.k4310 | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
    <h3>Описание</h3>
    <p>на 43114 посад. место короче чем на 4310 и без паза под стопорное кольцо</p>
    
    <hr>
    <p>
      <b>Дифференциал 43114 отличается от 4310 следующим</b>: <br>
       1. Вместо обоймы дифференциала 4310-1802155 установлена обойма 43114-1802155, которая отличается от 4310 способом
        крепления к <b>шестерни низшей передачи 43114-1802189</b>, где вместо болта и стопорной пластины установлены  шпилька, 
        гайка и втулка разжимная 43114-1802221 и кроме того в обойме под втулку  расточено конусное отверстие, 
        <br>
        2. Вместо шестерни низшей передачи 4310-1802189 установлена 43114 с  измененной ступицей 43114-1802049 (на 9 мм  стала уже) 
        и втулка 43114 1802168 (так же меньше на 9 мм по ширине).
        <br>

        Установка 43114 вместо 4310 возможна.
    </p>
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %} 
    {% include garantiya.html %}
  <div style="height: 100px;">&nbsp;</div>
  
</div>
