---
layout: default_info
title: 5320-2402110-10 - Шестерня ведущая цилиндрическая 13 зубьев КамАЗ - ЗапКам.ру
description: Продаем Шестерня ведущая цилиндрическая (13 зубьев) 5320-2402110-10 заднего моста автомобилей КамАЗ-43261 (Евро-1, 2), КамАЗ-53228, 65111, КамАЗ-65115, КамАЗ-65116 - с доставкой по всей России. В наличии новые, восстановленные, капремонт. Прайс-лист, модификации, каталог, описание, характеристики.
keywords: Шестерня ведущая цилиндрическая (13 зубьев) 5320-2402110-10 - КамАЗ-43261 (Евро-1, 2), КамАЗ-53228, 65111, КамАЗ-65115, КамАЗ-65116
hero-title: Запчасти на вездеходы КамАЗ-4310, 43114, 43118, 65111
h1: Шестерня ведущая цилиндрическая (13 зубьев)
h2: 5320-2402110-10
phone:
phone_title:
categories: [<a href='/kamaz-4310/category/shesterny_kamaz.html'>Шестерни КАМАЗ</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.k4310 | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
    <h3>Описание</h3>
    <p>Шестерня имеет круглую форму с зубьями по краю. Основная функция шестерни передача вращательного движения от одной
      оси к другой.<br />Применяется для заднего моста автомобилей КамАЗ-5320, КамАЗ-53212, КамАЗ-5410, КамАЗ-54112, КамАЗ-5511<br />
      <br />
      С <a href="/kamaz-4310/catalog/zapchasti/shesternya-vedomaya-tsilindricheskaya-49-zubev-5320-2402120-10.html" class="u">5320-2402120-10 ШЕСТЕРНЯ ВЕДОМАЯ Z=49 ЗУБЬЕВ</a> образует передаточное число 6,53</p>
    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %} 
    {% include garantiya.html %}
  <div style="height: 100px;">&nbsp;</div>
  
</div>
