---
layout: default_info
title: 53212-2506130 - Шестерня привода среднего моста коническая КамАЗ-53212 - ЗапКам
description: Продаем Шестерня привода среднего моста коническая 53212-2506130 заднего моста автомобилей КамАЗ-65115, КамАЗ-6540, КамАЗ-43118, КамАЗ-53228, 65111, КамАЗ-65116, КамАЗ-43501 (4х4), КамАЗ-53501 (6х6), КамАЗ-53504 (6х6), КамАЗ-6450 8х8, КамАЗ-63501 8х8, КамАЗ-43261 (Евро-1, 2). - с доставкой по всей России. В наличии новые, восстановленные, капремонт. Прайс-лист, модификации, каталог, описание, характеристики.
keywords: Шестерня привода среднего моста коническая 53212-2506130 - КамАЗ-65115, КамАЗ-6540, КамАЗ-43118, КамАЗ-53228, 65111, КамАЗ-65116, КамАЗ-43501 (4х4), КамАЗ-53501 (6х6), КамАЗ-53504 (6х6), КамАЗ-6450 8х8, КамАЗ-63501 8х8, КамАЗ-43261 (Евро-1, 2).
hero-title: Запчасти на вездеходы КамАЗ-4310, 43114, 43118, 65111
h1: Шестерня привода среднего моста коническая КАМАЗ
h2: 53212-2506130
phone:
phone_title:
categories: [<a href='/kamaz-4310/category/shesterny_kamaz.html'>Шестерни КАМАЗ</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.k4310 | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
    <h3>Описание</h3>
    <p>Шестерня коническая. Шестерня имеет круглую форму с зубьями по краю. 
      <br>Основная функция шестерни передача вращательного движения от одной оси к другой.
      <br>Дополнительное описание - Шестерня КАМАЗ дифференциала межосевого (ОАО КАМАЗ)<br />
      Применяется для среднего (промежуточного) моста автомобилей КАМАZ – 53212, 55111, 65111.
      <br />Характеристики:<br />Ширина, м 0.104<br />Высота, м 0.073<br />Длина, м 0.104<br />Вес, кг 1.48<br />Цементация поверхности детали на глубину до 1,4 мм гарантирует твердость до 63 HRC.<br />Для защиты от коррозии детали покрываются противозадирным химическим фосфатным составом.<br />Гарантированный ресурс детали – 350 тыс. км.</p>
  
    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %} 
    {% include garantiya.html %}
  <div style="height: 100px;">&nbsp;</div>
  
</div>
