---
layout: default_info
title: 154.1770160 - Синхронизатор делителя КПП-154 КамАЗ
description: Продаем Синхронизатор делителя передач КПП-154, артикул-154.1770160 коробки передач автомобилей КамАЗ - с доставкой по всей России. В наличии новые, восстановленные, капремонт. Прайс-лист, модификации, каталог, описание, характеристики.
keywords: Синхронизатор делителя передач КПП 154.1770160 - КамАЗ-65115, КамАЗ-6540, КамАЗ-43118, 740.31-240 (Евро 2), КамАЗ-43261 (Евро-1, 2).
hero-title: Запчасти на вездеходы КамАЗ-4310, 43114, 43118, 65111
h1: Синхронизатор делителя передач КПП 154
h2: 154.1770160
phone:
phone_title:
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.k4310 | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
    <h3>Описание</h3> 
    <p>
      Синхронизатор КАМАЗ делителя КПП-154. <br>
      Применяется для трансмиссии и коробки передач в моделях КАМАЗ- 65116, КАМАЗ-43501, КАМАЗ-53501, КАМАЗ-53504, КАМАЗ-6450, КАМАЗ-63501, КАМАЗ-4350, КАМАЗ-5350, КАМАЗ-6350, 740.30-260 (Евро 2) 
      <br>Ширина, м - 0.195 Высота, м - 0.087 Длина, м - 0.195 Вес, кг – 5.28
    </p>
    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %} 
    {% include garantiya.html %}
  <div style="height: 100px;">&nbsp;</div>
  
</div>
