---
layout: default_info
title: 43114-2304080 - Цапфа поворотного кулака КамАЗ-43114
description: Продаем Цапфа поворотного кулака в сборе 43114-2304080 (Подвод воздуха к шинам) КамАЗ-43501 (4х4), КамАЗ-53501 (6х6), КамАЗ-53504 (6х6), КамАЗ-6450 8х8, КамАЗ-63501 8х8, КамАЗ-43261 (Евро-1, 2). - с доставкой по всей России. В наличии новые, восстановленные, капремонт. Прайс-лист, модификации, каталог, описание, характеристики.
keywords: Цапфа поворотного кулака в сборе 43114-2304080 - КамАЗ-43501 (4х4), КамАЗ-53501 (6х6), КамАЗ-53504 (6х6), КамАЗ-6450 8х8, КамАЗ-63501 8х8, КамАЗ-43261 (Евро-1, 2).
hero-title: Запчасти на вездеходы КамАЗ-4310, 43114, 43118, 65111
h1: Цапфа поворотного кулака в сборе
h2: 43114-2304080
phone:
phone_title:
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.k4310 | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
    <!-- <h3>Описание</h3> -->
    <p>

      <hr>

      <p>&nbsp;</p>
      <img src="/kamaz-4310/info/img/43114-2304080-tcapfa-povorotnogo-kulaka-chertezh.jpg" alt="Схема - Цапфа поворотного кулака 43114-2304080">
      
      <h3>Каталог деталей - Цапфа поворотного кулака 43114-2304080</h3>
      <table class="table table-hover table-responsive-sm table-striped wa">
        <tbody>
          <tr>
            <td>Поз.</td>
            <td>Обозначение</td>
            <td>Кол-во</td>
            <td>Наименование</td>
          </tr>
          <tr>
            <td>1</td>
            <td>43114-2304078</td>
            <td>1</td>
            <td>Цапфа поворотного кулака со втулкой</td>
          </tr>
          <tr>
            <td>2</td>
            <td>4310-2304128</td>
            <td>1</td>
            <td>Кольцо упорное кулака шарнира полуоси</td>
          </tr>
          <tr>
            <td>5</td>
            <td>4310-3124065</td>
            <td>1</td>
            <td>Штуцер ввёртный</td>
          </tr>
          <tr>
            <td>6</td>
            <td>4310-3124067</td>
            <td>1</td>
            <td>Переходник системы накачки шин передних колёс</td>
          </tr>
          <tr>
            <td>7</td>
            <td>4310-3124079</td>
            <td>2</td>
            <td>Кольцо уплотнительное</td>
          </tr>
          <tr>
            <td>9</td>
            <td>1/42381/31</td>
            <td>4</td>
            <td>Болт самоконтрящийся М8х1,25-6дх25 табл. ВАЗ 10357</td>
          </tr>
          <tr>
            <td>10</td>
            <td>620-3124027</td>
            <td>1</td>
            <td>Пружина распорная</td>
          </tr>
          <tr>
            <td>10А</td>
            <td>43114-3124027</td>
            <td>1</td>
            <td>Пружина распорная</td>
          </tr>
          <tr>
            <td>11А</td>
            <td>43114-3124044</td>
            <td>2</td>
            <td>Кольцо опорное</td>
          </tr>
          <tr>
            <td>11</td>
            <td>620-3124044</td>
            <td>2</td>
            <td>Кольцо опорное</td>
          </tr>
          <tr>
            <td>12</td>
            <td>620-3124050</td>
            <td>2</td>
            <td>Манжета в сборе</td>
          </tr>
          <tr>
            <td>12А</td>
            <td>43114-3124050</td>
            <td>2</td>
            <td>Манжета</td>
          </tr>
          <tr>
            <td>13</td>
            <td>620-3124063</td>
            <td>1</td>
            <td>Штуцер</td>
          </tr>
          <tr>
            <td>13А</td>
            <td>43114-3124063</td>
            <td>1</td>
            <td>Штуцер</td>
          </tr>
        </tbody>
      </table>
    
    
        <hr>
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %} 
    {% include garantiya.html %}
  <div style="height: 100px;">&nbsp;</div>
  
</div>
