---
layout: default_info
title: Цапфа левая в сборе 43114/4310 4310-2401081  цена, фото, описание, применимость - ЗапКам.Запчасти
description: Продаем Цапфа левая в сборе 43114/4310 4310-2401081 (Подвод воздуха к шинам) КамАЗ-4310, КамАЗ-43101, КамАЗ-43114, КамАЗ-43118, КамАЗ-4326, КамАЗ-43261 (Евро-1, 2), КамАЗ-4350 (4х4), КамАЗ-43501 (4х4) - с доставкой по всей России. В наличии новые, восстановленные, капремонт. Прайс-лист, модификации, каталог, описание, характеристики.
keywords: Цапфа левая в сборе 43114/4310 4310-2401081 - КамАЗ-4310, КамАЗ-43101, КамАЗ-43114, КамАЗ-43118, КамАЗ-4326, КамАЗ-43261 (Евро-1, 2), КамАЗ-4350 (4х4), КамАЗ-43501 (4х4)
hero-title: Запчасти на вездеходы КамАЗ-4310, 43114, 43118, 65111
h1: Цапфа левая в сборе 43114/4310 4310-2401081
h2:
phone: 9272482335
phone_title: +7 (927) 248 23-35
---

<!-- Товар ---->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.k4310 | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
    <!-- <h3>Описание</h3> -->
    <p>

    </p>
    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
  <div style="height: 100px;">&nbsp;</div>
  
</div>
