---
layout: default_info
title: 4310-1802024 - Вал первичный раздатки КамАЗ-4310 - ЗапКам.ру
description: Продаем Вал первичный в сборе 4310-1802024 раздаточной коробки на  КамАЗ-4310, КамАЗ-43101 - с доставкой по всей России. В наличии новые, восстановленные, капремонт. Прайс-лист, модификации, каталог, описание, характеристики.
keywords: Вал первичный РК (раздаточной коробки) в сборе 4310-1802024 - КамАЗ-4310, КамАЗ-43101
hero-title: Запчасти на вездеходы КамАЗ-4310, 43114, 43118, 65111
h1: Вал первичный РК (раздаточной коробки) в сборе
h2: 4310-1802024
phone:
phone_title:
categories: [<a href='/kamaz-4310/category/valy_kamaz.html'>Валы КАМАЗ</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.k4310 | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
    <!-- <h3>Описание</h3> -->
    <p>
      Первичный вал воспринимает крутящий момент от коробки передач. Установлен на двух роликовых конических подшипниках.
      Передний роликовый конический подшипник первичного вала раздаточной коробки установлен в расточке переднего торца крышки картера.
      Задний роликовый конический подшипник установлен в расточке прилива средней части картера раздаточной коробки.
    </p>
    <p><img src="/kamaz-4310/category/img/val_pervichnyi.jpg" alt="Вал первичный"></p>
    <p>
      В средней части первичного вала нарезаны шлицы, на которых установлена шестерня первичного вала. 
      Шестерня первичного вала - косозубая, находится в постоянном зацеплении с шестерней привода промежуточного вала.
      На цилиндрический поясок шестерни приварена шестерня отбора мощности.
      Осевые перемещения шестерни первичного вала ограничены с одной стороны буртиком первичного вала, 
      с другой стороны - внутренним кольцом переднего подшипника.
    </p>
    <p>На вал установлена на шлицах шестерня с приваренной к ней шестерней отбора мощности, подшипники 1 и 5 без наружных
      колец. Наружные кольца подшипников для удобства сборки устанавливаются, соответственно, в крышку картера и картер.
    </p>
    <hr>
    

    <h3>Комплектация вала первичного раздаточной коробки 4310-1802024</h3>
    <table class="table table-hover table-responsive-sm table-striped m-auto">
        
      <thead>
          <tr>
              <th>Номер</tр>
              <th>Наименование</th>
          </tr>
      </thead>

      <tbody>
       
      <tr>
      <td width="182">4310-1802025</td>
      <td width="664">Вал первичный</td>
      </tr>
      <tr>
      <td>4310-1802034</td>
      <td>Шестерня ведущая первичного вала в сборе</td>
      </tr>
      <tr>
      <td>4310-1802036</td>
      <td>Шестерня ведущая</td>
      </tr>
      <tr>
      <td>4310-1802040</td>
      <td>Шестерня привода коробки отбора мощности</td>
      </tr>
      <tr>
      <td>853804</td>
      <td>Шпонка сегментная</td>
      </tr>
      <tr>
      <td>862811</td>
      <td>Кольцо упорное</td>
      </tr>
      <tr>
      <td>864741</td>
      <td>Подшипник роликовый в сборе</td>
      </tr>
      <tr>
      <td>864742</td>
      <td>Кольцо внутреннее в сборе</td>
      </tr>
      <tr>
      <td>864759</td>
      <td>Подшипник роликовый в сборе</td>
      </tr>
      <tr>
      <td>864765</td>
      <td>Кольцо внутреннее в сборе</td>
      </tr>
      </tbody>
      </table>


    <p></p>
    <p>
      <iframe width="800" height="450" class="lozad" data-src="https://www.youtube.com/embed/m6WCmhfBtLc" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </p>
    <p>
      <iframe width="800" height="450" class="lozad" data-src="https://www.youtube.com/embed/HGn1CllSEkg" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </p>

    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %} 
    {% include garantiya.html %}
  <div style="height: 100px;">&nbsp;</div>
  
</div>
