---
layout: default_info
title: 4310-1802085 - Вал промежуточный раздатки КамАЗ
description: Продаем Вал промежуточный голый 4310-1802085 раздаточной коробки на КамАЗ-4310, КамАЗ-43101 - с доставкой по всей России. В наличии новые, восстановленные, капремонт. Прайс-лист, модификации, каталог, описание, характеристики.
keywords: Вал промежуточный РК (раздаточной коробки) голый 4310-1802085 - КамАЗ-4310, КамАЗ-43101
hero-title: Запчасти на вездеходы КамАЗ-4310, 43114, 43118, 65111
h1: Вал промежуточный РК (раздаточной коробки) голый 
h2: 4310-1802085
phone:
phone_title:
categories: [<a href='/kamaz-4310/category/valy_kamaz.html'>Валы КАМАЗ</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.k4310 | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
    <!-- <h3>Описание</h3> -->
    <p>
      <b>Промежуточный вал</b> - вал, воспринимающий крутящий момент от первичного вала раздаточной коробки.
    </p>
    <p>
      Промежуточный вал установлен в средней расточке картера на двух роликовых конических подшипниках.
      Передний роликовый конический подшипник промежуточного вала раздаточной коробки установлен в расточке переднего торца крышки картера.
      Задний роликовый конический подшипник установлен в расточке заднего торца картера раздаточной коробки.
    </p>
    <p><img src="https://zap-kam.ru/kamaz-4310/category/img/val_promezhutochnyi_2.jpg" alt="Вал промежуточный"> </p>
    <p><img src="https://zap-kam.ru/kamaz-4310/category/img/val_promezhutochnyi.jpg" alt="Вал промежуточный"></p>
    <p>
      Внутренние кольца конических подшипников 6 промежуточного вала напрессованы на переднюю и заднюю цилиндрические шейки 
      вала 3 до упора переднего кольца в торец шестерни 1 привода промежуточного вала, 
      а заднего - в торец упорной шайбы 5. 
      Внутренние кольца 6 фиксируются от осевых перемещений на валу 3 стопорными кольцами 7, 
      установленными в канавках промежуточного вала. 
    </p><p>
      На левую цилиндрическую шейку промежуточного вала 3 до упора в буртик напрессована шестерня 1 привода
      промежуточного вала. Шестерня 1 привода промежуточного вала косозубая, находится в постоянном зацеплении с шестернями
      первичного вала и межосевого дифференциала. Шестерня 1 имеет наружный цилиндрический зубчатый венец, предназначенный для
      передачи крутящего момента на шестерню 4 первой передачи промежуточного вала 3. 
    </p>

    <hr>

    <h3>Размеры и допустимый износ промежуточного вала раздаточной коробки</h3>
<table class="table table-hover table-responsive-sm table-striped m-auto">
<tbody>
<tr>
<td>Параметр</td>
<td>Номинальный, мм</td>
<td>Допустимый, мм</td>
</tr>
<tr>
<td>Диаметр шейки под передний подшипник</td>
<td>65,003...65,023</td>
<td>64,992</td>
</tr>
<tr>
<td>Диаметр шейки под задний подшипник</td>
<td>49,992...50,008</td>
<td>49,984</td>
</tr>
<tr>
<td>Наружный диаметр стакана заднего подшипника</td>
<td>119,988...120,012</td>
<td>119,978</td>
</tr>
<tr>
<td>Диаметр шейки под зубчатые колеса</td>
<td>70,045... 70,065</td>
<td>70,035</td>
</tr>
<tr>
<td>Диаметр шейки под зубчатые колеса третьей передачи привода</td>
<td>65,290...65,320</td>
<td>65,280</td>
</tr>
<tr>
<td>Диаметр шейки под зубчатые колеса промежуточного вала четвертой передачи</td>
<td>69,845...69,868</td>
<td>69,838</td>
</tr>
</tbody>
</table>


    <hr>

    <p>
      <iframe width="800" height="450" class="lozad" data-src="https://www.youtube.com/embed/MTozFLrOe-o?start=16" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </p>
    <p>
      <iframe width="800" height="450" class="lozad" data-src="https://www.youtube.com/embed/XPZ_QLXiJdA" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </p>
    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %} 
    {% include garantiya.html %}
  <div style="height: 100px;">&nbsp;</div>
  
</div>
