---
layout: default_info
title: 14-1701047 - Вал промежуточный КПП в сборе на КАМАЗ- ЗапКам.ру
description: Продаем Вал промежуточный КПП в сборе, на технику КАМАЗ КамАЗ-4310 (каталог 2004 г)Вал промежуточный КПП ( с консервации ) Втулка распорная промежуточного вала / ОАО КамАЗ Подшипник 12213КМ (213) на 048 вал КПП Стопор 048 вала (Б-65) D-70mm d-61mm Шестерня 3 передачи промежуточного вала Шестерня 4 передачи / ОАО КамАЗ Шестерня привода промежуточного вала (на 048 вал, 46 зубьев) / ОАО Камаз Шпонка 870823 на 210 узел,214 вал 10х17х50Вал промежуточный КПП ( с консервации ) Втулка распорная промежуточного вала / ОАО КамАЗ Подшипник 12213КМ (213) на 048 вал КПП Стопор 048 вала (Б-65) D-70mm d-61mm Шестерня 3 передачи промежуточного вала Шестерня 4 передачи / ОАО КамАЗ Шестерня привода промежуточного вала (на 048 вал, 46 зубьев) / ОАО Камаз Шпонка 870823 на 210 узел,214 вал 10х17х50, каталожный номер - 14-1701047 . Новые, с разбора, оригинал, аналоги, бу, капремонт. Цена, доставка, описание, вес, размеры.
keywords: Вал промежуточный КПП в сборе Вал промежуточный КПП ( с консервации ) Втулка распорная промежуточного вала / ОАО КамАЗ Подшипник 12213КМ (213) на 048 вал КПП Стопор 048 вала (Б-65) D-70mm d-61mm Шестерня 3 передачи промежуточного вала Шестерня 4 передачи / ОАО КамАЗ Шестерня привода промежуточного вала (на 048 вал, 46 зубьев) / ОАО Камаз Шпонка 870823 на 210 узел,214 вал 10х17х50 14-1701047 завод  с хранения, по запросу  Коробка передач  - КамАЗ-4310 (каталог 2004 г)
hero-title: Запчасти на вездеходы КамАЗ-4310, 43114, 43118, 65111
h1: Вал промежуточный КПП в сборе 
h2: 14-1701047
phone: 
phone_title: 
categories: [<a href='/kamaz-4310/index.html'>Запчасти КАМАЗ-4310</a>]
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.k4310 | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12 m-auto">
    <!-- <h3>Описание</h3> -->
    <p>

    </p>
    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %}
    {% include garantiya.html %}
  <div style="height: 80px;">&nbsp;</div>
  
</div>
