---
layout: default_info
title: Вал первичный делителя передач КПП 152.1770044  цена, фото, описание, применимость - ЗапКам.Запчасти
description: Продаем Вал первичный делителя передач КПП 152.1770044 (Коробка передач) КамАЗ-5315, КамАЗ-5320, КамАЗ-53212, КамАЗ-5410, КамАЗ-54112, КамАЗ-5511, КамАЗ-55102, КамАЗ-65115, ЗИЛ 133ГЯ, КамАЗ-6540, КамАЗ-43118, 740.31-240 (Евро 2), КамАЗ-43261 (Евро-1, 2). - с доставкой по всей России. В наличии новые, восстановленные, капремонт. Прайс-лист, модификации, каталог, описание, характеристики.
keywords: Вал первичный делителя передач КПП 152.1770044 - КамАЗ-5315, КамАЗ-5320, КамАЗ-53212, КамАЗ-5410, КамАЗ-54112, КамАЗ-5511, КамАЗ-55102, КамАЗ-65115, ЗИЛ 133ГЯ, КамАЗ-6540, КамАЗ-43118, 740.31-240 (Евро 2), КамАЗ-43261 (Евро-1, 2).
hero-title: Запчасти на вездеходы КамАЗ-4310, 43114, 43118, 65111
h1: Вал первичный делителя передач КПП 152.1770044
h2:
phone: 9272482335
phone_title: (927) 248 23-35
---

<!-- Товар ---->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.k4310 | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
    <!-- <h3>Описание</h3> -->
  
    
    <p></p>
  

    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %} 
    {% include garantiya.html %}
  <div style="height: 100px;">&nbsp;</div>
  
</div>
