---
layout: default_info
title: Вал первичный раздатки КамАЗ 43114-1802024 - купить в ЗапКам.Запчасти
description: Продаем Вал первичный в сборе 43114-1802024 раздаточной коробки на  КамАЗ-43114, КамАЗ-43118, КамАЗ-4326, КамАЗ-53228, 65111, КамАЗ-43261 (Евро-1, 2) - с доставкой по всей России. В наличии новые, восстановленные, капремонт. Прайс-лист, модификации, каталог, описание, характеристики.
keywords: Вал первичный РК (раздаточной коробки) в сборе 43114-1802024 - КамАЗ-43114, КамАЗ-43118, КамАЗ-4326, КамАЗ-53228, 65111, КамАЗ-43261 (Евро-1, 2)
hero-title: Запчасти на вездеходы КамАЗ-4310, 43114, 43118, 65111
h1: Вал первичный РК (раздаточной коробки) в сборе 43114-1802024
h2:
phone: 9272482335
phone_title: (927) 248 23-35
---

<!-- Товар -->
<div id="anc_1"></div>
{% assign page_url = page.name | replace: ".html", "" %}
{% assign product = site.data.k4310 | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_zapchasti.html product = product %}
{%- endif -%}
{%- include_relative _like_products.mhtml prod = product -%}

<div class="col-md-10 col-xs-12" style="margin: auto;">
    <!-- <h3>Описание</h3> -->
    <p>
      Первичный вал воспринимает крутящий момент от коробки передач. Установлен на двух роликовых конических подшипниках.
      Передний роликовый конический подшипник первичного вала раздаточной коробки установлен в расточке переднего торца крышки картера.
      Задний роликовый конический подшипник установлен в расточке прилива средней части картера раздаточной коробки.
    </p>
    <p><img src="/kamaz-4310/category/img/val_pervichnyi.jpg" alt="Вал первичный"></p>
    <p>
      В средней части первичного вала нарезаны шлицы, на которых установлена шестерня первичного вала. 
      Шестерня первичного вала - косозубая, находится в постоянном зацеплении с шестерней привода промежуточного вала.
      На цилиндрический поясок шестерни приварена шестерня отбора мощности.
      Осевые перемещения шестерни первичного вала ограничены с одной стороны буртиком первичного вала, 
      с другой стороны - внутренним кольцом переднего подшипника.
    </p>

    <p></p>
    <p>
      <iframe width="800" height="450" class="lozad" data-src="https://www.youtube.com/embed/HGn1CllSEkg" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </p>
    <p>
      <iframe width="800" height="450" class="lozad" data-src="https://www.youtube.com/embed/m6WCmhfBtLc" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </p>
    
    <hr>
    
    <p></p>
    <p></p>
    {% include kupite_u_nas.html %} 
    {% include garantiya.html %}
  <div style="height: 100px;">&nbsp;</div>
  
</div>
