---
layout: default_info
title: Плюсы и минусы эксплуатации КамАЗ 5490
description: Cедельный тягач КамАЗ 5490. Обзор достоинств и недостатков грузовика, опыт эксплуатации.
keywords: КамАЗ 5490 евро-5
hero-title: Запасные части для КамАЗ 5490 <span class="small1"> / 6520, 6580 </span>
h1: КамАЗ 5490. Достоинства и недостатки.
h2:
phone:
phone_title:
---


<div class="col-md-3 col-xs-12">
  <img src="/assets/img/model/kamaz_5490.jpg"/ style="max-width: 100%; padding-top: 0px;">
  <table class="table">
      <tr><td> <a href="/kamaz-5490/zapchasti.html" class="u"> Запчасти КамАЗ 5490 </a> </td></tr>
  </table>
</div>

<div class="col-md-8 col-xs-12">
  <div class="alert alert-info">
    <p>
      КамАЗ-5490 – многоцелевой седельный тягач магистрального класса, с высокой грузоподъемностью,
      повышенным комфортом, агрегатами немецкого производства.<br> 
    </p>
      <p>
        В создании участие принимали инженеры из концерна Daimler.<br>
        Прообразом КамАЗ 5490 стал Mercedes-Benz Axor, выпускающийся с 2001 года.
      </p>
  
  </div>
</div>


<div class="col-md-10 col-xs-12" style="margin: auto;">

  <p>KAMAZ-5490 (4х2), был презентован в 2011 году на выставке «КомТранс».
    Грузовик был спроектирован для сегмента междугородних и международных автомобильных перевозок, на замену серию 5460. <br>
    Серийное производство началось в 2013 году. 
    </p>

    <p> Отраслевой индекс грузовика: <b>М1840</b>. "М" – магистральный, "18" - грузоподъёмность 18 тонн, "40" – первые цифры мощности двигателя 401 л.с.
    </p>

  <p>

  Двигатели грузовика соответствуют экологическому стандарту Евро-5.
  КамАЗ 5490 спроектирован с учетом российских дорожных условий эксплуатации и
  климатических особенностей.
</p>
<p>
  Модель 5490 является головной в серии нового модельного ряда, которая к 2022 году полностью заменит машины классического модельного ряда.
</p>

<h3>Видео-обзор КамАЗ 5490</h3>
<p>
  <iframe width="560" height="315" class="lozad" data-src="https://www.youtube.com/embed/SbsjNeCke7Y" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>

<h3>Характеристики</h3>
<p>Снаряженная масса а/м, 7900кг</p>
<p>нагрузка на переднюю ось, 5300кг.</p>
<p>нагрузка на задний мост, 2600кг.</p>
<p>Нагрузка на седельно-сцепное устройство, 10550 кг.</p>
<p>Полная масса а/м, 18600кг.</p>
<p>нагрузка на переднюю ось, 7100кг.</p>
<p>нагрузка на задний мост, 11500кг.</p>
<p>Полная масса буксируемого полуприцепа, 36100кг.</p>
<p>Полная масса автопоезда, 44000кг.</p>


<h3>Дизайн и кабина.</h3>
<p>
  КамАЗ-5490 заимствовал цельнометаллическую кабину у Mercedes-Benz Axor предыдущего поколения с некоторыми упрощениями конструкции.

  Кабина имеет строгий стильный дизайн, подчеркнутый аэродинамическими обвесами.
  В кабине предусмотрен электрический привод подъема, исключающий риск опрокидывания.
  Главные достоинства кабины КамАЗ 5490 - высокая крыша и два спальных места, длиной 2 метра, шириной 70 сантиметров<div class="">
</p>
<p>
  В списке оснащения кабины есть кондиционер, электрические стеклоподъемники, дополнительные ниши. 
</p>
<p>
  <img src="/kamaz-5490/img/kabina_kamaz-5490-neo.jpg" alt="Кабина и салон КамАЗ-5490">
</p>
<p>&nbsp;</p>

<h3>Моторная гамма</h3>
<p>
  Линейка двигателей КамАЗ-5490 была представлена двумя моторами.
</p>
<p>
<a href="/kamaz-5490/dvigatel_om457la_mercedes-benz.html"> Мерседес-Бенц OM457LA</a>
рядный 6-цилиндровый дизель, экологический стандарт Евро-5. Характеризуется высокой топливной экономичностью,
динамичностью и надежностью, используется топливная аппаратура PLD и турбонаддув с промежуточным
воздушным охлаждением. Изготавливается на завод Даймлер в г. Мангейм Германии.

Рабочий объем двигателя Daimler OM-457LA составляет 12 литров,  мощность до 428 л. с.
Ресурс мотора достигает 1,2 млн километров.
</p>
<table class="table table-stripped" style="width: auto;">
<tbody><tr>
<td class=" depth2"> Модель двигателя</td>
<td class="">Mercedes-Benz OM 457 LA (Евро-5)</td>
</tr>
<tr>
  <td class="odd depth2">Макс. полезный крутящий момент, Нм (кгсм)</td>
  <td class="odd">2100 (214)</td>
</tr>
<tr>
  <td class=" depth3">при частоте вращения коленчатого вала, об/мин</td>
  <td class="">1100</td>
</tr>
<tr>
  <td class="odd depth2">Максимальная полезная мощность, кВт (л.с.)</td>
  <td class="odd">315 (428)</td>
</tr>
<tr>
  <td class=" depth3">при частоте вращения коленчатого вала, об/мин</td>
  <td class="">1900</td>
</tr>
<tr>
  <td class="odd depth2">Рабочий объем, л</td>
  <td class="odd">11,97</td>
</tr>
<tr>
  <td class=" depth2">Расположение и число цилиндров</td>
  <td class="">рядное, 6</td>
</tr>
<tr>
  <td class="odd depth2">Тип двигателя</td>
  <td class="odd">дизельный с турбонаддувом</td>
</tr>
</tbody>
</table>

<p> <img src="/kamaz-5490/img/dvigatels/new/dvigatel_MERCEDES-BENZ-OM457LA-EURO-5.jpg" alt="Двигатели КамАЗ"/> </p>
<p>
  <a href="/kamaz-5490/catalog/dvigateli_kamaz_5490.html">КамАЗ 740.75-440</a>. Четырехтактный 8-цилиндровый дизель с турбонаддувом. Рабочий объем 11,7 литра, 440 лошадиных сил,
  макс. крутящий момент составляет 2060 Н/м. Комплектовали первые автомобили, в дальнейшем отказались в пользу двигателя Mercedes.
</p>
<p> <img src="/kamaz-5490/img/dvigatels/new/dvigatel_kamaz-740.73-400.jpg" alt="Двигатели КамАЗ"/> </p>

<p>
  
</p>

<h3>Производство и основные компоненты</h3>
<p>
  КамАЗ-5490 имеет двухосную рамную конструкцию, которая оснащается двухбаллонной пневматической системой.

</p>
<p>
  Коробки передач на КамАЗ-5490 импортные: механическая ZF 16S2220 или автоматизированной ZF 12AS2131 с возможностью комплектования интардером,
  так как изготавливаемые совмемстным предприятием «ЦФ-КАМА» 
  КПП пока не подходит двигателю Daimler OM 457LA из-за электронной системы
  распределения оборотов и повышенного крутящего момента.
  </p>
<p>
  Грузовик комплектуется гипоидным мостом Daimler HL6, круиз-контролем, 
  цельнометаллокордными бескамерными шинами и комплектом аэродинамических обтекателей кабины и шасси.
</p>  
<p>
ПАО "КамАЗ" самостоятельно изготавливает раму и некоторые элементы шасси,
<br> Внешний пластиковый обвес кабины производится в России.
<br> Шины производства Нижнекамскшина.
</p>
<p>
  Из систем безопасности применяются передние и задние дисковые тормоза, электропневматические системы тормозов (EBS) 
  c функцией курсовой устойчивости (ESP) и противобуксовочной системой (ASR).
  <br>Пневматическая задняя подвеска с системой электронного управления ECAS,
  Передний противоподкатный брус.
  <br>Светотехника с технологией LED 
  (дневные ходовые огни, габаритные огни, указатели поворота).
</p>
<p>
  
Кабина сваривается в Набережных Челнах.
Основные компоненты салона доставляют из-за рубежа. <br>
Cидения Grammer выпускаются в особой экономической зоне Алабуга. Рулевое управление фирмы ZF.
</p>
<p>
Тормозная система Knorr-Bremse, собирается на совместном предприятии в Набережных Челнах. 
</p>





  <h3>Технические характеристики</h3>
  <p>
    Характеристики зависят от типа устанавливаемого двигателя:
  </p>
  <p>
    <b>6-цилиндровый турбодизель Mercedes-Benz OM 457LA </b> с электронной системой турбонаддува и промежуточным охлаждением воздуха
    мощностью 428 л.с. Комплектуется 16-ступенчатой синхронизированной АКПП ZF 16S-2221.
  </p>




  <h3>Основные комплектации КамАЗ-5490 </h3>
  <p>Существует несколько стандартных комплектаций тягача, в том числе адаптированная
    под перевозку опасных грузов.</p>
  <table class="table">
      <tr>
          <td>
            <b>5490-001-T5</b> 
          </td>
          <td>
            Магистральные перевозки. <br>428 л.с., комплектуется 12-ступенчатой механической КПП с ретардером,
            кабина - высокая, с 1 спальным местом, топливные баки 2 шт. 450л., боковое ограждение, высота седельного узла 1150мм, шины 315/70R22,5.
            <br>
            Полная масса а/м, кг ... 18600<br>
            
          </td>
      </tr>
      <tr>
        <td>
          <b>5490-014-S5</b> 
        </td>
        <td>
          Комплектация для опасных грузов. <br>
          401 л.с. Оснащается 16-ступенчат механической КПП 16 МКПП без ретардера, низкая кабина, 1 спальное место, 1 топл. бак 450л., без бокового ограждения, кнопка аварийного выкл. массы, защита проводки, проблесковые маячки, высота седельного узла 1150мм, ДЗК, шины 315/70R22,5
        </td>
    </tr>
    <tr>
        <td>
          <b>5490-009-S5</b> 
        </td>
        <td>
          Магистральные перевозки.<br>
          401 л.с., 12-ступенчатая автоматическая КПП без ретардера, кабина - высокая, 1 спальное место, 2 топл. бака по 450л., высота седельного узла 1150 мм, шины 315/70R22,5
        </td>
    </tr>
    <tr>
        <td>
          <b>5490-990010-S5</b> 
        </td>
        <td>
          Магистральные перевозки.<br>
          401 л.с., механическая КПП без ретардера, кабина - высокая, 1 спальное место, 2 топл. бака по 400л., без бокового ограждения, высота седельного узла 1150мм, шины 315/70R22,5
        </td>
    </tr>
  </table>
  <p>
    Каждая из комплектаций по умолчанию оснащена автономным отопителем кабины Eberspaecher, дополнительным утеплением кабины, предпусковым подогреватлем Адверс-14ТС, кондиционером, электропакетом.
  </p>
  <p>Межсервисный интервал составляет 80 000 км. пробега.</p>
  <p>
    <img src="/kamaz-5490/img/kamaz-5490-razmery-gabarity.jpg" alt="Габаритные размеры КамАЗ 5490">
  </p>

  
  <h3>КамАЗ-5490 НЕО </h3>
  <p>
    В 2017 году ПАО «КАМАЗ» начали продажи новой модернизированной версии седельного тягача KAMAZ-5490,
    отличающуюся лучшей эффективностью и производительностью – KAMAZ-5490 NEO. 
  </p>
  <b>Комплектации</b>
  <table class="table" style="width: auto;">
      <tr>
          <td>
            <b>5490-022-87</b> 
          </td>
          <td>
            механическая КПП.
          </td>
      </tr>
      <tr>
        <td>
          <b>5490-023-87</b> 
        </td>
        <td>
          автоматическая КПП.
        </td>
    </tr>
    </tr>
  </table>
  <p>
    Все комплектации содержат: индикатор нагрузки оси сзади, кондиционер, тахограф, водительское автокресло на пневмоподвеске, держатель запасного колеса с левой стороны рамы, подогреватель мотора перед пуском, дополнительный бак для горючего объёмом 400 л, второе (сверху) место для сна.
  </p>
<p>&nbsp;</p>
  <h3>Модификации, другие модели на компонентах Daimler</h3>

  <table class="tab le table-stripped" style="width: auto;">
    <tr><td>Седельный тягач КамАЗ-65206 с допустимой нагрузкой на седло 16,6 тонны. </td></tr>
    <tr><td>Бортовой грузовик КамАЗ-65207 грузоподъёмностью 15 т (+ прицеп до 14 тонн). </td></tr>
    <tr><td>Шасси КамАЗ-65208 6×2, задняя подъёмная ось. </td></tr>
    <tr><td>Седельный тягач КамАЗ-65209 6х2, задняя подъёмная ось. </td></tr>
    <tr><td>Самосвал <a href="kamaz-5490/kamaz-6580" title="KAMAZ-6580">КамАЗ-6580</a> 6×4. </td></tr>
    <tr><td>Самосвал КамАЗ-65801 8×4. </td></tr>
    <tr><td>Самосвал КамАЗ-65802 6×6, двигатель Mercedes-Benz OM 457LA </td></tr>
    <tr><td>Седельный тягач КамАЗ-65806 6×4. </td></tr>
  </table>
  
  <p></p>
  <p></p>
  
  {% include kupite_catalog.html %}
<div style="height: 100px;">&nbsp;</div>

<p></p>
  

<p></p>
  

<p class="text-center">
  <iframe width="800" height="450" style="max-width: 100%;" class="lozad" data-src="https://www.youtube.com/embed/SbsjNeCke7Y" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>

<p class="text-center">
  <iframe width="800" height="450" style="max-width: 100%;" class="lozad" data-src="https://www.youtube.com/embed/O-m5Ix_Zb7Q" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>



<p>&nbsp;</p>




{% include kupite_catalog.html %}
<div style="height: 100px;">&nbsp;</div>

<p></p>
  
 
  <p></p>
  

</div>