---
layout: default_info
title: OM457LA - Где находится номер двигателя Daimler c фото. 
description: Расположение заводской таблички с номером двигателя Daimler OM457LA Mercedes-Benz для КАМАЗ-5490. 
keywords: Номер двигателя КамАЗ 5490 евро-5
hero-title: Запасные части для КамАЗ 5490 <span class="small1"> / 6520, 6580 </span>
h1: Заводская табличка с номером двигателя OM457LA
h2:
phone: 9003234141
phone_title: 8(900)323-41-41
---


<div class="col-md-6 col-xs-12">
  <img src="/kamaz-5490/info/tablichka-nomer/raspolozhenie-tablichki-nomer-om457la.jpg" alt="где находится табличка двигателя OM 457 LA Daimler" style="max-width: 100%;">
  
</div>

<div class="col-md-6 col-xs-12">
  <div class="alert alert-info b">
    Заводская табличка находится на левой стороне двигателя под кнопкой пуска / выключения двигателя Start/Stop / кнопками пуска / выключения двигателя Start/Stop. Данные заводской таблички выбиты непосредственно на блок-картере двигателя. 
      
  </div>

  <p>
    Заводская табличка содержит в виде выбитых непосредственно на блок-картере двигателя номеров следующие данные. 
  </p>
</div>
<div class="col-md-12 col-xs-12">
  <hr>
</div>

<div class="col-md-6 col-xs-12">
  <img src="/kamaz-5490/info/tablichka-nomer/tablichka1.jpg" alt="вид таблички двигателя тягача OM457LA" style="max-width: 100%;">
  
</div>

<div class="col-md-6 col-xs-12">
  <p>
    Заводская табличка двигателя для дорожных автомобилей (для движения по дорогам общего пользования): 
    <br>1. Наименование изготовителя
    <br>2. Обозначение типа двигателя
    <br>3. Номер двигателя
  </p>
</div>
<div class="col-md-12 col-xs-12">
  <hr>
</div>

<div class="col-md-6 col-xs-12">
  <img src="/kamaz-5490/info/tablichka-nomer/tablichka2.jpg" alt="вид таблички двигателя вездехода OM457LA" style="max-width: 100%;">
  
</div>

<div class="col-md-6 col-xs-12">
  <p>
  Заводская табличка двигателя для внедорожных автомобилей (вездеходов):
  1. Наименование изготовителя
  2. Обозначение типа двигателя
  3. Номер допуска
  4. Номер двигателя
  </p>
</div>



<div class="col-md-10 col-xs-12" style="margin: auto;">

 <h2>
  Паспортная карточка двигателя
 </h2>
 <p>
  Карточка содержит данные о конструкции и  комплектации двигателя. При заказе запасных деталей "Мерседес-Бенц" желательно предъявить паспортную карточку двигателя или указать полный номер двигателя. 
  Рекомендуется хранить паспортную карточку двигателя вместе с Сервисной книжкой.
 </p>
  
 <p>
  Работы по переоборудованию двигателя должны быть занесены в паспортную карточку для избежания ошибок при заказе запасных частей. 
 </p>
 

  <p></p>
  <p></p>
  
  {% include kupite_catalog.html %}
<div style="height: 100px;">&nbsp;</div>

<p></p>
  

<p></p>
  

<p class="text-center">
  <iframe width="800" height="450" style="max-width: 100%;" class="lozad" data-src="https://www.youtube.com/embed/SbsjNeCke7Y" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>

<p class="text-center">
  <iframe width="800" height="450" style="max-width: 100%;" class="lozad" data-src="https://www.youtube.com/embed/O-m5Ix_Zb7Q" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>



<p>&nbsp;</p>




{% include kupite_catalog.html %}
<div style="height: 100px;">&nbsp;</div>

<p></p>
  
 
  <p></p>
  

</div>